[2022-08-22 18:22] aryairani opened #3344 "look into windows dev box access"
e.g. cloud VMs or worst-case local VMs

[2022-08-22 19:08] hojberg opened #3345 "List projects for a user (API design and GUI implementation)"
## Notes
We can stub out a tentative api to list projects, and implementing the front-end as well. the api may change but we will adapt.

[2022-08-22 19:10] hojberg opened #3346 "Project overview home (API design and implementation)"
## Notes
We can implement some temporary APIs to serve up a project readme and other details

[2022-08-22 19:12] hojberg commented on #3342
Might be worth considering how these would be represented in an API to the UI.

[2022-08-22 19:20] ceedubs commented on #3344
@aryairani do you see this being a single instance that you want running all the time, or would it be more convenient for people to be able to spin up Windows VMs as needed?

It would be easy for @stew or me to spin up the former on AWS. The latter seems more likely to be what you want, but will probably require a bit more work on our end around setting up some AWS permissions and on the user's en

[2022-08-22 20:34] ChrisPenner opened #3347 "Tab completion returns "empty" namespaces"
Part of speeding up tab-completion was removing the dependency on a fully-evaluated root branch, but that also means we have no access to deepTerms/deepTypes, which is what was being used for determining whether a namespace was actually empty or not. I probably should've caught this one earlier

The best way to solve this IMO is to add namespace metadata for the number of terms/types etc. inside i

[2022-08-22 21:38] aryairani commented on #3316
@ChrisPenner Do you have a hypothesis about what's happening in Cody's case?

[2022-08-23 01:48] ChrisPenner commented on #3316
@aryairani Yes, I worked on this one today: https://github.com/unisonweb/unison/pull/3348, should have time to polish it up tomorrow and I'll test out Cody's reproduction.

[2022-08-23 03:12] stew opened #3349 "output of dependents is confusing"
`dependents foo` gives you a mixture of global and local results with no way to distinguish them.

here is a transcript that show's what I mean:

[code]

the output I get is:

[code]

I would prefer that the `otherRootNamespace` entry be prefixed with a `.` since it is absolute not relative

[2022-08-23 03:13] stew commented on #3349
hold on, pasted the wrong stuff, need to update...

[2022-08-23 03:26] stew commented on #3349
perhaps "dependents" isn't the right target for this bug. this is something that we should also be doing in the pretty printer. and I don't know how things work to say if that means I should file a separate bug against the pretty printer or if they are both relying on the same mechanism, but I feel like all "out of namespace" names should be absolute not relative

[2022-08-23 16:22] aryairani commented on #3316
I think to directly address this issue, `merge` ought to answer Cody's question.

Chris is gonna dig more deeply into your exact scenario, if an improved message doesn't give us an answer to everything.

[2022-08-23 18:09] ChrisPenner commented on #3316
Okay, so https://github.com/unisonweb/unison/pull/3348 fixes your transcript, which is nice,
but looking into this, I think we have a few bugs (or at least unexpected behaviours) in merge.

Here are a few things I'll look into:

* The merge in this transcript _should_ just be a Fast-forward, since there was a fork, a few changes, then a merge, but it's not being detected as one 🤔
* the recursive m

[2022-08-23 18:40] ChrisPenner commented on #3316
Weird,  it seems `move.namespace lib.codec lib.codec_old` actually _overwrites_ the current causal rather than adding a new cons with the move included, which is wrong, and is making this not a FF change, which also explains why my PR fixes it, though not for the reasons I thought it would.

EDIT:
Yeah, this is a flawed behaviour of the `AllowRewritingHistory` mode of `stepMany`, I think it's much

[2022-08-23 18:41] ceedubs commented on #3273
I just noticed something related. If you run `replace foo bar` you end up with todo items within your `lib` namespace. This probably boils down to the same issue, but I thought that it would be worth explicitly calling out `replace` behavior for whomever works on this and writes test transcripts.

[2022-08-23 18:53] ceedubs commented on #3342
#3273 is also relevant to this effort.

[2022-08-23 19:05] #3334 closed, assigned to tstat

[2022-08-23 19:07] ceedubs opened #3351 "Better error message for assignment at the end of an expression"
If you accidentally end an expression/block with a variable assignment, the error message should be more helpful.

# example

Here's an example of the current behavior (a trunk build from 2022-08-23):

**scratch file**

[code]

**ucm output**

[code]

# notes

This is especially easy to encounter when you are debugging code. Sometimes I'll find myself changing the last line of an expression from:

[2022-08-23 21:19] aryairani opened #3352 "feature request: search text constants"
I guess we would need a new index of strings to term definitions, and some commands to use them. I would imagine we want full text search on Unison Share also.

[2022-08-23 21:29] aryairani commented on #3352
dup of #2413

[2022-08-23 21:29] #3352 closed, assigned to nobody

[2022-08-23 21:48] aryairani commented on #3344
@ceedubs Probably either would work, or something in between.  Like... It wouldn't have to be a server that was up all the time, and we also don't need everyone to be on Windows at once, nor one person on multiple VMs.

A fixed number of VMs would be plenty for now, and maybe forever.  We can chat more, or if it's easy to set up a few, that'd be great.  Maybe a Win 7, Win 10, Win 11?  It just need

[2022-08-23 21:49] aryairani commented on #3344
I could imagine it being nice to be able to revert the machine to a known state though, for reproducibility.  Especially if we are going to be telling people they need to install certain packages, or set certain registry settings, to get a successful run. But it's not necessary at the start.

[2022-08-24 17:57] aryairani opened #3355 "status-quo docs/writeup/diagrams about how history works, across all commands"
It is hard to explain and understand, but that's all the more reason to do it

[2022-08-24 18:08] ChrisPenner commented on #3316
Fixed in https://github.com/unisonweb/unison/pull/3348

[2022-08-24 18:08] #3316 closed, assigned to ChrisPenner

[2022-08-24 19:02] stew opened #3356 "Proposal: Change the syntax for abiliy handlers"
Motivation: Newcomers are confused by the syntax for ability handlers. Often they cannot remember the syntax because it is different than other pattern match syntaxes.

Proposal: Change the ability handler pattern matching to look just like you are pattern matching on a constructor.

We'll introduce two special constructors which one can pattern match on:

Request (method arg1 arg2) continuation c

[2022-08-24 19:16] ceedubs commented on #3356
This is a bit of a tangent, but if we are talking about changing up matching in handlers I can't help but bring the following up.

It throws me off that ability pattern matches don't support things like fallbacks that other pattern matching supports (see #2922) for an example.

Also if I have a handler for `Scratch` and a handler for `Atomic` then it seems like it should be really easy to combine

[2022-08-24 19:33] ChrisPenner opened #3357 "Add didn't complete if Author not found?"
Ran into this when testing something else:

[code]

[2022-08-24 19:50] anovstrup commented on #3356
I'm torn on this proposal. On the one hand, I think it likely _will_ make handler pattern matching easier for beginners to understand and maybe easier for everyone to _read_.  On the other, I really like the economy of the current syntax for _writing_ handlers. Maybe the old syntax could be retained, while favoring the new syntax in the pretty printer?

[This old proposal](https://github.com/uniso

[2022-08-24 20:05] pchiusano commented on #3356
Idea: `Request` pattern with one arg could be equivalent to `Request arg1 resume`. Often that's what you'd call the continuation anyway.

You could still use `Request (Counter.set n) myContinuationName` if you want to call it something else or you're doing something fancy with multiple continuations. But in the default case, the user can almost pretend like `resume` is a keyword.

[2022-08-24 20:08] pchiusano commented on #3356
Yeah, `Request` is kinda long. OTOH, `{ blah x y -> resume }` is short but somewhat awkward to type with the curly braces and the `->`

I think with my idea above about being able to optionally drop the continuation, you come out ahead on keystrokes in many cases

[2022-08-24 21:11] stew commented on #3356
I don't like the idea of making the continuation function optional and resume be some magic default, I think that's going to be confusing for learners

[2022-08-24 21:48] ChrisPenner commented on #3271
https://unisonlanguage.slack.com/archives/C03MY5TMKT6/p1661376576351379

Had some conversation in the public slack; the rough plan is:

* Undo tree and reflog are separate things
* Reflog is a linear list of (timestamp, root-namespace-hash)
  * This reflog can be used for codebase history/push metrics on share.
* Undo tree is a _tree_ of (undoID, timestamp, root-namespace-hash, parentUndoID)
  * T

[2022-08-24 23:03] aryairani commented on #3311
Just thinking about this again.  If we had a known numerator, this would work again, and possibly be helpful. We could cache the full number of dependencies with each Causal hash; both on the server and the client. The client can then easily say something like
`Synced 17 new and 6782 old entities, out of 6799.`
or
`Downloaded 6799/6799 entities (skipped 6782)` (count downloaded + skipped in the nu

[2022-08-24 23:06] hojberg commented on #3356
Some bike shedding:

I feel like `Request` isn't special enough of a constructor name to indicate to me that this is ability stuff. I don't have a specific suggestion, but its always kinda confused me.

[2022-08-24 23:06] aryairani commented on #825
can't reproduce in M4

[2022-08-24 23:06] #825 closed

[2022-08-24 23:10] aryairani commented on #677
A lot has changed since 2019; this works for me now, though I do need to update the type signature to
`program : '{IO, Exception} ()`, or infer it.

<img width="583" alt="image" src="https://user-images.githubusercontent.com/538571/186539156-33a8c4b1-b993-4cab-8d6b-ad3864350c42.png">

[2022-08-24 23:10] #677 closed

[2022-08-24 23:11] anovstrup commented on #3356
Alternative proposal (with similar motivations), riffing off the syntax Paul suggested in Slack: reduce the number of surface language constructs dedicated to ability handling, introducing a minimal surface level syntax that transforms to the current representation under the hood. This approach has the advantage that it minimizes the number of additional constructs that learners must integrate whe

[2022-08-24 23:12] aryairani commented on #458
I'm going to close this for now; we can always revisit.

[2022-08-24 23:12] #458 closed

[2022-08-24 23:18] aryairani commented on #661
`execute` is gone now; `run` accepts programs with type `'{IO, Exception} ()` in release M4, and `'{IO, Exception} a` in the upcoming release.  If you pass the wrong type of argument, it'll give an error now:
[code]

[2022-08-24 23:18] #661 closed

[2022-08-24 23:19] aryairani commented on #663
I think this doesn't happen anymore; please reopen if I'm mistaken!

[2022-08-24 23:19] #663 closed

[2022-08-24 23:24] aryairani commented on #638
Repro'd just now

[2022-08-25 01:01] stew commented on #3343
I'd propose adding the following builtins:
[code]

[2022-08-25 01:04] stew commented on #3343
We *may* want to dumb it down to just the `installHandler` builtin, which is all that would be strictly needed, and might make it more likely to be portable to windows and perhaps chez scheme, not sure

[2022-08-25 02:48] ceedubs commented on #3343
@stew those Ints can be Nats, right?

[2022-08-25 03:25] stew commented on #3343
they are Int's in the haskell because they are signed int's in the underlying C. The range of signals that are valid are defined by the C library headers you are linking against. They do vary from system to system, and could change. I think the valid range changed from 0-32 to 0-64 sometime as recently as the last couple of decades

[2022-08-25 15:02] ceedubs commented on #3356
While we are throwing ideas around: what if the `Result`/`{ x } -> x` case were added by default? 95% of the time this seems to be what you want, and it's easy to forget. You'd still be able to handle it explicitly if you need to do something fancy with multiple continuations.

[2022-08-25 15:02] pchiusano opened #3360 "Error message says "vector" instead of "list""
<img width="569" alt="image" src="https://user-images.githubusercontent.com/11074/186700731-0f8ba575-eb42-48dd-bc87-3fcd0c4ba75b.png">

That should say "elements of a list"

[2022-08-25 15:03] pchiusano commented on #3360
Look in `PrintError.hs` to fix.

[2022-08-25 15:50] ceedubs opened #3361 "(unimportant) editing an alias for a built-in adds invalid code to scratch file"
Let's say that you create an alias for a builtin term:

[code]

Now you want to load your whole namespace to a scratch file so you run `.> find` and then `edit 1-24` (where `24` is the number for the last declaration spat out by `find`).

Inside your scratch file you'll now have a line like:

[code]

This is invalid Unison code, so your scratch file won't compile.

Generally I wouldn't expect user

[2022-08-25 17:32] ceedubs opened #3362 "round-trip issue on terms with symbolic namespace segments"
A term like `Nat.==.doc`, which has a symbolic segment in its namespace (the `==` segment) doesn't properly round trip. See the following transcript.

[code]

[2022-08-25 17:46] hojberg opened #3363 "Update Profile, UI implementation. View and Update"
handle, email, avatar, bio, pronouns, website url, etc

API: https://github.com/unisonweb/unison/issues/3381

[2022-08-25 21:13] aryairani commented on #708
Is this covered by `help-topics`?

[2022-08-26 16:47] ChrisPenner commented on #3294
I haven't looked at this yet, but I'm guessing we probably just need to explicitly use the global PPE or names object for this or something, I think I did something similar when swapping `view` to be local;

I'll try to take a look at this in the coming week or two 👍🏼

Once again, thanks for providing a reproduction!

[2022-08-26 16:53] #3145 closed, assigned to nobody

[2022-08-26 17:37] ChrisPenner opened #3366 "delete.(term|type)-replacement doesn't accept a name"
This transcript didn't behave quite like I'd expect:

[code]

[code]

[code]

[code]

Even though there's both a type and term for the name `bar` I'd expect that it would find the one I asked for and delete it.

Note that this works if you do `delete.type-replacement 1` which is hash-qualified.

Here's the output:

[code]

[code]
[code]
[code]

[code]
[code]

[code]

[code]

[code]

[code]

Maybe

[2022-08-26 19:30] ChrisPenner opened #3368 "Visual Namespace Diffs (in Share)"
I think it wouldn’t be too hard to build an online PR viewer that just showed the diff between two namespaces; even without the ability to leave comments or w/e it would be better than the current process haha.
UCM could just build a link like
 [share.unison-lang.org/diff?src=@chrispenner/prs.base.thing&dest=@unison/base.main](http://share.unison-lang.org/diff?src=@chrispenner/prs.base.thing&dest=

[2022-08-26 20:08] aryairani commented on #3308
Work is currently ongoing on the `22-08-16-allow-conflicted-updates` branch

[2022-08-26 20:41] #3300 closed, assigned to dolio

[2022-08-26 21:04] hojberg commented on #3368
This is gonna be fun to jam on!

[2022-08-26 21:11] ChrisPenner commented on #3355
The most confusing thing to recognize is that currently we haven't really exposed users to the difference between `causals` and `namespaces`, so all of our commands just refer to `namespaces`.

This means that a lot of commands should conceptually have separate versions, e.g. `move.causal` would be distinct from `move.namespace`; and `delete.causal` would be distinct from `delete.namespace`.

So i

[2022-08-26 21:48] ChrisPenner commented on #3368
Yup definitely!

After a chat with @cody about it we realized it might not be quite as simple as I'd expected TBH;

there are many different types of changes users might care about, and we'll want to treat them differently, maybe with options to expand into more detail on some of them, e.g.

* We probably don't want to show a diff for changes that were auto-propagated, these sorts of changes would

[2022-08-26 21:50] ChrisPenner commented on #3368
I think for a first approach maybe we show a summary of all the namespace changes at the top, then provide simple line-level definition diffs over the terms as they appear pretty printed within the scope of their respective branches for all the adds and updates below?

Changes which came from a `propagate` would probably just show in the summary.

[2022-08-28 08:53] mardukbp commented on #3275
Running ucm from latest pre-release (August 27th 2022):

- on WezTerm with Powershell 7 as shell

![grafik](https://user-images.githubusercontent.com/1140106/187065823-287153dc-f2dc-4042-a1e6-b7bec5e657ba.png)

- on PowerShell 7

![grafik](https://user-images.githubusercontent.com/1140106/187065864-3ac53047-1438-48fc-b189-22c28b3497da.png)

- on Windows Terminal with Powershell 7 as shell

![grafi

[2022-08-29 15:25] ChrisPenner opened #3369 "Migrating from old codebase versions is broken"
I got a sqlite error when attempting this migration:

[code]

I copied the codebase which fails to migrate here:

https://github.com/ChrisPenner/unison-codebase/commit/3e8c40890f386ed3079e55065bc00480ef8b3f46

[2022-08-29 17:05] ChrisPenner opened #3370 "List of desired Unison library contributions 😄"
## How to contribute

1. Write up some awesome Unison code to solve a problem you have, or pick a contribution from the list in this issue
2. [Upload that code to Unison Share](https://www.youtube.com/watch?v=yBoC4Dryfoo)!
3. Make a pull request describing the contribution to this repository, see the heading below for details on how to do this.
4. Your contribution will be recognized and contribut

[2022-08-29 18:00] runarorama commented on #3370
See here for more ideas: https://github.com/unisonweb/contrib/discussions/1

[2022-08-30 16:36] stew opened #3373 "editing a test should add the test> prefix"
if I edit a test, it should add the `test>` prefix to the function so the test gets run after editing.

I have found that we have inadvertently turned tests into regular functions when they show up on our `todo` and we save the function without manually re-adding the `test>` prefix :(

[2022-08-30 17:21] stew commented on #3373
[code]

[code]

[2022-08-30 21:57] dolio commented on #3171
I think the erroneous output 4 in the last message was the same problem as #3166 and was fixed by #3266.

The decompiling problem is still around.

[2022-08-30 22:30] #3294 closed, assigned to ChrisPenner

[2022-08-30 22:56] #2409 closed, assigned to dolio

[2022-08-31 16:03] #3357 closed, assigned to nobody

[2022-08-31 20:21] aryairani commented on #3373
Ok we have a few things here:
1. When `edit`ing something that `IsTest`, it should be added to the scratch file as a `test>` watch.
2. I would expect that in trunk right now, the updated test would still inherit `IsTest` from its predecessor, despite not having `test>` in the scratch file. Is that not the case?
3. We _don't want_ it to inherit `IsTest` from its predecessor when it's not marked as

[2022-08-31 20:25] aryairani commented on #3373
Proposal:
For now, just do 1.)
3.) Can be a separate effort.
And we can discuss 1-5 further.

[2022-08-31 20:25] ChrisPenner opened #3376 "Referring to a named watch, then adding, triggers sqlite crash"
Referring to a named watch, then adding, triggers sqlite crash

[code]

[code]

[2022-09-01 14:18] mitchellwrosen commented on #3311
How might we compute the number of transitive dependencies of a causal?

[2022-09-01 16:27] pchiusano opened #3379 "Create testing harness for multi-node serialization"
We want to make sure a whole bunch of values round trip successfully, and also test the situation where the "sender" code cache is in a different state than the "receiver" code cache.

Suggestion: have some golden files of serialized stuff, which is checked in, make sure we can deserialize them.

Suggestion: have the golden file be generated from a Unison transcript that calls `Value.serialize`, t

[2022-09-01 16:28] pchiusano commented on #3379
@ceedubs and @stew can provide some color on this.

Having this is going to give us more confidence when merging stuff like #3377

[2022-09-01 17:03] hojberg opened #3381 "Share API: UserProfile - `GET /users/:handle`"
Update the existing UserProfile endpoint with more profile fields.

**Endpoint:**
[code]

**Response body:**
[code]

[2022-09-01 17:14] hojberg opened #3382 "Share API: UserProjects - `GET /users/:handle/projects`"
List the projects a user owns.

**Endpoint:**
[code]

**Response body:**
[code]

This seems like a lot of data for a list endpoint, but most of these will be rendered as icons or via a hover.

[2022-09-01 17:20] hojberg opened #3383 "Share API: AccountHistory - `GET /account/history`"
Add a new endpoint to get the history of an account (mostly authentication based).

**Endpoint:**
[code]

**Response body:**
[code]

This will be used to help users audit activity on their account.

[2022-09-01 17:25] aryairani commented on #3344
@ceedubs How about just setting up a Win7 VM and a Win11 VM on the VPN?

[2022-09-01 17:35] hojberg opened #3384 "Share API: Project - `GET /users/:handle/projects/:project-slug`"
2 new endpoints to get the details of a single project by user.

## Project Details

**Endpoint:**
[code]

**Response body:**
[code]

## Readme

**Endpoint:**
[code]

**Response body:**
[code]

[2022-09-01 17:41] hojberg opened #3385 "Share API: Project Fav - `PUT /users/:handle/projects/:project-slug/fav`"
Toggle the project favorite status on/off (heart icon). Requires logged in user.

**Endpoint:**
[code]

**Response body**
[code]

[2022-09-01 17:43] hojberg opened #3386 "Share API: Project Settings - `PUT /users/:handle/projects/:project-slug/settings`"
A new endpoint that accepts `ProjectSettings` to configure a project. Currently just `visibility`:

**Endpoint:**
[code]

**Request payload:**
[code]

**Response body:**
[code]

Only the owner of a project can change settings.

[2022-09-01 17:57] hojberg opened #3387 "Share API: Browsing Project Code"
Mirror the Codebrowsing APIs we use broadly but within the scope of a project:

[code]

Should also include the README lookup:

[code]

[2022-09-01 18:16] hojberg opened #3388 "Share API: Catalog - `GET /catalog`"
A new endpoint that returns a categorized catalog.

**Endpoint:**
[code]

**Request body:**
[code]

**Response body:**
[code]

Only the owner of a project can change settings.

[2022-09-01 18:45] hojberg opened #3389 "Share API: Codebase details - `GET /codebase`"
Get details of the logged in user's Codebase

**Endpoint**
[code]

**Response body:**
[code]

[2022-09-01 18:48] hojberg opened #3390 "Share API: Codebase history - `GET /codebase/history`"
Get the history of the logged in users codebase.

**Endpoint:**
[code]

**Response body:**
[code]

Used to debug sync issues and to allow the user to audit their codebase.

[2022-09-01 18:50] pchiusano commented on #3379
Ideas we discussed:

* Have a transcript that serializes as many cases we can think of, and writes results to file(s). These files are checked into version control so that we know if they ever change.
* Also do the same but with `hash` builtin, so we know if hashing code ever changes
* The serialized file should round trip - when you read the values back in, they test `Universal.==` to the origina

[2022-09-01 18:51] hojberg opened #3392 "Share API: Browsing Codebase Code"
Mirror the Codebrowsing APIs we use broadly but within the scope of the logged in users:

[code]

This is a way to browse one's own code without providing user handle information etc. All code is browsable, not just public stuff.

**Note**
This might not be needed if we're pursuing the idea that browsing codebases and projects are one and the same.

[2022-09-01 18:55] hojberg opened #3393 "Share API: Global quicksearch / autocomplete"
Extend the current `Get /search` endpoint (used for autocomplete and quick search) to support Project and Definition matches (these 2 could be separate efforts).

**Endpoint:**
[code]

**Response body:**
[code]

[2022-09-01 20:03] hojberg commented on #3338
API Tickets created after going through a couple of design iterations:

**Ready to be worked on:**
* https://github.com/unisonweb/unison/issues/3381
* https://github.com/unisonweb/unison/issues/3383
* https://github.com/unisonweb/unison/issues/3390
* https://github.com/unisonweb/unison/issues/3392
* https://github.com/unisonweb/unison/issues/3393

**Blocked by some notion of Projects existing:**
*

[2022-09-02 14:20] ceedubs opened #3394 "Should delay really return an Either?"
Currently base has `io.delay : Nat ->{IO, Exception} ()` which is based on the builtin `delay.impl : Nat ->{IO} Either Failure ()`.

Handling this potential failure can be really awkward, and I always find myself asking "what possible failures could I get here?". The only things that come to mind are async interrupts, but I'd expect those to be runtime exceptions that would need to be caught with

[2022-09-02 14:21] ceedubs commented on #3394
@dolio and @runarorama you might have thoughts on this?

[2022-09-06 15:14] mitchellwrosen commented on #2649
A question about this one.

Let's say you have the following cycle already in the codebase.

[code]

Now you pull `even` into a scratch file and give it a different type, so propagation of such an update would fail at `odd` and propagate no further:

[code]

What do we want the terminal output to be when you save this file?

Currently it would simply say:

[code]

I'm wondering if we want to prese

[2022-09-06 15:32] ChrisPenner commented on #2649
Hrmm, I'd say a good rule of thumb is that an update/propagation step probably shouldn't leave anything nameless, since having names for everything is an invariant most folks will want to hold; so that'd leave:

1. Add `odd` to the `todo` list and mention that some updates failed to propagate, maybe warning that these terms are missing names for the dependency now or something?
2. Leave some name

[2022-09-06 16:15] ChrisPenner commented on #3344
P.s. I'm happy using Parallels for now 👍🏼

[2022-09-06 16:17] dolio commented on #3394
Some of these functions do their own version of `tryEval`, essentially. Now that we have the latter, we could walk back some of them.

[2022-09-06 16:52] ceedubs opened #3395 "delete.term is slow for large codebases"
I haven't provided a sample codebase or stats to back up this claim, so feel free to push back on that. But here's my experience:

In my codebase when I call `delete.term` it takes 10+ seconds. It then presents output that looks something like this:

[code]

I can see that these name changes aren't scoped to my current namespace. It seems like with all of the recent changes to keep things scoped t

[2022-09-06 17:13] pchiusano commented on #3395
It's really the `diff.namespace` computation that's slow, I believe. You can confirm this by doing `diff.namespace` on the two reflog entries.

[2022-09-06 17:37] ceedubs opened #3396 "cd tab-completion over-eagerly grabs child namespace results"
In the following example I pull the base library to both `.pr.fixthing` and `.pr.fixthing2`. When I type `cd .pr.fixthing<TAB>` I would expect tab completion to offer `.pr.fixthing` and `.pr.fixthing2` as options. But it also offers all of the direct children of `.pr.fixthing`, which really clutters up the results. I'd expect to have to type an extra `.` to get those.
[code]

[2022-09-06 19:56] #3308 closed, assigned to mitchellwrosen

[2022-09-06 20:06] aryairani commented on #3271
#3364 implements the local/ucm move into the database
~~this ticket can be repurposed for the share version~~

[2022-09-07 13:57] pchiusano commented on #762
Randomly was looking for something else and came across this ticket. This got added at some point, you can do:

[code]

There's also `0xsabc123939a` for `Bytes` literals.

[2022-09-07 22:56] stew opened #3397 "ucm shouldn't always start in the . namespace"
When we are exiting, we should save the current namespace somewhere so that the next time UCM starts it can start in that same namespace.

Also add a command line switch which can set the initial namespace so `ucm` --namespce=.` would emulate the current behavior of always starting in the `.` namespace and `ucm --namespace=stew.share.public` would start ucm in the `.stew.share.public` namespace

[2022-09-07 23:47] stew opened #3398 "rework some IO functions"
I am proposing that we revamp the networking library as follows:

# Rename builtin functions to be more discoverable:

  In ucm, I tend to find funtions that operate on a type like socket by doing
  "view Socket" to find out what namespace `Socket` is in which would tell me
  something like "lib.base.io.Socket" then I expect "ls lib.base.io.Socket" to
  show me some functions that operate on Socke

[2022-09-08 11:21] ceedubs opened #3399 "Decompile failure with TVar"
This probably isn't a very big deal, but I accidentally captured a TVar in a `Debug.trace` call and noticed that it hits a decompile issue.

[code]

[code]

[2022-09-08 11:33] pchiusano commented on #3399
This is expected, you can’t decompile things like TVars and MVars! And it also doesn’t crash the program, which is good.

Maybe this could print out the TVar as <TVar> or some such just so you can see the rest of the expression?

[2022-09-08 12:59] ceedubs commented on #3399
@pchiusano yep I think that it would totally be fine to just print `##TVar _` for the TVar and show the rest of the expression. The `Couldn't decompile value.` printed to stdout makes it seem like we hit an unexpected decompilation bug.

[2022-09-08 15:09] ChrisPenner commented on #3340
I'm not sure that it's necessarily a Haskeline exclusive thing is it?
You've looked into this deeper than I have, but I'm seeing it on every ANSI string we print, not just haskeline output 🤔

<img width="626" alt="image" src="https://user-images.githubusercontent.com/6439644/189158765-7675db9b-5231-41d4-a90a-7fbd37b5e1db.png">

[2022-09-08 15:12] hojberg commented on #3340
@ChrisPenner Is this on M4 or trunk. I feel like I read that this bigger issue had started to happen only after we fixed the prompt rendering issue?

[2022-09-08 15:21] #3347 closed, assigned to ChrisPenner

[2022-09-08 15:37] ChrisPenner commented on #3340
I haven't checked M4, but this screen-shot was trunk (on Windows)

[2022-09-09 12:53] ceedubs opened #3402 "pretty printer is really slow with long Text"
The pretty-printer is really slow for long `Text` values. I could see the pretty-printer being slow when printing nested data structures in which it's attempting to align neatly, but it's slow even with just a flat `Text` value.

As you increase the length of the string, the slow down seems to be greater than linear. Consider the following watch expression:

[code]
On my computer here are the resu

[2022-09-09 13:44] ceedubs opened #3403 "dependencies output is way too verbose"
I'm in a project namespace that includes the distributed lib, and when I run `dependencies pure.run.impl`, it spits out a huge amount of text. The first 20 lines are this:

[code]

Lines 1 to 258 are all the `##Any` type. Lines 259 to 518 are `##Boolean`, and so on. This makes the output way too verbose to be very helpful.

I think that each type/term should only show up on a single line; just pic

[2022-09-09 13:46] aryairani commented on #3403
Oh weird.  WDYT @mitchellwrosen, does this have something to do with how stuff is pulled out of the index?

[2022-09-09 13:48] aryairani commented on #3403
Oh, it's doing a cross product between dependency references and names.

[2022-09-09 13:50] aryairani commented on #3403
We could either do
[code]
or just ignore the later names altogether.

[2022-09-09 14:02] ceedubs commented on #3403
I'd say ignore the other names for now and see if it's a feature that people care about.

[2022-09-09 14:10] hojberg commented on #3403
Could include a count of how many times it was referenced. Collapsing 258 `##Any` lines into

[code]

Is that what that number means? It seems really high for that. I might not understand fully what this is doing :D

[2022-09-09 14:22] aryairani commented on #3403
@hojberg I think it's all the various known names for `##Any`, we don't keep track of the number of times it's referenced.

[2022-09-12 14:25] hojberg opened #3407 "The `signature` field of the `getDefinition` endpoint does not respect renderWidth"
When rendering a definition in the `getDefinition` endpoint, the normal full source respects the renderWidth (and uses a default of 80 if none is provided), but the `signature` field seems to ignore it.

I looked briefly at the code and the width does appear to travel through the functions, but at some point it must be descarded.

This ends up resulting in horizontal scrolls in the UI, see: https:

[2022-09-12 14:27] hojberg commented on #3407
It might be worth considering the "summary" notion when working this ticket, since that notion is meant to replace this signature field.

[2022-09-13 00:52] stew opened #3409 "add a `type` or `typeOf` command to ucm"
sometimes I just wanna see the type, not the entire implementation of a function

[2022-09-13 12:48] ceedubs commented on #3409
Duplicate of #2801 . I've added `type` and `typeOf` as name options to that one.

[2022-09-13 12:48] #3409 closed, assigned to aryairani

[2022-09-13 18:16] ChrisPenner commented on #3341
Here's a rendering of my current thoughts

![Chris's Unison Hierarchy](https://user-images.githubusercontent.com/6439644/189979329-cae0d243-abe3-4ced-a133-54a067c8e28e.svg)

[2022-09-14 16:41] ceedubs commented on #3396
I believe that this was resolved by #3406.

[2022-09-14 16:41] #3396 closed, assigned to nobody

[2022-09-14 17:29] ceedubs commented on #3361
Simple proposal:

What if editing a builtin term/type still adds it to your scratch file but comments it out? Something like:

[code]

[2022-09-14 19:53] #3313 closed, assigned to nobody

[2022-09-14 21:12] rlmark opened #3417 "`add.run` command adds code but `ls` can't view it"
Earlier today, we used the `add.run` command to add a term to the codebase. The UCM confirmed it was successfully added as a term. However, the term did not show up when running `ls` shortly thereafter. We were able to `display` the term, and the term was successfully pushed (and rendered) to a remote namespace, so it is definitely present in the codebase, but `ls` won't reveal its location.

The

[2022-09-14 23:04] stew opened #3418 "home and end keys should work in ucm"
we had a user asking how to get their <home> and <end> keys doing expected things at the ucm prompt.

By following [this page](https://github.com/judah/haskeline/wiki/CustomKeyBindings) I was able to get these working by putting the following in my `~/.haskeline`:

[code]

This accomplishes the desired behaviour, but we should set this up for users by default.

@ChrisPenner says:

If anyone wants

[2022-09-14 23:22] stew commented on #3344
@aryairani Win7 and Win11 aren't easy options. Windows Server 2016, 2019, 2022 are

[2022-09-15 00:32] ceedubs commented on #3418
What would the appropriate `Prefs` value be? It wouldn't override the settings that I have in my `~/.haskeline` file, would it? Don't you take my `historyDuplicates: IgnoreAll` or `editMode: Vi` from me! 😛. But seriously though.

[2022-09-15 03:28] stew opened #3419 "spurious errors in the ucm shell when hovering over whitespace in vscode"
I'm using the latest vscode plugin, when I hover over whitespace at the beginning of the line, my ucm process will spout useless errors.

This is not a huge problem, these errors are ignorable. They are annoying, however.

[2022-09-15 15:50] ChrisPenner commented on #3419
I think this is just because the lsp tries to parse whitespace as a name for "hover", should be easy to fix 👍🏼

[2022-09-15 15:58] ChrisPenner opened #3421 "Time to parse a scratch file grows with size of codebase"
Using Stew's giant codebase I notice that, even in a completely empty branch, getting a slurp printout after saving a scratch file with a single definition takes about 2s; on a fresh codebase it's instant.

I suspect we're still loading the global PPE or something, but with self-contained namespaces we should probably just not do that.

[2022-09-15 16:25] #2175 closed, assigned to hojberg, ChrisPenner

[2022-09-15 19:29] hojberg opened #3422 "Add support for prompts"
UCM could allow for some really nice UX if we supported prompts. This comes in several forms:

1. A simple way for a user to confirm a question. This could be "download base into lib.base" or "Looks like you're pushing to a new location on Share. Do you want to create a new namespace there?"
2. A way to collect more detailed information from the user. This could be wizard for creating an author, p

[2022-09-15 20:47] ChrisPenner commented on #3421
I confirmed that we do indeed load the root names, and ALSO find historical names for all labeledreferences, all of which I believe is unnecessary under the new "self-contained namespaces" assumptions.

I'll look at fixing this probably after #3391  or something like it gets merged since it'll be much more noticeable at that point.

[2022-09-15 20:50] hojberg opened #3423 "UX Proposal: Remove `push.create` in favor of `push` with a confirmation"
It's very easy to use `push` when pushing a new path to Share, resulting in an error message suggesting to use `push.create` instead.

We have this approach to help avoid users making mistakes, typo-ing and accidentally pushing to a location they didn't intend.

I think it'd help with ergonomics and paving the road most threaded by prompting the user with a Y/n question when encountering a new pus

[2022-09-15 21:15] rlmark opened #3424 "UCM run output does not reflect updated dependencies"
It appears that the `run` command may be persisting state incorrectly when a function's dependencies have been updated. Thank you to @adamw for surfacing and minimizing this bug.

Restarting the UCM updates the function's behavior but debug.clear-cache does not.

This transcript contains a reproduction of the issue. You'll notice two `run test` invocations, one before and one after a merge:
[testC

[2022-09-16 12:41] ceedubs commented on #3423
I totally agree.

Once we properly support a non-interactive mode (for example when not in a tty), we won't want to prompt in that one. I'm not sure whether the right answer in that scenario is to fail or go ahead and push.

[2022-09-16 12:50] ceedubs commented on #3424
I know very little about the implementation of ucm, but here's my guess as to what's going on:

`run` has a feature in which it will let you save a scratch file and `run` a term from the recently saved scratch file without actually doing an `add` or `update`. I'm betting that the `merge` isn't invalidating the most recently saved scratch file, so the last scratch save is still overriding what's pe

[2022-09-16 12:57] adamw commented on #3424
@ceedubs In my scenario I'm running terms which are added, that is I do edit them in a scratch file, but then I do `add`, and `run test` after that.

[2022-09-16 16:36] stew opened #3425 "Strange behavior where tail of a stream is wrongly evaluated"
[code]

In the above code, the `bad` handler is evaluated, but we don't know why, there is nothing that should be forcing the tail of the stream.

[2022-09-16 16:59] #3425 closed, assigned to dolio

[2022-09-16 20:58] stew opened #3428 "UCM: view command resets latestFile"
using the `view` command In UCM resets latestFile so that the next thing you edit will always go into 'scratch.u' instead of the latest file we loaded

[2022-09-17 00:55] aryairani commented on #3340
(It was multiple things.)

[2022-09-17 00:55] #3340 closed, assigned to nobody

[2022-09-17 00:57] aryairani commented on #3417
@tstat Could you take a look at this?

[2022-09-19 18:21] #3171 closed, assigned to dolio

[2022-09-19 18:30] #3419 closed, assigned to ChrisPenner

[2022-09-19 18:58] aryairani commented on #3389
`lastSyncedAt` -> `lastPushedAt`

[2022-09-19 20:19] #2677 closed, assigned to nobody

[2022-09-19 20:19] #2678 closed, assigned to nobody

[2022-09-19 20:29] hojberg opened #3431 "The Readme field on the namespace details endpoint is always null"
It looks like we might have introduced a regression where the `readme` field on the namespace details returns `null` even when that namespace has a readme.

Ex: https://share.unison-lang.org/@unison/code/latest/namespaces/public/base/latest

Response for the namespace details endpoint:

[code]

[2022-09-19 20:30] hojberg commented on #3431
@ChrisPenner any thoughts on what might have happened.

[2022-09-19 22:04] ChrisPenner commented on #3431
Fixed in https://github.com/unisoncomputing/enlil/pull/88

[2022-09-19 22:04] #3431 closed, assigned to nobody

[2022-09-19 22:23] ChrisPenner commented on #3390
A few things;

1. What do you plan to use the codebase entry ID for?
2. What do you envision being in the title/detail?
3. What constitutes a "sync_failure"?
4. I assume we probably want the userID or userHandle of the user who did the event, which is easier to work with? (preferably not both)
5. Are there any query params for filtering or paging you'd like? I think we should page requests like th

[2022-09-19 22:34] hojberg commented on #3390
1. I don't need it right now, but was thinking there might be something down the line where you'd use the id to show details of a single entry or perhaps as a range query: "show me the longs between id a and id b". Useful in searches also. Either way, not important for right now. I mostly included it as a pseudo postgres table strawman (where I think you'd want it for sure)

2. Depends on what dat

[2022-09-20 16:15] #3428 closed, assigned to aryairani

[2022-09-20 19:39] ceedubs commented on #2630
The `run.compiled` command also returns a 0 exit code when terminated via an exception.

[2022-09-20 19:42] ceedubs commented on #2630
@ChrisPenner I'm just now noticing your previous message. Are you saying that there's not a straightforward way to change the exit code without _also_ mucking up the output that's printed to stdout (or is it stderr?)? Because I would be fine with the current output if it just returned the expected exit code.

[2022-09-20 20:38] hojberg commented on #3422
Note that a requirement is that prompts work in Transcripts.

[2022-09-20 20:40] ChrisPenner opened #3434 "Share should return fully qualified absolute names in `other names` for definitions"
Currently the 'other names' are relative to the current perspective, but it's a pain to update those names when the perspective changes in the frontend. It would be better to return absolutely qualified names, then the frontend can re-qualify them as it needs to relative to the current perspective.

This just requires re-tooling the PPE we use in the definition endpoint, but we need to be careful

[2022-09-20 20:47] ChrisPenner commented on #2630
@ceedubs  Unfortunately that message is too old for me to remember so I'll have to guess; but I think we could probably keep the same error message and change the exit code.

I've got a lot on my plate ATM, so not sure when I'll have time to come back around to this, but should be doable.

[2022-09-21 18:34] mitchellwrosen opened #3436 "UCM allows you to make a conflicted patch"
One can end up with a conflicted patch after a merge, but ucm also allows it with a normal update:

[code]

[code]

[code]

After saving this `scratch.u`, the feedback is misleading:

[code]

But the update works, creates a patch that maps the old ref to both new refs, and then reports that the patch failed to propagate:

[code]

[code]

[2022-09-21 21:01] stew opened #3437 "stale namespace dependencies output"
I have a namespace that has some external metadata dependencies. when fix the dependencies with `replace`, the output of namespace.dependencies still shows the (now fixed) dependency until you restart ucm.

The following transcript will demonstrate that the dependency is still listed after it is fixed. If you run this transcript with `--save-codebase` and then load the codebase with ucm, `namespac

[2022-09-22 15:30] runarorama opened #3440 "Numbered output of `dependents` numbers elements incorrectly"
[code]

[2022-09-22 16:01] ChrisPenner opened #3441 "Improve Share tab-completions"
We should experiment with making this faster using some form. of caching, and improving "sub-namespace" completions, similar to how `cd`'s completion works.

[2022-09-22 16:23] mitchellwrosen opened #3442 "`delete.term` doesn't complain about references from own component"
If `foo` depends on `bar`, then `delete.term bar` complains that it would leave `foo` with a nameless reference.

... unless `foo` and `bar` are in the same component, in which `ucm` happily deletes `bar` and leaves `foo` with a nameless reference.

[2022-09-22 17:28] mitchellwrosen opened #3445 "Cycle update minimegaticket"
This ticket tracks the cycle update issue, any related PRs, and outstanding work.

---

Tickets:

- https://github.com/unisonweb/unison/issues/2583
- https://github.com/unisonweb/unison/issues/2649
- https://github.com/unisonweb/unison/issues/2794

---

PRs:

- [x] Basic first draft
  - [x] #3443
  - [x] #3462
- [x] Discover new cycles formed by dependent components
  - [x] #3466
  - [x] #3473
  -

[2022-09-22 20:02] pchiusano opened #3447 "Improve migration message"
<img width="338" alt="image" src="https://user-images.githubusercontent.com/11074/191840218-db4645ff-4c6a-4753-ba05-3881f6c42930.png">

`codebase` is not capitalized, but `Namespace` `Causal`, and `Integrity` are... except for the first line, where it's not. :)

How about:

[code]

And you can just rewrite the line as you get to the next step. Telling the user about "namespace integrity" and "caus

[2022-09-22 20:15] ceedubs commented on #3436
This is distinct from #2587 but has some similarities. If anyone works on one of these it might be good to be aware of the other while working on it.

[2022-09-22 20:17] runarorama commented on #3447
Maybe squeeze in a "reticulating splines..." in there

[2022-09-23 00:21] runarorama commented on #3398
I've done

- [x] Rename builtin functions
- [x] Add a `Socket.receive` without the upper bound on the number of bytes (just passing 4096)

The general plan for the rest:

1. Add new wrapper types for sockets in different states
2. Add new wrapper operations that use those types
3. Move the existing naked Socket operations to `internal`

I've made a generic `Net` ability here:

https://share.unison

[2022-09-23 15:50] ceedubs opened #3449 "Value.serialize doesn't share references"
See [Slack discussion](https://unisonlanguage.slack.com/archives/CLG4P0GSD/p1663943844090209).

If you have N references to the same value in a data structure, then Value.serialize serializes the value N times as opposed to serializing it once and sharing the reference.

The following code exhibits this issue:

[code]

The output is `9999` which suggests to me that the number of serialized bytes i

[2022-09-23 16:37] pchiusano commented on #3449
I think this is fine / expected, but I could also see the value in doing Java-style serialization. Assuming it could be implemented with our runtime, I think it belongs as a different builtin (maybe `Value.serialize.shared`) since it has some different tradeoffs.

A Java style object stream keeps a map keyed by pointer address throughout the serialization process. If the same pointer is encountere

[2022-09-23 17:35] ChrisPenner opened #3450 "`add/update` should tab-complete names in file"
If I have a file full of definitions, I should be able to type `.> add prefix<TAB>` to complete a name in the file to add/update

[2022-09-23 17:38] ChrisPenner opened #3451 "Roundtrip failure on multi-line for-loop using `flip`"
Add this term:

[code]

[code]

The output doesn't compile, it's missing both a wrapping set of parens, and also a `let` to open the block.

[code]

[2022-09-23 23:19] StaccatoSemibreve opened #3454 "Abilities: unpossible exception"
[code]

It can be reproduced on trunk as follows:
1) `cd test`
2) `fork .base lib.base`
3) paste the following into a scratch file

[code]

[2022-09-24 02:35] runarorama opened #3455 "Fill out the TLS suite of builtins"
A number of loose ends with regard to TLS support need to be tied up. Specifically, there's not currently a way to specify the cipher suite or TLS versions.

These builtins are declared in `Builtin.hs` but have no actual implementation:

[code]

And even if they did, there are no `Cipher` or `Version` objects supplied and there's no way to construct them.

[2022-09-24 06:18] stew commented on #3454
I've not been able to reproduce this one with the current trunk, here's what I get:

[code]

[2022-09-24 06:19] stew commented on #3454
when I remove the type signature of imapOf, I get:

[code]

[2022-09-24 15:04] StaccatoSemibreve commented on #3454
huh, i reinstalled ucm (through [unison-nix](https://github.com/ceedubs/unison-nix)) when i recreated the issue and reduced it to that small testcase

i suppose unison-nix isn't actually up-to-date with trunk like i had assumed it was, and trunk errors correctly? (which is unfortunate as i was hoping it would be valid code for my usecase, but oh well)

thank you for your time, and sorry for the fa

[2022-09-24 19:51] #3454 closed, assigned to dolio

[2022-09-26 18:27] aryairani opened #3457 "publish vscode plugin w/ lsp support"
we can do the actual publishing after the release is released

[2022-09-26 19:11] #2630 closed, assigned to nobody

[2022-09-26 19:12] #2558 closed, assigned to ChrisPenner

[2022-09-26 21:58] #3447 closed, assigned to mitchellwrosen

[2022-09-27 19:27] ceedubs commented on #2025
This happened quite some time ago.

[2022-09-27 19:27] #2025 closed, assigned to nobody

[2022-09-27 19:28] ceedubs commented on #1796
I think that for the most part this is the case now. @runarorama do you think that we are in a place where this could be closed out?

[2022-09-27 19:29] ceedubs commented on #3373
I think that this is a duplicate of #1745.

[2022-09-27 19:33] ceedubs commented on #2528
@mitchellwrosen @ChrisPenner I think that the startup time story is much better now. Should this be closed out?

[2022-09-27 19:37] ceedubs commented on #1728
I think that this is resolved as of #1748.

[2022-09-27 19:37] #1728 closed, assigned to nobody

[2022-09-27 19:49] mitchellwrosen commented on #2528
I guess so, yeah - though it's kind of an illusion; we still load the whole root branch, which is slow, but we at least let you use your prompt meanwhile, and a few commands don't require the root branch. :)

[2022-09-27 19:49] runarorama commented on #1796
There are still some places that use `Either` where they should use `Exception`

[2022-09-27 19:54] ChrisPenner commented on #3457
https://marketplace.visualstudio.com/items?itemName=unison-lang.unison 😄

[2022-09-27 19:54] #3457 closed, assigned to ChrisPenner

[2022-09-27 20:28] #2528 closed, assigned to nobody

[2022-09-27 22:29] ChrisPenner commented on #2528
@mitchellwrosen I also improved the non-instant start up times by 95% by an earlier patch 😄
But yes, we should continue to iterate and knock down usages of the root branch.

[2022-09-27 22:33] mitchellwrosen commented on #2528
Oh, cool. What patch was that?

[2022-09-27 22:38] ChrisPenner commented on #2528
By earlier I mean over a month ago haha: https://github.com/unisonweb/unison/pull/3297

[2022-09-28 11:07] ceedubs commented on #811
I think that this is pretty well covered by https://www.unison-lang.org/learn/tooling/configuration/ now. I'm going to close this out, but feel free to open a new issue for anything that is missing.

[2022-09-28 11:07] #811 closed

[2022-09-28 11:14] ceedubs commented on #921
Super late to this issue, but for what it's worth you can currently accomplish this in a hacky way. Run a no-arg `find`, look at the last number in the output, then run `edit 1-56` (where 56 is the lady number).

[2022-09-28 11:22] ceedubs commented on #1001
I think that this is outdated, since we have been settled on a SQLite codebase format for a while now. I'm going to close this out, but feel free to open more targeted issues for any lingering items.

[2022-09-28 11:22] #1001 closed

[2022-09-28 12:37] ceedubs commented on #1133
Moving everything into a SQLite file might not be particularly optimized for search engines, but I think that technically we have accomplished not putting # into file names.

[2022-09-28 12:37] #1133 closed

[2022-09-29 03:23] jackie-scholl opened #3467 "Arithmetic Precedence Is Wrong"
This has been mentioned before, three years ago in a closed issue: https://github.com/unisonweb/unison/pull/896

In Unison, `1+2*3` evaluates to `9`. This is mathematically incorrect behavior :(
Haskell solves this by allowing infix operators to determine their own precedence. Most languages fix this by hardcoding precedence for the standard operators. If one were deeply opposed to the idea of ope

[2022-09-29 05:59] runarorama opened #3468 "Add precedence rules to Unison"
The fact that all binary operators associate to the left is a source of surprise for programmers (and probably bugs).

We should do something about this. Options include:

1. Hard-code some precedence rules based on the symbols in the name of the operator (like Scala does).
2. Implement user-definable precedence rules (like Haskell) does.

The latter is of course much more robust, but the former i

[2022-09-29 06:00] runarorama commented on #3467
Unison has no precedence rules for functions as of yet, so `(+)` and `(*)` behave like all other binary functions: they associate to the left.

https://www.unison-lang.org/learn/language-reference/syntactic-precedence-operators-prefix-function-application/

Unison will eventually get precedence rules (hopefully soon!). I've opened an issue to track: https://github.com/unisonweb/unison/issues/3468

[2022-09-29 06:11] runarorama commented on #3422
I'd prefer if yes/no prompts worked like numbered arguments: a kind of temporary state for the CLI. So instead of being modal, you just type "yes" as the next command, which gets interpreted as your having typed the suggested command. If you type any other command, the CLI just moves on.

But yeah, separately from that it would be nice to be able to prompt for an Author and License.

[2022-09-29 06:14] runarorama opened #3469 "Referencing rank-2 function in a Doc crashes the typer"
To reproduce:

[code]
Or

[code]

Output from UCM:

[code]

[2022-09-29 10:57] ceedubs commented on #1692
There is always room for improvement, but I think that we can say mission accomplished on this one! https://share.unison-lang.org/@stew/code/latest/namespaces/public/projects/httpclient/latest

[2022-09-29 10:57] #1692 closed, assigned to pchiusano

[2022-09-29 11:07] ceedubs commented on #1818
We now have a slightly different solution to this use case. We have tracked builtins and validateSandboxed. I'm going to close this out, and if there are remaining items we can open a more targeted issue.

[2022-09-29 11:07] #1818 closed, assigned to nobody

[2022-09-29 13:38] ceedubs commented on #3468
One thing that's super cool about Unison is that we could implement `1` for now and swap it out for `2` in the future. This is purely a syntactic construct only relevant to the parser and pretty-printer; the underlying AST is what will be stored so we don't have to worry about changing the meaning of programs.

Option `1` could potentially lead to people choosing bizarre names just to get the prec

[2022-09-29 13:42] ceedubs commented on #3468
[here](https://github.com/unisonweb/unison/pull/896#issuecomment-561076381) @atacratic brings up an interesting point about the potential downside of the pretty-printer having expert-level knowledge of the precedence rules. A simple option would be for the pretty-printer to always add parentheses for binary ops; but I don't know this might look really bad in practice. One of these days structural

[2022-09-29 13:53] ceedubs commented on #2049
Fixed by #3365

[2022-09-29 13:53] #2049 closed, assigned to dolio

[2022-09-29 15:05] runarorama commented on #3469
Smaller repro:

[code]

[2022-09-29 18:36] aryairani opened #3471 "do an audit for global names usage?"
megaticket of unaudited commands

maybe just rename the global names and see where the compiler leads us

[2022-09-30 00:40] ceedubs commented on #3471
Pretty sure that `delete.term` uses it, because it shows all of the other names afterward. And it's slow...

[2022-09-30 16:21] ceedubs opened #3474 "editing multiple definitions and dependency ordering"
Currently the order of definitions in a Scratch file can affect the compile errors that are are produced. For example if `b` depends on `a` and `a` appears below `b` in the Scratch file, you might see a misleading error message. I think that this is only the case with updating an existing `a` definition. I'm not quite sure of the specifics, but I think that it might have to do with TDNR picking up

[2022-09-30 17:01] aryairani opened #3475 "sqlite crash during update"
this transcript reproduces: [doc-update-crash2.md](https://github.com/unisonweb/unison/files/9686389/doc-update-crash2.md)

[code]

[code]

Possible connections to #3376 #3288 #3369?

[2022-09-30 19:45] ceedubs commented on #3394
@dolio would `MVar.take` and `MVar.put` fall into the same category? It's unclear to me what exceptions they might raise other than async runtime exceptions.

[2022-09-30 19:55] aryairani commented on #3475
This transcript doesn't crash if you replace `update` with `update.nopatch`

[2022-09-30 20:16] ChrisPenner opened #3477 "Record-type problems megaticket"
* [ ] #498
* [ ] #2971
* [x] #2905
* [ ] #2530
* [ ] #3478

[2022-09-30 20:18] ChrisPenner opened #3478 "Difficult to pretty-print records with accessor names"
As part of the LSP formatting: #3460 ; we would like to be able to round-trip records from their parsed representation, not only the typechecked one, but since record types aren't actually tracked as first-class "things" and are only inferred by the names that are in scope in the pretty printer, it's much more difficult to do.

We should likely support records as a first-class concept so we can do

[2022-09-30 23:12] ceedubs commented on #3360
Fixed by #3380 !

[2022-09-30 23:12] #3360 closed, assigned to nobody

[2022-10-01 00:09] StaccatoSemibreve opened #3479 "Unusual effect typechecking issue with constructors"
i recently ran into some very odd behaviour while working with types that specify their effects in their signatures, on a recently-updated (M4a) unison-nix codebase, and was advised to issue a bug report

here's a test case that seems to cause the same errors

(notably, these errors can be worked around by replacing the `(Nat -> Nat -> {e} Nat` argument in `Test` with some helper type `type Subtes

[2022-10-01 11:07] mardukbp commented on #3275
The release M4b improved things, but this issue is still not solved. @aryairani Why is it closed?

![grafik](https://user-images.githubusercontent.com/1140106/193406622-9f9ccce3-f619-4e1f-b57f-a1ccbaba255a.png)

[2022-10-03 19:40] stew opened #3480 "when I edit, the terms should be in the file in the order I specify"
when I run `edit a b c` they should show up in that order in the file. right now they show up in a seemingly random order

[2022-10-04 01:36] ceedubs commented on #3480
This is related to (and possibly in conflict with) #3474 .

[2022-10-04 13:41] ceedubs commented on #560
@aryairani is this still relevant or has the move to SQLite rendered this issue obsolete?

[2022-10-04 20:52] stew opened #3481 "tryEval, catchAll should allow other effects"
[code]

should change to

[code]

[2022-10-04 21:24] vic commented on #3481
I would love to help fixing this, would it be possible ? I believe doing this will teach me how to contribute patches to unison.

I'm guessing this is tryEval is implemented in Unison, right ? or is it a builtin ? Will try to have a look today after work.

[2022-10-05 00:53] ceedubs commented on #3481
I think that @dolio said that it was harder to make the builtin support other abilities; am I remembering that right?

If the builtin were to change, it could potentially surprise people that doing something like `handle catchAll httpCall with Http.handler` could still throw exceptions, because the `{Http}` is handled into `{IO, Exception}` _after_ the `catchAll`. At least that's what I would thin

[2022-10-05 14:11] ceedubs commented on #3276
Thanks for reporting @vitalydolgov! This is definitely something that we'd like to support. Stack seems to have gotten a bit better at ARM builds recently; I wonder if there has been any improvement for Raspberry Pi. I'm not sure when someone will have more time to look into this, but we're definitely open to tweaking the build to work on ARM/Pi!

[2022-10-05 14:18] ceedubs commented on #877
I'm going to go ahead and close this out. The developer build/release happens on every merge to `trunk`. Right now the homebrew formula only is updated for releases, but that seems like pretty reasonable behavior to me. If we want the homebrew formula to update for every merge to `trunk` then we can open a separate issue for that.

[2022-10-05 14:18] #877 closed

[2022-10-05 14:21] ceedubs commented on #844
I think that this is probably irrelevant since the codebase format change from files to SQLite. Please reopen the issue with steps to reproduce if you still see an issue.

[2022-10-05 14:21] #844 closed

[2022-10-05 14:47] ceedubs commented on #2980
This is probably a duplicate of #1015

[2022-10-05 14:50] ceedubs commented on #1109
Done! https://www.unison-lang.org/learn/tooling/transcripts/

[2022-10-05 14:50] #1109 closed

[2022-10-05 14:51] ceedubs commented on #2202
Nailed it! https://www.unison-lang.org/learn/fundamentals/abilities/

[2022-10-05 14:51] #2202 closed, assigned to rlmark

[2022-10-05 14:52] ceedubs commented on #2203
Done! https://www.unison-lang.org/learn/fundamentals/abilities/writing-abilities/

[2022-10-05 14:52] #2203 closed, assigned to rlmark

[2022-10-05 15:07] ceedubs commented on #1336
ucm pulls base into new codebases by default now. There are a couple of flags to tweak behavior, such as `--no-base`. There is almost certainly room for improvement (such as the namespace that it is pulled into), but let's create new tickets to address those as they come up.

[2022-10-05 15:09] ceedubs commented on #1309
Docs were totally overhauled a while ago, and there is special treatment `myFunction.doc`. I'm going to go ahead and close this.

[2022-10-05 15:10] ceedubs commented on #1497
Fixed by #1853

[2022-10-05 15:10] #1497 closed

[2022-10-05 15:16] ceedubs commented on #1288
I just checked with release M4b and the behavior looks pretty reasonable, so I'm going to close this out.

I had to modify the code slightly to compile with a recent UCM version:

[code]

The output:

[code]

[2022-10-05 15:16] #1288 closed

[2022-10-05 17:50] pchiusano commented on #2196
@runarorama suggested the following fix, which requires no codebase format changes.

When typechecking a file, we get a list of all the unique types. We then check the namespace for any types with the same names.

We load these types from the codebase, and hash them as structural types. We compare this structural hash to the structural hash of the type in the file. If it's the same, we use the sam

[2022-10-05 20:30] ceedubs commented on #2354
I just ran into this, and the fact that you don't get a better error message with a line number definitely makes it rough. You start hunting through your code for where you might have made a bug and it isn't obvious that what you are doing is fine and the compiler is just confused.

[2022-10-06 04:03] stew opened #3484 "I can't find this M2.Exception that my type signature is talking about"
[code]

but when I try to find M2.Exception, I don't have a good way of finding it. There IS an Exception in my local namespace:

[code]

When I run `find Exception`, it doesn't find anything in an `M2` namespace:

[code]

When I run `find.global` it *does* show me that there is a `M2` namespace in unison's share heirarchy, but it only shows me `Doc` results from there:

[code]

[2022-10-06 04:08] stew commented on #3484
In fact this is really the `Exception` which is my `lib.base`. However there is no good way to confirm this. To confirm this I had to go find a way to find some namesapce named M2 and find an Exception there, and then use a an absolute path to `names .share.unison.public.base.release.M2.Exception`

[2022-10-06 04:10] stew commented on #3484
`find.all` DOES find the local base Exception, but `find.global` and `find` (after not finding anything locally and falling back to search lib) does NOT find the local base Exception

[2022-10-07 17:29] rlmark opened #3485 "`@typecheck` fenced code block Doc elements randomly swap example code"
This issue with `Doc` elements was surfaced earlier this week. Code examples in `@typecheck` fenced codeblock elements are swapped with other code examples from `@typecheck` block elements, leading to an odd docs reading experience.

The example code chosen in the doc is wrong for `docs.to-html` and `display`. The `view` command displays the source appropriately and the source code is correct, so

[2022-10-09 21:08] jneira opened #3487 "Error trying to use vscode extension in windows 10"
Hi! I am trying to check the recent lsp support for unison in windows 10 and i am getting an alert in vscode:
[code]

My tools versions:

* extension: v0.0.6
* ucm:  release/M4b

Extension config:

[code]

I dont see any log entry in the unison output pane ot the running ucm console
I've checked i can access the ucm ui in http://127.0.0.1:51060/3tUmMJ859ufqmqBy/ui

Thanks in advance (and thanks fo

[2022-10-10 17:38] develop7 commented on #3418
You can't build this `Prefs` value programmatically though because [Haskeline's `Prefs` is not an exported module](https://github.com/judah/haskeline/blob/30aafaf7171ba1f42236eea1d69a3c60af99284d/haskeline.cabal#L68-L73) and not only [`Prefs` is not reexported](https://github.com/judah/haskeline/blob/30aafaf7171ba1f42236eea1d69a3c60af99284d/System/Console/Haskeline.hs#L62), which results in the on

[2022-10-11 14:26] dolio commented on #3481
`tryEval.impl` is a builtin, and it doesn't make sense to generalize it to arbitrary other abilities. You can think of it like temporarily switching to a new thread where runtime level exceptions are reified.

You can try to make `catchAll` more general, because it is using handlers to mediate the effects through the required just-`IO` spot. If that seems difficult/impossible for arbitrary `g`, th

[2022-10-11 15:54] ChrisPenner commented on #3418
Hrmm, yeah that's definitely regrettable.

Agreed, it does seem like we should be able to set reasonable defaults for our own application.

[2022-10-11 18:36] hojberg commented on #3407
turns out that this isn't actually the backend ignoring the width, but in fact it happens because the signature does not include the name of the function and the name is then added on the frontend, which doesn't know how to pretty print.

Not sure what the right solution to this is.

[2022-10-11 20:46] aryairani commented on #3407
maybe subtract the length of the name and the separator from the length that's supplied to the backend, and/or start looking at a front-end compatible implementation of the pretty-printer

[2022-10-11 21:09] rlmark commented on #2190
I just ran into this as a result of fielding challenges to the Exercism track workflow, +1! Now that we have scoped namespaces, it's most common for folks to work high in their namespace tree with the `lib` directory present (though, I understand this will change in the near future with `projects` work); in any case, it would be nice not to have to `cd` down the namespace tree to run tests.

[2022-10-11 21:38] dolio commented on #2354
I took another look at this.

I think I found a bug in in `instantiateL` Essentially, in the case:

    v <= forall a. T

It's supposed to proceed to:

    v <= T[a := fresh]

But the original v is getting shadowed, so instead it does:

    let v = fresh in v <= T[a := v]

When I fix this, what I get is a proper type error (instead of an internal compiler error). My question is: is it _supposed_ t

[2022-10-12 17:20] runarorama opened #3494 "Bytes.fromBase64UrlUnpadded builtin has the wrong type"
Its declared return type is `Either Text Bytes`, but it actually just returns either `Text` or `Bytes` (without the `Either`).

[code]

[2022-10-12 17:34] runarorama opened #3495 "`builtins.merge` does nothing if `builtins` has been deleted"
1. `builtins.merge`
2. `delete.namespace builtin`
3. `builtins.merge`

Nothing happens, but it says "Done."

[2022-10-12 18:19] develop7 commented on #3418
It's true in general, but IMO this particular issue is out of scope of UCM: the <kbd>Home</kbd> & <kbd>End</kbd> moving caret to the begin and end of the current line respectively is a default behavior of readline (just checked it by running `rltest.c` of `readline`s examples), and therefore haskeline should act same way.

in fact this issue is a exact duplicate of https://github.com/judah/haskeli

[2022-10-13 00:22] stew opened #3497 "delete shouldn't create new namespace dependencies"
right now when I'm upgrading a library, I typically do this:

[code]
but if I fail to upgrade all of the things or if I skip the "fix stuff" step. I'll end up having created new namespace dependencies to the lib I just deleted from this namespace.

it seems like I should have to use `.force` if I actually want to create new external dependencies, or at the very least it should warn me once I've do

[2022-10-13 03:50] mauriciofierrom commented on #2149
I'd like to work on this if it still makes sense after the introduction of fzf fuzzy-finding. I thought it might still make sense in case:

- There is a `README.doc` definition (with any capitalization). I think this would be analogous to how Unison Share shows the README and provides an overview of the namespace.
- There is a `<namespace>.doc` definition (this seems rather unlikely from what I've

[2022-10-13 15:38] #3494 closed, assigned to nobody

[2022-10-13 15:57] ChrisPenner commented on #3395
It's really weird that we show _all_ the matching global names even if none of them changed; e.g. I did a `delete.term reverse` from within `.public.ansi.trunk` and got this kinda useless output:

[code]

[2022-10-13 16:10] pchiusano opened #3499 "Can't link to higher rank function in docs"
for instance `{{ @signature{Scope.run} }}` doesn't work. It's due to the fact that our type system doesn't do impredicative instantiation.

@runarorama suggested the following "hack"

Modify the render for `Doc.Term` - if it's `Any (blah ; ())`, just show that as `blah`. Maybe use special `()` type.

Pretty-printer would also have to detect this and reverse it.

[2022-10-13 16:54] pchiusano opened #3501 "Empty codebase should pull highest matching release of base"

[2022-10-13 16:54] aryairani opened #3502 "new system for choosing compatible `base` versions for new setups"
Ideally we could release base and ucm independently, while ensuring that ucm won't hand a developer a version of `base` that requires unknown builtins.

Ideally, minimal manual work incurred when adding builtins or releasing ucm or releasing base.

[2022-10-13 16:58] pchiusano commented on #3501
close as dupe of #3502

[2022-10-13 16:58] #3501 closed, assigned to aryairani

[2022-10-13 17:01] pchiusano commented on #3481
I'm moving this over to base, since as @dolio explained, the builtins can't be generalized. But I believe functions with the signatures @stew wants can be written that use the builtins.

[2022-10-13 17:02] aryairani commented on #3502
Maybe a Set or a bloom filter or a runtime version number that represents the builtins a library and its deps require, matched against a value in ucm.  Could be special-cased to `base`, could be manually populated, or could be generic across all libraries.

A system that more directly represents the supported builtins than simple numbering seems better to me, as we may end up with multiple lineage

[2022-10-13 17:19] aryairani opened #3504 "let patches do term `Referent` -> `Referent`"
\<placeholder issue to be tracked with patches overhaul\>

[2022-10-13 20:46] aryairani commented on #2248
#3504 maybe goes here

[2022-10-13 21:00] aryairani commented on #3502
For now we can just manually release base, and manually kick off the automated ucm release.  So we should revert the download code to get an exactly matched release.

Eventually, there could be fewer updates to base than there are updates to ucm, and then we would revisit this.

[2022-10-14 02:39] runarorama opened #3506 "Empty docs display incorrectly"
[code]

[code]

Outputs:

[code]

Should output nothing at all.

[2022-10-14 09:55] nmcb commented on #3502
wild

wild-requirement : the moment the revision is released as automated base - ie. effectively decoupling `base` versioning and release with your first, one-and-only `ucm` cli on your first one-and-only physical machine -  SHOULD provide lifetime support on base to individual Unison developers

[2022-10-14 15:16] #3506 closed, assigned to nobody

[2022-10-14 16:38] mitchellwrosen opened #3509 "The empty ability has the same hash as the empty data decl"
Maybe this doesn't matter, but these have the same hash:

[code]

[2022-10-14 17:09] ChrisPenner opened #3510 "`pull` in UCM is pretty slow when there's not even any changes"
This takes ~6s to run against a LOCAL enlil; it should be instantaneous;

[code]

I think we might be running a full namespace diff even though the hashes are the same, which is unnecessary.

Maybe we can clean this up when we speed up diffing in general.

[2022-10-14 19:10] runarorama commented on #3398
These changes are now incorporated into Base

[2022-10-14 19:10] #3398 closed, assigned to runarorama

[2022-10-14 19:30] runarorama commented on #3361
The "commented out" behaviour was how this used to work, but it was changed for a reason I can't remember.

[2022-10-14 20:56] aryairani commented on #3495
This is probably because deletion now preserves history (something we need to revisit), so the second merge is a no-op. It might be the same sort of thing as https://github.com/unisonweb/base/issues/118#issuecomment-1277965082.

[2022-10-14 21:55] pchiusano commented on #3361
I'd probably just have edit put it in a comment, but view can show it as is. Seems like a quick fix if desired.

[2022-10-16 13:50] jneira commented on #3487
Hi, trying to debug the issue i've started adding log output to the estansion with https://github.com/unisonweb/vscode-unison/pull/5
The log was not terrible helpful though:

[code]

:-/

[2022-10-16 14:13] jneira commented on #3487
The ucm executable is listening on the ui port but no on the default lsp port:

[code]

[2022-10-17 15:58] #3451 closed, assigned to runarorama

[2022-10-17 16:31] runarorama opened #3513 "Composition of effectful functions typechecks when it shouldn't"
This typechecks, but shouldn't:

[code]

The argument to `IO.tryEval` requires an ability `g`, but the type of `catchAll.impl` should prohibit that.

Note that this does not typecheck:

[code]

The type of `<<` is:
[code]

[2022-10-17 23:21] ChrisPenner opened #3514 "Allow passing a base release to pull for each release."
This will allow us to pick which base version should be pulled for each individual UCM release.

[2022-10-18 13:43] hojberg opened #3515 "Definition Summaries for `/find` and `/getDefinition` endpoints"
New fields for definition summaries in the `/find` and `/getDefinition` endpoints:

- [ ] A `sourceSummary` field replaces the termType and typeDef fields of the /find endpoint,
- [ ] A `sourceSummary` field replaces the signature field of /getDefinition for terms
- [ ] A `sourceSummary` field is added to /getDefinition for types

These changes are meant to consolidate APIs and make them more unif

[2022-10-18 14:31] runarorama opened #3516 "Rank-2 function in constructor erroneously needs abilities"
[code]

Results in:

[code]

xfy on the right-hand side is highlighted red. Its type is `x ->{f} y`, so it shouldn't need any abilities unless applied.

[2022-10-18 16:21] kylegoetz opened #3517 "Documentation Error regarding "." as operator vs. part of name"
In the documentation, the rules for deciding whether "." is part of a name (dividing name segments) versus an operator say (https://www.unison-lang.org/learn/language-reference/identifiers/):

However, in the source code itself (https://github.com/unisonweb/unison/blob/trunk/unison-core/src/Unison/Name.hs)

Under the documentation, "." should be an operator. However, the source code explicitly sta

[2022-10-18 20:06] ceedubs opened #3520 "doc parsing error with (''a -> {Exception}'')"
Here's a strange one. When using double single quotes (`''`) to create fixed-width text, the following examples work fine:

- `''{Exception}''`
- `(''{Exception}'')`
- `''() -> {Exception}''`
- `''a -> {Exception}''`

But the following create errors:

- `(''() -> {Exception}'')` (`I couldn't find any definitions matching the name Exception inside the namespace`)
- `(''a -> {Exception}'')` (`I coul

[2022-10-19 13:52] meijeru commented on #3275
I am on W11 using M4a with Windows Console Host and I have no problems anymore. Did not test M4b or M4c though.

[2022-10-19 14:53] runarorama opened #3523 "`patch` fails with SQL error if the patch contains entries for hashes not in the user's codebase"
Steps to reproduce:

1. Create a fresh codebase
2. `pull unison.public.base.releases.M4 base1`
3. `pull unison.public.base.releases.M4c base2`
4. `patch base2.patch base1`

[code]

The cause is that the hash `3e3rc9d77fh8mnjgtn5cvck814p5hc1u9vrkqq5bmkp7v61q2rg2hrloob5kai0hoh990pqt1p7k83vb3f1tcp24lim09f3fn1ttud0` doesn't exist in this codebase. It exists somewhere in the history of `base.main`.

Th

[2022-10-19 15:34] runarorama commented on #3523
Note that the reproduction steps here no longer work as the patch has been fixed up in `M4c`. But I think pulling any other pair of releases should repro the issue.

[2022-10-19 20:03] aryairani commented on #2711
Done in #3375

[2022-10-19 20:03] #2711 closed, assigned to nobody

[2022-10-19 20:13] mitchellwrosen commented on #2711
Note: this comment from @pchiusano wasn't addressed by #3375

But the "make `update` able to resolve a conflicted term" is fixed. Should that idea be pulled out into a different ticket?

[2022-10-20 16:48] aryairani opened #3529 "We need a test or transcript as a spec for TNDR"

[2022-10-20 17:33] aryairani commented on #3497
I talked with Stew and we think that `delete.namespace` isn't warning about losing the last names, because it warns about losing the last name in the whole codebase, not the last name in the current/self-contained namespace.

[2022-10-20 18:18] ceedubs opened #3530 "Unexpected capture with Pattern.optional and Pattern.join"
This seems like a bug to me, but it could be my expectations being off. Consider the following code:

[code]

I would expect it to return `Some ([], "ac")`, because the inner `Pattern.join` expects an `a` followed by a `b`, so I would expect the entire `optional` segment to return an empty string.

However, it actually returns `Some (["a"], "c")`. Am I off or is the `Pattern` implementation?

@dol

[2022-10-20 18:52] pchiusano commented on #3530
Yeah, this looks like a bug. It shouldn't consume (or capture) the 'a'.

But it should actually capture the empty string, since that is what the inner `optional` consumes.

[2022-10-20 19:36] #1453 closed

[2022-10-20 22:00] pchiusano opened #3532 "Spurious ability failure"
<img width="860" alt="image" src="https://user-images.githubusercontent.com/11074/197067472-5c546aad-97f5-4e35-ba86-63329bdc7674.png">

[2022-10-20 22:12] pchiusano commented on #3532
I'm not positive this is a bug, but I was expecting it to typecheck, by setting `g` to `Atomic`.

[2022-10-21 10:30] ceedubs opened #3533 "more helpful todo ordering after constructor change"
Extracted from @pchiusano's text on #2711

This came up when @ceedubs and @stew had a conflicting edit to a type, Foo and then some further edits on top of that. The todo output included a big list of all these other conflicts, but most of the other conflicts had one of the versions of Foo as a transitive dependency.

The user wants to know: what's the thing I actually need to act on. We can tell

[2022-10-21 10:30] ceedubs commented on #2711
@mitchellwrosen Thanks a lot for working on this! I created #3533 to track the other change.

[2022-10-21 20:20] aryairani opened #3535 "surprising interactions between metadata links and self-contained namespaces?"
If you fork / move / alias a definition that has metadata on it into some namespace that doesn't have a name for that metadata, you can unwittingly create an external name dependency.

via discussion with @ceedubs

[2022-10-22 09:44] mardukbp commented on #3275
I can confirm that M4c works! Thanks a lot Unison team :)

[2022-10-22 17:53] StaccatoSemibreve opened #3536 "Weird term name behaviour"
In my library, I have a namespace `src.util` which contains various functions, and a subnamespace `src.util.ops` which contains operator aliases for many of them.

In a doc table at `readme.cheatsheets.long.standard` that lists many of the function names (all of which are organised in this way), it outputs as:

[code]

The expected behaviour is that `ops.^-` would be `getOf`, `ops.^--` would be `l

[2022-10-24 13:48] hojberg opened #3537 "Definition Summaries: JSON body are URL encoded resulting in weird rendering"
Looks like we're URL encoding the JSON body of the response of definition summaries. I can certainly decode it on the frontend, but I don't think we actually need to encode this.

<img width="484" alt="CleanShot 2022-10-24 at 09 40 10@2x" src="https://user-images.githubusercontent.com/2371/197540994-853877fc-4cdb-498a-83c7-a073dbb78b90.png">

[2022-10-24 14:22] hojberg opened #3538 "Unison Share: Can't to view definitions without a Perspective"
When viewing a codebase without a Perspective (meaning no namespace have been switched to), definitions won't render. As soon as a perspective is selected, say "public" definitions within it render fine.

This is a recent regression.

[2022-10-24 15:13] aryairani commented on #3536
I think the next steps on this are for us to document the desired behavior for the current implementation, and then make a pass to try to make sure that all relevant sites use that same behavior.

[2022-10-24 15:15] pchiusano commented on #3532
Next step: a proper bug report and minimal example.

[2022-10-24 15:22] pchiusano commented on #3395
Might be as simple as doing the diff with respect to the current namespace rather than the root.

[2022-10-24 15:24] pchiusano commented on #3265
Probably dupe of #2945

[2022-10-24 18:05] stew commented on #2270
I'm not able to reproduce this one with the current trunk, I suspect that it got fixed somewhere along the way, so I'm going to close this.

[2022-10-24 18:05] #2270 closed, assigned to nobody

[2022-10-24 18:19] aryairani commented on #3395
As a first step, maybe try to confirm the source of slowness and see if there's anything obviously and easily more  efficient that can be done? Having a more efficient diff will help in other places like https://github.com/unisonweb/unison/pull/3524

[2022-10-24 18:28] stew commented on #2243
we already had the 3 special values, I just added tests for the three values to base: https://share.unison-lang.org/@unison/code/latest/namespaces/public/base/main/;/terms/Float/isNaN

[2022-10-24 18:28] #2243 closed, assigned to nobody

[2022-10-24 18:32] stew commented on #2101
[code]

This bug seems to have gotten fixed somewhere along the way.

[2022-10-24 18:32] #2101 closed, assigned to nobody

[2022-10-24 18:42] aryairani opened #3539 "pattern checking"

[2022-10-25 11:36] ceedubs commented on #3395
Something noteworthy: doing something like `move.term foo thevoid.foo` followed by `delete.namespace thevoid` is much faster. I'm not sure whether ucm is doing all of the checks for unnamed references that it should when using move/delete.namespace, but if so it's worth checking why this approach is so much faster.

[2022-10-25 16:49] ChrisPenner commented on #1589
Current status: This PR is ready to go, but we're waiting to merge it until there's a way to refer to old-names with `.` in them so that we don't make some terms impossible to reference. @mitchellwrosen  is working on a separate PR for that, and once that's merged we can go ahead and merge this one too 👍🏼

[2022-10-25 17:14] ChrisPenner commented on #3537
I believe this is a combination of https://github.com/fizruk/http-api-data/issues/79 and the fact that the name returned in the summary is just the "pass-through" of whatever is provided.

I think this also indicates we probably have some bugs when displaying/fetching other terms which include characters that need url-decoding 🤔;

So I think we just need to  add a [`urlDecode`](https://hackage.has

[2022-10-26 14:27] pchiusano commented on #3530
@ceedubs I went ahead and added a transcript regression test as well. :)

[2022-10-26 14:53] #3530 closed, assigned to pchiusano

[2022-10-26 16:18] dolio commented on #3485
I did some investigation. Here's what seems to be happening to me.

When you write something like:

    @typecheck ```
    myDefn : T -> U
    myDefn = cases
      ...
[code]

[2022-10-26 20:03] #3538 closed, assigned to ChrisPenner

[2022-10-26 20:05] aryairani commented on #2794
@mitchellwrosen Should this ticket be closed as Done?

[2022-10-27 00:57] stew opened #3542 "mutable byte array bugs"
Attached is a transcript which crashes the runtime, I think that mutable ByteArrays are buggy:

[code]
[code]
[code]

[code]

🛑

The transcript failed due to an error in the stanza above. The error
is:

  💔💥

  I've encountered a call to builtin.bug with the following value:

    #r29dja8j9d#0
      (typeLink #6dtvam7msq)
      "ImmutableByteArray.read8: array index out of bounds"
      (##Any.Any

[2022-10-27 14:30] mitchellwrosen commented on #2794
@aryairani I don't think so, no - probably all the bullets in #3445 should be addressed.

[2022-10-27 17:14] hojberg commented on #2931
This came up during this weeks community day. It would be awesome to get it prioritized. Seems simple to do?

[2022-10-27 20:10] hojberg commented on #3537
@ChrisPenner thanks, I could definitely use a hand with this.

[2022-10-28 01:49] #3055 closed, assigned to runarorama

[2022-10-29 00:51] rlmark opened #3547 "program args are not captured when calling `!getArgs`"
It appears that calling `getArgs` returns an empty list rather than prompting for user arguments.

I've attached a transcript with reproduces the issue, [test.md](https://github.com/unisonweb/unison/files/9892547/submitExercism.md)

Ucm version: m4c
Base version:
 latest/m4c.

[2022-10-31 17:00] ChrisPenner commented on #3537
Upon further investigation it looks like the frontend is actually sending the emoji name encoded _twice_; so the server correctly decodes it _once_ and that's what's returned.

E.g. here's the literal request:
https://api.unison-lang.org/codebases/chrispenner/definitions/types/by-hash/@hanu8fnbp1shi4eonhrfpe8521c91e05gudn85q9u3543aijrl9g74k6rk210lcb3kss4nrhhidsglgo9cd5hobqd8rls92h5fb5jgg/summary?n

[2022-10-31 18:04] hojberg commented on #3537
This is an Elm issue, working on a fix right now.

[2022-10-31 18:17] hojberg commented on #3537
Fixed 🎉
Thanks @ChrisPenner

[2022-10-31 18:17] #3537 closed, assigned to hojberg, ChrisPenner

[2022-11-01 14:43] #3523 closed, assigned to tstat

[2022-11-01 18:49] ceedubs commented on #3361
Just got a chance to try this out and it worked great. Thanks @runarorama!

[2022-11-01 18:49] #3361 closed, assigned to runarorama

[2022-11-02 00:33] stew opened #3551 "reflog not showing me all the changes"
i just made a few updates, but when I run reflog, I get:

[code]

Several items are missing, the first item in the output is numbered "5"

[2022-11-02 00:43] stew commented on #3551
some observations:

If I hit down arrow a few times, then up arrow, I lose more entries off the top. like for example if I hit down arrow 3 times, no matter how many times I hit up arrow, 8 will then become my top most entry.

If I hit down arrow 30 times though, I can then hit up arrow 35 times, and my top entry in the reflog will be 1, but my second will be something like 35

[2022-11-02 01:53] ceedubs commented on #3499
This prevents me from using `@signature` for pretty much anything in [ceedubs/exists](https://share.unison-lang.org/@ceedubs/code/latest/namespaces/public/exists/main) 😬

[2022-11-02 02:06] ceedubs commented on #3499
Hmm but I notice that in the [README for Scope](https://share.unison-lang.org/@unison/code/latest/namespaces/public/base/latest/;/types/mutable/Scope) if you hover over `Scope.run` it shows you the correct type signature. How is that being rendered? Can we reuse whatever it's doing for `@signature`?

[2022-11-02 02:10] ceedubs commented on #3421
Today we talked about a violation of the "self-contained namespaces" assumption that is going to be common. If you update a type, then you will have a bunch of references to the previous (and now unnamed) type until you finish your entire `todo` list.

[2022-11-02 16:37] #3265 closed, assigned to dolio

[2022-11-02 16:44] #2945 closed, assigned to dolio

[2022-11-02 17:09] aryairani commented on #3362
Expected to be fixed in #3525

[2022-11-02 19:08] ChrisPenner commented on #3551
Bizarre, I think this is due to `less` choking on extra long lines or something, there's no conceivable reason that UCM would ever fail to print the pre-amble, e.g.

  that got us there.

[2022-11-03 11:52] aryairani opened #3556 "`todo` order is wrong"
Neither working through from the top down nor the bottom up in the `todo` list after a type refactor necessarily gives work in dependency order.

I'm omitting the specific example because it isn't public code, and we imagine it could be minimized further anyway.

The symptom was that working todo 1/112 required us to first complete todo 40/112. Working from the bottom up also didn't work, thus we

[2022-11-03 11:53] aryairani opened #3557 "`names` should take multiple args"
to allow you to look up multiple names with a single command.

[2022-11-03 11:55] aryairani opened #3558 "open ranges for numbered args"
maybe `1-` expands all numbers from 1 onwards.  It can be time consuming to manually determine the end value of the range when ucm is slow.

workaround: `debug.numberedArgs` will show all the numbered args (and thus the range) fast. @ceedubs

[2022-11-03 11:56] aryairani commented on #2128
bump

[2022-11-03 12:10] aryairani opened #3559 "type refactors"
- list the ways that a type edit can incur type and other term refactors. is it just constructor applications and pattern matches?
- do we need kind checking to move forward?
- edit-during-refactor awareness to propose changes to a term; e.g. adding an incomplete pattern to a `cases`?

[2022-11-03 14:05] pchiusano commented on #3556
For one, you want to update dependent types. Then any functions that do direct pattern matching or call the constructors directly. Then everything else in dependency order.

The `todo` output should also be [an antichain](https://en.wikipedia.org/wiki/Antichain). If entry A depends on entry B, then only B should be listed. Reasoning: there's no sense updating A until its dependencies have all been

[2022-11-03 14:53] dolio commented on #3399
So, decompilation has to produce an expression. What expression should one of these turn into?

Should something be added that is only used for information when decompiling, but wouldn't work if it somehow got into an expression to be evaluated?

[2022-11-03 14:53] pchiusano opened #3560 "`pull` and `push` with no arguments should tell where it's pushing/pulling from"
If it's grabbing these destinations from config, helpful to point this out (and bonus: link to instructions on how to update config).

[2022-11-03 15:04] ceedubs commented on #3399
I don't really know the right answer there, and I don't really know what the representation of an expression looks like in the decompiler. But I could potentially see decompiling into something like `Opaque "TVar"` or `Opaque "Socket 21"` for the purposes of pretty-printing `Debug.trace` output. But I don't know whether that actually makes sense.

It's probably not too likely that someone will cal

[2022-11-03 15:29] ceedubs commented on #3558
@aryairani ooh `debug.numberedArgs` is something that I would have used so many times had I known about it. Thanks for the pointer!

[2022-11-03 17:37] rlmark opened #3562 "Potential unison-share term/type link issue"
Capturing for discussion at our issue triage meeting (feel free to delete if this is actually not an issue / already covered by an existing issue).

Certain Unison share links appear to throw 403 permission denied errors upon interaction, however, this does not happen 100 percent of the time.

I've attached a video of the behavior to this ticket:
https://user-images.githubusercontent.com/7613551/1

[2022-11-03 18:22] ceedubs commented on #3559
Related to #2248

[2022-11-03 18:24] ceedubs commented on #3556
Related to #2248

[2022-11-03 18:30] ceedubs commented on #3547
Behavior is correct just needs a docs change. @rlmark is on it!

[2022-11-03 18:30] #3547 closed, assigned to nobody

[2022-11-03 18:33] ceedubs commented on #3539
Duplicate of #913

[2022-11-03 18:33] #3539 closed, assigned to tstat

[2022-11-03 18:43] ceedubs commented on #3536
First step is to make a minimal(ish) transcript that tries to reproduce unexpected behavior.

[2022-11-03 18:48] pchiusano commented on #3536
The logic used to be that the shortest unique suffix of the (fully qualified name with the fewest number of segments) was preferred, falling back to alphabetical if there's a tie.

So `optics.ops.&&~` would never be selected over `optics.blah`, even though `&&~` might be a unique suffix.

Apparently that got changed though?

[2022-11-03 18:49] ChrisPenner commented on #3536
For anyone interested in digging in further, here's the code which sorts names by priority:

https://github.com/unisonweb/unison/blob/trunk/parser-typechecker/src/Unison/PrettyPrintEnv/Names.hs#L31-L41

But call-sites can optionally bias towards  a given namespace prefix using `biasTo`:
https://github.com/unisonweb/unison/blob/trunk/parser-typechecker/src/Unison/PrettyPrintEnv.hs#L140-L154

In ord

[2022-11-03 18:53] ChrisPenner commented on #3536
@pchiusano

Yeah, the new behaviour would be, given these names:

* `optics.ops.^. (#123)`
* `optics.getOf (#123)`
* `src.util.getOf (#456)`

If printing (#123) the pretty printer will pick `^.`, since it has the shortest _unique_ suffix, since `gettingOf` would be ambiguous, and `optics.gettingOf` is longer than `^.`.

If we identify that this is unintuitive in a lot of cases we can switch the he

[2022-11-03 19:11] aryairani opened #3565 "try out constructing deepTypes/deepTerms more directly"
We think we can get a quick space and time win by constructing `deepTypes`/`deepTerms` more directly, without forcing the same fields in child branches.

As a follow-on effort, we could try filtering out transitive dependencies.  i.e.
- lib/text - yes
- lib/text/lib - no
I say "try" because we don't know what the full consequences of doing so will be. We should audit the use sites of `deepTypes`/`

[2022-11-03 19:16] dolio commented on #3035
I think this might no longer be relevant, because there is no more 'local recursive' floating. At least, my 'smallter test case' no longer causes an error.

[2022-11-03 19:21] pchiusano commented on #3536
Well, there was some thinking behind the old algorithm, it wasn't chosen at random. :) In fact, we used to pick the name with the shortest unique suffix, falling back to alphabetically, and that gave poor / unpredictable results and was changed. (Like you add a second `map` function to a module and all the sudden it picks the `<$>` alias since that's shorter and more unique)

The "pick the FQN wit

[2022-11-03 20:05] ChrisPenner commented on #3536
I'm not suggesting it was chosen randomly, and I'm  more than  happy to make that change; All of those decisions  were made before I started at Unison so I'm unaware of any prior discussions about that decision.

[2022-11-04 02:26] aryairani commented on #3565
Fwiw I tried this super quick version and it was worse: https://github.com/unisonweb/unison/compare/trunk...arya/fast-deep
It got to 40 gb of vm allocations before it killed itself 😬
The trunk version completed in half the time that the experimental version took to crash.

[2022-11-04 10:14] aryairani commented on #3565
This version was better than the one linked in the previous comment (finished before killing itself), but still 2x as slow as trunk: https://github.com/unisonweb/unison/compare/trunk...arya/fast-deep2
cc @pchiusano

[2022-11-04 11:51] ceedubs opened #3566 "pull command can be excessively verbose (which probably makes it slower)"
I just did a pull within a repo that @stew and I work on and after downloading entities the CLI hung for a while and then printed a massive output that ended with:

[code]

Maybe this sort of output could live in a `pull.verbose` function or something, but hundreds of thousands of line is too much output to be useful to a human. And rendering all of those lines (and the name lookups required to do

[2022-11-04 13:01] hojberg commented on #3566
I really like this suggestion from a "don't overwhelm the user" point of view. And I think its the right level of detail we want for this action.

That said, I imagine much of the slowness would still happen with the abbreviated output.

[2022-11-04 14:46] pchiusano commented on #3562
@ChrisPenner and @rlmark It looks like the bug is simply that if you click on a link (which is by hash), without a perspective, then it 403s. It is deterministic as far as I can see, it's just that sometimes you can get to the same definition by name rather than by hash (say, if you navigate to the definition via the sidebar in the code browser).

[2022-11-04 15:43] runarorama commented on #3542
I've fixed this purely on the Unison side. The issue was that the length and content `Nat`s were swapped:

[code]

The builtin `Raw.byteArrayOf` expects the length first and the contents second, so our slice and the raw array will disagree on the length. I changed this to:

[code]

Pushed a fix to `base.main`, along with corresponding doc changes and a doctest.

[2022-11-04 15:53] dolio commented on #3542
Actually, `Scope.bytearrayOf` (the primop) is using the wrong argument order relative to all the other similar functions. Fixed in the unison PR above.

[2022-11-04 16:05] runarorama commented on #3542
Drat, beat me to it :) I reopened because I was doing that exact thing.

[2022-11-04 16:12] dolio commented on #3542
Yeah, sorry. I should have mentioned I was looking at it, because byte arrays are relevant to other stuff I'm working on.

[2022-11-04 16:24] #3542 closed, assigned to dolio

[2022-11-04 16:52] runarorama opened #3568 "Add a`Byte` builtin"
It's a common source of bugs that we're using `Nat` to represent a byte. It would be great to have a `Byte` primitive with a corresponding literal syntax. Ideas for syntax:

The byte value 200 could be rendered as

* `\xc8`
* `&#200`

Or something else much nicer

[2022-11-07 15:36] ChrisPenner commented on #3562
Yup, I know what's causing it, we're having a conversation about possible fixes with the team, since it's not necessarily just a "bug", we need to come up with a good permissions model for viewing hashes.

We'll discuss it and come up with a plan at our planning meeting today.

[2022-11-07 16:17] dolio commented on #3399
Here's another issue that comes up here. I cooked up a way to 'decompile' byte arrays using a fake builtin, so that I could see what was going on with something.

But, if you put that in a watch, the decompiled value gets saved in a cache, and will bomb if you ever run the original expression again, because your correct code gets replaced with fake code from the cache. That's probably not an issue

[2022-11-07 19:54] ceedubs commented on #3514
Is this what would allow us to pull a squashed release instead of `main` when someone opens up ucm in a new codebase? If so this seems like it would dramatically improve the new user experience. It takes many minutes to pull `main`.

[2022-11-07 20:34] ChrisPenner commented on #3514
#3522

[2022-11-07 20:34] #3514 closed, assigned to ChrisPenner

[2022-11-07 20:41] stew opened #3579 "we are missing a Thread.join builtin"
It would be handy to be able to join a running thread (block until that thread exits)

[2022-11-07 23:16] pchiusano opened #3581 "add.run doesn't update reflog"
todo: transcript to reproduce

[2022-11-08 02:17] runarorama opened #3582 "Regression in links to constructor terms in docs"
Doc links like `{{ {Some} }}` used to render as (from current Share version):

![image](https://user-images.githubusercontent.com/130916/200459125-8e288a13-5f35-4d34-a5a2-b96e32bcf642.png)

Now they get rendered as (latest trunk):

![image](https://user-images.githubusercontent.com/130916/200459170-efb3f4a9-7270-4176-a950-2ecabbc83aa7.png)

So it looks like the term has been eta-expanded. I'm gues

[2022-11-08 14:50] ceedubs commented on #3394
Here's another one I'm not sure about:

[code]

I could see it potentially returning a `Left` with a `Failure` if the thread ID doesn't exist, but the docs seem to suggest that it's a noop in this case.

[2022-11-08 15:16] ceedubs commented on #3394
Here's my attempt at writing a helper function for racing two computations against each other. See the inline comments about awkwardness dealing with `Exception`.

[code]

[2022-11-08 18:42] pchiusano commented on #3485
@dolio makes sense, thanks for looking into this.

@rlmark a workaround for now, either use the `@source` element or make sure that `@typecheck` blocks have a final expression that uses any definitions introduced, for instance:

[code]

This seems possible to automate as a medium term fix. We just need some expression that can make use of the bindings but that the renderer knows to ignore. Then th

[2022-11-09 13:53] ceedubs opened #3584 "Bad handling of missing arrow in pattern matching"
The following code:

[code]

Produces this output:

[code]

The issue is that the code should have `Right _ ->` where it has `Right _`. This code definitely shouldn't compile, and it should probably be a parse error.

[2022-11-09 15:11] ceedubs commented on #3584
Adding a `do` to the front of the watch expression sheds a bit of light on what this is compiling into:

[code]

[code]

[2022-11-09 16:41] pchiusano opened #3585 "Have a flag to disable auto scratch file load (to support Repl.it)"

[2022-11-09 17:53] ceedubs opened #3588 "ucm version string can be misleading"
`ucm --version` produces output like `ucm version: release/M4b (built on 2022-09-28)`. This version string is often misleading, as it usually seems to point to an older release/date.

I _think_ that what's happening is we are using template haskell to generate a version, and this isn't getting generated again until a `clean` happens.

[2022-11-10 07:08] toastal opened #3590 "Unison Share requires a Microsoft GitHub account"
I don't think it's acceptable to tie the service's identity and by proxy any contributions with an account with a closed-source, proprietary service. This also leads to vendor lock-in that may come back to bite the project.

To respect the freedom and privacy of users, I recommend opening this up to other, preferably decentralized, services for identity.

[2022-11-10 13:24] mitchellwrosen opened #3593 "transcript failures are hard to find in CI"
Example run: https://github.com/unisonweb/unison/actions/runs/3436766707/jobs/5730680695

At the bottom I see three tests have failed:

[code]

but the output of the failing transcripts is somewhat hard to find because the whole suite is so verbose. Ctrl+f actually does work, but it's a bit laggy. I think perhaps the test suite should only produce output relevant to someone looking through it for

[2022-11-10 13:48] mitchellwrosen commented on #3590
Indeed! We intend to open this up to more identity providers eventually.

[2022-11-10 15:28] pchiusano opened #3596 "help for view should mention glob pattern syntax."
Minor thing.

Also the `help` for `view` should mention glob pattern syntax.

[2022-11-10 16:56] ChrisPenner opened #3597 "Structured benchmarking/performance output from transcript runs"
* There should be some way to run a transcript on an existing codebase and acquire any relevant statistics about the run, e.g. memory usage, allocations, run-time, cpu usage, etc.
* The data must be output in a structured format that's easy to consume/query (e.g. JSON, csv)

[2022-11-10 16:58] ChrisPenner opened #3598 "Track output of performance transcripts"
* We should upload performance data from CI runs to a central storage so we can compare runs against each other
* It'd be nice, but not MVP to be able to query and see changes to performance over time.

[2022-11-10 17:00] ChrisPenner opened #3600 "Add Performance comparison to PRs"
PR CI runs should have a bot append a performance breakdown to the PR conversation. Compare the branch against it's PR base.

[2022-11-10 17:56] ChrisPenner commented on #3596
Can you clarify how you'd expect the behaviour to work with an example? `find` already does a fuzzy search, and globs are resolved to specific namespaces so I'm not sure they make sense on a search 🤔

[2022-11-14 18:10] pchiusano opened #3603 "Universal.compare on lists should probably be lexicographic"
Right now `Universal.compare [1,2,3] [3]` returns `+1`, since the `[3]` list is shorter.

In general, I'd like `Universal.compare` to be a simple structural comparison done lexicographically.

Question: do we think it's okay to just change this behavior now? Or should we introduce a new builtin with the new behavior?

[2022-11-14 18:42] runarorama commented on #3603
Seems OK to change it as the current behavior is probably not very useful.

[2022-11-14 18:56] ceedubs opened #3604 "serialization: efficient hash representation"
# problem

I believe that currently we store a full 512 bit type hash for each value that is serialized. When serializing large data structures with lots of repeated types, this could cause quite a bit of bloat, so we might want to find a more efficient way to serialize.

# counterargument

One could argue that we shouldn't make our serialized form more complicated and that you should just run the

[2022-11-14 19:00] pchiusano commented on #3604
Rather than a table up front, you could just have it be built up incrementally on encode/decode, with a way in to format to reference a previously encountered `Reference`.

[2022-11-14 19:29] #3562 closed, assigned to ChrisPenner

[2022-11-15 19:42] aryairani commented on #3598
If we have some private collection of `(transcript, codebase)` mappings where transcript determines codebase, then `(transcript name, (transcript,codebase) hash, unison commit)` would be a good key to look up a performance result by.

[2022-11-15 19:43] pchiusano opened #3608 "Implement "give back as needed" version of `Pattern.many`"
Right now in `join [many anyChar, literal "hi", many anyChar]` the first `many anyChar` consumes the whole  text, leaving an `eof` for the `literal "hi"`, which fails.

The version that "gives back as needed" might be either a separate builtin, since it's less efficient:

[code]

Or we could just change the behavior of `many`.

A "reluctant" modifier would be good too, but is probably a separate i

[2022-11-15 22:58] ceedubs opened #3609 "Text.contains"
We should have a function like that returns whether a `needle` is contained in a `haystack`.

[code]

I created this issue in the `unison` repo because I suspect that we'll want this as a builtin, but it could potentially be written in Unison and added to `base` without a builtin.

I attempted to implement `Text.contains` via `Pattern`, but I don't believe that there's a good way to do it.

[2022-11-16 04:12] hojberg commented on #3609
Fwiw my textExtra library includes a not fancy implementation of this

[2022-11-17 00:12] stew opened #3614 "Make parallel processing the default"
We should make ucm multi-threaded by default, such that running `ucm` is the same as running `ucm +RTS -N -qn2 -RTS`

[2022-11-17 16:22] ceedubs opened #3615 "structural types: don't allow multiple constructors of the same type"
This is relevant to both structural types and structural abilities.

If two constructors have the same type signature then either their name or ordering is going to be important, so the type that contains them really isn't _structural_ in nature.

Consider the following example, where two people have defined a structural logging ability but have put the constructors in the opposite order:

[code]

[2022-11-17 19:06] hojberg commented on #3565
YAY its done!

[2022-11-17 19:06] #3565 closed, assigned to tstat

[2022-11-17 19:06] pchiusano commented on #3582
@runarorama we assigned this to you during triage, but basically, solution is that doc renderer can do eta reduction inside of term links.

[2022-11-17 19:14] hojberg opened #3616 "Migration code and how it relates to older than 1 version ago of UCMs"
One option is to directly support older UCMs (people can migrate from v1 to v5 by downloading individual UCMs that are for those versions).

Next step is to figure what to do here.

[2022-11-17 19:43] hojberg commented on #3603
Yay we fixed it!

[2022-11-17 19:43] #3603 closed, assigned to dolio

[2022-11-17 19:52] hojberg commented on #3588
Maybe this is only for trunk builds?

[2022-11-17 19:53] hojberg commented on #3585
We did it!

[2022-11-17 19:53] #3585 closed, assigned to ChrisPenner

[2022-11-17 19:55] hojberg commented on #3581
It's fixed yay!

[2022-11-17 19:55] #3581 closed, assigned to pchiusano

[2022-11-17 19:57] hojberg commented on #3579
The thinking is that this should be part of base in library code instead of a builtin.

[2022-11-17 19:57] #3579 closed, assigned to nobody

[2022-11-17 20:00] hojberg commented on #3566
There's a `pull.silent` command as a workaround for now.

[2022-11-17 20:10] ceedubs commented on #3579
A bit of further clarification based on my (potentially wrong) understanding:

The Haskell runtime doesn't provide this sort of primitive; threads are independent and don't form a hierarchy. So this is not something that our current runtime could support.

If you want this sort of behavior you will need to need to do something (probably with an `MVar`) at the site where the thread is being forked.

[2022-11-17 21:44] ceedubs opened #3617 "ui command should open in current namespace"
If I'm in my `ceedubs.public.exists.main` namespace and I run the `ui` command, it seems like my perspective should default to `ceedubs.public.exists.main`. Or the dropdown for it should at least be expanded.

[2022-11-17 21:47] hojberg commented on #2150
Closing for now.

[2022-11-17 21:47] #2150 closed, assigned to hojberg

[2022-11-17 22:10] ChrisPenner commented on #3585
I added it here: https://github.com/unisonweb/unison/pull/3602

[2022-11-18 09:31] atacratic commented on #3615
Are we sure about this?

It seems like this would also be an argument against passing around tuples like `(Integer, Integer)`, but people do do that.

It has the whiff of a bit of an arbitrary exception to me.

Wouldn't it stop a complex number type being structural?  Are we sure we would want to stop that?

[Perhaps an alternative approach would be, when pulling a structural type into the codebas

[2022-11-18 15:29] ceedubs commented on #3615
Nope! Thanks for weighing in.

Could you expand upon what you mean by that a bit? `(Integer, Integer)` showing up in a type signature probably isn't as type-safe as a custom type, but I don't think that it's nearly as problematic as the example I gave above.

Hmm that would probably look something like this, right?

[code]

I actually think that my previous description _doesn't_ cover the case bec

[2022-11-18 15:52] ceedubs opened #3622 "discrepancy between getTempDirectory and createTempDirectory results"
`getTempDirectory.impl` returns a trailing slash, but `createTempDirectory.impl` does not.

[code]

[code]

This is troublesome, because if you do something like `FilePath (toText !getTempDirectory ++ "foo")` then you will be working in the `foo` subdirectory but if you swap `!getTempDirectory` out for `createTempDirectory "testing"` then you will be referring to a non-existent directory like `/tm

[2022-11-18 18:43] atacratic commented on #3615
Good point that there's a good case for complex numbers not being structural.  But it's also sad, because it's exactly the kind of common interchange type where you *do* want to promote interoperability between libraries that have been written independently.  So if we can't handle that case, are structural types really worth it?  Or do they just cover a narrow set of cases of very simple parametri

[2022-11-18 23:08] rlmark opened #3625 "Ambiguous names in case statements cause "duplicate rename" error"
If you accidentally give two variables the same name in a case statement, like:

[code]
The UCM will indicate that the file typechecks, and offers to save the term to the codebase, but a statement will appear in the console:
[code]
Expressions after the duplicate name will not be evaluated despite the file seeming to typecheck. A transcript replicating the behavior is attached. Note that the trans

[2022-11-19 00:54] #3596 closed, assigned to pchiusano

[2022-11-21 14:57] ceedubs commented on #3622
Here is an implementation of the helper that I suggested. I plan on submitting some proposals for base soon and I'll try to remember to include it:

[code]

[2022-11-21 19:17] runarorama opened #3627 "Virtual semicolon introduced in long pattern lists"
In someting like

[code]

If `x` and `y` are long enough to reach the end of the line, the pretty-printer adds a soft break after the `,`. This will cause a virtual semicolon to be introduced by the lexer and the pattern fails to parse.

[2022-11-21 19:54] #3627 closed, assigned to runarorama

[2022-11-21 22:15] #3536 closed, assigned to ChrisPenner

[2022-11-21 23:19] #3614 closed, assigned to tstat

[2022-11-22 16:39] ceedubs commented on #3609
I realized that it's possible to (ab)use `Pattern` to implement `Text.contains` in a funky way:

[code]

I have no intuition for the performance of it, and I haven't benchmarked it, though I'm sure that a builtin could perform better.

[2022-11-22 22:48] aryairani opened #3635 "per-project reflog in UCM"

[2022-11-22 23:08] #3582 closed, assigned to runarorama

[2022-11-23 18:11] ChrisPenner opened #3636 "Need to find a more efficient way to handle names on huge codebases"
The current strategy of "load _all_ names and then pretty print from that, uses waaaay too much memory and is infeasible on Share.

One feasible solution is to make pretty-printing monadic and to only load the names necessary to make a pretty-printer decision.

E.g. "I want  to pretty print #abc", we can write a query that uses the sqlite names index to find all names for #abc in the current names

[2022-11-24 01:21] pchiusano commented on #3636
It's pretty easy to get the list of dependencies for a term up front and then use that to build a pretty print environment. As in, the database lookups don't literally need to be interleaved with the pretty printing.

[2022-11-27 16:08] aryairani commented on #2699
@ChrisPenner Is there an easy fix in the pretty-printer or in PPE construction for this?

[2022-11-28 15:24] ChrisPenner commented on #2699
@aryairani There's no simple one-line change AFAICT, we'd need to keep track of all the in-scope locals while pretty-printing in order to do it, then would probably be easiest to just add an argument to the pretty printer of local vars.

Definitely fix-able, but not a super quick win.

Let's look at this in the next triage meeting maybe, if it's high enough priority I could take a look at it 😄

[2022-11-28 16:36] mitchellwrosen opened #3638 "Implement a way to create a patch from a namespace diff"
There's an issue with the auto-generated patch that `update` appends to, for a library author who is trying to distribute the patch to their users as a semi-automatic way of upgrading code (or at the very least becoming aware of what types/functions have been replaced, for whatever reason).

Especially after #3575 lands, which makes patches applied in namespace `X` not touch any definitions in `X.

[2022-11-28 18:55] ChrisPenner commented on #3397
@stew  is the provided option good enough for now or should we still investigate the "keep previous path" line of work?

[2022-11-28 19:42] #3273 closed, assigned to mitchellwrosen

[2022-11-28 20:45] #3597 closed, assigned to tstat

[2022-11-29 01:20] ChrisPenner opened #3639 "Parser Annotation Errors megaticket"
There are several subtle parser bugs which end up with ABT nodes that either have incorrect annotations, or have an annotation which does not correctly span the ranges of the nodes they contain.

This has been largely ignored, since many of these spans are "close enough" for error messages, or because the spans simply weren't used for anything until now, but I need them to be correct for the LSP t

[2022-11-29 17:46] pchiusano commented on #3283
@dolio I think next step is you come up with some proposed builtins signatures for this.

[2022-11-29 19:19] pchiusano opened #3641 "`todo` should ignore things to do in `lib` directory?"
I think yes: you can always `cd lib` if you specifically want to see whether your dependencies are curret wrt a patch.
[code]

[2022-11-30 15:58] kylegoetz opened #3643 "Unison Share `pull user/project` parses as loose code, ignores the `/project`, tries to pull all of `user`, requiring auth"
If something is a public package (Unison docs say the default `push` is to a public repo), someone should not have to authenticate to `pull` it. Of the languages I'm familiar with (Python, JS/TS, Java, Kotlin), no auth is necessary to read public packages.

[2022-11-30 16:05] kylegoetz commented on #3643
Is there any interest in a PR for this? Looks like in Sync.hs

[code]

probably should take whatever the codebase's equivalent of `HttpClient | AuthenticatedHttpClient` and then have a `PullError` that is `PullErrorAuthRequired` or something if there's an attempt to pull a non-public lib.

I'm not familiar enough with the codebase to know more off the top of my head, but I do like this language en

[2022-11-30 16:15] ceedubs commented on #3643
@kylegoetz authentication shouldn't be required to pull a public library. Are you seeing otherwise? I just tried to reproduce an issue and was unable to.

[2022-11-30 17:50] kylegoetz commented on #3643
@ceedubs  `pull hojberg/html` throws up the GitHub auth page in my browser, and if I decline the CLI says "Aborted"

I assume anything listed in unison share when I'm not logged in is public, and that was just a random package i picked to test this on after someone on Reddit criticized Unison for not allowing you to download from Share without signing up for GitHub.

[2022-11-30 18:04] pchiusano commented on #3643
@kylegoetz that's a bad error message, sorry about that - the command is `pull hojberg.public.html.latest` (or `pull username.public.projectname.releases.releaseName`) and it doesn't require authenticating.

<img width="893" alt="image" src="https://user-images.githubusercontent.com/11074/204873784-93a131f6-08cd-4b54-8cd4-895059a3763b.png">

You'll also be shown the right pull syntax if you click

[2022-11-30 23:32] rlmark opened #3648 "`pull` command "succeeds" when pulling from a namespace that does not exist"
Currently when you `pull` a library that doesn't exist on share, the UCM will "succeed" by creating a namespace with zero entities.

[code]

This might be ultimately desirable but this came up because of our Exercism track integration so it does have some interesting downstream effects. We were pulling something that had been deleted but silently failing to setup the testing environment.