[2022-01-20 19:59] #2823 closed, assigned to dolio

[2022-01-21 16:18] ChrisPenner opened #2825 "Propagation/aliases cause definitions to be saved with the wrong value."
Here's a transcript which shows the issue;

    # Aliasing takes priority over provided definition

[code]

[code]

[code]

[code]

    We see that `y` ends up as an alias for the new value of `x`, i.e. `y = 2`,
    even though we explicitly said `y = 1`!

    Note how `update` isn't idempotent, it ping-pongs back and forth between aliases:

[code]

---

Here's the transcript output:

    # Aliasi

[2022-01-21 17:12] rlmark commented on #2506
This is supported in Docs!

[2022-01-21 17:12] #2506 closed, assigned to nobody

[2022-01-21 17:17] rlmark opened #2826 "Transcripts don't support fenced codeblocks in Docs"
Because the triple backtick syntax is used to open transcript stanzas AND fenced codeblocks in the docs, any fenced codeblock within a Doc snippet is interpreted as the closure of a stanza.

A workaround for the curious:
You can write your unison code in a separate text file, add a `load` statement in the ```ucm block, and then add it to the codebase.

[2022-01-21 17:39] #2796 closed, assigned to runarorama

[2022-01-21 18:27] ceedubs commented on #2741
I just checked whether #2809 resolves this and it does not. And there is an unnecessary set of  parens that I don't think were there before.

[code]

[2022-01-21 21:45] #2778 closed, assigned to dolio

[2022-01-21 22:00] #2818 closed, assigned to nobody

[2022-01-22 00:17] ceedubs commented on #2825
@ChrisPenner is this ultimately the same issue as #2587?

[2022-01-22 00:24] rlmark opened #2829 "Unknown Existential Variable mysterious error message"
This is probably a pretty unlikely corner case for others to hit but it's a bit of a puzzle. If you try to do a doc link ''{{doc doc [doc]({a link to a doc})'' and that doc term *happens* to be called `run` 😬 you'll get an error about

[code]

[unknownExistentialVariable.md](https://github.com/unisonweb/unison/files/7917261/unknownExistentialVariable.md)

[2022-01-22 00:35] rlmark commented on #2642
Possibly related: https://github.com/unisonweb/unison/issues/2829 linking to UCM commands in Docs may also be causing tdnr issues.

[2022-01-24 16:39] aryairani opened #2831 "delete v1 hashes from migrated codebase after all 😬"

[2022-01-24 22:15] stew opened #2834 "TLS runtime errors are faiing transcripts"
There are multiple cascading errors in the tls.md transcript which are causing builds to fail.

The certificate that it is using to test self-signed certificates in the transcript is expired. There are multiple bugs in the error handling of the loading of these certs which is causing the runtime to segfault when there is an error loading a cert

[2022-01-24 22:19] #518 closed

[2022-01-25 02:49] stew commented on #2834
I have verified all sorts of ways that this is happening in these tests when the server calls `Tls.handshake`. The client stuff still works fine. I feel like people having this bug hold them up should consider removing tls.md until I figure out what is going on.

[2022-01-25 02:50] stew commented on #2834
This branch has some valid fixes, but not enough to make the server side stuff work. I've verified that the client side Tls stuff seems to be fine. I have verified making https calls and such from unison code

[2022-01-25 05:42] rlmark opened #2838 "Error message references old `namespace` scoping functionality"
When the user defines an invalid top-level term, the error message should give correct info about what is permissible.

https://github.com/unisonweb/unison/blob/6cbd464c0eae2bd3d0a355e09ffef0a409762086/parser-typechecker/src/Unison/PrintError.hs#L1265

Of course, if we want to bring back the namespace functionality, disregard! 😄

[2022-01-25 14:28] aryairani commented on #2834
Would it make sense to update the cert on trunk to have a 100 year expiration, and then debug the failing cert in a separate new transcript?

[2022-01-25 20:50] anovstrup commented on #1589
This topic came up [in the #alphatesting Slack channel recently](https://unisonlanguage.slack.com/archives/CLUNF0J5S/p1643072576027100). Several people (myself included) cited a desire for escape syntax for identifiers that would otherwise be interpreted as reserved words. Since the Slack history will eventually be lost, I'll summarize the use cases mentioned:
* one user (@ceedubs) was surprised t

[2022-01-26 00:53] rlmark opened #2839 "Minified repro for hash appearance in cycles"
It appears you can still create a cycle and trigger a hash reference in doc links.

[hashRepro.md](https://github.com/unisonweb/unison/files/7938188/hashRepro.md)

This repro assumes you have a file called `scratch.u` in the codebase where you're running the transcript out of.

Note, if you try to do this with the entire cycle in your buffer the UCM will not let you save the cycle, so it's still a

[2022-01-27 18:35] #2237 closed, assigned to dolio

[2022-01-27 21:41] ChrisPenner opened #2840 "`Doc` fails to `display` on `topic/rehash-codebase`"
[code]

[code]

 https://unisoncomputing.slack.com/archives/CLGTK464E/p1643319318010400

[2022-01-27 21:41] ChrisPenner opened #2841 "Multiple codebases have missing objects which correspond to causals."

[2022-01-28 16:58] ceedubs commented on #2840
Note that this problem happens with `display` but not with `view` or when looking at docs through the local UI.

[2022-01-28 19:05] aryairani opened #2845 "Doc literals fails to parse if Unison `syntax` library is missing from namespace"
What's wrong with the following transcript?

[code]

![image](https://user-images.githubusercontent.com/538571/151605866-1992882a-4a24-45ab-b471-22af04353aa3.png)

It succeeds with a preceding `builtins.mergeio`.  This may be a clue into #2840.

[2022-01-28 19:06] aryairani opened #2846 "Doc fails to parse on trunk or M2k"
What's wrong with the following transcript?

[code]

![image](https://user-images.githubusercontent.com/538571/151605866-1992882a-4a24-45ab-b471-22af04353aa3.png)

It succeeds with a preceding `builtins.mergeio`.  This may be a clue into #2840.

[2022-01-28 21:03] pchiusano commented on #2845
This is expected behavior: the parser translates the doc syntax into calls to functions with those names. If you have a totally empty codebase then it gives errors like this. Assuming the codebase is initialized with base (or via `mergio`) then it should work.

Referencing those definitions via name rather than via hash has advantages, like being able to override the syntax or upgrade what the syn

[2022-01-28 22:06] aryairani commented on #2845
Ah, interesting, thanks. I listed a couple of thoughts below:

* I do think it would be nice if you could write a doc in an empty codebase, though it'd be a very low priority — maybe some kind of fallback would be possible if the names were missing?  It at least deserves a better message to let the user know that they need to add some library to support docs.
* I guess you wouldn't necessarily be

[2022-01-31 17:56] ChrisPenner commented on #2840
Hrmm, so running `builtins.mergeio` on the migrated codebase solves this issue, but that suggests that there's some mismatch between the way old builtins are being migrated vs how they're added with `builtins.mergeio`.

EDIT:
The hash `#4rv8d` refers to a version of `base.syntax.docFormatConsole`, which is somehow added by running `builtins.mergeio`, but for some reason doesn't have actually a nam

[2022-01-31 19:02] pchiusano opened #2848 "Program using ability-kinded type parameter incorrectly typechecks"
[code]

so `l : Loc {}` yet somehow that typechecks as a `Loc {Oog}`?

If I had to guess, it has something to do with the fact that the constructor `Loc` has type `forall a . Loc a`.

[2022-01-31 19:06] pchiusano commented on #2848
Here's another clue. This program does not typecheck as expected, which tells me it's something with ability checking specifically:

[code]

This gives the expected error:

[code]

[2022-01-31 19:09] pchiusano commented on #2848
Here's another one, showing that it doesn't matter whether it's a phantom type or not:

[code]

This incorrectly typechecks as the original example does.

[2022-01-31 20:08] pchiusano opened #2849 "Rehash-migration pretty-printing fails for constructors with polymorphic fields"
[code]
Then just `add` and then `view Foo` to trigger the error.

[code]

In the rehash migration branch, types are now incorporated into term hashes. This is good and expected, but it means that our trick for detecting whether to use record accessor syntax now has to run type inference of the generated record accessors.

Since higher rank types are not inferred, this causes an inference failure d

[2022-02-01 00:16] kanwren commented on #2829
This doesn't seem to be specific to docs. For example, the following works fine:

[code]

but when `run` is not found like this:
[code]
it will fail (as it should) but with the above unhelpful error message.

[2022-02-01 00:16] kanwren commented on #2642
This is an issue in the lexer. I can take this if you want, since it's on the codepath I'm already debugging, and should be a super quick fix.

[2022-02-01 02:50] rlmark commented on #2642
@nprindle that would be amazing! 🤩 Go for it! It's all you!

[2022-02-01 15:56] #2727 closed, assigned to nobody

[2022-02-01 18:37] #2795 closed, assigned to dolio

[2022-02-02 03:17] mitchellwrosen commented on #2807
Chatted with @aryairani about this one today. It seems the general goal of not propagating through unnamed updates is desirable (because unnamed things are outside the update scope), except when an unnamed thing is depended on by a named thing!

So there are a couple problems with the current implementation:

- It's incorrect to omit unnamed things from the initial dirty set, because they may have

[2022-02-02 05:29] aryairani opened #2851 "missing type-provenance coloring"
![image](https://user-images.githubusercontent.com/538571/152088909-0df01b33-e93d-4214-934a-f7a4d3725bc9.png)

Here `base` and `shift` both have type `Int`. So why is `Nat.mod` selected to begin with, instead of `Int.mod`? The answer is because the second argument has type `Nat`.

I think it should be highlighted in the same color as `Nat`, right?  Why isn't anything that color?

[2022-02-02 14:03] pchiusano commented on #2807
It's fine to propagate through unnamed things, you just don't want to replace names outside the current namespace. The propagation state is a mapping from old hash to new hash. It's okay if that mapping ends up being bigger than is needed to map all the definitions in the current namespace. This then saves you from having to do any complicated calculations about whether an unnamed thing has any na

[2022-02-02 19:20] ChrisPenner commented on #2840
I’ve found that migrating the same v1 hash can result in two different v2 hashes depending on the state of the rest of the codebase, which doesn’t make much sense to me.

Specifically, if I start from a clean codebase, run `.> builtins.mergeio` , then `builtins.syntax.docFormatConsole` has the v1 hash `#4522dhabfa`. If I then migrate that codebase, I find that `builtins.syntax.docFormatConsole` ha

[2022-02-02 20:55] ChrisPenner commented on #2840
Okay, so I tracked down why the same hash can turn into two different v2 hashes, it's because the type is now part of the hash, and the type of many terms in the base codebase are different from the types provided by a `builtins.mergeio`.

base should probably be updated to include the correct types, but it's not a dealbreaker since this doesn't indicate any issues with regard to codebase integrit

[2022-02-02 21:49] ChrisPenner commented on #2840
Okay, so I think this is what's happening.

When we `display` a term, we hit this codepath:

https://github.com/unisonweb/unison/blob/trunk/unison-cli/src/Unison/CommandLine/DisplayValues.hs#L81

Which calls through to:

https://github.com/unisonweb/unison/blob/trunk/parser-typechecker/src/Unison/Runtime/IOSource.hs#L224 ;

Which parses the IOSource `source` block and returns the hash for its `syn

[2022-02-02 22:00] aryairani commented on #2840
Related to https://github.com/unisonweb/unison/issues/2845

[2022-02-02 22:17] aryairani commented on #2840
There are a bunch of definitions that UCM expects to have around, to work properly, it seems like you identified another one that I wasn't aware of. IMO we should just start adding any of these that are missing, on ucm startup. We should not delete them during GC. The set may change from version to version of ucm, but that's fine. We shouldn't let multiple versions of ucm access a codebase at the

[2022-02-03 17:28] aryairani commented on #2841
@ChrisPenner This is finished as of #2843 and #2844, right?

[2022-02-03 20:04] ChrisPenner commented on #2840
Same underlying issue as: #1970

[2022-02-03 20:16] ChrisPenner commented on #2840
Me, @aryairani and @mitchellwrosen  met up to discuss longer-term solutions for this issue since we've encountered it several times, and since it's likely to manifest again in the future when we make changes to terms in IOSource.hs

There are two core issues:
1. What if terms like `syntax.docUntitledSection` are required by the doc unsugarer but don't exist in the codebase
2. What about the terms

[2022-02-03 20:23] pchiusano commented on #2840
This seems good. I don't think there's any downsides, especially since `display` is just printing some stuff out. If it makes reference to stuff that's not in the codebase while doing so, that's fine.

When doing this, put the `CodeLookup` from `IOSource` last and it will be lazy, only consulted when displaying a doc or something else that uses stuff from `IOSource`.

[2022-02-03 21:05] #2841 closed, assigned to nobody

[2022-02-03 21:54] ChrisPenner opened #2858 "Support push/pull with a custom git branch"
The idea would be to support a branch tag when pulling or pushing, e.g. something like

[code]

This is nice because

* It will help us to support different codebase formats at the same time during the `topic/rehash-codebase` migration
* It allows making snapshots of codebases for things like pull-requests or gists
* It provides the ability to make named gists, and since it uses a new codebase for

[2022-02-03 22:16] pchiusano commented on #2049
@dolio so my proposal is this - `bug` and `todo` should behave like this:

[code]

Now these can be caught in `Exception`.

[2022-02-03 22:39] DataKinds opened #2859 "ucm: core dump on forced tail call"
# Expected behavior

`run play` executes successfully.

# Bug description:

`run play` causes `ucm` to core dump. The output varies depending on  how many times you've done `run play` before:

**First time:**

[code]

**Second time:**

Either a successful run, or same as subsequent output.

**Subsequent times:**

[code]

# Steps to reproduce:

In UCM version `release/M2k`, do a `pull https://githu

[2022-02-03 23:47] dolio commented on #2049
This would work with the current ability implementation. But if we ever switch to a system where ability usage corresponds to under-the-hood information passing, then these `coerceAbilities` don't actually make any sense. They'll just produce invalid code.

So, it seems like this walks us more toward not fixing the ability soundness issues.

[2022-02-04 04:04] rlmark opened #2860 "Docs: Roundtrip issue with inlined code"
A doc containing inlined code examples will sometimes be expanded into an invalid transcluded snippet.

Mini example (also in attached transcript):
[code]

turns into:
[code]
Simple inline snippets like \`\`1+2\`\` or literals like \`\`"Hi"\`\` are fine, and more complicated inline snippets are also okay, like \`\`List.map (n -> n + 1) [1,2]\`\`.

[docExampleIssue.md](https://github.com/unisonweb/

[2022-02-04 12:41] aryairani commented on #2840
Agreed.

[2022-02-04 19:11] ChrisPenner opened #2861 "Syncing too many watch expressions"
I pushed a small namespace with only these 2 definitions to a fresh repo:

[code]

And the resulting codebase was 2MB and contained   6314 watches, 6314 watch results, and over 6000 hashes.
It also includes any text mentioned in those watches in the text table.

Not sure exactly how the watches-to-sync are currently determined, but we can probably be a bit more conservative than that 😄

[2022-02-04 20:21] #2180 closed, assigned to nobody

[2022-02-04 20:49] pchiusano commented on #2051
Here's another example:

[code]

[code]

[2022-02-04 21:36] dolio commented on #2051
I'm pretty sure I know what's going on here now. During compilation, we do a pass that eliminates free variables from all lambda terms so that they can be floated to a top level. This rewrites:

    x -> x + y

into:

    (x y -> x + y) y

I think we are storing the terms for decompliation _after_ this pass, so that we're literally storing

    List.map ((y x -> x + y) y) [1,2,3]

in the decompile

[2022-02-04 21:41] pchiusano commented on #2051
Ah... that sounds like an easy fix then?

[2022-02-04 22:10] pchiusano commented on #2049
What we could do in that situation is just have `Exception.catch` be defined to also catch the exception thrown by `bug` and `todo`.

But `Exception.catch` would be compiled to a builtin that gets selected when compiling a definition with the same hash as the current [`Exception.catch`](https://share.unison-lang.org/latest/namespaces/unison/base/;/terms/Exception/catch). This wouldn't box us in re

[2022-02-05 05:48] aryairani commented on #2786
Is this accidentally "Awaiting Review"? or how can I review it? :)

[2022-02-07 01:13] aryairani opened #2863 "transcripts give cryptic error when encountering ``` in valid unison code"
Transcript:
[code]

Result:
[code]

Adding an extra backtick, per markdown, doesn't help, though the error message is different:
[code]

[code]

Possibly related to #2826. Do we just need to support backtick counting and thicker fences?

[2022-02-07 05:57] aryairani opened #2864 "investigate moving IOSource typechecking from runtime to compile time"
template haskell something something?

[2022-02-07 15:49] ChrisPenner commented on #2786
@aryairani  It's waiting for a review on its paired PR: #2814 . 😄

[2022-02-07 15:56] pchiusano commented on #2845
My vote would be to just have a nice error message in this situation that tells the user they should fetch base.

[2022-02-07 16:22] aryairani commented on #2831
"closed" with #2833

[2022-02-07 16:22] #2831 closed, assigned to nobody

[2022-02-07 17:52] #1970 closed, assigned to nobody

[2022-02-07 17:52] #2840 closed, assigned to ChrisPenner

[2022-02-07 18:25] dolio commented on #2859
Are you able to try this with unison built from current git? Your test case actually works for me, so it's possible it's been fixed since the m2k release.

[2022-02-07 18:25] pchiusano opened #2867 "Decompilation regression"
Here's a transcript (not very minimal) -

[code]

This should produce `Right 99` and it does until this commit, when it starts reporting

[code]

Here's the first commit where the behavior changed (I did a git bisect):

[code]

[2022-02-07 23:22] pchiusano opened #2868 "Better support for inline examples with type signatures"
So this works right now, allowing you to have hyperlinked type expressions inline in a Doc:

[code]

This will render as `x : Map Nat Text` with the type annotation being clickable. Unfortunately, this trick only works if the annotation uses no type variables.

What should work:

[code]
And this could render as `x : Map a b`, I think with a minor tweak to the doc renderer.

Currently it renders as

[2022-02-08 03:13] aryairani opened #2870 "add numbered output to `todo` and remove hard-coded hashes from `resolve.md`"

[2022-02-08 03:13] aryairani opened #2871 "add numbered output to `view.patch` and remove hard-coded hashes from `deleteReplacements.md`"

[2022-02-08 03:13] aryairani opened #2872 "add numbered output to `history` and remove hard-coded hashes from `diff-namespace.md`"

[2022-02-08 18:42] dolio opened #2874 "Overapplying some builtins doesn't work"
I discovered this while trying to figure out the issue related to the decompilation patch. If you over-apply certain builtins, it eats arguments. An example is with references:

[code]

This will eat the `()` argument and return the function stored in `r` rather than the `Nat` result of that function. I think this is because the wrapper for `read` ends in a call to the foreign op, which gets compi

[2022-02-09 15:58] #2858 closed, assigned to ChrisPenner

[2022-02-09 20:03] runarorama opened #2881 "Pretty-printer should take TDNR into account"
The expression `0.1 + 0.2` is unambiguous because TDNR uses the expected type of `+` to figure out that what's meant is `base.Float.+`.

But when this gets pretty-printed out again, the shortest unambiguous suffix is `Float.+`,

So this expression renders as `0.1 Float.+ 0.2`, which is terribly ugly.

It would be really nice if the pretty-printer could figure out that `+` is unambiguous here.

[2022-02-09 20:10] aryairani commented on #2826
Here is an example:
[code]

yields

[code]

This (extra enclosing backticks) doesn't throw an error, but also doesn't do the right thing:

[code]

It doesn't recognize the block as unison code, and just produces some useless output:
[code]

[2022-02-09 20:13] aryairani commented on #2863
At the very least, the error message isn't helpful, and even if we say ```` ``` ```` has a higher priority than `--`, we should support thicker fences to allow this.

[2022-02-09 20:21] pchiusano commented on #2881
Well, it is by design that it doesn't do this - all symbols are unambiguous and don't rely on... talking to the typechecker during pretty-printing. I think it's a major can of worms to try to do anything else.

That said! I think when rendering to HTML, we could elide all `use` statements and print all infix operators out unqualified. The reference to the operator will have the hash in there, so i

[2022-02-09 20:39] rlmark opened #2882 "Styling in docs fails to parse if split over one line"
If a styling element in a doc like double underscore or double asterisk splits two lines. The UCM will fail to parse.

For example:

[code]

While most of the time you can get around this by not splitting your style elements up, sometimes you might have a line that is longer than the minimum width of the pretty printer output.

[2022-02-09 20:40] aryairani opened #2884 "certain @typecheck blocks render with a `let` which then doesn't parse"
Here's a transcript to reproduce
[code]
The transcript is in this indirect format due to #2826

[2022-02-09 20:43] aryairani commented on #2884
and here's that definition, for reference:

[code]

[2022-02-09 20:47] aryairani opened #2885 "parser doesn't recognize hashes that aren't in the namespace"
[code]
These old names can't be rendered (old names) or parsed for some reason. Let's make them parseable at least.

[2022-02-09 20:51] aryairani commented on #2712
@pchiusano Was this meant for this ticket? or for #2822

[2022-02-09 20:58] aryairani opened #2886 "`edit` a constructor for a decl with no name is a round-trip error"
Something like:
[code]

with scratch.u
[code]

[2022-02-09 22:01] #2872 closed, assigned to ChrisPenner

[2022-02-09 22:09] aryairani opened #2889 "lambda sometimes is missing a let when pretty-printing"
failing transcript:

Setup:
[code]
Issue: This doesn't parse without `let`, but the pretty printer removes the `let`. I don't know whether it should need the `let`, but it does.
[code]

[2022-02-09 22:19] #2810 closed, assigned to runarorama

[2022-02-09 22:28] aryairani opened #2890 "Doc: closing inline delimiters can’t be followed by punctuation"
[code]

becomes the following after a round trip (added triple `_`s):
[code]

If I add the space back in after the comma, then it doesn't parse. Triple `_`s isn't a thing anyway.
[code]

[2022-02-09 22:44] #2642 closed, assigned to kanwren

[2022-02-10 02:59] #2867 closed, assigned to dolio

[2022-02-10 04:48] aryairani opened #2905 "record types are not rendered correctly at https://www.unison-lang.org/docs/language-reference/record-types/"
<img width="756" alt="image" src="https://user-images.githubusercontent.com/538571/153339154-916bdfd3-57b3-4f49-8256-fdd76bdcab5e.png">

I suppose this is actually a ucm problem, but I could use help to confirm.

[2022-02-10 05:20] aryairani commented on #2492
I'm not very familiar with the parser, but would it work to require the arguments to be indented relative to the first non-whitespace character on the line, instead of relative to the function being applied?

[2022-02-10 05:26] aryairani commented on #1683
We could improve the error message, or we could make the leading `.` optional when parsing a `ucm` block.

[2022-02-10 05:28] aryairani opened #2891 "transcript parsing megaticket"
* [x] #2826
* [x] #2863
* [x] https://github.com/unisonweb/unison/issues/2629
* [x] #1809

Low priority:
* [x] #1683
* [x] #1421
* [ ] #1172

[2022-02-10 05:39] aryairani commented on #2333
Granted, I don't know a ton about docs, but I would expect it to work if you made it a `@typecheck` block; does it? (Or, why not?)

[2022-02-10 05:53] aryairani commented on #2333
Actually, I can't reproduce this today. Could you confirm whether it's fixed?

[2022-02-10 05:54] aryairani opened #2892 "doc-parsing and/or roundtrip megaticket"
Misc
* [x] https://github.com/unisonweb/unison/issues/2148
* [x] #2712
* [ ] #2860
* [x] #2882
* [ ] #2884
* [ ] #2885
* [ ] #2886
* [ ] #2889
* [ ] #2890

Underscore-related
* [x] #2822
* [x] #2463

Names-related
* [x] #525
* [x] #2699

Pretty-printer
* [x] #2492

[2022-02-10 05:55] aryairani commented on #2884
Hopefully will fix these definitions from the repo in the description:
* [ ] fundamentals.abilities.exercises.ex1

[2022-02-10 05:57] aryairani commented on #2882
Hopefully will fix these definitions from [website](https://github.com/unisonweb/website:#8agaqj52kh):
* [ ] fundamentals.abilities.usingAbilitiesPt1

[2022-02-10 06:02] aryairani commented on #2890
Hopefully will fix these definitions from [website]:
* [ ] languageReference.userDefinedTypes

[2022-02-10 06:02] aryairani commented on #2889
Hopefully will fix these definitions from [website]:
* [ ] fundamentals.valuesAndFunctions.functionsOnCollections

[2022-02-10 06:02] aryairani commented on #2885
Hopefully will fix these definitions from [website](https://github.com/unisonweb/website:#8agaqj52kh):
* [ ] fundamentals.abilities.usingAbilitiesTut.dispenseFood2
* [ ] fundamentals.abilities.usingAbilitiesTut.dispenseFood3
* [ ] fundamentals.abilities.usingAbilitiesTut.dispenseFoodLoop1
* [ ] fundamentals.abilities.usingAbilitiesTut.dispenseFoodLoop2
* [ ] fundamentals.abilities.usingAbilitiesTu

[2022-02-10 06:02] aryairani commented on #2712
Hopefully will fix these definitions from [website](https://github.com/unisonweb/website:#8agaqj52kh):
* [ ] fundamentals.controlFlow.exceptionHandling.either

[2022-02-10 06:02] aryairani commented on #2822
Hopefully will fix these definitions from [website](https://github.com/unisonweb/website:#8agaqj52kh):
* [ ] fundamentals.controlFlow.looping

[2022-02-10 06:16] aryairani commented on #2892
I used this script to generate the link, after `pull.squash-history`ing the desired namespace to `$codebase:.$path` and using `find` to set `$count`.

[code]

/cc @rlmark

[2022-02-10 09:24] kanwren commented on #2148
Is this still an issue? That example passes for me, and a bisect said it was fixed in 7745fbba4be701cb6bbae0d26cb19eac90798c43.

[2022-02-10 14:47] aryairani commented on #2148
@nprindle I didn’t check, but if the example works for you then I would say it’s fixed!

[2022-02-10 14:47] #2148 closed, assigned to nobody

[2022-02-10 15:21] hojberg commented on #2905
Yeah this has been a recurring problem. @pchiusano and I fixed it somewhat a few months ago, but not clearly completely.

[2022-02-11 14:37] ceedubs commented on #2886
@aryairani what do you think that the behavior _should_ be in this case? The behavior that you've shown seems fairly reasonable to me. But I guess that it's problematic that a unique type declaration would try to give its own hash.

[2022-02-11 15:00] ceedubs commented on #2881
@pchiusano any specific concerns here? Do you think that the implementation would become difficult to manage? One concern that I would have is performance. Parsing performance isn't all that critical since textual source code is ephemeral and isn't parsed often. But pretty-printing probably happens more often (certainly on Share it happens a lot).

 I can see how this might be nice for displaying

[2022-02-11 15:49] ceedubs commented on #2049
You've mentioned `bug` and `todo`. Does the scope of this issue also include things like interrupts? Something [that has come up](https://unisonlanguage.slack.com/archives/CLUNF0J5S/p1638803980221100) is a `main` method that should perform some cleanup (connections, file handles, etc) when it is stopped via ctrl-c.

I'll paste some of the Slack discussion in case it goes away.

For example if you

[2022-02-11 17:20] #2870 closed, assigned to nobody

[2022-02-11 17:41] pchiusano commented on #2881
Yes. Right now the pretty-printer just needs names for each hash. That's it.

Accurately eliding qualified names based on type signatures is hard. Even if you plumb all the information needed through to the pretty-printer (you'd need basically a typechecking environment), what is the algorithm? You can't make decisions locally - you might notice that `1.0 Float.+ x` still typechecks the same as `1

[2022-02-11 17:48] ceedubs commented on #2881
That's a really good point. I hadn't considered that.

[2022-02-11 18:23] nmcb commented on #1868
lifting from this (already elevated top-down -and might i say, meta-) level of  cooperative dialogue on an ux-ui topic: which codebase/namespace should be responsible for the rendering of ligatures from "symbolic" names: a unison code-base, the ucm, or a gpu spec even - perhaps.  ref screenshots.

<img width="144" alt="Screenshot 2022-02-05 at 09 24 04" src="https://user-images.githubusercontent.c

[2022-02-11 20:37] ceedubs opened #2897 "limit delete.namespace output"
Per [Slack discussion](https://unisonlanguage.slack.com/archives/CLG4P0GSD/p1644608761295589).

Say that I do something like `fork .base .base2` and then `delete.namespace .base2`.  Currently the `delete.namespace` takes a while to run (~minute). Part of this time (though we haven't measured how much) is spent rendering a pretty-printed description of what has changed. This output is verbose and n

[2022-02-11 20:41] nmcb commented on #2897
what's the `ds` tag indicate - if im allowed to ask ?

[2022-02-11 21:07] ceedubs commented on #2897
@nmcb you're not allowed to ask.

Just kidding. It's not obvious in the GitHub UI, but if you hover over it you should see a description: "Developer experience improvements or workflow fixes"

[2022-02-12 00:02] ceedubs commented on #2897
Looks like there is a precedent for this in the output after saving a scratch file:

[code]

[2022-02-13 01:28] #2712 closed, assigned to runarorama, dolio

[2022-02-13 01:29] #2423 closed, assigned to dolio

[2022-02-13 01:29] pchiusano commented on #2423
Fixed by #2895

[2022-02-13 01:29] pchiusano commented on #2712
Fixed by #2895

[2022-02-13 18:29] aryairani commented on #1870
I think there’s some bug in `System.Process`. I was able to make progress by avoiding the use of `System.Process.showCommandForUser`, called by shellmet.

[2022-02-13 19:49] aryairani opened #2899 "`git` commands don't work without cached credentials"
We currently use `System.Process.readProcess` and `System.Process.readProcessWithExitCode`, which pass canned `stdin` to `git`. When `git` wants input from the user (e.g. ssh public key passphrase or https credentials), it fails, resulting in an error like:

[code]
or
[code]

The workaround is to set up your environment so that `git` doesn't ask for credentials, e.g. using `ssh-agent` to cache you

[2022-02-13 20:21] aryairani commented on #2899
Another possible, better workaround for Windows is that there seems to be some sort of Microsoft gui authentication helper for signing into Github via https without `stdin`. I haven't tried testing this; it's just something that showed up for me when I was trying to accomplish something else.

[2022-02-14 03:22] aryairani commented on #2849
Closed by #2866

[2022-02-14 03:22] #2849 closed, assigned to aryairani, ChrisPenner

[2022-02-14 06:41] aryairani opened #2901 "set utf-8 codepage within unison programs"
https://hackage.haskell.org/package/code-page-0.2.1/docs/System-IO-CodePage.html

Not sure exactly which IO action should be wrapped to catch `ucm`, tests, etc.

[2022-02-14 15:56] ChrisPenner commented on #2897
I'm not sure whether it'll be possible/fast to generate only a subset of the diff, so another option would be to print the relevant `diff.namespace` command with the old namespace hash and the empty namespace hash so that the user can run the full diff themself if they like.

[2022-02-14 16:00] ChrisPenner commented on #2871
Closed in #2875

[2022-02-14 16:00] #2871 closed, assigned to ChrisPenner

[2022-02-14 16:12] ChrisPenner commented on #2861
Chatted with @aryairani  and we agreed that it would be okay to not sync any un-named watch expressions.

[2022-02-14 16:25] aryairani commented on #2816
I guess we decided for now that the problem is that hashing is intrinsically slow.

[2022-02-14 16:25] #2816 closed, assigned to nobody

[2022-02-14 16:36] ceedubs commented on #2897
I like the idea of printing the `diff.namespace` command that could be run. 👍

I think that some example names would be useful if isn't slow, but if it is slow I don't think that it's worth spending a lot of time to try to optimize it just for this.

[2022-02-14 16:37] aryairani commented on #2622
blocked on #2718

[2022-02-14 16:39] #2771 closed, assigned to nobody

[2022-02-14 19:16] #1870 closed, assigned to nobody

[2022-02-15 15:09] hojberg commented on #2905
Moving to the unison repository.

[2022-02-15 16:10] hojberg commented on #2905
Marking this as a roundtrip bug. cc @runarorama

[2022-02-15 17:19] #2471 closed, assigned to aryairani, mitchellwrosen, ChrisPenner

[2022-02-15 17:32] ChrisPenner commented on #2435
Done in #2627 🎉

[2022-02-15 17:32] #2435 closed, assigned to aryairani

[2022-02-15 17:33] ChrisPenner commented on #2100
Done in #2627 🎉

[2022-02-15 17:33] #2100 closed, assigned to aryairani

[2022-02-15 17:34] ChrisPenner commented on #2181
Done in #2627 🎉

[2022-02-15 17:34] #2181 closed, assigned to aryairani

[2022-02-15 17:34] ChrisPenner commented on #2122
Done in #2627 🎉

[2022-02-15 17:34] #2122 closed, assigned to nobody

[2022-02-15 17:35] ChrisPenner commented on #2495
Done in #2627 🎉

[2022-02-15 17:35] #2495 closed, assigned to aryairani

[2022-02-15 17:35] ChrisPenner commented on #2011
Presumably fixed by #2627, feel free to re-open if we're able to reproduce this again.

[2022-02-15 17:35] #2011 closed, assigned to nobody

[2022-02-15 17:36] ChrisPenner commented on #2742
We ended up just printing a prompt before starting the migration.

[2022-02-15 17:36] #2742 closed, assigned to nobody

[2022-02-15 17:37] ChrisPenner commented on #2815
Closed by #2627 🎉

[2022-02-15 17:37] #2815 closed, assigned to nobody

[2022-02-15 17:45] #2861 closed, assigned to ChrisPenner

[2022-02-15 18:06] ChrisPenner commented on #2646
Closed in #2748

[2022-02-15 18:06] #2646 closed, assigned to nobody

[2022-02-15 18:26] ChrisPenner opened #2906 "Can't push v2 codebase over a v1 codebase."
Trying to push a v2 codebase over an existing v1 codebase results in the following error:

[code]

[2022-02-16 20:21] aryairani opened #2909 "unison share hosting FS0 megaticket"
## Before public release:
- [x] Fix handling of `%2F`  when fetching definitions; https://github.com/unisoncomputing/enlil/issues/47 @tstat
- [x] Include 'requestID' in error responses so users can point us at the appropriate logs. @mitchellwrosen
- [x] #3177
- [x] review https://github.com/unisonweb/unison/pull/3103
- [ ] ~#3189~
- [ ] ~validate / futureproof / document the plan for transitioning

[2022-02-16 20:21] aryairani commented on #2909
bleh I didn't mean to hit send yet.

[2022-02-16 20:49] aryairani opened #2911 "publish Unison Share hosting roadmap"
- Unison Share style code browsing of all repos
- Awesome PR workflow
- In-browser editing; w/ awesome pair/mob support
- ...

- ecosystem-wide vulnerability patching

[2022-02-17 03:25] aryairani commented on #598
Opened draft pr #2913 to track build status.

[2022-02-17 15:27] #2402 closed, assigned to nobody

[2022-02-17 16:57] ChrisPenner opened #2918 "Database Integrity Error when no Unit in codebase"
Given a fresh codebase

And this scratch file:

[code]

The following causes a database integrity error:

[code]

This issue doesn't occur in transcripts or if you run `builtins.mergeio` first.

[2022-02-17 21:30] #2906 closed, assigned to ChrisPenner

[2022-02-17 23:34] ceedubs opened #2922 "ability default handlers compile but fail at runtime"
This code compiles:

[code]

However, `handle abort with myHandler` results in `resolve: looked up bad dynamic: 195`

The following code calls `todo` like one would expect:

[code]

[2022-02-18 01:00] ceedubs opened #2923 "hashing is not consistent for thunks"
In the following example, `'(7)` is hashed twice and returns different results each time.

[code]

The hashes seem to be stable across runs which suggests to me that the hash includes information about where the argument is in the surrounding closure context or something like that.

[2022-02-18 01:06] ceedubs commented on #2923
This is closely related to #2163 and we should check whether it's resolved by #2615.

[2022-02-18 01:45] aryairani opened #2924 ""removeDirectoryRecursive" "permission denied" errors in gitsync"
[code]

with similar errors in:
💥  gitsync22.sc.pull-over-deleted-namespace
💥  gitsync22.sc.pull.without-history
💥  gitsync22.sc.push-over-deleted-namespace
💥  gitsync22.sc.typeAlias
💥  gitsync22.sc.topLevelTerm
💥  gitsync22.sc.metadataForTerm
💥  gitsync22.sc.metadataForType
💥  gitsync22.sc.subNamespace
💥  gitsync22.sc.accessPatch
💥  gitsync22.sc.history
💥  gitsync22.sc.one-term
💥  gitsync22.sc.on

[2022-02-18 03:12] runarorama opened #2925 "`Universal.===` is broken for `Text`"
1 | > ":(" === ":("
          ⧩
          false

[2022-02-18 03:19] aryairani opened #2926 "crazy getline behavior in Windows?"
<img width="707" alt="image" src="https://user-images.githubusercontent.com/538571/154611159-7dd7fb8a-1f95-48f1-8565-9537fa6b910b.png">

No idea what's going on here.

[2022-02-18 03:21] aryairani commented on #2926
Restarting ucm helped?

<img width="156" alt="image" src="https://user-images.githubusercontent.com/538571/154611390-996a0abe-0115-4050-b84f-09d2106889f0.png">

[2022-02-18 04:25] aryairani opened #2927 "noisy scary but benign git output"
<img width="671" alt="image" src="https://user-images.githubusercontent.com/538571/154617254-54d1b692-902c-491e-a1b1-759a2e22f530.png">

It's a known issue, and maybe we build out the new service before it becomes urgent, or maybe it's easy.  Maybe it could be hidden behind a debug flag.

[2022-02-18 04:31] aryairani opened #2928 "don't rely on `stack exec` to find `unison` within `unison`"
In addition to being rather slow, it's not reliable on Windows, _e.g._:
[code]

Here `stack exec -- which unison` is giving us back a path that `callProcess` can't understand.

I would imagine there's some cross-platform API we can use to get the `FilePath` of the current process? If so, let's use that instead.

[2022-02-18 05:29] aryairani opened #2930 "ansi sequences sometimes not displaying right on Windows"
Pretty weird that it displays okay in the Welcome message, but not in some later messages?

<img width="706" alt="image" src="https://user-images.githubusercontent.com/538571/154623191-94b9847a-9604-4289-9824-82fe8af7ca28.png">

[code]
[code]

[2022-02-18 05:30] aryairani commented on #2930
Normal rendering on macOS:

<img width="649" alt="image" src="https://user-images.githubusercontent.com/538571/154623380-9cfef276-27e4-4fe7-96d5-f5a756d101a0.png">

[2022-02-18 06:01] aryairani commented on #2930
I'm not sure if it can be made work right with `cmd.exe` or `PowerShell`, but it looks like it works fine in Windows Terminal (a new thing released in 2019).

<img width="996" alt="image" src="https://user-images.githubusercontent.com/538571/154626719-149ae0b1-f4ad-4a5e-a0b9-2ed2793cc996.png">

[2022-02-18 06:01] #2930 closed, assigned to nobody

[2022-02-18 12:35] mechadense opened #2931 "Add (builtin) capability of running shell commands."
As just one rather specific example this would be needed e.g. for
starting up some OpenSCAD code via shell that was
formerly generated and written to file by unison.

[2022-02-18 15:05] aryairani commented on #2931
Maybe something like this to start:
[code]
Lots of inspiration here: https://hackage.haskell.org/package/process-1.6.14.0/docs/System-Process.html

[2022-02-18 16:13] dolio commented on #2925
Fixed by #2929

[2022-02-18 16:13] #2925 closed, assigned to dolio

[2022-02-18 16:40] aryairani opened #2933 "add Windows build to release.yaml"

[2022-02-18 16:43] stew commented on #2928
I would check to see if `stack path` gives you better path names

[2022-02-18 17:44] ceedubs commented on #2923
Resolved by #2615

[2022-02-18 17:44] #2923 closed, assigned to nobody

[2022-02-18 18:57] aryairani commented on #2928
Alternatively, `stack exec -- where unison` will work better in Windows:
[code]

@stew Ah thanks for the reminder, though investigating that requires me to install `grep` or find a Windows equivalent 😅

[2022-02-18 18:59] aryairani commented on #2928
@stew Yeah that's decent:
[code]

[2022-02-18 22:51] mechadense commented on #2931
Signature looks good.

I don't understand the reasoning behind the command name
"readProcessWithExitCodeSource"
Why "read" at front and "Source" at the end?
Maybe something shorter that one would likely be to search for
like e.g.: "executeShellCommand"?

[2022-02-19 01:01] aryairani opened #2935 "update `transcripts` executable to only have to `IOSource.typecheckedFile` once"
e.g. by using unison-cli as a library instead of as an executable

[2022-02-19 06:21] aryairani opened #2939 "ucm won't launch without `less`"
We could bundle https://github.com/jftuga/less-Windows
http://www.greenwoodsoftware.com/less/download.html
http://gnuwin32.sourceforge.net/packages/less.htm
Or have ucm look for different pagers

[2022-02-19 06:21] aryairani opened #2940 "`unison transcript unison-src/transcripts-round-trip/main.md` is failing on Windows"
[code]
[code]

[2022-02-19 07:03] aryairani commented on #2933
Closed by #2934

[2022-02-19 07:03] #2933 closed, assigned to nobody

[2022-02-19 07:04] aryairani commented on #2926
Maybe just a fluke.

[2022-02-19 07:04] #2926 closed, assigned to nobody

[2022-02-19 07:12] aryairani opened #2941 "`transcripts\io.md` requires a `HOME` environment variable which is missing on WIndows"
This seems like a bad idea anyway

[code]

[code]

[2022-02-19 19:05] ceedubs commented on #2939
Related: #2518

[2022-02-19 21:17] runarorama commented on #2939
Can we just use the PAGER env var? If not present, just don't page. If on windows, MORE is always available.

[2022-02-20 19:51] aryairani commented on #2518
`PAGER` isn't normally set on Windows, so we'd need another backup option for non-unix. Windows ships with `more`, fwtw.

Definitely this. Can we do this in a way that implicitly solves the emacs case too?

Agreed.

Re #2939, I'm inclined to just bundle `less`, although I don't love bundling a binary we didn't author. Not sure what the software package management story for Windows is today, but `b

[2022-02-21 12:25] iacore commented on #2518
How to check if stdout is terminal on POSIX systems:
https://rosettacode.org/wiki/Check_output_device_is_a_terminal#C

[2022-02-22 15:24] ceedubs commented on #2518
thanks @locriacyber. We'd probably be using a Haskell binding, so [here](https://rosettacode.org/wiki/Check_output_device_is_a_terminal#Haskell) is the relevant section. This uses the `unix` library, so I don't know whether that would work for Windows.

@aryairani regarding bundling `less`: do you just mean in the case of Windows? I don't think that we should be trying to bundle it for unix enviro

[2022-02-22 20:41] #2924 closed, assigned to ChrisPenner

[2022-02-22 20:45] #2901 closed, assigned to nobody

[2022-02-22 22:36] #2928 closed, assigned to nobody

[2022-02-22 23:00] ChrisPenner commented on #2940
Investigated further, this is caused by carriage returns being inserted at the end of lines within codeblocks when pretty-printing on windows.

We'll probably want to either strip those out when parsing, or avoid printing them in the first place (but that might wreak havoc for some windows text editors).
My thought would be to strip them out when parsing and add them back in when printing.

Altern

[2022-02-22 23:14] aryairani commented on #2940
There should be a text mode for the file handles that does the right thing automatically (i.e. on windows, turns CRLF into LF on read, and turns LF into CRLF on write; and does no translation on unix?).  We don't want to bake the solution into our parsing rules.

[2022-02-22 23:34] ChrisPenner commented on #2940
Ah, yeah that's a much better solution. I'll adjust the file Handle newline mode in the parser.

[2022-02-23 09:22] LoganDark commented on #2931
IMHO, you should properly differentiate between running *shell* commands and running *system* commands. *Shell* commands are a single string, parsing sigils like `;`, `||` and `&&`, redirections, pipes and so on, and splitting arguments (requiring escaping). *System* commands simply start a process with the specified arguments - not requiring escaping or anything like a shell would.

Also, Windows

[2022-02-23 18:46] pchiusano opened #2944 "Remove eta expanded ability operation in docs"
[code]

This shows `_eta -> Stream _eta` in the rendered form of the example.

[2022-02-23 18:55] pchiusano opened #2945 "Extra lambda-lifting remants in decompiled form for docs"
An example with this
[code]
expands to:
[code]

With what looks like a remnant of the lambda lifting pass.

[2022-02-23 19:43] #2941 closed, assigned to ChrisPenner

[2022-02-23 19:43] #2940 closed, assigned to ChrisPenner

[2022-02-23 21:15] pchiusano opened #2947 "M3 release checklist"
Anything missing from this list?

- [x] merge rehash branch into trunk
- [x] dogfood trunk to make sure everything seems to be working fine
- [x] Garbage collect v1 hashes at end of migration? Is this done already? It's not done but we don't care for now.
- [x] https://github.com/unisonweb/unison/issues/2698 nevermind, this is not MVP for this release but would be nice to have
- [x] get to the bot

[2022-02-24 16:30] pchiusano commented on #2698
Exploring a few variations here:

[code]

This last one seems like the winner -

[code]

The `@share` is interpreted as a function `[String] -> Either (P.Pretty CT.ColorText) [String]` which just interprets or munges the remaining arguments to the command. This replaces the notion of aliases with the notion of modifiers. And it looks pretty! :)

This seems like a one-liner change in `InputPatterns

[2022-02-24 18:35] aryairani commented on #2698
Ok so we will hack something together for `push`/`pull`, and add a ticket to revamp `InputPatterns`.

[2022-02-24 22:25] pchiusano commented on #2698
I think @aryairani has me convinced that for the short term we just go with something like `pull share://pchiusano.myproj blah`. (This could even do autocomplete using the shallow namespace listing endpoint.)

Eventually this can just become the default, and the old pull will require `pull.git` or something.

The modifier idea might be cool to explore for later. But I kinda think I want just a mor

[2022-02-25 00:08] aryairani commented on #2698
WDYT about if we add both `pull.share` and `pull.git` and for the time being leave `pull` as an alias for `pull.git` and then eventually switch it to be an alias for `pull.share`, and never introduce `share://`?

[2022-02-25 00:09] pchiusano commented on #2698
I'm cool with that.

[2022-02-25 15:48] mitchellwrosen opened #2950 "`Names.constructorsForType` seems sketchy"
https://github.com/unisonweb/unison/blob/b6e31b435194a79903721ee28430e68b11910647/unison-core/src/Unison/Names.hs#L448-L458

This operation just resolves the constructor names of a reference (e.g. `Maybe`) by searching the namespace for constructor 0 (`Nothing`), constructor 1 (`Just`), constructor 2 (oops, not there - return).

But if a constructor name in the middle is missing, then we'll not re

[2022-02-25 16:03] aryairani commented on #2698
Rereading the original proposal I like that better (doesn’t change the number of arguments), although I think presets should have a different namespace, like `@@base` or `@@share`, wdyt.

We can independently still split off a separate command for pushing to share vs to arbitrary git repo, and that new command could become the default later.

[2022-02-25 18:45] ceedubs commented on #2409
Update: this still fails but now instead of `applying non-function: Enum ##Boolean 1` it says `applying non-function: BlackHole`.

[2022-02-25 18:56] pchiusano commented on #2698
I really dislike `pull @share:.blah`, particularly the `:.` business, which is super easy to screw up, is annoying to type, and looks bad. :) Seriously, imagine having to explain to someone why they have to write `:.` there: "well, it's because technically that's expanding to a string that's going to become the prefix of a git url plus a unison path specification, so therefore..."

like, just no!

[2022-02-25 22:43] ChrisPenner commented on #2518
#2953 should address most of the concerns listed here 😄

* It checks whether `stdin` is a terminal and doesn't use a pager if so,
* It provides proper fallbacks when `less` is missing
* It allows a custom pager using `UNISON_PAGER`; see the issue for info on why I didn't use `PAGER`.

We should probably still move it into `unison-cli` at some point, but that doesn't affect functionality.

[2022-02-28 16:22] pchiusano opened #2955 "Understand what's going on with this codebase"
This transcript succeeds

[code]

That `2955` branch I created by doing a `push` of my root namespace.

If instead you do the `pull` of base using my actual codebase (which is the result of doing a codebase upgrade), then the `pull` of trunk fails with:

[code]

It's apparently too big to attach to this issue though.

[2022-02-28 18:15] mitchellwrosen commented on #2955
The source codebase looks a bit busted:

[code]

This query just finds the number of objects that don't have a unique (object_id, hash_id). It should be 0.

[2022-02-28 18:17] pchiusano commented on #2955
[code]

returns 2749 for me

[2022-02-28 18:31] pchiusano commented on #2955
Here's the query to detect object ids with multiple hashes for a given hash version:

[code]

We did the following:

* Ran the above query on `main` of base. It returns 0 as expected, indicating it's not some historical bug.
* Ran the above query on `v3` of of base, the result of applying migration. It returns 2296, indicating that these objects with more than one v1 hash were somehow introduced a

[2022-02-28 19:35] #2935 closed, assigned to nobody

[2022-02-28 19:39] #2939 closed, assigned to nobody

[2022-02-28 19:39] #2518 closed, assigned to nobody

[2022-02-28 20:51] aryairani opened #2956 "ormolu everywhere."

[2022-02-28 21:53] ceedubs opened #2957 "Unhelpful error messages when matching on ability methods"
## context

The following transcript sets up two different versions of `MyAbility` in different namespaces. This is common when one is from a release and one is from trunk.

[code]

Now we try to create a handler, being careful to fully-qualify `MyAbility` to avoid ambiguity:

[code]

I would expect this to work, because `ucm` knows that we are trying to match on `library1.trunk.MyAbility`, so the

[2022-03-01 10:02] seaoflanguages commented on #2243
Shouldn't this issue be closed?

[2022-03-01 13:33] hdgarrood commented on #682
Can this be closed and removed from the FAQ now that #2085 is in?

[2022-03-01 16:32] ChrisPenner commented on #2955
On a migrated base there are 14 borked terms and 2360 borked namespaces

Well, depends how you count it, those are the number of objects, there are more hashes.

I believe one cause here might be that we’re mapping all “corrupted” namespaces to the empty branch;
when we re-map object IDs for all these corrupted branches we’d end up with a bunch of previously distinct hashes all being mapped to the

[2022-03-01 22:09] ChrisPenner commented on #2885
This one's been annoying me a bit lately, I'll try to load historical definitions for debugging, but once I `edit` it won't typecheck because it can't parse the hashes 😞

We also have the issue that we can't parse `!#abcdef`, so we should either render it as `!(#abcdef)` or sort out the parser.

[2022-03-01 22:19] ChrisPenner commented on #2885
I took a quick look into this, currently the hash lookup in the parser is pure, and adding ALL historical hashes to the NamesWithHistory might get out of hand and would probably slow down the parser on startup.
Another option would be to either make it monadic or lazy so it doesn't do any extra work unless we detect something that looks like a hash but is missing from the main name lookup.

[2022-03-01 23:25] aryairani commented on #2885
Cool, yeah; I would start with the second approach — looking it up in the codebase if it's missing from the namespace.

[2022-03-02 16:30] pchiusano commented on #2947
Misc docs stuff:

- [ ] I’d like `/docs/fundamentals/abilities` to redirect to the starting point of the abilities content, probably the mental model doc. You can just rename the doc to “index” and it should just work.
- [ ] @hojberg can we add a redirect from `/docs/abilities` to `/docs/fundamentals/abilities`
- [ ] "abilities for the monadically inclined" should be moved to the end in the sideba

[2022-03-02 16:35] ceedubs commented on #2947
@pchiusano @hojberg I believe that now that https://github.com/unisonweb/share/pull/38 is merged, this should be fixed once the rehashed version of share is deployed.

[2022-03-02 16:43] pchiusano commented on #2947
@ceedubs no, that's not the issue - the codeblock in question is just raw text, it's not that the links are broken (which yeah you are right should be fixed when the rehashed share is deployed).

[2022-03-02 17:13] ChrisPenner commented on #2955
Another update after further digging:

* Looks like the terms which have different hashes in v1 that are consolidated in v2 just had the difference of a top-level Annotation, the new hashing algorithm always adds this if its missing, so it makes sense that they would now have the same hash.
* The corrupted-branch handling is even more complex than originally thought, the consolidation of branches

[2022-03-02 19:13] pchiusano opened #2961 "Make sure mergify waits for the windows build to finish"
Looks like it doesn't currently.

[2022-03-02 21:07] ChrisPenner opened #2962 "Add schema migration to remove 'hashing_version = 1' hash_objects"
To address #2955  we've decided to simply delete all v1 hash objects since:

* They're causing issues here since a single v1 hash might be mapped to multiple v2 objects if the database was missing objects for branches due to unexpected sync interruptions (this error has been fixed, but base has some of these cases).
* We don't really have anyone depending on v1 hashes at the moment.

We _could_ up

[2022-03-03 03:45] ceedubs commented on #2601
I think that we can mark this as resolved when https://github.com/unisonweb/base/issues/70 makes it into a release.

[2022-03-03 04:20] #2961 closed, assigned to nobody

[2022-03-03 18:29] pchiusano commented on #2931
A simple asynchronous API:

[code]

but might want something that returns `Handle` for standard in / out to support redirect, and a process id, to be able to kill the process or whatever.

[2022-03-03 19:31] #2956 closed, assigned to ChrisPenner

[2022-03-03 21:12] ChrisPenner commented on #2685
Closed in #2956

[2022-03-03 21:12] #2685 closed, assigned to ChrisPenner

[2022-03-03 21:36] pchiusano opened #2969 "`delete.namespace` should just print the number of definitions deleted, not the full diff"
Printing out the full diff is very spammy and takes a while.

[2022-03-04 03:43] aryairani opened #2970 "support symboly namesegments in scratch file parser"
Verify whether this sort of thing can round trip; and propose a solution if not.
![image](https://user-images.githubusercontent.com/538571/156695088-0f20f3fe-70a4-40cc-9986-29b543e1c54f.png)

[2022-03-04 16:19] ChrisPenner commented on #598
All done 👍🏼

[2022-03-04 16:19] #598 closed

[2022-03-04 16:45] pchiusano commented on #2947
@runarorama

- [x] current base:v3 is missing releases.M2l, pull that from base:.releases._M2l (might be there in base:v2)

[2022-03-04 21:19] ceedubs commented on #2969
Duplicate of #2897

[2022-03-04 21:19] #2969 closed, assigned to nobody

[2022-03-07 17:08] #2962 closed, assigned to ChrisPenner

[2022-03-07 17:10] ChrisPenner commented on #2955
Closed in #2967

[2022-03-07 17:10] #2955 closed, assigned to mitchellwrosen, ChrisPenner

[2022-03-07 17:26] rlmark opened #2971 "Record types don't render with their field names in docs"
A record type with field names will appear as expected in the UCM

[code]

But will not appear in the docs with associated field names. This issue appears on both the website and on Share/ the local ui.

[2022-03-07 18:17] ChrisPenner commented on #2630
Looked into this and unfortunately the implementations between all of the different `run` commands are very different from one another.

I tried the most obvious simple fix, but it turns out that using `ucm run` doesn't have names from the codebase in scope, so you get an error like:

<img width="667" alt="image" src="https://user-images.githubusercontent.com/6439644/157092228-49f96bc1-f478-499b-9

[2022-03-07 20:31] ChrisPenner commented on #2697
Closing this since we'll plan to replace github before this becomes relevant.

[2022-03-07 20:31] #2697 closed, assigned to nobody

[2022-03-08 16:15] ChrisPenner commented on #2970
I looked into this a little, we'll need to decide how we parse something like `-.-.-` ; since if `.` is a valid operator character then it could be any number of valid parses; E.g. the operator could be `-`, or it could be `-.-` inside the `-` namespace; etc.

[2022-03-08 16:21] runarorama commented on #2970
We should simply disallow . as an identifier

[2022-03-08 16:31] ChrisPenner commented on #2970
Yeah I think disallowing `.` as an operator char is the simplest valid solution here, I can make that change to the parser, but it'll mean that any existing operators using `.` won't round trip and will need to be renamed 👍🏼

[2022-03-08 18:31] aryairani commented on #2970
Eventually we can support escaped names; in the mean time I think disallowing whatever makes our lives easiest is fine.

[2022-03-08 22:21] ChrisPenner commented on #2970
The reason to support escaped names would be to ensure that users who already have dots in operator names can still round-trip their codebases and not get stuck in a weird state. They can re-name any of those operators from ucm of course, just want to make sure we're okay with the possibility some users would be in a weird state. Most likely if they've updated ucm but haven't re-pulled base recent

[2022-03-08 22:38] ChrisPenner opened #2978 "Error message for missing 'fzf' on windows could be nicer."
<img width="995" alt="image" src="https://user-images.githubusercontent.com/6439644/157337657-5d2c918b-5aa5-4b2b-9885-709c674aed84.png">

[2022-03-09 00:24] ceedubs commented on #682
@hdgarrood thanks for the heads up. I believe you are correct. I'm going to close this out and @pchiusano you can open it back up if I'm mistaken.

[2022-03-09 00:24] #682 closed

[2022-03-09 00:25] rlmark opened #2979 "Links suffixed with `.html` don't render appropriately in docs"
We may have to move this ticket over to the website repo, but I'm recording it here as a place to start triaging.

A `.html` link in a doc (below) ends up stripping the ''.html'' from the rendered link in the final generated html components.
[code]

[2022-03-09 01:01] ceedubs opened #2980 "find by type doesn't normalize type variables"
In the example below, if I find by type using `e` and `a` as the type variables for `Either` then I see the expected results, but if I use `l` and `r`, I do not see any results. I would expect find by type to normalize type variable names so that these return the same results.

This is using the `M3` release.

[code]

[2022-03-09 01:23] pchiusano commented on #2980
Suspect the issue is we need to normalize variable introduction order in the forall.

If you call the variables f and b instead of e and a then it will work.

[2022-03-09 01:25] pchiusano commented on #2980
The fix is to sort variables by the path where they first occur in the type, then introduce them in that order in the forall.

[2022-03-09 01:26] ceedubs commented on #2980
I did just verify that `l` and `r` are not names of types in my code base 😅

[2022-03-09 02:39] hojberg commented on #2979
This has been fixed. Was a bug in the build script of the website repo.

[2022-03-09 02:39] #2979 closed, assigned to nobody

[2022-03-09 15:51] ceedubs opened #2981 "Support ucm --version"
You can already do `ucm version`, but `ucm --version` is a pretty standard thing to be able to do, and I find that I keep typing it.

It's also expected by default for certain tools like [help2man](https://www.gnu.org/software/help2man/) (though that one can be configured to look for `ucm version`).

[2022-03-09 17:22] pchiusano commented on #2980
A simple fix for this: when doing a search, try all the permutations of the type variable introduction order. Technically it's exponential, but type signatures written by humans tend not to have very many type variables. If you have even 5 type variables that's a lot. Running 2^5=32 queries is no big deal.

We could also normalize the order with a pass over the index, though that's more like a sch

[2022-03-09 19:51] ChrisPenner opened #2983 "Change ctrl-c during welcome workflow to prevent cancelling base download."
We've had a few users ctrl-c when UCM is downloading base in a freshly created codebase. Currently this cancels the welcome workflow, and they end up without a copy of `base` at all, and end up confused as to why they don't have base, and they aren't provided with any clear guidance on how to fix it.

Solution:
* If a user ctrl-c's during the welcome workflow on a new codebase, nuke the new codeba

[2022-03-10 16:03] ceedubs commented on #2978
This also happens if you provide invalid arguments to `view`, such as `view 2-1`.

[2022-03-10 17:25] ChrisPenner commented on #2983
Hrmm, so deleting the codebase if the welcome workflow is cancelled/interrupted is tricky because the codebase is specified and created in a completely different spot, also it just seems a little risky to be deleting codebases that were created in a different place; so here are a few other ideas:

* Store a table in the codebase with the ‘welcome’ state in it (could be a simple ‘did welcome comple

[2022-03-13 17:04] #2601 closed, assigned to nobody

[2022-03-16 15:39] pchiusano opened #2985 "Weird decompilation of this program"
[code]

doing `display x` gives

[code]

Not super urgent

[2022-03-16 15:42] ceedubs opened #2986 "compiler: detect post-Void unreachable code"
If I have a term `loop: '{IO} Void` and then the following code, it would be nice if the compiler could warn me that `doSomethingElse` will never be executed because `!loop` never terminates.

[code]

This could be done with `Void`, which is a structural type, so it would work for all aliases of `Void`. Ideally it would also work more generally for any type with no inhabitants (such as `unique typ

[2022-03-16 15:50] dolio commented on #2985
I don't understand what's wrong in this example.

[2022-03-16 16:17] ceedubs commented on #2985
@dolio the `Right bs v = Value.deserialize bs` doesn't look right to me. The `bs` shouldn't be on the left, should it?

[2022-03-16 17:53] pchiusano commented on #2985
Right, what @ceedubs said.

This may just be a pretty-printer bug with the rendering of some destructuring binds - this could be verified just by adding that definition to the codebase (outside a doc) and seeing what it looks like when `view`d.

[2022-03-16 23:23] rlmark opened #2987 "Type mismatch error lacks nice message"
The type mismatch error for the attached sample transcript produces a non user-facing extended error message, making it difficult to understand what went wrong.

[typeMismatch.md](https://github.com/unisonweb/unison/files/8275763/typeMismatch.md)

[code]

[2022-03-17 19:33] pchiusano opened #2988 "Self-contained namespaces (replaces archived namespaces idea)"
So I want to close #1340 as being a bad approach (in addition to adding a bunch of ugly underscores to your namespace tree) and propose something better instead.

**Problem:** My namespace tree is a mess of multiple versions of libraries and definitions, even though for a given project / context, I don't really want everything that appears anywhere in my tree to be visible. In addition to just mak

[2022-03-17 19:34] #1340 closed

[2022-03-17 20:12] dolio commented on #2985
So, I think this program might not be what you think.

    Right v = ...

is defining a function (that is never used), because you don't have the pattern in parentheses. The `bs` argument is getting added because decompilation information happens after the enclosing step, I think. So the decompilation output is roughly equivalent to the input.

[2022-03-17 22:19] ceedubs commented on #2985
Ahh. Tricky.

[2022-03-17 22:32] pchiusano commented on #2985
Ah! Okay, I'll close.

[2022-03-17 22:33] #2985 closed, assigned to dolio

[2022-03-17 22:40] pchiusano commented on #2988
@ceedubs made me think that alias.term/type should also be able to reference an absolute name for their first argument - in this way, individual definitions can be brought into the "local universe" as well as whole namespaces.

[2022-03-18 01:44] runarorama opened #2989 "Universal equality on `Bytes` is always false"
[code]

[2022-03-18 02:42] ceedubs commented on #2989
@runarorama what version of ucm are you using? This used to be a problem, but I think that you fixed it in #2929.

On `release/M3 (built on 2022-03-08)` this returns `true` for me. Maybe try `debug.clear-cache` too.

[2022-03-18 10:29] runarorama commented on #2989
Also returns `true` for me on M3. Switched back to `trunk` and now I can no longer reproduce.

[2022-03-18 10:29] #2989 closed, assigned to nobody

[2022-03-18 17:57] atacratic commented on #2988
This feels good, I like it 😊

Comment: you're going to end up with a lot of copies of the base namespace kicking around, recursively through each dependency (see example below).  Is that really going to work out performance-wise?

[code]

Maybe when a library release is published its own sub-libs could be pruned just to names it references?  i.e. tree-shaking the libs namespace.  Just for the publ

[2022-03-18 18:46] runarorama commented on #2988
Came here to add the same comment as @atacratic. One thing that can save us here is that you'll normally be working with one release (or a handful of releases) of `base` in your whole tree, and since namespaces are referenced by hash, it's absolutely fine if the same hash appears at multiple levels in the tree.

[2022-03-18 19:07] pchiusano commented on #2988
Yeah, the namespace loading should preserve sharing as well, so that if the same namespace hash appears in multiple places in the tree, there aren't two copies of that subnamespace in RAM.

If we implement the optimization I mentioned of not even keeping things in RAM that are outside the current namespace, then this concern also goes away I think.

[2022-03-18 19:15] ceedubs commented on #2988
@atacratic that's a really good point.

Actually what concerns me more than performance is the potential namespace pollution. Say that I depend on a Vault client that happens to "internally" depend on some JSON library. I don't necessarily want terms/types from that JSON library to start showing up in my `view`/`edit`/autocomplete results. I think that I'd only want results from libraries that I d

[2022-03-18 19:17] ceedubs commented on #2988
But maybe the namespace pollution isn't that much of a concern, especially if we treat multiple names for the same hash as a single result. In other languages it's common to see results from transitive dependencies when using autocomplete.

[2022-03-18 19:18] pchiusano commented on #2988
`view` and `edit` could certainly rank things in `lib` lower if we want... though we don't do that now FYI. You can type `view` and see something anywhere in the tree, even outside the current namespace, as long as you pick a unique suffix.

I do want to be able to see source code for things that are dependencies of my projects and I don't think we should make people jump through hoops to achieve

[2022-03-18 19:26] ceedubs commented on #2988
@pchiusano that's an option. But I don't think that `lib.vault.Config` is as much of a problem as `lib.vault.lib.json.Config`. If you want to be able to use the latter, then I would think that you would add `json` as a top-level dependency.

[2022-03-18 19:27] ceedubs commented on #2988
Having said that, @pchiusano I like the simplicity of your proposal and would be all for giving it a try and seeing how it feels.

[2022-03-18 21:14] pchiusano commented on #2988
Yeah... as long as those are the same versions of the json library! Unison has no problem with using a library which uses a different version of the json library than the one you are using directly.

I could imagine the `install` command being smarter and removing nested libraries that already exist at the top level of your `lib`.

[2022-03-19 18:07] rlmark commented on #2971
When this is fixed, the types for `learn.glance.Pet`, `dataTypes.recordTypes.Volunteer` and `Point1` in the language guide section for record types can be transcluded by source instead of hard-coded.

[2022-03-19 18:41] hojberg commented on #2988
With formal projects, we could help this drawback by extending the lookup boundary to the nearest parent project of whatever namespace you're currently cd'd into.

[2022-03-19 18:54] #2978 closed, assigned to nobody

[2022-03-20 14:40] aryairani commented on #2947
Go team 🎉

[2022-03-20 14:40] #2947 closed, assigned to nobody

[2022-03-20 14:46] aryairani commented on #2947
I captured the last remaining item as https://github.com/unisonweb/base/issues/90.

[2022-03-21 12:30] RolfNic opened #2991 "Serverless Unison - A POST endpoint for 'ucm headless'"
The serverless paradigm is making massive strides in industry. But the languages that are being used for it do not properly support it. Unison can, since it is by design meant as a distributed language. The benefit of implementing this is that it allows organizations to adopt Unison in a very small way in their microservice architectures, simply allowing their existing programs to call unison func

[2022-03-23 17:53] dolio opened #2995 "Idea: Allow backend-specific replacements for functions/types."
Right now, we have a fixed set of builtins that every Unison implementation is expected to provide. Mostly this is down to there only being one implementation.

However, it occurs to me that it might be better in some situations to trim down the builtin API surface, and replace inefficient, default Unison implementations by something better on a backend-by-backend basis. Here are some examples:

1

[2022-03-24 13:37] aryairani commented on #2995
I like it.

[2022-03-24 13:44] aryairani commented on #2983
I like the json blob in a table idea, and eventually moving all the config prefs there.

[2022-03-24 20:39] ChrisPenner opened #2999 "Allow UCM to authenticate with Share, and store credentials for later calls"

[2022-03-25 23:21] sullyj3 opened #3001 "Let binding bug (or just uninformative error?)"
[code]

Gives
[code]

Importing my knowledge of Haskell, I assumed line 3 was a destructuring pattern match. However it seems to be a function definition shadowing `Id` (I didn't realise non-constructor terms could start with capitals - is this intentional?).

When surrounded by parens, it acts as a pattern match.
[code]
[code]

In my opinion it ought to act as a pattern match rather than a functi

[2022-03-26 00:03] sullyj3 opened #3002 "Getting vim plugin requires cloning entire unison repository"
Currently, the editor plugins reside in `unisonweb/unison/editor-support`

This means that installing or updating the vim plugin with standard plugin managers like packer:
[code]
requires cloning the entire 300mb repo, a process which takes a good couple of minutes on my machine. Besides the fact that it's slow, storing this much data unnecessarily seems not ideal.

Would it be possible to split e

[2022-03-28 13:27] pchiusano commented on #2988
I had an interesting idea: suffix-based name resolution could prefer resolutions whose resolved name has fewer 'lib' segments.

Admittedly a special case but it has the effect of preferring definitions from your project over definitions from direct dependents.

This also has the important effect of allowing your dependencies to use totally different versions of libraries without it messing up name

[2022-03-28 19:09] ceedubs commented on #3002
@sullyj3 is your packer configured to do full clones as opposed to shallow clones? I haven't used packer, but in briefly skimming some info it seems like it defaults to shallow clones. When I pull a shallow clone of unison it is ~8.5 MB.

[code]

I'm not opposed to splitting editor support into a separate repo (or even maybe a repo specifically for unison-vim). But I wouldn't expect the current se

[2022-03-28 20:11] sullyj3 commented on #3002
Hm, I wasn't aware it does a shallow clone by default. I'm not sure why it isn't for me, I certainly haven't deliberately configured it that way. I might have to debug my config.

[2022-03-28 20:31] #3002 closed, assigned to nobody

[2022-03-28 20:43] sullyj3 commented on #3002
Most likely this packer bug:
https://github.com/wbthomason/packer.nvim/issues/792

[2022-03-28 20:49] sullyj3 commented on #3002
Thanks for the tip!

[2022-03-28 23:18] aryairani opened #3004 "post-FS0 unison share stuff"
v2/debt:
- [x] scaling beyond what sqlite supports (e.g. single machine, single filesystem)
- [ ] basic permissions setting for codebases (who, what, where)
- [ ] store local var metadata separately and link in namespace, so that different users' internal naming don't compete

longer-term:
- [ ] single codebase for all (w/ correct isolation) & collaborators etc

[2022-03-29 00:25] hojberg opened #3005 "Prettying printing of docs with triple quotes results in bad indentation."
When opening a Doc that uses triple quotes to represent code and that code is indented due to it being within several nested Sections, a bunch of empty space is added at the left side of the code example:

<img width="503" alt="CleanShot 2022-03-28 at 20 17 39@2x" src="https://user-images.githubusercontent.com/2371/160508590-dd443649-1a97-4a8b-872f-f251d459218b.png">

[2022-03-29 00:28] pchiusano opened #3006 "Raw blocks don't strip leading indentation"
Minor thing we just noticed.
[code]

As a workaround, if you do a fenced code block with the language name `raw` then it works as expected.

[2022-03-29 00:29] pchiusano commented on #3005
Closing in favor of: https://github.com/unisonweb/unison/issues/3006

[2022-03-29 00:29] #3005 closed, assigned to nobody

[2022-03-29 18:13] aryairani opened #3007 "work out schema and algorithm for push/pulling out of dependency order"

[2022-03-29 18:13] aryairani opened #3008 "work out schema and algorithm for push/pulling out of dependency order"

[2022-03-29 18:26] aryairani opened #3010 "sync harness for client"

[2022-03-29 18:27] aryairani opened #3011 "server api stubs / api package"

[2022-03-29 19:45] #2061 closed, assigned to dolio

[2022-03-29 21:57] mitchellwrosen commented on #3008
Some notes from initial meeting:

[code]

[2022-03-31 14:00] pchiusano opened #3015 "These functions should have identical hashes"
These two versions of `isRight` look identical to me but somehow have different hashes. How?

<img width="303" alt="image" src="https://user-images.githubusercontent.com/11074/161073898-82520a59-daed-44e4-9ea4-3a12e889483a.png">

Here's where you can get the codebase with just the two definitions in it:

[code]

[2022-03-31 14:09] francisdb opened #3016 "Push config instructions incorrect"
[code]
(small nit, space after `push`)

**.unisonConfig**
[code]

Result

[code]

the correct format seems to be
[code]
(no dot and with quotes)

Maybe it could also indicate that `.unisonConfig` is in your home directory but I guess that's to be expected

[2022-03-31 14:26] pchiusano commented on #3015
If I had to take a guess, I'd say it's that there's actually two type signatures on the function. That is, the AST is actually (`(e : sig1) : sig2`) but the display normalizes for this while hashing does not. It could also be something with hidden ability variables, though this function should be pure and there's nothing higher order.

@mitchellwrosen could you confirm that the logic is the follow

[2022-03-31 14:27] pchiusano commented on #3015
@mitchellwrosen I assigned to you. I don't think it's urgent, though.

[2022-03-31 14:31] pchiusano commented on #3016
Good catch!

[2022-03-31 16:34] mitchellwrosen opened #3017 "Some code somewhere is decoding a decl object that it believes is a term object"
I discovered this while working on #2718. More info, and a fix, to come.

[2022-03-31 16:51] mitchellwrosen commented on #3017
<details>

[code]

</details>

[2022-03-31 17:12] mitchellwrosen commented on #3017
Oops, this bug was actually introduced in #2718. `trunk` is fine.

[2022-03-31 17:12] #3017 closed, assigned to mitchellwrosen

[2022-03-31 18:52] ceedubs opened #3020 "compile command doesn't like fully-qualified term names"
The `compile` command can't find my main method if I use a leading `.`, but is otherwise happy.

[code]

[2022-03-31 18:57] mitchellwrosen opened #3021 "Can't load all packages into one repl due to duplicate module names"
`stack ghci` prints this:

[code]

[2022-03-31 19:48] aryairani commented on #3021
Bummer. Is there an easy way to check this in CI going forward?

[2022-03-31 19:48] #2744 closed, assigned to nobody

[2022-04-01 01:37] hojberg commented on #2139
This behavior seems to still happen for things like this.

Here's the `Generic` type: https://share.unison-lang.org/latest/types/@4bmfrnjpg2giq9kv7bsvmsb37u0dt4a925i570da1qvga6u81t9jstnd3t24lmvfl7hd55j703bshg32bsj27edcomilu2nctp1kgn0

Results in servers being bounced and returns a 502 as that happens—i'm assuming the ucm instance crashes.

cc @pchiusano @runarorama

[2022-04-01 03:55] ChrisPenner commented on #2786
Resolved in #2814

[2022-04-01 03:55] #2786 closed, assigned to ChrisPenner

[2022-04-01 16:14] #3011 closed, assigned to ChrisPenner

[2022-04-03 01:21] mitchellwrosen commented on #3015
Thanks, I can look into this more when I find some time, or if/when it becomes urgent.

I did play around a little bit at the command line and couldn't come up with a way of getting a second type ascription like `(e : sig1) : sig2)` as you suspected, but I did manage to figure out the full types for your `isRight1` / `isRight2` / `isRight2`:

[code]

I'd be curious to hear if `isRight1` and `isRig

[2022-04-03 01:42] pchiusano commented on #3015
Ah. I think that explains it, then. We should normalize for quantifier order.

isRight3 is the correct type to infer, I’d say. The new inference algorithm will generally zero out covariant only ability variables. They don’t serve any purpose.

[2022-04-04 13:50] meijeru opened #3027 "Cryptic error message when block does not end with expression"
See this thread: https://unisonlanguage.slack.com/archives/C036D4CGA0K/p1649066392819389

[2022-04-04 14:08] mitchellwrosen opened #3028 "Some Read instances are unused"
Originally noticed here https://github.com/unisonweb/unison/pull/3022#discussion_r840208202

Some `Read` instances are unused, and `Read` is kinda suspect anyway. We might consider just removing them all.

[2022-04-06 14:39] ceedubs opened #3030 "patch help should describe optional argument"
I believe that the `patch` command accepts an optional patch argument, but it isn't described in `help patch`:

[code]

[2022-04-06 17:42] #1653 closed, assigned to nobody

[2022-04-07 07:09] #2988 closed, assigned to nobody

[2022-04-07 14:10] 3nigm4 opened #3034 "Windows Terminal with Windows CMD eats characters"
[code]

Description

After typing the correct command the wrong command is exectued. When pressing up to see what command ended up in history, it is indeed the wrong command. When trying to delete the line, the part "te.a" can not be deleted.

Expected behavior:
create a new author (there is no author yet).

Environment parameters:

I deleted .unison and ran ucm.exe again. Same behavior.

Windows

[2022-04-07 14:15] pchiusano opened #3035 "Cannot decompile"
[code]

And then do `display article`, which yields

[code]

The doc in question has some embedded definitions. I could convert them to use `@source` instead, so I'm not blocked, but I thought this would make a decent bug report since it would be nice if this worked.

[2022-04-07 14:16] 3nigm4 opened #3036 "Improve error message when using keyword"
[code]

Hey, I found this in a tutorial and I was very confused, as I am completely new to unison. Maybe the error message could point out why this failed. @pchiusano said "namespace" is a reserved keyword!?

Anyway have a great day!

[2022-04-07 16:08] ChrisPenner commented on #2999
Merged in #3000

[2022-04-07 16:08] #2999 closed, assigned to ChrisPenner

[2022-04-08 16:31] dolio commented on #3035
Here's a smaller test case:

    doc1 = {{
      @typecheck ```
      oa : Set Text
      oa = Set.fromList ["alice", "bob", "carol"]
      contains "alice" oa
[code]
    }}

Has something to do with floating things in the first snippet. Note that switching the order of the snippets avoids the problem.

[2022-04-08 20:06] ceedubs opened #3037 "type-checking false positive with effect type"
[code]

[code]

[2022-04-11 14:01] aryairani opened #3038 "sqlite/haskell implementation for syncing to push/pull to share using existing API types"

[2022-04-11 16:41] dolio opened #3041 "Updating a data type can leave references to the old type."
When updating a data type in a child namespace, it's necessary to fully qualify all recursive references right now, like so:

[code]

If this is not done, like this:

[code]

then it seems that name resolution is involved for the recursive references, and the new version of the type is not actually considered. So, the new version of the type ends up having the _old_ version occurring in all the (u

[2022-04-11 23:38] ChrisPenner opened #3042 "Lots of back and forth in Git can result in the inability to push."
https://unisonlanguage.slack.com/archives/C036D4CGA0K/p1649716812169779

[code]

### Notes for reproductions:

[Source](https://unisonlanguage.slack.com/archives/C036D4CGA0K/p1649753403728309?thread_ts=1649716812.169779&cid=C036D4CGA0K)

Deleting the content on ~/.cache/unisonlanguage/gitfiles for my namespace works. I was able to push the namespace to my repo without loosing any changes.
Which gi

[2022-04-13 19:14] ChrisPenner opened #3044 "Speeding up Share APIs on a "cold" codebase"
Pursuant to having a share server which runs across many different hosted codebases, we need an implementation of all the required endpoints such that they're reasonably fast without needing the entire codebase loaded into memory at all times.

Currently, all of the following endpoints pay an ~8s "Branch Load" tax on every single call, which is of course unacceptable.

[code]

## Browse Endpoint

[2022-04-13 19:39] kubukoz opened #3045 "aarch64 support"
Hi, I'm wondering if there are any plans to provide ARM binaries - e.g. for M1 macs. Are there? 😅

[2022-04-13 20:37] pchiusano commented on #2248
Just discussing this with @aryairani and we came up with a few ideas to keep the default patch super clean:

* The default patch should only contain things that pertain to your in-progress refactorings. Once you're done with a refactor (there's nothing `todo`), that default patch gets moved to `patches._2022_01_10_someguid`.
* On `merge`, it checks for patches in `patches` that the target branch d

[2022-04-14 13:53] aryairani opened #3048 "external namespace change not consistently reflected in repl"
<img width="902" alt="image" src="https://user-images.githubusercontent.com/538571/163405284-90109d80-721e-4c3b-bcae-9df7b275d5e6.png">

After reloading `ucm`, this command will succeed, but it shouldn't be necessary to restart `ucm`.

[2022-04-14 17:31] aryairani opened #3049 "can we check for open handles to the codebase on migration"
to suppress the "close all other clients" message if there aren't any others

[2022-04-15 18:01] pchiusano opened #3050 "Parser mishandling of nested fn args in parens"
This doesn't parse, it points to the `'1` but I think it should:
[code]

[2022-04-15 18:01] pchiusano commented on #3050
Workaround is to indent the args a bit more:

[code]

But this shouldn't be necessary.

[2022-04-18 20:10] dantb opened #3053 "Make ucm history length configurable"
Might only be my workflow, but I tend to max out shell history lengths for everything. Means I can reverse search some substring of a command I knew I did at some point, even if it was years ago. Found myself wanting it for `ucm` so thought it might be useful here too!

[2022-04-19 14:43] dolio commented on #3053
This actually can be configured already, because ucm is using a library for the command line handling that has its own configuration (similar to readline). On unix-like systems, at least, the configuration is in `~/.haskeline`. I recently put the following in mine:

    maxHistorySize: Just 2000
    historyDuplicates: IgnoreAll

This gives you 2000 lines of history, and only stores one copy of an

[2022-04-19 15:56] ceedubs commented on #3045
This has come up a few times as a useful thing that we'll want to do. As far as I know GitHub Actions don't support building as an M1 Mac, but please let me know if you know of a good solution to this. We may be able to run builds on another CI that can build as an M1 Mac, but it might be a while before we get around to that.

[2022-04-19 18:49] dantb commented on #3053
Thanks @dolio this worked on Mac. I didn't have the file but creating it with those lines seems to allow `.unisonHistory` to go higher

[2022-04-19 18:49] #3053 closed, assigned to nobody

[2022-04-19 23:05] #2622 closed, assigned to aryairani, mitchellwrosen

[2022-04-20 15:27] ceedubs opened #3055 "pretty-printer drops forall when it shouldn't"
Write the following function:

[code]

This compiles just fine. However if you `add` it and then `edit` it, the pretty-printer rewrites it to

[code]

The universal quantification is stripped from `nested`, so it fails with the following error:

[code]

An alternative to preserving the universal quantification would be to alpha-normalize the type variable name, in which case this is related to #52

[2022-04-21 16:59] pchiusano opened #3057 "Make dynamic code-loading builtins use hashes of the ANF code rather than the AST hashes"
Right now, `Value.dependencies`, `Code.cache_` and so forth work with `Term.Link`. This is not great because `Code.cache_` has no way of verifying that the `Code` it's getting actually matches the `Term.Link` hash.

What we should do is use a new type `unique type BytecodeHash = BytecodeHash Bytes`, and use this instead of `Term.Link` everywhere.

This way, a "safe" wrapper of `Code.cache_` can ac

[2022-04-21 19:59] rlmark commented on #2987
I keep hitting this one. (I suspect I am the common element here), but for context and posterity this happens when you're writing ability handlers, but forget to include a reference to a generic ability in your handler.

[code]

It'll give you back a note:

[code]

[2022-04-22 13:35] ceedubs opened #3058 "validateSandboxed false positives from closure context"
The following is output from [this transcript](https://gist.github.com/ceedubs/d0a781269edb22545620e83efe1b8a3d).

# validateSandboxed false positives from closure context

The `pureStuff` function is pure, which `validateSandboxed` recognizes.

[code]

[code]
[code]
If we extract `pureStuff` into a top-level term, then we can add a sandboxed operation (`Debug.trace`) to our main method while pres

[2022-04-22 15:22] ceedubs commented on #3058
We are considering this to not be very high priority for the moment. But in the future we may want to address it.

[2022-04-22 18:06] dolio commented on #3058
Just to note: the reason this happens is that sandboxing information is only tracked for whole definitions with a codebase reference. Local sub-definitions don't have their status tracked individually. So any use of a denied function will taint the entire definition. It's probably possible to figure out each definition on its own, but it'd involve extra work.

Factoring the safe parts into their o

[2022-04-26 16:55] ceedubs commented on #2988
@pchiusano I just noticed a side effect of this. This encourages the `lib` approach, so you get to the point where running `test` runs the tests for all of your `lib` dependencies. With test caching I don't really think that this is a concern. Just bringing it up since I hadn't considered this consequence.

[2022-04-27 02:07] pchiusano commented on #2988
Good observation. It’s kind of noisy to include all that in the test output, though, even if it’s cached. I’ll noodle on it.

[2022-04-27 14:04] philderbeast opened #3060 "Building easytest removeLink permission denied"
From the readme "The build uses Stack". Would you accept a contribution to add a `cabal.project`?

I don't use homebrew to manage stack as described in the readme but use ghcup for that. I had previously been able to build unison but it is failing with the latest source, at d79e396c44665fc5dd963cda6c31695b464bf8d2.

[code]

I was able to build easytest with cabal.

[code]

[code]

[2022-04-27 14:09] philderbeast commented on #3060
Here's the setup I built easytest with. I typically build projects in stack and cabal.

![Screen Shot 2022-04-27 at 10 05 42 AM](https://user-images.githubusercontent.com/633283/165537351-ebc043d2-4136-445b-beb1-ef9b6dc31cb7.png)

[2022-04-27 20:42] philderbeast commented on #3060
I had a quick look to see what I could build with cabal and ghc-8.10.7. Here's the `cabal.project` with packages roughly sorted by number of in-project dependencies. Commented out ones don't build as-is, because of megaparsec.

[code]

[2022-04-28 13:56] aryairani commented on #3060
Hi @philderbeast, we have `contrib/cabal.project` that is community-maintained but not officially supported.

We've seen errors like this before
[code]
which seem to be due to a bug in `stack` and/or Windows. But I see you're on macOS, correct?

What happens if you run `stack` again? Is there any chance you have two instances of stack running at the same time? Perhaps one through `haskell-language

[2022-04-28 17:07] philderbeast commented on #3060
Yes this is on macOS.

I rebooted and didn't open vscode for which I do have the Haskell extension that uses HLS. I had expected to be good to go after deleting `.stack-work` in the root of the repo but found plenty of other like folders, such as `/.../codebase2/util-term/.stack-work`. The permission denied error also gets to `stack clean`. I do think it is likely a bad interaction with HLS.

I go

[2022-04-28 17:09] #3060 closed, assigned to nobody

[2022-04-28 17:14] philderbeast commented on #3060
For anyone else looking, this is not in the unisonweb/contrib repo but in this repo at [`contrib/cabal.project`](https://github.com/unisonweb/unison/blob/trunk/contrib/cabal.project).

[2022-05-02 20:35] aryairani commented on #3045
There is no official binary distribution of `stack` for darwin arm64 at the moment either. There is an unofficial binary provided by ghcup folks, but it segfaults for me. This is the first thing that would have to change before we'd have a timeline for M1 binaries.

@kubukoz Are you having some kind of trouble with the x86 build? Or just excited about arm64 like me?

[2022-05-03 12:17] kubukoz commented on #3045
It's just the efficiency I'm worried about 😄

[2022-05-03 12:44] aryairani commented on #3045
Gotcha — I'm no expert, but I'm operating under the assumption that Haskell code compiled with the arm64 backend could actually be slower than when compiled with the more mature x86 backend and then translated through Rosetta, so I think this could be the more efficient option for a while too. Plus, we're working hard to make ucm efficient in other ways :)

[2022-05-04 20:58] ChrisPenner opened #3065 "[Tech Debt] Dismantle "Command <-> Action" divide"
Me, @aryairani  and @mitchellwrosen  agreed it's providing pretty limited value for the amount of pain it's causing. we can remove the command abstraction and make each action/command use the same shared monad.

We can investigate removing the Free monad at the same time, we're not really using it.

[2022-05-04 21:01] pchiusano commented on #3065
Yeah.

I feel like MTL-ish typeclasses on a regular ol' monad would be good.

[2022-05-05 17:19] #3044 closed, assigned to nobody

[2022-05-06 16:53] iacore commented on #2805
same problem here

[code]

[code]

[2022-05-06 17:22] iacore commented on #2528
Here because database migration is slow.
Any plan to use https://github.com/LMDB/sqlightning? It's about 20x faster than SQLite. No haskell bindings though.

[2022-05-06 18:02] pchiusano commented on #2528
Looks interesting, but probably not something we can consider in the short term, and I doubt SQLite's data structures are the bottleneck anyway. We're just loading too much stuff on startup that isn't really necessary, and also doing too many point queries.

FWIW, it looks like the claimed ~ 20x is only relevant for inserts (and does that come with same durability guarantees as SQLite?) - other ac

[2022-05-07 18:00] iacore commented on #2845
It doesn't even use `base.syntax.docUntitledSection` even it exists. Maybe a better way to is to look up `docUntitledSection` in scope?

[2022-05-09 14:03] pchiusano commented on #2845
@locriacyber any chance you have multiple versions of base floating around in your namespace tree? That's the only explanation I can think of. It will also be fixed in next release, which includes https://github.com/unisonweb/unison/pull/3003.

If that's not it, can you try to put together a transcript to reproduce? Here's a guide to the syntax: https://raw.githubusercontent.com/unisonweb/unison/t

[2022-05-09 17:52] iacore commented on #2845
You gave the wrong link. It should be `hello.md`.

Will the next release respect `use` statements?

It seems like the bug happens when `base.syntax.docUntitledSection` and `builtin.syntax.docUntitledSection` exist together.

The transcript should be something like this:
[code]

However, `pull` is taking a long time to finish.

[2022-05-09 18:13] pchiusano commented on #2845
@locriacyber I see. You can delete `builtin` namespace as a workaround for now.

There should be no need to run `builtins.mergeio` - all supported builtins are included in base.

A `use` statement should work I think, and if not that's a separate bug. Can you share what you've tried for this?

[2022-05-09 22:14] iacore commented on #2845
The bug is fixed in ucm version: release/M3 (or I can't reproduce it). I was using M2I before. I vaguely remember having `base.syntax.docUntitledSection` and `builtin.syntax.docUntitledSection`, but the following code still won't work.

[code]

***

One more thing: Unison don't search for `docUntitledSection` not inside a `syntax` namespace.

[code]

[code]

[2022-05-10 21:29] aryairani opened #3069 "OutputMessages.prettyReadRepo, etc. don't render git branch/ref info"

[2022-05-11 18:13] aryairani opened #3070 "get rid of configurator"
maybe YAML or TOML or Sqlite

[2022-05-11 18:14] aryairani opened #3071 "simplify "create pull request" after getting rid of `Command`"

[2022-05-11 18:15] aryairani opened #3072 "get rid of `Command`"
- [x] #3071

[2022-05-17 16:11] #2981 closed, assigned to nobody

[2022-05-18 14:29] plumenator commented on #365
Is the idea here to add a `toText` and `toRepresentation` for each type? Or is it to add a `Universal.toText`? Given that this is labeled a "good first issue", I guess it must be much simpler than that?

[2022-05-24 12:16] iacore opened #3077 "Value.load can turn anything into anything"
Try to run this code with only builtins.

[code]

[code]

[2022-05-24 13:58] pchiusano commented on #3077
Value.load is an unsafe operation, by design. It is mainly used as a low level primitive for supporting distributed execution, in conjunction with Value.serialize.

Like other languages, Unison doesn’t retain type information at runtime (especially not full polymorphic type instantiations), so this function can’t really do anything else than to just trust the programmer.

[2022-05-24 13:58] #3077 closed, assigned to nobody

[2022-05-26 17:59] hojberg commented on #2909
@aryairani here's a few items I have:

# Before dogfooding:

### UI
* [x] Can't close the last item in the workspace

### Don't know which category this fits in
* [x] 500 app error on SQLite lock https://github.com/unisonweb/unison/pull/3091

# Before public release

### UI
* [x] Namespace details in Perspective disappear when opening a definition
* [x] Avatar border for contrast
* [x] Slow main n

[2022-05-26 19:30] pchiusano commented on #2909
## Before public release

ToS & privacy policy

- [ ] @runarorama to review terms of service and privacy policy, make any notes and edits
- [ ] @pchiusano to finalize ToS, send to @hojberg for HTML-ificiation

[2022-05-27 01:28] #3030 closed, assigned to nobody

[2022-05-31 17:22] ChrisPenner opened #3082 "Be smart when UCM is non-interactive"
UCM is sometimes run in a non-interactive session, e.g. transcripts, when 'running' a .uc file, and of course, when running in Enlil.

UCM should know whether it's hooked up to an interactive tty and behave differently in a few scenarios.

* Enlil shouldn't be waiting for a user to hit <enter> before migrating a codebase
* UCM shouldn't farm out to `less` on non-interactive sessions.
* Maybe UCM s

[2022-06-01 12:13] ceedubs commented on #3082
There was also discussion about some of these items in #2518.

[2022-06-01 12:15] ceedubs commented on #3082
You could also potentially address this with a flag (similar to `-y` for apt-get). But I'm not sure how that would interact with transcripts. Would transcripts behave differently depending on whether you supplied the auto-approve flag?

[2022-06-01 13:30] aryairani opened #3083 "verify pulling local git repos w/ branch using `git(..)` syntax"
e.g. `git(base.git:v4)`

[2022-06-01 19:16] aryairani opened #3084 "help text fields for `push.create` are wrong / copy-pasted from `push`"

[2022-06-01 19:58] aryairani commented on #2909
- [x] some kind of wrong error message, in place of "you said push.create but there was already something there"
[code]

[2022-06-01 20:00] aryairani commented on #2909
- [x] "you are bad" can mean "I don't see a `test1` in the current namespace."
[code]

[2022-06-01 20:12] aryairani commented on #2909
- [x] missing a `.`
[code]

[2022-06-01 21:24] aryairani commented on #2909
- [x] pushing seems to strip off the first name segment (want to do the thing with "public" instead)
- [x] actually call `CodebaseOps.updateNameLookupIndex`
- [x] "no read permission" when trying to read non-your codebase non `.public` namespace
- [x] pushing base m3 sometimes we get the sql error sometimes
- [ ] pulling test.b.c triggered branch parse error
[code]

[2022-06-02 17:35] aryairani opened #3085 "hash-verify all uploads coming into Share"
* hash-verifying all uploads (not in FS0). You can only write to your own repo, so be careful about who you pull from.
  * hash a term component entity
    * convert to a hashable structure
    * hash the structure
  * hash a decl component entity
    * convert to a hashable structure
    * hash the structure
  * convert namespace entity to DbBranch
  * convert patch entity to DbPatch

Some notes:

[2022-06-02 17:45] aryairani opened #3086 "investigate: nice error message if share auth token has expired"
step 1: take a look at what's there and enumerate some options for proceeding

[2022-06-02 17:49] aryairani opened #3087 "Progress indicator during push/pull"
basically count up the number of entities sent or received in a nice way
bonus: show kb/s or other human-readable transfer rate (ideally exposed by the http client, not us)

[2022-06-02 17:51] aryairani opened #3088 "Ensure good ucm message when a Share permission error is triggered on push or pull or pr.create"

[2022-06-02 17:57] aryairani opened #3089 "Have empty `push` not refer to deprecated GitUrl config key"
possibly closed by #3080

[2022-06-02 17:59] aryairani opened #3090 "nice ucm message for when Share authentication expires (e.g. 401's from share)"

[2022-06-03 21:32] tankorsmash opened #3096 "[vim plugin] Can't get omnicomplete working on Windows (native)"
`<C-X><C-O>` fails with E484 on my Windows 10 machine, but works in WSL. I'm on gVim 8.2.3562.

<img width="832" alt="image" src="https://user-images.githubusercontent.com/1312390/171954968-20318e38-6c5b-421a-aa1b-eca48d5d33b2.png">

A version of the error if I enable logging with `-V9myVim.log`:
[code]

Trying with `set noshelltemp`:

[code]

Here's [a gist of the output ](https://gist.github.com

[2022-06-03 21:56] hojberg commented on #2909
## Before public release

* [x] Support the Unison organization, such that users can browse and download `unison.base`

[2022-06-05 22:49] tankorsmash opened #3098 "error highlighting is offset"
Windows native through Powershell 7 and Windows Terminal Preview
Version: 1.12.3472.0 (ucm.exe version: release/M3 (built on 2022-03-07)):

![image](https://user-images.githubusercontent.com/1312390/172073716-cb08bac9-d704-47d3-b9ff-aa9f5576666b.png)

Windows Subsystem for Linux (through default terminal) (ucm version: release/M3 (built on 2022-03-08)):

![image](https://user-images.githubusercont

[2022-06-06 13:48] aryairani commented on #3098
Thanks for the report! I can reproduce this bug on macOS too, so it's not specific to Windows. I'll edit the issue title.

[2022-06-06 17:41] ceedubs commented on #3096
@tankorsmash sorry that you are running into this. I'm the one who wrote the omnicompletion, and I'll admit that I didn't even think about trying to get it to work natively in Windows.

Would you expect piping a curl command into a `jq` command to work with a vim `system` call on Native windows? I don't really know anything about what shell this would be going through.

I know next to nothing abou

[2022-06-06 18:17] aryairani commented on #2909
- [ ] follow-up on https://github.com/unisoncomputing/enlil/pull/30/files#r890412219
- [ ] get CI green going for the `enlil` sync branch

[2022-06-06 18:51] tankorsmash commented on #3096
I'll have to do some more research on how other plugins handle this case then, because it must be pretty common to use pipes through vim, but again I have no idea!

 Running `:call system("echo '[]' | jq . | echo")` doesn't throw any errors (or produce any output that I can see), which is probably relevant, but I'm not sure how.

I'll look into this more and update if I get anywhere. Thanks!

[2022-06-06 19:09] pchiusano opened #3101 "Windows CI seems to rebuild all dependencies a lot"
Not high priority, but the windows build seems to often rebuild all dependencies, whereas the other targets do not.

<img width="911" alt="image" src="https://user-images.githubusercontent.com/11074/172229727-6c1d57cb-715d-40a0-99b1-90190fd26103.png">

<img width="1009" alt="image" src="https://user-images.githubusercontent.com/11074/172229781-9e3f7c29-6391-4911-bca5-adbb32c36bba.png">

[2022-06-07 16:42] ChrisPenner commented on #3089
Current behavior now:

* Checks for a `RemoteMapping` key in your config, if it finds that dict, try finding a matching path prefix there and use that.
* If it finds a `RemoteMapping` but no matching prefix, print an error indicating we don't know where to push
* If we don't find any `RemoteMapping` dict, fall back to the deprecated `GitUrl` behaviour.

[2022-06-07 16:42] #3089 closed, assigned to nobody

[2022-06-07 21:33] aryairani commented on #2909
- [ ] review 1d1a963ed18e80ca476ecacd4a62516457534eb8 and apply changes to server impl too if we like it

[2022-06-08 14:13] #2695 closed, assigned to nobody

[2022-06-08 17:20] #2838 closed, assigned to nobody

[2022-06-11 18:24] #3038 closed, assigned to nobody

[2022-06-11 21:30] aryairani opened #3108 "better unison share connection refused message"
Currently:
<img width="766" alt="image" src="https://user-images.githubusercontent.com/538571/173205518-98b5fff7-608f-4deb-aa34-3e7d302dd888.png">

[2022-06-13 15:03] aryairani commented on #2909
## FAQ
* Why don't we allow pushing outside of `public`? We haven't worked out hiding private stuff on the front-end.

[2022-06-13 15:10] aryairani opened #3109 "confirm: what's in place for client-side fast-forward check"
When the client pushes, it asks where the server is (`s`); then it searches through the history of the causal it wants to push (`c`), and succeeds if it finds `s`.  It also retains the path from `s` to `c`, which we pass as an api parameter to fast-forward, so that the server doesn't have to do much work to know whether this is a fast-forward push.

[2022-06-13 15:24] #3109 closed, assigned to nobody

[2022-06-13 17:21] rlmark opened #3110 "Roundtrip error for multi-line lambda syntax"
The following code, with a multi-line lambda, can be added to the codebase:

[code]

Upon saving and editing, the following, non-typechecking code is rendered back:

[code]

In order to allow the expression to typecheck, folks are adding newlines or `let` expressions.

Another example from the slack:

[code]

[2022-06-13 18:37] aryairani opened #3111 "set up unison organization and ensure at least rúnar has access, and publish base there"

[2022-06-13 19:11] ChrisPenner opened #3112 "Add a semantic version for Unison Sync APIs or Codeserver"
- [ ] Add a semantic version for Unison Sync APIs
- [ ] Send this in some header for metrics
- [ ] Send this when requesting the Codeserver Description document
- [ ] (Optional) - detect newer codeserver versions and do something in that case? Maybe just an error?

[2022-06-14 15:40] hojberg commented on #2911
I'm planning on making a dedicated page on Share for this btw.

[2022-06-15 18:27] ChrisPenner commented on #3088
Consider this Ensured 👍🏼

[2022-06-15 18:27] #3088 closed, assigned to nobody

[2022-06-15 23:34] tankorsmash opened #3120 "[Feature Request] Allow `find :` without specifying the abilities"
It would be nice to be able to do a `find :` without specifying abilities.

I was trying to understand how to do file IO, and found `io.openFile`, which returns a `Handle`. I ran `find handle text` to try and figure out how to manipulate a `Handle` at all, and scanned for something in the many matches but nothing stuck out. Then `find : Handle -> Text` came up with 0 results, and as well as `find

[2022-06-16 00:02] aryairani commented on #3120
Clarifying: “forall” abilities can be left off, but it might be nice to be able to search for functions without knowing the specific abilities they require too

[2022-06-16 00:41] pchiusano opened #3121 "Idea to speed up pretty-printing"
Right now we build a pretty-print `Names` for the current path, using some crazy combination of relational operators on the whole namespace. This seems to be slow.

We do this to achieve the shadowing of the current path names vs the root names.

Instead, we could just build the two pretty-print environments and `mappend` them. The pretty-print environment is just a function `Reference -> Maybe Na

[2022-06-16 20:45] hojberg commented on #2909
Adding a few "Before public release" UI items:

- [x] Setup metrics
- [x] Welcome terms modal
- [x] Empty codebase instructions
- [x] Good Pager Duty rotation setup

[2022-06-17 12:40] aryairani opened #3129 "ucm tech debt megaticket"
**Add new stuff to comments** to triage, and we'll filter them back up to here in meetings.

- [ ] freeze migration code, or other solution (https://github.com/unisonweb/unison/pull/3119#issuecomment-1164601690)
- [ ] a bunch of renames
  - [ ] ...
- [ ] compute iosource at compile time maybe?
- [x] two abts (work started here https://github.com/unisonweb/unison/pull/3113)
- [ ] simpler term funct

[2022-06-17 17:21] aryairani opened #3130 "add api transcripts to enlil CI"

[2022-06-18 03:05] aryairani commented on #2909
@hojberg
- [ ] one too many `public.` in here:
<img width="533" alt="image" src="https://user-images.githubusercontent.com/538571/174420264-d692b6be-09e4-49f5-8fe0-6513ece8ba0e.png">

[2022-06-18 03:16] aryairani opened #3132 "one too many `public.` in download modal"
<img width="533" alt="image" src="https://user-images.githubusercontent.com/538571/174420264-d692b6be-09e4-49f5-8fe0-6513ece8ba0e.png">

[2022-06-18 03:19] aryairani opened #3133 "clicking on a type/ability constructor name loads an error"
e.g.
https://share-next.unison-lang.org/users/pchiusano/code/latest/namespaces/public/distributed/trunk/;/types/lib/base/ANSI/Color
or
https://share-next.unison-lang.org/users/pchiusano/code/latest/namespaces/public/distributed/trunk/;/terms/Box/close

clicking on a constructor or request in the main pane produces an error
<img width="1281" alt="image" src="https://user-images.githubusercontent.co

[2022-06-18 13:50] hojberg commented on #3132
Thanks!
@aryairani I'm going to move this to the share-ui repo.

[2022-06-18 13:51] hojberg commented on #3132
Closing here, and re-opening there. Transferring doesn't work cross org.

[2022-06-18 13:51] #3132 closed, assigned to hojberg

[2022-06-18 18:57] pchiusano opened #3134 "Empty namespaces are shown in Unison Share and Unison Local"
<img width="226" alt="image" src="https://user-images.githubusercontent.com/11074/174452566-5d1779e5-6d36-48a3-9861-4bb8483d1802.png">

We discussed in Slack, we think the backend should strip these out before sending JSON to the front end.

[2022-06-19 20:49] aslilac opened #3136 "`ucm transcript`: segmentation fault"
- 1.0.0-M3
- macOS 12.4, aarch64

Running `ucm` works fine, but running `ucm transcript something.md` will always seg fault (provided that something.md exists, doesn't seem to matter what's inside though)

<img width="954" alt="Screen Shot 2022-06-19 at 2 49 18 PM" src="https://user-images.githubusercontent.com/418348/174499877-87a9dc5b-8e94-4259-89de-2bd9ac5c9aba.png">

[2022-06-19 20:50] aslilac commented on #3136
https://unisonlanguage.slack.com/archives/CLUNF0J5S/p1655670870923609

[2022-06-20 02:43] aslilac opened #3137 "suggestion: add command to quickly create a codebase without starting the repl"
Something like `ucm new --with-base ./` that creates a codebase and then exits could be helpful

[2022-06-20 02:51] pchiusano commented on #3137
If you or anyone would like to have a go at this, https://github.com/unisonweb/unison/blob/trunk/unison-cli/unison/ArgParse.hs#L98 might be a good starting point, you could add another flag that says whether to exit after initialization.

[2022-06-20 03:15] hojberg commented on #3133
This should be fixed now.

[2022-06-20 03:15] #3133 closed, assigned to hojberg, ChrisPenner

[2022-06-20 13:34] aslilac commented on #3136
https://unisonlanguage.slack.com/archives/CLUNF0J5S/p1655695569394639

[2022-06-20 17:54] rlmark opened #3140 "Docs typecheck blocks cannot support elements with same name in one Doc"
Docs typecheck blocks containing elements named the same but with different implementations render only first implementation.

This comes up when documenting different examples of how to write a given expression. In one doc element you may reference a term which happens to have the same name across examples.

(example term attached here because transcript parser is struggling with triple backticks

[2022-06-20 21:03] ChrisPenner opened #3143 "Pulling definitions which depend on builtins fails if your local codebase doesn't have them."
Pulling definitions which depend on builtins fails if your local codebase is empty:

Reproduction:

* Create a brand new EMPTY codebase
* Pull definitions from a share server
* Get error (below)
* Run `builtins.mergeio`
* Re-pull; No error!

[code]

[2022-06-20 21:08] ChrisPenner commented on #3143
Hrmm, actually it seems the code I was pulling was mostly what was in `builtins`, so it's possible something else is causing this crash.

[2022-06-21 20:22] pchiusano opened #3144 "Sand rough edges with self contained namespaces"
- [x] `find` with no args ignores subnamespace `lib`, `find.all` does what find does now, maybe add a tip at the end of `find` output. @tstat / @mitchellwrosen
- [x] similarly with `test` - it ignores `lib`, and `test.all` does what `test` does now @mitchellwrosen
- [x] improve error messages - if the namespace has no name for, like, `Int` and `List`, we can surmise it's missing a copy of base and

[2022-06-22 13:37] pchiusano opened #3145 "reflog output could show a tip that you can do `diff.namespace 1 7` to see namespace diff between two points in history"

[2022-06-22 13:38] pchiusano commented on #3145
Look in `OutputMessages.hs` for where the `reflog` output gets shown.

[2022-06-22 15:25] ChrisPenner commented on #3111
Done

[2022-06-22 15:25] #3111 closed, assigned to ChrisPenner

[2022-06-22 16:38] aslilac commented on #3136
https://unisonlanguage.slack.com/archives/CLUNF0J5S/p1655914568739969?thread_ts=1655870940.870599&cid=CLUNF0J5S

[2022-06-22 16:40] aslilac commented on #3136
This seems to be an upstream issue with ghc/stack. The same build process on x86-64 results in an executable that doesn't have any of the issues I was describing (like this seg fault, and the weird line width)

[2022-06-23 17:38] aryairani commented on #3143
Is there a specific definition that will cause the reproduction?

[2022-06-23 17:46] aryairani commented on #3143
This succeeds on a new codebase:
[code]

This fails on the first try, but succeeds on the second; no `builtins.mergio` required

[code]

[2022-06-23 21:06] ceedubs opened #3148 "Confusing message for nonexistent handler"
the following code:

[code]

produces the following error message:

[code]

I spent quite a while trying to figure out my type error before finally realizing that it was a _typo_ error. It would be helpful if the error message said that it didn't know what `abortHadler` is instead of saying that it has the wrong type.

[2022-06-24 01:57] #3037 closed, assigned to dolio

[2022-06-24 01:58] #2848 closed, assigned to dolio

[2022-06-24 12:01] emilhotkowski commented on #3137
Could I pick this up?

[2022-06-24 13:31] mitchellwrosen opened #3150 "looked up bad dynamic: 63"
[code]

[code]

[2022-06-24 13:32] mitchellwrosen opened #3151 "looked up bad dynamic: 65"
(Might be the same bug as #3150)

[code]

[code]

[2022-06-24 13:35] mitchellwrosen commented on #3137
@emilhotkowski Please! And feel free to join the public Discord to hang out or pair if you'd like a second pair of eyes. https://discord.gg/Ns6zzsDhaJ

[2022-06-24 22:17] pchiusano commented on #3151
this should just be a type error - watch expressions shouldn't have access to abilities.

[2022-06-24 22:18] pchiusano commented on #3150
Closing as a dupe.

[2022-06-24 22:18] #3150 closed, assigned to nobody

[2022-06-24 22:35] seagreen commented on #499
@aryairani: What's the status of this in 2022? If this is still the case:

...then I'm especially interested in this issue, as getting the parsing/pretty printing separate from everything else should be a solid code clarity win (whatever the particular incremental approach we end up taking).

[2022-06-24 22:50] mitchellwrosen commented on #499
I think that's still the case

[2022-06-25 12:38] emilhotkowski commented on #3137
We have two options to handle this functionality.
- We can add a flag to existing command/s to exit after initalization
- We can have totally separate command just for initalization of a codebase (similar to what @aslilac provided)

I'm looking for opinion from more Unison experienced devs!

[2022-06-26 01:01] seagreen opened #3156 "Collect syntax-related modules under `Unison.Syntax`"
This would be a preparatory step towards https://github.com/unisonweb/unison/issues/499, if we choose to do it.

The possible advantage of doing this as a first step is twofold:

1. It would make https://github.com/unisonweb/unison/issues/499 easier, "make the change easy, then make the easy change", yadda yadda.
2. On the off chance that we don't add a second syntax for awhile, we avoid the clutt

[2022-06-26 14:50] seagreen commented on #3156
Threw up a draft PR for this: https://github.com/unisonweb/unison/pull/3157

[2022-06-26 18:23] aryairani commented on #3137
How do we feel about
[code]
?

these also work:
[code]

[2022-06-26 18:29] emilhotkowski commented on #3137
all of this works of course. The question is if we want to add something to make it easier for user to create codebase without bash tricks. If not then this issue can be closed, if we want we need to discuss approach.

[2022-06-26 18:43] mitchellwrosen commented on #3137
I'm kind of a fan of having the repl separate from a "utility tool" that maybe has some overlapping functionality.

For example, maybe `ucm` could always launch an interactive thing; if you say `ucm -c <codebase-that-doesnt-exist>`, it could ask, "want me to make that codebase now?"

And separately, `ucm-tool create-codebase <codebase>` could be the non-interactive variant that creates a codebase

[2022-06-26 19:30] emilhotkowski commented on #3137
Sounds good to me. If there is some task for a newbie in this let me know.

[2022-06-26 21:28] aslilac commented on #3137
Bad. 😅 That `echo "exit"` trick is what I'm already doing, and it just feels gross/arcane/unreadable.

[2022-06-26 22:23] pchiusano commented on #3137
@emilhotkowski Let's go with:

So an `--exit` flag, which when combined with `--codebase-create` (and/or `--with-base` when that gets added at some point), exits after initialization. Otherwise ignored.

[code]

I think some more general scriptability of ucm would be great but we can consider that out of scope here.

[2022-06-26 23:14] emilhotkowski commented on #3137
Great. I have a question about implementation details. Would you treat it as a global option? [There is a ](https://github.com/unisonweb/unison/blob/5edede3d43d5b69139a84b6a81ae9a2e233deb72/unison-cli/unison/ArgParse.hs#L242)`globalOptionsParser` that we could extend with another flag, namely `--exit`.

[2022-06-26 23:16] pchiusano commented on #3137
That seems okay to me.

[2022-06-27 12:50] emilhotkowski commented on #1384
It was a year since last comment. Is it still relevant? And could I pick this up if so?

[2022-06-27 14:43] dolio commented on #3151
Apparently this only happens when `hello` is lowercase. It appears that it's getting treated as a variable, not a concrete type.

For example:

    hmm = '(hey 5)

has inferred type `'Nat`, and even if you annotate it:

    hmm : '{hello} Nat
    hmm _ = hey 5

UCM still reports `'Nat`.

[2022-06-27 15:59] pchiusano opened #3159 "Spurious ability check failures"
[code]

This yields:

[code]

Removing the `{g}` from `(a ->{g} r)` in `foldMap` fixes it, but I really want to allow `g` in the mapping function there.

[2022-06-27 16:02] pchiusano commented on #3159
Another clue is that if I split the `g` in `Fold g a` into `Fold g1 g2 a` then it works:

[code]

This typechecks. Except I don't want to have to add an extra type parameter just to please the typechecker. :)

[2022-06-27 21:05] alvaroc1 opened #3160 "UCM `eval` command that can evaluate an expression and/or "run" if it evaluates to '{IO, Exception} ()"
it would be really nice/convenient to be able to pass actual unison terms as parameters to a main function. Right now i have to create a separate main function for each set of parameters.
(i do see args... in the docs, but not sure how that works, prob only strings?)

`basicWidget` here is of type `Widget a Event`:
[code]

maybe it could be called `eval`? or `run-eval`?

[2022-06-28 15:48] hojberg opened #3162 "Base doesn't always download on first startup."
It appears that sometimes base doesn't download on the first startup.
It also seems to not download on the second startup if the download was cancelled in the first.

Could be Windows related?

Needs investigation.

[2022-06-28 15:52] tankorsmash commented on #3162
To add, this _seemed_ to have happened to me during my initial Windows install, that I cancelled because I thought it was hanging. My solution was to delete both `~/.unison` and the local directory I was running `ucm` from.

This same solution didn't seem to fix another Windows user's issue in a [recent Slack conversation](https://unisonlanguage.slack.com/archives/CLUNF0J5S/p1656340705246309).

[2022-06-28 16:29] #3159 closed, assigned to dolio

[2022-06-28 17:07] ceedubs commented on #499
I think that it's really fascinating that Unison would be so good at supporting pluggable syntax!

But at the same time I actually think that this wouldn't be worth the toll that it could take. Unison code is still going to make its way into textual tools/resources such as StackOverflow, blog posts, GitHub gists, tweets, etc. I think that it would be terribly disorienting to someone trying to lear

[2022-06-28 17:46] asampal commented on #499
Being held back by legacy mediums seems a regrettable approach if one of the goals of Unison is to advance the state of the art. Why not post links/embeds in these from a source that knows how to deal with Unison?

[2022-06-28 17:48] brianloveswords opened #3163 "Heading in `Doc` will eat a code fence unless there's a separating blank line"
I noticed this behavior when writing `Doc`s that if I do not include a blank newline between a heading and a code block, the code block gets sorta "eaten" by the header and not evaluated.

Some screenshots to show what I'm talking about:

![image](https://user-images.githubusercontent.com/166258/176248887-b267cd7e-7ba8-4f81-b73d-1960df7dd574.png)

![image](https://user-images.githubusercontent.com

[2022-06-28 17:52] #3143 closed, assigned to mitchellwrosen

[2022-06-28 20:05] mitchellwrosen commented on #3156
This seems like a good start to me, and I do think it would be useful to separate the parser/lexer code out into a separate package, even if we don't go full pluggable-syntax. I might suggest leaving the modules names as they were, though - I'm not sure `Printer.Term` is much better than `TermPrinter`. Other than that I'm +1 -- well, I'm +1 either way -- what do others think?

[2022-06-29 13:33] bearror commented on #499
This is, in my opinion, _the_ missing piece from Unison at the moment.

Doing away with naming, and moving towards a structure that can describe the entirety of a system. Why tie that down to a single representation? With something like Unison, we could finally work on systems from various perspectives without any of them having to own (their little part of) it. For an example, UX designers work w

[2022-06-29 16:12] pchiusano commented on #2263
Okay @dolio is working on this. API is below. **This is going to be way way way faster for text stuff.** No conversion to and from boxed lists of characters. And if you use `many` in your pattern, that just runs as a fast loop in Haskell. The implementation uses some rather neat partial evaluation stuff also, so the pattern is compiled down to ordinary Haskell functions to represent the state mach

[2022-06-29 18:48] seagreen commented on #3156
Sounds great to me.

A possible next step in this cleanup is to have the `Unison.Syntax` module encapsulate its child modules, so that it's the only thing other parts of the code import or interact with, and the organization of its children is an internal detail of this subcomponent.

If we do that then the internal names won't matter much. However, that seems like all the more reason to leave the

[2022-06-29 18:50] seagreen commented on #3156
I'll let y'all decide if you want it to be a separate package or not (seems like a good idea to me, but depends on subtle recompilation and build tool details that I won't have perspective on here). This issue/PR would certainly make pulling it out into a separate package easier if you decide to go that route.

[2022-06-30 12:51] runarorama opened #3166 ""marshalToForeign: unhandled closure" on mutually recursive ability handler"
The runtime crashes on the following (using `Stream` from Base):

[code]

The crash looks like:

[code]

[2022-06-30 13:13] pchiusano commented on #3166
Interestingly, no crash here:

[code]

[2022-06-30 17:31] #3137 closed, assigned to nobody

[2022-06-30 20:57] rlmark opened #3171 "`view` and UCM console output render reversed arguments for nested delayed computations"
The following expression

[code]

In a watch expression and when `view`ed will render with the arguments reversed

[code]

See [slack thread from a Unison community member who found this](https://unisonlanguage.slack.com/archives/CLUNF0J5S/p1656618988988889)

The problem is not unique to `Stream` or abilities. If you wrap a regular `List.range` function in the same way, you'll see the issue surfac

[2022-06-30 21:16] sergey-scherbina commented on #3171
Actually, it seems to be not only a "rendering" issue but something more real with such partial application of terms. In my local instance of UCM, having these definitions in scratch file

[code]
I've got when load it into UCM:
[code]
Notice, please, that it actually returns an empty list with stream10 but works fine with stream10'.

Version of my UCM
[code]

[2022-06-30 21:46] emilhotkowski commented on #3148
I know too little to do it myself but I would like to help. I found the place where this happens and we synthesise handler without checking if term exists (if that make sense). It happens [here](https://github.com/unisonweb/unison/blob/ed94820500db0d983a6630c5c99fd57b5ad74f4f/parser-typechecker/src/Unison/Typechecker/Context.hs#L1091) . Any idea what we could do about it?

[2022-06-30 21:52] pchiusano commented on #3171
The weird runtime behavior is not present in trunk, but there is still an issue with decompilation flipping the order around.

[code]

[2022-06-30 22:08] pchiusano commented on #3148
It's treating the typo as a blank and then trying to do inference so it can report what type it has to be... but then the inference fails and we're getting the type error from that!

I'd say that if the handler is itself a blank, that's always going to be a type error and we should just say "sorry, I'm not sure what this is" or some such.

I think the pattern you can use is something like `Type.Ha

[2022-06-30 23:00] emilhotkowski commented on #3148
Do I understand correctly that `Type.Handle'` does not exist yet?

[2022-07-01 20:19] pchiusano opened #3177 "`help pull` and `help push` needs updating for Share Next"
It should explain:

* Syntax for all variants of pulling from github or another git url
* Syntax for all variants of pulling from Share Next

[2022-07-01 22:03] emilhotkowski commented on #2801
1. Do you want to add this to UCM?
2. Which option do we prefer? (adding new command is easy IMO by adding parameter to [HandleShowDefinition](https://github.com/unisonweb/unison/blob/51fb28afd014a468cce20d3dda5fc016cfd9e393/unison-cli/src/Unison/Codebase/Editor/HandleInput.hs#L1940) function _onlyType_ or something similar )

If this is for grab then I can do it.

[2022-07-04 17:17] alvaroc1 opened #3182 "find.global not working as expected (trunk as of 2021-07-02)"
My understanding is that `find.global` should search the entire code base (maybe incorrect?). It doesn't seem to work. It only works for me from the top-level:

[code]

[2022-07-04 17:28] alvaroc1 opened #3183 "UCM up-arrow navigation broken (trunk - apple m1)"
In the video, after using `find`, I am just hitting the up-arrow several times to browse previous commands and the output is messed up.

https://user-images.githubusercontent.com/107395/177197948-50456981-19db-4a80-8c5c-8c1283f99a97.mov

Other terminal navigation like down-arrow is also messed up.

Workaround: Starting ucm with `TERM=linux`:
[code]

Probably something to do with `haskeline`? but I

[2022-07-04 20:20] pchiusano commented on #3182
Yeah, it’s not resolving the names in the type signature - it’s using only local names for that.

I think we could allow all names in the type signature, with precedence given to local names.

[2022-07-05 15:38] #2737 closed, assigned to nobody

[2022-07-05 15:38] #3136 closed, assigned to nobody

[2022-07-05 15:47] pchiusano opened #3184 "Add names for a few missing `Pattern` builtins"
https://share-next.unison-lang.org/users/unison/code/latest/namespaces/public/base/main/;/types/Pattern

This should render without hashes anywhere.

[2022-07-05 15:50] aryairani opened #3185 "update all docs/tutorials 😬 in light of self-contained namespaces"
tbd what this means, but see #3144

[2022-07-05 17:27] hojberg opened #3186 "Switch to use Unison Local over Codebase UI"
[codebase-ui](https://github.com/unisonweb/codebase-ui) has been deprecated in favor of [unison-local-ui](https://github.com/unisonweb/unison-local-ui)

- [x] Use unison-local-ui instead of codebase-ui
- [x] Bring unison-local-ui up to date with latest [ui-core](https://github.com/unisonweb/ui-core).
- [x] Update "publish on share" modal in unison-local-ui
- [x] Add a place for docs and language r

[2022-07-05 18:05] aryairani commented on #3186
Cool!

[2022-07-05 18:16] hojberg commented on #2909
Before release:

- [x] Mobile support for Share UI

[2022-07-05 18:50] aryairani opened #3188 "Update `help` output to specify correct git syntax; e.g. `.> pull git(git@github.com:unisonweb/base:v4).trunk .basev4trunk`"

[2022-07-05 18:53] aryairani opened #3189 "client-side fast-forward check — maybe @ChrisPenner & @aryairani"
a) Just do `before` check on client, then still construct the history path
b) Just do `before` check on server, no need for client to construct the history path — concern is maybe too much work for server, but we could use a more comprehensive plan for dealing with buggy clients than focusing on this one case.

[2022-07-05 19:11] hojberg opened #3190 "Codebase Server throws 500 occasionally when using the `list` api with a `relativeTo`"
Sporadically, when refreshing the local ui with a perspective the server returns a 500 for the list api (drives the sidebar).

UCM prints out the following error when this happens:

[code]

[2022-07-05 19:12] pchiusano commented on #3184
Looking good now! https://share-next.unison-lang.org/users/unison/code/latest/namespaces/public/base/main/;/types/Pattern

[2022-07-05 19:12] #3184 closed, assigned to pchiusano

[2022-07-05 19:20] pchiusano opened #3191 "Asides not wrapping properly"
https://share-next.unison-lang.org/users/unison/code/latest/namespaces/public/base/main/;/types/Pattern

<img width="657" alt="image" src="https://user-images.githubusercontent.com/11074/177399911-d0057911-30d7-4fb8-bf1c-2a76ce331b12.png">

[2022-07-05 19:26] aryairani commented on #3188
dupe of #3177

[2022-07-05 19:26] #3188 closed, assigned to nobody

[2022-07-05 20:18] hojberg opened #3192 "Pushing to a non-"public" gives a "no permissions" error instead of suggesting public"
<img width="748" alt="CleanShot 2022-07-05 at 15 52 25@2x" src="https://user-images.githubusercontent.com/2371/177405494-f5296558-0968-4365-b081-fc3faa8e4de5.png">

When pushing to a non-"public" namespace on Share Next we should suggest the user to use the "public" namespace instead, explain why, and give an example of a full command based on their previous attempt.

[2022-07-06 02:05] sergey-scherbina commented on #3171
Have found a case where this issue affects evaluation in the latest build of UCM and base library:

[code]
what evaluates to:
[code]
please note empty latest result
also t1 displayed a bit broken

[2022-07-06 05:06] pchiusano opened #3196 "Unable to instantiate an ability variable to a concrete ability when inside an ability list"
[code]

This complains:

[code]

It should be able to instantiate `g` to `Abort` here.

Oddly, if I instead write the signature as:

[code]

then it works

[2022-07-06 14:50] aryairani commented on #3192
First step: Come up with a good replacement message.

[2022-07-06 15:06] mitchellwrosen commented on #3192
<noting that within reason we still want old clients' error messages to make sense after some "projects" work - will `public` continue to be a thing?>

[2022-07-06 15:42] pchiusano commented on #3196
Another example:

[code]

[code]

[2022-07-06 17:59] #3196 closed, assigned to dolio

[2022-07-06 19:35] #3191 closed, assigned to hojberg

[2022-07-07 01:39] aryairani opened #3200 "the no-abilities thing"
Discussion at: https://unisoncomputing.slack.com/archives/C03HW54CYP4/p1657137823750469

[2022-07-07 14:31] hojberg commented on #3190
This is happening a lot to me now actually.

Just noticed the PR 🎉

[2022-07-07 15:43] hojberg commented on #3192
After the project work, `public` will no longer be a thing. I think its worth a dedicated error message in this first release because its so specific.

Here's a suggestion:

The last bit with the prompt would be really awesome, but I understand that we can't do prompts right now in UCM.

[2022-07-07 18:47] #3190 closed, assigned to mitchellwrosen

[2022-07-08 13:35] hojberg opened #3204 "Share: URL doesn't update correctly when changing perspectives"
If a definition is open, and a the perspective is changed to still include that definition but one namespace level deeper, the original definition url remains the same, meaning the namespace portion of the url is repeated.

To reproduce:
1. Visit https://share-next.unison-lang.org/users/unison
2. Select the definition `public.base.main.Boolean` in the left sidebar
3. Now select to change perspecti

[2022-07-08 15:05] pchiusano opened #3205 "Migrate codebases to share-next"
- [x] website
- [x] http
- [x] async
- [x] spark article upgrade to latest distributed

[2022-07-08 15:18] pchiusano opened #3207 "Blog post on M4 release"
Should include:

* Some graphic hero shot
* Video about Share Next
* And pushing
* Mention of new stuff - unboxed arrays, mutable and immutable, text matching primitives, doc improvements, performance improvements, the list goes on - link to release notes
* What do I need to do to get my stuff on share?
* What happens with old-share? Note about grace period
* CTA: sign up here

[2022-07-08 15:23] pchiusano opened #3209 "M4 Release Notes (DRAFT)"
Use this to draft release notes, following this template: https://github.com/unisonweb/unison/issues/2342

[2022-07-08 15:25] pchiusano opened #3210 "Cut release"
Following https://github.com/unisonweb/unison/blob/trunk/docs/release-steps.md and update that document with new steps now that we're publishing to Share Next.

[2022-07-08 15:28] pchiusano commented on #3185
Anything that can't get done in time, just add an under construction callout at the top.

[2022-07-08 15:54] pchiusano commented on #3209
* Merge pull request #3203 from unisonweb/one-less-abt2
* Merge pull request #3195 from unisonweb/22-07-05-local-ui-different-connections
* Merge pull request #3113 from unisonweb/one-less-abt
* Merge pull request #3201 from ceedubs/pre-release-windows
* Merge pull request #3193 from unisonweb/unison-local-ui
* Merge pull request #3172 from unisonweb/topic/prefer-local-names
* Merge pull request #

[2022-07-08 20:15] ceedubs commented on #2801
@emilhotkowski Thanks that would be great! My inclination would be to add a `view.signature` command to ucm. But I can't speak for others.

[2022-07-08 20:52] emilhotkowski commented on #2801
I'll add code that can handle this option, but if we choose differently it should be easy to fix PR.

[2022-07-08 20:59] hojberg commented on #2801
a `view.summary` version might be a separate option here that allows you to view summaries of types as well as terms.

so like `unique type Nonempty a` might be the summary of `unique type Nonempty a = Nonempty a [a]` or something like that.

We use something similar to this in the UI for showing results in the Finder (and eventually for hovers).

[2022-07-08 21:01] emilhotkowski commented on #2801
If we need something more complicated then what I thought than I'd need some guidance to implement this 🤪

[2022-07-09 17:18] aryairani opened #3214 "add force push command for share"
A `push.force` command that uses the push with lease api, along with a server-side reflog. I suppose the reflog should go into postgres (though it could go into sqlite if we don’t mind changing the server-side schema), and include `codebase_id`, `old_root` (causal hash id), `new_root` (causal hash id), `push_path`, `push_type` (fast-forward / forced).

edit: and `timestamp`

[2022-07-09 18:08] pchiusano commented on #3214
I marked this as nice-to-have. Don't want to hold up M4 just for this, but sure, if you can get it in then sounds good.

[2022-07-09 18:37] hojberg commented on #3214
would love for this reflog to be accessible in a history api as well with timestamps.

[2022-07-10 18:32] ThisFunctionalTom opened #3215 "Weird type inferred for ability handler"
Giving unison the code below without the type for `Stack.handler` it infers a weird type with repeating `Stack a`.

![image](https://user-images.githubusercontent.com/3315570/178157511-816ee16c-3946-41f6-b837-08dd48dfd552.png)

Removing the command and giving the correct type everything looks fine.

![image](https://user-images.githubusercontent.com/3315570/178157533-4bb82201-bf1e-48fd-b07b-134a86

[2022-07-10 20:10] pchiusano commented on #3215
Thanks for reporting!

[2022-07-10 22:58] aryairani commented on #3214
@pchiusano I think we should hold up M4 for this; let's chat Monday

[2022-07-10 23:12] aryairani commented on #3214
We can discuss whether to postpone the reflog (which @hojberg yes we should expose) but since users can't blow away their own codebases or create arbitrary new ones on share-next like the could on github, I think a force push is essential functionality. My bad for not making it visible in earlier conversations / task tracking though.

[2022-07-11 00:14] aryairani commented on #3205
What does this task mean, publish them on Share-Next? or publish them on Github with latest codebase? (or both)

[2022-07-11 01:27] pchiusano commented on #3205
http and async should move over to share-next

not sure about website. I'd say move it over to share next but if we have some build process that we want to keep pulling from github for now, then we could do the website later

[2022-07-11 16:04] aryairani commented on #3207
Here's what I mined out of the PR list:

- Loads of bugfixes, performance improvements, UI improvements
- Unison Share code hosting
- Self-contained namespaces
- New builtins
    - https://github.com/unisonweb/unison/pull/3029
    - https://github.com/unisonweb/unison/pull/3068
    - https://github.com/unisonweb/unison/pull/3126
    - https://github.com/unisonweb/unison/pull/3104
    - https://git

[2022-07-11 18:05] hojberg commented on #3205
http is moved over, but missing a dependency (parsing) still.

[2022-07-11 19:09] aryairani opened #3218 "monadic / selective names lookup for parsing & pretty-printing"
As codebases are growing, it's increasingly intractable to pre-load all names, even with history excluded. (This applies to both UCM and Share.)

We want to just load the names that are needed for parsing (for specific lexed identifiers) or rendering (for specific dependencies).

[2022-07-11 19:22] pchiusano commented on #3218
I thought Share already did something fancy for this... no?

[2022-07-11 22:00] hojberg commented on #3186
All set

[2022-07-11 22:01] #3186 closed, assigned to hojberg

[2022-07-12 01:15] aryairani commented on #3218
Err, right, good point. Share does something fancy for this (not positive if it covers all use cases, though it may), but UCM doesn't yet.

[2022-07-12 01:51] mitchellwrosen commented on #3218
Share does load all names in order to construct the pretty-print environment.

[2022-07-12 16:02] pchiusano opened #3219 "Update DNS: share becomes share-prev, share-next becomes share"
Todo:

- [x] create share-prev.unison-lang.org, have that go to same place as current share
- [x] modify share.unison-lang.org to point to same place as current share-next
- [x] add a redirect from share-next.unison-lang.org to share.unison-lang.org in case anyone is hitting share-next urls
- [x] confirm: do `push` and `pull` commands work with this config?
- [ ] confirm: what about default locati

[2022-07-12 17:41] #3177 closed, assigned to aryairani

[2022-07-12 19:57] #3200 closed, assigned to dolio

[2022-07-12 21:24] pchiusano opened #3223 "Don't run watch expressions sandboxed"
Or if that's too hard, as a temporary fix, I think it's okay to just not mark `trace` as tracked.

[2022-07-12 23:17] #3223 closed, assigned to dolio

[2022-07-13 14:04] hojberg commented on #3134
The Share portion has been fixed, but this also appears in Unison Local.

[2022-07-13 15:25] #3144 closed, assigned to nobody

[2022-07-13 18:02] #3192 closed, assigned to tstat

[2022-07-13 20:24] pchiusano opened #3231 "Name selection in `display` command uses more segments than it should"
So in this example, `Seq.map` is unique to the namespace, but the `display` renderer is showing more segments than that.

<img width="531" alt="image" src="https://user-images.githubusercontent.com/11074/178827846-c93ab589-4668-4bc0-b54f-90def9dec6d7.png">

In the local ui it works fine. Also `view` works fine, show right number of segments.

[2022-07-13 20:32] ChrisPenner commented on #3231
We should add transcripts for each of these as we find them 👍🏼 , the naming stuff is finicky and it's really easy to accidentally cause rippling changes.

[2022-07-13 20:53] pchiusano commented on #3134
Fixed by: https://github.com/unisonweb/unison/pull/3229

[2022-07-13 20:53] #3134 closed, assigned to ChrisPenner

[2022-07-13 20:54] pchiusano commented on #3214
Closed by: https://github.com/unisonweb/unison/pull/3222

[2022-07-13 20:54] #3214 closed, assigned to nobody

[2022-07-13 22:19] aryairani opened #3233 "VersionParser.defaultBaseLib shouldn't assume trunk builds start with `latest-`"
because they don't, and then nothing gets downloads. I guess if we don't recognize the release, it should just be main.

[2022-07-14 00:37] aryairani opened #3235 "frequent "database locked" race condition during [at least] `pull`"
![image](https://user-images.githubusercontent.com/538571/178859315-794cccd4-b8ab-452d-8db3-dd6b4a0e1070.png)

Log error:
[code]
With the key phrase being "ErrorBusy" / "database is locked" aka `SQLITE_BUSY`.

By running enlil locally with `UNISON_DEBUG=sqlite`, redirected to a file, I confirmed that no `INSERT` or `UPDATE` sql statements are being run during my pulls, only read-only selects. (unl

[2022-07-14 00:39] aryairani commented on #3235
@ChrisPenner suggested a possible connection to this:

https://www.sqlite.org/wal.html

In which case, we just need to retry a little before giving up.

[2022-07-14 01:40] pchiusano commented on #3235
Given how infrequently this seems to happen (I've yet to hit it myself), I think it's not the worst thing for this to be a known issue for M4, especially if the mitigation is "try again", which user can do manually.

That said it doesn't seem too hard to add a retry or two.

[2022-07-14 02:29] mitchellwrosen commented on #3235
Hmm, weird. I don't think that explains the SQLITE_BUSY, though - you can see in the error message we trying to prepare this statement.

[code]

[2022-07-14 11:44] aryairani commented on #3235
@pchiusano Try with a new codebase? It comes up like crazy for me when pulling base for the first time, and there’s no obvious way to retry that. I’m guessing that it is more likely now that we have parallel downloads, but maybe not for small incremental pulls.

[2022-07-14 11:46] aryairani commented on #3235
(The automatic base download, where they didn’t enter the command)

[2022-07-14 11:50] aryairani commented on #3235
We could rewrite the welcome flow with a retry command, or maybe better yet add one to the 500 error output

[2022-07-14 13:05] pchiusano commented on #3235
@aryairani okay yeah. Let’s get this done then for M4.

[2022-07-14 13:54] aryairani commented on #3235
@pchiusano Here's my dramatic screenshot :) @tstat and @mitchellwrosen and I have a fix on the way.
<img width="555" alt="image" src="https://user-images.githubusercontent.com/538571/178998725-5f705f5d-b7cf-48a8-be37-8bd77c525af8.png">

[2022-07-14 14:27] #3121 closed, assigned to nobody

[2022-07-14 15:36] #3233 closed, assigned to nobody

[2022-07-14 15:56] #2628 closed, assigned to nobody

[2022-07-14 16:06] pchiusano opened #3239 "Weird treatment of abilities with multiple name segments in operation name"
[code]

Now `view Zoink`

[code]

What happened to `yay`?

It's just a pretty-printing bug it seems:

[code]

[2022-07-14 19:23] aryairani commented on #3207
https://share.unison-lang.org/@runarorama/code/latest/terms/public/blog/draft/m4Post

[2022-07-14 19:37] aryairani commented on #3209
Here's a summary of what's new in Version M4:

### Unison-native code hosting on Unison Share

Create your account at https://share.unison-lang.org and then push your code like so:
[code]
Then head over to https://share.unison-lang.org to see your rendered code and docs!
You can still upload to Github by wrapping the git repository location in `git(...)`, like:
[code]
### Self-contained namespaces

[2022-07-14 21:15] rlmark opened #3241 "Can't delete namespace"
This occurred earlier in a Discord call when trying to delete a top-level namespace ,`learn`. The UCM prohibited us from deleting `learn` because terms __inside__ learn referenced other terms __inside__ learn? We were not certain why the operation was prohibited.

A copy of the namespace we were trying to delete is at:

[code]

<img width="1092" alt="Screen Shot 2022-07-14 at 10 32 18 AM" src="htt

[2022-07-15 16:08] tstat commented on #3235
fixed by https://github.com/unisonweb/unison/pull/3237

[2022-07-15 16:08] #3235 closed, assigned to tstat

[2022-07-15 20:21] bgerm opened #3244 ""guard variables do not match body" does not include line number"
I got started on a practice problem and ran into a compiler error.  It's not clear why the error is occurring or what line number caused the error.

[code]

[2022-07-15 20:51] pchiusano commented on #3244
@dolio this looks like possibly a bug in the pattern matching compiler, or else the parser is producing an invalid AST?

[2022-07-15 23:49] aryairani opened #3245 "can't dismiss share welcome modal on mobile"
![image](https://user-images.githubusercontent.com/538571/179325258-fb0af380-85a5-4859-acc0-9a90aac07880.png)
Same behavior on iOS Firefox, Chrome, Edge (Canary)

[2022-07-15 23:52] #586 closed

[2022-07-16 00:00] aryairani commented on #396
Infix wordy operator syntax was removed altogether.

[2022-07-16 00:00] #396 closed

[2022-07-16 00:01] aryairani commented on #228
Maybe they are further along now?

[2022-07-16 00:02] aryairani commented on #439
Closing this until we decide it's a problem again.

[2022-07-16 00:02] #439 closed

[2022-07-16 00:09] hojberg commented on #3245
Deployed a fix to make this slightly better. It should be usable now, but not pretty.

[2022-07-16 14:48] bgerm opened #3246 "Provide a tip for how to resolve `base` not being available in namespaces"
After migrating to M4 I received the error message provided below.

It would be helpful to add a tip for how to resolve `base` not being available.  Maybe include some background and then a resolution: `fork .base lib.base`.

[code]

[2022-07-16 15:30] #3209 closed, assigned to hojberg, aryairani

[2022-07-16 15:30] #3207 closed, assigned to hojberg, runarorama

[2022-07-16 16:14] aryairani commented on #485
I'm going to close this for now; we don't have backticked infix identifiers anymore, so hopefully no one will think to try them. Feel free to reopen if you still find it to be a problem.

[2022-07-16 16:14] #485 closed

[2022-07-16 19:12] bgerm opened #3247 "Improve behavior when updating files containing unique types"
When resaving the code with unique types in a new ucm instance I get an unexpected result when I call `set` on the record type.

-- Arya Irani

Code:

[code]

Result:

[code]

[2022-07-16 20:01] pchiusano opened #3248 "Update exercism track for M4"
`test.label` alias was removed apparently, and there might be some other changes

[2022-07-16 21:07] aryairani commented on #532
@runarorama Here's how these expand now:

[code]

Is that satisfactory?

[2022-07-16 21:09] aryairani commented on #537
Does the `README : Doc` convention satisfy this ticket?

[2022-07-16 21:09] aryairani commented on #553
absolute names in scratch files are out for the moment

[2022-07-16 21:09] #553 closed

[2022-07-16 21:25] aryairani commented on #606
I think we are using this more universally now, so I am closing for now. Feel free to make a new ticket or reopen this one if the sorting is found to be missing in a more specific context.

[2022-07-16 21:25] #606 closed

[2022-07-16 21:27] aryairani commented on #619
This doesn't even exist anymore; however, we should make a pass to ensure that the merge messages are nice and meaningful in all cases.

[2022-07-16 21:27] #619 closed

[2022-07-16 21:27] aryairani commented on #627
It is now paged!

[2022-07-16 21:27] #627 closed

[2022-07-16 21:28] aryairani commented on #636
We have something like this now.

[2022-07-16 21:28] #636 closed

[2022-07-17 00:10] hojberg commented on #537
Yeah, Readme can just link to a docs namespace for high level docs.

[2022-07-17 16:54] aryairani opened #3250 "regression of haskeline prompt in windows 11"
Windows Terminal on the left, the standard Console Host on the right:

<img width="1315" alt="image" src="https://user-images.githubusercontent.com/538571/179416271-8f811cc1-a5ee-428c-b4f6-6754f092c7f8.png">

[2022-07-17 17:42] aryairani opened #3251 "missing hash_object regression when pushing to git"
[code]

Thanks to @robotsnowfall for reporting!

[2022-07-17 17:46] #537 closed

[2022-07-17 17:46] aryairani commented on #532
Reopen if not :)

[2022-07-17 17:46] #532 closed

[2022-07-17 17:59] aryairani commented on #633
<img width="751" alt="image" src="https://user-images.githubusercontent.com/538571/179418442-ab21758c-a170-4bdd-bf89-0a3274adfd87.png">
ucm no longer does this, though I'm not sure exactly when it was fixed.

[2022-07-17 17:59] #633 closed

[2022-07-17 18:19] aryairani commented on #710
probably not the case as of sqlite?

[2022-07-17 18:19] #710 closed

[2022-07-17 18:49] aryairani commented on #727
I don't think we have these anymore.

[2022-07-17 18:49] #727 closed

[2022-07-18 14:50] pchiusano commented on #487
This works fine -

<img width="196" alt="image" src="https://user-images.githubusercontent.com/11074/179538679-e5df703b-f3e7-4440-9b94-3bf547df3df2.png">

[2022-07-18 14:50] #487 closed

[2022-07-18 16:24] pchiusano commented on #3251
I just tried pushing a random subnamespace to a new empty git branch and it worked fine -

<img width="516" alt="image" src="https://user-images.githubusercontent.com/11074/179557513-b0e6ae41-59f4-4362-94b6-e254d87b2083.png">

[2022-07-18 16:25] pchiusano commented on #3251
But both @aryairani and @mitchellwrosen have been able to reproduce. So it appears pushing to git isn't totally busted, but is in some cases?

[2022-07-18 21:03] tstat opened #3253 "Simplify `Action` monad"
The `Action` monad contains a free monad that we are not benefiting from. We only have a single interpretation, and we have a `MonadUnliftIO` constraint on our free monad, which limits the possible interpretations to readers over IO.

In order to reduce the complexity, we should replace the free monad with a concrete monad that provides the effects we want.

[2022-07-19 02:30] #3251 closed, assigned to nobody

[2022-07-19 02:34] alvaroc1 opened #3254 "Ability constructors don't round-trip correctly if there's ambiguity"
This code:
[code]
Produces this (as expected):
[code]
But when I view/edit it shows like this (incorrect? note the prefix in first constructor):
[code]
Presumably because there's other terms named `add` (?).

And if I save it like that, it produces this:
[code]
The  `add` constructor has been placed in a new namespace :(

[2022-07-19 02:45] #776 closed

[2022-07-19 03:09] pchiusano commented on #3254
Good catch. I think I see the problem. It's in `DeclPrinter`:

[code]

So this is just printing out the name of the constructor, when it should be deducting the type name if it exists as a prefix of that constructor's chosen name.

[2022-07-19 17:34] ChrisPenner opened #3256 "An Audit of Names and PPEs"
# Names & PPEs

Unison's unique design choices also present unique challenges.

The AST doesn't store names for external definitions (since these names can change any time), so when parsing and printing we need to resolve names dynamically.

Glossary:

* **Name**: A list of textual name segments paired with whether those segments are _relative_ (to some unknown path) or _absolute_. It's worth noti

[2022-07-19 20:06] ChrisPenner commented on #3129
PPE and Names stuff : https://github.com/unisonweb/unison/issues/3256

[2022-07-19 23:24] aryairani opened #3257 "bad error when share repo is put in `GitUrl` section"
[code]

Maybe something like:

Thanks @anovstrup for reporting.

[2022-07-20 01:40] uncomfyhalomacro opened #3258 "[Question] Why Slack?"
Not trying to offend anyone here. Just wondering why not on other platforms or something like Element, Zulip, or even Discord. Anyway, interesting language, I may learn this with Haskell during my free time.

[2022-07-20 21:08] alvaroc1 opened #3259 "The numbering in ucm doesn't always match up with the terms"
I selected to `view 1` as suggested by UCM, but it actually showed the 3rd term, not the first.

[code]

[2022-07-20 22:24] #2263 closed, assigned to pchiusano

[2022-07-21 16:50] ChrisPenner opened #3261 "Add command which explains how to set up environment variables to provide credentials to Cloud"
The Cloud ability needs user credentials to submit jobs, rather than hard-code a specific token which might expire and need to be updated we instead provide the path to a credentials file (I believe google cloud console does something similar for its auth).

Users still need to expose their credentials path via an environment variable (but @ceedubs  is going to have the executable search a few pro

[2022-07-21 17:30] dolio commented on #3166
I think I'm finally about done fixing this. Should have a PR soon.

[2022-07-21 18:58] anovstrup opened #3263 "Spurious errors when pushing to Share after moving a sub-namespace"
Steps to reproduce:

1. Add a term in a sub-namespace (e.g., `unique ability X = X Nat`)
2. Push to Share (`push`)
3. Move the sub-namespace (e.g., `move.namespace X Y.X`)
4. Push to Share (`push`). A "There are some changes at [namespace] that aren't in the history you pushed."
5. Pull from Share (`pull`). "Nothing changed [...]"
6. Push to Share (`push`). Works!

Actual output looks like this:
[

[2022-07-21 19:59] pchiusano opened #3265 "Lambda lifting leftovers in decompiled output"
<img width="602" alt="image" src="https://user-images.githubusercontent.com/11074/180305041-33f93304-527a-4304-8e88-39e329f8db26.png">

From: https://share.unison-lang.org/@unison/code/latest/namespaces/public/distributed/latest/;/types/@3uarccgfv6hh5312b0389kus776uqr6vkm6c8u46bd95h0k3gglmnrjaq2408vfbbgg10l3irij7avve368b9iqa6u8b6defoicher0

Not super high priority (workaround is to use a `@source{

[2022-07-21 20:31] ceedubs commented on #3263
Wow good sleuthing, @anovstrup! Thank you for minimizing this!

[2022-07-21 21:11] anovstrup commented on #3263
😁 @ceedubs Just dumb luck — I happened to have just run into this after _only_ moving a namespace since my previous push.

[2022-07-22 16:52] #3166 closed, assigned to dolio

[2022-07-22 20:30] #3258 closed, assigned to nobody

[2022-07-23 00:12] aryairani commented on #3256
The proposed changes sound good to me, though we should review the sample proposed PPE type to decide if it's trying to do too much.

[2022-07-23 01:18] #3244 closed, assigned to dolio

[2022-07-23 10:08] hojberg commented on #3245
This is fixed now.

[2022-07-23 10:08] #3245 closed, assigned to hojberg

[2022-07-23 20:55] pchiusano opened #3270 "More seamless push"
typing in manual push destinations is annoying
adding things manually to your config is annoying

what I want:

I type `push blah`

It remembers that push destination in my config, and associates it with that path (and it gives me a friendly message "I've set `blah` as the default push destination for this namespace. Now you can `push` with no arguments if you just want to push there again."). I d

[2022-07-23 22:36] aryairani opened #3271 "move reflog into database"
and prompt to delete file that is in everyone’s home dir, whoops

[2022-07-24 15:52] ThisFunctionalTom opened #3272 "PatternMatchFailure when pattern matching function argument with ability"
Normally when a function has multiple arguments one can pattern match with multiple arguments like this:

[code]

But once the second argument is an ability request I get the PatternMatchFailure from the compiler.

[code]

Matching just on the ability request works as expected:

[code]

[2022-07-25 15:28] pchiusano opened #3273 "`patch` command should ignore `lib` subnamespace"
A typical process is you update one of your dependencies, then want to apply the patch from its new release to your codebase. Like you'd type `patch lib.something.shiny_new_version.patch` at your project root.

That does not necessarily mean you want to apply that patch to all the stuff in `lib`. For that you could `cd` into `lib`.

[2022-07-25 18:27] #3253 closed, assigned to nobody

[2022-07-25 18:43] aryairani commented on #3256
Not sure we want to avoid conflicted names, it might be what you want even outside of TODOs?

[2022-07-26 17:08] mitchellwrosen commented on #3256
Does this mean when we `cd` we pay this big cost?

[2022-07-26 17:09] aryairani commented on #3256
Out of curiosity, where are the spots that this is the case?

[2022-07-26 17:30] meijeru opened #3275 "UCM on Windows gives strange prompt"
I am running release/M4 of `ucm.exe` on Windows 11. The prompt is `[0m[32m.[0m> [0m` which seems to indicate a wrong  interpretation of ANSI escape sequences by my terminal application (both Windows Console Host and Windows Terminal exhibit this behaviour). The multicolour ASCII art in the banner is displayed correctly, though.

[2022-07-26 17:53] aryairani commented on #3256
For parsing scratch files, we currently aren't including names outside of the current scope. But for parsing REPL commands, I would think we should.  e.g. `alias.term .foo.bar.baz baz`. Does this depend on that?  I could see accepting absolute names in parsing too (why not?). But not included in suffix-based resolution. And it's okay to not accept them in parsing scratch files until we know more.

[2022-07-26 18:43] meijeru commented on #3275
Additionally, but I don't know if it is strictly related, non-ASCII characters (e.g. emojis) are not displayed correctly. Instead,  I see boxed question marks.

[2022-07-26 20:38] aryairani commented on #3256
I would recommend `Bias` instead of just `[Name]` for biasing.

[2022-07-27 01:05] vitalydolgov opened #3276 "Building on Raspberry Pi (armv7l)"
I have a problem building Unison for Raspberry Pi 4 (armv7l). Not sure if it's misconfiguration or ARM is not supported now.

[code]
[code]
[code]
[code]

[2022-07-27 09:41] ceedubs commented on #3275
https://github.com/judah/haskeline/issues/130 seems like it might be related to the prompt issue. It suggests https://github.com/judah/haskeline/wiki/ControlSequencesInPrompt as a potential workaround (as the actual fix PR seems to have gone stale). I lack a Windows machine to test it on.

Not sure about emojis. There seem to be some [dragons](https://github.com/microsoft/terminal/issues/190) here

[2022-07-27 09:46] hojberg commented on #3205
Done :)

[2022-07-27 09:46] #3205 closed, assigned to hojberg, rlmark

[2022-07-27 16:19] meijeru commented on #3275
@ceedubs  The emojis are less of a concern, and I see from the Windows issue you linked, that we will have to be patient anyhow. But the ANSI sequences being mishandled is more serious. I appeal to the developers of UCM to have a close look, because it used to work in M2 and (I think) M3. So something broke it.

[2022-07-27 22:44] aryairani commented on #3256
A question about the proposed `PrettyPrintEnv` type:

What does its lifecycle look like? We note that it includes fields for perspective, bias, and suffixify setting, but also includes functions that accept those as arguments, so how is it all meant to work?

[2022-07-28 22:11] bgerm opened #3277 "Closing brackets is optional when it should give a syntax error in ucm"
The following throws an error (which could probably be improved):

[code]

[code]

But a missing bracket on the code below oddly works:

[code]

[code]

[2022-07-28 22:45] mitchellwrosen commented on #3277
This was regarded as "actually a feature" as of Dec. 2020, but not with strong feelings in either direction: https://github.com/unisonweb/unison/issues/1776

[2022-07-28 22:57] bgerm commented on #3277
Thanks.  I should have searched the issues first.  Personally, it doesn't bother me that it worked without the trailing `]`, but if I were to ever copy code from the ucm `>` prompt -- I don't know exactly what that's called -- to the main code, I'd expect it to work the same (which it may, but didn't check).

[2022-07-29 00:56] rlmark opened #3278 "`display` combined with `abort` returns unexpected error instead of ability constructor"
If you attempt to `display` the `Abort.abort` function, you'll get the following error:

[code]

The attached transcript will replicate the issue:
[displayabort.md](https://github.com/unisonweb/unison/files/9215130/displayabort.md)

[2022-07-29 01:05] pchiusano commented on #3278
display has to evaluate the expression before rendering it, so it’s evaluating the abort, which has no handler. It should be an ability check failure type message, before even evaluating anything.

[2022-07-29 01:07] pchiusano commented on #3278
This will be triggered when displaying any 0-arg ability operation.

[2022-07-29 18:50] ceedubs opened #3280 "Universal equality fails across ucm sessions"
If you serialize a value and then deserialize it in another UCM session, univseral equality can produce false negatives.

Talking to @dolio, this seems to be that the constructor tags are currently serialized, but are dependent on the order in which types are loaded into the code cache.

Below are two transcripts and a shell command to run to reproduce the error.

## save this as serialize.md

[co

[2022-08-01 14:24] hojberg opened #3282 "Logging out of Unison Share should redirect back to Share"
Currently, when logging out of Share, a `Successfully logged out.` message is rendered without the context of the Share UI and feels out of place.

Instead we should redirect to something like `https://share.unison-lang.org?ation-taken=logged-out`

[2022-08-01 14:24] hojberg commented on #3282
cc @ChrisPenner @aryairani

[2022-08-01 15:34] alvaroc1 opened #3283 "Provide built-ins for creating UDP sockets"

[2022-08-01 21:05] hojberg commented on #2759
@ceedubs reports this also happening on the new Share.

[2022-08-01 21:06] hojberg commented on #2759
@aryairani I might need some backend assistance on this.

[2022-08-01 23:43] pchiusano opened #3285 "Add CI test for universal equality consistency across nodes"
See https://github.com/unisonweb/unison/pull/3284#pullrequestreview-1057844307

[2022-08-01 23:43] #3280 closed, assigned to dolio

[2022-08-02 01:46] hojberg commented on #3219
I think this can be closed @pchiusano @aryairani ?

[2022-08-02 13:22] #3219 closed, assigned to stew

[2022-08-02 14:48] pchiusano opened #3286 "Tab completion of (say) `view` takes a long time"
On bigger namespace trees in particular.

[2022-08-02 14:50] ceedubs commented on #3286
@stew's hunch, which seems plausible to me, is that it's related to the change to self-contained namespaces and the `lib` convention. Before you'd have a single name for everything in base. Now it might appear as `.base.Optional`, `.myproject.lib.base.Optional`, `myproject.lib.json.lib.base.Optional`, `myproject.lib.distributed.lib.base.Optional`, etc.

[2022-08-02 19:52] ChrisPenner opened #3288 "SQLITE crash"
UCM from hash `72a903d046715a4e951fa95cf16e73f18774131a` (current trunk at time of writing)

Managed to get a SQLITE crash :'(

I haven't yet had time to try to reproduce, likely caused by either the squash or the `undo`

[code]

[2022-08-02 20:00] ChrisPenner opened #3289 "Pulling bloats sqlite db sizes"
Looks like most of the temp entities we create stick around in the DB after pulling (which is just how sqlite works), but it's bloating file-sizes a lot.

I haven't checked, and it's unlikely, but maybe this is also increasing memory usage, since I know sqlite will keep caches in memory.

* Start with an empty codebase
* `pull unison.public.base base`
* Wait

[code]

We should likely just `VACUUM`

[2022-08-02 20:30] mitchellwrosen commented on #3289
Vacuuming after each pull sounds fine to me. That said, I don't think the size of the unused space would continue to grow monotonically with each pull. It's more like some constant space overhead associated with our usage pattern of deleting lots of rows.

[2022-08-03 16:07] aryairani opened #3290 "stew's codebase takes 60 seconds to start"
4GB of ram to get to a prompt
Ping @stew for a copy of his database.

Pin down what's happening

[2022-08-03 17:39] ChrisPenner opened #3291 "More efficient wire format for sync?"
Currently we use JSON, which isn't known for being terribly efficient; might consider something like MsgPack or CBOR?

---

I tried out MsgPack,

Here’re the numbers for pulling a full copy of distributed with history (on local)

[code]

I used a key-value serializer in MsgPack rather than a tightly packed representation, since it gives better back/future compatibility, so we could pack it tighter

[2022-08-03 17:39] #3291 closed, assigned to nobody

[2022-08-03 22:28] ChrisPenner commented on #3290
Some assorted notes on this:

[code]

This adds up to 419697 total definitions; mostly it's multiple copies of base spread around in many projects, but we aren't getting much sharing on these.

After loading the prompt, an initial `ls` hangs for a while, and memory usage almost doubles, presumably this is forcing thunks. The implementation for `ls` generates a pretty printer for the entire root, t

[2022-08-03 22:38] pchiusano commented on #3290
Related observation I made in Slack -

[2022-08-03 22:43] ChrisPenner commented on #3290
I’m noticing we’re not really doing anything to enforce sharing right now, so if we have 300 copies of base (which Stew seems to) they seem to each be hydrated into their own unique Branch type. This means 300x the memory usage, but also it means the work for forcing its thunks (deepTerms/deepTypes) isn’t shared either; so 300x the work there, and 300x the sqlite queries and deserializations. Woul

[2022-08-03 22:56] stew commented on #3290
btw, @aryairani anyone on your team can get this codebase via scp if they are on tailscale:

`scp -r nobody@100.92.219.97:.unison /tmp/`

[2022-08-03 23:06] #3215 closed, assigned to dolio

[2022-08-04 01:30] pchiusano opened #3292 "Opening up `Void` by hash generates an error"
Steps to reproduce:

Go to: https://share.unison-lang.org/@unison/code/latest/namespaces/public/base/latest/;/terms/Void/absurd

Click on `Void` there in the type signature.

This seems to crash Share, bringing it down until the container gets restarted (about 30s or so).

Oddly enough visiting https://share.unison-lang.org/@unison/code/latest/namespaces/public/base/latest/;/types/Void (loading it

[2022-08-04 01:55] pchiusano commented on #3292
Same issue is present in local UI, just noticed.

Possibly a dupe of #2139

[2022-08-04 03:02] mitchellwrosen commented on #3292
Oh dear... I tracked this down... :see_no_evil:

https://github.com/unisonweb/unison/blob/7f58e60cddf90fdcfebf95e3cab2fb4e7ec5c1a0/codebase2/codebase-sqlite/U/Codebase/Sqlite/Operations.hs#L982

This and all other instances of `0 - 1` at type `ConstructorId` (alias for `Word64`) are (obviously) wrong.

[2022-08-04 03:29] pchiusano commented on #3292
Good sleuthing. Though why does the other way of viewing the definition work okay? Using https://share.unison-lang.org/@unison/code/latest/namespaces/public/base/latest/;/types/Void

[2022-08-04 09:37] ceedubs opened #3294 "names.global false negatives"
Sometimes `names.global` can't find types (and probably also terms?) that definitely exist. I'm having trouble creating a minimal example of this, but I see it with the following setup:

- `trunk` ucm build (I'm at commit 7f58e60cd).
- `pull git(https://github.com/unisonweb/share).stew.parser .stew.parser`
- `cd emptynamespace`

As you see below, `names.global` doesn't find the `Error` type even w

[2022-08-04 15:45] aryairani commented on #3286
@ChrisPenner I'm thinking we should go ahead and try restricting the tab completion to prefix-matching, but that it should support both absolute and relative prefixes. What would that take?

[2022-08-04 20:10] ChrisPenner opened #3295 "Branches should exploit sharing to reduce memory footprint and improve loading times"
We have a rootbranch cache, but we don't currently cache or share any other branches; this means that the same branch will be duplicated in memory for every space it appears in the namespace tree which is an unnecessary waste of memory. It also means we re-load that branch from sqlite and build a separate thunk for things like deepterms/deeptypes when one may already exist in memory.

Fixing this

[2022-08-04 20:58] ChrisPenner commented on #3286
The relative prefix matching should be pretty easy, right now the absolute pattern matching is probably easy too.

If we want it to be future-proof for if we eventually stop keeping the whole root branch in memory I can rewrite it to use shallow branches for prefix searching, which should still be plenty fast, but doesn't require us to always have a global root branch.

It wouldn't take much extra

[2022-08-04 21:31] pchiusano commented on #3286
That sounds good to me too.

[2022-08-04 21:44] aryairani opened #3298 "can we speed up windows CI?"
This currently adds 1+ hrs to CI checks.

Related to #3101

[2022-08-04 22:08] ChrisPenner commented on #3298
I've made a few attempts:

Initially here: https://github.com/unisonweb/unison/pull/3168

Then, since that didn't help as much as expected, here: https://github.com/unisonweb/unison/pull/3176 ;

I'm not really sure why #3176 didn't help.

[2022-08-05 05:46] ChrisPenner commented on #3298
I tried running https://github.com/unisonweb/unison/pull/3176 again and it turns out it actually does work, I just forgot to warm up the cache first haha.

It takes builds down from ~1hr to ~20mins, still room for improvement, but much better 🙌🏼

[2022-08-05 11:14] ceedubs commented on #3298
As @ChrisPenner said, #3176 brings these down to 20 minutes. The last macos build time was 14 minutes, so there are diminishing returns on optimizing the Windows build time. I'm going to close this issue out as "good enough for now", but we can always come back to it in the future if it's still a source of pain.

[2022-08-05 11:14] #3298 closed, assigned to ChrisPenner

[2022-08-05 14:26] #3292 closed, assigned to aryairani, ChrisPenner

[2022-08-05 15:30] pchiusano opened #3299 "Free ability variable that could be solved to `{}` causes error later"
[code]

[code]

points to second element of the list.

This is pretty annoying when you're treating thunks as values and passing them around and storing them in data structures.

[2022-08-05 16:35] #3290 closed, assigned to ChrisPenner

[2022-08-05 16:35] #3295 closed, assigned to ChrisPenner

[2022-08-05 18:04] ChrisPenner commented on #3256
Some more questions that have come up during reviews:

* When will it be acceptable to stop including Absolute names when pretty-printing/parsing? Can we do it now?
* Why does the backend PPE include global absolute names in 'parse-names'?
* How can we get the backend PPEs to work as close as possible to the UCM ones?
* How should `view` using an absolute name work? Esp. in the context where we do

[2022-08-07 15:52] mardukbp commented on #3275
I found out that it looks fine on GitBash. Could be a reasonable temporary solution.

As for Emojis and ANSI sequences on Windows, I can confirm that they work. I spent a couple of days last week patching Elixir to make it work with a patched version of OTP 26, that has a new cross-platform TTY. Emojis cannot be displayed in cmd.exe or pwsh.exe. A modern terminal is needed, like Windows Terminal,

[2022-08-07 15:53] alvaroc1 opened #3300 "Exception with no useful information when using types with curly braces"
[code]
[code]

i have no idea if the code should type-check or not, but the error should provide more details

[2022-08-07 20:14] meijeru commented on #3275
I have tried Windows Terminal, but it does not help with the prompt. Where does one get GitBash?

[2022-08-08 05:43] mardukbp commented on #3275
It comes bundled with Git for Windows.

[2022-08-08 11:11] pchiusano commented on #3300
Thanks for reporting. @dolio  can you have a look when you’ve got a chance?

[2022-08-09 15:48] ceedubs commented on #3285
When we get to this, we should also try to add a test for #3303.

[2022-08-10 12:46] hojberg commented on #2759
Here's an example

<img width="772" alt="CleanShot 2022-08-10 at 08 45 50@2x" src="https://user-images.githubusercontent.com/2371/183904698-c1cc0a95-546b-4402-bce3-2774e84eb548.png">

https://share.unison-lang.org/@hojberg/code/latest/namespaces/public/projects/html/latest/;/terms/div

[2022-08-10 12:53] #3210 closed, assigned to nobody

[2022-08-10 19:01] aryairani commented on #3289
Q: What about for git syncs?
A: Not relevant because the only deletions we have currently are the temp_entity rows, which don't apply to repos in git.

[2022-08-10 19:14] aryairani commented on #2515
We think we will stop using this type before we deeply care about fixing it.

[2022-08-10 19:14] #2515 closed, assigned to mitchellwrosen

[2022-08-10 19:19] aryairani commented on #2726
Good work so far; we will revisit again in the future after any changes to the overall design of "updates".

[2022-08-10 19:19] #2726 closed, assigned to mitchellwrosen

[2022-08-10 19:33] dolio commented on #3058
I think this is resolved by the recent top level floating changes, right?

[2022-08-10 19:35] aryairani opened #3306 "How can we bundle Unison/codebase definitions with a ucm release?"
This is relevant to both IOSource definitions and base lib.

[2022-08-10 20:09] ceedubs commented on #3058
@dolio yes! 🎉

[2022-08-10 20:09] #3058 closed, assigned to dolio

[2022-08-10 20:12] ceedubs commented on #2676
This is now expected behavior and `names.global` exists. I've renamed this issue to be specific to the help for `names` claiming that it shows "all known names".

[2022-08-10 20:14] ceedubs commented on #2422
This works for me now.

[2022-08-10 20:14] #2422 closed, assigned to nobody

[2022-08-10 20:17] ceedubs commented on #2394
This now infers the type `x3 : Reader {Abort} Text ('{g, Abort} Nat)` 🎉

[2022-08-10 20:17] #2394 closed, assigned to nobody

[2022-08-11 15:20] mitchellwrosen commented on #3289
I just learned a couple things from https://www.sqlite.org/lang_vacuum.html

So far, so good. We can just retry in a loop like `Transaction` does on `SQLITE_BUSY`. This would be a new retry-loop, though, because you can't do the `VACUUM` itself from within a transaction, either.

This one is a bit concerning... were we to implement a prepared statement cache, those unfinalized statements "might" c

[2022-08-11 15:22] mitchellwrosen commented on #3289
Oh, I'm not sure if the documentation is simply referring to statements that have sent a `BEGIN` but not a `COMMIT` yet. If so, well, that's expected. But initially I interpreted it to mean statements that have been `prepare`d but not `finalize`d -- and SQLite is mysteriously internally holding a read transaction open for such statements? That can't be right...

[2022-08-11 15:41] hojberg commented on #3204
Fixed :)

[2022-08-11 15:41] #3204 closed, assigned to hojberg

[2022-08-11 16:03] ChrisPenner commented on #3282
Sounds good to me 👍🏼

[2022-08-11 16:17] mitchellwrosen commented on #3289
I experimented a bit and determined the mere existence of unfinalized statements actually doesn't make `VACUUM` fail.

[2022-08-11 16:32] stew opened #3308 "update of conflicted definition fails when todo recommends updating it"
Attached is a transcript that gets us into a situation where we have conflicted definitions of terms but update doesn't allow us to update the term.

[code]

[2022-08-11 16:33] stew commented on #3308
[code]

[2022-08-11 16:41] stew opened #3309 "--save-codebase should be mentioned when running transcript"
When I run `unison transcript` it tells me:

 Run `unison --codebase /tmp/transcript-088cbbcc784eeb28` to do more work with it.

but that path doesn't exist because I didn't know about --save-codebase, messaging should improve

[2022-08-11 16:42] aryairani commented on #3308
Option 1: Allow the update to succeed, but give some output explaining what happened, optional remind how to undo.
Option 2: Allow the update to succeed, without any special output.

Let's do option 2, and can always come back to option 1 if it becomes an issue.

[2022-08-11 16:52] pchiusano commented on #2220
Closing as dupe of #2049

[2022-08-11 16:52] #2220 closed, assigned to nobody

[2022-08-11 17:06] mitchellwrosen opened #3311 "Hide denominator of entities pushed/pulled"
We decided it'd be better with just the numerator

[2022-08-11 20:05] #3282 closed, assigned to hojberg

[2022-08-11 22:06] hojberg opened #3313 "Confusing pull success message"
This success message is adding more confusion than it is helping.

<img width="737" alt="CleanShot 2022-08-11 at 17 59 42@2x" src="https://user-images.githubusercontent.com/2371/184249863-bf5d0833-6a14-4e45-94b7-60829f716ea5.png">

Suggestion:

[code]

[2022-08-11 23:54] jayber commented on #3275
If it helps, when I run GitBash on its own, this works.
And when I add git-bash.exe to windows terminal so that it opens in its own window and not in a terminal tab, it works.
But when I get it to run in the terminal tab, by following this guide: https://www.timschaeps.be/post/adding-git-bash-to-windows-terminal/
the weird prompt is back
![image](https://user-images.githubusercontent.com/2474334/1

[2022-08-12 05:26] mardukbp commented on #3275
Yes, that is expected. The guide shows how to execute bash.exe (which is a shell, just like cmd.exe or pwsh.exe) within Windows Terminal (a terminal emulator, just like WezTerm or Alacrity). To my knowledge haskeline works on MinGW, which has its own terminal emulator and is the one used by GitBash.

[2022-08-12 13:55] ceedubs opened #3314 "Fast way to pull in transcripts"
# Problem

Often in transcripts it's useful to be able to `pull` (especially the base library; it's really hard to write a transcript without it). But running `ucm transcript` on a transcript that pulls means pulling the entire library again, which might take minutes to run. This is especially annoying when you realize a small typo in the transcript and run it again only to find that you are downl

[2022-08-12 14:01] aryairani opened #3315 "trunk builds of base should initialize codebase with latest base release and not latest base trunk"
I think this is decided in `VersionParser.hs`

[2022-08-12 14:04] ceedubs opened #3316 "Unexpected behavior with move.namespace, fork, and merge"
The following assumes that you have pulled these libraries into these namespaces:

[code]

The `.cloud.lib.codec` namespace accidentally includes all of `codec`, when we really just want the latest release:

[code]
Let's attempt to replace it with just the release.

[code]
Now in our PR branch everything seems to be as it should be:

[code]
But when we merge, we don't get what I would expect:

[co

[2022-08-12 15:12] ceedubs commented on #3314
@ChrisPenner weighed in on Slack:

In the off-chance that the transcript repo doesn't get deleted (for me it always has when I don't use the `--save-codebase` flag; often to my chagrin), it's put into a `tmp` dir, so I don't think that this is a concern.

He clarified that this is different than the "fork types/terms from existing codebase, but not namespaces" proposal:

If this solution is low-ha

[2022-08-12 15:14] ceedubs commented on #3250
@aryairani is #3275 a duplicate of this? If so I'd be inclined to close this issue because the other one has more information.

[2022-08-12 15:34] ChrisPenner commented on #3314
Yeah we could do a variant of this, where we clone the user's codebase via sqlite and just reset the root-namespace to an empty branch. That way the pulls are all instant if the user already has the code.

[2022-08-12 15:49] ChrisPenner commented on #3261
@ceedubs  is something like this still necessary? Seems like the default search paths have worked well for us so far?

[2022-08-12 16:03] ceedubs commented on #3261
@ChrisPenner I think that we can close this out. I don't really recall why we originally thought that we would want a ucm command for this, but this is something that we should be able to do completely on the `cloud.run` side. If we can't find the needed credentials we can just print an error that tells the user what to do.

[2022-08-12 16:03] #3261 closed, assigned to ChrisPenner

[2022-08-12 16:20] ChrisPenner commented on #3108
Merged!

[2022-08-12 16:20] #3108 closed, assigned to ChrisPenner

[2022-08-12 16:21] ChrisPenner commented on #3010
Sync is done 🙌🏼

[2022-08-12 16:21] #3010 closed, assigned to ChrisPenner

[2022-08-12 20:26] ChrisPenner commented on #3316
Unfortunately we don't really have a great way of expressing all of the different possibilities here, I don’t think I have a good enough understanding of how we want to “fix” this in order to implement it right now,

Even looking into causing move.namespace to obliterate history from the ‘src’ this results in some edge cases when you do move.namespace . .somewhere; we can’t do this sort of move wi

[2022-08-12 20:41] ChrisPenner commented on #3306
Let's make sure we're clear about the issues we want to solve:

* pulling base is pretty slow, and this is an annoyance all users encounter when creating new codebases
* base is necessary to do basically anything, so we should make it as readily available as possible (GHC ships base with the compiler for example)
* Since there's a relationship between ucm version and base version (via builtins) it

[2022-08-12 21:01] ChrisPenner commented on #2219
Things we want to use this for:

Generally speaking we want to reduce cases where we have the root namespace in scope, loading the whole thing is slow.

* Relational namespaces allows us to search for names of specific references in sqlite (within a given sub-branch) without needing to load _all_ names into Haskell, enabling a much much lazier pretty-printer.

[2022-08-13 16:58] #3156 closed, assigned to nobody

[2022-08-13 19:36] aryairani commented on #3314
I agree that it's increasingly unrealistic to write interesting transcripts without pulling base.

A few thoughts...
* A transcript that uses `pull` won't generally be reproducible, because the thing at the other end of the URL can change over time.  Only pulling a particular namespace hash seems reproducible-enough to me to be considered reproducible in the way we like to think of transcripts as

[2022-08-14 14:21] alvaroc1 opened #3320 "Need better error message on runtime errors"
[code]
[code]

  Sure, it's unsafe, but the message should still include a trace.

[2022-08-15 11:05] ceedubs opened #3322 "Deterministic pull from Share"
# Background / Motivation

Recently I've been thinking about how to package apps written in Unison. The output of the `compile` command isn't a full solution by itself, because:

1. The binary that it produces is tied to an exact version of ucm. It's not practical to not allow someone to run your app because it was published for M3 and the user has updated their ucm to M4.
2. It's not completely s

[2022-08-15 13:57] mitchellwrosen commented on #3322
Yeah, things are fetched in parallel, so they'll be assigned different autoincrementing int identifiers across runs.

[2022-08-15 13:58] mitchellwrosen commented on #3087
This is done

[2022-08-15 13:58] #3087 closed, assigned to mitchellwrosen

[2022-08-15 14:26] ceedubs commented on #3322
One thing that I just noticed is that if I run `compile`, then the `.uc` file that it generates _does_ seem to have a deterministic hash, even if the SQLite file itself doesn't. This is probably good enough for me to work with for now. I'll go ahead and close out this issue, though I could still see us wanting some features in this realm in the future (pull a tar file of code, etc).

[2022-08-15 14:26] #3322 closed, assigned to nobody

[2022-08-15 16:36] mitchellwrosen commented on #1597
This is done (and also it didn't work well)

[2022-08-15 16:36] #1597 closed

[2022-08-15 16:37] mitchellwrosen commented on #1606
I think this can be closed?

[2022-08-15 16:37] #1606 closed

[2022-08-15 16:38] mitchellwrosen commented on #3015
This was fixed by #2777

[2022-08-15 16:38] #3015 closed, assigned to mitchellwrosen

[2022-08-15 16:44] pchiusano commented on #3322
Can we just build a binary that includes `ucm` and the output of the `compile` command in a single file? ELF binary something something?

[2022-08-15 18:13] ChrisPenner opened #3324 "deepTerms/deepTypes Megaticket"
Usages of deepTerms and deepTypes require forcing all names of everything under a given namespace, which is just infeasible and slow on large codebases. Also, it's infeasible to load everything like this in Enlil, so reducing these usages is just universally a GoodThing™

Here are *some* of the known usages:

* [x] ~`ls` uses it for computing number of contained definitions within namespaces. Even

[2022-08-15 18:31] #3275 closed, assigned to nobody

[2022-08-15 18:38] #3289 closed, assigned to mitchellwrosen

[2022-08-15 18:44] #3311 closed, assigned to mitchellwrosen

[2022-08-15 18:51] mitchellwrosen opened #3325 "Look into `pragma optimize` again"
We closed this old PR (#2012) but we think the `pragma optimize` thing still seems worth looking into.

every so many hours or days; for short-lived connections (like desktop ucm processes) maybe on shutdown will suffice,
to benefit the user at the next startup.

[2022-08-15 21:05] mitchellwrosen opened #3327 "Refactor some of the sync helper functions to use Cli monad"
Now that we have #3281, I think we can simplify some of the helper functions used in the Share push/pull code paths, which are currently just in IO.

Specifically, they could benefit from early return on some failure conditions, and an implicit environment that contains the more boilerplatey arguments like an HTTP manager.

[2022-08-15 22:52] mitchellwrosen opened #3328 "Too many different hashes for variations of a term?"
~I'm not sure if there's a bug here, but it would be good to capture this information in a transcript test (or confirm that we already have one).~ Wait, read on, I think there's definitely at least one bug lurking.

Here are a bunch of similar ways to ascribe a type to a suspended a term (in this example, `foo = '175`). Each group corresponds to a term with a different hash.

**Group 1**

| User-w

[2022-08-16 11:41] meijeru commented on #3275
I have now downloaded the latest pre-release (723eaf6) and it shows the following:
[code]
At least some of the ANSI codes are gone, but other unreadables have taken their place! It looks like this has to do with color (the emojis look OK).

[2022-08-16 13:29] mardukbp commented on #3275
In cmd.exe execute `chcp 65001` before executing ucm. It tells the console to interpret program output as UTF-8-encoded strings. HTH

Am 16. August 2022 13:41:34 MESZ schrieb Rudolf Meijer ***@***.***>:

[2022-08-16 14:36] aryairani commented on #3275
You're not supposed to have to `chcp 65001` for ucm anymore, but I would want to know if that helps. If it does, that's a regression.

[2022-08-16 14:39] aryairani commented on #3250
Sure. This one also has more information, but they are duplicates :)

[2022-08-16 14:39] #3250 closed, assigned to nobody

[2022-08-16 14:50] aryairani commented on #3275
I think a better fix than #3307 is probably along the lines of https://github.com/judah/haskeline/issues/130, but it means resurrecting our haskeline fork to apply the patch.  I'm looking into reproducing the new behavior Rudolf posted.

[2022-08-16 15:13] aryairani commented on #3271
Instead of a prompt and deletion, we can just put it into the release notes.

[2022-08-16 15:38] meijeru commented on #3275
FYI: chcp65001 does not help.

[2022-08-16 18:43] aryairani opened #3329 "see if pretty printer is doing file i/o and make it not do that"

[2022-08-16 18:43] aryairani opened #3330 "generally troubleshoot stew's file lock issue"
https://unisonlanguage.slack.com/archives/CLUNF0J5S/p1660673968753289

/cc @stew

[2022-08-16 20:05] ChrisPenner commented on #3330
We’re doing a silly thing right now where we write to files within the pretty printer, which we shouldn’t do, but also where we pretty-print then append each definition one-at-a-time; we should print them all, append them all together, then make a single scratch-file edit.

[2022-08-16 20:09] ChrisPenner commented on #3330
Though as Stew realized, there’s also the issue here that pretty printing for edit (and view, etc….) is waaaay too slow

I have a few ideas to speed those up, but the fastest way would just be to limit the names they use to the current namespace, we’ve been putting it off for a while, but I think it’s probably been long enough now?
So if folks are okay with fully committing to self-contained names

[2022-08-16 21:01] #3286 closed, assigned to ChrisPenner

[2022-08-16 21:02] #2759 closed, assigned to ChrisPenner

[2022-08-17 19:27] ceedubs commented on #2467
I found [an example](https://github.com/go-task/task/pull/592/files#diff-42e26dc67aed8aa3edb2472b4403288c1699fb6dc47419b9a475f0f224fe4689R71-R73) of a project that installs shell completion as part of its homebrew formula.

I don't know homebrew or Ruby well enough to understand whether the homebrew formula could call into ucm to generate these files as part of the installation. Or would they need

[2022-08-17 19:28] mitchellwrosen commented on #3328
cc @dolio, just want to make sure this is on your radar, if it seems relevant to you :stuck_out_tongue:

[2022-08-17 19:42] ChrisPenner opened #3333 "Audit commands to ensure they accept Hashes when applicable"
We've found a few commands don't accept hashes when they should, we should go through and audit all of our commands to ensure we're lenient here.

[2022-08-17 20:15] stew opened #3334 "when find.global fails it suggests that maybe you should try find.global"
we should only give this suggestion when find fails, not find.global

[2022-08-17 20:55] dolio commented on #3328
Which part is the buggy seeming part?

A lot of this is the pretty printer hiding information. I think there's a way to get it to print the exact type, but I don't recall what it is.

Adding ability variables to 'positive' ability lists gives equivalent types, and the pretty printer leaves those out. It also leaves out such ability lists entirely when they're equivalent to empty lists, because tho

[2022-08-17 21:31] ChrisPenner commented on #3333
Huh, I think we were just using `delete.term-replacement` incorrectly by passing the hash in the 'patch' slot.

Happy to fix any commands we find that don't accept hashes when they should though.

[2022-08-17 21:31] #3333 closed, assigned to nobody

[2022-08-17 22:21] pchiusano opened #3335 "Memory usage issue with Text type in this loop"
Reported by Aaron Novstrup:

[code]
Apparently this uses weirdly high amounts of memory. I'm guessing it's something with rope type backing `Text` getting imbalanced or not doing coalescing of chunks.

Aaron might have a workaround using a fancier `Pattern` that does all the captures in one go, but loops like the above should still work fine with our `Text` type.

[2022-08-17 22:22] ChrisPenner commented on #3306
I looked into using `lift` in Template Haskell to lift the compilation of the IOSource typechecked unison file to compile-time, but in order to derive `Lift` for a typechecked unison file I need to derive it for all dependencies of that type; which includes `ShortByteString` and that depends on `GHC.Prim.ByteArray#`, which only got a `Lift` instance 4 months ago so it won't be available in our `ba

[2022-08-17 22:52] ChrisPenner commented on #3306
I looked a bit into a codebase bundling approach, I think we could use this to bundle a "kick-start" codebase with definitions from base, but I'm not sure how it relates to the IOSource problem, which as I understand it right now is this:

* IOSource is used for a few things:
  * It contains the code and names with which to execute `builtins.mergeio`
  * It is used to lookup the current references

[2022-08-17 23:28] ChrisPenner commented on #3306
I tried another approach where I just lift the derived references for the specific things we need.

This was still a pain because we can't lift `Hash` or `ByteString`, but I was able to middle-man through Text to get through the lift.

It works, but it's extremely unergonomic for development, easy to make a mistake, requires a bit of unsafe code, and we'd _still_ need to parse the IOSource code at

[2022-08-18 00:31] ceedubs commented on #3334
The message:

[code]

[2022-08-18 00:56] aryairani commented on #3334
Ah, good catch.

[2022-08-18 16:01] pchiusano commented on #3335
Closing this:

[code]

has an infinite loop if the file size is less than 4096 bytes! like it’ll try to read a chunk of 4k, get less than that, then continue to get 0 bytes. I think switching to >= 4096 might do it, or just reading the file in one go is better anyway

[2022-08-18 16:01] #3335 closed, assigned to nobody

[2022-08-18 17:05] stew opened #3336 "zlib.compress/decompress should fail with Failure"
The builtins return an `Either Text Bytes` but they should be returning `Either Failure Bytes` so they can be reraised as exceptions

[2022-08-18 17:18] pchiusano commented on #3336
Let's just do this in base with a `mapLeft` over the builtin.

[2022-08-18 17:57] ceedubs commented on #3336
Minor note: this is only relevant for `decompress`.

[2022-08-18 18:31] stew commented on #3336
@pchiusano so we typically would have a `decompress.impl` Builtin which returned an `Either Failure Bytes` and a `decompress` in base which reraises the Failure as an exception, do we want to rename the builtin, and implement `decompress.impl` and `decompress` in base?

[2022-08-18 18:35] stew commented on #3336
Other things that return a `Left Text` are:

[code]

[2022-08-18 18:36] stew opened #3337 "base.io.systemTime / systemTime.impl can't fail"
These things should be assumed to never fail. Its a pain to have to handle the failure type that will never happen

[2022-08-18 18:46] pchiusano commented on #3336
Yeah, I think it's that. Same for the others.

[2022-08-18 21:32] aryairani opened #3338 "Q3 megaticket (previously "projects")"
Please don't edit this description or these lists directly, but feel free to a) mark an item as done or b) move a blocked item to the unblocked section, or c) move a unblocked item to the in-progress section.. To contribute, add to the comments; we can discuss and then update these lists at the conclusion, and then hide the obsolete comments.

Projects will have some sort of unique project specifi

[2022-08-18 21:32] aryairani opened #3339 "Sketches"
Proposal: add a `sketches` table to the DB with fields for title(?), causal hash (or maybe namespace hash? discuss!) and public/non-public flag. All sketches are visible to the owner, but only only public sketches are visible to visitors.

[2022-08-18 23:33] aryairani opened #3340 "diagnose #3275 & #3307"
Currently this feels like a regression, I'd like to un-regress it before a release.

See https://github.com/unisonweb/unison/issues/3275#issuecomment-1216746172

and

https://github.com/judah/haskeline/issues/130#issuecomment-569530431

and

https://github.com/judah/haskeline/pull/126

Maybe it would be enough to apply https://github.com/judah/haskeline/pull/126 to some new branch of https://githu

[2022-08-18 23:53] aryairani opened #3341 "Design work on relationship between projects and branches"
wip

[2022-08-19 00:04] aryairani opened #3342 "Exploration of overhauling how patches are created and used"
Can we automatically generate them, and when? (On push? on merge? in PRs?)
Do we need to track more info during development than what we currently track in patches?
Do we need new commands for update?

[2022-08-19 01:25] ceedubs commented on #2587
I was just bitten by this again :(

[2022-08-19 02:25] ceedubs commented on #3342
If you are exploring overhauling patches, I think that it would be good to consider #2587 as part of this. It bit me again just today.

[2022-08-19 19:19] ChrisPenner commented on #3338
- [ ] (Design, API, GUI, implementation) - Definition diffs

[2022-08-19 21:05] pchiusano commented on #2049
Okay we discussed and settled on a new primitive:

[code]

If it's too hard, do `forkWithErrorHandler` version below.

What to catch?

* Called `bug`
* Called `todo`
* Pattern match failure
* Thread kill?
* Divide by 0
* Everything else just assign to a generic error and dump show into the message of the `Failure`

Other things we considered:

[code]

[2022-08-21 12:37] mardukbp commented on #3275
I downloaded the latest pre-release. [WezTerm](https://wezfurlong.org/wezterm/index.html) can correctly display ucm's welcome message. Maybe it is a good idea to take a look at the code and see what it is doing.

[2022-08-22 11:28] aryairani commented on #3275
Everyone should please include screen shots when describing visually weird or non-weird output 🙏

[2022-08-22 15:25] ceedubs opened #3343 "Support for registering signal handlers"
Within a Unison main method it would be helpful to have a way to listen to signals sent to the UCM process. Some common use-cases are:

- Listen to SIGINT and/or SIGTERM to gracefully shut down the application.
- Listen to SIGHUP or SIGUSR1 as an indication that config files have changed and should be reloaded.

Both of these examples would be useful in the implementation of Unison Cloud.

[System