[2021-09-01 18:11] #2355 closed, assigned to dolio

[2021-09-01 21:15] aryairani opened #2376 "standardize error return types"
These return `Either Text` because they were developer before `Either Failure` was a thing:
[code]

These return Optional (which is maybe fine?):
[code]

[2021-09-01 22:29] pchiusano commented on #2376
This could just be done with pure Unison, in base, which is what I'd recommend.

[code]

[2021-09-01 23:09] aryairani commented on #2376
Good point; this can be a `base` issue instead of a `unison` issue.

[2021-09-02 01:21] pchiusano opened #2378 "Spurious ability check failure in this example"
[code]
The error is:

[code]

`C c137` is right there in the available list, so not sure how it’s not finding it.

If I had to guess, it’s attempting to unify the `C c137` with one of those existentials. If that’s the case, perhaps it should probably just look through the fully substituted ambient and check for an exact match on the head (in this case `C`)

[2021-09-02 01:38] pchiusano commented on #2378
Simplified example a bit:

[code]

Yields:

[code]

The thing in red is the `ex` in `A.pure.run ex`.

[2021-09-02 14:11] pchiusano commented on #2373
Discussed this, decided the following:

* We're going to amend the codebase interface so the codebase is not responsible for doing ANY hashing. Currently, the codebase is doing some type hashing in `putTerm` to populate the type search index. It should not be responsible for that. Not sure what exactly the new signature for `putTerm` should be but it seems doable. Suggestion: `putTermImpl` is the

[2021-09-02 15:36] dolio commented on #2378
It's probably something simple, because the last thing it's reporting before failure is just:

    ("subtype",Var 'User "c"-147,Var 'User "c"-147)

Edit: I think it's probably that the `c147` variable is no longer in scope whenever that's happening, since it makes no sense for that subtype call to fail otherwise.

Edit 2: Nope. It's actually something else.

[2021-09-02 18:02] aryairani opened #2379 "sort the output of dependents / dependencies"
Ah, it looks like we need to use Alphabetical or whatever; I guess these are currently sorted by ... I'm not sure if it's suffix or somehow reference.
[code]

[2021-09-02 18:31] pchiusano commented on #2379
I think while we're at it, we should limit the list to stuff in the current (root?) namespace, and then show their regular names. I don't think I've ever cared to see dependents that existed at some earlier point in history.

It looks like it's sorted by suffix.

[2021-09-02 20:51] #2345 closed, assigned to nobody

[2021-09-03 01:52] pchiusano opened #2381 "TDNR doesn’t work for higher-rank functions"
So if I have

[code]
And then I write `run` somewhere, it won’t be able to resolve to `Scope.run` or `Blah.run`.

The workaround is to refer to `Scope.run` or `Blah.run` explicitly.

[2021-09-03 15:27] #2378 closed, assigned to dolio

[2021-09-03 19:01] aryairani commented on #2379
Good idea. We can list unnamed dependencies, but not list unnamed dependents.

[2021-09-05 21:55] aryairani opened #2383 "`transcript` test tool doesn't support custom stack settings"
At https://github.com/unisonweb/unison/blob/trunk/parser-typechecker/transcripts/Transcripts.hs#L78, `transcripts` calls stack explicitly, using just default settings, to launch a sibling `unison` executable to run each test transcript.

If you are using a custom stack configuration (/cc @ChrisPenner), this will miss it.

We probably shouldn't be calling `stack` at all here, and use some other met

[2021-09-06 14:49] aryairani commented on #2373
I think for this to work without the constructor problems we discussed on Friday, and without rehashing the whole codebase (I don't think it's necessary or desirable yet), the hashes *won't*(/can't) be different.

The hashing code can just convert definitions to a v1 `Hashable` data type (identical to the one we've been using thus far), and produce an unchanged result.  i.e. To avoid footguns, we'

[2021-09-07 14:08] #2353 closed, assigned to pchiusano

[2021-09-07 14:39] aryairani commented on #2359
Sounds good.

[2021-09-07 14:45] pchiusano commented on #2359
Okay, I'd suggest we introduce a new builtin, `systemTime.v2` (it can still be given the name `systemTime` in base), which returns an `Int` microseconds. And the old one can just be deleted I'd say since I don't think seconds granularity is very useful and unlikely to be what people want. You can always get seconds back from microseconds. :)

@alvaroc1 if you want to draw up a PR we can review. :)

[2021-09-07 14:57] dolio commented on #2381
Is there an example for where it doesn't work?

My guess would be that this is akin to expecting higher-rank types to be inferred automatically, because a higher rank type needs to be inferred for the higher rank candidates to be subtypes. That is not a tractable expectation.

[2021-09-07 14:57] aryairani commented on #2359
To clarify, this means deleted from `base`, not from ucm.

[2021-09-07 15:05] pchiusano commented on #2381
Yeah, I think it's that.

I could imagine TDNR working differently though and doing checking rather than inference. The way it works right now is something like - it infers the type of the symbol from context, then sees if that matches the types of symbols with a matching suffix. That approach obviously won't find higher-rank stuff since that will never be inferred.

Does not seem high priority th

[2021-09-07 15:34] dolio commented on #2381
Yeah, I'm not sure how to fix it other than just trying to type check with all possibilities.

[2021-09-07 16:45] runarorama commented on #1898
Some issues that collide with this:

* Almost no `Doc.Deprecated` documentation in Base can be parsed correctly after pretty-printing. Rather than hack this in the pretty-printer, we should just convert all docs to the new type. Tracked in https://github.com/unisonweb/base/issues/39
* A number of terms in Base have an overly general ability type, which interacts with general ability inference goof

[2021-09-08 22:55] stew opened #2389 "Runtime crashes (sometimes) after call to Code.cache_"
Here's a somewhat minimized example. This will segfault *most* of the time.

[code]

[2021-09-08 22:59] stew commented on #2389
I made some changes on this branch to get us this far: https://github.com/unisonweb/unison/compare/trunk...stew:bug/TermDeserialize?expand=1

[2021-09-09 00:49] runarorama commented on #2337
The example as presented here doesn't exhibit this issue.

[code]

Pretty-prints back as:

[code]

@hojberg do you have a failing example?

[2021-09-09 03:14] #1772 closed, assigned to nobody

[2021-09-09 03:14] #2337 closed, assigned to nobody

[2021-09-09 03:38] runarorama commented on #2242
Is this resolved? Please close if so.

[2021-09-09 04:07] pchiusano commented on #2242
Ya

[2021-09-09 04:07] #2242 closed, assigned to pchiusano, dolio

[2021-09-09 12:38] hojberg commented on #2337
Hmm I don't have the original snippet that failed any more i'm afraid, it had more going on than the example I think.
Looks like you got a fix merged 🎉

[2021-09-09 14:55] pchiusano commented on #567
@dolio Just recording this here.

For implementation, we realized that there's probably no need to change the codebase format or AST at all, at least for now where kinds can be fully inferred.

What we could do is have the typechecker do a kind inference pass up-front before starting typechecking. The typechecker should already have all data declarations used or referenced by the program in its en

[2021-09-09 15:00] runarorama commented on #2224
I think you meant `+:` and not `:+`

[2021-09-09 15:14] pchiusano opened #2392 "Type application doesn’t insert needed parens"
[code]
The signature prints as:
[code]
Which does not parse.

Thanks to @ceedubs for reporting

[2021-09-09 15:15] ceedubs commented on #567
Some test cases that came up from [this discussion](https://unisonlanguage.slack.com/archives/CLKV43YE4/p1631197470159600). All of these _currently_ compile, but only a few of them should.

[code]

[2021-09-09 15:19] hojberg commented on #2224
Ah yeah, I always forget the direction of that :D

[2021-09-09 15:33] #2224 closed, assigned to nobody

[2021-09-09 15:43] ceedubs opened #2394 "Extra/useless ability inferred"
Slightly simplified from [this conversation](https://unisonlanguage.slack.com/archives/CLKV43YE4/p1631197470159600).

[code]

The inferred type is:

[code]

I don't think that it makes sense for `g1` and `g` to be inferred here.

[2021-09-09 20:07] #2392 closed, assigned to runarorama

[2021-09-09 21:44] rlmark commented on #2348
Proposal for another task/story:
When running `init` a user most likely wants to start programming in Unison immediately, currently `init` drops the user back into the terminal to start the codebase in a second command. Would it be an onboarding improvement to change the behavior of `init` to open the UCM? Would that be a non-trivial amount of work to implement?

[2021-09-09 21:46] pchiusano opened #2398 "Add `--no-base` flag"
~~I don’t think this one is particularly urgent since the autoinitialization only affects totally empty codebases.~~

Disregard, @aryairani thinks this one is pretty important to support local testing. So I'd try to knock it out. :)

[2021-09-09 21:50] aryairani commented on #2398
Wait, 100% of codebases start out totally empty.

[2021-09-09 22:00] pchiusano commented on #2398
Ha, I just meant... it will only be run once for a codebase, then never again. It also isn't run for transcripts.

It's probably more a feature that we might use sometimes when developing Unison, like for testing purposes. I'm not sure many end-users would make use of it.

[2021-09-09 23:00] pchiusano commented on #1774
Fixed by https://github.com/unisonweb/unison/pull/2390

[2021-09-09 23:00] #1774 closed, assigned to nobody

[2021-09-10 20:56] hojberg commented on #2260
Some more details on this. It might be that it only breaks if there are more than 2 fields?

[2021-09-11 12:45] pchiusano commented on #2165
Fixed by #2399

@runarorama fyi if you say “fixes #ticket1 and #ticket2” GitHub will only close #ticket1. The parser doesn’t seem to be very smart. 😀 You can do “fixes #ticket1, fixes #ticket2” instead.

[2021-09-11 12:45] #2165 closed, assigned to nobody

[2021-09-11 14:37] gampleman opened #2401 "Multi-lingual codebases"
Seams to me like a cool extension to the idea that anyone can rename a symbol without breaking the codebase of anyone else would be that Unison may well be the only programming language in which it could be practical to maintain a codebase in multiple natural languages. It would probably require some dedicated tooling to keep everything translated, but seems like that could be quite the killer fea

[2021-09-12 22:46] ChrisPenner commented on #2383
Interesting; curious if it would be reasonable to just import the Unison library and call it directly rather than shelling out? Or is this a better "integration" test? Presumably we could re-factor the Arg parsing layer to handle that.
This would ensure you're always running tests against the "current" build of unison, which might not be the case if it just searches for any old `unison` on your pa

[2021-09-12 23:39] aryairani commented on #2383
IIRC it's just a hack, not a better integration test.

We should have a separate conversation about what works on Windows. 😅

[2021-09-13 14:06] ceedubs opened #2402 "pretty printer: Unit applied to type constructor is printed with !"
`Some 3` is printed as `Some 3`, but `Some ()` is printed as `!Some`.

I'm guessing that there's some logic to pretty-print unit being applied to a thunk (a _function_) that is also being applied to type constructors.

[Here](https://gist.github.com/ceedubs/3bd3a09edc6b3a2bf0819f6d07398d6c) is a transcript with a couple of failing examples.

[2021-09-13 14:10] ceedubs commented on #2402
I just realized that this isn't actually a problem for a pretty-printing/parsing round trip, because `!Some` is also a valid way to construct an `Optional Unit`.

I guess that I don't know if this is a technically a bug, then. But it's not how I'd expect a data structure to be printed.

[2021-09-13 19:16] aryairani commented on #2181
Here is a minimized version:
[scratch-2181.md](https://github.com/unisonweb/unison/files/7156833/scratch-2181.md)

Any more minimal and we'd have `()`, which doesn't trigger the bug because it's automatically pre-installed to new codebases.
[code]

[2021-09-14 14:08] hojberg commented on #2260
I made a transcript and it fails for all the examples I gave it (regardless of number of fields). There is a case where records do work, but I haven't been able to consistently find it.

Here's the transcript: https://gist.github.com/hojberg/3d55566ac55cc76314dc73119bd63a07
They all result in `view` (and thus `edit`) without the curly record syntax.

So `unique type MyRecord = { a : Nat, b : Text

[2021-09-14 14:47] aryairani commented on #2260
I'm bumping into the same `fieldNames` function for #2373, as it does some hashing.  It looks like it generates the accessor code and then hashes it, and looks for matching names in the PPE (which may not contain what we expect after being suffixified).  I'm thinking we should come up with a more direct way of representing field names, instead of doing the code-gen each time and expecting the hash

[2021-09-14 15:44] pchiusano opened #2461 "Error when viewing Either.toException on Share"
Weirdly, it works fine for me loading this definition in the local UI.

<img width="500" alt="image" src="https://user-images.githubusercontent.com/11074/133289915-6a23d029-3f83-495a-8abd-aefa93d76c21.png">

[2021-09-14 15:50] alvaroc1 opened #2404 "Runtime crash: "dumpData: bad closure PAp (CIx #j6p8o 302 0) [] (fromListN 0 [])""
getting:
[code]
using this code:
[code]

if i comment out either of the lines:
[code]
i get no error, but if both lines are there, i get the error

and if i replace the second of those with:
[code]
i get:
[code]

[2021-09-14 15:53] hojberg commented on #2461
Server seems to return a 502 bad gateway. And subsequently requests seems to hang, which I'm assuming means UCM is crashed and being restarted.

@stew can you help debug this?

[2021-09-14 16:10] alvaroc1 commented on #2404
i think it has something to do with this syntax:
[code]
replacing that with:
[code]
made it work without a crash

[2021-09-14 19:09] runarorama commented on #2258
The issue here is that the `]` doesn't close the `if` block.

One thing we could do is add a `Close` lexeme on `]` or `,`. Although I think that might result in even worse parse errors. We could also just lookahead on a missing `Close`, looking for `]` or `,` instead. But again, bad parse errors.

Another idea I had was to add a parser state for whether we're inside a list expression, then a `,` o

[2021-09-14 20:27] pchiusano commented on #2258
@runarorama I'm thinking just have `[` do an `Open "["` and `]` emit however many `Close` are needed to pop that `[` off the stack. Exactly like how parens are handled by the lexer.

Then I think this parser in `Parser` will need updating:

[code]

You can peep `tupleOrParenthesized` for inspiration.

[2021-09-14 22:02] ceedubs opened #2406 "content-addressed updates kind of break TDD/implementation stubs"
This is a variation of previous discussions about how a top-level term like `numRetries = 3` means that if you change it to `numRetries = 4`, `ucm` will attempt to update _every_ top-level term with a value of `3` to now be `4`.

In this case you might stub out two different functions as you start some test-driven development:

[code]

If you fill in an implementation for `fn1`, then `ucm` will al

[2021-09-14 22:12] pchiusano commented on #2406
Yeah, this is a known issue. I'd say it's probably an instance of: https://github.com/unisonweb/unison/issues/2252

As a workaround for now, you can write something like

[code]

Or otherwise work some unique name or id into the stubbed implementation.

[2021-09-14 23:33] ceedubs commented on #2406
I'm going to go ahead and close this out. There is at least one other issue for this sort of thing, and I think that the workaround is reasonable as we explore content-addressed updates.

[2021-09-14 23:33] #2406 closed, assigned to nobody

[2021-09-14 23:55] runarorama commented on #2258
That won't quite do it since a comma can also close a block inside a list.

[2021-09-15 01:35] stew commented on #2344
I'm running into this one again, here's the best I could minimize this example, which is weird in itself

[code]

error:

[code]
(with `TVar.newIO ()` being the thing in red)

[2021-09-15 02:01] pchiusano commented on #2258
Ah yeah good point. But my idea could be combined with your idea

Proposal: a comma should pop everything from the stack until (but not including) the innermost block which is comma-separated.

Just thinking through an example here. Suppose I have:

[code]

just before the comma in `(h,ignored)`, the layout stack will be `[` `else` `with`, `(`.  The innermost comma-separated block is the `(` block

[2021-09-15 02:29] pchiusano commented on #2344
Okay, you are getting a terrible error message, but this variation typechecks, and I'll explain why:

[code]

All I did was swap the order of the two lines declaring `tid` and `tv`.

What's going on? The function passed to `TVar.modify` references `tid`, which is declared later on in the function. The typechecker considers all bindings in between the `modify` and the forward reference to be part o

[2021-09-15 02:32] pchiusano commented on #2344
TL;DR: Forward-references create cycles of bindings, and cycles don't have access to any abilities. Workaround is to rearrange your bindings so as not to use forward references or limit how far forward your references are, so they don't capture other unrelated stuff in the cycle.

[2021-09-15 02:40] pchiusano opened #2407 "When clearing ambient abilities, say why"
@stew came up with an example here - he created a cycle (via a forward reference), and there are no abilities allowed in cycles. But the error message is not very helpful, it just says “this location does not have access to any abilities”.

https://github.com/unisonweb/unison/issues/2344#issuecomment-919628254

The programmer would like to know WHY the location doesn’t have access to any abilities

[2021-09-15 02:40] pchiusano commented on #2344
Going to close in favor of https://github.com/unisonweb/unison/issues/2407

[2021-09-15 02:40] #2344 closed, assigned to dolio

[2021-09-15 14:44] hojberg opened #2408 "Doc pretty print round trip issue with emphasize and underscores."
To emphasize parts of a doc the user can use `**my text**` or `__my text__`. Both of these will be pretty printed (when edited) as `__my text__`.  This works fine, but if there is an underscore in the part being emphasized, the parser breaks:

`**MY_TEXT**` is pretty printed as `__MY_TEXT__` which does not parse.

@pchiusano I'm not sure if I should file this as a pretty printing issue or a parsin

[2021-09-15 15:12] ceedubs opened #2409 "runtime crash: applying non-function: Enum ##Boolean 1"
I tried for a while, but couldn't figure out how to create a smaller reproduction of this issue.

[Here](https://gist.github.com/ceedubs/ce02f577dc60c7857cac03d3c24527f1) is the raw transcript. Below is the result of running it.

## background: data structures and functions

[code]

[code]
## the error

Now the following code compiles, but when run via `test>` results in the runtime error `applyin

[2021-09-15 16:48] aryairani opened #2410 "root branch out of sync when same codebase is written by multiple ucm"
The `Codebase.getRootBranch` function and `Command.LoadLocalRootBranch` will both load external changes, but the input loop doesn't call these in all the places it needs to.  The backend, and input commands that delegate to the backend, like `ls` do work, but others (like `move.namespace`) use stale data.

I'm not sure if external file watching (`rootBranchUpdates`) can be made to work or not, but

[2021-09-16 03:21] pchiusano opened #2411 "`Debug.trace : a -> ()`"
Behaves like `a -> ()` but prints out the `a` to the console as a side effect, using the same machinery as `bug` or `todo` - it decompiles the `a` then pretty-prints it.

There’s currently `Debug.watch : Text -> b -> b` and this would basically supercede that, allowing any value to be printed, not just `Text`.

I find `Debug.watch` unpleasant since it requires doing a bunch of string munging. The

[2021-09-16 13:38] pchiusano commented on #2411
@alvaroc1 suggested just `a -> ()` as the signature for the primitive which I think I prefer. We can always other variations like

[code]

[2021-09-16 14:05] ceedubs commented on #1256
I believe that this was resolved by #1853.

[2021-09-16 14:05] #1256 closed

[2021-09-16 14:10] ceedubs opened #2412 "Docs: markdown headers cause problematic indentation"
Consider the following doc:

[code]

When this is rendered by either `view` or `display`, additional indentation is added:

[code]

This is problematic, because in markdown that extra indentation is the format for code blocks, so it doesn't render in the way that you would want it to:

# Header 1

  Stuff

  # Header 2

    More stuff.

  # Another Header 2

    More stuff.

    # A Header 3

[2021-09-16 14:20] ceedubs commented on #2412
I just saw #2097. I assumed that the current `display` _was_ meant to be consumed as markdown. Maybe this isn't really a bug then? Is `display.to` meant for consumption on the terminal? @pchiusano

[2021-09-16 14:22] ceedubs commented on #2097
Is this a duplicate of #2098? @pchiusano created them both on the same day so I'm trying to figure out whether they have a subtle difference or he was just _really_ excited about this idea 😄

[2021-09-16 15:01] dolio commented on #2411
It can't use the same machinery, which is to throw an exception with the value in it. Entirely new machinery could be added, though.

[2021-09-16 15:17] hojberg commented on #2412
Might be related to https://github.com/unisonweb/unison/issues/2271

[2021-09-16 17:44] ceedubs opened #2413 "search for string constants within codebase"
Sorry if there is already an issue for this; I couldn't find one.

As people start writing services in Unison, a really common use-case is going to be "Okay I see a log message that says `couldn't load message because...`. Where in my code did this come from?"

Traditionally you'd use something `grep`-like for this, but because Unison codebases aren't stored as text, you can't do that.

## minimum

[2021-09-16 18:17] ceedubs commented on #2413
The fact that there's not really a concept of "my code" vs "external library" in Unison might make this a bit tougher to make this fast. Maybe confining within a namespace or within dependents of `X` helps?

[2021-09-16 18:55] aryairani commented on #2413
Good idea. We don't have an index for this, but we could add one in a future iteration.

[2021-09-17 15:04] pchiusano commented on #2398
Fixed by #2414

[2021-09-17 15:04] #2398 closed, assigned to hojberg, rlmark

[2021-09-17 17:51] aryairani opened #2416 "upgrade codebase hashing"
It is time for our first codebase db migration! 🙃

- [x] pull out v1 hashing module
- [x] pull out v2 hashing module (probably just a clone of v1)
- [x] fix tests that broke with `TypecheckedUnisonFile` changes
- [ ] create migration harness (check schema version, do things & update version)
- [ ] converting objects
  - [ ] updating objects in place? or create new objects and clean up db after?

[2021-09-17 18:53] #2260 closed, assigned to nobody

[2021-09-17 19:40] #2258 closed, assigned to nobody

[2021-09-17 20:21] pchiusano opened #2417 "Signed metadata"
Would be nice to allow metadata to be cryptographically signed, so that, for instance, you could verify that someone with Alice’s private key associated some metadata with a hash.

[2021-09-18 00:45] aryairani commented on #2417
You could do it with the existing metadata mechanism, given
[code]
where `signature = sign(k_r, (data, metadata))`
instead of linking plain metadata with a hash, you can link the signed metadata to it.  Then when searching for definitions with a particular type of metadata `Foo` you could search for both `Foo` and `Signed Foo`.

[2021-09-19 01:55] alvaroc1 opened #2419 "Dependents lists hash-only reference as if it had a name"
`dependents` lists a reference with a name, but other commands respond as if it's a hash-only reference. What is the difference between 1 and 2 here?

[code]

[2021-09-20 17:25] pchiusano commented on #1698
This has been fixed recently in trunk! By #2403

[2021-09-20 17:25] #1698 closed, assigned to nobody

[2021-09-20 17:36] pchiusano commented on #2244
@runarorama this is the issue I was thinking of which comes up a lot. My comment above might be accurate https://github.com/unisonweb/unison/issues/2244#issuecomment-889878693

[2021-09-20 17:54] samgqroberts commented on #1698
Go Unison team! 🎉

[2021-09-20 19:56] ceedubs opened #2422 "term completion for run command"
Unlike many of the other `ucm` commands, `run` seems to be missing tab-completion.

Example:

[code]

<details>
<summary>UCM session</summary>

[code]

</details>

Now I would expect `run m<TAB>` to complete to `run main`, but it doesn't. If I fully type out `run main` it does run the method that I would expect.

[code]

[2021-09-20 20:22] ceedubs commented on #2413
@aryairani are you referring to a SQLite index that will end up in the SQLite file? I wonder if a useful index into the strings would end up adding a fair amount of bloat to the repo. I wonder if this should instead be a local cache, though then it might be a pain to manage. Luckily not as much of a pain, since Unison terms are content-addressed.

[2021-09-20 20:49] #2325 closed, assigned to nobody

[2021-09-21 02:15] pchiusano opened #2423 "Spurious ability check failure"
I wouldn’t stop what you’re doing to work on this, but would love to fix at some point.
[code]

Yields:

[code]

In this specific example, I can workaround by inlining the definition of `append`, like this typechecks -

[code]

[2021-09-21 04:07] pchiusano opened #2424 "Spurious ability check failure"
[code]

Yields:

[code]

Weirdly, putting an annotation on the `’(k r)` causes it to typecheck.

[code]

[2021-09-21 15:21] ceedubs opened #2425 "error-prone update behavior with code cycles"
@hoelzro #1794 may be related to this.

This issue description was created from a transcript. The raw transcript can be found [here](https://gist.github.com/ceedubs/4ed8113558b4bc2a700c6e4802893424), and the output is pasted below.

When there is a cycle in code (ex: function `f` calls function `g` and function `g` calls function `f`), if you edit only one of the functions at a time and then run a

[2021-09-21 16:21] pchiusano commented on #2425
Yeah, I think the correct behavior is to have the `edit` command actually give you the full cycle of definitions. So if you `edit ping` the scratch file gets both `ping` and `pong`

[2021-09-21 19:41] anchpop opened #2426 "Unison-server should either not use special characters in IDs, or accept their un-escaped versions"
There's an annoying issue in my [devcontainer pr](https://github.com/unisonweb/vscode-devcontainer/pull/4/commits/24fb31997eca0472a09c8dca3d11d182c336130c#diff-b335630551682c19a781afebcf4d07bf978fb1f8ac04c6bf87428ed5106870f5R26) caused by what seems to be a [vscode bug](https://github.com/microsoft/vscode/issues/133551). It would be resolved if the IDs generated didn't include special characters t

[2021-09-21 19:54] hojberg commented on #2426
I've noticed this as well. It might be worth also making the token a lot smaller.

[2021-09-22 13:53] aryairani commented on #2425
The message is key.

What should it do after giving you the full cycle of definitions but you delete some of them from the scratch file before hitting `update`?

A warning is probably warranted here too.

[2021-09-22 14:03] ceedubs commented on #2425
@aryairani 👍 a warning there could definitely be useful as well.

The biggest problem with the current state is that it's pretty easy to edit a term and not realize that you are falling into this trap. I think that warning the user that they might want to be editing `x, y, z` terms as well would go a long way.

[2021-09-22 17:16] aryairani commented on #2425
Strongly agree, thanks for writing this up.

[2021-09-22 17:54] ceedubs opened #2429 "diff.namespace should accept namespace hashes"
The `history` command lists hashes for namespaces. But if you try to supply those hashes as arguments to `diff.namespace` it says something like:

[code]

This limits the usefulness of the `history` output.

[2021-09-22 19:52] #2408 closed, assigned to nobody

[2021-09-22 22:56] ceedubs opened #2431 "Segmentation fault when displaying certain docs"
[code]

[code]
      unsafeRun!
        '(catchOnly
          (typeLink TlsFailure) '(raise (Failure (typeLink TlsFailure) "Oh no" !Any)))
[code]
      catch
        '(catchOnly
          (typeLink Generic)
          '(raise (Failure (typeLink TlsFailure) "Exception type did not match" !Any)))
[code]

[2021-09-24 04:19] aryairani commented on #2413
@ceedubs The SQLite file *is* a local cache.  I'm not familiar with the performance characteristics of sqlite full-text search, but I suppose they're in here somewhere: https://www.sqlite.org/fts5.html

[2021-09-24 16:39] pchiusano opened #2435 "Incorporate hashes of type signatures into the hashes of terms"
https://github.com/unisonweb/unison/issues/2276#issuecomment-889317543

[2021-09-24 16:39] pchiusano commented on #2435
Suggest modifying the smart constructor of `TypecheckedUnisonFile` to do this.

[2021-09-24 18:23] #1867 closed, assigned to aryairani

[2021-09-24 19:04] #1778 closed, assigned to nobody

[2021-09-25 19:26] #2359 closed, assigned to nobody

[2021-09-26 03:19] aryairani opened #2439 "trouble selecting certain easytests"
Given some failing tests:
[code]

Try to run just one failing test, copy/pasted from the failed test list:
[code]
🤔  @pchiusano Any ideas?

[2021-09-27 14:30] alvaroc1 opened #2440 "Unit type doesn't get expanded into a link on docs"
doc:
[code]

<img width="406" alt="Screen Shot 2021-09-27 at 8 29 41 AM" src="https://user-images.githubusercontent.com/107395/134928817-5334de0e-6804-4826-86ac-2f80afdb80dc.png">

[2021-09-27 14:44] pchiusano commented on #2440
Hmm, how about `{type Unit}`?

[2021-09-27 16:03] alvaroc1 commented on #2440
yep, `{type Unit}` works. Should `{type ()}` work too? I always use `()` so i didn't think to try `{type Unit}`.

[2021-09-27 16:04] pchiusano commented on #2440
It should definitely work! So will leave this open.

[2021-09-29 05:10] stew opened #2444 "provide a way to compose handlers"
I feel like this should be a thing:
[code]
I'm not sure I know what exactly the 'ijk' I'm talking about but is something like this a thing we can do?

[2021-09-29 05:18] stew commented on #2444
this came up in a discussion with @pchiusano and I about how we want to be able to expand our system of abilities that our Remote handlers can handle without having to churn on types.

[2021-09-29 05:32] stew commented on #2444
I think there is also probably other space to explore here. like can you turn a `Request g a -> b` into a `'({g} b -> a) -> (b -> a)` ? what about vice versa? These things might greatly expand the way we can compose ability handlers, if they make sense

[2021-09-29 18:26] runarorama commented on #1744
Looks like this is related to the width of the pattern. I'll either allow line breaks in patterns or prevent the pretty printer breaking patterns into multiple lines.

[2021-09-30 13:35] benclifford opened #2445 "Return `Nat`, not `Int` from systemTimeMicroseconds"
Currently (a4627bce8101474242ebd630f85ec54e97ea48b4) systemTimeMicroseconds returns an `Int`:

[code]

This plays badly with the other microseconds-based function in the base library, which takes a `Nat`:

[code]

[2021-09-30 14:26] atacratic commented on #2445
Rationale for Int is in #2359 . I think actually the issue here is that no changes to base got made to go hand in hand with #2418. Eg EpochTime should switch to Int.

[2021-09-30 14:34] alvaroc1 commented on #2445
Yeah, i think we intended for base to just have `systemTime : '{IO} EpochTime` (updated to use the new built-in at the correct resolution), not `systemTimeMicroseconds`. But i forgot to make a PR for base after the built-in got merged.

Maybe the built-in should be `Nat` and the transformation to `EpochTime` (Int) should happen in base, not as part of the built-in?

[2021-09-30 14:46] pchiusano commented on #2445
Going to close this one "as designed". You can do `Int.truncate0 n` to convert an `n : Int` to a `Nat`. It might not be a bad idea to add this to base though -

[code]

I agree about `EpochTime` switching to contain an `Int` in base and created https://github.com/unisonweb/base/issues/43 to track that.

[2021-09-30 14:46] #2445 closed, assigned to nobody

[2021-09-30 15:59] aryairani commented on #2339
@pchiusano Can you suggest some library we could try an `update` on to reproduce this?

[2021-10-01 16:28] runarorama commented on #1744
This appears to parse fine now. Closing as "can't reproduce."

[2021-10-01 16:28] #1744 closed, assigned to runarorama

[2021-10-02 12:45] tom-sherman opened #2449 "GET request of `/api/getDefinition?names=` crashes ucm"
Exits with a segfault:

[code]

[2021-10-02 17:25] ceedubs commented on #2389
I'm pretty sure that this was resolved by #2430. Feel free to reopen if I'm wrong.

[2021-10-02 17:25] #2389 closed, assigned to dolio

[2021-10-04 14:22] hojberg commented on #2449
Yikes. Yeah this should probably return a 400 bad request or a 404. Should be a quick fix.

[2021-10-04 14:42] runarorama commented on #703
"the right thing is to just always include the hash of the type signature with the term, regardless of whether that signature can be inferred. the only issue with doing this now is it might lead to doing a lot of spurious updates for terms whose types can still be inferred"

We can do these updates in bulk

[2021-10-04 14:57] pchiusano commented on #703
Updating how hashing is done is tracked by https://github.com/unisonweb/unison/issues/2435

I think this issue might just be fixed when #2435 is done, though it's possible it's just some pretty-printing bug..

[2021-10-04 15:30] #601 closed

[2021-10-04 15:30] pchiusano commented on #601
Addressed by #2399

[2021-10-04 15:34] pchiusano commented on #1190
Closing as "user error" for now. I'm doubtful we can do anything smarter with the current formulation of `Pretty`.

You can define `wrapLines ps = lines (wrap <$> ps)` if you like.

[2021-10-04 15:42] pchiusano commented on #679
No longer relevant now that syntax is `handle ... with`.

Also tried this example:

[code]

And it round-trips fine.

[2021-10-04 15:42] #679 closed

[2021-10-04 15:51] pchiusano commented on #949
This has been fixed at some point...

[code]

[2021-10-04 15:51] #949 closed

[2021-10-04 15:58] pchiusano commented on #950
Also has been fixed, this renders as -

[code]

[2021-10-04 15:58] #950 closed

[2021-10-04 16:07] pchiusano commented on #2402
Suggested fix in lieu of something fancier - if the head of the function application is a `Term.Constructor`, do `Foo ()` (or more generally `Foo x y ()`), otherwise if it's not, render as `!Foo` or `!(Foo x y)`.

[2021-10-04 16:09] pchiusano commented on #2281
This has been fixed. I seem to recall @dolio fixed something related to this but I can't find the PR.

[2021-10-04 16:09] #2281 closed, assigned to pchiusano

[2021-10-04 16:10] #1776 closed, assigned to nobody

[2021-10-04 16:11] pchiusano commented on #1289
Same as https://github.com/unisonweb/unison/issues/1776 which is marked as "actually a feature" with an explanation. :)

[2021-10-04 16:11] #1289 closed

[2021-10-04 16:26] #1898 closed, assigned to runarorama

[2021-10-04 16:35] pchiusano commented on #518
Just confirmed this is still a problem.

[2021-10-04 16:38] pchiusano commented on #2244
Another example -

[code]

[2021-10-04 17:31] dolio commented on #2281
The thing I fixed was destructuring binds causing the remaining bindings in the same sequence to be recursive, even if they don't need to be.

[2021-10-04 17:39] rlmark commented on #2348
I'm gonna close this for now! Hopefully onboarding is a bit easier for new codebases.

[2021-10-04 17:39] #2348 closed, assigned to hojberg, rlmark

[2021-10-04 17:40] rlmark commented on #2326
Closed with #2348

[2021-10-04 17:40] #2326 closed, assigned to nobody

[2021-10-04 17:51] ChrisPenner opened #2451 "Add default metadata according to term's namespace instead of UCM CWD"
Currently the default metadata is chosen based on the namespace of your UCM session, not the location of the term being added. E.g. if I add the following:

[code]

And my ucm session is at `.>` It will use the metadata from `.>` instead of `.base.List` if default metadata is specified there.

[2021-10-04 18:07] hojberg opened #2452 "UCM `api` command"
For folks needing to use the UCM web API, we should add a UCM command: `api` that gives details about the API. At minimum should report back the API url.

Example (from within `ucm`):

[code]

[2021-10-04 22:37] pchiusano opened #2453 "When there’s a name resolution failure, tell me what it could be!"
This is a very high value fix that’s pretty simple to do. It is to give a nice error message if a type or term name is ambiguous.

[code]
With a similar message if there’s term resolution failures.

The fix will be in `PrintError.prettyResolutionFailures`. Pass the `PrettyPrintEnv` to that function and use that to print out the possibilities - inside the `ResolutionFailure` (defined in `Resolution

[2021-10-04 23:02] pchiusano opened #2454 "New builtin for traversing value dependencies by type"
@dolio, this is a primitive I think we could use for writing different kinds of distributed storage layers that support garbage collection:

[code]

The storage layer would have something like:
[code]
And then the thing you’d be saving to storage would be a value with `External` references, which you could traverse using this builtin, allowing you to retain the transitive closure of a DAG buillt o

[2021-10-05 15:45] ChrisPenner commented on #2453
I can take this one 👍🏼

[2021-10-05 20:31] mitchellwrosen commented on #2338
I think this is partially addressed by #2458, maybe fully. More work is needed to make diffing branches faster (for snappier `link`, `unlink`, `merge` etc.), but that may fall under a different issue.

[2021-10-05 22:44] #2426 closed, assigned to hojberg

[2021-10-06 14:19] hojberg commented on #2461
This definitely feels like a ucm issue. Moving the ticket to the unison repository.

[2021-10-06 16:00] #1536 closed

[2021-10-06 16:59] runarorama opened #2463 "Leading underscore in a name breaks `use` clause"
(Unison version M2i)

This code from Jemma Nelson does not parse:

[code]

Removing the leading underscore from the name fixes the issue.

[2021-10-06 17:03] pchiusano commented on #2463
The bug only happens if the underscore `use` is followed by another `use`. For instance, these parse:

[code]

[code]

Wild.

So as a workaround for now, you can move the underscore `use` clause to the last position.

[2021-10-06 17:21] ChrisPenner opened #2464 "Resolution doesn't continue with type-directed search if there's a local definition"
[code]
  The 2nd argument to `(*)`

            has type:  Nat
      but I expected:  Duration

      2 | (*) : Nat -> Duration -> Duration
      3 | times * d = match d with
      4 |   Nanosecond n -> Nanosecond (times * n)
[code]

[2021-10-06 17:54] mitchellwrosen opened #2465 "Performance concern: `Name`'s `Ord` instance is not cheap"
I noticed in a time profile that comparing `Name`s contributes a nontrivial amount of time to computing a branch diff.

Here's the `Ord` instance:

[code]

Perhaps we should consider replacing this instance with something far cheaper to compute (ideally O(1)), since `compare` is often assumed to be cheap and performed many times on the fly, especially when dealing with `Map`s, `Set`s, `Relation`s,

[2021-10-06 17:56] pchiusano commented on #2464
For better or worse, this is as designed. It is a design choice, but at the moment, scratch file names shadow codebase names much like if the codebase were an outer scope. You can always do `Nat.*` there or `use Nat *` in places where you want the codebase definition.

This transcript specifies name resolution behavior and walks through various corner cases -

https://github.com/unisonweb/unison/b

[2021-10-06 18:12] runarorama commented on #2465
Seems like these should be two different types with two different `Ord` instances. So like `Name` for the ordinary use, and `SuffixedName` or something when wanting to search by name suffix.

[2021-10-06 18:43] pchiusano commented on #2465
While it's possible to have the "source of truth" for `Name` be ordered in some other way (and that was considered), it just means you have to create and maintain auxiliary indices to support the suffix-based lookup and search that we do everywhere (and which we want to be logarithmic time). Creating and maintaining aux indices is more complicated and hasn't worked out great previously.

If this i

[2021-10-06 19:10] mitchellwrosen commented on #2465
Thanks for the background.

I totally agree that the Ord instance derived from Text is not semantically so useful or meaningful, and I really like how `searchRan` can carve out names with similar suffixes.

To that end I do like the idea of changing `Name`'s representation to allow for a faster `Ord` implementation at the expense of some other functions.

I'm not sure a newtype is the right soluti

[2021-10-06 20:57] #2464 closed, assigned to nobody

[2021-10-06 20:59] ChrisPenner commented on #2464
I think the best case would perhaps be to shadow, but to also print a warning that a combinator of the correct type exists in the codebase as well, and print that out so that the user isn't left scratching their head about why TDNR happened to fail in this isolated case. This is probably a bit tougher to implement though.

Thanks for the context!

[2021-10-06 21:06] ChrisPenner opened #2467 "UCM bash/zsh completion support"
In https://github.com/unisonweb/unison/pull/2280, I swapped ucm to use optparse applicative, which means we can now get Bash, Zsh, or Fish tab-completion on arguments and commands for free! This also allows configuring custom completion types within the CLI code, and if you use the appropriate parser type for arguments it can infer that a given argument must be a file or directory, etc.

You can r

[2021-10-07 01:12] #2244 closed, assigned to pchiusano, runarorama

[2021-10-07 04:50] aryairani commented on #2040
This is superseded by @rlmark and @hojberg's welcome onboarding.

[2021-10-07 04:50] #2040 closed, assigned to mitchellwrosen

[2021-10-07 05:06] aryairani opened #2471 "codebase rehash migration megaticket"
- [x] #2374 / #2100
  - [x] #2460
    - [x] #2433
- [x] #2435
- [x] actually do the migration on codebase startup
  - [x] figure out why this is happening #2332
  - [x] do the migration on pull?
  - [x] Don't re-migrate on every pull if no remote changes #2773
- [x] regressions
  - [x] #2720
  - [x] #2719
  - [x] #2722
  - [x] #2733
  - [x] #2756 (fixed, but needs trunk to be merged back into topi

[2021-10-07 15:19] #2140 closed, assigned to aryairani

[2021-10-07 18:42] rlmark opened #2472 "M2j Release Notes"
Our last release was [M2i](https://github.com/unisonweb/unison/releases/tag/release%2FM2i). Here's a summary of what's new since then:

* Doc rendering now crops long docs! Thanks @hojberg
* Performance improvements from the Unison team - @mitchellwrosen @aryairani and @ChrisPenner
* Fix for base download on initialization -You're the best @ChrisPenner
* Experimental work on standalone byte code f

[2021-10-07 20:07] ChrisPenner opened #2473 "UCM treats missing branches as empty when it should probably error"
## Actual Behaviour

In UCM:

[code]

UCM happily pretends that `.missing` is just an empty branch, which is probably not helpful in most cases, in particular when you accidentally typo, it will seem like everything succeeded.

This recently cost me and @rlmark a bit of our sanity with the automatic base-download feature, where there was a casing mismatch but it appeared as though everything was w

[2021-10-07 21:33] #2453 closed, assigned to ChrisPenner

[2021-10-07 21:50] #2472 closed, assigned to nobody

[2021-10-08 03:35] pchiusano opened #2474 "Spurious ability check failure in this example"
Might be another instance of the same issue, but check this out -

[code]
[code]
Removing the annotation on `go` causes it to work.

The annotation on `tl` is needed, without that I get the same error.

[2021-10-08 14:47] ceedubs commented on #2467
Thanks for the tip, @ChrisPenner! And also for the switch to optparse applicative.

I don't know much about Homebrew, but I set this up in the Nix derivation for `ucm` and it seems to be working well. Here is the directory structure that I'm using, which I think follows the conventions for the various shells (I don't know if `share` would be parent directory in homebrew though).

[code]

[2021-10-08 16:14] ceedubs commented on #2467
I just realized that we can also auto-generate a not-completely-terrible man page for `ucm` thanks to optparse-applicative generating a useful `--help`:

`help2man --no-info -v version ucm | nroff -man`

<details open="true">
<summary>Output</summary>

[code]

</details>

[2021-10-08 16:24] aryairani commented on #2467
Built January 1, 1980?

[2021-10-08 16:59] ceedubs commented on #2467
Haha. My guess would be that this has to do with git or Nix normalizing a date for reproducibility/consistent hashing. But I have no idea why it would differ from what's at the top of the page. 🤷

[2021-10-08 19:58] ceedubs commented on #2150
I imagine that this would come for "free", but just to throw it out there:

It would be nice if `ui 3` worked like `view 3` does (the 3rd result from the previous command).

[2021-10-08 20:11] hojberg commented on #2150
@ceedubs nice!

[2021-10-08 21:21] aryairani commented on #2332
I just noticed this isn't the case on my local codebase, which surprised me. 🤔

There shouldn't ever be duplicates here, but I can't find where or how these duplicates are getting created either.

[2021-10-08 21:35] aryairani commented on #2332
I was planning to fix this by adding a unique constraint across the whole relation, but when I sat down to do it, I realized I didn't necessarily want to put another index into the DB.  So now I'd like to figure out where the duplication is happening at runtime.

[2021-10-08 21:55] mitchellwrosen commented on #2332
A unique index would certainly help track down where the duplicates are coming from, whether or not we actually want that index long-term

[2021-10-09 03:25] aryairani commented on #2332
Good idea.

If we are trying that, we have to temporarily remove `ON CONFLICT DO NOTHING` from `addToTypeIndex` and `addToTypeMentionsIndex` as well.  I don't know if this problem occurs with the dependents index too (`addToDependentsIndex`), but I don't see why it would be any different from the other two.

[2021-10-09 22:50] ChrisPenner commented on #2320
Ran into this today; here's a minimal repro of a simple watch expression which doesn't listen to Ctrl-C (at least for me)

[code]

In the long run we may consider a more reactive UI which runs watch expressions asyncronously without becoming unresponsive and updates the UI when they complete; but I suppose that depends on how many people use them for "long-running" computations; it may be mostly l

[2021-10-09 23:15] ChrisPenner opened #2479 "Empty codeblock in docs crashes ucm: InvalidPosException"
`ucm version: release/M2j (built on 2021-10-07)`

    {{
[code]
    }}
    x = "hi"

Exits UCM on save with:

[code]

[2021-10-10 02:15] ChrisPenner opened #2480 "Better story for undeleting term (after undo state is cleared)"
`ucm version: release/M2j (built on 2021-10-07)`

I recently deleted a term, did some other things, then realized I needed to get it back/rename it.

* First I tried `reflog`, this shows the namespace related to the change, but not the hash of the term I deleted
* I tried `names` with the old name, wondering if it would find the old name
* I then tried `history` with the namespace's hash from refl

[2021-10-10 02:17] ChrisPenner opened #2481 ""redo" command"
I recently found myself undo-ing a few things, but went back to far. IMO every `undo` should come with a `redo` 😄

This is probably part of a larger conversation on change-management and undo trees.

[2021-10-10 02:28] ChrisPenner opened #2482 "Support docs in watch expressions"
`ucm version: release/M2j (built on 2021-10-07)`

When working on docs there doesn't appear to be any easy way to get live feedback on the rendered doc, which can be quite handy when using complex markup, linked terms, types, examples, embedded docs, etc.

Some things I tried:

[code]

I tried this watch expression:

[code]

Which renders:

[code]

Then I tried:

[code]

Which just fails to resolv

[2021-10-10 02:56] ChrisPenner opened #2483 "Term/type links fail to parse when touching brackets."
ucm version: release/M2j (built on 2021-10-07)

This doc:

[code]

![image](https://user-images.githubusercontent.com/6439644/136679692-2a84a4cf-804d-4126-a11a-6a15f732800a.png)

Correctly parses all links except the `{hour}` link; if I add a space between the `(` and `{` it parses as expected.

[2021-10-11 16:49] aryairani commented on #1436
I don't think we're going to do this.

[2021-10-11 16:49] #1436 closed

[2021-10-11 17:04] ChrisPenner commented on #1436
If we eventually support tar-files they could pull the tar file of a given branch I think. You just couldn't push afterwards, but what does it mean to push to a "commit" anyways?

[2021-10-11 17:05] aryairani commented on #1436
You could pull from a branch, tag, or commit; or push to a branch (only).  Same with Unison namespaces hashes; we can address them in read-only contexts.

[2021-10-12 15:47] ChrisPenner commented on #2149
For Hacktoberfest implementors:

* The Docs command is handled here
https://github.com/unisonweb/unison/blob/3996559579bf5a35bf885ecb4f7d5838574b027e/parser-typechecker/src/Unison/Codebase/Editor/HandleInput.hs#L1047
* You'll need to make the argument optional
https://github.com/unisonweb/unison/blob/3996559579bf5a35bf885ecb4f7d5838574b027e/parser-typechecker/src/Unison/Codebase/Editor/Input.hs#L1

[2021-10-12 15:50] ChrisPenner commented on #1480
Folks can start digging here:
https://github.com/unisonweb/unison/blob/3996559579bf5a35bf885ecb4f7d5838574b027e/parser-typechecker/src/Unison/CommandLine/OutputMessages.hs#L1489-L1492

[2021-10-12 15:55] ChrisPenner commented on #1903
Likely addressed by https://github.com/unisonweb/unison/issues/2473

[2021-10-12 15:57] ChrisPenner commented on #1583
Closed in https://github.com/unisonweb/unison/issues/1583

[2021-10-12 16:01] ChrisPenner commented on #1478
Here's the URI Parser
https://github.com/unisonweb/unison/blob/3996559579bf5a35bf885ecb4f7d5838574b027e/parser-typechecker/src/Unison/Codebase/Editor/UriParser.hs#L34-L46

[2021-10-12 16:06] ChrisPenner commented on #1207
Related to https://github.com/unisonweb/unison/issues/1480

[2021-10-13 06:17] iamevn opened #2489 "newlines within bold/italics/strikethrough in docs don't work"
[code]

causes UCM to display an error:

[code]

If you add a doc with a long line and then edit it, the version in your scratch file will have line breaks added and those may split bold/italics/strikethrough wrappers and trigger this.

[2021-10-13 15:30] ceedubs opened #2490 "ucm: more helpful completion when a namespace is provided"
This is relevant to at least the `cd`, `ls` and `view` commands, but probably a number of other commands.

If I type `view .base.<TAB>`, ucm hangs for a second and then prompts `Display all 7430 possibilities? (y or n)`. What I would _like_ for it to do is only offer completion for the direct children of the `.base` namespace (of which `ls .base` currently shows there are only 141).

I think that

[2021-10-13 15:50] mitchellwrosen commented on #2338
I'm going to close this because the main cause of slowness has been addressed by #2458 (and a few other patches improved the branch diff performance, too).

[2021-10-13 15:50] #2338 closed, assigned to aryairani, dolio

[2021-10-13 15:55] ChrisPenner opened #2491 "Feature: Bulk updating metadata"
I recently wrote a small library before I had configured my default metadata, adding the metadata afterwards was a very tedious process of linking each individual piece of metadata to every term and type in the namespace 😬

Long term I think I'd love to see some form of globbing, e.g. "link x .namespace.*"

At any rate there should be some less tedious way to do this 😄

[2021-10-13 16:14] pchiusano commented on #2491
There is actually a super-secret hidden way of doing this. The `link` command lets you supply multiple definitions. So you can do `find` and then `link .authors.chrispenner 1-30`.

It is mentioned if you do `help link` but I think only like 4 people know about it. :)

[2021-10-13 16:18] ceedubs opened #2492 "pretty printer roundtrip issue with nested constructors involving lists"
Given this (simplified) JSON type:

[code]

This parses:

[code]

Now we watch it to pretty-print it:

`> myJson`:

[code]

But if we copy that output:

[code]

We get:

[code]

[2021-10-13 16:50] ChrisPenner opened #2493 "Unexpected successful parse on missing closing list bracket"
This parses fine, but is definitely missing a closing list bracket.

[code]

[2021-10-13 17:11] pchiusano commented on #2493
A dupe of: https://github.com/unisonweb/unison/issues/1776 which has some more explanation.

It's a feature!

[2021-10-13 17:11] #2493 closed, assigned to nobody

[2021-10-13 21:38] alvaroc1 opened #2495 "Crash with a scratch file with some ability stuff"
got a crash when saving a scratch file:
[code]

[code]

[2021-10-13 21:42] pchiusano commented on #2495
This is a known issue that should get fixed soon when watch expressions evaluate to a constructor that isn't in the codebase. In the meantime, it should work after adding `Middleware2` to your codebase.

[2021-10-14 15:47] hojberg opened #2496 "Missing data constructor matching can are allowed in sub patterns"
It seems that if you typo a data constructor in a pattern match, it's interpreted as a binding and wont error.
We might want to special case capitalized patterns and assume they are data constructors such that we can error

Simple example (thanks @ceedubs) :

This gives an error:
[code]

This does not
[code]

In the above I would expect to get `I don't know about any data constructor named Thing..

[2021-10-14 16:09] dolio opened #2497 "Fix version checking for standalone binary support"
The standalone binaries currently have no automatic testing.

There are at least two possible approaches that would work for testing, but both involve a non-trivial amount of work:

1. Implement automatic generators for all the code types being serialized, so that the serialization can be checked. This is the bulk of the standalone binary support, since the rest is just calling into the runtime.
2

[2021-10-14 16:43] runarorama commented on #703
I've verified that this is not a pretty-printing issue. I think that #2435 also probably won't fix the OP issue.

[code]

The term here is `Ann .<() -> ()>. .<printLine "Hello">.`. So the type annotation in the binding is literally `() -> ()`. I'm not sure why the type that's stored in the codebase differs from this, but it does (it's the correctly inferred type).

Should this term even typececk?

[2021-10-14 18:41] dolio commented on #2257
I looked into this a little more. Apparently comparing as integers _almost_ works, but negatives are handled in a slightly different way so that two negative numbers won't actually compare correctly as integers. There are ways to fix it up using integers, but you'd need to know that you're dealing with floating point numbers in the first place, which is the whole issue.

[2021-10-14 19:25] pchiusano commented on #703
Take a look at this transcript:

[code]

`hello` has the correct type in the codebase - try calling it from another pure function and you'll get a type error. However the term has an unelaborated signature without abilities instantiated. The pretty-printer is using that unelaborated signature when printing, rather than the elaborated signature that exists in the codebase.

The pretty-printer shoul

[2021-10-14 19:25] pchiusano commented on #703
cc @aryairani

[2021-10-14 19:28] pchiusano commented on #703
I re-added pretty-printer since this is in fact a pretty-printer bug! The typechecker is inferring the correct type, and the type of the definition is being tracked correctly in the codebase. The pretty-printer / `view` command is just discarding the codebase type signature in favor of the (unelaborated) `Ann` that exists on the term.

[2021-10-14 19:33] runarorama commented on #703
I mean, the pretty-printer isn't even receiving the codebase type for a term it's printing.

[2021-10-14 19:37] pchiusano commented on #703
@runarorama yeah, you're right - it's in the code that calls `TermPrinter.prettyBindings` (likely somewhere in `view`/`edit` command handling) that is wrong. So the bug is not literally in the `TermPrinter` module.

There is probably a check somewhere in the caller of `TermPrinter.prettyBindings` that's like "if the term already has an annotation, ignore the codebase signature for the term" when i

[2021-10-14 19:53] pchiusano commented on #2482
You can say ‘display x’ to preview a doc that’s just in your scratch file… not quite as good as having it happen automatically on save though.

[2021-10-14 20:01] pchiusano commented on #2257
@dolio It seems like when descending into a boxed float you’ll know that and can switch to different logic, right? And the float tag is just an Int at that point so pretty fast to check.

similarly for nats which have issues for nats bigger than an Int.

[2021-10-14 20:06] dolio commented on #2474
Okay, I think what is happening here is this.

The cases are analyzed, and it is determined that the handler acts on `Request {Stream a} r`. This is what the type checker thinks is actually going on:

[code]

Your annotations are just weakening by `g`, but putting a `g` in the `Request` is invalid because it's an argument.

Notably, it doesn't think `tl` has any `g` effects, because it thinks it o

[2021-10-14 20:11] pchiusano commented on #2480
Yeah - one workaround is you can fork any namespace hash into your current tree, then you can diff it there.

Ideally diff could just work even if one or both namespaces are hashes. I think we have an issue to track that. If we did have that, you might just diff two entries in the reflog, then pass a numbered arg from the diff output to alias.term.

[2021-10-14 20:22] dolio commented on #2257
Yeah, I can add some special cases if desired. It'll only handle, like `Float` `Int` and `Nat`, though. If some unboxed floating point data ends up in a closure somehow, it won't really be possible to detect that. I'm not exactly sure how that'd happen, though. Probably not until we get around to writing actual optimizations.

[2021-10-14 20:57] pchiusano commented on #2257
That makes sense and seems fine / unavoidable.

[2021-10-14 22:06] ceedubs commented on #2490
It seems like `cd` might have behavior that is closer to what I'd expect than `ls` or `view`?

[2021-10-15 03:41] ceedubs commented on #2263
[code]

@pchiusano What are the semantics of `One`?. I assumed that it was the multiplicative identity of the semiring. That is, it always matches and consumes no input (often called epsilon in regular expressions). But then `Capture (Star One)` wouldn't make any sense. In the case of `Regex Char` I could see it always matching a single `Char`, but this is a `Regex Text`, so I don't really know wh

[2021-10-15 04:03] pchiusano commented on #2263
@ceedubs yeah you're right. I goofed that example up. I wrote it thinking `One` would match and consume any single symbol, but you're right that it would typically match the empty string. I was taking inspiration from https://github.com/Gabriel439/slides/blob/main/regex/regex.md That calls the "match 1 char" `dot`.

They get grep-like speeds for < 64 states.

I am not sure the capturing API is wor

[2021-10-15 15:40] ChrisPenner opened #2502 "DatabaseIntegrityError in pull-request.load"
`ucm version: release/M2j (built on 2021-10-07)`

For [this](https://github.com/unisonweb/base/issues/49) particular pull request, I can pull both sides into my local codebase separately without issue, but if I try the following `pull-request.load` UCM will crash with a database integrity error.

[code]

[2021-10-15 15:56] ChrisPenner commented on #2502
Seems like it may be related to the squash portion of loading pull requests, I tried removing the `eval $ Merge Branch.SquashMerge headb baseb` portion of the pull-request load and it succeeded; I'll dig deeper into there.

[2021-10-15 16:13] ceedubs commented on #2502
I just ran into a `DatabaseIntegrityError` that didn't seem to be related to a `pull-request.load`. I had ucm session that I started yesterday (building from trunk or at least a fairly recent version of trunk), and today when I ran `update` it popped up:

<details>
<summary>Output</summary>

[code]

</details>

**Edit**: Uh oh, it keeps happening even after restarting my ucm session. Not sure how

[2021-10-15 16:31] ceedubs commented on #2263
@pchiusano it might not need to be all or nothing with capturing. You could provide a capturing function and a separate non-capturing function that only returns `Boolean`. The non-capturing version could compile the AST down to a more efficient form and treat `Capture r` as though it were just `r`.

I'll need to take some time to digest this doc that you linked. I wish that I would have known abou

[2021-10-15 16:35] ceedubs commented on #2263
Say that it were to down to an NFA: what does that mean for people using the regex? Ideally they could compile it to the efficient form once and then reuse it in multiple places (within a loop, etc). But would that mean that they would need to have the compiled form as a builtin as opposed to just `Regex`?

[2021-10-15 17:10] pchiusano commented on #2263
@ceedubs no you can still just have `Regex` as the Unsion type, but on the Haskell side, you have that be an AST which has a lazy field in it which is the compiled form. In this way the compiled form is only computed once and the user doesn't have to explicitly create it, it'll just be created on demand on first use.

[2021-10-15 18:11] ChrisPenner commented on #2490
I can take this one 👍🏼

[2021-10-15 19:46] stew opened #2503 "Parser bugs in ucm"
`view #a.` will cause ucm to abend with `unison: Prelude.read: no parse`

`view #a` seems to cause an infinite loop

[2021-10-15 21:13] ceedubs opened #2505 "DatabaseIntegrityError when changing from structural to unique in scratch file"
[Here](https://gist.github.com/ceedubs/dbcbe0894807e848792faf32b2ddc0f1) is a pretty minimal transcript representing the issue.

<details>
<summary>transcript</summary>

[code]

[code]

[code]

[code]

[code]

</details>

It results in:

[code]

## workaround

After making the change to the ability, `update` within ucm and don't include the ability declaration in your scratch file. Then you can pr

[2021-10-15 21:46] rlmark opened #2506 "Support fenced codeblocks within fenced codeblocks in Docs"
I've been working around this for a while but I'm writing a doc about transcripts (which require frequent reference to the triple backtick syntax) and I think it would be great if Unison Docs supported (3+n) multi-backtick syntax as a way of escaping triple backticks, in the same way that Github allows this.

[code]

[2021-10-16 14:25] aryairani commented on #2502
I think I narrowed this to something to do with actually attaching the squashed namespace to the tree. It should go away when we finish pulling out the cycle length, but I also still don't understand how it's occurring exactly.

[code]

[2021-10-16 16:38] StevenXL commented on #2452
I might be able to help with this. I'll try to get a PR in within the next week. Besides adding the `Api` data constructor to the `Command` data type, the only other bit is to consolidate how we fill in the missing values in `CodebaseServerOpts`. This is in `CodebaseServer.startServer`, so I'll probably extract that out into a function that can be called when we execute the `Api` command.

[2021-10-16 20:51] ramon93i7 opened #2508 "Misleading results in search by type"
Tried to find `List.zip` by its signature but got no results:
<img width="652" alt="Screenshot 2021-10-16 at 23 42 38" src="https://user-images.githubusercontent.com/4787916/137601778-0fb3eb6e-528a-4b59-bd7f-36b7703bd715.png">

[2021-10-18 17:52] ChrisPenner opened #2512 "Investigate Git Caching strategies"
We should investigate whether git dir caching is actually providing us much benefit, it's possible that when we've previously cloned a repo we might just run a `git pull` which would pull ALL new history from the remote rather than just the most recent head, and could possibly be slower than just a shallow fetch.

* Investigate and switch the pull to be a shallow fetch if it isn't already.

[2021-10-19 01:47] rlmark opened #2514 "`Display` exits the UCM with error when called against some `Doc` terms"
This issue only appears to surface on `Doc` type elements and seems to be a pretty rare corner case which most unison programmers hopefully would not hit (when the `base` library is not present in a codebase.)

If you call `display` against a Doc term that you've pulled into a new codebase which doesn't have the `base` libraries, the UCM will exit with the error

[code]

I've attached a transcript

[2021-10-19 14:19] mitchellwrosen opened #2515 "Clear up `Star3` a bit"
Slack discussion: https://unisonlanguage.slack.com/archives/CLG4P0GSD/p1634648262222300

`Star3` has a misleading doc comment; I think it could use a small cleanup/documentation pass to address that, slap an explicit export list on it, that kind of thing.

I also think it could be moved to the `unison-util-relation` package, as it is very closely related to the relation data structure. It's basica

[2021-10-19 14:52] mitchellwrosen opened #2516 "Make some branch lenses do less work"
As noticed by Arya, we have a few branch lenses are reconstructing all deep* caches when they only need to reconstruct whatever's changed (whoops). I'm unsure of if/where these lenses are used.

[2021-10-19 14:54] mitchellwrosen opened #2517 "Add num threads argument to transcripts executable"
Currently all transcripts (`stack exec transcripts`) run on one core sequentially.

But because each is run in an isolated temporary codebase, and only the `git diff` at the end matters (where a dirty working tree means the tests failed), we could run them in parallel.

[2021-10-19 16:24] ceedubs opened #2518 "improve pager support"
Currently there are several things that are not ideal about the way that `less` is used:

- If ucm is called within a script, the script can hang indefinitely since there isn't a user to hit `q`
  - This came up with the cron job to update Unison Share, since the `pull` command calls `less` to determine what has updated.
  - We should probably check on whether we are connected to a tty and not cal

[2021-10-19 19:09] ChrisPenner opened #2519 "UCM prints "added default metadata" on add even when it shouldn't"
[code]

Even when there are no changes, or even an empty scratch-file.

Likely introduced in #2458

[2021-10-19 19:13] ChrisPenner opened #2520 "UCM crashes when adding nameless test"
[code]

After save:
[code]

[code]

NOTE:
* If the term already has a name in the codebase; this won't crash.

[2021-10-19 19:23] dolio commented on #2474
It's actually even more wrong than I described. Apparently the for the case:

    { Stream.emit a -> tl } -> ...

we use `tl : '{Stream a} r` _regardless_ of the other abilities being handled. I.E. the continuation is presumed to only use the abilities matching the single case. That's completely wrong.

[2021-10-19 19:27] ChrisPenner commented on #2520
We should consider the UX here;
IMO, it's a bad idea™ to have unnamed (or randomly named) tests within a codebase; so we should likely NOT add the term and print a message saying how to give it a name?

[2021-10-19 21:04] pchiusano opened #2522 "MVar.read crashes"
[code]

Crashes with

[code]

That hash #kc92t is `Either`

[2021-10-19 23:48] ChrisPenner commented on #2490
Pretty sure this should be fixed up (or at least a lot better) in trunk; feel free to clarify and re-open if not 😄

[2021-10-19 23:48] #2490 closed, assigned to ChrisPenner

[2021-10-20 00:05] ceedubs commented on #2490
@ChrisPenner awesome, thanks! It does indeed seem to be a lot better in trunk.

It looks like if I use `view`, `docs`, or `display` and try to pass in a relative namespace the results are still the way that they were. But that's maybe a more difficult problem because you don't know whether I'm trying to provide the suffix of the term name or the start of a relative namespace. If only I could use `

[2021-10-20 04:55] pchiusano opened #2526 "“missing integral case”"
[code]

Yields “missing integral case”. The commented out lines give the same error.

[2021-10-20 15:24] dolio commented on #2526
That pull command doesn't seem to work. I think ucm doesn't like the `#`.

This is a weird one. That error comes from an inserted default case for matching on some integer type. But there's no matching on integers in the sample code. So I guess it's somewhere else?

[2021-10-20 16:03] #2519 closed, assigned to mitchellwrosen

[2021-10-20 16:10] pchiusano commented on #2526
@dolio try

[code]

(with no `.` after the `:` - I had that goofed up. Thanks to @aryairani for setting me straight.)

[2021-10-20 17:25] ChrisPenner opened #2527 "Auto-complete crashes second argument if both arguments are optional"
The `pull` command has two optional arguments,

[code]

Discovered this when unifying the argument ingestion for transcripts in #2511

[2021-10-20 17:40] mitchellwrosen opened #2528 "`ucm` is slow to start"
Currently `ucm` is slow to start up: about 4.5 seconds on my beefy machine to load `base` (2486 definitions).

I created this ticket just to track some stats about what's going on, as well as have a place to hang performance improvements that we might in pursuit of bringing this number down.

[2021-10-20 18:41] mitchellwrosen commented on #2528
Idea: a prepared statement cache.

I believe currently we are, for each query, preparing the statement, using it once, and finalizing. Because we are performing each individual query so many times when deeply decoding a root namespace, we may get big wins by reusing these.

#2532

[2021-10-20 18:46] mitchellwrosen commented on #2528
Factoid:

- We perform about 33,000 sqlite queries when loading today's `base` of 2486 definitions
- 60,000 to load a namespace with two copies of `base` at the top level

[2021-10-20 19:08] #2527 closed, assigned to ChrisPenner

[2021-10-20 21:00] dolio commented on #2526
This was triggered by a faulty implementation of `tryPut`. Should have a patch soon (adding it on to the other `MVar` fix that hasn't been merged yet).

[2021-10-20 21:17] hojberg opened #2530 "Using the same name as a field name when extracting values from a record fails roundtripping"
Checkout this example, where `StaticFilesConfig` is a record:

[code]

This pretty prints as:

[code]

Which fails roundtripping since its being interpreted as a inner recursive definition (`directory = directory cfg`)

[2021-10-20 22:24] #2522 closed, assigned to dolio

[2021-10-20 22:24] #2526 closed, assigned to dolio

[2021-10-20 23:01] aryairani commented on #2527
What or where was the fix?

[2021-10-21 00:43] ChrisPenner commented on #2527
@aryairani
Right here:
https://github.com/unisonweb/unison/pull/2511/files#diff-1f3781f30176d0e0863fcb14e8ce541887d465da6f8504136eadfc8eb04d327aR66-R70

The previous iteration asserts that you can't have two `Optional` arguments and errors, but it's perfectly sensible to have two optional arguments as long as the assumption is that they're filled from left to right; which is how `pull`'s arguments

[2021-10-21 02:29] hojberg opened #2531 "READMEs from the /namespaces API doesn't seem to do name resolution correctly"
When looking at a README thats fetched via the namespaces API, dependencies are often hashes. If that same definition was opened via the /getDefinition API the names are there.

[2021-10-21 03:54] mitchellwrosen opened #2532 "Proposal: prepared statement cache"
- [x] blocked on #2718

## Motivation

In looking over some runtime profiles of `ucm` starting up, I notice we spend a lot of time opening and finalizing sqlite statements. Because we perform so many queries, but have relatively few unique queries, I think we would benefit quite a lot from a prepared statement cache.

## Prepared statement background

The lifetime of our sqlite queries currently i

[2021-10-21 04:07] pchiusano commented on #2532
I think this seems super reasonable, however I'm realizing that archived namespaces #1340 may make this optimization less important. Like, yes it is good to make loading things from the codebase faster, but another thing we can do is avoid having to load things at all.

#1340 would be a win for performance (it will generally improve performance of anything that depends on the size of the namespace

[2021-10-21 15:48] ChrisPenner commented on #2512
Closed in #2525

[2021-10-21 15:48] #2512 closed, assigned to ChrisPenner

[2021-10-21 15:50] ChrisPenner commented on #2491
I added globbing, so I'm happy now 😄
#2511

[2021-10-21 15:50] #2491 closed, assigned to ChrisPenner

[2021-10-21 18:16] hojberg opened #2536 "the `edit` ucm command should take an optional file path"
`edit` in ucm should take a optional argument to edit the definition into a specific scratch file.

(this is useful when working with transcripts)

[2021-10-21 21:39] mitchellwrosen commented on #2332
Could you publish your codebase @stew, if you still have it?

Edit: nevermind, I found a codebase in the wilderness with this property.

[code]

[2021-10-22 01:53] aryairani commented on #2527
Ah, good point. I don't think I thought of making that assumption.

[2021-10-22 03:00] mitchellwrosen commented on #2332
@aryairani I looked into this a bit and found one fishy and obviously wrong thing, but I don't have a complete fix yet.

One question I have for you is whether during a `sync22` a single object should ever fall down into the "not synced" code path more than once.

[code]

Just based on the general flow of the sync algorithm I would have guessed "no", but tracing says "yes", and I'm wondering if th

[2021-10-22 14:18] aryairani commented on #2332
@mitchellwrosen Hmm, interesting. That is unexpected.

`isSyncedObject` first looks in `oCache` for a corresponding `oId` in the target codebase.  My first thought at your comment was "Oh, maybe it's being evicted from the cache?" but that doesn't make sense because a) the cache is big enough that nothing should be getting evicted, and b) even if the answer isn't in the cache, it shouldn't copy so

[2021-10-22 15:53] aryairani commented on #2332
Update: We determined that we can normally enter the region in question more than once.  On an earlier entry we may abort early if we discover missing dependencies.  But we shouldn't enter the region again after a successful transfer.

[2021-10-22 16:25] pchiusano opened #2537 "Embedded examples in docs don't show their type signatures"
I think what's happening is that the type signatures are being discarded by the compiler during compilation. If we could retain that information so that decompilation shows the signatures that originally existed

Example is a doc like:

[code]

When rendered it doesn't show the signature.

Internally, this is parsed as the lambda

[code]

[2021-10-22 20:06] #2271 closed, assigned to pchiusano

[2021-10-22 21:27] pchiusano commented on #2248
Current design and some commentary is here: https://gist.github.com/pchiusano/548032b98d5d6b29cb4314421a231a42

[2021-10-24 13:36] mitchellwrosen commented on #2532
@pchiusano Interesting.I think they do cover different enough use cases for both of them to potentially be important. Archived namespaces wouldn't help load an Ed Kmett root with dozens of actively maintained packages, for example.

But even just loading `.base/` today takes 3-4 seconds on my machine, and I'd be curious to know how much of that is preparing/finalizing statement overhead. It's a li

[2021-10-24 18:44] ChrisPenner commented on #1215
I'm looking into the approach presented here: https://victorcmiraldo.github.io/data/icfp2019.pdf ; there's a Haskell implementation [here](https://github.com/VictorCMiraldo/hdiff)

I think it'd be a really good fit for Unison because:
* It provides a generic algorithm for generating structural diffs of ASTs
* The core of the algorithm gets its performance by requiring deterministic hashing of subt

[2021-10-24 19:24] aryairani commented on #1215
Cool!

I couldn’t tell from a brief skim of the paper whether they support moves on top of inserts, deletes, copies, but I think we would want that eventually.

[2021-10-25 15:58] ChrisPenner commented on #1215
It identifies common subtrees by metavariables and you can compare positions in the old and new diffs, so yeah I'm pretty sure we could detect moves using this.

On further inspection it looks like the `hdiff` library would require us to use `generics-mrsop` classes, which are a bit gnarly, and might not give us the flexibility we need, so I think it might be in our best interests to implement the

[2021-10-25 16:00] aryairani commented on #635
added in #2375

[2021-10-25 22:02] #2332 closed, assigned to mitchellwrosen

[2021-10-25 23:28] ChrisPenner opened #2545 "Proposal: Make codebase format more relational"
This proposal makes a case for a an alteration to the sqlite codebase storage format.

## Goal

The goal is to allow us to more easily load exactly the data we need, and no more, from the database exactly when we need it.
Additional goals include:
* Faster Syncing (do more in SQL without needing Haskell)
* Faster Codebase Loading (I.e. load fewer things on startup)
* Make relationships explicit in

[2021-10-26 13:04] ceedubs opened #2546 "Type signatures render differently for find vs view"
I was surprised to see type signatures rendering differently for the same terms depending on whether they were a `find` result or a `view` result. If I'm honest I don't really understand the `g1` and `g` that are showing up in the `find` output, since they don't show up in the inputs at all.

## find results

[code]

## view results

[code]

[2021-10-26 15:04] hojberg opened #2547 "Codebase server `/getDefinition` renders `()` instead of `Optional`"
When queried with a `relativeTo` of `unison.base` and a `names` of `Optional`, the codebase server finds the `()` (unit) definition and returns it instead of `Optional`.

It finds the right definition if queried without a `relativeTo` and a `names` of `unison.base.Optional`.

Report by @alvaroc1

[2021-10-26 16:09] mitchellwrosen commented on #2547
~~I suspect this has to do with https://github.com/unisonweb/unison/pull/2477~~

[2021-10-26 16:36] mitchellwrosen commented on #2547
I solved the mystery. Check out this term:

https://share.unison-lang.org/@bbipr4ode027l26cc9m5obsvo06dn5uaqogm5hc7bllgi5qjdrh9t024td24ihg1ioabpncv3i3nrpgqkcf103u0fnjbrnhpqk7c438/types/pdejoux/flight/Geodesy/Maybe

It's a lurking

[code]

from deep within share.

[2021-10-26 16:38] #2465 closed, assigned to nobody

[2021-10-26 16:40] aryairani commented on #2547
Oh man.

[2021-10-26 16:48] hojberg commented on #2547
been debugging this with @pchiusano - I think we're going to not do external names for the codebase server when a relativeTo is set.

[2021-10-26 16:53] mitchellwrosen commented on #2154
This one might be fixed. The URL looks right to me in share today:

https://share.unison-lang.org/@bbipr4ode027l26cc9m5obsvo06dn5uaqogm5hc7bllgi5qjdrh9t024td24ihg1ioabpncv3i3nrpgqkcf103u0fnjbrnhpqk7c438/terms/unison/base/List/foldLeft

[2021-10-26 17:06] hojberg commented on #2154
I think its still not working. It's dependent on how you open the definition. It works fine if you open via the finder or sidebar, but if you click through to a term from another definition via its source, it'll show up with a "types" in the URL.

This is due to how `SyntaxText` is rendered. It seems to somewhere pick the `TypeReference` variant over `TermReference`.

[2021-10-26 19:09] pchiusano commented on #2154
@hojberg Yeah, I'd check `TermPrinter`, I think this line is wrong:

[code]

That should be `S.Referent (Referent.Ref r)` I think.

I'd also rename that constructor to `TypeReference` or some such for clarity. You should be using `S.Referent` for any sort of term reference.

[2021-10-27 01:29] aryairani commented on #2545
I didn't quite get the WIP schema, but this sounds great generally. We can try to sort out the details.

[2021-10-27 02:00] aryairani commented on #2425
@ChrisPenner and/or @mitchellwrosen This is a high-value one if you need a break from codebase migration. I'm happy to chat about or pair on it too.

V1: When you `edit` a definition that's part of a component of size >1, put the entire component into the scratch file.

V1.1: The above, plus a comment added to the scratch file as well, explaining that these definitions are mutually recursive and s

[2021-10-27 02:10] mitchellwrosen commented on #2425
Sounds good, I can take this one

[2021-10-27 02:18] aryairani commented on #2532
I love this; I'm not sure how I missed it until now.

@mitchellwrosen Not sure if you already saw, but we have an existing `Connection` wrapper (for debugging purposes) in `U.Codebase.Sqlite.Connection` that's already used everywhere, so the cache could be just another field there.

[2021-10-27 04:35] pchiusano opened #2551 "Vote: what distributed programming use cases would you like to see?"
We've planning a series of posts introducing Unison's distributed programming support.

__Good news:__ the API is quite general and capable of handling lots of different use cases!

__Bad news:__ there's too many choices and we're not sure which ones to work up first. This ticket is a place for you to vote informally on which use cases you're most interested in, or to propose other ideas. To vote

[2021-10-27 04:35] pchiusano commented on #2551
## Can we write a baby Spark clone in under 100 lines of Unison?

Show a Spark-like library for creating and transforming distributed datasets, demonstrating a general technique for turning any functional data structure into a distributed version.

__Current status:__ this article and backing code for it is already underway! Will link to a draft here soon.

[2021-10-27 04:35] pchiusano commented on #2551
## Could we implement a CDN or IPFS in under 100 lines of Unison?

Work up to a locality-aware, demand-replicated, highly scalable distributed hash table. This is a powerful building block, suitable for implementing a CDN, an IPFS clone, or acting as the source of truth for a large system. How simply can we build one of these in Unison?

[2021-10-27 04:35] pchiusano commented on #2551
## Your favorite ETL job, parallel CSV parsing, or S3 bucket downloading

For instance, perhaps some ad hoc analysis of a few terabytes of log files, or some ETL job as part of data prep before starting a machine learning task.

Or perhaps something like "load these CSV files, munge them a bit, then put stuff into the database".

[2021-10-27 04:35] pchiusano commented on #2551
## Resillient scheduled jobs and workflows

A lot of "boring" business workflows have computations that execute over a period of days or weeks, with human intervention at various stages. Think: a user signup flow (which requires first sending an email, then they confirm it, then they provide credit card info, then...) or a recurring billing task ("wake up once a month and bill the user, unless the

[2021-10-27 04:36] pchiusano commented on #2551
## Suffix arrays, search engines, and bioinformatics

Show an implementation of distributed suffix arrays, useful for building a full-text search engine and for various bioinformatics applications.

[2021-10-27 04:36] pchiusano commented on #2551
## Distributed monte carlo simulation

This is a pretty straightforward application. Programs that use [randomness](https://share.unison-lang.org/@bbipr4ode027l26cc9m5obsvo06dn5uaqogm5hc7bllgi5qjdrh9t024td24ihg1ioabpncv3i3nrpgqkcf103u0fnjbrnhpqk7c438/types/unison/base/Random) can be run with a distributed handler that runs multiple samples in parallel on lots of nodes. Nothing needs to be set up i

[2021-10-27 13:52] ceedubs commented on #2425
Thank you so much @mitchellwrosen!

I've been the grumpy one asking for this one to be prioritized (sorry). I really like the v1/v1.1/v2 plan that @aryairani proposed. And I'd say that v1 and v1.1 would solve 99% of my problems with this, so personally I'm totally fine with punting on V2 for now if that saves a decent amount of effort.

[2021-10-27 15:54] #2154 closed, assigned to runarorama

[2021-10-27 17:13] pchiusano commented on #2497
@dolio #2540 now has a nice testing harness for this, should be merged shortly. We encountered what looks like a bug in the version checking - it's generating spurious version mismatches.

You can uncomment [these lines](https://github.com/unisonweb/unison/blob/22849504c0b32c50b0ac547b819392dfa83cabc1/unison-cli/integration-tests/IntegrationTests/ArgumentParsing.hs#L57-L59) and then `stack exec in

[2021-10-27 17:19] #2473 closed, assigned to nobody

[2021-10-27 17:29] #1906 closed, assigned to nobody

[2021-10-27 19:57] pchiusano opened #2555 "Proposal for improved syntax for delayed computations"
Currently we do `’let expr` or `’(expr)`.

[code]

Instead I propose using `{}`:

[code]

Along with this change, I suggest a change to the precedence of `’` and `!` so that they bind weaker than function application but tighter than any operator. So you could write `’foo x y z` and have it mean `’(foo x y z)` instead of `(‘foo) x y z`. The current precedence isn’t very useful, so this lets us avo

[2021-10-27 20:10] pchiusano commented on #2555
Here's another example if we change the meaning of `{}` at the type level:

[code]

The quote is really easy to miss. OTOH the braces mean something slightly different on the arrow vs on one of the arguments. In one case it's the ability list for a delayed computation. On the arrow it's the abilities needed when the function is called. Maybe this is fine and you could argue the two usages are clos

[2021-10-27 20:28] stew commented on #2555
what about introducing a new keyword `lazy` which can replace `'let`. so instead of

[code]
we would have

[code]

[2021-10-27 20:30] alvaroc1 commented on #2555
I kinda like it. But i was also hoping to not overload `{}`, so it would eventually be used for the syntax of some future row-polymorphic labeled-record syntax. Abilities in a `{...}` already represent a form of row-polymorphism, no?

[2021-10-27 23:27] aryairani commented on #2555
I like the proposed look, but also worried about having to reshuffle all the existing syntax.  @stew's `lazy` seems like a good compromise.

Or what about combining the two:

[code]

Confusing, but shouldn't create parsing ambiguities, right? 🙃

[2021-10-28 04:22] pchiusano opened #2557 "Some wild doc selection when passing `relativeTo` parameter"
I'm in perspective with `unison.base.Text`, and I'm viewing `Text.take` and `Text.drop`. It's showing me the docs for `MVar.take` (called `MVar.take.doc` presumably) and `Stream.drop` (called `Stream.drop.doc`).

<img width="733" alt="Screen Shot 2021-10-27 at 11 06 48 PM" src="https://user-images.githubusercontent.com/11074/139185677-f11a74e9-d513-4b62-a470-f5f7b130e351.png">

What I think is hap

[2021-10-28 04:33] pchiusano commented on #2557
Okay, I think the trouble is this line in `Backend.hs`:

[code]

The `lookupHQTerm` there does suffix-based resolution. I'm thinking we either need to write `NamesWithHistory.lookupExactHQTerm` and call that instead. Or use something other than `parseNames` - we basically just want the names from the current namespace.

[2021-10-28 13:38] hojberg commented on #2557
Dupe of https://github.com/unisonweb/unison/issues/2360, but i'll close that one since you got a lot more info here.

[2021-10-28 13:39] hojberg commented on #2360
Dupe of https://github.com/unisonweb/unison/issues/2557

[2021-10-28 13:39] #2360 closed, assigned to nobody

[2021-10-28 13:58] hojberg commented on #2557
@pchiusano yeah this is kind of similar to that Optional problem, in that the codebase server should consider "relative to" more confining.

[2021-10-28 15:01] ceedubs opened #2558 "record type comma rules inconsistent with array comma rules"
Minor consistency issue.

For arrays, leading and trailing commas are both allowed, so both of the following are valid array declarations:

[code]

However for record types, leading and trailing commas are not supported:

[code]

[2021-10-28 20:45] atacratic commented on #2555
I like the `a = fork {1 + 1}` syntax.

Also the `’foo x y z` precedence, although I wonder if people might prefer to write `{foo x y z}` anyway.  I wonder which the pretty-printer will emit.

I do think the conflict with `{{ doc syntax }}` is a problem - not just from a parsing or regularity point of view, but also the mental collision of unrelated language features occupying adjacent syntactic zo

[2021-10-28 22:03] #2531 closed, assigned to nobody

[2021-10-28 22:03] #2557 closed, assigned to hojberg, runarorama

[2021-10-28 22:34] #2350 closed, assigned to dolio

[2021-10-28 22:34] #2474 closed, assigned to dolio

[2021-10-29 15:01] mitchellwrosen opened #2564 "`Name.cons` isn't monotonic"
Fixed by #2561

[2021-10-29 15:24] hojberg commented on #2547
This has been fixed.

[2021-10-29 15:24] #2547 closed, assigned to hojberg

[2021-10-29 16:02] #2424 closed, assigned to dolio

[2021-10-29 17:45] #2564 closed, assigned to nobody

[2021-10-29 17:50] mitchellwrosen commented on #2528
#1340 would reduce startup time for codebases that would use that feature

[2021-10-29 18:34] hojberg opened #2567 "Long names are sometimes picked for source on share"
See:

<img width="795" alt="CleanShot 2021-10-29 at 14 33 19@2x" src="https://user-images.githubusercontent.com/2371/139485085-095a2ac7-13b5-4c94-a02f-0877a03b651e.png">

Current theory is that the `pending` namespace on Share is causing, but needs more investigation.

[2021-10-29 18:34] hojberg commented on #2567
@ceedubs is the `pending` namespace supposed to be deleted after sync?

[2021-10-29 19:25] ceedubs commented on #2567
@hojberg the current code to update share looks like this:

[code]

So we don't exactly delete it, but it's not a thing that you should ever see (unless maybe you get extremely unlucky with timing your request).

Even if `pending` _were_ being caught, I'm not sure why it would cause this issue. If it were causing trouble, I'd expect you to see something like `pending.bascott...`. But I'm not famil

[2021-10-29 19:41] hojberg commented on #2567
@ceedubs i'm definitely seeing `pending` hanging out a lot on Unison Share.

@pchiusano might have context on the resolution part.

[2021-10-29 19:49] ceedubs commented on #2567
@hojberg hmm that's good to know. I assumed that the namespace wouldn't show up until it was fully hydrated and that by that time it would only be milliseconds before we reset the namespace. But maybe that was a bad assumption. I'll write up the issues that we've had with updating Share and share them with Arya and see whether he has any thoughts.

[2021-10-29 20:51] hojberg commented on #2567
@ceedubs @pchiusano FYI in a codebase without pending these long names definitely still happen

[2021-10-29 22:08] pchiusano commented on #2567
Something else that's not adding up up is that I'm almost certain the `Either` and `Failure` types referenced are the same in `pending` as elsewhere. It shouldn't use a longer suffix to disambiguate when both suffixes refer to the same thing.

@ceedubs does it help if you `quit` and restart UCM after the `reset-root pending`?

[2021-10-30 21:04] aryairani commented on #464
I made a pass over these, but they use namespace blocks which means they don't parse without modification, and I'm not sure even what error we're looking for, or what the problem part of the file was supposed to be. (Some of the type signatures were commented out, I'm not sure what that was trying to communicate.)

[2021-10-30 21:07] aryairani commented on #464
`stream3.uu` typechecks today with minimal modifications.
`stream2.uu` has some other issue that seem at least superficially like user error.  I'm assuming these were masked by weirder typechecker issues in 2019, but that we are now ok to close.  Feel free to reopen if desired.

[2021-10-30 21:08] #464 closed

[2021-10-30 21:10] aryairani commented on #464
![image](https://user-images.githubusercontent.com/538571/139558452-5ba6f5ec-5b84-453f-976f-70fb4ceac181.png)

[2021-10-30 22:38] aryairani commented on #643
@runarorama WDYT about this?

[2021-10-31 01:50] aryairani commented on #1802
@ChrisPenner This would be a super valuable easy-ish one; I'm going to assign you. :) Ping me w/ any questions.

[2021-10-31 02:12] aryairani commented on #1552
@ChrisPenner This is another good short one. LMK if any questions. Basically update `Branch.stepManyAt0M` to just run all of the actions in order, and then as a final step, squash changes to a child `Branch`es into a single step before returning.

[2021-10-31 03:15] aryairani opened #2571 "add `move`, `delete` commands which simultaneously operate on term+type+namespace+patch having that name"
[code]
would perform an atomic (in a single causal step)
[code]
and show a consolidated diff after.

If it moves multiple types of things, it should also let the user know how to undo and use individual move.* commands. 💙

Analogously with `delete` (if it doesn't already work this way).

---

Acceptance Criteria

- [ ] All changes should be part of a single causal step
- [ ] If any change would fa

[2021-10-31 03:22] aryairani opened #2572 "add a `delete.force` command"
Like `delete` from #2571, but instead of aborting when it would be deleting the last name for some dependents' dependencies, print them in a report showing the **name of the thing** being deleted and **the remaining definitions** that now have the thing as an unnamed dependency, and then delete them with a hint to undo.

Also create `delete.term.force`, `delete.type.force`, `delete.namespace.force

[2021-10-31 03:26] aryairani commented on #1525
Not sure what I was on about; `dependents` should only show dependents that exist in the most recent root namespace.  Some future command like `dependents.all` or `dependents.historical` could list more, but let's not tackle that here.

[2021-10-31 03:28] aryairani commented on #1526
Let `delete` (#2571), `delete.term`, `delete.type`, `delete.namespace`, `delete.patch` take multiple arguments, which it removes in one aggregate step.

[2021-10-31 03:43] aryairani commented on #1340
@pchiusano Is there an existing writeup that lays out the DX problem that archived namespaces is meant to solve? (I couldn't find on github or notion). If not, could we put our heads together about it and the goal output is a writeup about the problem?

[2021-10-31 07:51] kolharsam commented on #2229
Hey @pchiusano :wave:

Could I please get some help in fixing the broken tests? I am also not sure of the changes I've made on `TermParser.hs`.

[2021-10-31 14:33] pchiusano commented on #1340
There's not a good writeup. Here are some notes.

1. Currently, all names in your whole namespace tree are in scope and can be referenced by code in your scratch file or turned up by various commands like `find`. Typically you only want to be able to reference things that are relevant for the current thing you are working on. For instance, while working on a PR, you don't likely need or want the a

[2021-10-31 15:43] ChrisPenner commented on #1552
Sounds good! Thanks for picking out some good issues for me 👍🏼

[2021-11-01 14:32] pchiusano opened #2573 "Per namespace licensing"
Idea is that a namespace can have an ordinary term `LICENSE : License`. When add/updating within that namespace or one of its subnamespaces, recursively, that LICENSE is applied as metadata by default.

There's a question of what legally needs to happen to establish that the user has consented to the license. Just applying the license without their even knowing about it would not be sufficient. On

[2021-11-01 15:18] pchiusano opened #2574 "Separate `push` and `push.create`"
General idea is that `push` must be a fast-forward and the destination must be a non-empty branch, otherwise you get a nice error message. Ideally that error message would tell you about the remote namespace structure, but for starters it's okay if not.

`push.create` would be a `push` where the destination namespace _MUST_ be empty, and it fails with a nice error otherwise.

Possible implementati

[2021-11-01 15:36] ChrisPenner commented on #2263
As far as designing the Regex AST if we go that route, I found this to be a fascinating read 😄
https://blog.jle.im/entry/free-alternative-regexp.html

[2021-11-01 16:26] ceedubs commented on #2567
@pchiusano If we quit and restart UCM, Share isn't going to be able to serve requests while UCM starts up. I'm not sure how long this takes in headless mode for the share repo; I'd have to check it out. But the way that the server pulls in share updates probably needs an overhaul anyway. I talked with Arya about this for a while on Friday, and we have a couple of options that we are going to inves

[2021-11-02 15:53] #2083 closed, assigned to nobody

[2021-11-02 15:53] #2257 closed, assigned to dolio

[2021-11-02 16:05] mitchellwrosen commented on #2425
V1 was addressed now by #2563

V1.1 and V2 are not being worked on currently, but V1.1 in particular would not be difficult to add, we just weren't sure it was really worth the effort at this time since it would require:

- Some additional plumbing
- Coming up with a precise "look" for the types/terms brought into a file. Specifically, how to order them, and what comments we might want to put wher

[2021-11-02 16:34] ceedubs commented on #2425
@mitchellwrosen thank you so much! I just tried this out on the infamous cycle that has been causing Stew and me a lot of trouble, and it worked perfectly.

Regarding the additional plumbing: does that change at all if you slap the message into the ucm stdout as opposed to the scratch file? Though currently that might not be that helpful, because `edit` can spam the screen. @rlmark had brought up

[2021-11-02 16:49] ChrisPenner commented on #1802
Some notes from a chat about this:

* We have a bit of a complication in the sense that our dependents-index only captures dependencies at the granularity of a Reference (e.g. component and position) but not at the level of Referent (e.g. component and position and constructor).
* This means that there is no _fast_ way to determine which Referents a term depends on
* Our namespace contained-ness c

[2021-11-02 16:54] ceedubs opened #2582 "`edit`: only show type signatures and not implementations"
@rlmark has pointed out that the `ucm` `edit` can spam a lot of output lines that aren't particularly useful. I agree. Usually when I use `edit`, I immediately hit `q` to close out of `less` and switch to my scratch file where I can see the same output.

Proposal: `edit` should show the names/type signatures that it added to the scratch file but not the entire definitions.

[2021-11-02 16:54] ceedubs opened #2583 "message when edit opens multiple items for a component"
This is a follow-up item to #2425, which has been partially addressed. The `edit` command now opens all terms/types that are part of a cycle when the user calls `edit` with one of them.

This might surprise users, and (even worse) they might just delete one of the parts of the component from their scratch file because they don't know why it's there.

It would be nice to have a message in the `ucm`

[2021-11-02 16:55] ceedubs commented on #2425
The main concern here has been addressed, so I'm going to close this out. I created #2583 as a follow-up item to add user-facing messages explaining what happened.

[2021-11-02 16:55] #2425 closed, assigned to mitchellwrosen

[2021-11-02 21:24] ceedubs opened #2587 "unintended transitive updates in ucm"
If we create an update `#hash1 -> #hash2` and then _afterwards_ create an update `#hash3 -> #hash1`, then the patch file will transitively update `#hash3 -> #hash2`, even though we only ever wanted `#hash3` to update to `#hash1`.

This is kind of hard to articulate. An example might be most useful. Below is the output of the transcript. The raw transcript can be found [here](https://gist.github.co

[2021-11-02 22:15] mitchellwrosen commented on #2583
@tstat asked me today if, when updating some subset of a component, whether we could just update all of the members of the component.

I think that's a great idea, and would probably obviate the need to put more in the user's buffer than they asked for, as is done currently.

@aryairani mentioned that we considered this before but I couldn't find the discussion.

[2021-11-02 22:29] ceedubs commented on #2583
This seems like it could be nice.

I'm a bit concerned about whether there would be problematic/surprising edge cases. For example say that `a`, `b`, and `c` are all part of a component. If I edit `a` and make it no longer reference `b` and `c`, does that mean that `b` and `c` are both updated to point to the standalone version of `a`? I suspect so, but we should probably have tests that make sure

[2021-11-03 01:16] aryairani commented on #2587
How would it be if `x -> y` deleted all the rules `? -> x`?

There's a function `updatePatch :: Patch -> Patch` in `HandleInput.hs` which dictates how a patch is updated when you run the `update` command.  We should confirm what it does now, and look at what we could do differently.

Another option would be to issue a warning and make the user decide what to do, but if there was just a right thing

[2021-11-03 01:20] aryairani commented on #2583
@ceedubs I think this was the scenario @stew mentioned in conversation too. /cc @mitchellwrosen, @tstat

I guess we could issue a warning or something.  We should wizard-of-oz it and see what feels right.

[2021-11-03 01:41] mitchellwrosen commented on #2583
Interesting corner case, I had not considered that.

Would it make sense to just do something analogous to normal `update`, i.e. if the update is type-preserving, propagate it automatically (including references from its own component-mates), otherwise somehow indicate that there is outstanding work to do?

[2021-11-03 03:56] aryairani commented on #2583
It does seem probably fine and doable to me.  You'd have to load the whole component back up, and then re-hash-components it, then update all of them. I think it might just do the right thing.  Not sure how much output there should be.  Probably just the normal amount, whatever that ends up being.

[2021-11-03 16:32] runarorama commented on #2551
## Distributed ledger

Implement a blockchain or distributed ledger as a Unison library.

[2021-11-03 18:18] FlorianBELLAZOUZ opened #2591 "Error with the (<) operator and Nat.maxNat ?"
Maybe I misunderstand something.
Just in case  :
[code]
I run that on release/M2j

[2021-11-03 18:33] atacratic commented on #2591
Should be fixed in master and the next release 🙂 see #2083

[2021-11-03 19:22] hojberg commented on #2555
I'd echo @alvaroc1's point about this maybe clashing with potential future record syntax. Worth to take into consideration I think :)

[2021-11-03 21:33] #1367 closed

[2021-11-03 22:21] ceedubs commented on #2587
@aryairani I don't think that's always what you want. For example consider this scenario:

1. We find a bug in `.base.trunk.List.map#1`, so we change fix it and create `.base.trunk.List.map#2`.
2. We find a bug in `.base.trunk.List.map#2` (this will be `x`), so we change fix it and create `.base.trunk.List.map#3` (this will be `y`).
3. A library that was using `.base.trunk.List.map#1` pulls the la

[2021-11-04 01:08] mitchellwrosen commented on #2583
Just to reiterate Cody's comment above, it seems like when updating a term in a component of length N we may end up with anywhere between 1 and N new components afterwards, not just 1.

For example, consider a component where

- A refers to B
- B refers to C
- C refers to A

If A is updated and no longer refers to B, then

- C ought to be updated to refer to the new A, like a normal update
- B tra

[2021-11-04 17:51] ChrisPenner commented on #1802
I took a few minutes to look into what it'd take to run the migration to update the dependents index to include ConstructorIds in and here's what I came up with:

1. DB schema update to add the constructor field to the dependents index. This would add a Nullable constructor ID for both the dependent and dependency. Since it's nullable, we can add it to the existing table without needing to worry a

[2021-11-04 18:21] jphastings commented on #466
Did you get anywhere with this @zipper97412?

[2021-11-05 02:33] aryairani commented on #1802
Following on to Slack conversation from earlier today, I'm very confident that the actual dependency lookup implementation for (2) will not take long at all to write.  The more time-consuming part is creating the `Input`, `Output`, and `OutputMessage` pieces, and these would be shared by approaches (2) and (3).

Let's do (2) first, and then we can slot a "faster `referent-dependencies` lookup" fea

[2021-11-05 02:41] ChrisPenner commented on #1802
@aryairani  I implemented most of 2 this afternoon haha, should have a PR tomorrow if I have a bit more time 😄

[2021-11-05 02:41] aryairani commented on #1802
@ChrisPenner Awesome! Let me know if you want to pair on the dependency lookups.

[2021-11-05 02:46] ChrisPenner commented on #1802
@aryairani  I ended up doing a slightly more conservative version since it was easiest, so if your namespace depends on a type or constructor, it will tell you if any of that type's constructors are unnamed in your namespace, even if a specific constructor is unused, but I think that's a perfectly reasonable thing to do for now and should be sufficient for 99.999% of cases, and I'd say encourages

[2021-11-05 04:57] pchiusano opened #2599 "Add benchmarks for `Rope`, `Bytes`, and `Text`"
To support further performance tuning of these data structures

[2021-11-05 20:27] FlorianBELLAZOUZ commented on #2591
It's better but there are still a problem in version 94cbf78

[code]

[2021-11-05 20:33] atacratic commented on #2591
@dolio ?

[2021-11-05 20:36] FlorianBELLAZOUZ opened #2601 "Problem with Big Nat and - operator"
Hi !
I notice a problem with Big Nat and the minus operator -

[code]

Tested on release/M2j and version 94cbf78

[2021-11-05 20:39] pchiusano commented on #2591
Thanks for (re)reporting.

@dolio it looks like we missed adding tests for this in that PR and I didn't spot in my review.

I'm guessing the culprit is a `fromIntegral` call on the underlying `Int` when you want instead a bitwise cast. It seems like a coerce would do it. Also be sure to add tests. :)

[2021-11-05 20:39] dolio commented on #2591
That isn't what happens using the latest trunk on my machine. Is that a cached answer?

[2021-11-05 20:42] pchiusano commented on #2591
Oh... yeah that is probably it. @FlorianBELLAZOUZ try `debug.clear-cache` in `ucm` and then try again. I get:

<img width="845" alt="Screen Shot 2021-11-05 at 3 42 15 PM" src="https://user-images.githubusercontent.com/11074/140576008-2d239dac-f6cd-4f4a-80d5-8a7222e06189.png">

[2021-11-05 20:43] pchiusano commented on #2591
incidentally, the red arrow indicates the value is not found in the cache, and the black arrow means it was found in the cache.

[2021-11-05 20:44] pchiusano commented on #2591
I'm still confused about the use of `fromIntegral` since I thought that would do the wrong thing.

[2021-11-05 20:47] FlorianBELLAZOUZ commented on #2591
After the debug.clear-cache it work as expected

[code]

So sorry for the false alert.

[2021-11-05 20:48] dolio commented on #2591
No worries. The cache tricks me all the time.

[2021-11-05 20:50] #2591 closed, assigned to nobody

[2021-11-05 21:10] atacratic commented on #2601
Still a problem even after clearing cache?

[2021-11-05 21:20] FlorianBELLAZOUZ commented on #2601
This time yes haha,
You can try it on your side.

[2021-11-05 22:08] ceedubs commented on #2601
`Nat` and `Int` are both 64 bits, right? If so, this seems like an inherent issue with `Nat.-` returning an `Int`. `Int`'s range can't possibly go up to `maxNat` if it also has to represent negative values. Or am I missing something?

[2021-11-05 22:30] ceedubs commented on #2601
@FlorianBELLAZOUZ in case it wasn't clear, my last message wasn't really directed at you 🙂. I'm saying that this seems like an oops in the API, and it's not clear to me how to address it. Thank you very much for finding and reporting this!

[2021-11-05 22:44] ceedubs commented on #2601
From the [language reference](https://www.unisonweb.org/docs/language-reference#literals):

Should `Nat.-` return a `Nat` and have the semantics of truncating at zero of the second nat is bigger? Should it throw a runtime exception like `bug`? Both of these seem bad in different ways.

Maybe this was considered and the idea was that it would be more common to do `5 - 8` and get `-3` than it would

[2021-11-06 01:32] pchiusano commented on #2601
There's `Nat.drop` which truncates at 0 and returns another `Nat`. That is usually what you want.

But perhaps we should just rename `Nat.drop` to `Nat.-` and either get rid of `Nat.-` or give it a less prominent name (it can be implemented in terms of `Nat.toInt` which makes clear you're changing the precision).

[2021-11-06 02:16] pchiusano commented on #2601
I kinda think we should close this one "as designed" however I'm open to bikeshedding on the names. :)

Just to document the reasoning a bit more:

* When subtracting nats, you can either a) convert to an `Int` b) truncate at 0, c) throw an exception or d) return an `Optional`/`Either` etc. All are perfectly reasonable things to do, depending on context. We currently have `Nat.-` for converting th

[2021-11-06 05:43] FlorianBELLAZOUZ commented on #2601
If my user point of view matter, I feel the ( b ) truncation at 0 more intuitive for ```Nat.-```

the (a) convert to an Int : trick me because I expect to stay in the Nat domain, and as user if I want to switch to Int I will use the ```Nat.toInt```

the (c) throw an exception  : Like you I don't really want the code to just die with an arithmetic exception

the (d) : as user ( like you said ) I wi

[2021-11-06 21:07] aryairani opened #2603 "create `gist` command"
Implement a command to create a "gist" of the current (or specified) namespace.

The command syncs the designated namespace to a specified Unison `WriteRepo` (defaults to the default repo for the root of the local codebase, if specified in `.unisonConfig`), with no name in the remote repo; just sync the namespace over.

e.g.
[code]

[code]

Note that this creates some "garbage" in the remote repo

[2021-11-06 23:57] hojberg commented on #2603
It'd be really cool if we could tie this in with Unison Share in some way

[2021-11-07 02:14] aryairani commented on #2603
@hojberg My thinking was that once we are hosting all of the repos and gists instead of github hosting them, then yeah it will be easy to open them up in Unison Share like any other namespace, given a namespace hash.

If you have any ideas about how to achieve it before that, let me know!

[2021-11-07 18:00] tapegram commented on #2520
I'd like to take a stab at this if no one else is working on it. Any suggestions on where in the code I should start off looking or any particular approaches? So far I have reproduced the failure in a transcript test, but otherwise I've just been scanning through the code trying to find if and where any first class handling of `test>` terms lives and if I'd be able to do a check for a name on `Add

[2021-11-08 14:56] #2551 closed, assigned to nobody

[2021-11-08 16:35] dolio commented on #2237
Here's an alternate idea we discussed.

If the concern is just remotely loaded code, we could keep track of which definitions transitively reference primitive `IO` functions. Then, just refuse to deserialize (or serialize) anything that includes one of those operations (throw an exception). Now remote code can only have `IO` effects via an intermediate API that the server executing the code knows

[2021-11-08 17:23] pchiusano commented on #2237
Thanks for the writeup. It seems like you could also (or instead?) have a builtin, `validatePure : a -> Boolean` which just checks if any transitive dependencies of the input calls a forbidden function. This would be more useful for the doc evaluation case where you don't really want to have to serialize the example embedded in the doc just to check that it's okay to evaluate.

The validation appr

[2021-11-08 17:30] ChrisPenner commented on #2520
Additional context from slack:
![image](https://user-images.githubusercontent.com/6439644/140789897-a19929cc-ce09-413e-a16d-03b4014af784.png)

[2021-11-08 18:59] hojberg opened #2608 "docs.to-html fails for the base library"
Running the ucm command `docs.to-html` on the `base` library crashes ucm:

![CleanShot 2021-11-08 at 13 57 54@2x](https://user-images.githubusercontent.com/2371/140801338-9f34c489-4999-4948-9aef-c061a65b06cf.png)

The reference in question `#ags0v` isn't even a term. Its the `Doc` type, and it does exist (pretty sure its not a constructor hash):

![CleanShot 2021-11-08 at 13 58 58@2x](https://user

[2021-11-08 19:43] ChrisPenner opened #2609 "Avoid superfluous mappings between DataDeclarations and Decls when hashing"
As part of the rehash migration we made a new combinator which hashes and retags data decls, and there are several spots which could likely be cleaned up as a result

We're not doing as part of the rehash migration, but it's worth revisiting the work touched by: e742e8cc1

[2021-11-09 03:44] aryairani opened #2614 "codebase server api docs"
Having some docs for the codebase server api would be game-changing for supporting both external and internal tool developers, and as on-boarding for continued maintenance and development of the codebase server.

I see some docs for various types in the form of `QueryParam` `ToParam` instances, and some `ToSample` instances, but I still feel like I'm missing context on how it's all meant to work t

[2021-11-09 03:46] aryairani commented on #2614
Not sure if relevant: https://swagger.io/resources/articles/documenting-apis-with-swagger/

[2021-11-09 03:50] stew commented on #2614
@ceedubs has more experience with swagger than I do

[2021-11-09 13:01] hojberg commented on #2614
The markdown we generate has helped me a bit as well, but could use some styling to be more approachable (you find it by going to the root of the api when it's running)

It's a bit more high level than the open api stuff

[2021-11-09 14:51] #2567 closed, assigned to nobody

[2021-11-09 15:23] #2574 closed, assigned to mitchellwrosen

[2021-11-09 15:55] pchiusano commented on #2572
I am currently being badly bitten by this... and I literally don't know how to work around it.

[2021-11-09 16:10] ChrisPenner commented on #2571
This seems like a potential foot-gun to me, I know you can always 'undo', but I can imagine you trying to delete the `base.List` type and accidentally deleting the entire `base.List` namespace too by accident.

This is a contrived example; but I just know that if `delete` exists, folks will probably not discover/use `delete.*` versions of it.

Maybe this is fine, if people ALWAYS want to delete ev

[2021-11-09 16:16] ChrisPenner commented on #2572
Are we intentionally avoiding having flags/options for our ucm commands? It's fine if we some reason to, but I'm a bit worried about the combinatorial explosion.

E.g., if we add the "generic" versions of `move` and `delete` now we have:

[code]

Rather than just `move` and `delete` with a few options 🤔

[2021-11-09 16:18] pchiusano commented on #2571
I think in the case that `delete` affects multiple things, a message like the following might be nice -

    I deleted the term, type, and namespace `Foo`.
    If you didn't mean to delete all these things, `undo`, and then use
    `delete.term`, `delete.type`, and/or `delete.namespace`.

Also as an aside, I wouldn't bother showing the diff after deleting a namespace. I find it to be mostly spammy

[2021-11-09 16:36] ceedubs commented on #2572
@pchiusano until #2611 is merged you can `move.namespace .unwanted .unwanted.void` or `move.namespace .unwanted .unwanted.devNull` 🙂

[2021-11-09 16:45] pchiusano commented on #2572
I like how it looks and find it simpler to use and type, and it autocompletes nicely. It also encourages us to keep the command set simple, which I think we should be disciplined about. Think of the commands more like functions in Haskell - do you have a single Haskell function that does 12 things by passing it various flags? No, you have different functions, with a common naming scheme.

At the e

[2021-11-10 00:03] mitchellwrosen commented on #1757
We're building on macOS 11 in CI now.

[2021-11-10 00:03] #1757 closed, assigned to nobody

[2021-11-10 03:06] aryairani commented on #2571
@ChrisPenner What happens now is that you delete a type and constructors get left behind for a type that isn't supposed to exist anymore:

[code]

Similarly if you delete a term, you keep its docs, tests, and helper functions; it's its own foot-gun.

I was thinking that if they didn't like the outcome, they could know to use a more specific command, like in @pchiusano's example.

[2021-11-10 03:13] aryairani commented on #2571
@pchiusano I could imagine that this case of deleting a mix of definition and namespace might be the one case where you do want the diff.

[2021-11-10 15:12] #2516 closed, assigned to mitchellwrosen

[2021-11-10 16:56] mitchellwrosen opened #2620 "Proposal: some additional type safety / information around references/referents"
@ChrisPenner @aryairani and I concluded something like this would probably be worthwhile to introduce, for a little bit of type safety and grokkability:

[code]

[2021-11-10 22:12] stew opened #2622 "ucm should gracefully handle a locked sqlite db"
for our current experiments with unison cloud, we are finding ourselves running multiple ucm processes against the same codebase at the same time. For the most part this works, but sometimes it seems that two of them try to lock the DB at the same time, which results in the loser crashing with an error:

    Exception: SQLite3 returned ErrorBusy while attempting to perform step: database is locked

[2021-11-10 23:32] stew opened #2624 "ThreadIds cannot be compared"
running this program crashes the runtime:

[code]

[code]

[2021-11-11 03:37] #2156 closed, assigned to dolio

[2021-11-11 18:30] ceedubs commented on #1794
@hoelzro Thanks for the really detailed report. I suspect that this was due to #2425, which was at least partially addressed by #2563. With a current trunk build hopefully this doesn't happen again in the future. These changes should make the next release.

[2021-11-11 18:43] ceedubs opened #2628 "record constructor duplicates namespace"
## current behavior

If you declare a record type like `unique type foo.bar.baz.MyRecord = { value : Nat }`, then you'll end up with a type `foo.bar.baz.MyRecord`, and a constructor `foo.bar.baz.MyRecord.foo.bar.baz.MyRecord`.

## expectation

I'd expect the constructor name to be `foo.bar.baz.MyRecord.MyRecord`.

## transcript

Below is the transcript output of [this raw transcript](https://gist.

[2021-11-11 19:00] ceedubs opened #2629 "unique types not unique within transcript"
The following is the output of [this raw transcript](https://gist.github.com/ceedubs/c0b236c38d558bc72ea559e918ac921a).

# summary

Within a transcript, if you add two unique types with the same structure, they become the same type despite the `unique` modifier.

I can't reproduce this using `ucm` interactively as opposed to in a transcript. This means it's not _as_ big of a deal. But since we are

[2021-11-12 01:13] ceedubs opened #2630 "ucm run silently fails on exception"
Create the following function:

[code]

From within a `ucm` session if you `run main` you will see the following:

[code]

However, if you issue a non-interactive command `ucm run .main` it finishes without any output and a 0 exit code (suggesting no failures).

This is tested on `release/M2j (built on 2021-10-07)` from macos.

---

Acceptance Criteria

- [ ] Calling `ucm run .main` with a main th

[2021-11-12 03:27] aryairani opened #2631 "runtime benchmark in parser-typechecker package currently doesn't build"
@dolio Could you take a look and see if we want to keep this and, if so, to see what it would take to get it building again?  Then we can add it to CI to keep it happy.

@mitchellwrosen Do you have thoughts about where building benchmarks should go in the CI script slash could you add it once it's building :)

The output of `stack build --fast --bench` is [here](https://gist.github.com/aryairani/8

[2021-11-12 07:39] iacore commented on #2518
The current usage of pager is weird.
- Type `.> find .base.`  and press <kbd>Tab</kbd> uses `more` to show the results.
- `.> find .base` uses `less`.
- `fzf` support is gone

[2021-11-12 07:42] iacore opened #2632 "Better readline support"
The current `ucm` doesn't handle many key combinations including:
- Delete
- Ctrl + Arrow Right
- Ctrl + Backspace

I hope the CLI interface uses a readline library like GNU readline so using ucm CLI is more pleasant.

[2021-11-12 16:03] ChrisPenner commented on #2632
Hello 👋🏼

`ucm` currently uses `haskeline` as our readline library, and it allows the user to specify their own keybinds if they like.

It's definitely weird that `delete` doesn't work by default, I'm not sure why haskeline made that choice. We should consider adding common bindings like that into ucm by default, but in the mean-time feel free to add them to your own config 😄 .

Check out [this se

[2021-11-12 16:15] aryairani commented on #2622
@stew Could you elaborate on what's going on in the two ucms when this happens?

[2021-11-12 17:27] ChrisPenner commented on #2622
Yeah we definitely need to take a pass over our DB layer and improve the transactionality of  everything; we've been talking about it, but if you're running into this more often maybe the time has come.

It'd probably also be nice if there was a mechanism for transactional operations at the level of the Codebase abstraction; not sure if we need it just yet, but any time you're executing a write/de

[2021-11-12 20:48] dolio commented on #2631
I think maybe we should just get rid of it. I'm not sure it's really that useful. I could probably fix it, but it was written before the more complicated runtime environment, and I'm not sure the few micro benchmarks in there are worth it.

[2021-11-13 00:19] #1525 closed

[2021-11-13 14:45] aryairani commented on #2631
Totally your call IMO.

[2021-11-13 22:52] ceedubs commented on #2518
@locriacyber hmm I'm not seeing anywhere that the code appears to be calling `more`, but I don't know the CLI codebase well. How can you tell that it's opening `more`? I don't think that it is for me.

fzf support is in trunk but hasn't made it into a release yet. It should be in the next release which I think might be out next week.

[2021-11-13 23:21] aryairani commented on #2518
It doesn't call `more`, but maybe haskeline is doing something internally that looks like it.  Currently we call `less`, `git`, and in trunk `fzf` optionally.

Still, the current usage of pager _is_ weird.

[2021-11-14 06:19] iacore commented on #2518
There's `--- more ---` as the last line when there is more output. I think it's calling `more`.
![image](https://user-images.githubusercontent.com/74560659/141670071-ef124b53-8db2-4bb6-9d76-d25cec8c52da.png)

[2021-11-14 14:27] aryairani commented on #2518
Coincidentally, if you try calling `more` yourself from the command-line, e.g. `ls | more`, it _doesn't_ show `--- more ---` as the last line when there is more output. It just shows `:`.

[2021-11-15 16:25] mitchellwrosen commented on #2622
Yeah, I agree with Chris.

I think the first step here is to migrate our queries over to using a `Transaction` monad that has some reasonable retry-on-busy logic. That would at least cover the bug report here. I've started on this.

Next step would be to make running multiple ucm processes simultaneously actually work, which would involve consulting the `data_version` wherever necessary, to notice

[2021-11-15 21:35] aryairani commented on #2630
I think we wanna just do the same output (to stderr if practical) and a nonzero exit code.

[2021-11-15 23:54] ChrisPenner opened #2639 "unison-cli tests continually create more git-repo caches"
This is super low-priority, but every time you run `stack test unison-cli`, every git test creates a new local git repo in a temp directory, this is fine since they're all temp directories, but when UCM syncs them it creates a cache in `~/.cache/unisonlanguage/gitfiles` for it, and these never get cleaned up or deleted.

When I was running these tests lots I ended up with ~500 useless git repo cac

[2021-11-16 01:50] mitchellwrosen opened #2640 "Rework bug throwing mechanism a little bit"
I propose we rework our bug throwing mechanism a little bit. Right now we have

[code]

which is nice, but has a couple problems, I think.

- The first argument is a random bug ID, which is pretty annoying to generate. I wrote a bash script, but I'd rather we just get rid of that argument entirely to reduce friction for everyone. I think the error message should be unique enough to grep for.
- The

[2021-11-16 02:21] stew commented on #2622
@aryairani if you have two UCMs that are watching the same directory and the same codebase and create a watch expression for example, often one of the two will crash

[2021-11-16 05:24] ChrisPenner commented on #2622
We also just identified that we're often not closing database connections correctly;
I've got a PR open for some in the lower level here, #2641 ; but I think we might still not actually be closing DB connections properly when users `Ctrl-C` for example 😬 .

Regardless, we still should have some way to roll back and try again on conflicts.

[2021-11-16 20:23] rlmark opened #2642 "keyword fragments appearing in doc links are treated as their Unison entities"
If you're writing a `Doc` link, as in `{{I am a doc which links to a term called {abilityPatterns} in the codebase}}` the UCM will error with

[code]

Indicating that it's looking for an ability named Patterns.

Likewise with terms that are prefixed with `type` as in `{{ I am a doc which links to a term called [Type signatures](typeSignatures)}}`

The UCM will fail to typecheck with a message abou

[2021-11-16 22:15] #1802 closed, assigned to ChrisPenner

[2021-11-17 06:11] #2624 closed, assigned to dolio

[2021-11-17 17:33] aryairani commented on #2196
Tangentially related: today we saw a confusing thing here:

[code]
`Op0` disappears; possibly expected after \<IOU ticket reference>.

[2021-11-18 01:03] aryairani commented on #2642
Interesting!

[2021-11-18 01:11] aryairani opened #2646 "improve error message on `pull-request.load` in nonempty namespace"
Currently it displays:

[code]

which didn't feel super clear.

This likely goes away altogether with #2247, but let's update it in the mean time anyway.

Acceptance Criteria:
- [ ] The message is clarified to contain something like this:

[code]

[2021-11-18 01:21] aryairani commented on #2490
@ceedubs Do you want to open a new ticket for remaining elements? (Only if it feels urgent, I guess.)

[2021-11-18 15:52] ceedubs commented on #2490
@aryairani this has been less of an issue for me since the fzf support. I recall being frustrated by `ls` a bit but don't remember the details. I'll open issues issues if I get sufficiently annoyed :)

[2021-11-18 16:23] aryairani commented on #2620
@mitchellwrosen currently has a patch against trunk, but need a separate PR against `topic/rehash-codebase` that we would try to merge simultaneously.

[2021-11-18 16:37] mitchellwrosen opened #2647 "Pull out unison-sqlite package"
Pull out `sqlite-simple`-specific helpers to a `unison-sqlite` wrapper library, to separate it from unison-specific things

[2021-11-18 17:17] aryairani opened #2648 "Metadata.Star has some issues"
1. It allows metadata on things that aren't named in the namespace — this is mitigated by not being possible to represent in the v2 codebase, but these invalid branches are presumably still being generated in memory
2. It doesn't allow different sets of metadata to be associated with different names in the same namespace.  Instead, it defines a set of metadata for a given reference/referent within

[2021-11-18 18:15] stew opened #2649 "when updating a code cycle, not all dependents of the cycle get updated"
- [x] Blocked on #2471
---

I'll let the transcript speak for itself, but essentially when you trigger an update of a cycle by updating something that cycle depends on, not all dependents of the cycle get updated

**Transcript**

[code]
[code]

[code]

[code]

[code]
**transcript output**

[code]
[code]

[code]
[code]
[code]

[code]
[code]

[2021-11-18 18:16] stew commented on #2649
This one is hurting us constantly in our Remote project since we have a large cycle of code there

[2021-11-18 19:06] stew opened #2650 "some additional pretty printer round-trip bugs"
[code]

[code]

[code]

[code]

[code]

[code]

[2021-11-18 20:03] aryairani opened #2651 "create "how to pr in unison""
Write up a tutorial on how to use UCM to create and review pull requests like unisonweb/base#53 today.

I stubbed out a page at https://github.com/unisonweb/unison/wiki/How-to-Review-a-PR-in-Unison, and we can move it to the doc site if and when we want to.

[2021-11-18 20:23] hojberg commented on #2651
There's also this on the website right now https://www.unisonweb.org/docs/codebase-organization#day-to-day-development-creating-and-merging-pull-requests

[2021-11-18 21:01] aryairani commented on #2649
Once fixed, the end of the transcript output should be:
[code]

[2021-11-19 00:29] ChrisPenner opened #2653 "CLI flag to run transcripts in parallel"
Low priority since it's just for local development, but we should be able to run transcripts in parallel to speed things up a bit.

* Would be nice to capture and batch output to print results sensibly (should be able to write from stdout into a buffer rather than direct to terminal)
* I tried just adding `EasyTest.fork` to the appropriate spot in the transcript test builder and it froze on a bloc

[2021-11-19 18:51] hojberg opened #2659 "M2k Release Notes"
Our last release was [M2k](https://github.com/unisonweb/unison/releases/tag/release%2FM2g). Here's a summary of what's new since then:

* New command: `docs.to-html` to generate HTML representations of docs in a namespace
* New `getArgs` builtin
* Fuzzy find support via [`fzf`](https://github.com/junegunn/fzf) for `cd`,`view`, and `edit` when run without arguments
* Globbing support with `?` as wi

[2021-11-19 19:31] #2659 closed, assigned to nobody

[2021-11-19 20:41] ChrisPenner commented on #2429
Ran into this today; I'll throw it on the TODO queue

[2021-11-19 20:48] ChrisPenner opened #2660 "reset-root can ruin your day"
We should likely provide a warning for this like we do if you try to `delete.namespace .`; especially since `undo` doesn't work after resetting the root.

For now, if anyone runs into this, you can find the previous root namespace in your `reflog` and `reset-root` to that.

[2021-11-20 17:09] aryairani commented on #2649
@mitchellwrosen and I dug into this on Friday, through some hairy update-propagation code.  The upshot is that updating with cycles is kind of busted, resulting in both this issue and the earlier #2425 issue.

I think we can do a quick fix that I think will solve this for working with _new_ definitions 🤞. Then, a more comprehensive fix for updates in general soon after.

[2021-11-22 22:01] #2620 closed, assigned to mitchellwrosen

[2021-11-22 22:41] ChrisPenner commented on #2603
Can you explain the use-case for this? How does this improve on just adding a sub-namespace for whatever you want to share? Is it just that downloading it will be faster?

I'll admit I'm not sold on this feature yet, if there are other reasons I'd love to hear them, but if it's just for performance it really sounds like we should work on fixing our  ability to load sub-branches rather than introdu

[2021-11-23 01:36] aryairani commented on #2603
@ChrisPenner It's just to be able to quickly share a unison namespace without having to think about where you want to archive it; it's not for performance. It's part of https://github.com/unisonweb/unison/pull/2247#issuecomment-900409775.

[2021-11-23 02:00] stew opened #2663 "Something fishy around TVar.write"
I was able to capture a pretty minimal transcript that demonstrates the problem I seem to be having around TVar.write If you run this transcript, the last stanza fails

[code]
    In this case we only ever create a singleton map
[code]

[code]

    some types. I haven't been able to minimize past this. If you take the Text off D and make it a nullary constructor, then the `TVar.write` doesn't seem

[2021-11-23 02:16] stew commented on #2663
I'm quote surprised that I can't do things like get rid of the Map, or even change the type of Map.get to be `v` instead of `Optional v` but it seems that I cannot

[2021-11-23 02:17] stew commented on #2663
and its NOT the case that the two things in R are flipped. I tried returning the other field by coercing its type and I still get a -1 back from `tlc` So I think instead that something is messing with the stack

[2021-11-23 13:52] hojberg commented on #2603
@aryairani @ChrisPenner @mitchellwrosen I'd love to connect about this to help me get an understanding of the UX and the implications this might have on Share, both now and in the future — it's definitely a feature we'd want Share to support, and I wonder if there's some quick wins there.

[2021-11-23 14:41] hojberg commented on #2603
Oh I think I understand slightly more about what this is. I was confused by the "gist" terminology here and thought it to literally be that. 🤔

[2021-11-23 18:46] #2572 closed, assigned to ChrisPenner

[2021-11-23 22:53] mitchellwrosen opened #2669 "Error encountered when opening a codebase is ignored"
https://github.com/unisonweb/unison/blob/a6c4533e96ca18286e2cb780f49ab4feff37c7b4/parser-typechecker/src/Unison/Codebase/Init.hs#L89

This line ignores the error that comes out of `openCodebase`, and just goes on to print "no codebase found at specific dir". I think the error message should depend on exactly what failed.

[2021-11-24 15:57] #2663 closed, assigned to pchiusano, dolio

[2021-11-24 17:13] mitchellwrosen opened #2673 "Merge containers util modules"
Right now we have multiple copies of some util modules (e.g. `Unison.Util.Set`, `U.Util.Set`), which exist in different packages and are drifting apart.

I think we should move these into the `unison-prelude` package, as they are just generally useful `containers` utils, which `unison-prelude` already depends on (to re-export the types).

[2021-11-24 17:19] ChrisPenner commented on #2673
Agreed on moving more things into the Prelude 👍🏼

[2021-11-24 17:55] aryairani commented on #2673
wdyt about moving them to u.util?

[2021-11-24 17:58] mitchellwrosen commented on #2673
I think the module naming convention should have a predictable structure. `U` or `Unison` are both good with me. Why `U`, though?

[2021-11-24 18:46] ceedubs opened #2676 "names help claims that it shows all known names"
The help for names claims that it shows "all known names". However, it doesn't seem to be that simple and the output varies based on namespace. I'm not sure whether this is a documentation issue or a feature or a bug.

## help output

[code]

## what I'm seeing

[code]

[2021-11-24 21:01] ceedubs opened #2677 "io.test lies about looking in the most recently typechecked file"
[code]

[code]

[2021-11-24 21:03] ceedubs opened #2678 "rename io.test to test.io?"
I just noticed that there is an `io.test` feature in ucm. Should it be renamed `test.io` so it's more discoverable when looking doing tab completion with `test`?

[2021-11-24 21:31] ChrisPenner opened #2679 "fzf commands needs to resolve to absolute paths for external names"
Running fzf in a sub-namespace should use absolute paths for everything outside of our current namespace.

It's less of an issue with `view` and `edit` since they perform a suffixified lookup; but cd is broken.

[code]

[2021-11-24 22:28] aryairani commented on #2673
Ah sorry, I meant, to the unison-util package instead of unison-prelude.

As far as the naming, I started using U when there was two of just about
everything during the codebase refactor. I was vaguely planning to move
everything over to the U (for Unison) namespace as we reviewed them, but
then stopped partway because it was taking too long.

In any case, those new packages currently use the U. m

[2021-11-24 22:58] mitchellwrosen commented on #2673
@aryairani Ah, I see. Hmm, is this the motivation for moving these modules into unison-util?

If so - I agree we should strive to have clean delineation for all packages (including "old" and "new") but I think they actually belong better in unison-prelude than unison-util.

unison-prelude is a prelude/base replacement package, which exists basically because the actual `base` has some warts, and do

[2021-11-26 18:16] aryairani opened #2684 "since history no longer starts with empty namespace, `history` command should include a diff for the initial commit"
e.g. https://github.com/unisonweb/unison/blob/9c14f44078f4d7504001198f56e3b6b328ce6798/unison-src/transcripts/child-namespace-history-merge.output.md?plain=1#L83 could show the addition of those first two terms.  Maybe just like the other diffs, but against `empty`.

[2021-11-27 06:48] aryairani commented on #2673
Yeah, good point.

I didn't catch until now that you were moving those out of U.Util too.  I just didn't want to have two homes for the same thing, if we're trying to find a better home for them.

[2021-11-27 15:25] aryairani opened #2685 "a PR where we move `ORMOLU_DISABLE` to below the module imports"
Follow-on to #2666.

HLS puts imports in the wrong spot, and rather than continuing to try to thread them in manually without disturbing the surrounding imports, or not (and increasing the entropy), let's do this.

[2021-11-27 15:32] #2673 closed, assigned to mitchellwrosen

[2021-11-27 17:01] mitchellwrosen commented on #2648
## Overview

I have been looking into `Star3` a little bit while working on #2515, and I think it has some slightly confusing semantics.

It's three relations with the same active domain, and `O(1)` access to the active domain.

In a branch, we have:

[code]

This means for each term `Reference`, we store:

- A set of `NameSegment` because every reference can have multiple names.
- A set of `(Meta

[2021-11-27 18:05] aryairani commented on #2545
Also see #2219.

[2021-11-27 19:33] aryairani commented on #2648
I think we accept that `Star3.toList` isn't a good idea, and by extension `starToR4` probably isn't either.  What would it look like to eliminate this function?

💯 👍

My guess is that most of the commands don't need to happen in memory, but then it would be nice to have them indexed on disk, which is a later #2219 #2545 concern.

[2021-11-27 19:37] aryairani commented on #2603
@hojberg Yeah it would definitely be the sort of thing where if you had a Share hooked up for that particular codebase, you could generate a share link to the namespace by hash.

[2021-11-28 17:13] #2603 closed, assigned to mitchellwrosen

[2021-11-29 15:06] ChrisPenner commented on #2685
I can probably script something to make this patch, but of course in the mean-time feel free to just move it down as it causes issues.

This'll also be nice for avoiding conflicts on imports I think, since HLS always adds them at the end which causes contention, whereas ormolu sorts them.

[2021-11-29 16:39] pchiusano commented on #2678
How about adding an alias? Then both work!

[2021-11-29 18:51] #2679 closed, assigned to nobody

[2021-11-29 19:02] ceedubs commented on #2678
@pchiusano what's the motivation for an alias? Is it backwards compatibility? I'm guessing that only a handful of people have ever used `io.test` (in part because of #2677).

I think that the downsides of an alias are a noisier `help` output and potential confusion about why both exist. My inclination would be to just rename it.

I'm not totally opposed to an alias; just a bit skeptical.

[2021-11-29 19:09] pchiusano commented on #2678
My motivation is that I often can never remember the order 😀 (is it `move.namespace` or `namespace.move`), but bold idea, maybe command names should be just treated as a set of segments so the order just doesn't matter? I can't image ever wanting `io.test` and `test.io` to do something different.

Aliases actually only show up once in the help output, grouped with the "primary" command name, so I

[2021-11-29 21:06] stew opened #2689 "ui command doesn't use the correct host"
if you have the UCM_HOST env variable set to force API server to bind to a specific, the `ui` command should use this host. Right now `ui` seems to always use `localhost`

[2021-11-29 21:11] ceedubs commented on #2678
@pchiusano the set of segments idea is interesting. For some reason it kind of terrifies me, but probably only because it's a new idea 😊. Though if we were to do this with ucm commands the natural next question is whether this should be done for Unison namespaces...

I had forgotten how aliases get grouped. That's pretty nice. That alleviates my concern with the local UI. I still am slightly hesit

[2021-11-29 23:34] #2429 closed, assigned to ChrisPenner

[2021-11-30 08:58] eirikm opened #2691 "Code Bubbles"
Hi,

I just came here to tell you that Unison looks like the perfect match for Code Bubbles!

https://www.youtube.com/watch?v=PsPX0nElJ0k
http://cs.brown.edu/~spr/codebubbles/

[2021-11-30 16:23] ChrisPenner commented on #2622
My initial thoughts here would be:
* Add some mechanism/exception/handler for detecting and catching this specific error
* Wrap every iteration of the command-loop in its own delayed transaction
* Catch contention errors in the command-loop, if it’s detected, roll-back the command’s transaction and just run the command again (maybe after a small backoff)
* I’ll need to go through and ensure all th

[2021-11-30 23:02] mitchellwrosen commented on #2517
Duplicate: #2653

[2021-11-30 23:02] #2517 closed, assigned to nobody

[2021-12-01 13:31] hagl opened #2693 "Segfault in ucm for watch expression with larger lists"
The following code causes a segfault in ucm on MacOS
[code]
Here is the output of ucm:
[code]

If I add the `list` to the workspace first and then use the watch expression it works fine. Also if I inline the list term or use a smaller-sized list.

[2021-12-01 14:53] aryairani commented on #2693
@dolio Any ideas on this? (Can you even repro on linux? I haven’t tried on mac yet.)

[2021-12-01 16:31] dolio commented on #2693
It doesn't seem to be happening here, no. Strange.

Actually, scratch that. It just doesn't happen every time, I think.

[2021-12-01 17:03] dolio commented on #2693
Okay, I think I figured out what's happening.

It actually works the first time you run it. But then unison caches a gigantic list literal and tries to use that instead the next time it happens in a watch. That's the thing that causes a problem.

[2021-12-01 17:08] ceedubs commented on #1240
I was just stumped for a bit on something similar.

While it's less likely to stump people in such a simple form you can get this message with something as simple as:

[code]

[code]

I think that there are two things going on here.

1. Why does the user see `_25003`? Both `_25003` and `sum` are highlighted red, so the compiler seems to know that it refers to `sum`. Are we able to show the user `s

[2021-12-01 17:15] mitchellwrosen opened #2694 "UCM should not consider a remote codebase that fails to open equivalent to an empty codebase"
In working on <oops, missing ticket>, I discovered that when viewing a remote codebase, if it fails to open for any reason (including a schema version too high), we consider it to be empty instead. There's a comment that indicates this seems wrong. I think it is too =)

[2021-12-01 19:46] ChrisPenner opened #2695 "Share is getting too big for Github"
## The problems:

### File size limits

* Currently we use github to store unison-codebases, and by extension, the Share codebase
* > GitHub blocks pushes that exceed 100 MB. ([docs](https://docs.github.com/en/repositories/working-with-files/managing-large-files/about-large-files-on-github))
* Share is getting close to this limit
* We also expect user-codebases to eventually grow past this limit.

[2021-12-01 19:50] ChrisPenner opened #2696 "Support squashing a branch as part of a `pull`."
Goal: Reduce codebase sizes by avoiding pulling in outdated history and references which aren't present in the HEAD of a namespace.

Problem:
Currently, even if you `pull`, and then immediately `squash`, the history isn't garbage-collected, and we currently don't have an easy way to clean orphaned branches or references. This means they're likely to hang out in your codebase and artificially infla

[2021-12-01 19:55] ChrisPenner opened #2697 "Support pulling a codebase from an arbitrary URL or codebase file"
Currently we only support codebases stored in git repositories.

Problem: github has file-size limits, and is a system built around incremental changes. It's not built well to work with large single database files.

Solution: Allow pulling from arbitrary URLs by simply downloading the database file directly, or even directly from local codebases.

Benefits:
* Extremely flexible, E.g. we can easily

[2021-12-01 20:49] ChrisPenner opened #2698 "Aliases for remote URLs"
## Problem

* Typing long URLs like `https://github.com/ChrisPenner/unison-codebase` is extremely annoying and error-prone.
* As @hojberg and I have been discussing how Share might distribute its code to users it's clear that the actual location and method that the code is hosted with may change over time, and keeping documentation up to date may be a challenge.

## Solution

Aliases for remote co

[2021-12-01 21:46] hojberg commented on #2171
Closing in favor of https://github.com/unisonweb/unison/issues/2698

[2021-12-01 21:46] #2171 closed, assigned to stew, aryairani

[2021-12-02 00:03] ceedubs opened #2699 "pretty-printer doesn't consider local terms for unique suffix"
The raw transcript is [here](https://gist.github.com/ceedubs/14e1e02c2d645e417f7d077813c0c2fe).

# pretty-printer doesn't consider local terms for unique suffix

It seems that the pretty-printer doesn't consider function-local terms when determining the minimal suffix to reference a term that is declared outside of the function.

Below we add `Foo.bar` and the local `bar`. The watch statement show

[2021-12-02 00:40] stew opened #2700 "dependents doesn't include dependents that are part of the same hash"
[code]

[code]
[code]

[2021-12-02 00:44] mitchellwrosen commented on #2700
Since #2667 they are actually stored in the database, but:

- To temporarily preserve backwards compat we throw them away after retrieving from the database. The plan was to go through call sites one by one and decide if that code wants the self-references or not. I think the dependents command does, hence this ticket
- We still need to migrate existing terms' index entries, which will convenientl

[2021-12-02 03:59] jakerosen opened #2702 "List.foldLeft helper function type error"
I was writing a function using List.foldLeft with a helper function to fold the list, but I got a confusing type error and I'm not sure if it's a bug or not.
[code]
[code]

If we change the signature of bar to `Nat -> {e} Nat -> {e} Nat` or `Nat -> {} Nat -> {} Nat`, then it works fine.

[2021-12-02 14:09] hojberg commented on #2702
I've been seeing this error as well with `List.foldLeft`, and have been confused by it. I think its meant to just be inferred automatically 🤔

[2021-12-02 16:50] ChrisPenner opened #2703 "Provide a way to see diffs between the definitions of terms between namespaces"
Blocked by further discussion on more advanced namespace diffing.

---

Reviewing PRs is a bad experience, we can see which terms have changed, but not what the actual changes are.

Long term we might want to build things into some sort of Github replacement, but in the short term we need some way to display diffs between terms.

For now, we already depend on git, so we could just dump both namesp

[2021-12-02 17:00] ChrisPenner commented on #2651
Looks like the link Simon posted is a good start on this, we'll want to revisit this after we have some better PR tools, but we'll close for the meantime.

[2021-12-02 17:00] #2651 closed, assigned to mitchellwrosen

[2021-12-02 18:09] stew commented on #2650
the tvarmodify case is by far the biggest impact for us

[2021-12-02 18:46] aryairani opened #2705 "add a command to dump the known ucm commands to Doc terms in a given namespace."
The command to trigger this could be... idk `builtins.merge.command-docs <empty path?>`

Something like whatever the following ends up being in `Doc` format:
[code]

[2021-12-02 20:05] hojberg opened #2706 "Codebase Server: add a new endpoint for 2nd level namespaces"
Add a new endpoint to support Unison Share that returns the first and the second level of namespaces in the codebase tree

If we have a namespace structure like so:
[code]

We'd want to add a new endpoint that returns 4 namespaces:

[code]

This will support a new front page for Unison Share—a catalog of sorts: https://github.com/unisonweb/codebase-ui/issues/144

Note that for now, categorization

[2021-12-02 21:01] #1552 closed

[2021-12-02 21:27] atacratic commented on #2699
Good bug.  I think this ought to be caught by the `uniqueness` filter in [`calcImports`](https://github.com/unisonweb/unison/blob/1a9b9f80871303bdf9def70c6d23c9d09ba8058c/parser-typechecker/src/Unison/TermPrinter.hs#L1031), but it's not being, because local bindings aren't being included in the `PrintAnnotation.usages` tree of stats about names.  I think the fix would be to add a `LamsNamedOrDelay

[2021-12-03 15:31] #2694 closed, assigned to mitchellwrosen

[2021-12-03 18:54] pchiusano opened #2711 "Improve the update workflow for conflicting edits"
This came up when @ceedubs and @stew had a conflicting edit to a type, `Foo` and then some further edits on top of that. The `todo` output included a big list of all these other conflicts, but most of the other conflicts had one of the versions of `Foo` as a transitive dependency.

The user wants to know: what's the thing I actually need to act on. We can tell them that there's some transitive con

[2021-12-03 18:55] pchiusano commented on #2711
Related #2248

[2021-12-03 20:11] stew opened #2712 "round trip bug + type inference bug"
Below is a transcript which show's a round trip problem but I kinda think that the reason that this is a round trip bug is that it's actually exposing an problem with ability inference. When the pretty printer prints `susan: Nat ->{} Nat -> ()` it prints it without the null ability marker: `susan: Nat -> Nat -> ()` which causes the error:
[code]

==TRANSCRIPT==

[code]

[code]

[code]

[code]

[co

[2021-12-03 20:37] aryairani commented on #2711
Things from call w/ @ceedubs:
1. When `update` a term that has a name conflict, maybe just update both of them instead of throwing an error. Make sure transitively propagated name-conflicted terms that are updated to be the same on both sides of the dependency divergence reconverge to the same hash and same term without craziness.
2. We are missing 3-way merge for definitions — so ucm presents a l

[2021-12-03 20:49] atacratic commented on #2712
Related: #738 #717 #703 - and see also https://gist.github.com/atacratic/7a91901d5535391910a2d34a2636a93c#ability-inference-and-generalization.

If the limitation in inference shown in this issue is just how it has to be, then I think that's a good case for remembering and faithfully pretty-printing the null ability list.

[2021-12-04 02:34] ceedubs commented on #2711
For what it's worth I would mark 2 as a low priority. I'm happy to resolve it manually if UCM will propagate the change for me.

[2021-12-04 18:56] stew opened #2715 "Bytes.fromList crashes ucm"
this expression in a scratch file causes ucm to crash with an exception:

Causes this crash:

    ~/scratch.u changed.

    Now evaluating any watch expressions (lines starting with `>`)... Ctrl+C cancels.

    Exception: Enum.toEnum{Word8}: tag (256) is outside of bounds (0,255)
    unison: Enum.toEnum{Word8}: tag (256) is outside of bounds (0,255)

[2021-12-04 21:04] aryairani opened #2719 "`builtins.merge` crashes on a new codebase with `UnknownText "Effect"`"
[code]

[2021-12-04 21:06] aryairani opened #2720 "creating a new codebase shouldn't require a migration"
[code]

[2021-12-04 21:07] aryairani opened #2721 "improve or update `deleteReplacements.md`, which relies on hard-coded hash"

[2021-12-04 21:08] aryairani opened #2722 "diagnose various name resolution errors in transcripts"
- [ ] fix2158-1.md -- can't resolve `List.map`
- [ ] mvar.md -- can't resolve pattern `Left`
- [ ] net.md -- can't resolve `compose2`
- [ ] stm.md -- can't resolve `Nat`, `TVar`, `io2.IO`, `Optional`
- [ ] thread.md -- can't resolve `io2.IO`, `Result`
- [ ] tls.md -- can't resolve pattern `Left`

[2021-12-06 07:02] aryairani opened #2726 "Performance issue with large codebase `update`"
Investigate slowdown described in Stew's Dec 3 email.
- #2764
- #2750
- #2743
- #2766
- #2765

Even with all of these patches, updating is still slow.
- typechecking `applyContext`?
- nail down whether typechecking is happening unnecessarily after a type-preserving substitution
  - how do we handle multiple substitutions within the same term? they all have to be type-preserving?

[2021-12-06 07:07] aryairani commented on #2719
`git bisect` says this started happening somewhere between _ and _. (I'm two days into git bisect... no answer yet)

[2021-12-06 07:10] aryairani commented on #2719
I finally "finished" a very unsatisfying 2-day long `git bisect`:

[code]

[2021-12-06 16:09] aryairani commented on #2720
Bump schema version in schema creation sql. "Line 6, assuming that's still line 6".

[2021-12-06 16:56] #2647 closed, assigned to mitchellwrosen

[2021-12-06 20:43] ChrisPenner opened #2727 "Parser finds keywords a bit too eagerly, should operate over tokens instead"
The following transcript fails:

[code]

[code]

With error:

    ⚙️   Processing stanza 2 of 3.# Empty namespace behaviours

[code]

[code]

[2021-12-06 22:40] aryairani opened #2733 "regression: `ucm --codebase-create` no longer complains if codebase already exists"
Previously:
[code]

Newly:
[code]

[2021-12-06 22:56] ceedubs commented on #2727
@ChrisPenner it's not a bug it's a feature to detect when you have an unhelpful `the` prefix on (some) variables 😜

[2021-12-07 01:12] aryairani commented on #2733
From the test output, it looks like this was intentional. Is it intentional?

[code]
(last line)

/cc @rlmark @hojberg What's the desired behavior when you `--codebase-create` but one already exists there?

[2021-12-07 01:43] aryairani opened #2735 "add github actions nested sections for individual tests"

[2021-12-07 02:29] aryairani opened #2736 "consolidating tests?"
Currently we run six different commands to see if tests pass.

[code]

Would it be practical to have a single executable that summarizes the passing and failing tests from all six?

Note that some tests have overlapping functionality — i.e. a change that breaks of fixes one test may break or fix another in another suite as well, but either later suites are short-circuited, or failures in earlier s

[2021-12-07 02:34] mitchellwrosen commented on #2736
I think this PR is the right way to go, at which point all tests could be run with `stack test`

https://github.com/unisonweb/unison/pull/2656

[2021-12-07 02:36] aryairani commented on #2736
Ah. Would that PR + running `stack test` take care of the business of earlier test failures getting lost in a stream of output too?

[2021-12-07 04:25] hojberg commented on #2733
@aryairani yeah this is intentional, but we should probably display a message about it.

[2021-12-07 06:07] slightknack opened #2737 "Line wrapping after every word"
When running unison, lines wrap after every word (sometimes):

<img width="823" alt="Screen Shot 2021-12-07 at 7 02 14 AM" src="https://user-images.githubusercontent.com/54823450/144975131-4a1755c3-988b-4f01-8a98-cfc4dea8101e.png">

If I type something like `help`, I get the same thing:

<img width="661" alt="Screen Shot 2021-12-07 at 7 03 25 AM" src="https://user-images.githubusercontent.com/5482

[2021-12-07 15:46] ChrisPenner commented on #2722
Looks like these are failing on trunk as well if you run them manually, e.g. `stack exec transcripts -- stm.md`.

They all depend on definitions in base, but don't ever actually import or setup base.

[2021-12-07 16:12] ChrisPenner commented on #2722
Dug into this a bit, looks like the actual failures in these transcripts are resolved by #2730 , but what probably happened is that you looked at the failing transcripts in the CI printout, then ran them one by one using `stack exec transcripts -- transcript-name`, which caused transcripts which depend on base to fail with missing identifiers due to #2738 ...

![image](https://user-images.githubus

[2021-12-07 20:14] ceedubs commented on #2737
@slightknack thank you for reporting this! @runarorama is running into the same issue. It seems to be specific to aarch/arm64 builds.

[2021-12-08 01:53] aryairani commented on #2733
@hojberg Ah ok — so ... does that mean the so-called regression I posted is already in `trunk`?

I did not realize that, and thought it had occurred as part of #2471 which is not yet in trunk (but has had trunk merged into it!)

[2021-12-08 15:05] hojberg commented on #2733
@aryairani yup, this was part of the improvements to the codebase init flow

[2021-12-08 19:25] ceedubs opened #2741 "pretty-printer handles repeat composition kind of strangely"
This is harmless, but it has made Stew and me scratch our heads a couple of times.

If you write the following function:

[code]

And then `add` and `view` it, it gets formatted as:

[code]

This isn't _wrong_, but it's also probably not how any human would write it. I'm guessing that this also generalizes to other symbolic infix operators.

In this particular case you could also write this functi

[2021-12-08 21:06] aryairani opened #2742 "Make sure schema hasn't been silently upgraded while another codebase client is running"
Is it as "simple" as checking "schema version" when we check "data version" (which we already need to do more consistently).

---

Chris's edits:

Ideas for addressing this issue:

* Store the codebase for the v2 schema at a different filepath entirely; e.g. `.unison/v3/unison.sqlite3` or `.unison/v2/unison.v2.sqlite3`
  * This allows us to easily provide both schema v1 and v2 versions of libs lik

[2021-12-08 21:31] aryairani commented on #2733
Ok, not a regression then.

[2021-12-08 21:31] #2733 closed, assigned to nobody

[2021-12-09 13:55] pvdbrand opened #2744 "IO.getBytes is quite inefficient"
Reading a 28 MB file with a single getBytes call takes around 400ms on my (pretty beefy) machine.

Test case:

[code]

Running this with a build of unison with profiling enabled shows that most of the time is spent in `Unison.Util.Bytes.arrayToChunk`:
[code]

[2021-12-09 15:58] pchiusano commented on #2744
Thanks for reporting this and for doing the sleuthing.

I'll bet that this code can be replaced with something unsafe that does a block copy -

[code]

Here's [`ByteArrayAccess`](https://hackage.haskell.org/package/memory-0.14.18/docs/Data-ByteArray.html) which lets you obtain a `Ptr` from the underlying. I'm not sure how to convert that to a `Vector Word8` though.

@dolio any ideas on this one?

[2021-12-09 17:41] ChrisPenner opened #2745 "Replace local history when pull'ing over empty local branch"
More fallout from the idea of keeping history on deletes.
Cody ran into the situation where he wanted to "replace" his local branch with the remote, so he `delete.namespace`'d his local, then tried to `pull` the remote over it, but since the history is maintained, it did a merge instead and he ended up with a weird quasi half-deleted thing.
Discussed with Paul, Cody & Stew, we still want to keep l

[2021-12-09 18:07] aryairani opened #2746 "Look into whether ormolu is expected to be able to format just imports"
See https://github.com/unisonweb/unison/pull/2713/files#r765360035

Towards #2666, #1760

[2021-12-09 19:06] #2706 closed, assigned to hojberg

[2021-12-09 19:31] #2696 closed, assigned to ChrisPenner

[2021-12-09 22:51] rlmark opened #2751 "Ability definitions with multiple ability references should not be allowed to typecheck"
On ucm version M2K, it appears you can define an ability where multiple abilities are specified to the right of the arrow for the request constructors.

[code]

Later, once you try to implement a handler for such an ability, you'll receive an appropriate error message and the handler will fail to typecheck.

[code]

It might be better for the error to surface at the time of the ability definition

[2021-12-09 23:38] aryairani commented on #2719
fixed with #2730

[2021-12-09 23:38] #2719 closed, assigned to aryairani

[2021-12-10 05:17] solomon-b commented on #2452
@StevenXL I hope you don't mind I wrote another PR based on the updated issue requirements.

[2021-12-10 06:49] aryairani opened #2756 "integration tests are failing on topic/rehash-codebase"
running `stack build --fast && stack exec integration-tests`, the following tests pass, and the the suite hangs(?).

[code]

[2021-12-10 07:06] solomon-b commented on #466
I can try to take a stab at this if @zipper97412 is busy.

[2021-12-10 14:52] #2650 closed, assigned to runarorama

[2021-12-10 14:55] #2411 closed, assigned to dolio

[2021-12-10 15:03] pchiusano commented on #2263
Consolidating my thoughts a bit more. A builtin type, `Regex`, with this API:

[code]

[2021-12-10 15:34] ChrisPenner commented on #2149
I believe this issue was written before we started using fzf fuzzy-finding as a default for some commands (view, edit, cd, etc.)
I wonder which is the preferable behaviour now?

[2021-12-10 15:39] #2722 closed, assigned to ChrisPenner

[2021-12-10 18:43] tysonzero commented on #466
@pchiusano What's the reason for using a custom `unison-multicodec` over `dag-cbor`? Filecoin for example uses `dag-cbor`. This will give you a lot more interop with existing and future tooling, as `dag-cbor` is more or less the preferred multicodec outside of some `dag-pb` for files and folders.

[2021-12-10 23:41] ChrisPenner commented on #2660
This is fixed now that we keep the history on namespace deletions.

[2021-12-10 23:41] #2660 closed, assigned to nobody

[2021-12-11 14:46] tristangodfrey opened #2758 "Question: AST Normalisation/deduplication"
Hi guys, apologies if this question has been answered before (or if it is mentioned somewhere in the docs), but I was unable to find anything related to this.

My question is as follows:

If two AST instances are semantically synonymous, but syntactically different (e.g. a different ordering of arguments to a commutative operator), will the content hashes of these AST instances differ, or be equal

[2021-12-12 22:37] ceedubs commented on #2758
Hi @tristangodfrey. There are people who know more on this subject (particularly what might happen in the future), but I think that I know enough to speak about current behavior.

Currently there is a small amount of normalization that happens. Term hashes won't be affected by their names or the names of parameters/variables. However the normalization is not sophisticated enough to recognize commu

[2021-12-12 22:38] ceedubs commented on #2758
I am going to leave this issue open for now because questions about normalization come up every once in a while and we should probably add this to the FAQ.

[2021-12-12 23:38] runarorama commented on #2758
At the moment two ASTs should have the same hash if they are _Alpha-equivalent_. I don't think Unison will ever attempt to get the same hash for Beta-equivalent terms, as there is no fast way to do this, but we might do some amount of normalisation of the AST in the future. This is currently not on the roadmap.

[2021-12-13 05:37] #2720 closed, assigned to aryairani

[2021-12-13 07:38] iamevn opened #2759 "codebase UI shows wrong docs for a hash qualified name in a relative view"
Here is a term on unison share in the namespace containing that term [queried by name](https://share.unison-lang.org/latest/namespaces/iamevn/advent/year2021/day03/;/terms/main) and [queried by hash](https://share.unison-lang.org/latest/namespaces/iamevn/advent/year2021/day03/;/terms/@69dn0qqsinretcrhuvjhhfr3ue18qcvij5cv3lno22oja294et6532chuoeoknufid3ftl1kf08o168h6r8vmjasd35uubqunp6k8u0). The hash

[2021-12-13 11:38] tristangodfrey commented on #2758
Thanks for the clarification! I think a high degree of normalisation could lead to some very interesting properties such as the ability to construct a normalised cache for common operations, where you hash the entire function call & map it to the computed return value. Cache lifetime won't be an issue of course if you're working with pure functions. Though I'm not sure how useful this would be

[2021-12-13 15:09] hojberg commented on #2759
Hmmm, thought this one had been fixed (https://github.com/unisonweb/unison/issues/2557). Should verify if this problem is just the server or if ucm is impacted as well.

[2021-12-13 18:25] #2452 closed, assigned to hojberg

[2021-12-14 08:05] hagl commented on #2737
This sounds related to these issues:

https://github.com/biegunka/terminal-size/pull/17
https://github.com/judah/haskeline/pull/163

So an upgrade of haskeline might help. Unfortunately I don't have the hardware to test

[2021-12-14 16:26] #2745 closed, assigned to ChrisPenner

[2021-12-15 16:14] ChrisPenner opened #2763 "Better error message for "names" command when a hash exists but has no names."
[code]

I'd expect it to say something like:

[code]

[2021-12-16 00:21] anovstrup commented on #1404
@atacratic I don't know if I read your most recent comment carefully back when you wrote it, but I agree with your points about the drawbacks of a compiler-plugin approach.  After reading the whole write-up in light of your latest comment, I came back around to your original idea of a built-in special form that would conjure up an ability handler.  e.g., `base.io.bindForeign C Foo libfoo` defines

[2021-12-16 10:43] vic commented on #2149
Hello, I'm new to unison - I've started doing aoc2021 on it - and I'm liking the `ucm` experience.

I can confirm that on the latest release `docs` and `view` default to fuzzy-finding with `fzf` (and it's really awesome, it  helped me find stdlib functions). So I guess this issue can be closed now.

One thing I would improve regarding `docs` is, currently it lists terms even if they don't have doc

[2021-12-16 21:30] ChrisPenner commented on #2149
Interesting thought! I'm a bit on the fence for this one, since I think it might also be weird to go looking for docs for a definition, but have it not even show up in the list, although maybe that would be okay as long as users understood the reason why it wasn't there.

[2021-12-16 21:35] #1478 closed

[2021-12-16 21:52] solomon-b commented on #2727
I'm looking into this now :)

[2021-12-17 17:36] ChrisPenner opened #2767 "Mismatched implementation for `getBuffering.impl` builtin."
[code]

[code]

I'd expect it to report `Left NoBuffering` instead.

It appears the implementation of the builtin doesn't wrap its result in an Either like the helper in `base` requires.

I'm unfamiliar with how built-ins are implemented, Stew ran me through a bit of it and we have an attempt-in-progress [here](https://github.com/unisonweb/unison/compare/cp/fix-get-buffering) but ended up getting

[2021-12-17 21:02] ChrisPenner commented on #2767
There's an argument for just having this return a BufferMode that's not wrapped in Either, but I think it's worth keeping the Either for the error case thrown by calling this on a closed handle.

[2021-12-17 23:23] ChrisPenner commented on #1340
I took a crack at an initial spike on this [here](https://github.com/unisonweb/unison/compare/trunk...cp%2Farchived-namespaces). The spike just does the minimum necessary to avoid loading 'archived' namespaces, it doesn't actually support interacting with them.

I left a few `undefined`'s in the merge implementation but those should be easy to clean up once we decide how archived stuff should be m

[2021-12-19 07:08] aryairani commented on #2763
More generally #1384

[2021-12-20 18:02] ChrisPenner opened #2771 "Replace hashes in transcript test-commands with numbers instead"
For the transcripts below:

* [x] #2870
* [x] #2871
* [x] #2872
* [x] `fix-1381-excess-propagate.md` won't fail going forward, barring a surprise hash collision.
___

The following transcripts rely on fixed hashes, which means these tests need to be updated every time the hash of the involved terms changes.

This may be desirable in certain cases, since it's always good to know when a code-change

[2021-12-21 22:16] ChrisPenner commented on #2756
I cherry-picked in #2774 onto topic/rehash-codebase and it completes successfully, so we should merge that into trunk, then merge trunk back into rehash-codebase.

[code]

[2021-12-21 23:18] ChrisPenner commented on #2503
Looks like `view #a` actually just runs a prefix search for EVERY definition in your codebase with a hash starting with `#a`; it completes successfully for me on a small codebase.

For the other issue I did a super quick patch in #2776 to improve the error for now.

[2021-12-22 16:55] aryairani commented on #2503
We can improve this by an order of magnitude or two by requiring 2-3+ characters to do a search by hash.

[2021-12-24 00:41] aryairani commented on #2503
But also... `view #a` _shouldn't_ be super slow, IMO, even if it does produce a lot of output.  I can believe that it is super slow despite should-not-being, though.

[2021-12-24 06:06] stew commented on #2503
so sorry! I had realized after chatting about this with Arya right after filing this that #a was just a slow super broad search that I had no patience for with my large codebase :) I had just not updated the bug.I'd much rather us do something like require at least 4 disambiguating characters to avoid this than to do a deep dive into performance on this which we can assume is just a mistake (as it

[2022-01-03 19:03] rlmark opened #2778 "Docs pattern match issue in fenced codeblocks"
It appears that expressions which use pattern matching in fenced codeblock elements in the Docs have their case statements reordered upon evaluation. For example the following should be `true`:

[code]

But this `display`s as

[code]

A transcript with doc file to load is attached to replicate. A workaround I'm using where evaluation is not key for docs writing is to simply load the source into th

[2022-01-04 14:52] ceedubs commented on #2758
I'm going to close this out, as I think that the question has been answered.

[2022-01-04 14:52] #2758 closed, assigned to nobody

[2022-01-04 16:43] ChrisPenner commented on #2756
#2774 is merged, so this should be fixed by re-merging trunk into topic/rehash-codebase 🤞🏼

[2022-01-04 18:26] ChrisPenner commented on #2742
~Perhaps we should do the whole migration in an `EXCLUSIVE` transaction just to be 100% sure.~

Apparently this still doesn't evict open READ connections when in WAL mode 🤔 ,
one solution would be to use `VACUUM INTO` as our final step, then delete the old codebase and move over the new one.

We just really don't want a ucm to write old-hash data into a freshly migrated DB.

[2022-01-04 19:29] ChrisPenner commented on #2721
Completed in https://github.com/unisonweb/unison/commit/1ed78f4fae3bdf81d7b012176b6d0d6f1a3ee536

[2022-01-04 19:29] #2721 closed, assigned to nobody

[2022-01-04 20:29] ceedubs opened #2780 "Awkwardness tagging/untagging terms as tests"
It's really simple to add a test with `test> mytest = check (1 === 2)`. However, if you've previously added `mytest` to the codebase without marking it as a test, there isn't an obvious way to retroactively make it a test.

If you `edit` `mytest` and add a `test>` prefix, `ucm` states that `mytest` has already been added to the codebase but doesn't actually run `mytest` when you run the `test` com

[2022-01-05 22:00] ChrisPenner commented on #2756
I re-merged trunk and it's fixed 👍🏼

[2022-01-05 22:00] #2756 closed, assigned to ChrisPenner

[2022-01-05 23:19] ChrisPenner opened #2781 "Use `anyHashToMaybeObjectId` everywhere instead of `primaryHashToMaybeObjectId`"
cc Arya from #2471 ; moved here because it doesn't need to happen before merging `topic/rehash-codebase`:

Should we calling `anyHashToMaybeObjectId` everywhere instead of `primaryHashToMaybeObjectId`? We think probably yes but should convince ourselves.; we can do this later on trunk if necessary, doesn't need to block the merge.

[2022-01-05 23:37] aryairani opened #2782 "write up the multi-client migration race condition thing and the various options and consequences"

[2022-01-06 04:18] aryairani commented on #2782
https://github.com/unisonweb/unison/issues/2742#issue-1074829449

[2022-01-06 04:18] #2782 closed, assigned to ChrisPenner

[2022-01-06 16:22] #2767 closed, assigned to dolio, ChrisPenner

[2022-01-06 16:28] #2503 closed, assigned to ChrisPenner

[2022-01-06 16:30] ChrisPenner opened #2784 "Investigate dead code and unimplemented commands"
Investigate whether any of these commands are worth implementing properly, or whether it's reasonable to just remove them:

https://github.com/unisonweb/unison/pull/2775

[2022-01-06 16:32] dolio commented on #2693
Should be fixed now.

[2022-01-06 16:32] #2693 closed, assigned to dolio

[2022-01-06 19:12] rlmark opened #2785 "Docs feature: link across Doc terms to Anchor tags"
Currently you can link to an anchor tag _within_ a `Doc` term with the anchor tag link syntax, but we've encountered a few cases where it would be useful to link to an anchor tag within a different `Doc` term. This feature might be useful in cases where the targeted doc section is embedded within a longer doc, but linking directly to a transcluded fragment strips the user of necessary context.

Ca

[2022-01-06 19:57] ChrisPenner opened #2786 "Database Integrity Error on update"
Paul provided the following transcript:

[code]
[code]
[code]

Which fails with:

[code]

[2022-01-06 23:34] ChrisPenner opened #2787 "Term names affect cycle hash when terms are structurally equivalent, leading to equivalent cycles with different hashes, and possibly different cycles with the same hash"
When reviewing updates to the hashing code I realized that the canonical ordering of component terms is based on the structure of those terms, but importantly, the canonical ordering _ignores self-referential variables_ when it does this.

This works great in most cases, but I wondered, what if two terms were structurally equivalent and differed only in that they had variables referring to differe

[2022-01-07 04:45] aryairani commented on #2746
I'm observing the same (in vscode); kind of frustrating that the auto-formatter doesn't auto-format!

[2022-01-07 04:56] aryairani commented on #2746
[code]

I alo get this error when I try formatting it manually, under various scenarios, I think it's related to the above.

It has something to do with `{- ORMOLU_DISABLE -}`, as auto-formatting in the IDE and at the command-line work without it.
Adding `{- ORMOLU_ENABLE -}` doesn't obviously help.

[2022-01-07 05:58] aryairani commented on #2787
Eek, good find. Sounds like another pre-requisite for #2471 😞

@pchiusano What do you think about this issue?

Different cycles may have the same hash, but it should be exponentially unlikely, because hashing. Unless there's something about this that sidesteps the crypto?

[2022-01-07 14:42] hagl opened #2788 "ucm crash: ucm: marshalToForeign: unhandled closure: DataU1 ##Nat 983040 1"
After a small change in my codebase the following error suddenly appeared:

[code]

 A transcript to reproduce is attached

 There has also been a discussion on Slack where Dan suspects a builtin function corrupting the stack:
 https://unisonlanguage.slack.com/archives/CLUNF0J5S/p164150333900420
[bug-report.md](https://github.com/unisonweb/unison/files/7829421/bug-report.md)
0

[2022-01-07 15:52] ChrisPenner commented on #2787
Yeah, I'm worried it's possible to sidestep the crypto 😬 , it may be possible to exploit the fact that we can control the canonical ordering with something other than the content to manufacture collisions, (only collisions for structurally similar cycles luckily, but this would still be bad). I can think of a few ways it might be possible, I tried once or twice and wasn't able to find an example f

[2022-01-07 16:21] pchiusano commented on #2787
I've known about this behavior for a while, though I guess I still don't see the problem? If you have a cycle, and one or more elements of the cycle are structurally identical, the order that you pick for those cycle elements is arbitrary. If you do have some idea for a non-arbitrary way to order those elements of the cycle, I'd be interested... though I still don't see the punchline.

I might not

[2022-01-07 16:29] pchiusano commented on #2787
One thing to know is that IIRC after the canonical order is selected, the hash of the cycle is then computed based on that order. So for a cycle with `a`, `b`, and `c`, while the variable reference `a` is initially the same as `b` for purposes of computing the canonical order, after we have a canonical order (say `a`, `c`, `b`), those variable references become like debruijn indexes 0, 1, and 2 an

[2022-01-07 16:31] ChrisPenner commented on #2786
Upon exiting UCM we can see that there are un-saved component pieces left in the codebase buffer;

[code]

So that would explain why `putRoot` fails with an integrity error.
We need to find why these components aren't being properly resolved though.

[2022-01-07 16:57] ChrisPenner commented on #2787
When I say "structurally identical" I mean that they have the same ABT spine, but not necessarily the same variables, i.e. the first hash (where we treat all variables from within the cycle as equivalent) will be the same. So this means it's possible for two terms which are "structurally equivalent" in this way to still have different behaviours/semantics.

Right, currently the canonical ordering

[2022-01-07 19:18] ChrisPenner commented on #2229
Merged in #2570

[2022-01-07 19:18] #2229 closed, assigned to nobody

[2022-01-07 19:37] aryairani commented on #2786
Something can (and does) also appear stuck in the buffer above when it's "put" to the codebase before one of its transitive dependencies has been. See `beMissingDependencies` above.  i.e. it doesn't actually have to be an incomplete component to show up there.

[2022-01-07 19:52] aryairani commented on #2786
Here is a formatted version of the above, which gives a little more insight. There are no incomplete components after all, only missing dependencies:
[code]

And here are the 6 missing definitions and their blocked dependents.  The missing dependency is at the top of each group, and blocked dependents are chained below it.

[code]
[code]
[code]
[code]
[code]
[code]

The un-started components have

[2022-01-07 21:48] aryairani commented on #1864
#2229

[2022-01-08 03:00] aryairani commented on #2786
@ChrisPenner If you change that transcript to do an `add` instead of an `update`.  (You'll have to `add` in a different namespace though, due to the existing definitions.) You can even then go back and `update` the new definitions into the original target namespace and that succeeds too.

_e.g._
[code]

So the issue has got to be something specific to `update`.

[2022-01-08 23:12] mitchellwrosen commented on #2746
I reported this upstream; here's a workaround in the meantime: https://github.com/tweag/ormolu/issues/856#issuecomment-1007982154

[2022-01-09 10:14] hagl commented on #2788
No longer reproducible with a current build (latest-754-g6992f2456).
I'll close the issue

[2022-01-09 10:14] #2788 closed, assigned to dolio

[2022-01-10 13:11] hagl opened #2790 "Built-ins to get and set file permissions"
It is currently not possible to query or modify the permissions of a file or directory from Unison.
Support for these functions would need a native implementation.

My use-case: In [dhall-unison](https://github.com/hagl/dhall-unison) I'd like to check if the cache directories are readable and writeable. As a "workaround" I always attempt to read/write files and handle errors appropriately

See als

[2022-01-10 17:46] ChrisPenner commented on #2786
Here's the profile stack-trace for the error:

[code]

[2022-01-10 18:56] rlmark commented on #2111
See also: https://github.com/unisonweb/unison/issues/2785 - linking to Anchor tags across Doc terms

[2022-01-10 18:56] pchiusano commented on #2785
As a workaround for now, can use regular (site relative or relative) HTML links -

[code]

Downside of this workaround is if you change the names of the docs on the docs site, then links can break. There's not a great way of doing local previews of those links outside of building the docs site.

[2022-01-10 19:01] ChrisPenner commented on #2786
Here's the slurp result which causes the issue:
[code]

[2022-01-10 19:09] #2155 closed, assigned to pchiusano, rlmark

[2022-01-10 19:32] pchiusano opened #2794 "Allow updates to individual elements of a cycle"
This has come up a bunch of times for @rlmark who is working on docs (which are often cyclic with backreferences and so forth) and also @ceedubs has hit it too when working on Unison Cloud.

Right now, when you do an `edit foo`, if `foo` is part of a cycle with `bar` and `baz`, it will dump both `foo` and `bar` into your text buffer, as of https://github.com/unisonweb/unison/pull/2563 by @mitchell

[2022-01-10 19:57] ChrisPenner commented on #2786
After much digging, it seems like at least on issue here is that we're not properly handling the case where an ability constructor is being pullout out into a term by the same name while ALSO updating the ability at the same time.

With this info I should be able to make a smaller reproduction to add as a regression test and then we can go about fixing it 👍🏼

[2022-01-10 20:04] rlmark opened #2795 "Prioritized Doc Rendering Improvements"
* Preserving the type signatures for Unison terms in fenced codeblocks. See for example the difference between the following term renderings:

[code]

* Pattern match issue in fenced codeblocks - https://github.com/unisonweb/unison/issues/2778

[2022-01-10 20:19] rlmark opened #2796 "Pretty Printer change: overapplied operators should render with infix syntax"
For functions like "compose" (.) or (<<) the renderer will not use infix syntax leading to somewhat confusing code.

The following expression
[code]

renders as the following:
[code]

This isn't a huge issue, it came up while documenting function application, but if it's easy to do that would be awesome.

[2022-01-10 20:22] mitchellwrosen commented on #2794
We were just talking about this on Fri. It's nice to have an explicit ticket for the work now too :)

Some more discussion about it here
https://github.com/unisonweb/unison/issues/2583

[2022-01-10 21:36] aryairani commented on #2786
Thanks @ChrisPenner!

[2022-01-10 21:50] ChrisPenner commented on #2786
Here's a more minimalist reproduction, I'll dig into the best way to fix it next.

    # Regression test for updates which conflict with an existing ability constructor

    https://github.com/unisonweb/unison/issues/2786

[code]

    First we add an ability to the codebase.
    Note that this will create the name `Channels.send` as an ability constructor.

[code]

[code]

    Now we update the ab

[2022-01-10 22:08] dolio commented on #2778
I think this looks like a pattern compiler issue or something. It's throwing away the `1` case completely, and clearly evaluating it wrong.

Edit: oh wait, I understand now. Is the problem that there's some kind of double evaluation going on? The first one evaluates the doc and emits a backwards matching block:

[code]

Then that gets evaluated wrong?

[2022-01-10 22:10] dolio commented on #2795
So, I don't see signatures for either of these. The desire is that they both have signatures? Or just `t`?

[2022-01-10 22:29] rlmark commented on #2795
Ah, sorry I should have been more specific, the rendered doc (in the ui) for `test` will have the type signature included for the `@source{t1}` example but will omit the signature for the fenced codeblock. We were hoping to have the fenced codeblock include the type signatures in the manner that the `@source` tagged code does.
![Screen Shot 2022-01-10 at 2 32 15 PM](https://user-images.githubuserc

[2022-01-10 22:36] dolio commented on #2795
Oh, I see. The terminal display doesn't have a signature for `t1` either. But I guess it must be missing in whatever ends up in the evaluated doc, or the gui would be showing it for both (I assume).

[2022-01-10 22:42] rlmark commented on #2795
Oh that's a good question, I assumed it was a server-side issue but I should check with @hojberg to see if there's anything in the rendering of the fenced codeblocks that would solve the problem on the front end.

[2022-01-10 22:55] rlmark commented on #2795
Checked with Simon and it does not have the type signature in the Json payload.

[2022-01-12 17:33] ChrisPenner commented on #2786
Mergify bot is a bit over-eager haha.

[2022-01-12 18:46] aryairani commented on #2786
Hehe yeah. Github reacted to the phrase "fix  #2786" in the description of #2798, and then blamed mergify bot by virtue of having executed the merge.

[2022-01-12 20:41] ceedubs commented on #2796
#2741 is closely related to this

[2022-01-13 04:12] ceedubs commented on #2431
This appears to be an issue when checking equality of type links (from `typeLink`). Strangely, this only seems to happen when GHC compiles Unison with optimizations (so it doesn't happen when using `stack build --fast`). @dolio has been looking into it.

[2022-01-13 04:28] ceedubs opened #2801 "ucm command: view only type signature"
I find that I'm often just interested in the type signature of a term, but  when I `view myTerm` the implementation is long enough that I have to page back to see the type signature. It'd be nice to have an easy way to view just the type signature.

For example instead of:

[code]

I'd want something like:

[code]

Some possible command names that come to mind:

- `signature List.map`
- `view.sign

[2022-01-13 19:00] runarorama commented on #1487
I think this is an obsolete issue now that oldNames are no longer a thing.

[2022-01-13 19:00] #1487 closed

[2022-01-13 19:38] #2431 closed, assigned to nobody

[2022-01-14 00:09] hagl opened #2805 "ucm run : Numeric arguments are changed to find results"
When running a main function in `ucm` a numeric argument is replaced by the potential last result of a find command:

[code]

[code]

See this discussion on Slack: https://unisonlanguage.slack.com/archives/CLUNF0J5S/p1642108647023800

[2022-01-14 16:27] pchiusano commented on #2237
Just discussed the following:

[code]

It should ensure that any of the transitive dependencies that do IO are in the list. `validateSandboxed []` will ensure the value is pure. But you might say `validateSandboxed [termLink atomically]` to allow `STM` stuff.

[2022-01-14 16:54] mitchellwrosen opened #2807 "`update` initial dirty set does not include unnamed things"
When computing the initial dirty set of references to propagate an update to, we (intentionally) throw away unnamed references. Curiously, after the initial set, propagation proceeds through unnamed references. I think it may be more consistent and correct to just delete the line of code that filters out unnamed references from the initial dirty set.

The following transcript demonstrates an updat

[2022-01-14 18:42] rlmark opened #2808 "Edit docs command for large doc codebase causes UCM crash"
In order to fix a cycle problem in docs, I'll need to render the doc tree to my code buffer. The mass edit command is failing with the error

[code]

The following transcript, will reproduce the error:

[editDocs.md](https://github.com/unisonweb/unison/files/7872511/editDocs.md)

Given the following codebase:
`pull https://github.com/unisonweb/website:.docs .docs`

A zipped copy is here:
[codebase

[2022-01-14 21:13] mitchellwrosen commented on #2794
I just want to point out if "do the right thing" might not always be as if you had all the cycle elements in your buffer.

Consider:

[code]

Add that, then put this back in your buffer and save:

[code]

I think in this case, we would want to update `foo`, and show `bar` in the output of `todo`, like a normal dependent of a term whose type had changed, so propagation couldn't proceed.

If instead

[2022-01-14 21:15] rlmark opened #2810 "Roundtripping fenced codeblocks with more than 3 backticks fails to parse"
This doesn't happen frequently, but I noticed this when updating `Docs` about `Docs`. If you have a `Doc` element that uses the triple backtick syntax and 3+n backticks to escape the codeblock, for example:

[code]

the UCM will normalize your 3+n backticks to be 3 backticks, breaking your document.

[code]

For hand-wavey reasons involving the transcript parser's  treatment of 3+n backticks, I ca

[2022-01-18 02:58] kanwren commented on #2492
After doing some digging, this looks like a specific case of a more general and annoying round-trip problem: hanging the arguments to a function application might cause them to end up at the same indentation level as the function itself (due to parentheses, lists, ticks, etc.), which causes the parse error.

For example, if there is an application like this, in which the arguments are long and the

[2022-01-18 16:05] pchiusano opened #2811 "Kind-preserving type edits should not reinfer type signatures"
I don't have a transcript for this one, but we recently made a change to the `Location` type of the distributed library, and despite it being a kind-preserving change that should have propagated automatically, a bunch of functions got reinferred. And the inferred types were bad, with lots of extra slack variables. These signatures then needed manual fixing up.

We should continue to improve the in

[2022-01-18 16:18] ChrisPenner commented on #2808
Fixed the main crash in #2812;

It seems a bit strange that we're running into this at all though so I'll continue looking into it.
Here's the full stack-trace for my future reference:

[code]

[2022-01-18 16:34] pchiusano opened #2813 "If a set of ability variables always appears together, combine them"
We managed to infer the following type:

[code]

Notice that `{h, h1, h2}` are always together in the inferred type. So we might as well just call that parameter `h`. They are also duplicated.

Deduplicated and coalesced, we get the nice type

[code]

Which is something a human might write.

I'd say this isn't super high priority, but it'd be a nice win for the inference algorithm. The more times

[2022-01-18 17:04] dolio commented on #2813
Yeah, I kind of wonder how many type errors of the multiple variable sort are caused by inferring this sort of type for intermediate steps.

[2022-01-18 17:08] pchiusano commented on #2813
Totally.

[2022-01-18 17:12] pchiusano commented on #2813
I just noticed that `h3` appears on the `Location` but not in the result.

But applying the same simplification rule again, the variable set `{g, h3}` is never separated elsewhere in the signature, so we might as well just call that `g`, which yields the desired signature.

[2022-01-18 17:24] #2808 closed, assigned to ChrisPenner

[2022-01-18 17:33] aryairani opened #2815 "add a message after (before and after?) migration to remind to close all other ucms"
If we pause before doing a migration, then we can just tell them ahead of time.

If we don't pause before doing a migration, then we need to at least say it after the migration.

[2022-01-18 17:48] aryairani commented on #2685
![image](https://user-images.githubusercontent.com/538571/149991156-3b1234d8-08e8-4ef3-bb2f-ba99e876a2d0.png)
Apparently the comment also needs to be moved to a separate line.

[2022-01-18 17:55] aryairani commented on #2515
@mitchellwrosen is gonna look around his git worktrees to figure out what the status of this is.

[2022-01-18 18:01] aryairani opened #2816 "Why is the migration super slow, and how hard would it be to fix it?"

[2022-01-18 21:00] ChrisPenner commented on #2181
I've confirmed that this transcript now succeeds on `topic/rehash-codebase` 👍🏼

[code]

[code]
[code]

[code]

[2022-01-18 21:24] ChrisPenner commented on #2122
I've confirmed that saving this scratch file twice crashes on trunk but does NOT crash on `topic/rehash-codebase` (with a migrated version of base)

    use .base

    structural type Digit = Digit (Set Nat)
    structural type Sudoku = Sudoku [Digit]
    full = Set.fromList [1,2,3,4,5,6,7,8,9]

    betweenChars c1 c2 c = (Char.toNat c1 <= Char.toNat c) && (Char.toNat c <= Char.toNat c2)
    parse

[2022-01-18 21:31] ChrisPenner commented on #2195
I can still trigger this error on `topic/rehash-codebase` with the following steps:

Add this scratch file:

[code]

Then "add" this scratch file:

[code]

Here's the full stack-trace (with profiling enabled)

[code]

[2022-01-18 21:54] ChrisPenner commented on #2011
This seems somewhat similar to https://github.com/unisonweb/unison/issues/2122; I can reproduce that one on trunk, but can't reproduce this one.

The fact that it has `getCycleLen` in the error makes me hope it's fixed in `topic/rehash-codebase`; but without a working reproduction it's hard to know.

[2022-01-18 21:56] ChrisPenner commented on #2495
Confirmed that this one is fixed by #2471  ✅

[2022-01-19 17:28] aryairani commented on #2195
So the issue was that the tests (e.g. `DMS.test.zeroSec`) reference definitions (e.g. `DMS.toText`) that only exist in the scratch file, but weren't added to the database because they were blocked due to having used `add` instead of `update` because an old version already existed in the codebase. (?)  /cc @ChrisPenner

[2022-01-19 17:47] ChrisPenner commented on #2195
In short, the slurping didn't detect dependencies of test-watches at all, which isn't usually an issue since running `update` just updates everything, or people run `add` and all the dependencies can be added.

But; if you have a dependency that needs an update, but your test can be `added`, then when you `add` the updated definitions are still depended upon by the test, but the test isn't blocked

[2022-01-19 18:51] #2195 closed, assigned to nobody

[2022-01-19 18:51] aryairani commented on #2195
Thanks @philderbeast!

[2022-01-20 00:03] kanwren opened #2818 "Roundtrip error from naive hanging of boolean operators"
Given the following example code:

[code]

This parses, but when viewed pretty-prints to this:
[code]
which fails to parse. Instead, it should pretty-print to something like this, similar to other infix operators:
[code]

The pretty-printer here does not handle `&&` and `||` the same as other infix operators, and naively incorrectly hangs them when the line breaks, causing the roundtrip error.

[2022-01-20 00:03] kanwren commented on #2818
Also, I've done some digging and took a stab at fixing this; I should have a PR ready soon.

[2022-01-20 16:51] mitchellwrosen opened #2820 "After updating one member of a component, the other members don't appear in `todo` output"
[code]

[2022-01-20 17:24] pchiusano commented on #525
This could be considered the same issue as https://github.com/unisonweb/unison/issues/2699

[2022-01-20 17:45] pchiusano commented on #2492
@nprindle thanks for digging into this one, so does your #2819 PR also fix this as well?

[2022-01-20 17:55] pchiusano opened #2822 "Inability to reference a term or type with a name that has segments starting with an underscore"
[code]

[code]

[code]

[code]

[2022-01-20 18:08] pchiusano commented on #2712
Just to clarify, when `naiomi` is pretty-printed, the `{}` on the annotation of `susan` is elided by the pretty-printer. This causes round trip bugs.

[2022-01-20 18:31] kanwren commented on #2492
No; unfortunately, this looks more involved. I'm not quite sure what in the parser causes it to fail, but if it's intended behavior, then from what I've seen the pretty-printer would just have to avoid that indentation level, which doesn't seem very trivial to do. If it's just a bug in the parser, then it should be easier to fix.

[2022-01-20 18:49] pchiusano opened #2823 "Reporting of pattern arity mismatch errors is weirdly slow on a large file"
@stew and @ceedubs have noticed that when editing a scratch file with ~3500 LOC, all other typechecking errors are reported in a second or so, but if there's a pattern arity mismatch (`cases Foo x y -> ...` when that constructor has fields, say), it takes **literally 7 minutes** to report the error on a 16 core machine with 32 GB of RAM.

Things that we've tried:

* Disabling TDNR completely in th

[2022-01-20 18:54] pchiusano commented on #2823
Here's an error message when it is slow:

[code]

[2022-01-20 19:02] pchiusano commented on #2823
Commenting out all the error message rendering when there's an arity mismatch resulted in it being super fast again!!

We might have a fix soon.

[2022-01-20 19:19] aryairani commented on #2685
Let's wait until after #2471

[2022-01-20 19:20] aryairani commented on #2746
It is expected to, just without comments on the same line as the `DISABLE` directive.

[2022-01-20 19:20] #2746 closed, assigned to nobody

[2022-01-20 19:36] pchiusano commented on #2712
Since there's a decent workaround (just rename the namespace to not use `_`) this is lower priority.