[2021-05-18 18:08] pchiusano commented on #1970
This can be worked around by doing another `builtins.mergeio` to add the latest doc rendering functions to your codebase.

[2021-05-18 23:42] rlmark opened #1982 "Transcripts cannot run Doc2 blocks"
Take the following testTranscript : (also written [here as a gist](https://gist.github.com/rlmark/ff557494ff50546bb8a2547d70aefd92) ~because markdown backtick escaping~ thanks @aryairani 😁  )

[code]
Running `unison transcript DocIssue.md` will produce the following error

[code]

If you assign the documentation to a term it fails in the same way, so I don't believe the problem to be specific to a

[2021-05-19 00:12] rlmark commented on #1982
Closing this. The issue is with prefixing the transcript with the old `builtins.merge` command instead of the new`builtins.mergeio`

[2021-05-19 00:12] #1982 closed, assigned to nobody

[2021-05-19 12:00] #1956 closed, assigned to nobody

[2021-05-19 16:04] pchiusano commented on #1969
For M2 we're just going to revert this and people will see this annoying warning until it's fixed in a more robust way.

[2021-05-19 16:06] pchiusano commented on #1963
We're waiting for this to possibly resurface in a more reproducible way.

[2021-05-19 16:09] pchiusano opened #1986 "Try dogfooding the PR process to see if it's too slow to be usable"

[2021-05-19 16:11] aryairani opened #1987 "If ucm starts in a folder that contains a v1 codebase but no v2 codebase, print instructions"
Explain how to upgrade your codebase, or how to run in v1 codebase mode.

`FileCodebase.Init` can check for the presence of a V1 codebase if `SqliteCodebase.Init` says there's no V2 codebase.

[2021-05-19 16:12] aryairani commented on #1987
or optionally prompt to start the upgrade, vs start with a new empty v2 codebase?

[2021-05-19 16:21] pchiusano opened #1988 "Mac builds"
Update GitHub actions to produce Mac binaries on each merge to trunk.

[2021-05-19 16:25] pchiusano opened #1989 "`brew` install for M2 release"
This depends on #2020

[2021-05-19 16:26] hojberg opened #1990 "UCM should support a headless mode for running in a server environment"
When running ucm on a server for share.unison-lang.org we currently have to have screen wrapping the ucm program to avoid it exciting. We should support a headless mode to allow for servers to easily run ucm.

Note, a "without colors" option would also help in this regard.

[2021-05-19 16:29] aryairani opened #1991 "optparse-applicative take 2 discussion"
We think it's time to overhaul argument parsing for unison into a more maintainable way, per @shmish111's proposal in https://github.com/unisonweb/unison/pull/1426.

@runarorama How do you think this will interact with the web server options parsing, and what do we need to keep in mind to do it right?

[2021-05-19 16:40] pchiusano opened #1992 "Standalone executable for codebase server"
TTY-aware

[2021-05-19 16:41] hojberg commented on #1992
Duplicate of/related to: https://github.com/unisonweb/unison/issues/1990

[2021-05-19 17:50] #1992 closed, assigned to stew, runarorama

[2021-05-20 20:07] pchiusano opened #1995 "Bulk namespace editing"
Modifying a namespace via `delete.term`, `rename.type`, `alias.term`, and so on can get tedious. The idea here is to get the namespace into your text editor where you can do whatever regex munging you want to make a bunch of changes. You could also write scripts to do things like convert in bulk from `camelCase` to `snake_case`, or I was even thinking of converting identifiers from one language to

[2021-05-20 20:08] pchiusano commented on #1995
Related: https://github.com/unisonweb/unison/issues/1526

[2021-05-21 02:18] #1969 closed, assigned to aryairani

[2021-05-21 21:56] pchiusano opened #1997 "Codebase server should maybe dedup based on reference"
<img width="834" alt="Screen Shot 2021-05-21 at 4 50 26 PM" src="https://user-images.githubusercontent.com/11074/119201618-e52ec980-ba54-11eb-843d-72790739865e.png">

These implementations of `List.map` are all the same.

There might be some front-end work if we want to also show aliases in the find results, like it shows `List.map` (in `.base` and 6 other locations)

[2021-05-24 16:42] pchiusano opened #2000 "Issue with squash"
Two issues:

- [ ] The LCA calculation will gleefully return the empty branch as the LCA, which can be technically true but is almost never the LCA you want.
- [ ] `squash a b` where `a` is ahead of `b` needs to have some short circuiting logic that doesn't include `a` history. `merge` has such short circuiting.

[2021-05-24 18:25] aryairani opened #2001 "put codebase upgrade log in a file instead of on stdout"
e.g. `<codebase-root>/.unison/v1-v2-upgrade-<iso 8601-basic-date-time>.log`

The current output for upgrading base etc. is so massive as to be kind of useless.
This output happens in a function called `allDone` in the `Unison.Codebase.Conversion.Sync12`.

[2021-05-24 20:57] rlmark opened #2003 "`dependents` ucm command has loop problem when called with hash from old IO"
This is probably an unlikely corner case, but if you run `dependents` on a hash representing old state, the UCM gets caught in a loop, and just increments a counter in the print out, failing to quit with `q` as expected.

a transcript with the following body will show the issue in the printout.
[code]

Dependents command appears to be stuck in infinite loop when looking up hash reference from old

[2021-05-24 21:49] aryairani commented on #2003
Whoa.

[2021-05-25 02:18] #2000 closed, assigned to nobody

[2021-05-25 02:25] pchiusano opened #2004 "Update SQLiteCodebase implementation of LCA"
The empty namespace can technically be the LCA due to how we represent history (all namespaces start out with an empty namespace at the start of their history), but it's basically never the LCA you want. Here's an example:

[code]

This could find `<empty>` as an LCA even though we want v4 as the LCA.

In this PR we avoid returning a Causal.One (a causal with no parents) as the LCA and keep lookin

[2021-05-25 02:29] pchiusano commented on #2004
Cc @runarorama tracking this loose end to update the sql calculation of LCA

[2021-05-25 02:39] pchiusano commented on #2003
Does this just happen when listing dependents of any recursive data type or function?

[2021-05-25 03:08] aryairani commented on #2003
Fwiw, this terminate for me; both interactively on a new codebase, or with a transcript (output [here](https://gist.github.com/aryairani/12c9c40dac2f44c8810c49861d6576e4)):

[code]

Old `IO` does have a lot of constructors (0–37), could it just be "needs more `q`?"

Or could it be something particular to the affected codebases?

[2021-05-25 03:39] aryairani opened #2005 "error message for non-fast-forward suggests the wrong command"
![image](https://user-images.githubusercontent.com/538571/119435851-07407a00-bce9-11eb-866f-e1967bf06c69.png)

I suppose it should say you can do `pull` rather than `push` to merge the changes locally.

Also, you can see an extra space in the backticked output that should be omitted when the local path argument is empty.

[2021-05-25 05:07] rlmark commented on #2003
Oh it's entirely possible this isn't a loop and is just 37 pages of the dependents list. I honestly stopped hitting enter after about 10. 😬  If this is valid / expected behavior I'll close this issue.

[2021-05-25 05:59] rashadg1030 commented on #2005
@aryairani I'd like to help with this issue if possible.

My understanding is that the following change needs to be made:

    `push /tmp/nonffpush-repo ` -> `pull /tmp/nonffpush-repo`

So, changing `push` to `pull` in the recommended command and taking away the extra whitespace at the end.

[2021-05-25 13:16] aryairani commented on #2005
Thanks @rashadg1030 !  It’s a little subtle in that the text is automatically generated according to the last command the user entered (which is why it shows up as push instead of pull), and also that there is sometimes a final argument that would come after the space, which should be included in the output too.

I’d recommend searching the codebase for `If you want to` and starting there.

[2021-05-25 13:41] pchiusano commented on #2003
If you type 'q' that will quit the pager (it should say this in the status line at the bottom) and actually since all the results are generated up front as a big string and then passed to the pager, I think if you can 'q' successfully then it's working as expected.

Dependents could maybe restrict itself to only those found in the current namespace. I thought it did this but maybe not.

[2021-05-25 15:37] rlmark commented on #2003
Ah, ok it takes around 40 seconds (🤔 ) but if I hit 'q' the pager does indeed quit and allow me to use the ucm again. I suspect I just wasn't patient enough to see that happen. I'll close this as it appears to be working, maybe just a big sluggish on my machine.

[2021-05-25 15:37] #2003 closed, assigned to nobody

[2021-05-25 18:38] pchiusano commented on #1990
Fixed by #2006

[2021-05-25 18:38] #1990 closed, assigned to stew, runarorama

[2021-05-25 18:55] pchiusano opened #2009 "Round trip tests for new docs format"
There's currently a transcript that exercises parsing, pretty-printing, and display of docs, but it doesn't test that what the pretty-printer produces can be parsed again.

We have some unit tests of this round trip property for other elements of Unison syntax. It's a little more involved to create this for the new doc type because of how it parses - it desugars into calls to `docWord`, `docParagr

[2021-05-25 19:09] aryairani commented on #2003
Ok sounds good; it should not be at all sluggish though, as far as I know (unless it's something to do with looking up the names? but I'm not sure that it would be), so that is still something we could take a look at.

Here it is on my machine; it takes about 3 seconds including UCM startup time.

In a smaller window, paged:

https://user-images.githubusercontent.com/538571/119554710-ff291e80-bd6a

[2021-05-25 19:25] rlmark commented on #2003
Hmmm maybe it's just a difference in our respective machines? Here's a screencap version of what I've observed, for reference.

https://user-images.githubusercontent.com/7613551/119556632-1e688180-bd54-11eb-9b72-34cc7a25d400.mov

[2021-05-25 19:28] aryairani commented on #2003
Oof, thanks for the recording.  I wonder what it's doing? I do have a newish machine _but_ it shouldn't really be doing any work, IDK.

[2021-05-25 19:43] aryairani opened #2011 "`NoObjectForPrimaryHashId` in `fix1926.md`?"
I currently can't reproduce this, but I also haven't fixed it.

Input:
[code]

Output:
[code]

Here is the  https://gist.github.com/aryairani/a24553bf244f90882fb9e021689170ef

[2021-05-25 20:07] #1958 closed, assigned to aryairani

[2021-05-25 23:02] #1860 closed, assigned to pchiusano

[2021-05-26 02:15] rashadg1030 commented on #2005
@aryairani Got it!

[2021-05-26 05:50] aryairani commented on #2004
Is there a transcript to test that the LCA implementation is working correctly?  How did #2002 pass without #2004?

[2021-05-26 09:47] rashadg1030 commented on #2005
#2014

I've opened the draft PR above. I wasn't able to recreate the scenario you had so I couldn't test it 100%, but I think the change I made will fix the issue.

@aryairani Can you tell me how I can recreate the problem you had to test out my change? I tried creating a remote with `ucm` using `push`, then updating some random file in the `.unison` folder on GitHub, then doing a `push` again fro

[2021-05-26 12:20] pchiusano commented on #2004
There's not a transcript yet. We just updated some unit tests for the other PR.

We should construct a transcript based on the above sketch. I can work on that if you don't beat me to it.

[2021-05-26 13:32] pchiusano commented on #2004
@aryairani okay there's a transcript here in #2015 and in the fix/2004 branch

[2021-05-26 14:47] aryairani opened #2018 "use more readable filename encodings in the git cache"
This happens in `Unison.Codebase.Editor.Git` in `encodeFileName`.

My thinking is that it's impossible to identify and delete the stuff you want in there, and deleting all of `~/.cache/unisonlanguage` becomes too tempting.

Maybe `/` could be encoded as `\`.
`\`, which occurs only rarely on POSIX systems, can be encoded as something else.

`/tmp/nonffpush-repo` could be
`\tmp\nonffpush-repo` rathe

[2021-05-26 16:58] rlmark opened #2019 "Discussion: Better errors for delayed computation gotchas"
Goal: Clarify error message for common delayed computation (`'` gotchas)

One of the subtle Unison features that trips up new users is the delayed computation syntax - particularly where it intersects with providing abilities - to help users get over this initial hurdle, it would be nice to provide specific, clear error reporting for when a user has forgotten to implement their function as a delay

[2021-05-26 18:19] pchiusano opened #2020 "Create / revamp github action to build releases"
What we want:

* On creation of any tag in Git, build binaries and upload releases

[2021-05-26 18:20] aryairani commented on #2020
Here is the azure config we've been using: https://github.com/unisonweb/unison/blob/series/M1/azure-pipelines.yml

[2021-05-26 18:24] pchiusano commented on #1989
Want to create some sort of launch script to pass the appropriate path to the ui and install that launch script in `/bin` or whatever.

[2021-05-26 18:27] aryairani commented on #1989
This is the Azure script we currently use to generate and update the brew formula with each M1 release. https://github.com/unisonweb/unison/blob/series/M1/azure-pipelines.yml

Here is the repo we keep the formula in:
https://github.com/unisonweb/homebrew-unison

[2021-05-26 18:29] #1988 closed, assigned to stew

[2021-05-26 18:30] aryairani commented on #1989
I'm happy to pair on this if you want.

[2021-05-26 18:30] pchiusano opened #2021 "HTTPS redirect for share.unison-lang.org"

[2021-05-26 18:33] pchiusano opened #2022 "Codebase server should cache latest branch"
@runarorama is working on this

[2021-05-26 18:48] #2021 closed, assigned to stew

[2021-05-26 20:08] pchiusano opened #2024 "Miscellaneous base issues to fixup"
Populating this as we go during review with @rlmark

__M2:__

- [x] `alias.type #fgaevis4bl IO.Deprecated` to make sure old IO type has a name of some kind
- [x] `alias.term #ags0v5hfe5#8 Doc.Join` it looks like the name for this was accidentally deleted
- [x] `Exception.*` functions that exist are actually functions on `Throw`. Should move them to `Throw`.
- [x] rename `Throw.raise` to `Throw.thr

[2021-05-26 20:45] pchiusano opened #2025 "Allow `run` to run things that use `{IO,Exception}`"
It's as if their program in wrapped in a call to this function:

[code]

[2021-05-26 20:54] rlmark opened #2026 ""Cannot decompile Foreign" when running function with IO"
The following code using IO prints out the error `Cannot decompile Foreign`

[code]

In the UCM this is the command and error

[code]

Transcript below:
[fix2026.md](https://github.com/unisonweb/unison/files/6549641/fix2026.md)

[2021-05-26 21:04] pchiusano commented on #2026
@dolio working on a self contained transcript for this one currently..

[2021-05-26 21:24] pchiusano commented on #1989
Yeah I might need a hand. I think we want to split apart this workflow - #2020 is responsible for building the release, and then (somehow?) after that's done, this just runs and uploads the new brew formula.

I feel like someone must have done this before (build a homebrew formula automatically from a github release) but I didn't manage to find anything via google. @hojberg did you have some ideas

[2021-05-26 23:16] rlmark opened #2027 "Ucm exits with "No builtin type called: io2.Failure" when calling new IO functions"
When calling some of the new IO functions (I was experimenting with Sockets so the transcript contains that as an example) the following error will surface and the ucm will exit.

[code]

Attached is a transcript which should replicate the issue
[fix2027.md](https://github.com/unisonweb/unison/files/6550160/fix2027.md)

[2021-05-26 23:17] aryairani commented on #1989
@pchiusano The Azure script linked above does that, and the Github Actions version is likely very similar given the Microsoft connection; if that’s what you mean.

[2021-05-26 23:45] rlmark commented on #2027
Also this transcript involves includes pulling all of the `base` library (🕐 ) but it's actually material for the error to surface.

[2021-05-27 00:25] pchiusano commented on #2027
@dolio I see what's going on - the runtime is referencing `IOSource.failureReference` (which should have been deleted as it doesn't exist in the Unison source included in IOSource) when it should be referencing `Unison.Builtin.Decls.failureRef`.

I'm guessing this is only triggered by I/O programs that actually throw errors (and maybe you even have to inspect the type of the error in a certain way

[2021-05-27 02:56] pchiusano opened #2028 "Binary file I/O"
Maybe just a function:

[code]

Or is this not necessary? Like if you want to treat a file as binary, you just use `getBytes` and `putBytes`.

Apparently text mode handles will do line ending conversions and other munging depending on the encoding set for the handle and/or system locale, but I"m not sure if that applies to all operations or just when you call certain operations that produce text l

[2021-05-27 04:34] aryairani commented on #2028
I think it applies to all operations; like a translation on top of `getBytes` and `putBytes`, if you open in text mode.

[2021-05-27 15:23] pchiusano opened #2031 "Consider switching representation of `Causal`"
Suggested by @runarorama, proposal is switch to `Causal` having `Empty` and `Cons` rather than `One` and `Cons`:

[code]

We suspect this will clean up a number of things, for instance the LCA calculation: `Empty` doesn't count as an LCA.

Right now we have `One empty` for representing the empty namespace with no history, but then this can get chosen as an LCA, which is not great.

On the sql side

[2021-05-27 16:52] dolio commented on #2026
I can add the transcript above, but it won't actually display the "hello world" in the transcript output. I guess that's not the part that matters, though.

I should add, I'm not sure there's any better way to test this.

[2021-05-27 19:13] pchiusano commented on #2026
Right. That's fine, I'd still add it - that transcript previously would produce that weird message in the output.

[2021-05-27 19:30] pchiusano commented on #1989
Also linking to this to look into: https://github.com/marketplace/actions/homebrew-tap

[2021-05-27 19:48] aryairani opened #2032 "investigate bloated pre-v2 namespaces"
During the v1->v2 codebase conversion of `unisonweb/base`, I saw that we had a lot of namespaces that were bloated with metadata for references that didn't have names in the namespace.  I forget whether there were also `fact`s (part of the `Namespace` `Metadata.Star`) that didn't have names.  In fact, this stray metadata explained 85%+ of the size of v1 base.

The v2 format doesn't represent this

[2021-05-27 23:07] dolio opened #2034 "Pattern matching in a handler gives odd results"
In writing a transcript for one of the recent bugfixes, I noticed that there seems to be another pattern matching bug. Code similar to:

    cases
      {Exception.raise fail -> _}
        match fail with
          Failure typ _ any -> Failure typ "problem" any
      {x} -> x

Ends up giving an error about decompiling a continuation when it goes through the `raise` case. This seems likely to be so

[2021-05-28 02:02] #2027 closed, assigned to pchiusano, dolio

[2021-05-28 04:37] #2026 closed, assigned to dolio

[2021-05-28 17:27] aryairani commented on #1989
https://docs.brew.sh/Adding-Software-to-Homebrew
https://docs.brew.sh/Taps
https://docs.brew.sh/Bottles
https://docs.brew.sh/Formula-Cookbook
https://docs.brew.sh/Tips-N'-Tricks
https://docs.brew.sh/Acceptable-Formulae
https://docs.brew.sh/Manpage
https://rubydoc.brew.sh/Formula.html
https://refspecs.linuxfoundation.org/FHS_3.0/fhs/index.html
https://stackoverflow.com/a/51361039/310162

[2021-05-28 19:55] aryairani opened #2038 "let `history` command show the contents of non-empty initial namespace"
Transcript:
[code]

Output:
[code]

[code]
[code]

[code]

I'm thinking the `history` should say something about `x`; perhaps just a diff against `Branch.empty0` after `#hkrqt3`.

[2021-05-28 20:36] aryairani opened #2040 "ask user for permission to create/convert a codebase if none/one is found"
Something like:
[code]

Probably none of this should happen if ucm is started with `headless` (/cc @stew to confirm)

[2021-05-28 20:44] aryairani commented on #2040
There is a version of this in #1886 which this will supersede.

[2021-05-29 11:09] asoltysik opened #2041 "Incorrect parsing when adding terms to operator's namespace"
[code]

Result
[code]

Looks like parser interprets `.test.ex1` as a paremeter. Not sure if this expected or not, but I can't find any other way to add tests/docs to operator's namespace.

**Codebase**: v2
**unison version**: devel/M1l-1388-g04040b6ff

[2021-05-29 13:02] pchiusano commented on #2041
Yeah this is a known issue though I'm on my phone and can't find the ticket. 😐

The workaround is giving the function a regular name, like Text.appendSize, then do alias.term Text.appendSize Text.*+

[2021-05-29 13:29] asoltysik commented on #2041
Oh, sorry for the duplicate, didn't manage to find a similar ticket. Thanks for the workaround though!

[2021-05-29 20:56] #1979 closed, assigned to nobody

[2021-05-29 21:08] pchiusano commented on #1979
@hojberg feel free to reopen if you think there's more to this than what's done in the dev-ui-install.ah script and that PR.

One limitation I could see is it just fetches the latest release from GitHub, so the code needs to be committed and built by CI.

Though I suppose you could also have the ui path set to some local build directory of the codebase UI if you want the backend to rely on uncommi

[2021-05-30 03:36] hojberg commented on #1979
I think we can do a more integrated experience than the script, but it seems fine for now.

[2021-05-30 19:15] rashadg1030 opened #2044 "Codebase manager crashes when running the `pull` command to sync local with remote"
When remote is ahead of local and I try to `pull`, I get the following error:

[code]

Same error occurs on `trunk` and `topic/extended-sql-errors` branch.

---
Found this issue in #2014.

System Details:
[code]
File type is `ext4`
`x86_64` architecture. I'm using an Acer laptop.

[2021-05-31 01:08] aryairani commented on #2044
@rashadg1030 Does it only happen when the remote is ahead of local?

[2021-05-31 13:21] #2004 closed, assigned to aryairani

[2021-05-31 14:40] rashadg1030 commented on #2044
@aryairani Yes, it seems so.

[2021-05-31 14:44] rashadg1030 commented on #2044
@aryairani Yes, I tested the `pull` command after doing a push to the repo. In each case, they errored out, so the state of the git repo hasn't changed at all since I ran these series of commands you suggested here: https://github.com/unisonweb/unison/pull/2014#issuecomment-849310735

EDIT: I misunderstood your comment. I'm gonna try and test `pull` when remote isn't ahead of local.

[2021-05-31 14:49] rashadg1030 commented on #2044
I will check some of the code changes you made in `topic/extended-sql-errors` branch and go from there. I need to figure out where `ucm` uses `sqlite3` and see when and how the `pull` is executed.

[2021-05-31 15:02] rashadg1030 commented on #2044
This is what happens when I try to pull when I don't have the code locally:
[code]
I tried this on the `topic/extended-sql-errors` branch.

EDIT: Same thing happened on `trunk`. Not sure what the problem could be.

[2021-06-01 01:10] aryairani commented on #2044
Hi @rashadg1030, thanks for your help in diagnosing this.  Just to be clear, does `pull` ever work on your computer with these builds, in any situation?

I also sent you a message via Slack to try to set up a time to screen share and/or debug together, if you're open to it.

[2021-06-01 03:15] rashadg1030 commented on #2044
@aryairani I believe I've used the `pull` command before and it worked fine, but I'm not 100% sure.

Okay great, I'll check Slack.

[2021-06-01 03:49] aryairani commented on #2044
Summarizing the Slack conversation: @rashadg1030 is going to try to create a minimal transcript, and then depending on what the transcript does on my system, we'll set up a call to debug tomorrow.

[2021-06-01 15:59] #1880 closed, assigned to hojberg, stew, runarorama

[2021-06-01 16:48] pchiusano opened #2045 "Investigate and fix definition search and loading performance issues in codebase UI"
This meta-ticket is tracking work to improve the performance of fuzzy find and definition loading. The current performance issues affect the codebase UI used by Unison Share and the local codebase UI.

1. Fuzzy find linearly scans all names in the codebase and performance is poor on large codebases (it takes seconds). There's probably some constant factor improvements to be made, but we should int

[2021-06-01 16:58] pchiusano opened #2046 "Print out number of CPUs used on startup"
Only do this in headless mode

[2021-06-01 18:17] pchiusano opened #2049 "Make sure it's possible to catch all exceptions"
We want to be able to implement `bracket` and `finally`. There's exceptions in pure code, due to calling `bug` or `todo` or an incomplete pattern match, and then also async exceptions due to a thread being killed.

Needs some more thought about how to handle. I think it could be good if all these things could be caught by an `Exception` handler, where:

[code]

@dolio let's discuss this

[2021-06-01 18:21] #2046 closed, assigned to aryairani

[2021-06-01 19:32] pchiusano opened #2050 "typeLink and termLink keywords should be treated as if they have same precedence as function application"
`foo (typeLink Blah) 99` is rendered without the parens, which looks really weird even though it’s technically permitted by the parser. Similarly for `termLink`.

@atacratic any chance you have time to take a look at this one?

[2021-06-01 20:01] pchiusano opened #2051 "Maybe beta reduce decompiled subterms? (or figure out why they're being created in the first place)"
[code]

This yields:

[code]

[2021-06-01 21:26] aryairani opened #2052 "ucm crashes cryptically when trying to `pull` a v1 codebase"
[code]
or similar

[2021-06-01 21:35] rlmark opened #2053 "Ucm exits with `unimplemented: symbol1to2 Pattern` when using `display` command"
[fix2053.md](https://github.com/unisonweb/unison/files/6580679/fix2053.md)
UCM exits with the following error when calling `display` in the UCM.

[code]

A transcript is attached.

[2021-06-01 23:30] aryairani commented on #2044
I opened #2052 to track the `ErrorCan'tOpen` error and hid some of the comments related to it.

[2021-06-02 15:23] aryairani commented on #1989
Closed by unisonweb/homebrew-unison@bb9316e01281041fa7a200d2f9f4d62fb6ed0cab

[2021-06-02 15:36] pchiusano commented on #1989
@aryairani will we remove or replace the non `--head` version with M2 once that is out? If so do you want to track that in a separate ticket?

[2021-06-02 16:02] aryairani commented on #1989
Yes, once we have the final build.  I reopened the ticket.

[2021-06-02 16:09] pchiusano commented on #2022
Superceded by #2045

[2021-06-02 16:09] #2022 closed, assigned to runarorama

[2021-06-02 16:16] dolio commented on #2051
Weird. This is actually a beta redex. I didn't think the decompilation would actually produce those.

[2021-06-02 16:44] pchiusano opened #2057 "Create help output for upgrading a codebase from V1 to V2"

[2021-06-02 17:04] pchiusano commented on #2024
@runarorama when you're done with this, can you also do:

[code]

(The releases namespaces are all squashed - no need to fetch history for these.)

That will ensure that these instructions work [in the quickstart guide](https://www.unisonweb.org/docs/quickstart) work -

[code]

[2021-06-02 17:07] pchiusano commented on #2051
Oh right. Yeah but weird that it's producing beta reducible terms.

[2021-06-02 17:16] dolio commented on #2051
My first guess for how it would happen is that it's some kind of double indirection. Like

    f x = ...
    g = f
    g e

Decompilation should substitute arguments in, but `g` would have no actual arguments, so substitution does nothing, and then you might get the body of `f` somehow.

It has to be more complicated than this, though, because `g` would never get partially applied by the runtime n

[2021-06-02 18:21] aryairani opened #2059 "Add help output for --old-codebase and --new-codebase flags"

[2021-06-02 18:31] aryairani opened #2060 "notify the user when ucm tries to start with a v2 codebase where only a v1 codebase exists"

[2021-06-02 18:36] rlmark opened #2061 "UCM docs rendering fails with `cannot decompile to local recursive binding`"
UCM command for docs fails with

 `cannot decompile to local recursive binding`

for particular documentation circumstances.

A zipped transcript and .u file is attached to better showcase the issue.
[zipped2061.zip](https://github.com/unisonweb/unison/files/6586743/zipped2061.zip)

The transcript text is simply:
[code]

[2021-06-02 18:43] pchiusano commented on #2061
Another thing we noticed:

* `docs bracket` works if you delete EITHER of the embedded examples. Like we tried to minimize, thinking it was one example or the other that was triggering the bug, but that doesn't seem to be the case. So I suppose this is a possible workaround - just only one example in your docs.
* It looks like it's failing when attempting to decompile the document after evaluation

[2021-06-02 18:59] pchiusano commented on #2061
Here's a workaround, moving the definitions inline to a let block just before they're used:

[code]

This makes me think that the definitions are being floated out and then decompilation isn't able to inline them back in, or something?

[2021-06-02 20:03] #2057 closed, assigned to aryairani

[2021-06-02 20:05] #2059 closed, assigned to aryairani

[2021-06-02 21:27] pchiusano opened #2063 "Flush write-ahead log before push and verify that no WAL files are committed"
According to https://sqlite.org/tempfiles.html the WAL files aren’t necessarily flushed on close if there are other open connections to the database. Also see https://github.com/groue/GRDB.swift/issues/418

We are probably not closing the connection on `pull` and that should be tracked down, but we should make the `push` code robust to concurrent connections being open.

Also, we should ensure tha

[2021-06-02 22:49] aryairani opened #2066 "P.bulleted doesn't work and/or user error"
[code]

produces:

[code]

[2021-06-02 22:49] aryairani commented on #2066
@pchiusano I assigned you just for initial triage.

[2021-06-02 22:51] aryairani commented on #2066
Maybe it has more to do with `P.wrap`

[2021-06-02 23:02] pchiusano commented on #2066
@aryairani

Yeah just reduce the scope of the wrap to just the paragraph before the bullets.

[2021-06-02 23:03] pchiusano commented on #2066
And if you need to you can add a wrap around each of the bulleted list items if they are too long for one line.

[2021-06-02 23:03] aryairani commented on #2066
:+1:

[2021-06-02 23:03] #2066 closed, assigned to pchiusano

[2021-06-02 23:14] #2060 closed, assigned to aryairani

[2021-06-03 00:43] aryairani commented on #2066
I keep running into this issue about 1x/year: #949, #950, #1190, and now #2066.

I think for `P.wrap . P.lines` or `P.wrap . P.bulleted`, etc. that instead of forgetting `lines` / `bulleted`, that it should wrap what's inside them.  Is that a hard change?

[2021-06-03 00:57] runarorama commented on #2024
OK, that's done

[2021-06-03 02:12] pchiusano commented on #2066
Yeah, it's hard. :|

Because `bulleted` and `lines` are just derived combinators, they aren't just constructors that we can distribute `wrap` over. I don't think they should be constructors; instead I'd just introduce `wrapBulleted` and/or `wrapLines` as combinators if that's a common pattern you think you want.

[code]

[2021-06-03 02:43] aryairani commented on #2066
Maybe naive, but is there some other constructor they could use like `Group`; so that even if `wrap` didn’t distribute over them, it wouldn’t be canceling them out?

And then `wrapBulleted` could also be a thing with the definition you gave, if that’s a common pattern.

[2021-06-03 04:29] pchiusano opened #2067 "`push` creates new git commits even if there’s nothing to do"
To reproduce, just push the same namespace repeatedly to some destination. The first one creates a commit as expected.

Subsequent pushes also create commits even though it’s reported that they don’t have anything to do.

For example, check out https://github.com/pchiusano/base-june-2/commits/master and notice all the root branches have the same hash.

I'm not sure if this is a bug or if relying o

[2021-06-03 04:57] #2063 closed, assigned to pchiusano, aryairani

[2021-06-03 05:06] aryairani commented on #2067
I think we should do the short circuit earlier based on root hash.  We can still clean up WAL manually with command-line git and sqlite3.

Also if the database is really being closed in all the right places, and the WAL files are still around, then maybe committing them is fine too. Or we can just stop using WAL if we hate it, and rely on larger transactions for most of the speed.

[2021-06-03 15:15] pchiusano opened #2068 "Pushing to subpaths of length >= 1 crashes in SqliteCodebase"
As a simple example:

[code]

As a workaround, you can push at the root or a path of length 1. For instance, instead of:

[code]

You can do:

[code]

[2021-06-03 15:32] pchiusano commented on #2063
We suspect this has been fixed by #2064 but didn't have a reliable repro. Please reopen if it surfaces again!

[2021-06-03 15:48] dolio commented on #2061
Not exactly sure what the problem is. It's not really obvious from tracing the code that goes into making the doc.

I _think_ that the exception is caused by the example results, but I don't know why two examples would be a problem but one wouldn't, or why it would think these functions are recursive.

[2021-06-03 17:53] pchiusano commented on #1986
@rlmark and I tried this out and performance seemed fine, although we think the PR experience overall needs a revamp to improve its usability. Going to close this for now.

[2021-06-03 17:53] #1986 closed, assigned to nobody

[2021-06-03 21:22] aryairani commented on #1989
Closed by unisonweb/homebrew-unison@63b8c41

[code]

[2021-06-03 21:22] #1989 closed, assigned to aryairani

[2021-06-04 03:49] pchiusano opened #2071 "Update VS Code Dev Container for M2"
This might be done and working but needs testing by someone with intel hardware, follow instructions here:

https://github.com/unisonweb/vscode-devcontainer

[2021-06-04 04:50] aryairani commented on #2071
Slowly downloading Docker for Apple Silicon for testing, but otherwise the repo is updated in unisonweb/vscode-devcontainer@41e40ab, but the install docs still need to be updated to not say it's not ready.

[2021-06-04 08:45] groue commented on #2063
Hello @pchiusano, since you refer to GRDB, please let me chime in to say that the removal of WAL files is also controlled by the [SQLITE_FCNTL_PERSIST_WAL](https://sqlite.org/c3ref/c_fcntl_begin_atomic_write.html#sqlitefcntlpersistwal) flag.

Some SQLite distributions mess with this flag, and you may want to explicitly set it to the needed value.

Also, remember that when there is no -wal and -shm

[2021-06-04 14:04] pchiusano commented on #2071
@aryairani I've updated the install docs. You can close this ticket once you've verified it works.

[2021-06-04 14:46] aryairani commented on #2071
@stew We currently are using Ubuntu 18.04 LTS Bionic here; lmk if you recommend something different (or feel free to update it).  Also feel free to update the install script with the debian package when it's ready, although it's probably not hurting anything as-is.

[2021-06-04 15:08] aryairani commented on #2071
@pchiusano @stew I pushed a new version that will probably work on Intel machines.  I still can't actually test it locally without an Linux-arm64 build of ucm.  I'm guessing the devcontainer users are probably mostly Wintel, so maybe this is good enough for now, but why don't we throw in a Linux-arm64 build anyway?  There are Windows arm64 users out there too, that would be supported by a new buil

[2021-06-04 15:36] pchiusano opened #2072 "fatal: couldn't find remote ref refs/heads/"
[code]
This produces:

[code]

[2021-06-04 15:47] pchiusano commented on #2072
@aryairani this was fixed for me by deleting `~/.cache/unisonlanguage` and seems unrelated to the `pull-request.create` command. The pull of base was bombing for some reason. What was weird is that it had worked previously, but then I guess the cache got into a funky state.

I'd love to just get rid of the cache or if you're going to have a cache, use more explicit sharing - like you can get a gui

[2021-06-04 15:47] #2072 closed, assigned to aryairani

[2021-06-04 16:02] aryairani commented on #2072
Agreed.  We could probably design a working cache by going back to the drawing board thinking in terms of FSMs, though there would be questions to resolve about how to use `git` commands to accurately detect the state of the machine.  Anything else might reduce but not eliminate the race conditions.

Alternatively, we replace git and the local codebase becomes the cache.

[2021-06-04 16:51] rlmark opened #2073 "UCM exits when user accidentally puts IO in watch expression, instead of `run`"
[fix2073.md](https://github.com/unisonweb/unison/files/6600072/fix2073.md)
This is definitely a case of a user making a mistake, but if a user currently puts a function which does IO in a watch expression, the UCM exits with the following error, as opposed to returning a more friendly error in the UCM console:

[code]

A transcript is attached to show the error.

[2021-06-04 19:15] #2068 closed, assigned to aryairani

[2021-06-05 20:02] atacratic opened #2080 "ucm refuses to find/upgrade a v1 codebase at the non-default path"
I can't upgrade a v1 codebase unless it's in ~/.unison.

Initially it looks like ucm can cope with v1 codebases and advise me about what to do with them - for example, I get this nice message:

[code]

But sometimes it struggles, I guess when I give it a codebase at something other than the default path.

[code]

[2021-06-06 17:40] #2050 closed, assigned to nobody

[2021-06-06 19:45] atacratic opened #2082 "base.Nat.msb.test fails with new runtime"
I pulled the (v2) base, then did Arya's trick to blow away cached test results (`sqlite3 ~/.unison/v2/unison.sqlite3 "delete from watch_result; delete from watch;"`), then tried to run the base tests, but hit a call to `builtin.bug`.  By repeated experimentation I found that the test triggering the problem was `Nat.msb.test`.

I've jumped to the conclusion that this is something that has always be

[2021-06-06 20:02] atacratic commented on #2073
I see this same error, but when running a test which as far as I know is valid.

The test is _prototype.TimeInterval.tests.additiveGroup from the library https://github.com/atacratic/unison-datetime.

[2021-06-06 21:57] atacratic opened #2083 "Universal.< gives the wrong answer for large Nat values"
The first of these is wrong:

[code]
At a guess, `Universal.<` seems to be comparing Nats as Ints.  9223372036854775808 (2^63) is the smallest Nat that doesn't fit in an Int - interpreted as an Int, that bit pattern means -9223372036854775808, which would fit with the behaviour above.

Nats go up to 2^64-1, so it's the upper half of the range that has the problem.  Presumably the other comparison

[2021-06-07 14:35] pchiusano opened #2085 "Pass terminfo = disabled to haskeline when building"
We use [haskeline](https://hackage.haskell.org/package/haskeline) for tab completion and line editing in UCM. It depends on terminfo at runtime by default, but can be passed a flag to disable that.

See https://hackage.haskell.org/package/haskeline

We should pass that flag to disable that dependency to make our linux binaries more portable (currently people get runtime errors if they've got a dif

[2021-06-07 14:38] pchiusano commented on #2080
Can you try `ucm -codebase <dir> upgrade-codebase`? I think the `-codebase` flag needs to come before anything else.

Related: #1991

[2021-06-07 15:00] #1962 closed, assigned to nobody

[2021-06-07 15:06] aryairani commented on #2080
The `-codebase` flag needs to come before anything else.

[2021-06-07 15:19] aryairani commented on #2085
https://stackoverflow.com/a/35123917
[code]

or `--flag haskeline:-terminfo`

[2021-06-07 16:31] #2085 closed, assigned to nobody

[2021-06-07 16:58] pchiusano commented on #2071
@stew is going to give this a go

[2021-06-07 19:34] pchiusano commented on #2080
Going to close this, but if you want to do a PR that amends the help text to show this as an example, that'd be welcome.

[2021-06-07 19:34] #2080 closed, assigned to nobody

[2021-06-07 19:52] aryairani commented on #2080
I had an example in at one point, but because `-codebase` needs to come before any of the other commands, `init`, `run`, `transcript.fork`, `headless`, I felt it looked out of place as an extra example on `upgrade-codebase`, I hoped that the existing phrasing would be sufficient:

[code]

I changed "for any of the commands" to "before any of the commands".

[2021-06-07 19:54] aryairani commented on #2080
A PR that lets you supply flags in a different order might be nice though :)

[2021-06-07 20:01] pchiusano opened #2088 "CI should run all tests in base after a pull and clearing of the cache"
This is a good way to catch regressions introduced by changes to the runtime.

[2021-06-07 20:03] pchiusano commented on #2082
Good catch. @dolio can you take a look? It looks like `Nat.msb` might just be wrong.

We should definitely have CI run all the tests in base after a cache clear, tracking that here https://github.com/unisonweb/unison/issues/2088

[2021-06-07 20:15] pchiusano opened #2089 "Tests that crash should get converted to failures"
Right now the `test` command isn’t expecting exceptions when evaluating the tests. When exceptions (like calls to `bug`) do occur, it isn’t correctly attributed to the failing test.

[2021-06-07 20:16] pchiusano commented on #2082
Also https://github.com/unisonweb/unison/issues/2089

[2021-06-07 20:36] pchiusano opened #2090 "UCM command for clearing watch/test cache"
This has come up a bunch of times. We should add a ucm command for clearing the watch and test cache. For now one command that blows away both seems fine to me, perhaps `debug.clear-caches`.

[2021-06-07 20:43] dolio commented on #2082
I think this is the same bug as #2083. `msb` is a loop that uses inequality.

[2021-06-07 20:47] pchiusano commented on #2082
Ah, I was confused, I thought this was a builtin. @atacratic could you do a PR against base that uses `Nat.gt` here instead?

[2021-06-07 20:51] rlmark opened #2091 "Any variable starting with the substring "type" is interpreted as not valid"
[fix2091.md](https://github.com/unisonweb/unison/files/6611954/fix2091.md)
There are plenty of workarounds for this, (just don't start your variable with the word "type") but if you give a variable a name like "typesAndTermsDocumentation", Unison does not interpret your variable as valid. If you prefix your term like "myTypesAndTerms" everything works as expected.

A transcript is attached to demo

[2021-06-07 21:01] pchiusano commented on #2083
This has also come up with regard to #1717

Not sure what to do about it yet though. At least for boxed nats I think we have enough info to dispatch to different logic based on the type.

[2021-06-08 13:20] pchiusano commented on #2082
Going to close this as a dupe of #2083

[2021-06-08 13:20] #2082 closed, assigned to nobody

[2021-06-08 13:28] pchiusano commented on #2089
I think we need to change `Test.Result` to:

[code]

Otherwise we have no way of caching test results that fail with an exception, unless we throw away the exception and just report the failure as "an exception occurred". Maybe if we have an easy way to rerun just that test to get the full exception then that would be okay.

[2021-06-08 16:35] #2091 closed, assigned to pchiusano

[2021-06-08 16:51] dolio commented on #2083
Yeah, we could make universal ordering work like Nat ordering for Nat, I think.

I guess I already expressed my concern in that other issue, though. In general, it's not going to be possible to make the automatic 'universal' ordering coincide with orderings that aren't just structural. It can serve as a sort of arbitrary ordering for e.g. ordered maps, but for more meaningful orderings, some kind

[2021-06-08 18:15] pchiusano opened #2096 "Define JSON schema for docs"

[2021-06-08 18:18] hojberg commented on #2096
Related https://github.com/unisonweb/codebase-ui/issues/77

[2021-06-08 18:36] pchiusano opened #2097 "Markdown export for doc viewing"
Maybe a command:

[code]

Create `foo.md` with the Markdown version of `display foo`.

Could easily iterate on this by providing a new version of `syntax.docFormatConsole` (call it `syntax.docFormatMarkdown`).

[2021-06-08 20:20] pchiusano opened #2098 "display.markdown for markdown export of docs"
@rlmark and I thought this would be handy and it seems pretty low lift since the `display` command already does most of what we want.

[2021-06-08 20:20] rlmark commented on #2098
Work in progress for the renderer is in this gist: https://gist.github.com/rlmark/6d06f04402c4a3b0ddaab87a307894c9

[2021-06-08 23:22] aryairani opened #2100 "factor component cycle length out of `Reference`"
This is rarely used auxiliary info that is better confined to the few spots that use it, than duplicated in every reference.  We can start by auditing where it's actually used.

It also will resolve a class of crashes we see when trying to construct V1-style References that aren't known to the V2 codebase. (#2181, #2011, #2122, #2195, maybe be able to reverse
bd94933)

[2021-06-09 01:21] #2090 closed, assigned to aryairani

[2021-06-09 02:34] rlmark opened #2101 "UCM should not crash when evaluating n / 0"
[fix2101.md](https://github.com/unisonweb/unison/files/6620719/fix2101.md)
UCM currently crashes if you divide by zero - it should raise an appropriate error instead.

A transcript is attached but you can just enter `> 5 / 0` in a watch expression to see the failure.

[2021-06-09 04:40] aryairani commented on #1739
can't reproduce, and bisecting is too slow (>1hr now)

[code]

[code]
[code]

[code]

[2021-06-09 04:40] #1739 closed, assigned to nobody

[2021-06-09 04:41] aryairani commented on #1663
works now

[code]

[2021-06-09 04:41] #1663 closed, assigned to nobody

[2021-06-09 10:10] clojj commented on #1783
Just to add to @samgqroberts first point: possibly having Elm-Architecture for Unison Frontend-Development would be absolutely (and beyond) excellent !
Also... given this georgeous Codebase explorer written in Elm, how could one not want that frontend quality for Unison itself ?

Given the amount of effort Unison demands generally (for reaching Release-Status), maybe there could be some intermedia

[2021-06-10 03:22] aryairani opened #2104 "should all sqlite tables be `without rowid`?"
https://sqlite.org/withoutrowid.html

[2021-06-10 03:42] aryairani commented on #2104
seems like "no"

[2021-06-10 03:42] #2104 closed, assigned to nobody

[2021-06-10 14:16] pchiusano opened #2154 "References to terms in SyntaxText show up in the UI as TypeReference"
I opened up `List.filter` then clicked through to `List.foldLeft` and got this:

<img width="594" alt="Screen Shot 2021-06-10 at 9 16 05 AM" src="https://user-images.githubusercontent.com/11074/121541098-98dc0700-c9cc-11eb-83e2-8bf242f51262.png">

Notice the URL.

Interesting is that if I refresh the page, the definition still loads but has the wrong url.

[2021-06-10 14:52] runarorama opened #2139 "Codebase server: Requesting the `Void` type in the `/find` endpoint hangs"
Searching for the string `Void` in the Find feature seems to spin forever.

Scrolling down to the `Void` type on the left nav bar and clicking it results in an entry in the content pane that looks like it's loading. It takes a minute or so to fail with an error. UCM is totally unresponsive while this is happening.

A query to the API like `api/getDefinitions?names=Void` responds normally and quick

[2021-06-10 16:31] hojberg commented on #2139
Yeah `GET /api/find?query=void` instantly causes this - very strange.

[2021-06-10 17:15] aslakg opened #2106 "Bug in pattern matching with constants"
[code]
This returns 3, instead of the expected 2.
Possibly due to a reordering of the pattern matching cases.

[2021-06-10 17:19] aryairani commented on #2106
I noticed that if you swap the 2nd and 3rd cases, that the result changes..  Really, if the `2` case is anywhere but where it is.  @dolio Could you take a look?

[2021-06-10 17:22] aryairani commented on #2106
Simpler:
[code]

[2021-06-10 18:44] aryairani opened #2107 "base.List.map (etc.) is O(n log n) time instead of O(n) because it uses `##List.at` n times"
What's the plan for this sort of thing: new builtins for `map`, `flatMap`, `foldLeft`, `foldRight`? Something clever in the runtime that detects access patterns?

[2021-06-10 18:49] aryairani commented on #2107
Maybe we add builtins for `List.uncons` and `List.unsnoc` and then use them instead of `List.at` to implement the others in Unison.

[2021-06-10 18:50] aryairani commented on #1610
Probably we switch away from git before we fix this.

[2021-06-10 18:50] #1610 closed

[2021-06-10 19:47] pchiusano commented on #2107
We don't need any new builtins I don't think, and builtins that are higher-order functions are hard to do if you want them to be ability-polymorphic (which you definitely want `List.map` and these other functions to be). So I wouldn't go that route.

Important correction: in a finger tree, access to index `i` takes `log j` time where `j` is distance from the start or end of the list (whichever is

[2021-06-10 20:07] aryairani commented on #2107
Yeah, I forgot about `uncons`/`unsnoc` via pattern matching when I suggested them as builtins.  I dunno what the log base `Data.Sequence` uses, but in the plot you linked (natural log), at 1000 elements it's 6x slower.  Constant factors! \*shakes fist\*

[2021-06-10 21:04] dolio commented on #2106
Yeah, something wrong with pattern compilation. Not sure exactly what yet.

[2021-06-11 19:02] #2106 closed, assigned to dolio

[2021-06-12 16:06] atacratic opened #2109 "Speed of searches in the UI slows right down with more things in the codebase"
I type `either fold` into the codebase UI 'find' dialog - here's how long I have to wait to see results:

1) with only `base` in my codebase:  <1 second
2) same as 1, plus also a recent base PR: 8 seconds
3) same as 2, plus also a pull of (the root of) unison_random_mersenne: 23 seconds

What's going wrong?  (Could it be a function of hidden history also being pulled in?)

This is in a freshly ini

[2021-06-12 16:27] runarorama commented on #2109
I'm working on this issue at the moment. The problem is that the UI is stateless so it doesn't cache anything between requests, including the branch contents and the PPE. These are expensive to compute.

[2021-06-12 16:48] pchiusano commented on #2109
It is known that search time depends on the total number of definitions with names, and @runarorama has a WIP that should help. That said I think something silly must be happening for it to be this slow.

[2021-06-14 03:05] hojberg commented on #2154
Looking at the JSON response, term reference look to be annotated as `TypeReference` instead of `TermReference`. I think (@runarorama correct me if i'm wrong) the backend passes these annotations on from the pretty printer—might this be a bug that far upstream?

(It could also very well be that this is me misunderstanding what how this annotation is meant to be interpreted)

[2021-06-14 18:13] pchiusano opened #2110 "Add name loading to the `Codebase` interface"
[code]

And then rework `Backend` to make use of this during its operations.

Later, UCM should use it as well.

[2021-06-14 18:16] pchiusano commented on #2110
This will supercede #2023

[2021-06-14 18:18] hojberg commented on #1866
We can close this now right ? 🎉  😄

[2021-06-14 18:21] aryairani commented on #1866
Seems like.

[2021-06-14 18:21] #1866 closed, assigned to nobody

[2021-06-14 18:58] rlmark opened #2111 "Docs improvements wish-list"
A meta ticket describing some features or changes that improve the readability of the docs, or improve the docs writing workflow. Please add if you notice something that might be helpful!

- [x] Block evaluation and `@typecheck` blocks in docs should preserve type signatures above term definitions
- [ ] Should we provide a different way to render when a snippet raises an error? Currently, if you'r

[2021-06-14 20:01] hojberg opened #2112 "Update the getDefinition endpoint to include docs for terms and types."
For the Codebase UI to render docs for a definition we want to include the AST of an associated doc.
Meaning if `List.map` has is both a term and a namespace and that namespace includes a `Doc` called `doc`, associate it with the `List.map` term.

Suggested (pseudo JSON):

[code]

Related https://github.com/unisonweb/codebase-ui/issues/77

[2021-06-15 05:20] aryairani opened #2113 "slow transcripts-using-base"
I noticed that some of the `stack exec transcripts` tests are pretty slow, and that running `_base.md` as a pre-step adds 3.5s to each run on my machine.  `_base.md` merges builtins, io builtins, then parses and typechecks a `base.u`, then runs an io test.  (It does this as a pre-step for each of the `transcripts-using-base`.)

If running that io test isn't necessary as a pre-step for each of them

[2021-06-15 13:21] pchiusano commented on #2113
Suggest just loading base.u via

`.> load unison-src/transcripts-using-base/base.u`

`.> add`

And then only have one transcript, base.md which actually runs the tests.

This way you’re just paying to typecheck the file which I’m guessing is a lot faster?

[2021-06-15 15:22] aryairani commented on #2113
Oh, I assumed the `load` was the slow step.  But loading `base.u` depends on some stuff that gets named by `builtins.mergeio`, so that step may be unavoidable without work to extract the required builtins into `base.u`

Side note re `_base.md`: `builtins.mergeio` adds a superset of `builtins.merge`, so it's never necessary to run both.

[2021-06-15 19:02] tapegram commented on #318
@hasheddan are you currently working on this? I'd like to take a stab if not. Also, @aryairani @runarorama is this still relevant and useful?

[2021-06-15 21:47] samgqroberts opened #2118 "ucm crashes trying to reference ##IO.getLine.impl.v3"
I just upgraded to M2g. I had the old base definitions in `.basev1`. I pulled the new base into `.basev2` and applied the `.basev2.patch` to this `._2048.upgrade.cli` namespace. I went into this term to try to now update from `IO.Deprecated`, changed `basev1` to `basev2` in the `use` statement, and hit the crash below.

[code]

[code]

Following the rabbit hole starting at `readLine`

[code]

Here

[2021-06-15 22:01] pchiusano commented on #2118
It definitely shouldn't crash like that, but there's not currently a `getLine` in the new IO type and the latest version of `base` doesn't have a `getLine`. Am guessing that you grabbed a version of base that accidentally got a copy of `getLine`.

The `getLine` function is waiting on #1999 and see [this comment](https://github.com/unisonweb/unison/pull/1999#issuecomment-861868933) on current statu

[2021-06-15 23:10] aryairani opened #2119 "M2g release of base doesn't merge cleanly with M1m release of base."
This is going to be true as long as the `upgrade-codebase` command rewrites the history; basically M2g doesn't have a common history with M1m anymore.

Options:

1. Change `upgrade-codebase` to not recompute hashes; this would probably be fine, and would ease the transition for v1 users
    * Some merge surgery on base may be required to repair things so we get clean merges, given that multiple ve

[2021-06-15 23:31] aryairani commented on #2118
@samgqroberts I see now that the problematic `io.readLine` came from `base:.releases._M2f`, and that it's absent from `base:.releases._M2g`, pending a working version.

[2021-06-15 23:33] aryairani commented on #2118
I'm going to close this issue, but I'm glad to have it documented, as you probably aren't the only person who tried `M2f`.

[2021-06-15 23:33] #2118 closed, assigned to nobody

[2021-06-16 00:15] pchiusano commented on #2119
My view is that release namespaces aren't meant to be merged - they don't even have any history currently, it's just a squashed namespace! Merging namespaces is a thing you do during development, like for a series namespace or a PR.

Even if we did want to do some history-aware merging of releases, that doesn't do anything to help upgrade code written that depends on the old version of base. You n

[2021-06-16 00:44] aryairani commented on #2119
I see it in the release notes now.  Adding some safeties on `pull` and `merge` sounds good.

I think folks might expect to be able to `pull` a newer version onto an older version and end up with the latest, like you typically can with git; at least, I did!  But maybe updating `pull` is enough.

[2021-06-16 00:44] #2119 closed, assigned to nobody

[2021-06-16 01:06] aryairani opened #2120 "typechecking a file that transitively depends on a missing builtin crashes ucm"
Distilled from #2118, this transcript below crashes ucm with

[code]

[code]

[2021-06-16 01:10] aryairani commented on #2118
Ok so we have three pieces
1. we recommend against merging a new base into an older base (this doesn't totally make sense to me for long term; but for now, at least, it doesn't work).
2. the offending term came from `M2f`'s base
3. it shouldn't have crashed (#2120)

[2021-06-16 02:14] pchiusano commented on #2119
Yeah perhaps the issue is we're using pull for library installation and also library development even though they are different. ￼

Like when you do a git pull, that's pulling in all the history - which makes sense for doing development, and merging to the destination also makes sense in that context... whereas I don't think you want to pull in all the history of libraries you are using... if ever

[2021-06-16 14:00] samgqroberts commented on #2118
Thanks for the investigation @aryairani and @pchiusano :). Seems like I should wait for https://github.com/unisonweb/unison/pull/1999 to land before further attempts to upgrade my projects

[2021-06-16 15:01] runarorama commented on #318
Yes, I'd say this is still relevant and useful. The current `replace.term` and `replace.type` commands could be unified under a single command `replace`. You'd have to check if the arguments are terms or types and give a helpful message if they're not both the same kind of thing.

[2021-06-16 15:24] runarorama opened #2121 "Error message for Boolean `&&` and `||` uses `and` and `or` instead of their actual names"
This error message needs to be improved, as there's no operator called `and`:

![image](https://user-images.githubusercontent.com/130916/122247233-359f1880-ce95-11eb-9d90-fd8be70dece5.png)

[2021-06-16 16:48] runarorama commented on #1995
Issues in this vein are going to continue to accumulate until we have access to the codebase via Unison.

[2021-06-16 17:06] aryairani commented on #1484
Closing because I don't want to do forensics on v1 codebases

[2021-06-16 17:06] #1484 closed

[2021-06-16 17:40] aryairani commented on #1995
@runarorama What would a solution look like if we had access to the codebase via Unison?

[2021-06-16 17:42] runarorama opened #2122 "DatabaseIntegrityError in getWatch"
In my scratch file:

[code]

Get the docs:

[code]

Crashes with

[code]

If I first `add`, then `docs` succeeds.

[2021-06-16 17:46] pchiusano commented on #2122
@runarorama I've hit this but don't have a reliable repro.

Try bouncing ucm and/or `debug.clear-cache` to workaround.

[2021-06-16 21:42] stew opened #2123 "problem with destructuring bind"
I have this definition:

[code]

Which typechecks just fine. After adding this to my codebase I try to edit it, the code that edit gives me this:

[code]

This fails to compile with:

[code]
It seems that the line `Parser parseb = f a` doesn't introduce a `parseb`?

[2021-06-16 23:01] aryairani opened #2124 "couldn't delete an M1 base because `_latest` depends on it"
@hojberg ran into this today:

[code]

He had pulled `unisonweb/base:.releases._latest`, which is not a self-contained namespace. It is missing types used by the constructors of `IO.Deprecated`.  `unisonweb/base:.trunk` has them, but `.releases._latest` doesn't.

[2021-06-17 14:49] hojberg opened #2126 "Adding from a scratch files that both has new and updated definitions crashes"
With a scratch file that results in both new definitions to add and definitions to update, issuing the `add` command crashes `ucm` with a SqliteCodebase error:

<img width="957" alt="Screen Shot 2021-06-16 at 11 56 10" src="https://user-images.githubusercontent.com/2371/122420353-a1e35000-cf59-11eb-8750-b55bda0dbf2f.png">

[2021-06-17 16:03] pchiusano opened #2127 "Revamp `License` type"
Possible suggestion: move `Year` out of `License` and just have it be linked in automatically based on current date (by default, but you could manually set the years if you wanted) on creation or update

A `license` command could show a nice rendering of all this that matches the output of a monolithic LICENSE file.

The `LicenseType` type should be switched to new `Doc` format.

Bonus: a `license

[2021-06-17 20:50] #1502 closed

[2021-06-17 20:53] aryairani commented on #1491
Closing as obsolete.

[2021-06-17 20:53] #1491 closed

[2021-06-17 20:59] aryairani commented on #1504
Closing for now, see #2128

[2021-06-17 20:59] #1504 closed

[2021-06-17 21:02] aryairani commented on #1487
@atacratic Could you see if this is still reproducible in M2g, and go ahead and close if not?

[2021-06-17 21:04] aryairani opened #2128 "restore/replace "old names" functionality"

[2021-06-17 21:07] aryairani commented on #1447
Superseded by #1802

[2021-06-17 21:07] #1447 closed

[2021-06-17 21:09] aryairani commented on #1346
Superseded by #2128

[2021-06-17 21:09] #1346 closed

[2021-06-17 21:10] aryairani commented on #1487
Possibly superseded by #2128

[2021-06-17 22:26] aryairani opened #2129 "support type aliases"
This has been suggested a number of times, so I'm creating this to track it.

[2021-06-17 22:27] aryairani opened #2130 "could structural types be unified with type aliases?"
In the case of structural types, the name doesn't buy you much; especially in the case where there's only one constructor.

Do structural types with multiple constructors become type unions?

<placeholder for examples and discussion>

Possible resolution to #2129

[2021-06-17 23:42] aryairani commented on #2126
This is unexpected.

[2021-06-17 23:43] aryairani commented on #2126
@hojberg could you run `debug.file` after type-checking to get the list of hashes in the file

[2021-06-17 23:59] aryairani commented on #1594
Superseded by #2128

[2021-06-17 23:59] #1594 closed

[2021-06-18 00:05] aryairani commented on #2123
Here is a minimized program that doesn't survive a parse -> print -> parse cycle:
[code]

when added and edited, it is rendered as:
[code]
however, this version doesn't typecheck because the structural bind `Cons x y = Cons 3 4` is being parsed as a function definition `Cons = x y -> Cons 3 4` instead of a destructuring bind, hence `x` is not bound when it is referenced on the last line.

[2021-06-18 00:08] aryairani commented on #2123
fwiw, this doesn't work any better:
[code]

[2021-06-18 00:15] aryairani commented on #1802
@samgqroberts Would you want to take a stab at this? :)

Create a command `debug.check-self-contained` or `namespace.check-self-contained` that takes an optional path (defaults to the current path) and reports either that it's self contained, or lists the dependencies that are missing, along with the definitions present that depend on them.

[2021-06-18 01:31] aryairani commented on #2110
I'm thinking that the UniqueSuffixes need to be hash-qualified too, in case they are conflicted.  In this case, both sets are hash-qualified; the first is suffixes, and second set is full names.

[2021-06-18 01:42] aryairani commented on #2110
I'm looking at `PPE.declarationPPE` and not sure how that fits into this.

Also I am noting that I can't simply reuse existing PPE code, because a) they produce opaque functions instead of maps (we could do this too, but should we?), and b) they choose one arbitrary name when it's maybe premature for them to do so.

[2021-06-18 02:04] aryairani opened #2131 "renaming terms + pretty-printing can cause aliasing"
Speaking of [how to pretty print](https://github.com/unisonweb/unison/issues/2110#issuecomment-863669428), check this out:

[code]

[code]

[code]

[2021-06-18 03:46] aryairani commented on #2131
`bar` should probably render as:
[code]

which means pretty-printing names for a definition requires knowing what shadowing symbols are in scope; /cc #2110

[2021-06-18 04:11] pchiusano commented on #2131
Dupe of https://github.com/unisonweb/unison/issues/525 which also proposes a fix that seems straightforward to do, but we just never got around to it. 😬

[2021-06-18 04:11] #2131 closed, assigned to nobody

[2021-06-18 04:20] pchiusano commented on #2110
@aryairani it seems like we can create a PPE from the results of this function (actually we can create two PPEs, one suffixed and one not, which is all the "declarationPPE" is - just a pair of the two PPEs)

I think you can keep initial PR to just adding the operation to `Codebase` without hooking it up anywhere.

[2021-06-18 04:25] pchiusano commented on #2131
... also since this was tagged in #2110, I just want to mention that the PPE can continue to be naive and unaware of any local name bindings.

The pretty-printer can do the alpha renaming to avoid accidental capture, as suggested in https://github.com/unisonweb/unison/issues/525#issuecomment-506193614.

[2021-06-18 06:46] jneira commented on #598
@aryairani maybe i could spend some time trying to improve windows support as part of ZuriHac, is there some area where do you think is interesting to start to test/improve?

(i've built the project locally with cabal and the build was succesful, i guess tests will fail)

[2021-06-18 15:21] runarorama commented on #1995
You could write a Unison program to modify the namespace, rather than have a special syntax.

[2021-06-18 15:22] runarorama commented on #1995
Another similar issue is bulk-editing patches. You'll often want to clean up a patch and that's tedious to do manually.

[2021-06-18 16:50] pchiusano opened #2133 "Pretty-printer should prefer names whose FQN has fewest number of segments"
Right now, we don't really have any way of prioritizing what names are chosen by the pretty-printer. The current algorithm is deterministic but basically never what you want / it's just accidental implementation-defined (see example below). We've talked about having some separate name prioritization scheme and maybe that's a good idea but feels maybe overkill and it would need more design.

This i

[2021-06-18 17:33] aryairani commented on #2133
I think some of this stuff has to get folded into #2110 because there may not be enough info to make the determination if we don't have the entire namespace in the `Names` the PPE comes from.

[2021-06-18 18:22] pchiusano commented on #2133
@aryairani right I think

Like maybe #2110 should just return a `Set (Path, Suffix)` rather than two sets?

[2021-06-18 18:48] venus-as-a-boy commented on #1384
I'm going to try and take a crack at this.

[2021-06-18 18:52] pchiusano commented on #1384
@TheAceShinigami Great!

[2021-06-18 19:46] heyrudy commented on #2053
Hi,

I just came across the same issue while I was running this example :
[example.md](https://github.com/unisonweb/unison/files/6679039/example.md)

 And I was getting this message :

 @rlmark already suggest me a workaround that work perfectly though

[2021-06-18 20:38] aryairani commented on #2053
In @rlmark's example, `view List.map` is okay:

[code]

but `display List.map` fails.

On a v1 codebase, it succeeds, but note that output has synthetic variables in it (these are what crash `symbol1to2`). Is that expected? @pchiusano @dolio
[code]

I'm not even sure why `symbol1to2` (which is for serializing to the codebase) gets called by the `display` command.

[2021-06-18 20:47] dolio commented on #2053
Yeah, that's expected right now. Maybe it could be avoided more, but in general it's going to happen sometimes.

I can't speak to the `symbol1to2` thing.

[2021-06-18 21:24] aryairani commented on #2110
@pchiusano Right, I meant we couldn't reuse the existing code that creates PPEs — we can still create a PPE from this output and consume it with existing code.

[2021-06-18 22:16] aryairani commented on #2133
@pchiusano Yes, about throwing away information. And yes, maybe a `Set (HashQualified (Path, Suffix))`.

[2021-06-18 22:51] aryairani commented on #2053
I guess `display` puts its result into the watch expression cache, which I didn't know needed to support synthetic variables.  I guess I can just convert them to text, but what do we miss out on by by throwing away that info?  I kind of want to support just what's used by the runtime, not everything that's used by the parser/typechecker.

[2021-06-18 22:56] aryairani commented on #598
@jneira That would be great! I was just wishing I knew of someone who could do that.

The first thing I would like to understand is #1870, and then depending on how much time you have to devote to it, we could continue trying to sort out further issues as they are revealed.

[2021-06-18 22:57] aryairani commented on #2131
Great!

[2021-06-19 01:41] runarorama opened #2136 ""missing integral case" when comparing `Float` values"
Minimal example:

[code]

Runtime crashes with `"missing integral case"`

[2021-06-19 12:18] pchiusano commented on #2053
We don't miss anything by tossing that info out after typechecking, but to do it correctly while avoiding variable capture you need to have the whole term available.

You can take a look at how this is done for terms coming out of the typechecker. Look for the TopLevelBindings note in Context.hs I think. There was also a PR by me a while ago to remove synthetic type variable names from inferred ty

[2021-06-19 13:58] hojberg opened #2137 "Help command should support an argument to see subcommands"
To see commands in `ucm`, the user can type `help` and get a long list of commands and subcommands. It would be really useful if the user could type `help find` for instance and just get the help text for `find`, `find.patch`,  and `find.verbose`.

Additionally it'd be really cool if the arguments passed to help could be support aliases or at least simple common typos: `help fins` showing the outp

[2021-06-20 15:33] hojberg commented on #2126
Hmmm I've tried a bunch of various configurations now and can't get it to crash. I think the only difference between then and now is that I have an updated `base` 🤔 Maybe we just close this and look out for any re-apperance?

[2021-06-20 16:39] aryairani commented on #1364
Sometimes numbering resets even within a single command:

[code]

[2021-06-20 17:10] hojberg commented on #2139
`GET /api/find?query=failu` also causes this.

[2021-06-20 19:37] aryairani commented on #2100
- [x] Changed `Reference.componentFor`, `PPE.declarationPPE` to accept a length
- [x] Add getCycleLength to `Codebase` to facilitate loading whole V1 components (e.g. in `Sync12.check{Term,Decl}Component`
  - [ ] fully propagate
- [ ] Copy and use `Reference` as `Reference.V1` so as to not change the `Serialization` code
  - [x] created
  - [ ] referenced
  - [ ] propagated

[2021-06-21 00:26] aryairani commented on #2126
Ok, sorry.

[2021-06-21 01:16] #2126 closed, assigned to nobody

[2021-06-21 15:22] dolio commented on #2136
Found the problem. The floating instructions `EQLF` and `LEQF` are accidentally giving back floating point `0.0` and `1.0` as the boolean indicators. `0.0` is the same as integer `0`, but `1.0` is not the same as `1`.

I'll fix it soon.

[2021-06-21 17:29] aryairani opened #2140 "something fishy with find by type / type-mention"
`find : Nonempty a -> a` doesn't seem to find `Nonempty.last` (or anything else).
`Nonempty.last` is `#4s2e6fpcpb`

In my v1 codebase, I see these hashes in the type-mentions-index for `Nonempty.last`:
`% find ~/.unison/v1/type-mentions-index/ | grep 4s2e6fpcpb`
[code]

In my v2 codebase I see these hashes in the type-mentions-index for `Nonempty.last`:
[code]

[code]

2 of the 5 match, so my gues

[2021-06-21 18:07] aryairani commented on #2140
The type index also doesn't match, so I guess I'd start there.

[code]
[code]

versus

[code]
[code]

[2021-06-21 19:21] #2136 closed, assigned to dolio

[2021-06-21 20:22] aryairani commented on #2140
The V2 index is populated here:
https://github.com/unisonweb/unison/blob/bd8514b3ff0c77b5a6d6de47da31c61aa395edd7/codebase2/codebase-sqlite/U/Codebase/Sqlite/Operations.hs#L465-L473
and
https://github.com/unisonweb/unison/blob/bd8514b3ff0c77b5a6d6de47da31c61aa395edd7/codebase2/util-term/U/Util/Type.hs#L28-L39

The V1 index is populated here
https://github.com/unisonweb/unison/blob/bd8514b3ff0c77b5

[2021-06-23 11:20] LoPoHa commented on #499
Would it be possible to move the parsing and printing into unison itself?

In the Haskell runtime you have the AST in a defined format and let unison codebase interact with it (maybe using a special effect handler?)
The Haskell runtime then checks the AST if it ok and acts accordingly.

Installing a new syntax would be as simple as installing a library in unison.

[2021-06-24 15:10] LoPoHa opened #2143 "Property-based testing not showing the input"
Modifying the example of a property based test from the documentation a bit (see below), the information for the failing test is quite sparse.
It would be nice if it would show the generated values (`a` and `b` in this case), that made the test fail.

[code]

Output:

[code]

[2021-06-24 15:14] LoPoHa opened #2144 "`display check` crashes ucm"
See the title.
I assume `check` is a builtin and it happens with other functions?

[code]

[2021-06-24 15:42] LoPoHa commented on #2144
[code]

It seems to happen with builtins

[2021-06-24 16:37] hojberg commented on #2144
I also get this with `List.map` (which isn't a builtin).

[2021-06-24 18:07] hojberg opened #2145 "Closing ucm while it has a forked open socket, doesn't close that socket"
While working on an http library, @rlmark and I noticed this behavior:

If a socket is opened with by forking (this might also happen generally?) and ucm is closed (safely), the socket lingers and isn't pruned.

[2021-06-24 18:08] LoPoHa commented on #2144
Looking at it again, the errors in `display check` and `display putBytes` or `display List.map` are a different.
`display check` has the error `ucm: can't serialize term with blanks` while `display putBytes` and `display List.map` have the error `ucm: unimplemented: symbol1to2 Pattern-1`
Should these be separated issues?

[2021-06-24 19:35] dolio opened #2146 "Error highlighting seems off in some expressions"
I'm seeing an error message that looks like:

      The expression in red needs the {Woot} ability, but this location does not have access to any abilities.

          8 |   f' = f (x -> f' x)

where the red color covers `f (x -> f' x`. I think this means the textual span from location tracking is off by a bit. It seems to happen even when other terms replace the lambda expression, so my guess wou

[2021-06-25 02:00] runarorama opened #2147 "Weird rendering of doc aside blocks in UCM"
[code]
﻿
![image](https://user-images.githubusercontent.com/130916/123357457-8b2f9100-d537-11eb-9404-e870f8d04bd4.png)

[code]

![image](https://user-images.githubusercontent.com/130916/123357500-9be00700-d537-11eb-888d-475bc4bdb7ec.png)

[2021-06-25 02:04] runarorama opened #2148 "Doc block braces don't get lexed unless they have space between them"
`{{{{docAside{{hey}}}}}}` gives a bad error message, but `{{ {{ docAside {{ hey }} }} }}` works fine.

Here's the error:

[code]

[2021-06-25 02:06] hojberg opened #2149 "the `docs` command in `ucm` should support no arguments"
If in a namespace with a `doc` or a `readme` definition (any capitalization), the `docs` command without any arguments should display that.

[2021-06-25 20:36] hojberg opened #2150 "Feature Proposal: A `ui` command in `ucm`"
It would be really cool to have a `ui` command in `ucm`. Here's how I imagine it working:

* `.> ui`, opens the UI in the browser if there's a UI folder that `ucm` knows about (set through `--ui` or `UCM_WEB_UI`).
* `.> ui install` to install and perhaps also update? (could be a separate command) the UI. Which version of the UI that gets downloaded could be specified and/or determined by a mechani

[2021-06-26 02:56] aryairani commented on #2150
wrt downloading the UI, could we have a way of keeping track of the newest ui that is supported by the user's version of ucm?  (this involves tweaking our git tags to produce a `git describe` version number that is meaningful in sequential, which is possible and common, though not obvious)

And if we have a way to automatically download the ui, we should have a way of automatically updating the ui

[2021-06-26 12:20] hojberg commented on #2150
Right! `.> ui update` and `.> ui install` and `.> ui install unstable` for instance. I like it—added it to the list.

[2021-06-28 00:02] rlmark opened #2152 "`unison init` suggestion from UCM should match executable name"
Many folks use an install of the codebase manager where the executable is known as `ucm`. When prompting the user to create a codebase when not found, the prompt suggests to run `unison init,` which may be confusing for folks if their codebase manager executable is named differently.

[2021-06-28 00:34] runarorama commented on #2152
Good catch. But also we should just init the codebase in the default location without asking the user to jump through hoops.

[2021-06-28 16:27] #1942 closed, assigned to rlmark

[2021-06-28 16:27] #2020 closed, assigned to stew

[2021-06-28 16:31] pchiusano commented on #2071
@stew is this still open?

[2021-06-28 17:34] aryairani opened #2153 "sort out misnamed variables issues revealed in #2138"
We saw in #2138 that synthetic vars (is the problem limited to synthetic vars?) can render wrong:

[code]

`a` gets lost and with the new name doesn't reference (`_pattern`) the right variable (`_pattern1`).

@pchiusano had said https://github.com/unisonweb/unison/pull/2138#discussion_r659882357.

Feel free to edit this ticket description.

[2021-06-28 17:39] aryairani commented on #2153
@dolio Let me know if the codebase needs to support a more structured Symbol type.

[2021-06-29 12:27] #2053 closed, assigned to nobody

[2021-06-29 13:02] jindraivanek commented on #2122
I can reliably reproduce same crash with this scratch file:

[code]

On empty codebase (with pulled `.base`), I get this after second save of scratch file:
[code]

Next time on same codebase it crashes at first save.

With `debug.clear-cache` it needs 2x save again to crash.

After `add` and save, I got `Segmentation fault`.

**Environment**

release/M2g

Windows10 - WSL - Ubuntu 20.04.1

[2021-06-29 14:10] pchiusano commented on #2144
@LoPoHa any chance you can try this again with current trunk?

The ones that have the `unimplemented: symbol1to2` should have been fixed by #2138. I'm less sure about the other ones though.

[2021-06-29 18:52] matssk commented on #520
It would be cool with a debugger with a bunch of built in visualizations for the data plus the ability to create new visualizations, for example for new data structures.

Then you could get the debugger to create visualizations like these while implementing for example a new algorithm

https://visualgo.net/en

[2021-06-29 19:26] pchiusano opened #2155 "Weird indenting of raw blocks in docs"
[code]
Original version doesn’t have that.

[2021-06-29 20:16] pchiusano opened #2156 "Decompilation produces a term with free variables, triggering crash"
[code]
produces
[code]

Repeated evaluation of this triggers a crash, I’m guessing when it gets added to the cache and its hash is computed. Attaching a transcript that triggers a crash.

[scratch.md](https://github.com/unisonweb/unison/files/6736188/scratch.md)

[2021-06-29 20:21] rlmark opened #2157 "Docs linking and docs name should automatically update when term is renamed"
Thank you to @anka213 for pointing this out! If a user creates a value with a doc associated with it, then renames the value, that naming change is not propagated to the doc which corresponds to it. When you then call `doc myUpdatedTermName` the docs do not render.

I've attached a transcript to illustrate the issue
[docsLinking.md](https://github.com/unisonweb/unison/files/6736190/docsLinking.md)

[2021-06-29 23:07] aryairani commented on #2144
@pchiusano `putBytes` displays now, but with the same wrong variable names we saw in #2138 / #2153

`_M2.test.internals.v1.Test.check` still bombs with `can't serialize term with blanks`.  I don't know why evaluating `check` would produce a term with blanks.

[2021-06-30 14:36] pchiusano opened #2158 "Spurious ability check failure with new inference algorithm"
This looks like a regression, as it typechecks with M2 release:

[code]

[code]
If we trust the message, it seems like a simple fix - just allow the request if it’s a strict subset of what’s available?

One note is that in generating the above message, the context applied to all types involved, so the actual types during typechecking might not have been so simple.

[2021-06-30 14:44] pchiusano commented on #2158
Also, the inferred type of `parMap` if I leave off the signature is a little weird too:

[code]

since `{{},g}` is equivalent to `{g}`, right?

[code]

[2021-06-30 19:46] Carreau opened #2159 "duplicate/out of date file between unisonweb/unison and unisonweb/unisonweb-org"
See slack's thread,  https://unisonlanguage.slack.com/archives/CLUNF0J5S/p1625081221298300

https://github.com/unisonweb/unison/blob/4418667b79e1788cb9511c1dddc2239694bee1ec/docs/LanguageReference.md
(last modif 2019)
https://github.com/unisonweb/unisonweb-org/blob/41963a806f293a79b4b838a12819aa10fbdb3a01/src/data/docs/language-reference/README.md
(last modif 2020)

At least are duplicated and out

[2021-06-30 21:15] stew opened #2161 "Typechecker regression inferring ability type parameters"
This snippet typechecks with release/M2 but fails to typecheck with a build from the current trunk:

[code]
[code]

[2021-07-01 01:59] runarorama opened #2162 "`universalCompare` returns false on alpha-equivalent lambdas"
For example:

[code]

I would expect this to return `true` and `Unison.Runtime.Stack.universalCompare` to ignore any difference between these two values.

A good rule might be that two objects are considered identical if they have the same hash.

[2021-07-01 02:30] pchiusano opened #2163 "Is new runtime using pointer equality or local compiler numbering when comparing functions?"
[code]

I think all pure functions including `Universal.===` should not depend on local machine stuff like pointer equality or local compiler numbering. Otherwise it can result in broken distributed programs, like you send a value to another node and suddenly it can’t be found in a Map there.

I think we previously had a few places where we fixed this up. But maybe we’re misunderstanding something

[2021-07-01 13:11] hojberg commented on #2163
I think these are dupes? https://github.com/unisonweb/unison/issues/2162

[2021-07-01 13:34] pchiusano commented on #2162
Ooop, looks like Runar and I filed at the same time. Closing as a dupe.

@runarorama I usually link to an issue I create in Slack if it's discussed there. :)

[2021-07-01 13:34] #2162 closed, assigned to dolio

[2021-07-01 13:39] pchiusano commented on #2162
Also the current behavior is unrelated to alpha equivalence (I'd be really surprised if it did):

[code]

@dolio would know better, but my guess is that it's independently compiling the two lambdas, giving each a different number even though they are the same function, and then comparing based on that local numbering.

[2021-07-01 19:59] jindraivanek opened #2165 "Case of wrong indentation of |> in printed code"
This code

[code]

gets printed as

[code]

where both `|>` operators report error.

[2021-07-01 20:10] hojberg commented on #2165
As someone who uses `|>` quite a lot I've run into this as well

[2021-07-01 20:22] atacratic commented on #2165
related #1035

[2021-07-01 23:24] pchiusano opened #2166 "Type-directed automatically delayed arguments"
I’m thinking I’d like to have scala-style delayed arguments at some point, it looks nicer and will fix a lot of common errors with forgetting to delay.

like `Stream.map (x -> x + 1) (emit 1)` vs `Stream.map (x -> x + 1) '(emit 1)`

The errors you get when you forget a `’`are often not great and while I think that can be improved with some special cases, this might be even better

It might be tric

[2021-07-02 01:31] pchiusano opened #2167 "Type inference regression for parameterized abilities"
This doesn’t typecheck with trunk but did in M2g:

[code]

[code]
The location is highlighting the entire body of `R.near` starting from the `match` keyword.

This one feels pretty big, it seems to prevent writing even basic combinators for any ability that has type parameters like `R` does.

[2021-07-02 04:03] aryairani opened #2168 "can't undo initial changes to codebase"
The change we made such that `cons b (one empty) == one b` makes it so that you can't `undo` the first change made to the root, which I guess I found counterintuitive, even though that is arguably the way git works.

In other words, if the first thing I do in a new codebase is a `pull`, I can no longer `undo` the pull.  I can still use `reflog` to revert it, though.

What were some of the alternat

[2021-07-02 07:09] rlmark opened #2169 "pattern match matches guards and variable cases in wrong order"
In a pattern match, if you use a guard statement for one case, with a `_` or variable case as the last case, you get undesirable/unexpected behavior for which `case` statement gets matched and executed.

[code]
returns
[code]

Note, if you remove the fallback/variable case, the case statement works fine

[code]
returns
[code]

[2021-07-02 13:40] pchiusano commented on #2169
This looked familiar to me and there was some pattern compilation bug with reordering that @dolio fixed recently which I don't think is in a release yet.

In any case, I can't reproduce with latest trunk.

[2021-07-02 13:40] #2169 closed, assigned to nobody

[2021-07-02 15:53] hojberg opened #2171 "Extend `pull` command to work with Unison Share"
We want to allow users to pull directly from Unison Share with a simple command:

[code]

The idea is that we host the _Unison Share_ codebase on GitHub (at least for the time being), and using the `pull` command with a fragmented path will use the _Unison Share_ GitHub repository URL behind the scenes. This allows a very tight connection between _Unison Share_ and `ucm` and allows us in the futur

[2021-07-02 21:16] hojberg opened #2172 "Codebase Server API: `/namespace` — namespace details"
To support nice URLs in the Codebase UI—both local and on Share—we need to be able to ask the codebase server the hash of a namespace name as well the hash of the whole codebase when given a special argument.

Additionally we want to support readme's and metadata features for rendering them nicely in the UI.

Completing this ticket will support and unblock these UI tickets:
  * https://github.com/

[2021-07-02 21:33] hojberg opened #2173 "Codebase Server API: Include metadata in `/getDefinition`"
Extend the `/getDefinition` codebase server API with metadata like author, license and data.

Completing this ticket will support this UI ticket: https://github.com/unisonweb/ui-core/issues/24

## Suggested response

To the already existing `/getDefinition` API, add a `metadata` field with the following shape:

[code]

❗This is dependent on https://github.com/unisonweb/unison/issues/2205

[2021-07-02 21:49] hojberg opened #2174 "Codebase Server API: `/list` API to support "is project" notion"
To support https://github.com/unisonweb/codebase-ui/issues/144, we want to include a notion of namespaces being "projects". This is currently thought be defined by a namespace that has a Readme (any capitalization: readme, readMe, README, Readme, ReadMe).

The `/list` API that is used for the sidebar of the Codebase UI should include a notion of namespaces being "projects" or not.

Naive suggestio

[2021-07-02 22:06] hojberg opened #2175 "Codebase Server API: Definition summaries"
We want to support a notion of a definition summary and source summary which is more compact response than the `/getDefintion` result.

This ticket will support and unblock these UI tickets:
* https://github.com/unisonweb/codebase-ui/issues/112
* https://github.com/unisonweb/codebase-ui/issues/157
* https://github.com/unisonweb/ui-core/issues/22

## Suggested response schema

A `DefinitionSourceSu

[2021-07-02 22:10] hojberg opened #2176 "Codebase Server Pretty Printer: Constructors should include hashes"
Right now constructors are not clickable in the Codebase UI source rendering as the UI lack data to be able to link them.

Suggest adding adding a `Hash` to the `Constructor` variant of `Element`: https://github.com/unisonweb/unison/blob/trunk/parser-typechecker/src/Unison/Server/Syntax.hs#L98

This will fix (is a dupe of?) https://github.com/unisonweb/codebase-ui/issues/105

[2021-07-02 22:13] hojberg opened #2177 "There's no autocomplete on the `dependents` command"
When typing `dependents` into UCM I expect to be able to autocomplete definitions, but am unable to.

[2021-07-03 13:39] hojberg commented on #2175
To the last point about the new `/definitionSummary` endpoint:

There's an other option to allow hovers on references in source to get the type of them in a tooltip and that is to embed that in the original source. The benefits of this is that we don't have to do an ad-hoc Ajax request on hover and also this opens up the door for a more uniform representation of hovers—we'd eventually want to allo

[2021-07-06 22:34] aryairani commented on #2171
The current situation with Github hosting makes this somewhat expensive, because the user has to download all of everything in the git repo in question, but we could accept that slowness and improve it later by swapping out the back end.

It looks like redirects will work for http/https-based git repos, but wouldn't work in general.

[2021-07-07 22:05] pchiusano opened #2180 "Text.size should probably be constant time"
Currently it delegates to `Data.Text.size` which is linear time

[2021-07-08 03:29] pchiusano opened #2181 "DatabaseIntegrityError (NoObjectForPrimaryHashId crash in this transcript"
Triggered by this transcript, which can be used as a regression test. Haven't tried minimizing the example, but the transcript reproduces reliably and is self-contained.

[scratch.md](https://github.com/unisonweb/unison/files/6781252/scratch.md)

Produces:

[code]

Workaround is to do `debug.clear-cache`, which helps temporarily.

[2021-07-08 13:56] hojberg commented on #2171
Yeah, I think this sets us up well to do that

[2021-07-08 15:46] aryairani commented on #2181
I assume the watch result references a definition in the file that's not added to the codebase.  If so, a short-term fix would be to always add all definitions (without names) to the codebase after every successful typecheck, even without `add`, but IMO we've already gone too far in this direction.  The longer term fix is to press onward with #2100.

[2021-07-08 19:26] dolio commented on #2167
I ran into this yesterday. It seems related to the fact that the type of `near` doesn't involve `t`, although I'm unsure why that matters at this point.

[2021-07-08 20:52] dolio commented on #2167
I think I've figured out what's happening. There are two `t` variables in play from `near.impl` and `die`. They get unified together because they're wanted as part of the `R` ability. However, when that happens, the `t` from `near.impl` has dropped off the context (I think) and is no longer a valid type. So the attempt to solve the variable bombs.

Still trying to figure out the right solution.

[2021-07-09 12:07] philderbeast opened #2183 "What are transcripts?"
When I run `unison --help`, I see 4 of the commands are about transcripts but when searching the [unison docs](https://www.unisonweb.org/docs) I find no mention of transcripts.

https://github.com/unisonweb/unison/blob/86793c0dfe3794c5f742f8be9763508d08dbd7d9/parser-typechecker/unison/Main.hs#L79-L104

I did find an explanation of transcripts in [hello.md](https://github.com/unisonweb/unison/blob/

[2021-07-09 12:20] #2183 closed, assigned to nobody

[2021-07-09 12:21] philderbeast commented on #2183
Duplicate of #1109.

[2021-07-09 14:09] hojberg opened #2184 "Consider moving codebase configuration like default author etc to a SQLite table instead of config file."
If we moved general codebase configuration to the sqlite database we could more easily display and modify it from the UI and UCM.

Related https://github.com/unisonweb/unison/issues/2186

[2021-07-09 14:15] aryairani commented on #2184
Sure, we just need UI in ucm to set all of them then, though.  What’s the goal? Having one less file?

[2021-07-09 14:28] hojberg opened #2185 "Codebase Server API: `/namespaceMetadata`"
A new endpoint for getting metadata information about a namespace (project). It is a unique aggregate of all metadata for sub namespaces and definitions.

This will support https://github.com/unisonweb/codebase-ui/issues/144 for rendering contributors and licenses across a project.

## Suggested Response Schema

[code]

### Alternative schema
[code]

Alternatively this could be a `/metadata` endpo

[2021-07-09 14:43] hojberg opened #2186 "Codebase Server API: `/codebase` — details about the codebase"
A new endpoint for getting general information about the codebase. Metadata is read via the config file.

This will support https://github.com/unisonweb/unison-local-ui/issues/3

## Suggested Response Schema

[code]

(this was factored out of https://github.com/unisonweb/unison/issues/2172)

❗This is dependent on https://github.com/unisonweb/unison/issues/2205

[2021-07-09 15:02] hojberg commented on #2172
After talking to @runarorama we realized we can get the core of this data from the `/list` endpoint already and we can use this for now. We'll move the metadata requesting to 2 separate endpoints: 1 for metadata about the codebase (like default author etc) and 1 for metadata about a namespace that is an aggregate of all linked objects within.

Here's the 2 tickets:

https://github.com/unisonweb/un

[2021-07-09 15:05] hojberg commented on #2184
@aryairani sorry, I didn't have a chance to do the description yet. The goal would be to more easily query configuration about a codebase and present it to the UI as well as allow both UCM and the UI to modify them.

[2021-07-09 15:23] hojberg commented on #2172
@runarorama I'm re-opening this I think the README portion of this isn't ideal.
With the `/list` API we'd have to have 3 dependent requests which is a lot of complexity and pain for the frontend for share:

1. `GET /list` of a namespace
2. If it includes a readme that is a doc then it's a project - if not then show a whole page error?
3. Fetch Readme doc to render - if exists

With the example in

[2021-07-09 17:21] rlmark opened #2187 "Ucm prints "unsupported compound direct letTerm" when given nested term definitions"
UCM prints out an "unsupported compound direct letTerm" message when given the following code exercising a mini lexical scope example.

(Version: I pulled and rebuilt my unison executable Friday Jul 9)

[code]

I've attached a transcript which appears to repro the issue (it's just the snippet, really)
[lexicalScopeIssue.md](https://github.com/unisonweb/unison/files/6792990/lexicalScopeIssue.md)

[2021-07-09 18:14] pchiusano opened #2188 "Verify that kinds are the same when propagating type edits"
Right now when you add a type replacement to a patch, during propagation, we don't verify that the kinds of the old and new type are the same. This can lead to ill-kinded type declarations and then terms that depend on those ill-kinded declarations can't typecheck (or maybe they can still typecheck, but they can't actually be called).

Anyway, I thought we were being overly conservative previously

[2021-07-09 18:44] philderbeast opened #2189 "Delete files containing namespace blocks."
Please delete the 10 *.u files in this repo that still use namespace. These can be found with this [search](https://github.com/search?q=namespace+repo%3Aunisonweb%2Funison+extension%3Au&type=Code&ref=advsearch&l=&l=). It is a natural thing to want to write scratch files with namespaces and finding examples like these suggests it is still possible but namespace blocks have been removed (but may com

[2021-07-09 18:56] pchiusano commented on #2189
@philderbeast PR welcome! Or we'll get to it sometime...

[2021-07-09 19:09] pchiusano opened #2190 "Allow `test` command to take an optional namespace argument"
So `test .foo.bar` runs all the tests in that namespace. Rather than needing to `cd .foo.bar` then `test` with no args.

[2021-07-09 19:44] dolio commented on #2167
Here's a more accurate problem description:

It's actually the type variable from `die` that is a problem. Checking cases adds a marker and truncates the context at the end, which includes the `t` from the case, but the variable bubbles out in the wanted abilities. For wanted ability variables I just default them, but that doesn't work for this case.

It can't be solved by e.g. threading in the `n

[2021-07-09 20:11] pchiusano commented on #2167
Mmm, I see. Does it just work out to avoid doing the context truncation? I might be imagining this, but I think neelk said there's no real harm in doing that, it's more that it makes proofs of correctness easier.

Like you can mark and retract the context only at the scope of a closed term or cycle of definitions rather than as part of each sort of expression you are typechecking.

[2021-07-09 20:39] dolio commented on #2167
Don't you need to truncate the context for existential types, because it's part of how what would otherwise be skolem escape stuff works? And polymorphic effects in abilities are like existential data types.

[2021-07-10 11:39] philderbeast opened #2193 "Leading infix Text.++ needs more indent to parse."
I'd expected to be able to line up infix operators at the current block's indent but found I needed more indent:

[code]

[code]

Same error further in:

[code]

[code]

[2021-07-10 20:28] philderbeast opened #2194 "Float literal pattern is an unexpected pattern"
Please add tests for [float literal patterns](https://www.unisonweb.org/docs/language-reference/#literal-patterns).

https://github.com/unisonweb/unison/blob/e8dd1d5b7d94857bf5ba7a5e22736bc3010c3162/unison-src/tests/methodical/pattern-matching.u#L26-L33

[code]

[code]

[2021-07-11 11:54] philderbeast commented on #2194
A workaround for this is a guard pattern.

[2021-07-11 11:58] runarorama commented on #2194
Float patterns should probably be disallowed with a good error message, as checking Floats for equality is very likely to lead to bugs.

[2021-07-11 20:18] philderbeast opened #2195 "DatabaseIntegrityError, converting watches to tests"
While converting watches to tests, I got a DatabaseIntegrityError.

[code]

Here's the scratch.u contents at the time of the exception:

[code]

The change I'd just made was:

[code]

[2021-07-11 20:27] philderbeast commented on #2195
I don't get this exception if I add the tests by themselves, moving the tests to the top of the scratch file above a `---` line.

[2021-07-11 21:26] aryairani commented on #2195
Hi @philderbeast, thanks for the report.  You're seeing a combination of problems.  We're working on this issue, but in the mean time you can work around it by commenting out the `unique type` once you've added it to the codebase.  Let me know if that doesn't work for you.

[2021-07-11 21:30] aryairani opened #2196 "Fix `unique` type update churn"
A unique type definition not deleted from a scratch file will always be treated as an update (as opposed to an existing/known definition) after an `add`.  See #2195.

[2021-07-11 21:35] aryairani commented on #2196
@pchiusano Could you take a look at what it would take to achieve this?

[2021-07-11 21:51] aryairani commented on #1758
See #2196

[2021-07-12 13:59] philderbeast commented on #2195
Closing this as it is a known problem and we have two workarounds.

[2021-07-12 15:26] philderbeast opened #2198 "Passed check(true == false). Failed check(true == true)."
While trying to add multiple checks to a single named test I found this oddity:

[code]

Swapping the order of the checks:

[code]

[2021-07-12 15:29] dolio commented on #1792
Hey, I was just looking into this.

I think what is being displayed is just confusing (assuming your setup is comparable to the one I was testing in). There are two `Stream` abilities in play. One from base, and one declared here. The one you declared here has `tell` as the request, but your functions used `emit`. So both abilities are involved, but it's unclear which is which.

When I just use `t

[2021-07-12 15:45] pchiusano commented on #1792
Ah, good catch.

We could do with a better error message in this case, but that's a separate issue. I'll create something for that.

[2021-07-12 15:45] #1792 closed, assigned to dolio

[2021-07-12 15:54] pchiusano opened #2199 "Show FQN if a local type name conflicts with"
In #1792 it appears that while suffixed names are used in error messages, it doesn’t take into account that the file may have conflicting names with what’s already in the codebase.

An idea to fix - when converting a `Names` to a `PrettyPrintEnv`, it can check for conflicts for the `Reference` and then hash-qualifiy the name in that case. It looks to me like this is already being done in `Names3.t

[2021-07-12 16:14] pchiusano opened #2200 "Discarding a non-unit value in a block should yield a warning"
This came up in #2198 which has a good example and has been a known issue for a while.

[2021-07-12 16:19] pchiusano commented on #2198
It's pretty confusing, but what's happening here is that `check` is an expression, not a statement. So the `check (false == true)` result is just being discarded. You can do `check (false == true && (true == true))`. (you need the parens, there's no operator precedence).

Discarding non-unit results like this should be at least a warning, and I created https://github.com/unisonweb/unison/issues/22

[2021-07-12 16:19] #2198 closed, assigned to nobody

[2021-07-12 16:43] philderbeast commented on #2198
@pchiusano warning about the discard would be nice.

In each example line 2 is reported as the line of the test failure but that's the discarded check. Shouldn't we be displaying line 3?

[2021-07-12 16:50] pchiusano commented on #2198
It's just reporting the first line of the test, it doesn't actually know what line is responsible for the failure. Same goes for any watch expression - it just tells you what the first line of the watch expression is when printing out its result. Maybe it would be better to just show the entire watch / test, but it was thought that might be too much.

[2021-07-12 17:29] pchiusano commented on #2173
Revisit this after finalizing a design.

[2021-07-12 17:55] pchiusano commented on #2188
Idea to increase certainty of this: reduce scope of the issue to a timeboxed investigation of possible fix

[2021-07-12 17:57] pchiusano commented on #2176
I think this is an easy one.

[2021-07-12 18:41] rlmark opened #2201 "Learning Materials: Language fundamentals"
To better serve a wide section of the language community, we'd like to add language fundamentals learning materials written in the Unison `Doc` format. This ticket chunks a few of these pages together (somewhat arbitrarily) for ease of prioritizing and tracking.

## Values and functions
- [X] Values
- [X] Functions
- [X] Basic types + collection types
- [X] Code blocks + the `let` keyword
- [X] Fu

[2021-07-12 18:54] rlmark opened #2202 "Learning materials: Abilities part 1 - Motivation + using handlers"
We'll break the Abilities tutorial into 2+ parts - this first part has the goal of getting users comfortable with their core purpose and usage patterns.

Outlined here: https://www.notion.so/Why-and-how-we-use-Abilities-aa656e2303814570946cd072b4c6fb17

- [ ] Why do we need them
- [ ] Mental model
- [ ] How do I “provide an ability”
    - [ ] Using pre-built handlers
    - [ ] What do I do when a

[2021-07-12 19:14] rlmark opened #2203 "Learning materials: Abilities part 2 - Writing handlers"
The second part of the Abilities tutorial is about writing handlers.

- [ ] Write an ability together - Potentially change example from effectful `Stream` to something more concrete (contender: KVStore or Parse)
- [ ] Example handler (where handler contains no internal state - `()` return value)
        - [ ] Dissect handler signature and parts
        - [ ] The `Request` datatype
- [ ] Example ha

[2021-07-12 19:20] hojberg opened #2204 "Doc website"
We want to be able to render Unison Doc on the website to support the new documentation efforts.

This effort is dependent on being able to serialize docs to JSON and to render them with Elm:
* https://github.com/unisonweb/unison/issues/2112
* https://github.com/unisonweb/codebase-ui/issues/77

Additionally there are other efforts required:
* [x] Setup a UCM for the website docs
* [x] Finalize the

[2021-07-12 19:24] #2189 closed, assigned to nobody

[2021-07-12 19:51] hojberg opened #2205 "Codebase Server: Support returning metadata in JSON"
We want to be able to show metadata that exists in a Unison codebase in the UI.
This data is formatted as Unison code and we don't currently have a way, outside of SyntaxText to represent it.

Metadata include things like authors and licenses, but also dates about when a namespace/definition was last updated etc.

Metadata isn't a strict thing, so it can actually include all kinds of Unison types

[2021-07-12 19:52] hojberg commented on #2173
Moved the design and JSON serialization specifics into its own ticket since it's needed for several other tickets: https://github.com/unisonweb/unison/issues/2205

Adjusted the RICE score accordingly

[2021-07-12 20:05] dolio commented on #1950
Closing now that the example works.

[2021-07-12 20:05] #1950 closed, assigned to dolio

[2021-07-12 20:27] dolio commented on #1185
Should we close this issue now that the new algorithm is merged?

[2021-07-12 21:12] rlmark opened #2206 "Learning materials: Abilities pt 3 - Abilities for Monads Users"
Optional part 3 for abilities tutorial. Abilities for Monads users. Builds on the motivation for abilities in part 1 but with an eye towards users who are experienced with monadic effect management.

Outline / notes in progress: https://www.notion.so/unisonweb/Abilities-For-Monads-Users-61a28ee906054cbcbbb67eabe6027511

- [ ] Common mental model gotchas
     - [ ] map/flatMap as function compositi

[2021-07-13 01:33] pchiusano opened #2207 "Transcript for tracking improvements and regressions to parse / type errors"
Idea is to introduce a transcript, `error-messages.md`, which just has a bunch of examples of things that don’t parse/typecheck.

For each example, indicate __GOOD__ if the error message is good, or __???__ if it’s bad or confusing.

This will let us track improvements and regressions to our error reporting.

[2021-07-13 01:34] #2161 closed, assigned to dolio

[2021-07-13 01:34] #2167 closed, assigned to dolio

[2021-07-13 01:36] pchiusano opened #2208 "Cleanup {{}, Foo} ability list that is sometimes inferred"
Minor cleanup, see this comment

https://github.com/unisonweb/unison/pull/2197#pullrequestreview-704293291

[2021-07-13 01:42] pchiusano commented on #1185
Yes! I actually thought this had already been closed, but I guess not.

[2021-07-13 01:42] #1185 closed

[2021-07-13 01:44] #2158 closed, assigned to dolio

[2021-07-13 01:51] pchiusano commented on #1340
Phase 1: timeboxed (1 day) of design and (1 day) start sketch of an implementation just to reduce uncertainty.

[2021-07-13 02:09] aryairani commented on #2168
We could special-case `undo` to use `Branch.empty` when trying to `undo` a `One`.

[2021-07-13 02:10] aryairani commented on #2195
Let's leave it open until it's fixed or until it's superseded by another ticket.

[2021-07-13 04:09] rlmark opened #2209 "Learning materials: Workflow - part 1 Tooling"
Core dev workflow components you'll likely have open when you're writing unison code

- [ ] Reinforce the intro UCM doc from tour
- [ ] The Codebase UI
- [ ] Unison Share
- [ ] Editor support

[2021-07-13 04:14] rlmark opened #2210 "Learning Materials: Workflow - part 2 Collaboration"
How do unison programmers work together? Discusses dependency management and PR process.

- [ ] Pulling libraries
- [ ] Updating libraries
- [ ] PR creation and review process
- [ ] Publishing libraries
- [ ] Desired contributions
    - [ ] How to get involved

[2021-07-13 04:30] rlmark opened #2211 "Learning materials - Syntax specifics"
Beyond the delayed computation section, this section doesn't need to be read linearly, but other doc sections might link to the doc content here.

- [ ] Delayed computations
    - [ ] Backtick
    - [ ] Bang operator
    - [ ] Underscore
- [ ] `cases` for pattern match
- [ ] Comments in Unison
- [ ] What is this ascii art - operator cheat sheet
- [ ] Useful shorthands - list pattern match, Map cre

[2021-07-13 04:33] rlmark opened #2212 "Learning materials - Running and testing a program"
- [ ] Watch expressions
- [ ] IO
- [ ] Run command
- [ ] How do I debug a Unison program?
    - [ ] `bug`
    - [ ] `Debug.watch`
- [ ] Testing
    - [ ] Reinforce introduction from tour
    - [ ] Property based testing
- [ ] Exercises

[2021-07-13 14:13] #1573 closed

[2021-07-13 14:19] aryairani opened #2213 "PR process revamp"
__UPDATE:__ [latest design is here](https://github.com/unisonweb/unison/pull/2247#issuecomment-900409775)

---

No longer relevant -

[2021-07-13 14:36] pchiusano commented on #2213
The last idea on this that I recall is that PRs are encoded as namespaces with two subnamespaces, `base`, and `head`. An anonymous namespace is created for this when `pr.create` is made.

[code]

Then `pr.load` loads that namespace and can intelligently provide a list of targets for the merge, based on things which have the same base as a common ancestor.

So no weird bundle format needed, and thi

[2021-07-13 14:50] pchiusano commented on #2213
Phase 1 of this should just be a timeboxed design jam / prototyping / implementation sketch of 2 days to decide on 1 or more possible approaches and better estimate level of effort.

[2021-07-13 15:29] hojberg opened #2214 "The codebase server `/list` API doesn't return a `namespaceName` when queried with a hash"
Querying a namespace with the list API and a hash doesn't return a name (the value is a `null`):

`GET http://127.0.0.1:8080/asdf/api/list?namespace=%232bbp1bkbef8t4b75sblro3m8kd7sjsgrvcont5sg85su77eich2ncgnoprmn7b8ipto6l5mtjs8t7qrh9pc1ohe7tmfg5r5a4r5ll88` (`%23` is the URL encoded version of `#`)

returns

[code]
The name should be `ANSI`.

This is blocking https://github.com/unisonweb/codebase-u

[2021-07-13 15:29] aryairani commented on #2213
Ok, I like this idea.

[2021-07-13 15:35] hojberg opened #2215 "The codebase server `/list` API returns the wrong hash when queried with a name"
Querying a namespace with the list API and a FQN returns the codebase hash instead of the hash of the queried namespace (the children are correct):

`GET http://127.0.0.1:8080/asdf/api/list`

returns

[code]

`GET http://127.0.0.1:8080/asdf/api/list?namespace=.base.List`

returns

[code]

Notice that the `namespaceListingHash` are the same in both examples (it's the codebase hash)

[2021-07-13 15:36] aryairani commented on #2213
I closed #2105, but we might want to copy from its `InputPatterns.hs`.

[2021-07-13 15:36] hojberg commented on #2215
The RICE score is based on the `/list` API being used over https://github.com/unisonweb/unison/issues/2172 in the initial version of https://github.com/unisonweb/codebase-ui/issues/78

[2021-07-13 15:36] hojberg commented on #2214
The RICE score is based on the `/list` API being used over https://github.com/unisonweb/unison/issues/2172 in the initial version of https://github.com/unisonweb/codebase-ui/issues/78

[2021-07-13 16:03] hojberg opened #2216 "Codebase server API: `/list` should include a fully qualified name"
When querying the `/list`API, there's a relative `namespaceListingName`, which is great, but it would be very helpful to additionally have a `namespaceListingFQN` field (perhaps based on `namespaceListingName` to pick a name if there are multiple).

The UI currently walks the tree and constructs FQN based on `namespaceListingName` and this is a bit brittle and expects that the `/list` API is alway

[2021-07-13 16:17] hojberg commented on #2045
This seems related to https://github.com/unisonweb/unison/issues/2109 - the 2 issues should perhaps be merged? @pchiusano @stew

[2021-07-13 16:40] hojberg commented on #2214
Rúnar mentions that since oldnames are not working, `namespaceListingName` can be `null`, but shouldn't be a problem for the latest version of a namespace.

[2021-07-13 16:41] hojberg commented on #2214
Old names effort: https://github.com/unisonweb/unison/issues/2128

[2021-07-13 16:45] aryairani commented on #2100
Currently stuck trying to decouple the v1 codebase implementation from the "trunk" `Reference` type, because it depends on the current representation, and can't be changed without breaking backwards compatibility.

I've been trying to do this by updating `FileCodebase` and its dependencies to use a separate reference type, but it's a huge amount of manual work to separate them.  I've tried:
* Star

[2021-07-13 17:09] aryairani commented on #2140
Put another way, the problem is that we have hashes computed in different places — sometimes in the codebase implementation and sometimes outside of it.  We should pick one, IMO passed in, with its own independent representation that's locked to "hashing" version.

[2021-07-13 17:09] pchiusano commented on #2088
`debug.clear-cache` will clear the cache.

Just pull base from the github url, clear the cache, and the do `test`.

[2021-07-13 17:14] pchiusano commented on #2088
Should probably pin the version of base that's used. This can't get merged until all the tests are working.

[2021-07-13 17:15] pchiusano commented on #2071
We are going to call this done but if you are having problems with https://github.com/unisonweb/vscode-devcontainer then please reopen.

[2021-07-13 17:15] #2071 closed, assigned to stew

[2021-07-13 17:23] aryairani opened #2218 "tab complete for remote repo paths in `pull` and `push` commands"
I can never remember whether it's `.releases._latest` or `._releases.latest` or `.trunk` or `._trunk` and it would be nice to be able to sort of browse using tab-completion the way you can with `cd` in your unix terminal (and the way you can't but should be able to with `cd` in ucm)

This would involve pulling a repo over the network when the user hits tab (unfortunately), and then giving child br

[2021-07-13 17:26] pchiusano commented on #2204
Phase 1 is a timeboxed design jam (2 meetings, Simon goes off and mocks a few things up between first and second meeting) to figure out what the front-end will need to do.

[2021-07-13 17:34] pchiusano commented on #567
Phase 1 of this might be: come up with implementation plan and sketch it out, timeboxed.

[2021-07-13 17:46] runarorama commented on #2188
Depends on #567

[2021-07-13 17:47] rlmark commented on #2206
Tagged @pchiusano because I think you have a gist started for the free monad portion of this.

[2021-07-13 17:58] aryairani commented on #2110
We want both a focused reference -> names lookup for pretty-printing, and also a focused name -> reference lookup for parsing.

[2021-07-13 18:18] aryairani opened #2219 "update codebase repo format with relational namespaces"
This supports #2128 and #2110.  Draft schema at https://roamresearch.com/#/app/arya-unison/page/Inr5gTWwK.

[2021-07-13 18:22] pchiusano commented on #2128
Phase 1 is do some timeboxed design jam / brainstorming on short + long term fixes for this.

[2021-07-13 18:29] pchiusano commented on #1819
First step: design jam to figure out how to do this. @aryairani and @pchiusano both some ideas.

[2021-07-13 18:34] pchiusano opened #2220 "Consider changing implementation of `bug` and `todo` to support catching them as exceptions"
https://github.com/unisonweb/unison/pull/2029#issuecomment-873036665

[2021-07-13 23:32] aryairani commented on #1819
My suggestion for self-contained binaries is to not create a self-contained binary—which, when it's not native code, is hard both to create and to execute—and to instead create a [shebang file](https://en.wikipedia.org/wiki/Shebang_(Unix)), _e.g._:

[code]

When the user's system "executes" this file, it will launch `unison-run <path-to-this-file>`. `unison-run` is an executable we need to publish

[2021-07-14 02:09] pchiusano opened #2221 "Delete Codecs.hs"
It’s dead code. History of the file is it was used once upon a time to serialize code to send to the old scala runtime.

[2021-07-14 20:28] philderbeast opened #2223 "Doubtful that definitions depend on each other cyclically."
While transcribing the formula for the forward azimuth using haversines, I struck this:

[code]

![Screen Shot 2021-07-14 at 4 26 48 PM](https://user-images.githubusercontent.com/633283/125688334-d6034364-bb3a-43bc-9d63-c196264d4c9a.png)

It doesn't look like `xLng`, `cos yLat` and `cos deltaLng` are cyclic. I did try explicitly importing from base with `use Float + - * sin cos atan2` but that did

[2021-07-14 20:31] philderbeast commented on #2223
Using parentheses to ensure proper operator precedence doesn't make a difference.

    y = ((cos xLat) * (sin yLat)) - ((sin xLat) * (cos yLat) * (cos deltaLng))

[2021-07-14 20:38] philderbeast commented on #2223
I got it to compile with a local function:

[code]

[2021-07-14 20:57] dolio commented on #2166
Here's a question for you.

Suppose we have something like:

    f : '{e} T -> ...

And we have an ability with effect `e : T`

Now we write:

    f e

What does this turn into? Is it:

    f 'e

Or is it:

    x = e
    f 'x

These aren't the same, and because we don't have to write `!e`, it's hard to tell what the intention is.

[2021-07-14 21:09] #2221 closed, assigned to nobody

[2021-07-15 00:04] hojberg opened #2224 "Pretty printing multiple list head matches removes parens"
The pretty printer removes parens on list head matches when they are chained:

[code]

gets pretty printed as

[code]

which does not type check

[2021-07-15 00:58] philderbeast commented on #2223
Some extra types mentioned here:

[code]

[2021-07-15 02:28] runarorama opened #2225 "Division on `Nat` is wrong for large numbers"
The behaviour of the built-in DIVN (and probably MODN too) is incorrect.

[code]

This results in `maxNat` again, which is obviously wrong.

[2021-07-15 12:29] pchiusano opened #2227 "Syntax sugar for multiple guards on a single pattern"
Eg

[code]
Can desugar at parse time to:
[code]

And optionally we can modify the pretty-printer to use this syntax opportunistically.

[2021-07-15 12:35] philderbeast opened #2228 "Underscores in numeric literals"
Please allow for underscores in numeric literals.

[code]

[code]

[2021-07-15 12:43] philderbeast commented on #2228
The kowainik/tomland project also uses megaparsec and accepts underscores in numeric literals with this [pull request](https://github.com/kowainik/tomland/pull/332/files) by the use of `sepBy1 (some parseDigit) (char '_')`. The relevant parser in unison is:

https://github.com/unisonweb/unison/blob/c7b67bd4607665ed5168e350782b67445271aac6/parser-typechecker/src/Unison/Lexer.hs#L732-L749

[2021-07-15 12:57] pchiusano commented on #2227
Incidentally, I'm thinking `Cons x y | otherwise` can just be special syntax for `Cons x y` with no guard, rather than `otherwise` being an alias for `true` which is pretty weird.

[2021-07-15 13:04] pchiusano commented on #2228
Sounds like a good idea! Want to do a PR?

[2021-07-15 13:40] runarorama commented on #2228
One issue with this is that the underscores would be lost as soon as they enter the codebase, unless the pretty-printer always prints them as well. But that's not a clear win for Unison, as it makes the output of e.g. watch expressions sometimes annoying to use.

[2021-07-15 13:47] pchiusano opened #2229 "Get rid of single backtick for infix function application"
Discussed on Slack a while back but never created a ticket to track.

The pretty-printer doesn't have any way of knowing when to use it when rendering, so it seems a bit pointless, more like a shortcut.

Also a `append` b can be rewritten `a |> append <| b`
[code]
Once this is done, we could maybe start using single backtick within a doc in place of the double backtick example syntax.

This should

[2021-07-15 14:16] philderbeast opened #2230 "Find sectioned operators"
Could we please allow find to look for sectioned operators?

[code]

Luckily `base..` is the first item in the list above but if I'm in another namespace it is not:

[code]

The codebase-ui has similar behaviour. It makes a search request for `|>`, for `(|>)` and for `(.)` but for `.` makes no request.

[code]

[2021-07-15 14:28] philderbeast opened #2231 "Typechecking regression when calling functions that have covariant-only ability variables"
How can I compose `atan . tan` without eta abstraction?

[code]

Trying with eta reduction:

[code]

[2021-07-15 14:41] dolio commented on #2227
Makes sense. I guess the `otherwise` just wouldn't get displayed unless there are previous identical cases that have guards?

[2021-07-15 14:44] #2225 closed, assigned to nobody

[2021-07-15 14:52] pchiusano commented on #2231
@philderbeast is this with current trunk or with latest release?

[2021-07-15 14:55] pchiusano commented on #2231
Thanks for reporting.

Just confirmed trunk has this issue as well. @dolio looks like a type inference regression, it works with latest release.

Note that compose has a pretty general type:

[code]

[2021-07-15 14:59] pchiusano opened #2232 "Add tests for nat division and mod"
https://github.com/unisonweb/unison/pull/2226#issuecomment-880668877

[2021-07-15 15:00] philderbeast commented on #2231
I've been building from source and am at e8dd1d5b7d94857bf5ba7a5e22736bc3010c3162 on trunk.

[2021-07-15 22:17] pchiusano opened #2234 "Codebase server backend should look for docs via linked metadata"
Loose end from #2116

At the moment, the way the endpoint finds docs is just via the naming convention that foo.doc is the docs for and anything called foo. It should probably check for linked doc metadata also, but that's not done currently.

[2021-07-15 22:20] pchiusano opened #2235 "Remove the type signature from the `getDefinition` endpoint"
Minor loose end from #2116

Now that `BuiltinObject` includes the type signature already and the type signature can also be read off the `UserObject`, Simon was suggesting the type signature doesn’t need to be split out from the results.

[2021-07-15 22:25] #1470 closed

[2021-07-15 22:25] #2112 closed, assigned to pchiusano

[2021-07-16 11:04] philderbeast commented on #2223
@pchiusano is this another regression? With 233145c23de7106087edd602e9722b79fec34ba2, release/M2g, I'm not seeing this problem.

[2021-07-16 12:12] philderbeast opened #2236 "Variable pattern mistaken for data constructor?"
https://www.unisonweb.org/docs/language-reference/#identifiers

https://www.unisonweb.org/docs/language-reference/#blank-patterns

[code]

In Haskell in a case pattern, I think of `_y` as a named wildcard (blank pattern) but it is a variable pattern ignored by [`-Wunused-matches`](https://downloads.haskell.org/~ghc/latest/docs/html/users_guide/using-warnings.html#ghc-flag--Wunused-matches) because

[2021-07-16 15:30] pchiusano opened #2237 "IO sandboxing to prevent access to arbitrary I/O during evaluation"
This needs design, but we want to be able to evaluate expressions without giving them access to arbitrary IO.  This will get used for making sure docs can’t do I/O even if the user subverts the typechecker, and it’ll also be used by the compute node server.

Here’s a sketch:

[code]
I’m imagining that to typecheck `blah` in a `handlePure` block, we remove `{IO}` from the ambient abilities.

And th

[2021-07-16 15:34] pchiusano opened #2238 "`docEval` and `docEvalInline` shouldn't permit abilities"
[code]

<img width="925" alt="image" src="https://user-images.githubusercontent.com/11074/125972559-5b71e4b4-357a-41c6-bb0e-5c5d10628449.png">

- [x] Update `IOSource` and update the pretty-printer to pretty-print both the old and new hash via the same syntax. This will normalize away usage of the old functions as docs get updated.
- [ ] Update unisonweb/base with new implementation of these funct

[2021-07-16 15:35] runarorama opened #2239 "Test that uses abilities crashes instead of giving a type error"
[code]

output:

[code]

[2021-07-16 16:35] pchiusano opened #2241 "`replace x x` adds an entry to the patch"
Even though this has no effect

[2021-07-16 16:48] philderbeast commented on #2236
More of the same:

[code]

[code]

[code]

[code]

[code]

[code]

[2021-07-16 16:50] pchiusano opened #2242 "Always show ability variables if they appear in invariant or contravariant position"
Example:
[code]
Unison will infer that as `forall e a . ‘{e} a -> Nat` but then elide the `’{e}` from the signature on display.

I’m imagining writing:

`removeCovariantAbilities : Type v a -> Type v a` can strip out ability variables in covariant position, and then the term printer should call this instead of whatever it’s doing now.

[2021-07-16 17:13] pchiusano commented on #2231
@dolio here's another one, likely same issue

[code]

[code]

We talked about stripping covariant-only ability variables from types before typechecking, which is something I think we could also do before pretty-printing instead of the thing we are currently doing which is wrong (see #2242). I guess I wonder if there's some fix that would also just let it work even if those covariant-only variables

[2021-07-16 17:17] #2238 closed, assigned to pchiusano

[2021-07-16 17:54] philderbeast opened #2243 "Add Float.isNaN and related Float predicates"
If someone looks at this, it might also be a good moment to consider whether we should be able to parse or pretty-print float values Infinity, -Infinity and NaN.  ([comment](https://github.com/unisonweb/unison/blob/bf943e2df6b33acfcca549dfb8617d99e3988b35/parser-typechecker/src/Unison/TermPrinter.hs#L166))

_Originally posted by @atacratic in https://github.com/unisonweb/unison/issues/611#issuecom

[2021-07-16 17:54] runarorama opened #2244 "Doc eval block has trouble with block elements that don't have a closing element, like `with` or `let`"
[code]

[code]

[2021-07-16 17:56] pchiusano commented on #2244
Try putting the block in parens as a workaround, but thanks for reporting and I feel like I've hit this and it should definitely be fixed.

[2021-07-16 17:58] philderbeast commented on #2243
Can we please add predicate functions to Float that test for +Infinity, -Infinity and NaN. Haskell's GHC does it with [FFI calls](https://gitlab.haskell.org/ghc/ghc/-/blob/master/libraries/base/GHC/Float.hs#L1416-1426).

[2021-07-16 18:02] pchiusano commented on #2243
Good idea.

I think we can just have `Float.Infinity : Float` and `Float.NegativeInfinity : Float` and `Float.NaN` as builtins, and then the pretty-printer can use the names for these builtins when printing floats.

[2021-07-16 18:04] pchiusano commented on #2243
https://github.com/unisonweb/unison/blob/trunk/docs/adding-builtins.markdown is (I think?) mostly up to date if you feel like having a go at this one. :)

[2021-07-16 18:07] philderbeast commented on #2243
These comments from [primFloat.c](https://gitlab.haskell.org/ghc/ghc/-/blob/master/libraries/base/cbits/primFloat.c) say how to test for these:

[code]

[2021-07-16 18:11] pchiusano commented on #2243
@philderbeast ah that's a good point, if we just have a bitwise cast from `Float` to `Nat` then we can just write these in pure unison. I think I like that better.

[2021-07-16 22:21] aryairani opened #2245 "add testing of `.unisonConfig` settings"
I don't believe we currently have a test runner that accepts config file settings, meaning we have no tests of functionality that depends on config file settings.

[2021-07-17 10:45] philderbeast commented on #1526
I wanted to do this too after forgetting to prefix items 14-16 with `Vincenty.`:

[code]

[2021-07-19 16:09] pchiusano opened #2248 "Revamp `update` process"
https://gist.github.com/pchiusano/548032b98d5d6b29cb4314421a231a42 has a writeup of the problem we are trying to solve and proposed new workflow.

----
_Old commentary, out of date_

A couple things I am aware of:

1. It’s very easy to accidentally add updates to the wrong patch, and in general the update process seems fully of footguns when it should be a delightful improvement over the status qu

[2021-07-19 16:09] runarorama opened #2249 "Automatically record UCM session as a transcript"
When working in Unison, situations like these come up often:
  * I need to capture a transcript of what I've been doing in Unison, but don't realize it until after the fact, and making a transcript by hand can be a bit tedious.
  * I accidentally fix an issue and I don't have a record of what I did to fix it.
  * I run into an error message and I want to know what I did last time to work around it

[2021-07-19 16:25] aryairani commented on #2248
I think we need to revamp the "current namespace" UX and that'll help with number 1.  I'm looking for an existing ticket on this, but can't find one.

What does this mean? Ah, the auto-propagate kind of `update`. If `bar` depends on `foo` and you `update foo`, then it creates a `foo.bar.deprecated`?

Agreed.

Questions:  What happens here if I update a definition twice <cough[#1758](https://github

[2021-07-19 17:26] pchiusano commented on #2248
@pchiusano to schedule a time to discuss this one

[2021-07-20 17:35] pchiusano opened #2251 "Make unique types the default or make structural/unique required"
It's very common to leave off `unique` for types that really should be. Suggest just making `structural` a keyword and have `type Foo` mean `unique type Foo` and `structural type Foo` mean the structural type.

Kinda goes along with #2196

[2021-07-20 17:38] aryairani opened #2252 "unique term should be a thing"
Equivalent to unique types; currently we are using workarounds like throwing random data into a definition to distinguish it.

Unique terms will need the same care and treatment as #1758 / #2196 / #2251

[2021-07-20 18:28] #2227 closed, assigned to nobody

[2021-07-20 21:29] pchiusano opened #2254 "Constructor mapping done during propagation doesn’t work"
In theory, there's supposed to be some heuristic where same-named constructors are associated with each other, but it doesn't actually work.

Did a little digging, and found a couple things:

* There's no logic for actually applying constructor mappings in `Term.updateDependencies`. The signature of that function needs to change to work with `Map Referent Referent` instead of `Map Reference Refere

[2021-07-20 22:46] rlmark commented on #1898
Adding to the pretty printer mega ticket:

Stringing together multiple boolean expressions:

[code]

comes out of the UCM as:

[code]

Which fails to parse. It looks like there's some indentation issues

[2021-07-21 01:57] runarorama commented on #2232
Fixed in #2233

[2021-07-21 01:57] #2232 closed, assigned to runarorama

[2021-07-21 16:30] philderbeast opened #2255 "Watch Float.lt, get "missing integral case"."
Everything is fine if I use `base.Universal.< : a -> a -> Boolean` but if I use `base.Float.lt : Float -> Float -> Boolean`, evaluating the comparison with a watch errors with "missing integral case".

[code]

[code]

[2021-07-21 17:06] philderbeast opened #2256 "How to stack exec dependent transcripts?"
For running tests, [development.markdown](https://github.com/unisonweb/unison/blob/trunk/development.markdown) says `stack exec transcripts -- prefix-of-test` will run tests matching a prefix. I tried with "builtins.md" and got an error.

[code]

All tests pass if I run `stack exec transcripts` and this includes `./unison-src/transcripts-using-base/builtins.md`. Looking at the output, I can see th

[2021-07-21 17:36] philderbeast opened #2257 "Universal.compare of negative floats is backwards"
I don't expect `-1.0 < -2.0` to be true.

[code]

[2021-07-21 17:49] pchiusano commented on #2257
Thanks for reporting. Try using `Float.lt` instead.

At the moment, `Universal.<` (which is what your code is using) compares floats by bitwise casting to ints and comparing those. More discussion here: https://github.com/unisonweb/unison/issues/1717

I think that is reasonable since we want it to be a total order, but it looks like it handles signed values incorrectly? Is the fix as simple as fli

[2021-07-21 18:03] pchiusano commented on #2257
I'm actually a little confused since I think what is currently being done should be correct (ignoring NaN) according to https://github.com/unisonweb/unison/issues/1717#issuecomment-705328570

[2021-07-21 18:37] #2024 closed, assigned to runarorama

[2021-07-21 21:51] dolio commented on #2257
Yeah, I thought it would happen to work out. Did it get flipped to use unsigned comparison for all/most unboxed things at some point?

[2021-07-22 03:13] alvaroc1 opened #2258 "Parser rejects if-then-expression if it's a direct element of a list"
[code]

this works fine:
[code]

Unfortunately, it gets rendered by the pretty-printer in the correct, but un-parsable version:
[code]

version: release/M2g

[2021-07-22 12:21] philderbeast commented on #2255
Similar to #2136.

[2021-07-22 12:24] philderbeast commented on #2255
When this error throws would it be possible to have a call stack?

https://github.com/unisonweb/unison/blob/149919335a2ba7c1975146fc4ee31250258b26d2/parser-typechecker/src/Unison/Runtime/MCode.hs#L751

[2021-07-22 13:22] hojberg opened #2260 "Preserve record syntax in `view` and `edit`"
Record syntax are sugar that helps create a bunch of accessor functions, but the syntax is lost when `view`ed or `edit`ed. This makes it very hard to:

1. Even know this was a record in the first place, thus forgetting about the accessor functions and the records field names
2. Editing a record—say, change a field from String to Nat—without the record syntax makes dealing with the accessor functio

[2021-07-22 13:35] pchiusano commented on #2260
There is actually some logic for this and I remember it working at one point. It just needs some debugging.

[code]

If I had to guess, the logic is too fragile if it's given a suffixified pretty print environment.

[2021-07-22 13:45] hojberg opened #2261 "Docs: `@source` and `@foldedSource` sometimes doesn't include term signatures"
There seem to be an inconsistence between the rendered `SyntaxText` of `@source` and `@foldedSource`.

The API returns 2 fields (in a tuple), 1 for folded source and one for unfolded source, but in the attached screenshot, where `@source{List.map}` and `@source{example.example1}` are used, the JSON has different shapes.

`@source{example.example1}` has the signature included in its "unfolded" fiel

[2021-07-22 13:48] hojberg commented on #2261
Note that from a frontend perspective it would be preferable if the signature was not included since it is also present in the "folded" source and having them separate makes it easier to work with.

In lieu of that the frontend can chop up the response to remove the signature of the term, by comparing the name of the term and seeing where it appears twice (using newlines isn't sufficient).

[2021-07-22 15:16] alvaroc1 commented on #2258
Simpler version that also fails:
[code]
But this parses fine:
[code]

[2021-07-22 16:59] hojberg commented on #1898
Here's a few more:

* https://github.com/unisonweb/unison/issues/2260
* https://github.com/unisonweb/unison/issues/2224
* https://github.com/unisonweb/unison/issues/2165
* https://github.com/unisonweb/unison/issues/1035

[2021-07-22 17:02] philderbeast opened #2262 "Complex formula has operators with too much unindent."
I'm porting Vincenty's inverse solution to unison that I already have in [Haskell](https://github.com/BlockScope/flare-timing/blob/main/lang-haskell/earth/library/Internal/Ellipsoid/PointToPoint/Vincenty/Double.hs#L27-L121) and [F#](https://github.com/BlockScope/meridian-arc/blob/7c19e56e317efaf59691cd75896d05b905701b5a/earth/library/Flight/Vincenty.fs#L170-L262). I've added a `.flight.Geodesy.Vin

[2021-07-22 17:20] pchiusano opened #2263 "Design efficient text manipulation primitives"
Can’t be higher order

[2021-07-22 17:34] pchiusano opened #2264 "When a suffix isn't unique, tell me what the possible FQNs are"

[2021-07-22 18:19] philderbeast commented on #2223
I have another example. This code compiles fine with `M2/g` but not with 149919335a2ba7c1975146fc4ee31250258b26d2 on trunk:

[code]

[2021-07-22 21:00] pchiusano opened #2265 "Figure out why patch syncing doesn’t sync source types"
See this commit a6fef85152e698fd8d341e32072d3cf925f55a4f

[code]

Remove the `alias.type` from the transcript and it currently fails, suggesting that somehow the old version of updated types in a patch are not being sync’d.

[2021-07-23 15:24] dolio commented on #2231
Okay, so, one factor here is that base has a bunch of functions with types that are not well designed with respect to the way that the new algorithm works.

Composition has the type:

    (b ->{e} c) -> (a ->{e} b) -> a ->{e} c

The thing that causes the algorithm to get in trouble is that checking `f . g` requires figuring out some compatible solution `e` incorporating the effects of `f` and `g`.

[2021-07-23 15:27] runarorama commented on #2231
We can certainly change the types of these functions in `base`

[2021-07-23 18:15] rlmark opened #2267 "Changes to Docs elements do not get propagated to enclosing docs"
While I've had a hard time reproducing this in a transcript, this appears to be reliably happening in my codebase (probably not a fluke). Say you've added a doc term `glossary.arity` to be used in a tooltip element. You fix a typo in that element, but when you go back to where the doc element is used as a tooltip, your change is not present. You notice that the docTooltip now contains a reference

[2021-07-23 21:34] pchiusano commented on #2231
The thing is, the existing signature of `compose` is a perfectly reasonable signature that a user might write, so the typechecker should ideally support using it. What about the idea of stripping out covariant-only ability variables from signatures before typechecking? That should work fine for pure functions, not sure when dealing with effectful functions.

[2021-07-24 13:31] atacratic opened #2268 "typechecking regression"
Am not able to say if this is the same as #2231.

This first example assumes you have `distributed` in your codebase; there's a minimized free-standing example further down.

[code]
On M2 this gave:
[code]
On current trunk@149919 it gives:
[code]

(It gives different complaints if I uncomment either of the type annotations.)

Somewhat minimized free-standing example:

[code]

[code]

[2021-07-26 12:58] philderbeast opened #2269 "check (0 == 0) versus check (A 0 == A 0)"
I can write a test `0 == 0` in the presence of a unique type `A`.

[code]

[code]

If I also define `(A.==)` for this unique type, the `Nat` type from the test is inferred for `(A.==)` even though I've added an explicit type signature `(A.==) : A -> A -> Boolean`.

[code]

 If I check `A 0 == A 0` unison hangs.

[code]

[2021-07-26 12:58] philderbeast commented on #2269
Could this be because the `(A.==) : A -> A -> Boolean` type signature is not using the `unique type A = A Nat` from the scratch file when the `A` has not yet been added to the codebase?

[2021-07-26 13:34] pchiusano commented on #2269
The current behavior is that if a name suffix is unique in the scratch file, that is the one used, even if that name suffix also exists in the codebase. The idea is that things in the local file take precedence. Though I think a warning would be nice in that situation, or perhaps we should reconsider the behavior.

In any case, with the current behavior in mind, this function just has an infinite

[2021-07-26 13:47] philderbeast commented on #2269
Thanks @pchiusano. This might be a gotcha for people coming from Haskell and expecting `==` to be resolved the same way, via typeclass instance resolution.

[2021-07-26 13:48] #2269 closed, assigned to nobody

[2021-07-26 13:53] philderbeast opened #2270 "Patterns (+0, +0) and (a, +0) passed over for (+0, b)."
I would have expected the `(+0, +0)` case to have been matched.

[code]

[code]

[2021-07-26 14:51] pchiusano commented on #2261
I think I know what's going on - some terms have a programmer-provided signature, in addition to the signature that is automatically put on all top-level terms. Others don't because they were just inferred.

New behavior: all terms get a type signature put on them, uses the inferred type if there is no programmer-provided one.

[2021-07-26 17:38] pchiusano commented on #2216
Fixed by #2266

[2021-07-26 17:38] #2216 closed, assigned to runarorama

[2021-07-26 17:47] pchiusano commented on #2214
This needs a discussion with @hojberg, @runarorama and @pchiusano to figure out how important it is and next steps, given that it seems like it will require a new repo format (or maybe just some aux tables in the current schema).

[2021-07-26 20:07] rlmark opened #2271 "`raw` multiline codeblocks in the docs indent themselves weirdly"
Upon saving a Doc with a `raw` codeblock element, the element will indent the code successively.

[code]
becomes:
[code]

Odd indentation is present upon viewing source in the console, and editing code once saved into the ucm.

[2021-07-26 23:57] pchiusano commented on #2263
Rough draft:

[code]

Alternately, make `Regex` an opaque builtin, with the constructors becoming builtins, and the `Text.matches` function as before.

[2021-07-28 03:12] pchiusano commented on #2267
Going to close this, but what we figured out was that `update` was being applied to a subnamespace `some.subpath`, so it only propagated the change within that subnamespace. This is sometimes what you want but it's also a footgun and UCM should give better feedback. #2248

For the docs, where patches aren't really kept around, the fix is to `cd` to the project root and do `patch some.subpath.patch

[2021-07-28 03:12] #2267 closed, assigned to nobody

[2021-07-28 13:29] #2261 closed, assigned to pchiusano

[2021-07-28 15:38] hojberg commented on #2176
Just realized that this will point to a constructor reference that should be either a `DataConstructorReference` or an `AbilityConstructorReference` so that information needs to be part of this syntax text element.

[2021-07-28 16:45] hojberg commented on #2176
`Request` should have a hash as well.

[2021-07-28 20:45] philderbeast commented on #2255
Fixed by https://github.com/unisonweb/unison/pull/2141. I tested this by applying the fix to M2/g.

[2021-07-28 20:45] #2255 closed, assigned to nobody

[2021-07-28 20:49] #2254 closed, assigned to pchiusano

[2021-07-29 15:25] pchiusano commented on #2263
I think I like `Regex` better as a builtin. It can be done more efficiently, without a level of interpretation overhead to convert the Unison type to a Haskell type, and we can also add more regex primitives over time if we want.

[2021-07-29 16:08] hojberg opened #2275 "Codebase Server API: `/list` should support a `rootBranch` and a `relativeTo`"
The `/list` API should support the `rootBranch` and `relativeTo` params like the `/find` and `/getDefinition` API.

[2021-07-29 16:43] pchiusano opened #2276 "There should be a way to replace the term and/or type signature of a hash"
This came up when trying to fix some type signatures for existing hashes.

The definitions don’t have their type signature baked into the hash because it matches what was inferred when the definition was added. Now that the inference algorithm is different, they would get a new inferred type, but UCM won’t let us replace the signature since it matches what is inferred.

In general, there seems to

[2021-07-29 17:10] pchiusano commented on #2276
Idea: the hash of a term should include that term's type. If the term doesn't have a user-provider signature, then that should be added before hashing. If it does have a signature, that could be used.

Downside of this approach is it means terms will get different hashes.

[2021-07-29 18:06] pchiusano opened #2277 "Binary encoding/decoding primitives"
[code]

Design with @dolio and @stew, this should be sufficient primitives for fast binary decoding stuff.

[2021-07-29 18:08] pchiusano commented on #2277
Other stuff can be pure Unison:

[code]

[2021-07-29 18:56] pchiusano commented on #2277
The decoder implementation calling conventions can probably be patterned after `Text.uncons`.

[2021-07-30 03:58] aryairani commented on #2276
I want to have a separate module that computes hashes in a way that's independent of the codebase storage layer. Hashes for terms, types, namespaces, "type mentions", etc. It can be passed to the codebase constructor and used carefully.

It's okay that terms will have different hashes (or I'm possibly not sure what you mean), with each newer version of the hashing component corresponding to a new

[2021-07-30 12:42] pchiusano commented on #2244
Another example

[code]

[2021-07-30 13:04] pchiusano commented on #2244
Suspect what's going on is that it's parsing the ` ``` ` before emitting the virtual closing tokens from the layout block.

[2021-07-30 15:58] #2176 closed, assigned to hojberg

[2021-07-30 16:16] aryairani commented on #2133
I think that simply tweaking the heuristic isn't going to be helpful, that it will just move the problem.

[2021-07-30 17:06] pchiusano commented on #2133
@aryairani WDYT of this argument

Basically, I see this as - the implementation needs to use some heuristic in cases where the user has not fully specified what names they want to see, so better to pick a heuristic that gives better results.

Even if we support some more explicit priortization of names, we won't necessarily have a total order on the possible names, and forcing the user to give us

[2021-07-30 17:13] pchiusano commented on #2133
I think the suffix-based name resolution is an example of a pretty good heuristic - the user hasn't fully specified what they want in some sense, but if they've used a unique suffix, we can take a good guess. This is a big DX improvement over needing explicit imports everywhere, IMO, and it's also much simpler than implementing a more complex feature like "first-class imports" which the user needs

[2021-07-30 17:39] aryairani commented on #2133
I agree we shouldn't expect the user to give us a total order, and that without one you need something to fill in the gaps, but I think the heuristic should be the product of a design session, not a substitute for one.

I think the suffix-based name resolution is a good example of a heuristic that sounds good at a high level, but immediately breaks down in general use.  I can't confidently provide

[2021-07-30 17:47] pchiusano commented on #2133
Yeah, I think it's that for parsing, but also, it's problematic that so many versions of the same function can easily exist in your namespace tree, so without something like #1340 the unique suffixes can stop being unique and it becomes hard to predict what will be.

[2021-07-30 17:52] aryairani commented on #2133
I'm imagining something like: a user-defined set of custom imports, similar to what you might put in your scratch file to curate your parsing environment, effectively defining shorter names for your commonly used definitions.  And then anything that's not covered by your custom imports is probably "infrequent use" and deserves a FQN.  WDYT?

And then... for that, we could prefer FQNs that have the

[2021-07-30 18:15] aryairani commented on #2133
So maybe that's what you were saying to begin with.

[2021-07-30 21:49] anovstrup commented on #1590
Just updated the description to note that the behavior still occurs with M2g, using the new runtime, and to revise the example to work with the Stream functions in the current base library (with the version referenced by namespace hash) in order to facilitate testing.

[2021-07-31 02:17] pchiusano commented on #1590
Yes, I'd say this issue is just the same as #852.

[2021-07-31 04:32] ChrisPenner commented on #779
@seagreen luckily this can be handled with a yaml at the root which each package.yaml can import. We did this at Wire and it worked quite well 😄

E.g. define your [package-defaults.yaml](https://github.com/wireapp/wire-server/blob/develop/package-defaults.yaml)

and import it into each package [like this](https://github.com/wireapp/wire-server/blob/014f8d1608da84c18926d60b9163728ae50019b0/libs/bil

[2021-08-01 01:21] pchiusano opened #2281 "Destructuring bind parse bug"
Spotted by @alvaroc1
[code]
`foo2` returns [1,2] as expected, but `foo` returnes just `[2]`, even those these should parse the same.

Workaround for now is to not use the destructuring bind sytnax for this example. It’s weird because the syntax works fine in other situations.

[2021-08-02 17:19] pchiusano opened #2282 "Investigate use of simple substring matching for fuzzy find"

[2021-08-02 23:50] ceedubs commented on #2133
#1868 may relate to this

[2021-08-03 16:24] rlmark opened #2285 "Term names prefixed with `else` cause UCM to expect a following `then` clause."
If you give a term a name which starts with `else`, the following error will surface:

[code]

Reproducing this should be as simple as defining a term which starts with else, as in `elseABCD = "blah"`

[2021-08-03 16:40] aryairani commented on #2285
Here's a reproducing transcript:

[code]

[2021-08-03 19:53] pchiusano opened #2287 "Somehow notify the user if their type signature is less general than what could be inferred"
Example is like:
[code]
Whose implementation might permit the type:

[code]

[2021-08-03 20:41] hojberg opened #2288 "Projects: Outline all the pieces that goes into the Project term and type"
We'll identify projects by a special term called `project` with the type of `Project`. This ticket tracks the design of that term and type by gathering all the information that would need to go into this term and how it will be displayed.

Things to consider
* Maintainers
* Contributors
* Releases (along with Changelogs and release notes)
* Semver
* Activity like "last updated at" (similar to late

[2021-08-04 02:28] aryairani opened #2289 "Create a new dedicated type for the arg to delayed computations"
To avoid this situation (reported by @alvaroc1 on Slack):

[code]

[2021-08-04 03:55] pchiusano commented on #2289
This sounds like a good idea, except what do we do about all the code that's specialized to `()` with a type signature like `'{IO} Blah` ?

Maybe nothing, and those signatures will just become `() ->{IO} Blah` in a future pretty-printer?

[2021-08-04 05:11] ChrisPenner commented on #696
I assume this is the same error which prevents me from directly interpreting an ability in terms of the same ability with different type params.

E.g. I'd expect this to work:

[code]

But I get:

[code]

Strangely, this seems to work, or at least it compiles:

[code]

[2021-08-04 14:52] #2187 closed, assigned to dolio

[2021-08-05 14:22] #2277 closed, assigned to stew, dolio

[2021-08-05 15:03] #2133 closed, assigned to nobody

[2021-08-05 16:28] pchiusano opened #2294 "`@signature` names aren’t clickable in docs"
@hojberg can you check if this is a front-end or a backend thing?

[2021-08-05 16:45] hojberg commented on #2294
I think this is a frontend thing. I don't link up the syntax`HashQualifier` because it'd mean definitions linking to themselves in full definition syntax, but maybe thats ok?

[2021-08-05 17:19] pchiusano opened #2295 "Revamp the `push` command to be easier to use"
Maybe autocomplete. Maybe `ls` of the remote, be more interactive

[2021-08-05 17:29] pchiusano commented on #2248
`update` should maybe warn you if it's not any updating anything - to prevent adding to a new namespace

Also if we have `namespace` blocks then it doesn't matter where you are in UCM.

[2021-08-05 17:57] ChrisPenner opened #2296 "Unison should warn on bare unforced expressions in blocks"
It's pretty easy to accidentally write something like the following:

[code]

The bug here is pretty easy to miss, I forgot to force `sayHello`, so `main` actually does nothing 😞

Would probably be good to add a warning for this sort of thing;
Possibly we could warn on "pure", unbound, values in blocks which don't enact any side-effects?

EDIT: Also ran into this easy-to-write bug:

[code]

Which,

[2021-08-06 00:18] ChrisPenner opened #2297 "Typechecker incorrectly discards unhandled effects from `handle` clause"
[code]

commit: `513422a68c22b83020dc8f9d30aad2917277f967`

Something is fishy in the typechecker and allows abilities to vanish from the types somewhere, while still being propagated behind the scenes. Here's a minimal repro:

[code]

This prints:

[code]

On the first run, but then, due to caching, won't print `hi!` on any future saves.

[2021-08-06 01:45] pchiusano commented on #2297
Wow, thanks for reporting. @dolio this looks like a regression. On M2g I correctly get:

[code]

Logic of handle blocks are that the abilities handled should be included in ambient when typechecking the body.

[2021-08-06 04:59] ChrisPenner opened #2298 "Unification errors when using lists in abilities"
Okay… colour me confused on this one :upside_down_face:

`unison version: latest-137-g3b6880f2e'`

This doesn’t compile:
[code]

[code]

If we remove the completely useless binding statement it compiles:

[code]

Or; if we add an ADDITIONAL emit outside of the if-block it works…

[code]

Not positive, but what I think is happening is that the [] literal is getting cached with a concrete type rathe

[2021-08-06 17:02] dolio commented on #2194
Addressed by #2299

[2021-08-06 17:02] #2194 closed, assigned to dolio

[2021-08-06 22:39] rlmark opened #2302 "Curious ability requirement only in Doc block code"
When writing documentation, the block code syntax sometimes fails to typecheck for ability requirement reasons when none are being used.

[code]

Produces the error:
[code]

But it works when entirely inlined
[code]

It works when not in a doc codeblock
[code]

And inlining only the offending term will also fix the problem.
[code]

Ucm version: latest-184-g513422a68

Raw text file with these examp

[2021-08-06 23:27] #2297 closed, assigned to nobody

[2021-08-07 07:43] sullyj3 commented on #1531
+1, I just came here looking for this exact ticket

[2021-08-07 16:35] aryairani opened #2304 "add a way to run unit tests of web apis"
We'll want to interleave web api calls with setup transcripts.

Some resources:
* https://docs.servant.dev/en/stable/cookbook/testing/Testing.html
* https://github.com/unisonweb/unison/blob/trunk/parser-typechecker/tests/Unison/Test/Ucm.hs

/cc @runarorama @hojberg

[2021-08-07 22:51] #2275 closed, assigned to hojberg

[2021-08-07 22:51] #2215 closed, assigned to hojberg

[2021-08-08 07:36] atacratic opened #2306 "can't use square brackets in docs (conflict with link syntax)"
Both these docs fail to parse:

[code]
with the following error pointing to the character after the closing `]`
[code]
I guess it's a conflict with link syntax, as described here: https://www.unisonweb.org/docs/documentation#link-syntax-cheat-sheet

It would be good if square brackets could be used.

Sorry if this is a dup, I do half-remember seeing it mentioned somewhere.

[2021-08-09 14:50] dolio commented on #2298
Can you try this again with the latest version? The examples seem to be working for me now. I think the fix to #2297 may have also fixed this.

[2021-08-09 15:36] hojberg commented on #2214
Removing the p1 label. We still eventually want to support this, but got around it for the UI by including the codebase hash + namespace name in urls instead.

[2021-08-09 17:09] aryairani commented on #2271
@pchiusano Can you take a look at this and see if it's something obvious with the doc renderer?

[2021-08-09 21:00] dolio commented on #2268
@atacratic I looked into this a little. Can you try it again on the full example with the latest unison?

I think it could possibly have been fixed by fixing another issue, where ability lists weren't getting their unification variables fully expanded before doing some checks. The simplified example seems to be working for me, at least.

[2021-08-09 21:33] atacratic commented on #2268
@dolio hmm, not much luck - here's what I get now, on trunk@8965e46:

[code]

[2021-08-09 21:39] rlmark commented on #2306
@atacratic Yeah the first case should probably be supported. If you just want monospace formatting for the latter case I've found that the following will work:

[code]

(The way to monospace in this version of the docs is two successive single quotes.)

[2021-08-09 21:49] atacratic commented on #2306
I think the second case should be supported as well - needed when you want to talk about code that doesn't necessarily parse or work, or code in language other than unison.
[code]

[2021-08-09 22:11] dolio commented on #2268
Okay. That _might_ be a little different issue than whatever was going on originally. I was having trouble running your reduced example due to a similar issue, which is to do with TDNR. I'll see if I can solve that problem.

[2021-08-10 13:22] gampleman commented on #2287
Is that a good thing? There are plenty of times where going with a more concrete type signature is reasonable and good practice.

[2021-08-10 13:42] philderbeast commented on #2270
To reproduce with a transcript:

[2270.md](https://github.com/unisonweb/unison/files/6962093/2270.md)
[2270.output.md](https://github.com/unisonweb/unison/files/6962094/2270.output.md)

[2021-08-10 18:14] dolio commented on #2268
Submitted a fix for the TDNR issue. Hopefully the full example now works as well.

[2021-08-11 02:30] pchiusano opened #2308 "Thunks forced within a handle block don’t infer as needing the provided abilities"
It looks like handle blocks don’t add abilities they handle to the wanted abilities of thunks that are forced within the block.

Example:
[code]
This infers the type

[code]
Which while it’s not exactly wrong, I’d much prefer it infer `’{Foo, g} o ->{g} o`.

[2021-08-11 02:44] pchiusano commented on #2308
This is a regression from M2g.

[2021-08-11 04:13] pchiusano opened #2309 "`squash` discards history of all sub-namespaces"
`squash new old` where `new` is ahead of `old` should keep all the `old` history and just create (at most) a single step for any updated subnamespace.

Instead it appears to discard all history of all subnamespaces of `old`, leading to really bad LCAs later.

Step 1 is just a transcript to reproduce this.

[2021-08-11 06:14] aryairani commented on #2309
Eep!

[2021-08-11 06:23] pchiusano commented on #2306
I think if we can't support single backtick as the syntax, we gotta produce a nice warning / error when users write docs with a single backtick and tell them what to do instead to produce monospaced text.

For the first case, where you want to write something that conflicts with existing syntax, you can do:

[code]

This works for any escaping you'd like to do.

For the second case, if it's inline

[2021-08-11 08:02] sullyj3 opened #2310 "pull-request.create doesn't allow a PR that only moves names"
I wanted to send a PR to move `io.printLine` into `io.console.printLine` for consistency with `io.console.getLine`.

However, it seems like I'm unable to create the pull request:

[code]

[2021-08-11 13:44] #1531 closed

[2021-08-11 13:49] hojberg opened #2311 "Investigate FZF performance with the goal of removing the pre-filter"
We introduced a pre filter to our FZF implementation to minimize the search space, but this means we get less FZF features.
For example with the pre-filter we can't search for `blf` to match `base.List.filter`.

We want to investigate our FZF implementation to learn about ways to speed it up with the goal to remove the pre-filter and take full advantage of the FZF feature set. We believe this feat

[2021-08-11 15:54] pchiusano opened #2313 "Bitwise casting from/to Int, Nat, Float"
We could use these
[code]

[2021-08-11 16:40] aryairani commented on #2311
I started investigation at https://github.com/aryairani/fuzzy-find-test but invite anyone else to pick it up.

[2021-08-11 16:45] aryairani commented on #2313
I worry that this will introduce a whole can of worms. Is there something more specific we could do? When would we use these?

[2021-08-11 18:34] aryairani commented on #2313
@pchiusano and I chatted on the phone and he more or less convinced me that this is fine, although we didn't discuss names specifically ;-)

[2021-08-11 19:07] aryairani opened #2314 "can't override default metadata for deeper namespaces, only union"
With this `~/.unisonConfig`,
[code]

if I add something to `.dogfood`, I get the top-level default metadata as well as the `.dogfood` metadata.  I could imagine wanting that, but I didn't in this case; I wanted to apply only a unisoncomputing license (`#1lmvrom87b`) and not the `arya_mit_2021` license.

[2021-08-11 19:12] aryairani opened #2315 "each default metadata is added in a new causal cons"
e.g. in #2314, when I `add` my definition and got three default metadata, there were 4 causals total.  One for the add, and one for each of three default metadata in some arbitrary order.

[2021-08-11 23:41] #1585 closed

[2021-08-11 23:41] #1670 closed, assigned to nobody

[2021-08-11 23:41] #1991 closed, assigned to nobody

[2021-08-12 00:26] pchiusano opened #2316 "`STM.try` builtin"
We could use this -
[code]
or alternately define in terms of `STM.orElse`

[code]
They can be defined in terms of each other, so it doesn’t really matter which is the builtin -
[code]

[2021-08-12 02:49] puffnfresh commented on #2140
I just ran into this too by searching for `find : [a] -> Optional a`.

I think I understand the hash problem if the types are exactly the same, but it's resorting to fuzzy matching and still not finding the functions. Shouldn't fuzzy find everything?

[2021-08-12 10:42] puffnfresh commented on #2045
A bunch of requests get created as I type:

[code]

This overloads the backend. Even though a single request of "base.List.head" can take about 2 seconds, my searches take over 20 seconds due to being overloaded.

I think the UI should cancel the requests and the backend should cancel the threads.

[2021-08-12 11:57] hojberg commented on #2045
@puffnfresh good point.

We've been debouncing the Finder requests from the UI on Unison Share, but had kept each request for Unison Local since at the time it returned quick enough. Thats not the case anymore. It seems like it's time to enable that.

[2021-08-12 13:01] pchiusano commented on #2045
Did something happen recently that tanked performance? I feel like after https://github.com/unisonweb/unison/pull/2292 (see the videos there), search felt basically instantaneous (see the video in that PR), but I just tried trunk and it's back to being super slow.

[2021-08-12 13:04] hojberg commented on #2045
@pchiusano the introduction of using the `rootBranch` query param seems to have hurt things a lot.

[2021-08-12 13:54] hojberg opened #2317 "Projects: Outline the project namespace structure"
Projects should have guard railed namespace structure to make it easy for developers to setup and develop, deal with releases, prs and dependencies. The goal of this ticket is to finalize the structure.

Note that a strict structure is likely required for Unison Share to consume a project.

Rough draft:

[code]

The `project` definition design is covered by https://github.com/unisonweb/unison/issu

[2021-08-12 14:12] hojberg opened #2318 "Projects: New ucm commands"
To support the project notion we'll need some new ucm commands. The goal of this ticket is to design those commands, not implement them.

Rough draft:

- `.> project.create {{project-name}}`: Creates a new project with the full namespace structure.
- `.> project.release`: releases a new version of the project by adding an entry in the `project` definition mapping a new version number onto a hash.

[2021-08-12 14:32] pchiusano commented on #2045
@hojberg I spotted something in `Backend.hs`:

[code]

This is calling `Codebase.getBranchFromHash` which currently loads the branch from disk every time. This will kill performance.

What I'd do is rename `Codebase.getBranchForHash` to `getBranchForHashImpl`, and then have `getBranchForHash` check if the requested hash is one of the descendants of the root branch (maybe limit depth of search), wh

[2021-08-12 16:59] dolio commented on #2308
I thought we'd discussed this before, but I can't find where that was if we did.

I'm not really convinced this is a good thing to infer. It seems sensible on very simple examples like the one given, but it can be the opposite on more complex examples. But part of the problem in seeing this is that unison's abilities lack a desirable runtime behavior.

One of the major updates in the revised Frank

[2021-08-12 18:22] rlmark opened #2319 "Warn message on adding terms which are missing author/license info"
@hojberg and I were pairing in a new codebase and after pushing our code to Share we realized that it was missing license and authorship info. To help avoid this in the future we could create a "warn" message when adding terms which are missing authorship / license metadata to the unison codebase.

Alternatively, we could make terms which do not have license/author metadata a component of TODO and

[2021-08-12 18:27] atacratic commented on #2268
It works! 👍 🎉

[2021-08-12 18:27] #2268 closed, assigned to dolio

[2021-08-12 18:44] rlmark opened #2320 "Ctrl-C fails to kill infinitely looping program depending on how hard you are looping?"
Depending on the kind of loop you're encountering, the UCM will sometimes fail to terminate the program upon receiving a ctrl-c command. This means that the user will need to exit the terminal that the UCM is running in to get a new UCM up and running.

An example of a run loop that is able to exit when the user enters Ctrl-C is the example server loop in the http library: https://share.unison-lan

[2021-08-12 19:01] dolio commented on #2268
Great. :)

[2021-08-12 19:34] pchiusano commented on #2308
I understand and yeah the type-directed stuff discussed in #852 seems better long term. In the short term, given the dynamic behavior of abilities, it seems like we should infer `'{e,Foo} a ->{e} a` - the `Foo` ability will get handled by that block, so the type should reflect that. Inferring the other type is a lie right now. WDYT?

Another thing I was pondering is that a thunk could be forced mu

[2021-08-13 00:40] hojberg commented on #2282
A substring pre-filter was added recently. Closing :)

[2021-08-13 00:40] #2282 closed, assigned to hojberg, pchiusano

[2021-08-13 00:41] hojberg commented on #2045
Alright PR for the above https://github.com/unisonweb/unison/pull/2321 and the UI has been changed to enable the debounce for Unison Local.

[2021-08-14 03:02] pchiusano commented on #2271
I tried reproducing this with current trunk and wasn't able to... so maybe it somehow depends on the surrounding doc. @rlmark do you have a full (minimal) example transcript?

[code]

[2021-08-14 10:17] puffnfresh commented on #2140
It looks like this is manifesting in the docs too:

[code]

Any type not being found by "find" also won't be shown when I run docs on it.

[2021-08-14 13:57] aryairani commented on #2140
Hi @puffnfresh,

`find` should find everything, but all the modes of find use hashing under the hood, and the issue is that hashes are being computed in multiple places with different values; they need to be consolidated to one place so that the same hashes are used for indexing and querying.

I didn't understand what the example was trying to show, but there shouldn't be any connection between `f

[2021-08-15 00:25] puffnfresh commented on #2140
@aryairani if you look at my example, `init` doesn't have a type shown while `distinctBy` does. I think it's trying to lookup the type of the expression somewhere and failing.

I think deleting V1 would be great.

[2021-08-15 08:16] aryairani commented on #2140
Ah, no; `docs` only shows a type if the doc author put one into the doc.  You can use `view Nonempty.init` and it should show the type.

[2021-08-16 15:10] runarorama opened #2325 "IO builtin reported by API server as a Data type but should be an Ability type"
![image](https://user-images.githubusercontent.com/130916/129586284-f890e7c6-6494-4000-98ea-35e0396c2dec.png)

The API tags it as a `Data`, but should be `Ability`:

[code]

[2021-08-16 17:52] stew opened #2326 "codebase init should include a released base library"
when one initializes a new codebase, they will usually want that codebase to contain the base library. Instead of requiring the user to type a `pull` command in ucm, we should populate their codebase with a base library unless they specifically request a bare codebase.

[2021-08-16 18:05] aryairani opened #2327 "discover how to help with `base`"

[2021-08-16 18:15] aryairani opened #2328 "test task"

[2021-08-16 18:16] aryairani opened #2329 "test task 2"

[2021-08-16 19:39] aryairani commented on #2243
Maybe this was the motivation for #2313.

[2021-08-16 19:47] #1930 closed, assigned to nobody

[2021-08-16 20:07] hojberg commented on #2109
Closing as I think this is basically a dupe of #2045

[2021-08-16 20:07] #2109 closed, assigned to nobody

[2021-08-16 20:07] hojberg commented on #2045
@pchiusano Do you think this is ok to close for now?

[2021-08-18 01:17] stew opened #2332 "find_type_mentions_index table has redundant rows"
I was exploring why the database for my codebase is so large and found that the `find_type_mentions_index` table is the largest. Looking at this table it seems that there are many duplicate rows. Here's the table schema:

[code]

When I count the number of rows in the table:

[code]

and the number of unique rows in the table:

[code]

We find that the table is 15 times as large as it needs to be:

[2021-08-18 02:57] aryairani commented on #2309
IIRC this would be a new command. I don't think any special knowledge is needed to implement this, but I'm happy to discuss or review.

[2021-08-18 16:40] rlmark opened #2333 "Doc rendering - Unison codeblock syntax doesn't preserve inner pattern match names"
Block codeblock examples which use a pattern match render inner pattern match names in odd manner

The following codeblock in a docs block
[code]

Turns into

[code]

A text file with a doc blob:
[patternMatchDocIssue.txt](https://github.com/unisonweb/unison/files/7008774/patternMatchDocIssue.txt)

[2021-08-18 20:34] rlmark opened #2334 "Pattern Matching "missing integral case" error"
We encountered an error `missing integral case` while writing code which pattern matched on Nats and Bytes.
The code to reproduce is below and in an attached transcript.

[patternMatch.md](https://github.com/unisonweb/unison/files/7010052/patternMatch.md)

[code]

[2021-08-18 22:36] #2334 closed, assigned to nobody

[2021-08-19 00:27] hojberg opened #2337 "Pretty Printer: missing parens in sub expression pattern match."
pattern matching like so:

[code]

compiles and works great, but is pretty printed like so:

[code]

which does not compile.

[2021-08-19 14:50] dolio commented on #2337
I think it should just not be necessary to put the match in parentheses. Maybe there's some ambiguity that makes that difficult, though.

[2021-08-19 15:46] pchiusano commented on #2337
The issue is that

[code]

Can be interpreted as defining a function `MyType`, which has one argument `someValue`.

The fix might be to have the pretty-printer use `<-` for destructuring bind. The parser could still admit both options. Or maybe just add parens in this situation - you don't always need parens though, like for `(x,y) = blah` that is unambiguously a destructuring bind.

I think this

[2021-08-19 16:08] pchiusano opened #2338 "Adding to a large codebase is slow"
I’ve noticed that adding definitions to the codebase is quite slow (like maybe 10s?). It seems like it pauses for a long time during the default metadata step, but I’m not certain of this.

[2021-08-19 16:13] pchiusano opened #2339 "`update` command is slow and provides no feedback"
`update` sometimes take a long time. It seems like it might be related to patch size, but not sure. It would be nice for starters to just report more output. My guess is that both the initial `add` is slow  #2338 and then propagation is also slow, possibly for unrelated reasons.

Like during propagation, some sort of progress or logging messages might be good.

[2021-08-19 17:58] atacratic commented on #2337
Dup of #1774, more discussion along the same lines in #1772.

edit: added a thought [here](https://github.com/unisonweb/unison/issues/1772#issuecomment-902129435)

[2021-08-19 18:06] atacratic commented on #1772
Idea, possibly dubious: if the names on the left hand side are not mentioned on the right, then take it as a destructuring bind.

I still think I prefer <- (and for that to be the only syntax option).

[2021-08-19 18:56] pchiusano opened #2340 "`Scope` ability and local mutable references"
Allow local mutation in pure code, with an `ST`-like interface to prevent it from being observed outside some scope.

Needs some more design, @dolio we should jam on this a bit, but a while ago I started sketching this, and it comes out quite nice using abilities -

https://github.com/unisonweb/unison/issues/798#issuecomment-702487151

We’d need `Scope.Ref` (aka `STRef`) as well.

This is useful f

[2021-08-19 19:00] pchiusano opened #2341 "Need either `unsafeCoerce` or some more restricted version"
This has come up several times. Currently it’s blocking work on a local interpreter of `Remote`.

[2021-08-19 19:31] pchiusano opened #2342 "M2h Release Notes"
Our last release was [M2g](https://github.com/unisonweb/unison/releases/tag/release%2FM2g). Here's a summary of what's new since then:

* The codebase UI now renders documentation, using the same engine that powers Unison Share's documentation rendering, see for instance [this example](https://share.unison-lang.org/@hcmfjhke0cuv26ksu80rivcmrkng2loo992j5lfogp4t8om6nu5c915064iuem8r8rsbeckopr3hmtrsqd

[2021-08-19 20:00] dolio commented on #2341
This is easy to do, but what version do you actually need? The version with type:

    forall a b. a -> b

will cause subtle problems unless it's actually the case that `a` and `b` are identical. If the desire is for reinterpreting bits, those need to be written for specific types to actually work correctly.

[2021-08-19 20:03] pchiusano commented on #2341
Right. The version I need for now is just:

[code]

Which doesn't seem too unsafe... at worst it leads to uncaught requests. Maybe we add this for now and consider other kinds of coercing for later? WDYT.

[2021-08-19 20:14] dolio commented on #2341
That can only be the general one in behavior, I think. I just needed to know which one to implement, and there should probably be caveats documented that using it for `Nat -> Int` isn't actually going to work correctly, because you'll get an `Int` that still has information specifying that it's a `Nat`.

I guess you could restrict the type to be somewhat less unsafe, but people might eventually wa

[2021-08-19 20:23] pchiusano commented on #2341
I think it's likely someone will want `unsafeCoerce` at some point, but I'd be inclined to hold off on adding the fully general version for now.

[2021-08-19 20:31] dolio commented on #2341
Okay.

[2021-08-19 20:35] pchiusano commented on #2231
This was fixed (at least for this and other examples) by a recent PR, I can't find it now though.

[2021-08-19 20:35] #2231 closed, assigned to dolio

[2021-08-19 20:58] pchiusano commented on #1819
This still needs some design. Originally I was thinking: just serialize the term and its dependencies, and this functions as the "bytecode" for Unison. That would totally work, but we might want the compiled form to just get `mmap`'d in and lazily decoded, reducing startup time.

[2021-08-19 22:02] stew opened #2344 "confusion in code using a mix of abilities"
Tried to minimize this as much as possible. I'm suprised that `nate` needs to be a tuple, but it I can't seem to eliminate that. In the following code, `grumpy` does compile, but `sneezy` and `doc` both complain about the ultimate term in the expression

[code]

The error for `sneezy`:
[code]

The error for `doc`:
[code]

[2021-08-19 22:07] dolio commented on #2344
I suspect the importance of the tuple is that it's pattern matching, not just a let. So these examples are actually more different than they first appear.

[2021-08-19 23:04] stew commented on #2344
oh, yes, if I avoid the pattern match and destructure the tupple with `at1`,`at2` then it works (so I'm unblocked :) )

[2021-08-19 23:32] stew opened #2345 "cannot view some terms in my codebase"
I know of at least two terms in my codebase which I'm not able to view or edit. If I try to view or edit them my ucm process starts chewing through memory. I've let it run for 30 minutes and ~60Gb of ram without gettng a response. I've gone through the process of squashing this codebase compeltely, and no matter what, for at least these two terms, I don't seem to be able to get ucm to show me the

[2021-08-20 13:01] #2313 closed, assigned to nobody

[2021-08-20 13:25] pchiusano commented on #2345
Hmm. Sounds like an infinite loop of some sort. Do you know the hashes for the definitions? `names foo` will show the hashes for a definition `foo`.

As a first step, I'd use `move.term`/`move.type` to move the definitions into a namespace, and then push that namespace to a fresh git repo. Then we can reproduce the issue with a transcript.

[2021-08-20 13:26] pchiusano commented on #2345
My money is on some sort of infinite loop in the pretty-printer which somehow we've never hit before.

[2021-08-23 13:58] pchiusano opened #2347 "M2h base changes"
Base library should be updated for M2h release. Here’s a checklist:

- [x] Merge open base PRs
- [x] Add aliases for new builtins that are present in releases/M2h tag of UCM. Maybe use `builtins.merge` and `diff.namespace` to help find new definitions?
- [x] `delete.namespace .releases._latest`
- [x] `squash .trunk releases._M2h`
- [x] `fork .releases._M2h .releases.latest`

[2021-08-23 14:06] #2341 closed, assigned to dolio

[2021-08-23 14:08] pchiusano commented on #2139
This seems to have been miraculously fixed. Perhaps we'll never know how...

Tested on Unison Share.

[2021-08-23 14:38] pchiusano opened #2348 "UCM onboarding improvements"
- [x] UCM should just go ahead and create a codebase in `~/` if none exists, rather than requiring this `init` step. Can instead add a `--no-init` flag or something to disable this functionality.
- [x] UCM should just go ahead and pull the correct version of base on codebase initialization. Can add a `--no-base` flag or something to disable this functionality.
- [x] Make author/license setup painl

[2021-08-23 15:01] pchiusano commented on #2340
Latest design:

[code]

[2021-08-23 15:29] pchiusano commented on #2251
Steps:

- [x] Change in `Lexer.hs` to add `structural` as a keyword, audit of the lexer to see if that's going to mess anything up.
- [x] `Parser.hs`, add a new error type for missing keyword
- [x] `FileParser.hs`, modify that to look for `unique` keyword
- [x] `PrintError.hs`, modify to render the new parse error
- [x] `DeclPrinter.hs`, modify to insert the keyword as needed
- [x] Update all the

[2021-08-23 22:55] pchiusano commented on #1758
Is #2196 just a dupe of this or vice versa? They seem to be talking about the same thing.

[2021-08-23 22:55] #1758 closed, assigned to nobody

[2021-08-23 23:22] pchiusano commented on #2196
### Option 1

The simplest fix for this: the pretty-printer just adds the GUID to the declaration it generates when a definition is dumped to a file.

[code]

This is accurate (the declaration has this info available) but ugly. I don't know that we want to expose GUIDs like this as part of the programmer interface.

### Option 2

If we don't want to do that, doing a lookup of "the structure matche

[2021-08-24 00:16] aryairani commented on #2196
Wrt. Option 2 — we can call this **2b** — I meant:
When we do an update of `unique type Direction`, we look up the existing decl `Direction` (no new index is needed, just the existing index by name), and from there compare the structure of the existing data decl named `Direction` in the namespace with the structure of the updated data decl called `Direction` in the scratch file.  (All `update`s ar

[2021-08-24 00:20] aryairani commented on #1758
This one was the problem, #2196 was a proposed solution; forgot to link them though.

[2021-08-24 01:58] pchiusano commented on #2196
Ah, cool. That makes sense. It's good that this doesn't need any new index. I'm sold that this is the nicest DX so let's try to make it work.

I think it might be kind of tricky updating the file parsing / hashing code, but it seems doable?

Just thinking about it..

Currently, we compute hashes for all the types in the file in one go, taking into account cycles. That will need tweaking.

What if

[2021-08-24 03:05] aryairani commented on #2196
I may be misunderstanding or delirious, but I think it can be even simpler than what you described.

WDYT:

In `HandleInput.hs` -> `UpdateI`, parsing/hashing has already occurred (i.e. nothing new is needed there), we're passed a `TypecheckedUnisonFile`.  We currently have a pure function `toSlurpResult` which we call here, and which is the bulk of brains of `update`.  This can be the piece that b

[2021-08-24 03:28] pchiusano commented on #2196
Okay yeah that sounds good! I didn't think of making the change in that spot, was thinking it had to be done earlier, when the hashes in the file are being computed. But you are saying you can leave that alone and just detect it later, before building the update.

I was still thinking of using hashing for determining if two structures are the same, rather than trying to like, align the constructor

[2021-08-24 03:40] pchiusano commented on #2196
If I have:

[code]

Then `Woot`'s order of constructors depends on the GUID for `Foo` (it will canonicalize `Woot`'s constructor order based on the hashes of the constructor types - and those hashes incorporate the GUID for `Foo`).

The constructor orders have been canonicalized by the time the file is typechecked.

So in general, the constructor orders are not going to match between the old and n

[2021-08-24 04:11] aryairani commented on #2196
Hmm, I see; bummer.

Going back to the drawing board, I guess the problem is that ucm sort of needs to know in advance of type-checking why the various definitions are in the scratch file.  Is the definition there because the user wants to use and check and add it?  Or is it there because the user wanted to have a copy visible for reference in the scratch file?  Or is it there because the user has

[2021-08-24 04:13] aryairani commented on #2196
Definitely typing nonsense at this point — will take another look again later.

[2021-08-24 14:17] pchiusano commented on #2196
I think your idea still works, it's just that the "determine if these two structures are the same" calculation needs to use the algorithm I suggested - unhash the decls in the file, rehash them as "structure only", and also do the same for definitions in the codebase whose names coincide with definitions in the file. Now you have a "structure hash" which has the same meaning for both old and new,

[2021-08-24 16:11] pchiusano opened #2350 "Spurious ability check failure in this example"
[code]
This yields:
[code]
This is kinda blocking some work on the distributed API. I could work around for now, but hoping it’s something simple that’s easy to fix.

I don’t understand where is it getting the `Storage d9 {}` requirement.

I feel like the type signature should be getting pushed down to that use site, so when that `Storage.save.impl` operation is called, it uses the exact instantia

[2021-08-24 18:52] pchiusano commented on #1819
Did some jamming on this with @dolio

Idea 1: could have a separate executable, `unison-rt`, which is just given an empty `CodeLookup`. It deserializes a self-contained  file with a term (assumed to be of type `[Text] ->{IO} ()`) and all its dependencies. Using [this function](https://share.unison-lang.org/@roa59i6g321fr95kk9o6arnt183bsci46go5v03gno76usq5ru6l87llt57u2i99raa1s580i1dttpf9a38akhh00m4

[2021-08-24 21:11] runarorama commented on #2347
Released in root hash `#hl9um4vnig` 🦄

[2021-08-24 21:11] #2347 closed, assigned to runarorama

[2021-08-25 02:20] pchiusano commented on #2340
Fixed by #2351

[2021-08-25 02:20] #2340 closed, assigned to dolio

[2021-08-25 17:15] hojberg commented on #2251
This was fixed in #2251 🎉

[2021-08-25 17:15] #2251 closed, assigned to hojberg, rlmark

[2021-08-26 04:47] pchiusano opened #2353 "Why is TDNR getting used in this example?"
Here’s a self-contained example:

[code]
This yields:
[code]
Changing this to `##Scope.run a’` causes it to work, so it seems like some sort of name resolution failure - basically, it isn’t resolving `Scope.run` to a definition and is instead resorting to TDNR to figure out what definition it is.

Scope.run is a unique suffix in my codebase (according to `find Scope.run`, which only returns 1 resu

[2021-08-26 06:27] pchiusano opened #2354 "UnknownExistentialVariable compiler bug triggered by delaying a higher-rank function"
Self-contained example:
[code]
Results in:
[code]

Seems like any higher rank function will do it. (Like try `x = ‘Scope.run`)

Not sure the urgency on this but it does make it impossible to link to higher rank functions in the docs. I’m hoping it’s just something easy to fix.

[2021-08-26 13:07] #2342 closed, assigned to pchiusano

[2021-08-26 14:02] hojberg commented on #1997
This has been fixed in a recent effort.

[2021-08-26 14:02] #1997 closed, assigned to hojberg, runarorama

[2021-08-26 14:02] #1938 closed, assigned to hojberg

[2021-08-26 15:32] dolio commented on #2344
Here's what seems to be going on. The destructuring bind desugars like this:

[code]

Then, recursive lets aren't allowed to have effects, because the order of evaluation isn't well defined. However, this shouldn't actually be recursive.

[2021-08-26 15:54] pchiusano commented on #2344
@dolio ah

There's actually some logic in the typechecker that minimizes cycles - see the call to `minimize'` and the module `Components`. So the parser generates let rec blocks that match what the user typed, and then the typechecker handles breaking that up into minimal components with `let` used in place of `let rec` where possible.

However, I bet this logic just isn't prepared to deal with de

[2021-08-26 16:07] dolio commented on #2344
Doesn't the `minimize'` thing get called with the desugared code? It seems like the desugaring happens immediately in the parser.

The problem is that this shouldn't be a cycle at all, not that the cycle isn't minimal. It seems like the destructuring bind is forcing the block to be a cycle. But it should probably be the opposite; that destructuring binds should _not_ be cyclic.

[2021-08-26 16:54] pchiusano commented on #2344
Hmm, it looks like it's done in both places, in the parser and in the typechecker.

The logic in `minimize` will convert `let rec` to `let` where possible, so I think that logic just needs updating to deal with destructuring bind.

You could also try to avoid building a needless `LetRec` in the first place in the parser, but even if that were done, I think you'd want to update `minimize` to handle

[2021-08-26 19:17] pchiusano opened #2355 "Typechecker hang in this example"
Here’s a self-contained example that hangs the typechecker. Adding a type signature on the inner function `go` causes it to typecheck fine.

[code]

[2021-08-26 20:10] thoradam commented on #861
This doesn't happen anymore with M2h. It correctly infers `huh : '{Wat (Nat ->{} Nat)} Nat`.

[2021-08-27 13:41] pchiusano opened #2357 "Unreliable population of the watch cache in certain cases?"
This is a weird one, and I haven’t been able to minimize or reproduce reliably, but I have noticed sometimes, certain watch expressions aren’t cached reliably. Unless this rings any bells, I just want to keep this ticket open to collect more clues if/when the problem resurfaces.

<img width="627" alt="Screen Shot 2021-08-27 at 8 41 34 AM" src="https://user-images.githubusercontent.com/11074/131136

[2021-08-27 14:21] pchiusano commented on #2357
AHA! I figured it out I think.

I had a `unique` type in my scratch file - the `unique` type actually was something I previously added to the codebase, but Unison didn't know that due to the `unique` GUID being generated afresh every time. So it would just keep generating fresh GUIDs for those `unique`. If the watch expression involved those `unique` types, then they are effectively never cached a

[2021-08-27 14:21] #2357 closed, assigned to aryairani

[2021-08-27 16:07] dolio commented on #2355
Somehow the typechecker is deciding that the `go u = A.fork '(go (u+1))` sort of thing means that we should do a refinement `e = A t e`, and there's no occurs check on that part. Not sure exactly why yet. I think it might have to do with the stand alone `g` in `fork` getting associated with effect inference variable for `go`.

[2021-08-27 19:38] alvaroc1 opened #2358 "Crash when using `delay`"
It happens with the current `trunk` version.

[code]
[code]

Also from @rlmark:

Hmmm, that seems odd. I wrapped it with a print handler
[code]
and got
[code]
which might be helpful for error reporting

[2021-08-27 19:43] alvaroc1 opened #2359 "`systemTime` is returning seconds when it should be returning nanoseconds"
On trunk (prob other versions too):

[code]
[code]
the seconds are coming from the underlying built-in `systemTime.impl`

[2021-08-27 20:43] dolio commented on #2358
I would guess this is incorrect wrapper code on the builtin for `delay`.

[2021-08-27 20:47] atacratic commented on #2359
Before fixing this to nanoseconds could we consider the convenience of representing historical dates. With nanoseconds, we can fit in 280 years either side of the epoch into an Int (I think, need to double check), which is not quite enough to be useful.

Underlying clock accuracy will not really be ns.

I might look at this and propose something.

[2021-08-28 18:40] alvaroc1 commented on #2359
I am ok with any precision of at least a millisecond... trying to play with animations. I have fixed it to nanoseconds locally, but will wait to see what you decide before making a PR.

[2021-08-29 03:37] aryairani commented on #2359
Haskell's `time` package provides a 64-bit signed integer representing seconds relative to the 1970 epoch, + an additional 32-bit unsigned integer representing nanoseconds.  I'd propose having the unison builtin do the same.

[2021-08-29 15:19] hojberg opened #2360 "Codebase server: the wrong docs seems to sometimes be shown"
Here's an example from Unison Share where `Set.fromList` is showing the `Stream.fromList` docs.

It seems to happen for `Set.fromList` only if the UI perspective is `base.Set`.

<img width="683" alt="Screen Shot 2021-08-29 at 11 16 47" src="https://user-images.githubusercontent.com/2371/131255722-e1094e72-9ccc-4c95-86e3-3239947dbd7e.png">

This is a codebase-server issue only, doesn't happen in UC

[2021-08-29 15:35] aryairani opened #2361 "M2h shows wrong pull hint for new codebases"
![image](https://user-images.githubusercontent.com/538571/131256206-fca52b84-6058-4af2-8324-0c30a65864b7.png)

I guess #2326 will have to deal with this too.

[2021-08-29 19:09] hojberg commented on #2360
It seems to happen for `Set.fromList` only if the UI perspective is `base.Set`.

[2021-08-30 14:34] pchiusano commented on #2271
@rlmark I have a theory about what's going on - whitespace after the start of the block is being ignored, but then after that, it just reads the whole string until the closing triple backtick:

[code]

If you unindent the whole thing, I'm guessing it works:

[code]

But I think the pretty-printer will produce the indented version.

Assuming this is what's going on, which you can verify, I have an

[2021-08-30 15:31] hojberg commented on #2288
I worked on a draft proposal for the `Project` type:

# Unison Project type and definition proposal
We've discussed having a definition in a namespace called `project` of type `Project` to denote a namespace as a _project_. Examples of _projects_ are things like `ucm` and the Codebase UI as well as the FuzzyFind library or Servant.

This is a design proposal for what the `Project` type could look

[2021-08-30 15:39] hojberg opened #2362 "Proposal `Set` and `Map` literal syntax"
I think it could be really cool to support a literal syntax for `Set` and `Map` like we do for `List` and `Tuple`.

For `Set`, it could simply look like so `${ a, b, c, d }` and for `Map`: `#{ key1 = a, key2 = b, key3 = c }`.

[2021-08-30 16:08] pchiusano commented on #2362
What do you think of:

[code]

Where `(=>) a b = (a,b)`, and `Map` (the term) is an alias for `Map.fromList` and `Set` (the term) is an alias for `Set.fromList`.

I am not sure the special syntax really pays for itself. I could see wanting to reserve that syntax for other things, like quasiquoting.

[2021-08-30 16:20] rlmark commented on #2271
I'll write up some samples to test the indentation theory!

[2021-08-30 16:54] rlmark commented on #2271
Ok, I think you're right @pchiusano. 🧠  If the raw block starts with no indentations, there is no format problem.

Looks good:
[code]

But if the raw text body is indented at all, the lines after the first line in the raw block are offset. They're offset by a function of how "indented" the raw text body is. So if your raw text body is at 2 tabs / 4 spaces, your text body has more of a "stair-step"

[2021-08-30 16:59] pchiusano commented on #2298
Confirmed that this is no longer present on latest trunk, going to close but feel free to reopen or file a new ticket if you spot other weirdness.

[2021-08-30 16:59] #2298 closed, assigned to dolio

[2021-08-30 17:20] stew commented on #2348
perhaps include #2326 with this effort

[2021-08-30 19:13] atacratic commented on #2271
There are some bits of code for handling the old doc format it might be good to be aware of - some slightly horrific code I put in. Don't know if it's kicking in for new docs (or if it might help if some of it did):

Normalization in parser: https://github.com/unisonweb/unison/blob/85435c3c3c6cd89d29f51b95be0100458ec13dc2/parser-typechecker/src/Unison/TermParser.hs#L571

Some whitespace munging in

[2021-08-30 19:19] pchiusano commented on #2271
@atacratic thanks, yeah, we might crib from there!

[2021-08-30 21:51] atacratic commented on #2288
Nice 😊

Various comments from me...

- I think there should be a principle that a `Project` definition is not *needed* - it's sugar that can make things nicer to use and understand, but is not mandatory.  I think it's an important part of the unison vision (at least as far as I understand it) that programs are just made up of definitions (terms+types), with any other stuff just being metadata.  An

[2021-08-31 00:06] hojberg commented on #2362
@pchiusano I like it!

[2021-08-31 02:12] pchiusano commented on #2358
@dolio can you knock this one out? Seems like an easy fix.

[2021-08-31 02:23] pchiusano commented on #2359
There's also... microseconds? Which lets us talk about 1970 +/- 280,000 years. Fits in an `Int`.

That would be my vote. Clock granularity and thread scheduling (via `delay`) isn't nanos precision anyway. If at some point in the future nanos granularity is a thing, that could be a new builtin.

If you're talking about time for a black hole to evaporate via Hawking radiation or something, `systemTi

[2021-08-31 07:18] atacratic commented on #2359
Microseconds would work for me!

I think we should also change EpochTime (which is the thing we're talking about) from Nat to Int. So we can talk about times before 1970. That would ratchet up the friendliness of the datetime library several notches - at the moment it needs the user to convert to its own signed wrapper type, which is painful.

[2021-08-31 14:51] dolio commented on #2358
Sure.

[2021-08-31 16:22] aryairani opened #2370 "Look into CI transcript creation/modification checking"
I was surprised that #2356 passed CI without having checked in its transcript output; the transcript output was only committed in unrelated #2363.

First step I guess is to test that CI rejects commits with missing transcript output, and still rejects uncommitted changed transcript output.

[2021-08-31 16:37] pchiusano commented on #2370
It does reject commits if the transcript is different, I just saw this in https://github.com/unisonweb/unison/pull/2364

But maybe it doesn't reject if the transcript output is missing entirely?

[2021-08-31 17:41] hojberg commented on #2288
@atacratic thanks for looking over this, really good feedback. I've tried to respond below as best as I can.

## Project goals

Firstly, I apologize, there isn't much context in this ticket about the goals of projects, how we came to this ticket, etc.

This ticket here is part of a series of effort all pertaining to projects:

* [Projects: Outline the project namespace structure](https://github.co

[2021-08-31 21:01] #2358 closed, assigned to nobody

[2021-08-31 21:51] atacratic commented on #2288
@hojberg thanks very much for the replies, lots of interesting context there, all makes a lot of sense 👍

**One follow up:**

Actually, probably can't do that: base ought to be a library like any other, and you're right there needs to be a way to work out how new a set of builtins a given version of base needs.  I guess as long as the `compatibility` field is an inequality ("make sure we have a un

[2021-09-01 01:58] aryairani opened #2373 "standardize representation for hashing (decouple from codebase representation)"
We have hashes computed in different places — sometimes in the codebase implementation and sometimes outside of it. We should pick one, IMO passed in, with its own independent representation that's locked to "hashing" version.  (related to #2140)