[2020-06-01 18:08] dariooddenino opened #1599 "type error - tried to apply a non-function"
I encountered this error twice in the past days:

# 1

The first one is:
[code]

Code to reproduce it:
[code]

Changing the definition of `forP` to this one makes the crash disappear:
[code]

# 2

[code]

Code to reproduce:
[code]

I tried using a same approach as the solution to the first error, but I wasn't able to make it typecheck.

I thought my tentative `run` implementation was the cause, bu

[2020-06-03 12:34] aryairani opened #1603 "bigly rearrange modules"
I was thinking something like this:

## transcripts

./parser-typechecker/src/Unison/Codebase/TranscriptParser.hs
./parser-typechecker/transcripts/Transcripts.hs

## term

./unison-core/src/Unison/ABT.hs
./unison-core/src/Unison/Blank.hs
./unison-core/src/Unison/ConstructorType.hs
./unison-core/src/Unison/DataDeclaration.hs
./unison-core/src/Unison/Hash.hs
./unison-core/src/Unison/LabeledDependenc

[2020-06-03 16:26] icidasset opened #1604 "replace.term doesn't appear to work with records"
I tried to do:
[code]

Given the following context.
`#3l9qiuc2a5` here points to the old `Definition` type.
I'm trying to use the new `Definition` everywhere instead.

[code]

Not sure if I'm doing something wrong or not.

I also tried:
- `replace.type #3l9qiuc2a5 Definition`
- `.shikensu.trunk.Shikensu> replace.term Definition#3l9qiuc2a5 Definition` → Same result as above
- `.shikensu.trunk.Shike

[2020-06-03 20:03] mitchellwrosen commented on #1597
I like this idea a lot! [This issue](https://github.com/gregorycollins/hashtables/issues/55) concerns me, it would be good to investigate whether the other hash table types can drop data. Since the issue specifically calls out "cuckoo", I assume the others are ok. Still 😬

[2020-06-03 22:39] mitchellwrosen commented on #1597
Could use [IntMap](https://hackage.haskell.org/package/containers-0.6.2.1/docs/Data-IntMap-Strict.html) as well.

[2020-06-03 23:42] aryairani commented on #1597
Yeah I would just use the Basic HashTable; IntMap would also be fine IMO.

Re https://github.com/gregorycollins/hashtables/issues/55#issuecomment-637884382, if there's a better hashing class than `Data.Hashable`, that would be fine too.  I guess it would be good if there were some methods to have some methods to get the average and max bucket size, if we go with hashing (and I think we should).

[2020-06-04 00:11] mitchellwrosen commented on #1597
I put a work-in-progress PR up, if you want to peep at it @aryairani #1605

[2020-06-04 07:32] lsund commented on #1583
Hi! I could have a look at this. As far as I understand the task is to change the temp-dir for transcript codebases from `$PWD` to `/tmp` by default?

[2020-06-04 11:27] pchiusano commented on #1583
Great! I’d check out this package for a platform independent way of creating temp directories: https://hackage.haskell.org/package/temporary

Haven’t used it before myself but it looks promising.

[2020-06-04 16:52] pchiusano commented on #1604
‘replace.type hash Definition’ is the correct command (replace.term won’t do it).

Not sure what’s going on here. It seems like that hash is not found in your codebase. What do you get from: view #3l9qiuc2a5

If you open up .unison/v1/types for your codebase do you see a directory starting with that hash?

[2020-06-04 16:52] aryairani opened #1606 "try using pinboard to canonicalize data in V1 codebase, and quantify"
I think the PinBoard (#1605) is really going to improve UCM's memory usage, and maybe speed as well.

Task:

1. Compare and quantify in terms of
* peak memory usage
* if possible: average or product memory usage (I was getting this via ghc memory profiling)
* time

when run the transcript given in https://github.com/unisonweb/unison/issues/1535#issuecomment-628296954

[code]

with/without
a. `PinB

[2020-06-04 17:16] pchiusano commented on #1606
Seems like a very good idea to explore this!

One note: a canonicalizing map based on weak refs is great for reducing memory usage but not really a good fit for caching (where the goal is to avoid hitting disk and doing deserialization work for recently accessed stuff). If it happens to work okay it is basically a coincidence - the GC just so happens to not be aggressive enough about cleaning up g

[2020-06-04 17:34] mitchellwrosen commented on #1606
Interesting! I think what you're saying is we don't necessarily want to free data when its last reference is dropped, because (per typical `ucm` usage) it might be needed soon after.

I really think GHC is good about running finalizers almost immediately - the finalizers are all _scheduled_ (via normal thread scheduling stuff) on time, I think the docs are just conservatively reminding you that fi

[2020-06-04 17:45] icidasset commented on #1604
`view #3l9qiuc2a5` gives me:
[code]

There is a directory starting with that hash, yes.

---

To clarify, it should be the hash of the type right? Not the constructor?

[code]

[2020-06-04 17:45] aryairani commented on #1606
Yes, a canonicalizing map is not a cache at all, it's only a tool for lowering memory residency and improving like L3 cache hit rate.

It's definitely still important to try a) and b), and maybe interesting to try c) as a baseline.  We can split c) into a separate lower-priority task if it's a big deal though.

[2020-06-04 18:28] pchiusano commented on #1606
Yeah, 100% agree on a) and b) and I'm a little curious about c) even though it seems kinda iffy to me.

[2020-06-04 18:31] aryairani commented on #1606
Yes c) is iffy, probably somewhere between pointless and "maybe we'll learn something unexpected".  I think the real answer to the stuff that we currently address with caching is simply: need less data, but that's a v2 thing.

[2020-06-06 18:20] mitchellwrosen commented on #1606
Here are some preliminary results for (a) and (b); running that transcript takes a bit so the sample size is pretty small (10 runs).

Canonicalizing `Hash`:

![gethash](https://user-images.githubusercontent.com/1074598/83951544-18565980-a800-11ea-9920-6bdd5a0c8792.png)

Canonicalizing `Text`:

![gettext](https://user-images.githubusercontent.com/1074598/83951554-30c67400-a800-11ea-9f9f-0e528c0246d

[2020-06-06 19:21] aryairani commented on #1606
@mitchellwrosen I love that tool, what is it?

[2020-06-06 19:23] mitchellwrosen commented on #1606
@aryairani it's this, I wrote it for this purpose :) https://github.com/mitchellwrosen/haskell-perf-comparator

[2020-06-06 19:26] aryairani commented on #1606
@mitchellwrosen Hah, fantastic.

I just wanted to doublecheck whether those stats were with the `517accd5fdd8a0c401f035f606c6a8ff6a230216` git branch, or with `master`?

[2020-06-06 19:27] mitchellwrosen commented on #1606
These are against `master` using the transcript from `517accd5fdd8a0c401f035f606c6a8ff6a230216`, but pointing at https://github.com/mitchellwrosen/unisonweb-oldbase per your instructions on how to reset

[2020-06-06 20:30] aryairani commented on #1606
Ok, I was just checking because I had thought that the baseline for that was using even more memory (like gigs), but maybe I thinking of an older build of UCM.

[2020-06-06 22:08] aryairani commented on #1606
Hmm, I don't understand the results.

I added a transcript to the issue description that I assume is the same as what you're using. When I `ucm transcript <that>` using the M1m binary, and keep an eye on it with htop, it seems to use about 300MB before petering out, so I was surprised that you were only seeing 144MB.  But `ucm` is not `unison`, so maybe the different optimization settings affect t

[2020-06-07 02:44] mitchellwrosen commented on #1606
The number I put above (144MB) is the total amount of Haskell memory allocated; this is different from the peak memory the RTS allocates from the OS (300MB). I've updated `haskell-perf-comparator` to report both numbers now. Here's one run of the slow transcript as an example:

![2020-06-06-223719_503x587_scrot](https://user-images.githubusercontent.com/1074598/83958992-4e1e3100-a846-11ea-9c71-c70

[2020-06-07 10:39] lsund commented on #1583
Yeah, it turns out that System.IO.Temp was already used. I changed the function call to use the system temp directory in this PR: https://github.com/unisonweb/unison/pull/1607

[2020-06-08 12:16] aryairani commented on #1606
| | |
|--|--|
| Max live memory | 144 mb |
| Memory allocated | 11 gb |
| Max copied during GC | 2.4 gb |
| Max memory reserved | 376 mb |

Could you help me understand the difference between these categories?

The `series/M1` branch has altered build files; I forget if `stack.yaml` or `.cabal`, but it uses -O2 and some other things.  This scheme is admittedly a little weird.  On the other hand, p

[2020-06-08 21:56] mitchellwrosen commented on #1606
As discussed on Slack, we think there might be a bug in pointing a transcript at a local git dir - it's crazy slow. So, I was unable to repeat the experiment will less variance, but I'll document how to do this yourself for anyone interested (and for repeating later).

First, I compile `unison` three times and chuck them in `bin/`:

[code]

These are master, "canonicalize getHash", and "canonicali

[2020-06-09 13:12] aryairani opened #1610 "UriParser doesn't correctly distinguish scp-style urls from local relative url + namespace suffix"
The intent of UriParser was provide a syntax like:

`<gitrepo>[:gitcommit][:[#nshash][.nspath]]`

but there is a bug in the `<gitrepo>` parser that allows `:#nshash` to be sucked up into it.

With tracing, we see that `/tmp/unisonweb-oldbase.git:#u86hp5f086` correctly parses as

[code]

where
[code]

but `unisonweb-oldbase.git:#u86hp5f086` incorrectly parses as
[code]
when it was meant to parse as

[2020-06-09 13:18] aryairani commented on #1606
@mitchellwrosen until #1610, we can work around the local git dir issue by just giving the absolute path, as shown at the top of that ticket.

Next, thanks for writing up the `haskell-perf-comparator` instructions.

Yeah, I would not expect this to result in more generation. 🤔  Could you point to the `getHash` branch online? and I might take a peek :)

[2020-06-09 13:33] mitchellwrosen commented on #1606
Yeah, sorry, I put the commits above but didn't mention the branch. They're on mitchell/use-pinboard

[2020-06-09 14:56] aryairani commented on #1606
Oops, I had totally missed them; thanks.

[2020-06-09 16:50] aryairani commented on #1606
Pro tip: since there's only one `unison` target, you can just `stack build :unison`

[2020-06-09 16:53] aryairani commented on #1606
One thought: although it would complicate the implementation:

[code]

[2020-06-09 20:28] aryairani commented on #1606
One thought, although it would complicate the implementation:

For explanatory purposes, here is a _modified_ version of `getHash`:

[code]

`Hash.fromBytes bs` and `Hash.fromBytes $ B.copy bs` should produce the same hash under `Data.Hashable`.  It we could save an allocation if we only had to force `B.copy` when `bs` doesn't already exist on the pinboard.  Currently it has to be forced in order

[2020-06-09 20:35] aryairani commented on #1606
Could the `PinBoard` itself be responsible for extra allocations?  GCing old `IntMap`s?

[2020-06-12 08:42] zhongwm opened #1612 "Document on unison-language vs. chapel-language?"
Did we considered some documenting on unison-language vs. chapel-language?

[2020-06-12 17:50] dolio opened #1613 "Incorrect zero counting ops on Int"
The type signatures of `Int.leadingZeros` and `Int.trailingZeros` are `Int -> Nat`. However the checked-in test output has signs, which suggests they are actually returning `Int`.

I've implemented them according to the type signature in the new runtime, but this is causing spurious test failures, and should probably be fixed in the existing runtime.

[2020-06-12 23:06] mitchellwrosen commented on #1606
Good idea about copying only when necessary. I tried that, it didn't seem to have any affect. I made these things tweakable by env vars; to play around yourself, you can:

- Build the latest `haskell-perf-comparator` if you're using that.
- Build the latest `unison` on `mitchell/use-pinboard` (I copy it out to `./bin/unison-mitchell-pinboard`)

It respects the `UNISON_PIN_HASH=` and `UNISON_PIN_TE

[2020-06-12 23:26] mitchellwrosen commented on #1606
This comment I made is incorrect - although 20% more garbage collections occur, we only spent 6% more time garbage collecting, and 5% less time garbage collecting relative to the mutator.

The increase in elapsed time is (presumably) mostly due to actually inserting into this global IntMap

[2020-06-12 23:39] mitchellwrosen commented on #1606
Numbers for the big boy, just n=1 :[
![2020-06-12-193833_662x994_scrot](https://user-images.githubusercontent.com/1074598/84554101-58c44480-ace4-11ea-850f-e2d98bf2a081.png)

[2020-06-13 00:57] mitchellwrosen commented on #1606
I did compare `IntMap` to `HashMap` and (a non-threadsafe) `HashTable` implementation. `HashMap` was pretty similar (but better); here's a comparison of `master`/`IntMap`/`HashTable`

![2020-06-12-205427_1076x1028_scrot](https://user-images.githubusercontent.com/1074598/84556233-0fc5bd80-acef-11ea-9529-605c1b42f49c.png)

Summary of not using a pinboard vs. using a HashTable pinboard:

- Using pinb

[2020-06-17 13:30] pchiusano commented on #798
@atacratic yeah, I think in practice you won’t have a node with the same token type as the pinned data.

Also aside is I think we are moving away from dealing with nodes in the API, instead there’s just logical tasks with locations / regions corresponding to some compute pool.

[2020-06-17 14:12] aryairani opened #1616 "add mac builds to CI"
We want to avoid surprises like the mac build fail in #1611 / #1615.

Maybe useful references:
* https://docs.travis-ci.com/user/multi-os/
* https://docs.travis-ci.com/user/reference/osx/
* #1614 "Add windows to CI"

[2020-06-17 15:02] mitchellwrosen commented on #1616
Btw, @aryairani, any opinions on GitHub Actions? I was messing around with them the other week on `mitchell/github-actions`, you can see the results here. https://github.com/unisonweb/unison/actions

Mostly, I was interested in the better caching - you can have "fallback" keys, so (for example) commit `A'` can reuse commit `A`'s build artifacts of local packages (not just cached dependencies).

Th

[2020-06-17 15:58] sharno commented on #1616
@mitchellwrosen Actuall Actions might be a good solution for Windows as well, Travis has an experimental Windows support and it's giving me a weird message in #1614

[2020-06-17 21:26] aryairani commented on #1616
@mitchellwrosen No strong opinion yet.  I'd be interested in understanding the caching thing better?

Side note: I'm not sure it's a good idea to cache `.stack-work`, as it can sometimes become busted, requiring a `stack clean`.  Caching `~/.stack` seems safe, thankfully.

[2020-06-18 10:11] aryairani commented on #1606
I didn't follow (other things?); although, I guess I don't care so much about the time spent allocating or garbage collecting, as knowing how much time is spent in the different conceptual phases, and keeping the total time down.  The former (memory management operations) contributes to the latter (phase runtime though), and then it is still important to understand how and why.

Is there a way we

[2020-06-18 10:21] aryairani commented on #1606
Also can we try `TVar` per @pchiusano's comment (somewhere).

[2020-06-18 19:45] aryairani opened #1620 ""name.segments" test fails when `numDots` and `numSegs` are both 0"
@runarorama In `parser-typechecker/tests/Unison/Core/Test/Name.hs`,

[code]

`pick` crashes when `numDots` and `numSegs` are both 0.  I'm 🧟‍♂️ and I don't currently understand what the `pick` line is trying to generate.  Is it constructing a list of `segs` from a distribution that is `numDots` parts `"."` and `numSegs` parts `"foo"`?

[2020-06-19 01:02] runarorama commented on #1620
It's trying to generate a name with a ratio numDots:numSegs of `.` segments to `foo` segments.

I'd just modify as follows:

[code]

[2020-06-19 06:26] atacratic opened #1622 "can't add a broken test to the codebase (so no TDD)"
ucm won't let me add a broken test to the codebase.  Would be nice if this worked, because then I could write my code in a tests-first fashion - write the tests, then fill out the implementation, see the tests start to pass as I fix things up.

I don't know if this is true for any broken test, or just ones that fail on a `todo` or `bug`.  But anyway `todo`/`bug` is what you'd most likely be hittin

[2020-06-19 11:38] aryairani commented on #1622
Oops, thanks for reporting.

[2020-06-19 19:16] runarorama commented on #1486
I'm happy to provide directions to the relevant parts of the code.

[2020-06-19 21:51] #1616 closed

[2020-06-19 23:02] #1574 closed

[2020-06-21 22:46] #1131 closed

[2020-06-22 21:14] atacratic opened #1625 "Typechecking fails silently when a pattern binding clashes with an ability operation name"
Transcript to reproduce:

[code]

[code]

    The following definition is accepted fine.

[code]

[code]

    This definition is rejected with no error message.  The only change is b has become a in the pattern match.
     - I think it should be accepted despite reusing the name a in a pattern binding
     - and it shouldn't fail with no error.

[code]
[code]
.>
.>
[code]

[2020-06-22 21:35] aryairani commented on #1625
Nice work, thanks for this.

[2020-06-26 14:51] pchiusano opened #1626 "Possible issue with typechecking of `handle` blocks that push an ability of same head as existing ambient"
This should typecheck:

[code]

This gives the error:

[code]

So what's happening is it's doing the ability check of `!ss` against that `Stream b11` in the ambient.

What I suspect is that the `𝕞47` in the ambient is in fact `Stream a`, and we're just missing a context application before the ability check, which should pick the first matching head. If `𝕞47` isn't `Stream a` then that seems like a

[2020-06-26 18:06] runarorama opened #1627 "Runtime errors in tests get cached and have the wrong type"
If you ctrl-c during a test, then thereafter that test fails with:

[code]

Until you clear your cache.

[2020-06-26 19:16] #1627 closed, assigned to nobody

[2020-07-08 13:08] dariooddenino opened #1630 "Wrong type inference in local functions without signature"
Hi! This very simple implementation fails:
[code]
This is the error:
[code]

Uncommenting the signature fixes the issue.

[2020-07-12 17:30] mitchellwrosen commented on #1606
I think it is possible, yeah, but I checked out a flamegraph and couldn't really glean anything from it :/. I can put together some instructions on how to generate one if you want to click around.

I think so. It seems the time it takes to mutate the global hash table (whether we actually insert a hash or not) for every hash read off disk does indeed dwarf any time savings from not actually copyin

[2020-07-17 18:10] dolio commented on #852
With parameterized abilities, this actually makes the type system unsound:

[code]

[2020-07-20 00:53] jsthomas opened #1632 "Type violation when ability constructors aren't handled during pattern matching."
**Version Information:** I encountered this running `devel/M1l-195-g07814644`.

**Description:** The following listing (adapted from the abilities tutorial) compiles but the type signature of the final expression (a list of tuples) doesn't agree with the result computed (a list of tuples and numbers).

[code]

When `ucm` loads this, I see:
[code]

[2020-07-22 14:23] ceedubs commented on #1541
I'm running into a similar issue on Mac OS. It looks like it's trying to copy my `.Trash` directory and is hitting a permissions issue.

[code]

[2020-07-22 21:10] aryairani commented on #1541
If anyone has some time to implement the fix in my previous message, I'd be happy to have it :)

[2020-07-23 00:17] ceedubs commented on #1541
I'm hoping to be able to give it a try in the next couple of days.

[2020-07-23 18:21] #1541 closed

[2020-07-24 12:52] ceedubs opened #1634 "display.to persistently changes scratch file"
Using the `display.to` `ucm` command appears to have a stateful effect on the default scratch file. See the following session where `edit` uses `scratch.u`, but after I run `display.to doc.md Boolean.and`, a subsequent `edit` uses `doc.md` instead of `scratch.u`.

[code]

[2020-07-24 13:26] ceedubs opened #1635 "@[source] should probably preserve indentation"
I realized that trying to use Unison docs and `display` to produce readable Markdown docs runs into an issue if you use a `@[source]` to show the source of a term that gets rendered as more than a single line. This can be particularly annoying when an implementation seems like it should be a one-liner but renders with a `use` line.

For example, take the following method:

[code]

Now add a doc:

[2020-07-24 13:31] pchiusano commented on #1635
As a workaround for now, you can put the code in a fenced code block -

[code]

[2020-07-24 13:45] ceedubs commented on #1635
@pchiusano I had tried that but the closing triple backticks render on the same line as the last line of the item being sourced, so they don't actually end the Markdown code block.

I just checked and if you put put a blank line before the closing backticks you end up with an annoying trailing empty line in the rendered code block, but it's a suitable workaround.

[2020-07-24 13:53] pchiusano commented on #1634
That's unfortunate, thanks for reporting. I think the fix for this one is as simple as just deleting these lines in `doDisplay` -

https://github.com/unisonweb/unison/blob/trunk/parser-typechecker/src/Unison/Codebase/Editor/HandleInput.hs#L1838-L1841

The thinking there was just wrong... for `edit` command that behavior makes sense, but for displaying to a markdown file, that won't actually trigge

[2020-07-24 13:56] pchiusano commented on #1635
Ah, that's too bad.

I keep thinking that we might want to make the doc type more structured. Like even if you write in something Markdown-ish and that's the plain text rendering, it's actually parsed into a more structured thing that can be rendered to multiple targets easily.

[2020-07-24 14:20] ceedubs commented on #1635
@pchiusano that sounds like it could be cool, but it would fall low on my priority list. Markdown is pretty ubiquitous, so most people will probably be pretty happy with it.

A notable potential exception that comes to mind is linking to other terms within docs. I'm not sure whether that requires more structure than is currently present? Since they render with an underline when I use `display` I a

[2020-07-24 15:28] atacratic commented on #1635
I think this is a dup of #1256 ?  I did sit down to fix it a few months ago but then didn't...

[2020-07-24 15:41] ceedubs commented on #1635
Yes it is thank you @atacratic. I even searched for this issue before creating it! But I guess that I used the wrong search terms. Consider this ticket issue search optimization for anyone doing so in the future 😛.

Closing as duplicate of #1256.

[2020-07-24 15:41] #1635 closed, assigned to nobody

[2020-07-26 12:10] #1634 closed, assigned to nobody

[2020-07-26 15:49] ceedubs opened #1638 "display command doesn't handle absolute term paths"
The `view` command handles absolute references to terms (starting with `.`), but `display` does not. It does work if you are in the root namespace and drop the leading `.`.

[code]

[2020-07-27 10:42] #1070 closed

[2020-07-27 10:45] aryairani commented on #1638
A `Name`/`Path` overhaul is in early stages, but it should address this.

[2020-07-27 18:41] chiroptical commented on #1578
I recently came across a motivating example. Trying to implement red-black tree a-la Okasaki leads to a situation where you can't match on a tree's color, a trivial example:

[code]
leads to:
[code]
If you remove the pattern match on the color, the code compiles. In this case, it is pretty easy to workaround. However, if you want to implement `balance` it becomes quite tedious. I am on Unison mast

[2020-07-28 13:05] pchiusano commented on #1578
I've filed a separate issue (#1640) for that spurious pattern arity error (marked off topic above), since I just tried the same thing on an empty codebase and it's still happening. It looks like the cause is just some typechecking bug in pattern matching and it's definitely unrelated to suffix-based resolution.

[2020-07-28 13:09] pchiusano opened #1640 "Spurious pattern arity mismatch error when nullary patterns are involved"
[code]

Yields this error:

[code]

### Hacky workaround

If we switch `Red` and `Black` to be unary constructors then this typechecks fine:

[code]

So I'd likely stare at the pattern typechecking code and think through what happens when the pattern is nullary.

[2020-07-29 15:08] #1640 closed, assigned to nobody

[2020-07-29 21:49] seagreen opened #1643 "Consider standardizing extensions throughout every component"
It makes for one less thing to think about ("Can I use LambdaCase here? Or is that the other package?") which IMHO is important when development is already so mentally taxing.

I don't think it matters much which extensions you pick, eg the ones already in `parser-typechecker:lib` seem fine.

I'd be happy to make a PR for this if you decide it's worth doing.

[2020-07-29 22:18] aryairani commented on #1643
I would love this.  Is there a way to just have it in one spot though, instead of copied into every component?

[2020-07-29 22:28] seagreen commented on #1643
You can use common stanzas (https://cabal.readthedocs.io/en/latest/cabal-package.html#common-stanzas) to get the repetition down to once-per-cabal file, which I don't think is too bad.

[2020-07-30 00:13] aryairani commented on #1643
Is there anything nice you can do to share the settings across cabal files?

[2020-07-30 00:37] seagreen commented on #1643
Not that I know of. Maybe @mitchellwrosen has suggestions?

For now I made a PR for use to peruse that just has a note on each common stanza to keep them in sync throughout the repo: https://github.com/unisonweb/unison/pull/1644

I agree it would be better to have them in one place, but since there are only three I don't think this is too bad.

[2020-07-31 15:48] chiroptical opened #1645 "Use shadowing in a pattern match to override return type"
The following code compiles using branches `trunk` and `wip/rt2`

[code]

In Haskell, this would lead to `Conflicting definitions for ‘xs’`. It seems reasonable to mark this as an invalid pattern match.

[2020-07-31 18:25] aryairani commented on #1645
I am guessing that the rightmost position of a duplicated name is the one that actually gets bound.

[2020-08-03 00:57] aryairani commented on #1643
There are only 3 now, but I have a branch with like 20. 😬

[2020-08-03 16:28] seagreen commented on #1643
Oh goodness!

Each time this comes up I have to mention the using separate branches of the module tree for separating subprograms (eg https://github.com/purescript/purescript/tree/master/src/Language/PureScript, but you see this everywhere) is also an option.

And it has the advantage that tooling likes it better. Eg jump-to-definition works today in ghcide within a component.

However, I know the

[2020-08-03 16:30] seagreen commented on #1643
Also relevant, the compile time implications of separate packages: https://www.parsonsmatt.org/2019/11/27/keeping_compilation_fast.html

---

As far as this issue goes though, since we merged https://github.com/unisonweb/unison/pull/1644 should we close it?

[2020-08-03 17:25] aryairani commented on #1643
Yeah; recommend using "implements #xxx" or "fixes #xxx" as appropriate in the PR when it's directly paired to an issue like this was, so that it will close on merge.

[2020-08-03 17:25] #1643 closed, assigned to nobody

[2020-08-08 19:37] ceedubs opened #1646 "pull-request.create is awkward when the output is bigger than a screen"
What are others doing when the `pull-request.create` output is longer than their screen size?

For me the output opens in `less` (I think?), and I don't know of a convenient way to copy the entirety of the text to paste in a GitHub issue.

I tried doing `echo 'pull-request.create git@github.com:unisonweb/base:.trunk git@github.com:ceedubs/unison-dev:.prs._base.nelfoldl' | ucm | pbcopy`, but this e

[2020-08-08 20:27] ceedubs commented on #1646
In case it's helpful to anyone else, this is what I ended up doing:

[code]

[2020-08-08 22:46] aryairani commented on #1646
Oof yeah.  I guess I’d just page to the bottom using Spacebar and then scrollback to copy.  We have talked about calling pbcopy internally, but would still need to be careful about the escape sequences.

[2020-08-10 15:20] aryairani opened #1648 "random seed 5399549024366200317 of `name.segments` test failed"
`stack exec tests -- 5399549024366200317 "name.segments"`

fails in EasyTest.hs:
[code]

[2020-08-11 00:56] aryairani opened #1650 "some elements of Term base functor only valid in some parts of Term life cycle"
@pchiusano @dolio
WDYT about having distinct types for the different parts of the term life cycle, either using distinct base functors or by using type parameters to eliminate these later-meaningless values?  e.g. `IsTop` -> `()` and `(B.Blank typeAnn)` -> `Void`.

I believe `IsTop` is only examined in a couple of places, during type-checking:
1. In `Components.minimize` to determine whether or no

[2020-08-12 10:49] aryairani commented on #1648
685498532774196157 also failed

[2020-08-13 02:04] seagreen opened #1653 "Auto-format codebase"
When Unison started none of the Haskell auto-formatters were that amazing. So I understand why it's hand-formatted.

However, the latest generation of formatters are really quite good. I find [ormolu](https://hackage.haskell.org/package/ormolu) especially nice, though it doesn't really matter which one you pick. Sure, sometimes they make ugly decisions, but in return you get:

**(a)** A faster cod

[2020-08-13 20:05] sinanspd opened #1654 "Pure Functional Map Reduce"
Hello folks,

A few months ago we were having a conversation about Spark's limitation and how hard it is to work with in the Scala Gitter. Many of us agreed that a pure functional Map Reduce could benefit us all, and how starting with a clean slate we can prevent many of the pit falls Spark fell into. There have been a few attempts in Haskell to build this but they never reached the scale necessar

[2020-08-14 18:02] aryairani commented on #1653
I'd be interested.  How would we go about introducing such a thing, though?

Do we... pause development and reformat the whole codebase all at once?  (For PR diff readability purposes, it would be nice to have the big diffs behind us.)
Or reformat one file at a time, slowly, for a while?
One function at a time?
Git pre-commit hooks?

Re. `{- ORMOLU_DISABLE -}` do we need to audit each change for r

[2020-08-14 20:52] seagreen commented on #1653
:balloon:

It's definitely situational. In general though I like the "hit everything at once in one big PR" approach.

The extra commit touching every file in the codebase is annoying, but I think the gradual way is worse. You don't want every PR for the next 6 months to randomly contain formatting churn if it hits a file that hasn't been ormolu'd yet.

Using this strategy you'd wait until there a

[2020-08-15 11:34] jaredly opened #1656 "Feature/Idea: Automatic data serialization"
It would be fantastic to have (e.g. JSON) serialization/deserialization baked into the runtime, for ease of interfacing with other languages.
One question that comes up, of course, is what to do about names of attributes, variants, etc.. It might make sense to have two modes -- "generic" (hashes) and "specific" (human-readable names). Generic would be the preferred way when establishing e.g. an AP

[2020-08-15 16:05] mitchellwrosen commented on #1653
I'd be very pleased if Unison was hit by ormolu. As a contributor, it is _very_ hard for me to edit the code in such a way that the git diffs are as clear as possible. This is because I often have to move code around while digging into a problem to better understand it, even if by the end of it I'm only making a small tweak. So, it'd be a big, big time saver and headache-reliever :)

As far as how

[2020-08-15 16:24] seagreen commented on #1653
Great point, I may have been wrong to suggest hitting everything at once. Since it's open source how could we be sure there are no big outstanding patches?

[2020-08-16 16:31] #1332 closed

[2020-08-17 13:18] aryairani commented on #1653
**Ormolu (vs something else)?**

Ormolu sounds good to me.  There are no settings; we'll just learn how to read it.  If I understood @runarorama, @pchiusano, they also don't care about the choice of formatter, only that we don't have to think about formatting anymore.

**Hit everything at once?**

I think we should hit everything at once.  Formatting the codebase slowly will eventually reach the s

[2020-08-17 14:43] seagreen commented on #779
One (small) disadvantage of multiple packages is ending up with separate `default-extensions` sections that we have to keep in sync. @aryairani mentioned that a solution for that might be the new multiple-libraries-per-package cabal feature. I know support for it is janky in stack, but it's worth remembering it's there as an option.

[2020-08-17 14:54] seagreen commented on #1653
The blessed opinion.

Love the aggression. I'm fine with either.

This makes sense to me. Agreed you wouldn't always be able to tell by eyeballing.

Yeah, this is annoying for sure. Unfortunately passing `-o -XTypeApplications` is only option unless we remove `TypeApplications` from all the `default-extensions`, which would also be annoying.

[2020-08-17 19:34] aryairani opened #1658 "switch `Patch` to use `Map` instead of `Relation`"
We don't need the reverse index that Relation provides hanging out in memory.

We don't want to risk changing the existing V1 serialization format, so for simplicity, when constructing this PR, convert to/from a `Relation` using `Relation.toMultimap`/`.fromMultimap` before calling the serialization functions.

[2020-08-17 20:37] mitchellwrosen commented on #1653
I think you would want to put `TypeApplications`, `PatternSynonyms`, and the other handful of syntax-stealing extensions at the top of every file, if the codebase is meant to be formatted with `ormolu`. This makes it so contributors (presumably) only need to configure a hotkey in their editor to run `ormolu` over the current buffer, without being project-aware (e.g. oh this is a unison repo - need

[2020-08-22 01:07] mitchellwrosen commented on #1653
It does make sense to enforce this, I just meant if a slip-up is made, it's easily addressed at any time by formatting the whole codebase, seeing a diff, and pushing that to trunk. Of course, if it's an easy check to add to CI, then all the better.

[2020-08-23 01:34] atacratic opened #1660 "ucm uses CPU while idle - most time being spent in GHC RTS in scheduleDetectDeadlock"
Symptom:  I start ucm, and I see one of my CPU cores go to 40-60% and stay there.

If I pass `+RTS -I0` when I start ucm, then it goes away, so I think something's probably triggering/aggravating the issue described [here](https://gitlab.haskell.org/ghc/ghc/-/issues/13164): the GHC runtime system apparently has a tradeoff where it does GCs even when idle, as a form of deadlock detection.

Why it s

[2020-08-23 01:43] atacratic commented on #1660
Could also play about with RTS event logging: [more info](https://downloads.haskell.org/~ghc/latest/docs/html/users_guide/runtime_control.html#tracing), and [required link flag](https://downloads.haskell.org/~ghc/latest/docs/html/users_guide/phases.html#ghc-flag--eventlog).

[2020-08-23 02:10] aryairani commented on #1660
Crazy theory: I wonder what would happen if we just replaced all our `ByteString` with `ShortByteString`?  Maybe we're running afoul of some heuristic that tries to defrag ram to reduce the big usage of a big codebase?

[2020-08-23 13:31] pchiusano commented on #1660
Wow, good sleuthing @atacratic. Does the problem also disappear when pointing to a fresh codebase? If yes, sounds like same issue @runarorama was seeing.

[2020-08-23 14:22] atacratic commented on #1660
Yup!

[2020-08-23 15:15] atacratic commented on #1660
Here's the RTS event log, rendered in [threadscope](https://github.com/haskell/ThreadScope). (So this is now ucm built with `stack build --ghc-options="-g -eventlog" --no-strip` and run with `+RTS -l`)

![image](https://user-images.githubusercontent.com/21991324/90981217-a7e5eb80-e557-11ea-9254-af7670818339.png)

I've highlighted the row where it's about to spend 0.53 seconds on the GC *(which we

[2020-08-23 15:32] atacratic commented on #1660
... sorry, had to post the above and reboot.

Summary:
- We're doing deadlock-detection GCs (which seem to use at least some of the idle GC mechanism) every second, which are burning the CPU.
- Strongly suspected but not proved: it's the configurator check-for-updated-config-file update that is the trigger.
- From reading the RTS scheduler, it seems plausible that making a foreign function call tr

[2020-08-23 15:57] atacratic commented on #1660
Maybe this is the RTS working as intended.  [edit - I now think this is very likely]  The point of the idle GC is to do a GC after a certain period (0.3s) of idleness - better to do it while the system is idle and the user won't notice.  So 0.3s after the operation we're doing on a 1 second timer, we do a GC.

I wonder if it's possible to make background 'check for changes' type work not count for

[2020-08-23 19:23] aryairani commented on #1660
First off, thanks so much @atacratic for digging into this, I don't think we would've found this any time soon.

Some comments + things I would love to understand, although they shouldn't necessarily hold up the PR:

* Why does configurator use 1-second polling?  Isn't there some event-driven version?
* Does commenting out configurator also fix the issue?
* Is there something funny about our heap

[2020-08-23 19:36] mitchellwrosen commented on #1660
If this problem is fixed by disabling idle GC, I don't think it's the same one @runarorama was experiencing: https://unisonlanguage.slack.com/archives/CLG4P0GSD/p1594171198187100

[2020-08-23 20:08] aryairani commented on #1660
Hm, thanks @mitchellwrosen.

Side note, I have a codebase with the latest full `base`, and UCM version M1m is hovering between 0.0% and 0.1% CPU utilization; `trunk` `-O2` idles at 20–40%, `trunk` `-O0` at 25–55%.

This says to me that it's not exactly a problem of codebase size, even if that is a factor.

I'm running `git bisect` now.

[2020-08-23 21:30] atacratic commented on #1660
All good questions @aryairani :+1:

Idle GC seems like a misfeature to me.  Setting up repeating timers (for example for polling but not only that) is common in many applications.  I'd be surprised if ucm didn't sprout more as it grows, e.g. towards distributed operation.  Idle GC means that by default each timer pop ends up costing a prodigious amount of CPU.  It would be better if it was up to t

[2020-08-23 23:06] aryairani commented on #1660
Ok, so it was the addition of the `-threaded` flag in PR #1619 that activated the deadlock detection; which in retrospect, is the comments you quoted also say.  Also, ["The main purpose of the idle GC is not really to collect garbage, it's for deadlock detection."](https://gitlab.haskell.org/ghc/ghc/-/issues/13164#note_131013)

So do we want `-threaded` without deadlock detection, or not `-threade

[2020-08-23 23:17] aryairani commented on #1660
I noticed that even on an empty codebase, idle GC takes 0.5–1% of my CPU, as opposed to 0.0–0.1% without.

[2020-08-24 18:40] #1660 closed, assigned to nobody

[2020-08-25 15:11] aryairani opened #1663 "unknown data reference"
In 67bf4aed, evaluating this expression

[code]

gives
[code]

/cc @dolio

[2020-08-25 15:59] dolio commented on #1663
I see. This actually makes me realize that there is a second way some assumptions I made can go wrong. I think if you do:

    cases
      { a } -> ...
      { A1.e -> k } -> ...
      { A2.e -> k } -> ...

you will only get `A1` matches, because I look for a single reference for the type of a pattern. However, ability patterns match against 0 or more referenced types.

I'll work out a fix for thi

[2020-08-25 21:55] ChrisWellsWood opened #1664 "Type checker can't determine the types of functions in lambda expressions"
In certain circumstances, the type checker cannot determine the type of functions in lambda expressions. Here's the context that I noticed this bug:

[code]

Produces this error message:

[code]

But this compiles fine:

[code]

You can solve this problem like so:

[code]

Here's a link to discussion about this on [Slack](https://unisonlanguage.slack.com/archives/CLKV43YE4/p1598350209039600).

[2020-08-25 21:59] pchiusano commented on #1664
Yeah, type-directed name resolution (which is what's being used here) is somewhat limited - it basically only works if the surrounding context is sufficiently monomorphic to constrain the types.

Aside is you can say `Nat.*` regardless of your current namespace, due to suffix-based name resolution: https://www.unisonweb.org/docs/language-reference/#suffix-based-name-resolution

[2020-08-25 22:25] ahl opened #1665 "high memory use when idle"
I left `ucm` running on my Mac in a terminal window. After a few days it was using 12GB of memory.

[2020-08-26 01:26] runarorama commented on #1664
It seems like in this case the lambda should get a monotype before name resolution.

[2020-08-26 15:28] aryairani commented on #1665
Thanks for the report.  A fix is in the works for some high memory issues, but my gut feeling is that yours is something different.  Can you elaborate any more about your codebase and `ucm` session?

[2020-08-26 15:30] ahl commented on #1665
The "codebase" such as it is, is literally my first tinkering with Unison.

[code]

I should caveat this with: I have no clue what I'm doing with Unison and basically couldn't find any documentation.

[2020-08-26 15:33] aryairani commented on #1665
Would you attach your `~/.unisonHistory` as a [gist](https://gist.github.com)
too, after redacting any private information.

On Wed, Aug 26, 2020 at 11:31 AM Adam Leventhal <notifications@github.com>
wrote:

[2020-08-26 15:37] aryairani commented on #1665
Would you attach your `~/.unisonHistory` as a [gist](https://gist.github.com) too, after redacting any private information.

[2020-08-26 19:10] ArturGajowy commented on #852
Hi! I'm a big fan of you folks, and your work! That's why I thought I'd ask if you're aware of this year's ICFP paper that seems relevant:

"Signature restriction for polymorphic algebraic effects"

The authors present a well known (?) interaction between algebraic effects and polymorphism, making the mixture unsafe. They also discuss previously known solutions, and propose a novel, and quite a si

[2020-08-27 06:06] ahl commented on #1665
[code]

[2020-08-27 14:10] aryairani commented on #1665
Ok thanks.  So you did the `pull` command, and then you saved your program from https://github.com/unisonweb/unison/issues/1665#issuecomment-680953501, and then went away for a few days and came back to 12GB of memory usage?

But yes IMO `ucm` shouldn't occupy more than a couple MB once it's working correctly.

[2020-08-30 16:56] atacratic opened #1668 "Presence of an embedded self-referential doc value prevents propagation of updates to other docs"
Normally, when you update a term, references to it from other terms (including docs) get updated to point to the new version.

But that propagation process seems to fail when the term includes an embedded doc value which tries to refer to the term itself.

[code]

If you have a term with an embedded doc value that does this, then things turn chaotic later when you try to update things and get left

[2020-08-30 17:46] aryairani opened #1669 "feature request: unison syntax highlighting for emacs"
It should handle .u and optionally .uu files, and optionally a sub-mode for unison markdown files :)

[2020-08-30 17:47] aryairani opened #1670 "feature request: bash-completion support for ucm"
🙏

[2020-08-30 18:15] aryairani commented on #1668
Woof, that's a good one (and also a bug, btw), thanks for raising it.

It looks like it's not only impossible for a doc to reference a term being defined at the same time as the doc, it's _extra_ impossible for a term to contain a doc that references the outer term.

Apart from any parsing or name resolution issue that prevents the former, `Term.F.TermLink` stores a `Reference`, so by definition i

[2020-08-30 18:32] atacratic commented on #1669
What do we have already here?  I thought it was more than nothing, based on https://www.unisonweb.org/docs/editor-setup/#emacs

[2020-08-30 20:32] aryairani commented on #1669
Whoops, thanks @atacratic & @dariooddenino.

[2020-08-30 20:32] #1669 closed, assigned to nobody

[2020-08-31 10:19] atacratic commented on #1668
Throwaway note written from a position of ignorance: maybe the reference-to-self embedded within a doc value could work in the same way as a recursive call?  i.e. treat the `@foo` inside
[code]
similar to the `bar` inside
[code]

[2020-08-31 16:34] aryairani commented on #1668
Yes, it would need to work similarly to that.

[2020-08-31 23:44] ahl commented on #1665
@aryairani yes, that's right. I don't know if it's relevant, but I created a program with two mutually recursive functions in an attempt to see what a stack overflow looks like in Unison. I ^C'ed before stepping away.

[2020-08-31 23:58] aryairani commented on #1665
Hmm, it's conceivable that it somehow continued to run despite the ^C.  I tried leaving a session running for a few days too (not running anything, and also it was Linux, not Mac) but didn't see the leak you did.

Still, terminated tasks should not continue to consume memory.  If you can reproduce it, that would be great; otherwise we'll just keep an eye on it.

[2020-09-08 21:50] pchiusano opened #1672 "Software transactional memory proposals"
@dolio would like your thoughts on this

## Version 1

This version might be hard to implement if the interpreter is in `IO`. The above interface also technically allows mixing `STM` in with other abilities, even though `atomically` doesn't allow this (I think for good reason - imagine mixing `STM` with nondeterminism...).

[code]

Another alternative is to represent STM computations as values, an

[2020-09-09 15:28] dolio commented on #1672
I've been thinking about this, and I think option 1 might be possible to implement. It's true that the runtime is using all sorts of mutable `IO` stuff, but it's actually all thread-local. So, I think it might be okay for `atomically` to sort of checkpoint, and make a temporary copy during the transaction. As long as the copy happens for every trial of the transaction, I think that'd work out all

[2020-09-09 18:50] pchiusano opened #1673 "Edit tests + CI to run with old and new runtime"
And hook up to CI. This will be important when we open up PRs to adding new builtins to the runtime.

Old IO tests can probably be deleted if it's annoying to deal with them, since old runtime isn't going to be maintained going forward.

[2020-09-09 18:54] #1613 closed

[2020-09-11 00:06] stew opened #1675 "Parenthesis ignored when defining ability type signature"
I've had trouble trying to define a handler which returns a function:

    ability Bar where fun : Nat -> (Nat -> Nat)

produces:

     ability Bar where fun : Nat -> Nat ->{Bar} Nat

but should produce:

     ability Bar where fun : Nat ->{Bar}(Nat -> Nat)

[2020-09-11 00:08] stew opened #1676 "Possible pretty-printing issue related to #1675"
When we try to overcome the issue in #1675 with a more explicit type:

    ability Bar2 where fun : Nat -> {Bar2}(Nat -> Nat)

this produces:

    ability Bar2 where fun : Nat ->{Bar2} Nat -> Nat

but we think this is a pretty-printing issue, because this works:

    bar2handler = cases
     { Bar2.fun a -> k } -> handle k (x -> x + a) with bar2handler
     { a } -> a

(which tells us that the ari

[2020-09-11 01:36] anovstrup commented on #1676
@stew Are those declarations different? I would expect the function type constructor `->` to be right-associative, so that those two would be identical.  The pattern arity is presumably determined by which argument requires the `{Bar2}` ability.

[2020-09-11 01:55] anovstrup commented on #1675
I'm not sure this is a bug. Owing to right-associativity, `ability Bar where fun : Nat -> Nat -> Nat` appears to be treated the same as `ability Bar where fun : Nat -> (Nat -> Nat)`—both are interpreted as `ability Bar where fun : Nat -> (Nat ->{Bar} Nat)`, following the default that the ability is only needed for the final `->`.  In cases where that default is inapplicable, I think you've got to

[2020-09-11 14:44] pchiusano commented on #821
Also possibly same issue:

[code]

[code]

Changing the watch expression to this works fine:

[code]

This demonstrates that the problem is in decompiling the function inside the `Some` to print it back to the user. In the new runtime, we get the message "decompiling a captured continuation" but no crash.

I'd like to just have decompilation always work, even if it's a continuation and we have to

[2020-09-16 01:58] jaredly opened #1678 "Another hang while type-checking code"
might be the same as #1567
[code]

Workaround: add an annotation to `some` (in this case, `Unit ->{} Unit`).

[2020-09-17 11:59] osfameron opened #1679 "Feature: search for abilities"
If you don't know the names of abilities it's hard to search for them.

e.g. These don't work:

[code]
This means, if you don't know the name of an ability, it's hard to search it.

For example, I assumed Optional was an ability. Without asking/reading docs, how would I find that I actually wanted `Abort`?

Similarly, I was looking for `Store` but searching for `State` didn't find it.

*Workaround

[2020-09-17 16:10] aryairani commented on #1679
Hi @osfameron — this is probably doable, but I think there's an underlying problem that this won't solve. For example, if you were looking for `Maybe` without asking/reading docs, how would you find that you actually wanted `Optional`?

Maybe there's something more we can do, to allow searching for subtypes or supertypes of a query, which would enable a search for `Optional a ->{e} a`. /cc @pchius

[2020-09-17 16:29] osfameron commented on #1679
That's interesting @aryairani! As Unison has structural typing, you could quite reasonably want to search for something that looks like `type Foo a = Foo a | Bar` ?

Again, I can't see a way to get `find` to search that (though if you define it, then `ucm` will tell you "(also named Optional)"

[2020-09-20 03:06] jaredly opened #1681 "Ballooning file size when making a single edit to a leaf-node term outside of the "current" namespace"
[code]

[2020-09-20 14:42] jaredly commented on #1681
ooooh I figured out the issue. editing something in a sub-namespace is what triggers the bug.
if you do `cd example` and then `edit counter` and do the change & the update, it doesn't trigger the issue.

[2020-09-20 16:56] aryairani commented on #1681
Yeah, this is pretty bad; a major fix (or at least change 🤪) is in the works though.

Btw, check out transcripts if you haven't already; good for demonstrating reproducible behavior: https://github.com/unisonweb/unison/blob/trunk/unison-src/transcripts/hello.md and its source at https://raw.githubusercontent.com/unisonweb/unison/trunk/unison-src/transcripts/hello.md

Eventually this info should be

[2020-09-20 23:07] jordanemedlock opened #1682 "List.foldl defaults to Set.foldl when List.foldl is not available."
Trying to use `List.foldl` type-checked as `Set.foldl` when I was trying to use it in a `sum` function.

After trying to add this code to the codebase:

[code]

I got the error message:
[code]

Which didn't make sense because I was explicitly namespacing `foldl` with `List`.  Going back, I realized that I had previously renamed `List.foldl` to `List.foldLeft`.  Fixing that fixed the issue.  Howeve

[2020-09-21 13:38] pchiusano commented on #1682
Definitely a bug, thanks for reporting. Tentative guess is that this is falling back to TDNR which I believe (incorrectly) only looks at the last segment of the identifier. I don't think this is an issue with suffix-based resolution (but could be wrong).

[2020-09-21 13:51] aryairani commented on #1682
I was able to reproduce the issue with this transcript:

[code]

[code]
[code]

[2020-09-21 13:54] aryairani opened #1683 "transcript runner gives confusing error when current path is missing from transcript"
[code]

[code]

It took me a minute to realize that `>` should have been `.>`.

[2020-09-21 18:31] aryairani opened #1684 "support suffix-based resolution for ucm `docs` command"
We missed this functionality during the [Unison Lambda Lounge](https://www.youtube.com/watch?v=RDX8BexQa78&ab_channel=LambdaLounge)! /cc @osfameron

[2020-09-22 16:51] aryairani opened #1686 "ability handler inferring universally quantified type arg"
In
[code]
the inferred signatures for `didItWork` and `didItWork.handler` are too general, not mentioning `Abort`, even though the definition pattern-matches on it:
[code]

If I add this the type signature `didItWork.handler : Request Abort v -> Text`, then `didItWork` is also correctly inferred to eliminate the `Abort` effect.
[code]

[2020-09-22 16:57] aryairani opened #1687 "don't use illegally-named type variable `()` in delayed computation type"
e.g. `foo : ∀ () 𝕣. () ->{Abort, Stream Nat} 𝕣`

suggest: `Unit ->{Abort, Stream Nat} r` (even if `Unit` is rendered as `()`)
or `forall a. a ->{Abort, Stream Nat} r`

[2020-09-22 17:04] aryairani opened #1688 "sometimes silent no-op on `add`"
Given:
[code]

[code]
For reasons that are not clear to me, the first two attempts to add `Thing` to the codebase didn’t do anything.  I would have guessed the first attempt would work, perhaps silently ignoring (or possibly complaining about) the extra identifier `type`, or that the second attempt would work, but as you can see from this output, it’s only the bare `add` that resulted in an actual

[2020-09-22 18:10] sullyj3 opened #1689 "Crash for ill typed program"
ucm version: release/M1m

The following scratch file is incorrect:
[code]

Since the definition of `withDefault` should have `def` at the end. With the watch expression active, this causes a crash in ucm:

[code]

It works fine with the correct definition for withDefault. Seems related to #821 and #853?

[2020-09-22 20:37] pchiusano commented on #1675
Going to close this one as "as designed" (the parentheses are invisible to the parser and I don't really want to mess with that) but I think the language reference could use a note on the limitations of the algorithm for adding the ability braces to the signatures: https://www.unisonweb.org/docs/language-reference#user-defined-abilities-1

Something like: "If the rightmost function arrow of the si

[2020-09-22 20:37] #1675 closed, assigned to nobody

[2020-09-22 20:40] #1559 closed

[2020-09-22 20:52] #1055 closed

[2020-09-22 20:55] #1017 closed

[2020-09-23 17:05] pchiusano opened #1692 "WIP: HTTP client builtins"
DRAFT, in progress, a mess right now.

Working on API for HTTP, HTTPs clients.

[code]

Questions:

* Not sure how to implement in new runtime. Maybe put these in `IOSource`?
* What about HTTP2? Could we just have this do the right thing? (Server can switch the client to HTTP2 for a connection)
* Can we have this "just work" if the url is https? That would be ideal.
* Redirects?

/cc @stew

[2020-09-23 17:28] aryairani commented on #1692
Awesome!

Some thoughts off the top of my head:
* Probably won't matter any time soon, if ever, but note that custom HTTP verbs are a thing some people want. 😐
* the media type has more structure, if we want to explicitly support that

/cc @rossabaker — I know it will look different in Unison than in Scala, but any thoughts? :)

[2020-09-23 18:10] pchiusano commented on #1692
I think @stew has more thoughts on this too, we just discussed offline. But quick summary is will likely just have a builtin TLS implementation (binding to Haskell tls library) and a pure unison http library that uses the tls library plus tcp sockets.

[2020-09-23 18:15] stew commented on #1692
Here are some of my thoughts:

- I think having a client that "just works" with "http://" vs a "https://" is something that is expected for an http client these days. I think that it is also expected that you should be able to configure the TLS engine when you are creating a  TLS handler, for example, I should have the equivalent of curl's -k, and I should be able to give it a custom list of CA ce

[2020-09-24 01:07] pchiusano opened #1693 "TLS builtins proposal"
Mostly following the [tls Haskell package](https://hackage.haskell.org/package/tls-1.5.4/docs/Network-TLS.html) API, which will be what's backing this.

Kind of interesting is that the API is the same for the client and server, you just specify different config to initialize the `Tls` in each case.

[code]

### Configuration

For the configuration API, there's reasonable defaults and a LOT of opti

[2020-09-24 01:29] pchiusano commented on #1692
Okay, great, so sounds like we're leaning toward: HTTP(S) client library is pure Unison, rather than builtin, but it uses TCP sockets (already in IO) and a to be written builtin TLS implementation (see #1693) for the HTTPS part. We just focus on HTTP 1.1 for now since HTTP2 is like 50x more work and isn't needed right away. I'd guess an HTTP2 client could still be pure Unison though and maybe some

[2020-09-24 02:13] aryairani commented on #1692
If [this "cat"](https://howhttps.works/https-ssl-tls-differences) is to be believed, then:

but I'm hesitant to trust anything without a torso.

[2020-09-24 04:37] rossabaker commented on #1692
So, http4s has constants for every method in the [IANA registry](https://www.iana.org/assignments/http-methods/http-methods.xhtml) as well as support for custom methods.  It's good to be permissive as a client, because someone will eventually need to call some arrogantly verbed API.  The specs slowly add new ones, so modeling it as a sum type now means breaking changes later.

But this is Unison,

[2020-09-24 14:42] pchiusano commented on #1692
Cool, thanks @rossabaker. In that case I might just do:

[code]

[2020-09-24 15:39] rossabaker commented on #1692
If you want to be a standards pedant, there are strings that aren't valid HTTP methods, and you might consider `Text -> Optional Method` smart constructor.

[code]

In Haskell, I've been experimenting with pattern synonyms for things that are intuitively sum types today, but need an escape hatch for futureproofing or other weird shit.  I don't know whether Unison has anything of the sort, but it's

[2020-09-24 16:39] stew commented on #1693
This looks good so far!

The settings I think the settings I'm mostly likely to want to get at specifically are:

How to get it to trust my own CA, so one can issue their own certificates:

https://hackage.haskell.org/package/x509-store-1.6.7/docs/Data-X509-CertificateStore.html#t:CertificateStore

And unfortunately, how to relax the strictness of what certs we are willing to accept:

https://hack

[2020-09-24 16:50] pchiusano opened #1694 "Hashing and HMAC builtins proposal"
Will start with an example usage:

[code]

Here's the API.

## Hashing

These would go in a new namespace, `crypto.hash`. Based on https://hackage.haskell.org/package/cryptonite-0.27/docs/Crypto-Hash.html.

[code]

We'd have very similar functions for `Sha3_256` and other hashing functions we want to support. No fancy types. If you want to abstract over the hashing function, you can do so with pur

[2020-09-24 17:04] stew commented on #1694
This looks good, but I'm skeptical of how one would implement `append` that is universally quantified on `a`. In the haskell Library this is accomplished by relying on a typeclass to provide an image of `a` as a byte array, right?

[2020-09-24 17:27] pchiusano commented on #1694
@stew Unison can support universal hashing for all types, much like it can already support universal equality and ordering. 😀

[2020-09-25 22:30] pchiusano opened #1695 "Typechecker hang in this example"
Possibly same as or related to #861

[code]

This hangs during typechecking and leaks memory.

[2020-09-27 13:15] fboeller opened #1696 "IO ability not inferred"
The watch expression in this code successfully evaluates, although it requires the `IO` ability. It prompts once for a line during the evaluation of the watch expression and then keeps this result, even after closing and opening the UCM session. The inferred type of `dialog` is just `Text` but should be `{IO} Text` and therefore should be rejected.

Code:
[code]

Output of UCM on file save after e

[2020-09-27 19:28] pchiusano opened #1697 "IO.putBytes, Text.toUtf8, Text.fromUtf8 builtins"
Let's add the following:

[code]

### Question: should we just remove `putText` entirely?

`putText` is not really a thing for file handles... what is the encoding? UTF8? UTF16? Something system specific?? "Something system specific" seems like a bad answer: there's no need for writing to a file handle to invoke magic system environment state to do its job.

If default encodings are a useful thing

[2020-09-27 19:37] samgqroberts opened #1698 "Viewing a record type in `ucm` does not provide information about argument names"
Let's say I have a record type that I've `add`ed to `ucm` based on this definition:
[code]
Thereafter if I try using `find` and `view` I cannot retrieve information about the argument names that the record type was created with (here, `width` and `height`).
[code]

I believe the desired solution here may be to update the outputs of `view 1` (and perhaps `view 2`) in this example to provide informa

[2020-09-27 20:10] aryairani commented on #1697
Same conclusion here.  Any "default encoding" stuff would just use `io2.putBytes`.

`putText` doesn't make sense IMO, unless that's just a name that we use instead of `putUtf8`.

Other encodings can be built on top of `putBytes` and `getBytes`.

[2020-09-27 20:16] aryairani commented on #1698
I guess ucm could regenerate getters and setters for a type, find their hashes, see if the hashes exist in the namespace, see what names they already have; and then if all the pieces are in place, pretty-print the type with record declaration syntax.

[2020-09-27 22:59] pchiusano commented on #1698
There is already some logic for this in the pretty printer and I have seen it work before. So I am not sure why it's not working here.

[2020-09-28 18:48] pchiusano commented on #1697
@stew is going to work on this, using latest instructions for adding builtins.

Let’s just delete the putText, getText builtin functions per the discussion above.

[2020-09-28 19:50] pchiusano commented on #913
@aryairani noted on https://github.com/unisonweb/unison/pull/1700#issuecomment-700190633 that we might want to use abilities to track incomplete pattern matches. Some ideas:

* We have a type that's isomorphic to `Abort` or `Exception` which becomes part of the type automatically if you don't fully match the pattern.
* You just get a type error if you don't have full coverage.
* Maybe some syntax

[2020-09-29 03:02] sullyj3 commented on #913
This is cool, like a better version of MonadFail that's applicable to all pattern matches, rather than just the ones in do blocks.

[2020-09-29 23:46] chiroptical commented on #1684
@aryairani Is the goal here that given the following code

[code]

`docs example` in ucm should print the docs without linking? Do you expect folks to ever want something like `example.doc.example{1,2,3}`?

[2020-10-02 02:01] pchiusano commented on #798
Playing with this some more, you need to have `pin` require the ability. Also, I realized this has nothing to do with `Remote` specifically, it's just a general scoping mechanism that prevents you from using tagged values outside of some lexical scope.

Here's a working example. Switching the nomenclature a bit. You'd want `Local` and `Scope` to be opaque for maximum safety.

[code]

Yields:

[cod

[2020-10-03 06:02] greenhat opened #1707 "UCM gives no feedback(empty prompt) while processing the following code"
UCM version: release/M1m

When the following code is saved in the "watched" file UCM just updates an empty prompt without any output.

Code:
[code]

[2020-10-04 20:56] atacratic commented on #1184
Another gremlin, not sure if the same or different.  No abilities involved this time, at least not as far as I can see.

The following correctly fails to typecheck:
[code]
...but if I remove the type annotation on `q` it typechecks, giving `q` the same type as I gave it before:
[code]

[2020-10-04 21:25] pchiusano commented on #1184
If you leave off the signature the parameter is inferred polymorphic, so makes sense that typechecks. But I'm guessing for the signature it uses () as the parameters type. And then there's an inconsistency in when the prettyprinter shows that delay syntax. Like maybe it is just keying off the var name.

Maybe 'a should just mean () -> a at both the term and type level.

[2020-10-05 12:07] kutyel commented on #793
@runarorama can I possibly work on this issue this month? 😄

[2020-10-05 15:02] runarorama commented on #793
@kutyel go for it!

[2020-10-06 18:21] pchiusano opened #1709 "New runtime doesn't load needed transitive dependencies for execution"
Here's a simple failing transcript. It runs a watch expression that depends indirectly on some hash, and that hash isn't loaded. It looks like it is only loading the immediate dependents of the terms being evaluated:

[code]

[code]

[code]

This fails with -

[code]

Where the `#a6au3` hash is the hash of `id`.

[2020-10-06 22:48] #1709 closed, assigned to dolio

[2020-10-07 13:48] pchiusano opened #1711 "New runtime fails with "Blank" when evaluating this watch expression"
Here's a transcript:

[code]

[code]

This fails when evaluating the watch expression with:

[code]

What is `"Blank"` in quotes like that?

[2020-10-07 14:12] pchiusano commented on #1711
### Workaround

Dan suspected this was related to pattern matching on booleans, and this program doesn't manifest the issue:

[code]

[2020-10-07 16:41] pchiusano opened #1713 "Add tests for Bytes base16/32/64 encoding and decoding"
#1712 adds new primitives for `Bytes` encoding and decoding (to and from hex, base 32...). It needs some more tests.

I'd suggest adding the tests to a new transcript, patterning it after the tests in `hashing.md`.

[2020-10-07 16:46] pchiusano opened #1714 "Universal hashing and HMAC implementations"
These are stubbed out and have type signatures but are currently unimplemented:

[code]

I wanted to do some refactoring of how foreign data types are handled before implementing this, and also it needs to have a story for how continuations are hashed (which is probably similar to how continuations get serialized). I thought it was out of scope for #1712 so punted it to this issue.

[2020-10-07 17:51] pchiusano opened #1715 "Switch to unpinned byte array type in `Bytes` implementation"
The `Bytes` type is a finger tree of some byte array type that uses [this interface](http://hackage.haskell.org/package/memory-0.15.0/docs/Data-ByteArray.html). `Data.ByteString` is an instance, but that uses pinned memory.

I'd like to switch to something unpinned. It looks like `Block Word8` uses unpinned memory and would be a good representation. It already has instances of `ByteArray` too.

[2020-10-07 18:08] pchiusano commented on #1715
Disregard, this turned out to be trivial. It's in #1712.

[2020-10-08 00:34] pchiusano opened #1717 "How should universal ordering functions behave for Float"
Discussion with @dolio. Currently the new runtime represents unboxed doubles with ints and uses Int comparison when comparing unboxed doubles. Question is whether bitwise casting a Double to an Int and comparing the Int gives the same results as comparing the doubles directly. (Ignoring NaNs for a minute)

This issue is a question to look at IEEE float layout and see if it gives same results. Does

[2020-10-08 00:42] dolio commented on #1717
For reference, I think it's not too hard to make it so that comparing boxed `Double` values actually uses the floating point comparison. The difficult part is if you expect arbitrary bytes packed into a partially applied function's closure to work like doubles.

I think also this might currently be kind of an academic concern, because I don't think there's any way to partially apply something to u

[2020-10-08 04:54] aryairani commented on #1717
Ignoring NaN and ignoring +0 == -0, they are lexicographically ordered same as ints.  Not sure about endianness.

https://people.eecs.berkeley.edu/~wkahan/ieee754status/IEEE754.PDF

the same format are ordered ( say x < y ), then they are ordered the same way when their bits are reinterpreted as
Sign-Magnitude integers. Consequently, processors need no floating-point hardware to search, sort and w

[2020-10-08 10:37] mzaks commented on #1717
Endianness does apply for floats same as for ints. If there is a sequence of more than one byte, you can write them either from left to right or right to left 🤷‍♂️. And as nobody uses quarter precision floats (8 bit), endianness is always an issue.

Comparing bytes directly works AFAIK for non special cases. Special cases being `0 / -0`, `NaN`, `+Inf`, `-Inf`. With zero there are "only" two repres

[2020-10-08 13:50] pchiusano commented on #1717
I don't think endian-ness is relevant. If you use an Int comparison, that will compare the bytes from most significant to least. Unless the byte order of ints and floats is swapped from each other it should work out, right?

I'm actually curious what other languages do for float sorting. Do they preserve the bizarre partial order behavior and then things silently break if you use a float as a key

[2020-10-08 14:19] pchiusano commented on #1717
FYI the Haskell `Ord Double` instance is a partial order and breaks the `Ord` laws to preserve IEEE float comparison behavior. Not sure I agree with this... see [this discussion](https://stackoverflow.com/questions/19809908/haskell-comparing-nan-values).

[2020-10-08 15:07] mzaks commented on #1717
@pchiusano Swift has the same approach:
https://github.com/apple/swift/blob/main/stdlib/public/core/FloatingPoint.swift#L98

Also there is documentation for total order comparison:
https://github.com/apple/swift/blob/main/stdlib/public/core/FloatingPoint.swift#L1121

[2020-10-08 15:14] mzaks commented on #1717
Also here is the implementation of `func isTotallyOrdered(belowOrEqualTo other: Self) -> Bool`
https://github.com/apple/swift/blob/main/stdlib/public/core/FloatingPoint.swift#L1980

[2020-10-08 15:46] mzaks commented on #1717
Maybe this is also interesting. I tried to find how Rust handles order and float numbers and stumbled upon this stackoverflow question:

https://stackoverflow.com/questions/26489701/why-does-rust-not-implement-total-ordering-via-the-ord-trait-for-f64-and-f32

[2020-10-08 17:42] dolio commented on #1717
Perhaps a related question is: what is universal ordering for?

Is it for having an arbitrary ordering on (nearly) every type so that it can be used for things like map keys? A lot of things are automatically going to end up that way regardless.

If it's expected to match some more meaningful ordering for some types, why? Is it because we lack a better story for overloading? That seems like a _bad

[2020-10-08 18:27] pchiusano commented on #1717
In general I think it's useful to have a default ordering available which is often what you want. Saves you writing a bunch of boilerplate in those cases. Same reason that `deriving Ord` is nice in Haskell.

The specific mechanism in Unison of universal functions that work on the structure of the values is... not that great, for some of the reasons you mention.

I'd like to figure out a better sto

[2020-10-08 20:03] #1694 closed, assigned to nobody

[2020-10-08 20:03] #1715 closed, assigned to nobody

[2020-10-10 17:32] FintanH opened #1721 "Misleading error message"
**Version**: ucm version: release/M1m

I had the following program:
[code]

it gave back the following error:
[code]
where `"Fintan"` was in red.

I realise my mistake was that the `fintan` function should have ignored the first argument -- `fintan _ = greet "Fintan"`, but the error message didn't help me find that out.

[2020-10-11 06:17] aryairani opened #1723 "add new-runtime flag to `ucm -help`"
Right now you have to read the source to find the option.

[2020-10-11 06:19] aryairani opened #1724 "handler weirdness?"
Feel free to rename!

In @chiroptical's [gist](https://gist.githubusercontent.com/chiroptical/765394319a2b8768ca99246141553741/raw/08cfca8cedad9f3480ad5829b7ac945974282ab8/scratch.u), `Stack.three` ~seems to give an incorrect result in the old runtime, and~ crashes the new runtime.

[2020-10-11 16:18] Ninlives commented on #1502
Still crash, any progress or workaround?

[2020-10-11 17:31] pchiusano commented on #1502
@Ninlives I don't think there's much we can do about the repo that's missing that hash (it's literally just missing a definition), but I think @aryairani's new codebase format he's working on will have much better reporting and handling of this sort of thing.

I guess there's a question about whether this condition should just get logged with a warning or if it should stop the `pull` process.

My

[2020-10-11 20:07] atacratic commented on #1672
Will there be an equivalent of [`unsafeIOToSTM`](http://hackage.haskell.org/package/base-4.14.0.0/docs/GHC-Conc.html#v:unsafeIOToSTM)?  I think there ought to be (one day at least), otherwise some valid stuff becomes impossible: cases where you need to get some external input in order to work out how to complete your STM transaction, but you don't know _what_ input until you're halfway through the

[2020-10-11 20:12] anovstrup commented on #1724
The old runtime is behaving correctly — it's the handler that's buggy. It handles the pure case by returning the stack state (i.e., `_ -> acc`) rather than the result of the stack computation (i.e., `{ x } -> x`).

[2020-10-11 20:13] anovstrup commented on #1724
The signature for `Stack.run` is also too narrow. It could be `Stack.run : '{Stack List a} b -> b`.

[2020-10-11 20:18] anovstrup commented on #1724
The crash in the new runtime may have to do with using a catch-all (`_ -> ...`) rather than a pure case (`{ _ } -> ...`), but I haven't checked this.

[2020-10-11 20:56] anovstrup commented on #1724
The (also buggy) program below crashes the new runtime with
[code]

[code]

The crash goes away if the catch-all is replaced with a pure case.

In the old runtime, the version with the catch-all evaluates the watch expression to the surprising value `Some [1]` (because the Stack.run handler handles the `abort` in the catch-all case).  It also evaluates to `Some [1]` if the `Stack.get` is replaced

[2020-10-12 03:01] aryairani commented on #1724
🤦🏻‍♂️ Thanks @anovstrup! /cc @chiroptical.

[2020-10-12 03:19] aryairani commented on #1502
@Ninlives This ticket was from an older release, M1l, and I believe (80% confidence) the latest binary release, M1m, no longer crashes for this particular reason.

The next release should handle this even more kindly.

[2020-10-12 13:41] FintanH opened #1725 "Ability mismatch error"
**Version**: release/M1m

Admittedly, I had a few issues in the following code but it led me to a pretty gnarly error that didn't really guide me in fixing the issue.

While playing around with the abilities guide I wrote the following code:
[code]

I then tried to use it: `provide "Bob" '(greet)`, but what I had not realised was that I had already defined a `greet` as follows:
[code]

This ended

[2020-10-13 09:10] Ninlives commented on #1502
@pchiusano @aryairani thanks for your response, and yes the M1m version works fine. For nix users: until the version in nixpkgs is updated, you can install the more recent version form [unision-nix](https://github.com/ceedubs/unison-nix)

[2020-10-13 17:44] #1697 closed, assigned to stew

[2020-10-14 17:15] pchiusano opened #1728 "Code serialization builtins"
**See [this comment](https://github.com/unisonweb/unison/issues/1728#issuecomment-712426285) for the latest design.**

The rest of this comment was the starting design and can be ignored unless you're just interested in following along with the design process that led to the above.

---

Here's an API sketch for primitives for shipping code around at runtime. This would be used as a building block

[2020-10-14 17:21] pchiusano commented on #1728
@dolio I'm not totally clear on whether we even care about type dependencies, or if we just care about term dependencies. Like if Alice sends Bob a function `f` that references the `Foo` type, does Bob need a copy of `Foo`? Or does he just need a copy of the other functions that `f` references?

I think I might have answered my own question - the runtime will probably need to know at least the ari

[2020-10-14 18:20] dolio commented on #1728
So far I've been operating under the assumption that anything that would require knowing about constructor arities and whatnot would already be done before getting to the level that this `Code` type exists at.

However, I'm not certain that the various 'works for everything somehow' operations don't need to know about types.

What would cause `Code.load` to return `None`?

[2020-10-14 19:13] pchiusano commented on #1728
I was thinking it's when one of the dependencies of the code hasn't been loaded into the local cache. But that seems funky... like this API doesn't even have any way of loading anything into the cache. It's also kind of weird that the cache is this external thing. What if we instead make the cache explicit? (So the user can manage it themselves). Now I think you can get away without even mentionin

[2020-10-14 19:44] dolio commented on #1728
Possibly the `Cache` thing could work.

Another question is what `Code` is supposed to be. It doesn't make sense to assume that every value has a readily available 'source code' form that makes sense to turn into a definition that can be referenced. So this design seems to be conflating multiple notions.

Not just `MCode`. There is a bunch of processing that happens before that stage, and at some

[2020-10-14 20:12] pchiusano commented on #1728
That's right. It's not Unison source code. It's just some intermediate representation which runtime values can be converted to/from, that can be serialized, and that has a way of enumerating dependencies. (Maybe `Code` is a bad name and we should call it `IR` or something?).

That sounds nice! Basically, you can have `Code` correspond to one of those intermediate stages that has already baked in a

[2020-10-14 20:29] atacratic commented on #1728
Just elaborating on @dolio's point here:  is the argument to `Code.code` being used as a value or a term?  Or to put it another way, is `Code.code (2 + 2)` equal to `Code.code 4`?  If not, then you lose the `x = y implies f x = f y` property not just for `Code.code` but potentially any function than invokes it.  Basically `Code.code` has some metaprogramming quasiquoting stuff going on inside, but

[2020-10-14 20:30] dolio commented on #1728
I still think there needs to be a `Code` and a `Value` type that are separate. Values reference code, but aren't necessarily equivalent to code.

If the `Cache` is going to be explicit, too, it probably doesn't make sense for `code` to not take a `Cache` argument, either.  But then I'm not sure if it's really a good idea, because it means you could try to get a serializable value from a `Cache` th

[2020-10-14 20:34] atacratic commented on #1728
Maybe that bit was wide of the mark.  Maybe the problem is if `Code` supports equality comparison.  But then `Universal.==` is meant to cover everything...

[2020-10-14 20:44] dolio commented on #1728
@atacratic You don't have to worry about `2+2` producing a different thing than `4`, at least. This isn't like a quoting mechanism.

The problem is more like `f 2` where `f x y = x + y`. The runtime value will be a closure representation that references `f` and a representation of `2`. This closure representation is not the same thing as `g` where `g y = 2 + y` or something that makes sense to tre

[2020-10-14 20:48] atacratic commented on #1728
@dolio ah OK, maybe the penny is dropping, thank you.

When would you have a value but not have all its dependencies?  Is it only after a `Code.load`?

Other stuff:
- Is `Code.dependencies` returning the full transitive dependencies, or just one level?  Hopefully the latter as the former would be hard to scale well.
- if `Code.isMissing` returns true, what clues does the caller have about where to

[2020-10-14 20:54] dolio commented on #1728
The intention is to allow some amount of the protocol for migrating values to be programmable. So, if you did `deserialize` to get a value/code, you might not have all the dependencies, and need to negotiate with wherever you got the bytes from to get what you're missing. I guess in general you could use this to write protocols where you're told to contact a third party as well.

[2020-10-14 21:47] pchiusano commented on #1728
Simplifying after discussion with Dan. No first-class cache and separating `Code` and `Value`. Still TBD on handling insertion into the cache. We thought it would be nice to have it fail if the `Code` you are inserting has missing dependencies not found in the cache, but then realized that might not work when inserting elements that are part of a cycle. Going to do some more thinking on how to han

[2020-10-15 13:45] pchiusano commented on #1728
@dolio I think just have a batched cache insert:

[code]

And don't even bother with the single-element version (it can be defined in terms of the above).

I imagine you'd just collect up a big ol' list of all the missing dependencies and load them all in one go using the above function. This avoids you needing to do anything special to deal with cycles.

[2020-10-17 00:26] #1542 closed

[2020-10-19 20:34] pchiusano commented on #1728
Okay, here's a final draft, synthesizing all of the above:

[code]

[2020-10-19 20:41] dolio commented on #1728
I think that all looks sensible.

[2020-10-19 22:42] samgqroberts opened #1731 "Naming a cases branch variable the same as an ability constructor leads to empty ucm output"
My scratch file solely consists of:
[code]

If I save, regardless of whether I change anything (except for the name `input`), `ucm` gives me empty output.
Eg. after 3 saves I see:
[code]

If I change the name `input` to anything else, I get the expected "These new definitions are ok to `add`").

I believe this is somehow colliding with the following saved ability, and confusing `ucm`:
[code]

[2020-10-20 15:33] pchiusano commented on #1731
Thanks. Suspect this is triggering #1578. The correct behavior should be either be a type error (because the LHS of a pattern is an ability operation) or it should just treat `input` as a wildcard variable and `CLI.input` as a pattern.

[2020-10-22 20:19] #1673 closed, assigned to dolio

[2020-10-22 20:35] pchiusano commented on #1612
I don't know much about Chapel, and just in general, I don't really want Unison's official docs or these GitHub issues to be about making comparisons to other technologies (that we're not experts in anyway). Maybe we'd reconsider at some point later, if it's a technology we know super well and we get asked about how Unison compares a lot.

That said, if anyone in the Unison community has experienc

[2020-10-22 20:35] #1612 closed

[2020-10-22 20:55] pchiusano commented on #1682
Closing as dupe of #845

[2020-10-22 20:55] #1682 closed, assigned to nobody

[2020-10-22 20:59] #1390 closed

[2020-10-26 15:34] #845 closed

[2020-10-27 19:43] runarorama opened #1737 "Roundtrip fails for `cases` syntax for functions with more than 1 argument"
At the moment, this compiles but is a bit perplexing:

[code]

Add this to the codebase and edit it again. The roundrtip fails with a pattern arity mismatch:

[code]

As it should, since you'd still want to be able to say

[code]

instead of

[code]

We could take up the Purescript convention which would separate patterns with a comma:

[code]

[2020-10-27 20:28] pchiusano commented on #1737
I was thinking we might be able to avoid parens for nullary constructors, like Haskell does:

[code]

But Haskell gets away with this by requiring parens even for single argument functions - like `isJust (Just x) = True`. We could do the same for single argument `cases`:

[code]

But I feel like that's too easy to forget and you don't get great error messages if you forget the parens as @runaroram

[2020-10-28 00:33] #1737 closed, assigned to pchiusano

[2020-10-28 02:16] aryairani opened #1739 "watch expression referencing recursive term crashes"
this transcript:

[code]
crashes.

old runtime:
[code]

new runtime:
[code]

[2020-10-28 13:47] pchiusano commented on #1739
Possibly related - https://github.com/unisonweb/unison/issues/821

[2020-11-02 20:59] samgqroberts opened #1740 "`view`ing or `edit`ing a function with a long string concatenation expression produces unparseable code"
If I write this function:
[code]

It will parse and typecheck just fine. If I `add` it to my codebase, then `view` it back out, `ucm` shows it to me like this:
[code]

The `++` operators have been moved to the beginning of the lines. I get the exact same representation if I `edit` it back into my scratch file, but then if I simply save my scratch file without any further changes to the function, I

[2020-11-02 21:32] pchiusano commented on #1740
Thanks for reporting, will take a look.

[2020-11-02 21:32] pchiusano commented on #1740
/cc @atacratic

[2020-11-02 23:32] atacratic commented on #1740
Dup of #1035 - I also hit this fairly often.

Thank you for the thorough report!

[2020-11-02 23:32] #1740 closed, assigned to nobody

[2020-11-03 00:50] samgqroberts commented on #1740
Ah, thanks @atacratic ! Also, TIL a new bit of lingo: "slurp"

[2020-11-04 16:16] aryairani opened #1741 "dependents showing multiple entries for multiple names w/ same hashw"
example:
[code]

[2020-11-04 16:19] aryairani opened #1742 "make sure we don't sync dependents indices of definitions not being synced"
example:
[code]

[2020-11-04 17:12] aryairani opened #1743 "docs don't render / some terms decompile incorrectly"
![image](https://user-images.githubusercontent.com/538571/98143273-e15f9f00-1e96-11eb-8324-59b76712f111.png)

[2020-11-06 03:37] samgqroberts opened #1744 "pretty printer can break `match` expression into multiple lines, breaking `edit` round-trip"
I have the following function in my codebase:
[code]
Note that the `match takeTiles currUnflipped startingPlayerTileCount with` does not have a line break in the match expression.

For some reason when I `edit` this term out, the following gets written:
[code]

Note that there is now a line break in that match expression mentioned before, leading to an immediate parsing error:
[code]

No matter ho

[2020-11-06 03:46] samgqroberts opened #1745 "request: `edit`ing out tests should write them as test watch expressions"
This probably doesn't need as much contextualization as I'm about to give but you know what clarity is important :)

I can add a function with tests to my codebase like this:
[code]
and then if I edit them back out:
[code]

I get them in a form that does not have the `test>` watch expression prefix:
[code]

This means that on updates, `ucm` won't run these tests, although I almost certainly in eve

[2020-11-06 15:35] runarorama opened #1746 "Patch propagation doesn't update dependencies of propagated types"
Patch propagation stops too early in the following situation:
- Apply a patch that replaces type M with M'
- Type S depends on M, gets upgraded to M'. Call this new type S'.
- Functions that use S don't get upgraded to use S'.

[2020-11-06 18:23] samgqroberts opened #1747 "`run` reports that a given term does not exist if that term does not have the proper type"
Here's a bad attempt at writing a `run`able function:
[code]
`ucm` will tell me, both before and after I `add` it to the codebase, that this term does not exist if I try to `run` it:
[code]

This error message leads me to believe it's failing to even detect the existence of that term. I believe what's actually happening is it cannot find that term _with the proper type_, which is `'{.base.io.IO} (

[2020-11-11 16:29] #1578 closed

[2020-11-11 16:47] pchiusano commented on #1731
#1578 has been fixed, but the issue is still present. It looks like it's getting parsed as:

[code]

See the branch fix/1731, and you can run the transcript with:

[code]

The parsing thing is easy enough to fix, just peep `TermParser.parsePattern`.

But even so, why is it just failing silently with no output? I'd at least expect a type error or something - the scrutinee is of type text and is bei

[2020-11-11 17:08] pchiusano commented on #1731
Suspect that `checkPattern` needs to be made robust to the case where the pattern indicates a data constructor, but it's actually referring to an ability constructor.

[2020-11-11 17:20] pchiusano commented on #1625
This is almost certainly a dupe of #1731

[2020-11-11 17:21] pchiusano commented on #1175
Also probably a dupe of #1731

[2020-11-11 17:42] pchiusano commented on #1696
If we add an annotation to the handler, it fails to typecheck as expected:

[code]

We suspect that without the signature, `h` is getting an inferred type of `Request {Ask,Zoot} r -> r`.

So this seems like an issue with type inference and/or `handle` block typechecking/inference.

Failing transcript is in fix/1696 branch.

[2020-11-11 17:50] pchiusano commented on #1696
@dolio theory is that this code, when it infers the type of `h`, has a unsolved existential in `et`, which then gets pushed into the ambient context when typechecking `body`, basically giving `body` a free pass to run any ability!

[code]

[2020-11-12 18:48] dolio commented on #1696
Experiment:

    loophole x = cases
      { y } -> y
      { A.a -> k } -> handle k !x with loophole x

Inferred type:

    loophole : ∀ x1 g x. '{g, x1, A} Int ->{g} Request {A, x1} x ->{g} x

So, the type checker is clearly assuming that some arbitrary other abilities are able to be discharged. It's probably just incidental that they end up in `x1` rather than `g`.

[2020-11-16 21:56] dolio commented on #1696
More experiments:

[code]

inference:

[code]

`f` seems completely wrong. It doesn't even seem to know that it's matching on `A` stuff, and that only gets inferred by accident when handlers are recursive. So I think pattern type checking is missing some key piece in these cases.

[2020-11-17 14:23] pchiusano commented on #1696
That's a good clue. Check out this example:

[code]

It infers `f : ∀ x1 x. x1 -> Request x Nat -> Nat`, which is definitely wrong. So yeah, seems like a bug in the pattern match checking.

[2020-11-17 15:16] dolio commented on #1696
Yeah, I figured that out later as a simpler example, but didn't mention it. It definitely leaves no doubt.

[2020-11-18 16:49] #1696 closed, assigned to dolio

[2020-11-18 16:55] pchiusano commented on #1369
@dolio can you check if this is still relevant? Might be a dupe of #1696

[2020-11-18 17:13] pchiusano commented on #822
Sorry to disappoint, but I think for v1 of Unison we're just going to focus on giving a nice error message explaining the limitation. :) That said I'm interested to keep following this research.

Re: things like `Async`, you can use encodings like -

[code]

Which work fine with the current type system. The downside is you are committing to a particular nesting of effects, rather than just having

[2020-11-18 19:56] pchiusano commented on #693
@dolio just adding this to your queue. Don't think it is too involved and I can give you a steer when you are ready to start working on it. 😀

[2020-11-18 20:37] dolio commented on #1369
This does seem to be the same underlying issue.

[2020-11-18 20:38] #1369 closed

[2020-11-18 21:30] dolio commented on #1731
Debug tracing shows that this is indeed caused by ending up with a data constructor with an ability reference in it.

[2020-11-24 21:12] pchiusano opened #1754 "Improve tests for code serialization"
https://github.com/unisonweb/unison/pull/1748#discussion_r524518697

After PR for new `io.test` command lands that @stew is working on.

[2020-11-24 22:15] #1731 closed, assigned to dolio

[2020-11-25 03:35] mitchellwrosen opened #1757 "Get Unison building on macOS Big Sur in CI"
An attempt was made recently, but the build failed with a cryptic error message.

To start, one could uncomment the `macOS-11.10` line in `.github/workflows/ci.yaml` and see what happens.

[2020-11-25 16:28] aryairani opened #1758 "updating churning for unique types"
ucm should recognize the a new unique type otherwise identical in name and structure to an existing unique type probably has already been added and doesn't need an update.  Currently you can `load` and `update` forever, getting new random keys each time and producing meaningless churn in the namespace history.

Also you can get type mismatches between codebase-only definitions that reference the e

[2020-11-25 19:25] dolio commented on #693
I'm looking into this. Unfortunately, the simple solution doesn't work. I wrote a function

```skolemize :: (Var v, Ord loc) => Type v loc -> M v loc (Type v loc)```

analogous to `ungeneralize`, which just uses `Universal` rather than `existential`. However, this is incorrect. To see why, consider:

[code]

Unison will store the type of `x` as something like `forall b a. b -> a ->{X b} a`. Howeve

[2020-11-25 21:04] pchiusano commented on #693
@dolio yeah I think any type variable not mentioned in the {} on the final arrow is an existential, and should become a universal/skolem when unraveling the type during pattern match checking

[2020-11-26 23:21] folkertdev commented on #1500
I also ran into this problem while doing the tutorial. It looks like the problem can be fixed by adding an explicit type annotation to the `ask`ed value

[code]
when `x : a`, the program typechecks. When the annotation is commented like above, it gives the weird error message.

[2020-11-27 01:11] #693 closed

[2020-11-30 17:32] pchiusano commented on #1500
Thinking for a proper fix:

* When you have `Ann e t` where `t` is a `forall`, rather than calling `existentializeArrows` on `t` to generate `t'` and then doing `check e t'`, instead! unravel the forall(s), then call `existentializeArrows`, then do `check e t'`. This might just work.
* Audit all uses of `existentializeArrows` and `existentialFunctionTypeFor`.

Thinking for generating a better erro

[2020-11-30 17:51] pchiusano commented on #1686
Might have been fixed by #1759

[2020-11-30 17:56] pchiusano commented on #1457
This might be as simple as removing an `existentializeArrows` call on ability constructors, like this looks suspicious:

[code]

[2020-11-30 18:00] pchiusano commented on #1625
@dolio is going to make sure this has been fixed

[2020-11-30 18:02] pchiusano commented on #1184
I think this is maybe also a case of incorrect usage of `existentializeArrows` in the typechecker. See #1457

[2020-11-30 18:10] pchiusano commented on #1695
I think this was due to an infinite loop in `instantiateL/R` involving ability lists. Might want to check after auditing and fixing usages of `existentializeArrows`.

[2020-11-30 18:11] pchiusano commented on #1185
I am going to figure out which branch has latest WIP and update that branch to current trunk.

[2020-11-30 20:38] dolio commented on #1686
New inferred types:

[code]

Seems to be working correctly.

[2020-11-30 20:38] #1686 closed, assigned to dolio

[2020-11-30 21:11] dolio commented on #1625
This is now fixed via fixing a duplicate bug.

[2020-11-30 21:11] #1625 closed, assigned to dolio

[2020-11-30 21:13] pchiusano commented on #1686
Great.

[2020-12-02 17:57] pchiusano commented on #1714
@dolio this is a runtime thing that I punted on until the serialization stuff was worked out, since I think it will work very similarly and you might even be able to recycle some code.

[2020-12-02 18:55] pchiusano opened #1762 "Customizing universal serialization or ordering via explicit View and Quotient types"
Not sure what I think of this idea but just writing it up. The general idea is to have a couple special types that Unison knows about which allow the programmer to selectively override and/or control how universal functions like `==` or `<` work, on a per-value basis.

Data types often have auxiliary information which isn't really part of the identity of the value but which is kept around to make

[2020-12-02 20:40] pchiusano commented on #1059
And here's a zippy ability: https://gist.github.com/pchiusano/f12d1ebdf1e4396fb1e311ad460ec9a8

[2020-12-06 16:36] mitchellwrosen opened #1764 "A space literal seems to be treated as the character 's'"
[code]

[code]

[2020-12-06 18:16] pchiusano commented on #1764
Guessing this is a lexer regression.

[2020-12-07 16:31] #1764 closed, assigned to nobody

[2020-12-07 16:36] pchiusano commented on #1714
Here's links to stuff from cryptonite that will help with this -

For universal hashing, I'd peep [Crypto.Hash.IO](https://hackage.haskell.org/package/cryptonite-0.27/docs/Crypto-Hash-IO.html) which just provides a mutable hashing context that you can add values to.

For universal HMAC, you'll need to use the [incremental HMAC functions](https://hackage.haskell.org/package/cryptonite-0.27/docs/Cry

[2020-12-07 16:56] dolio commented on #1184
The example from Oct 4 seems unrelated to the original issue. Is there an issue to track it separately?

[2020-12-07 19:10] #1184 closed

[2020-12-07 19:10] #1457 closed

[2020-12-07 19:10] #1500 closed

[2020-12-09 17:04] #1695 closed, assigned to dolio

[2020-12-11 16:11] #1714 closed, assigned to dolio

[2020-12-16 15:41] pchiusano opened #1771 "Documentation v2 Design Writeup"
We've learned a lot from the existing documentation support and are ready for version 2. The new documentation type will be more structured and thus easy to give good feedback and errors while authoring, and easy to render to different targets (like rendering as plain text at various widths or HTML or Javascript-y HTML), and will be seamless to write and update. We want it to be delightful experie

[2020-12-16 15:45] pchiusano commented on #1771
Tagging @runarorama @aryairani @atacratic.

Also credit: many ideas for this came out of brainstorming session with @runarorama. 🧠😀

[2020-12-16 21:32] atacratic commented on #1771
Great!  :tada:

A fuller example would be good, (a) showing more of the features, and (b) showing what idioms really nice documentation will use and how it works out.

Questions/comments...

Do the examples have to be delayed?  Seems awkward.

Does the context grow throughout the Doc?  i.e. can I make my doc render something like this?

[code]

Is there a way I can write some text in which whitesp

[2020-12-16 21:57] aryairani commented on #1771
A couple of clarifying questions:

* What’s the difference between `Any` and `Link.Term`?

* I kinda don’t get the whole bullet on “Inline examples”.  Is it even being rendered correctly on Github, or is it missing some backticks?
  * What's "raw inline code formatting" ?
  * What if you never said `` `List.map id $xs` `` and instead said `` `xs -> List.map id xs` ``; would that achieve the same g

[2020-12-17 03:25] pchiusano commented on #1771
Thanks for taking a look @aryairani and @atacratic

For an example you want to show both the source and the evaluated result, so yes, it has to be delayed I think - otherwise the renderer will just have the evaluated result. `example` is just an ordinary function here, which anyone could write, which makes this very flexible. That said, maybe examples are such a common case that they warrant some

[2020-12-19 14:52] atacratic opened #1772 "Destructuring bind requires parens (unless there's a guard)"
There's a transcript in the repo (unison-src/transcripts/destructuring-binds.md), showing this example, which works fine.

[code]

[code]
But if I delete the guard then it doesn't work.

[code]

[code]
You need parentheses to make it happy, which is non-obvious.

[code]

[code]
Would be better if the parens weren't needed?  Either way it's tricky that it depends on the presence of a guard.

(trunk

[2020-12-19 15:04] atacratic opened #1773 "transcript runner fails to check the presence of an error in all but the first unison:error stanza"
If I hit ucm with this transcript

[code]
then it correctly raps my knuckles with

[code]

But if I give it

[code]

[code]

then it purrs happily:

[code]

It seems from experimenting that as long as the first `unison:error` stanza does indeed trigger an error, then it's happy, and subsequent `unison:error` stanzas will be accepted regardless of whether they in fact lack an error.

Caused me some

[2020-12-19 15:51] pchiusano commented on #1772
It's ambiguous: is Some x = Some 42 defining a function called Some with one parameter or doing a destructuring bind? Currently it's treated as a function definition and I think that's the right move - you should be able to define uppercase functions.

I think there was some discussion of this in the PR that introduced this feature. A way to avoid the ambiguity is use a different symbol than = for

[2020-12-19 16:42] atacratic commented on #1772
Ah yeah.  (You mentioned it [here](https://github.com/unisonweb/unison/pull/1700#pullrequestreview-497813278).)

I think the PR didn't quite surface this enough because the examples focused on tuples: `(a, b) = x`.

I'm looking at some code I wrote,

[code]

and thinking that it's weird that `( ) =` is so different to just `=`.  Usually adding parens doesn't cause a big change of meaning, but just

[2020-12-19 17:00] atacratic opened #1774 "Destructuring bind fails print/parse round trip (parens omitted from LHS)"
A function like the following fails a print/parse round trip.

[code]
The parens get dropped when it's pretty-printed, which changes the meaning, as discussed in #1772

Transcript....

Let's write a function f with a destructuring bind.

[code]

[code]
[code]
It's come out with no parens on the left hand side of the bind (plus with an extra let block).  That's going to cause a problem when we feed

[2020-12-19 18:39] aryairani commented on #1773
Oops, thanks for reporting this.

[2020-12-20 15:17] mitchellwrosen opened #1775 "Peculiar whitespace sensitivity"
Hi, I'm not exactly sure if this is a bug, but I observed some odd parse errors when trying to lay out some code:

First, a valid expression.

[code]

If I move the arguments to the second `or` to a new line, it works.

[code]

Indenting the arguments by a single space produces this error.

[code]

A second space yields a different error.

[code]

And finally, with three or more spaces the express

[2020-12-20 15:28] mitchellwrosen opened #1776 "Close parens are not required?"
This expression seems to be valid (and parses as if the `)` was there):

[code]

[2020-12-28 23:47] lrworth opened #1778 "Round trip fails for parenthesised let block + operator"
`ucm version: release/M1m`

Place this code in scratch.u:
[code]

Then
[code]
prepends to scratch.u:
[code]
which is different and doesn't typecheck.

[2020-12-31 00:04] atacratic opened #1779 "Can't unify an ability variable with {}"
Unison doesn't seem to want to match the type `'{S (R g), g} ()` with `'{S (R {})} ()` in the definition of `run'` below, but I think it should?

[code]

(trunk@b586abb)

[2021-01-04 13:00] pchiusano commented on #1778
Thanks for reporting. @atacratic is this something obvious?

[2021-01-04 13:02] pchiusano commented on #1779
@dolio I might have some ideas on this, something in ability checking

Thanks for report @atacratic

[2021-01-04 18:20] atacratic commented on #1778
@pchiusano There's an easy fix (change 12 to 10 around line 334 of TermPrinter.hs) that also causes us to add brackets in the following case.  So `'let` doesn't look so tidy any more.

[code]

Do you want that fix?

Avoiding this side-effect is a bit more tricky because it means we need to step out of adding brackets purely on the basis of ambient precedence.  ('Explanation of precedence handling'

[2021-01-04 18:46] pchiusano commented on #1778
Blarg, accidentally hit close with comment before I was even done. Updating.

@atacratic I was thinking it's possible to do just with ambient precedence, analogous to what's done with binary operators depending on their associativity, although I think you are currently doing binary operators in a simpler way with a pattern that pulls out a full chain of operators so you don't have to worry about n

[2021-01-05 15:50] aryairani opened #1781 "add macos-11.0 image to CI builds"
(depends on #1777)
https://github.com/actions/virtual-environments/

[2021-01-05 16:06] aryairani opened #1782 "use stack to install ghc in CI"
I noticed when trying to update from 8.8.3 to 8.10.3 that I needed to update the version both in `stack.yaml` and in several spots in `ci.yaml`. Should we not just use `stack` to install whatever version of ghc is specified in the resolver?  Alternatively, can we set a variable with the ghc version in `ci.yaml`?

/cc @mitchellwrosen (Sorry I think you answered this once, but I lost it.)

[2021-01-06 02:31] pchiusano opened #1783 "Unison for front-end development"
It would be pretty nice to be able to use Unison for front-end development, especially if backend services are also written in Unison. Communication is seamless - just relocate a computation to the backend and have all the networking and serialization be done by Unison! No more sending JSON blobs around and issuing HTTP requests manually. No need to arbitrarily fragment your codebase into front-en

[2021-01-06 03:38] jaredly commented on #1783
@pchiusano I think idea 1 is the most promising, and I have something like it working (albeit with my own version of MCode) in the unison.rs codebase. My rust/wasm runtime foundered when I tried to deal with garbage collection, because there just aren't the necessary primitives to do proper cross-boundary garbage tracking, such that holding on to handles to javascript objects results in a lot of g

[2021-01-06 16:31] hojberg commented on #1783
Exciting!
This is going to be really interesting in exploring Unison tooling like documentation/code browsing, quick sharing of code in a jsfiddle way, rich editing experiences etc.

[2021-01-07 00:24] mitchellwrosen commented on #1782
That seems reasonable, the original reason for switching to `ghcup` to install GHC is given here: https://github.com/unisonweb/unison/pull/1761

[2021-01-07 01:25] aryairani commented on #1782
Oh right! — Thanks.

[2021-01-07 19:19] litriv commented on #682
Same here on FreeBSD running in Linux compatibility mode with Centos 7 libraries.

My ucm also starts, but then when I install the base libraries and `cd .base` and then `ls`, there's nothing there, which is possibly an unrelated issue - I'll dig deeper and create a separate issue if necessary.

[2021-01-08 00:43] pchiusano commented on #1776
At the moment, the parser doesn't distinguish among closing tokens. So the layout block inserts closing tokens which closes the parens. It's conceptually no different than languages that use the keyword `end` to terminate multiple kinds of expressions. You could think of this as a feature - you can be a little sloppier when writing the code (it will still get printed with parens correctly) and mis

[2021-01-11 16:11] pchiusano commented on #1754
Closed by #1785

[2021-01-11 16:11] #1754 closed, assigned to dolio

[2021-01-15 16:59] pchiusano opened #1788 "Spurious ability checking failure"
[code]

Eventually, I'd hope for an incomplete pattern match #913 but I'd expect the above to typecheck without the coverage checking. Instead we get a very weird error:

![image](https://user-images.githubusercontent.com/11074/104755695-c88e2800-5728-11eb-9d2a-1cc844d4bbfa.png)

Wha?

Also weird is that adding a wildcard match causes it to typecheck fine!

[code]

[2021-01-15 17:08] pchiusano opened #1789 "Runtime crash in this example involving abilities"
This is an infinite loop, but it triggers a segfault in the new runtime. In the old runtime it results in an infinite loop as expected.

[code]

I tried a little bit to minimize without much luck.

[2021-01-17 23:39] samgqroberts commented on #1783
Just wanted to chime in and say I love this idea and hope it goes the distance! Thank you @pchiusano for this writeup, and thank you @jaredly for your work over in https://github.com/jaredly/unison.rs. I've been considering this idea and playing around with that codebase for a couple weeks now and wanted to contribute a few thoughts about what the future could hold on top of this:
1. I would **lov

[2021-01-18 00:24] atacratic opened #1790 "Record-accessor has troublesome type, when member involves a certain combination of abilities (and typechecker loops)"
Unison is generating peculiar record accessors, for a record member involving ability variables.
- The accessor cannot be typechecked when added by hand, when accompanied by an explicit type signature matching the one ucm claims it has.
- Trying to use the `modify` accessor can cause the typechecker to hang.

[code]
    Define a record type `Foo` as follows - we'll hit problems with the accessors

[2021-01-18 00:40] atacratic commented on #1790
Amusingly I can workaround the 'can't use `Foo.q.modify`' problem (the last stanza of the transcript above) if I define a synonym for `Foo.q.modify` simultaneously with the new function that's trying to use it, and then delete the new name afterwards.

Replace the last unison stanza of the transcript with the following, to see that.

[code]
[code]

[2021-01-18 19:36] kghenderson commented on #682
fwiw, i'm using Fedora Silverblue, and had to `sudo dnf install ncurses-compat-libs` within the toolbox to get this library
+1 for having native package installers (in addition to nix)

[2021-01-21 21:52] atacratic opened #1791 "Can't write a function with a type that looks like `(x ->{h, R g} y) -> x ->{h, R g} y`"
I'm trying to write a function with the following signature.  Note that `g` is an ability variable.

[code]
If I leave my explicit type signature off, it typechecks OK, although with a more general type than I'd like (which then seems to mean I can't get the typechecker to accept my caller of the function).  But the signature above is not accepted.  And nor is the inferred signature, if I supply i

[2021-01-21 23:46] atacratic commented on #1791
Ah, I can work around it by just using handlers directly.

So rather than using

[code]

instead use

[code]
then I can write
[code]

[2021-01-22 02:42] pchiusano opened #1792 "Spurious type error in this abilities checking example"
@dolio this might be connected to / fixed by #1185.

[code]

The error message is confusing, but what I suspect is going on is that the `g` parameter in `f1 go` is being instantiated to all of ambient at its call site, which includes `{Stream Nat, Stream Text}` since the `toList.handler` is pushing an extra `Stream a` onto the ambient stack. This results in an ability check failure because the abi

[2021-01-22 15:19] dolio commented on #1792
Isn't this also a problem because `{Stream Nat, Stream Text}` makes no sense? There's no way to distinguish ability requests based on an instantiation of a type parameter, so it shouldn't be possible to have two different instantiations of the same ability in play at the same time, right?

[2021-01-22 15:48] pchiusano commented on #1792
@dolio ooh good point. Maybe the fix is as simple as: when pushing an ability onto the ambient stack, delete anything below it that shares the same head. In this case, that would delete the ambient `{Stream Text}` and push `{Stream a}` for a fresh existential `a'` (which would later get solved to `Nat` when the `emit 1` is hit.

That seems simple enough, but I was think about handlers with signatu

[2021-01-24 18:32] hoelzro opened #1794 "Old version of function getting called from mutually recursive functions"
Hello!

I was playing with Unison and working on a little HTML generation library, and I ran into an issue I thought y'all might find noteworthy.

Here's the version I'm running: `devel/M1l-736-gb586abb8`.  I'm running it in a Docker container running in a docker-machine VM.

The short version is I had something like this (this isn't exact - I don't have a pristine record of my edit history, unfor

[2021-01-25 19:54] #1693 closed, assigned to stew

[2021-01-25 20:25] aryairani commented on #1794
Hi @hoelzro, thanks for the report.  I'm not sure if this is what happened, but: when you do an `update`, UCM automatically patches callers that are in your current namespace and below. Is it possible that you were in the `HTML` namespace when you called update?  UCM doesn't currently make this very clear, but we will improve it.

When you do an `update`, UCM also places an entry for that update i

[2021-01-26 22:33] pchiusano opened #1795 "Consider making the error types more fine-grained than "I/O error" or "TLS error""
Right now, there's only two error types, but might want `TLS.HandshakeFailed`, `TLS.Terminated`, `TLS.ConnectionNotEstablished`, `IO.FileNotFound`, `IO.PermissionDenied`, etc.

[2021-01-26 23:09] pchiusano opened #1796 "Make the nicely named functions use abilities rather than `Either`"
A lot of the `IO` functions can return failures and this is expressed using `Either` which leads to a lot of awkwardness.

First, a bit of renaming of abilities, let's distinguish between `Throw`, which is just early termination with a typed value (which might get used for control flow, like early termination from a deeply nested structure), and `Exception`, which is "something went wrong, here's

[2021-01-27 00:52] runarorama commented on #1796
This is a good idea.

[2021-01-28 14:41] hoelzro commented on #1794
Hi @aryairani, thanks for the response!

I was almost definitely in that namespace at the time!  I think any improvement to the clarity here would be very welcome - I have a feeling this is more of a "UI bug" than a problem with the hashing or update algorithm itself.

I see this entry for `view.patch patch` in my project's namespace:

[code]

That hash is the old version of `attributesToText` tha

[2021-01-28 22:28] seagreen commented on #1747
Btw we hit this when messing around with abilities today, if we hadn't had @samgqroberts with us it would have been really confusing.

[2021-01-29 02:21] aryairani commented on #1796
Is there value to having names exposed for both versions that outweighs the complexity?  Or should we just switch to the new ones?

[2021-01-29 13:09] pchiusano commented on #1796
Having the .impl version just means you can implement the other in pure Unison code by referencing the foo.impl name in the definition of foo. You could deprecate / delete the .impl versions after that's done, or perhaps the tooling has a convention where it filters out .impl functions by default in various list / find commands.

It would also be a pain I think to have the builtin directly do `Exc

[2021-01-29 20:35] aryairani commented on #1796
I was implying not including a name for the `.impl` in the namespace, but I take it back.  I think I'd just put the `Exception` versions in `base` (instead of derived functions in `builtin`; we can try to figure out how to auto-generate them though, if that would save work.

[2021-02-01 15:58] dolio commented on #1185
I did some investigation on this, but simple very simple approaches didn't seem to work. I have to go through what's happening in more detail, but one of my concerns is this:

Suppose we have `e1+` and `e2+` that we are inferring in the original example. We go to the main body, and the ambient effect becomes `e2+`. Then we make the recursive call, and the ambient becomes something like `{e1+, e3}`

[2021-02-02 15:42] pchiusano commented on #1185
@dolio hmm yeah I can see what you're saying. Basically, you don't want the ambient to contain multiple unsolved existentials since when you get a concrete request you won't know which it should target.

I don't totally get the slop proposal. Thinking through this example:

[code]

The signature of `foo` becomes: `(a ->{e} b) ->{+e2} a ->{+e3} r` where I'm putting `+` in front of the ability varia

[2021-02-02 16:13] dolio commented on #1185
The 'slop' proposal is that we store `e3` in some type checker state as the variable you unify with to extend the ambient ability, and after your example ability check, it gets replaced with `e4` (which is the one we made up to replace `e3`). The problem I see is that the stateful stuff is the context, and the 'ambient' stuff is reader.

The way that the post-unification would help is that you are

[2021-02-02 17:10] pchiusano commented on #1185
K, gotcha. Let me know if you want to talk through anything. I feel like either approach could work.

It sounds like with the slop variable you could get away with adding that to the state (rather than reader) part of the typechecking monad, and then if needed introduce a specialized combinator, something like `withAbilityInference :: M v a -> M v a` which creates a fresh slop variable at the begi

[2021-02-03 21:01] atacratic commented on #1791
Here's a much smaller example where adding an annotation causes typechecking to fail, even where the annotation matches what inference produces.  I reckon this probably captures the essence of the bigger example above.

[code]
Unison accepts a scratch file containing the above.

The signature I want for `deferHandler` is

[code]
The signature inference yields is
[code]
When I change the code in th

[2021-02-03 21:13] atacratic commented on #1790
Here is a smaller typechecker hang:

[code]

[2021-02-06 11:34] rlp10 opened #1799 "Slack Invitation Expired"
Hi folks

When I tried to join the Slack, it said that the invitation had expired. Perhaps it wants updating on the website?

The link I used is: https://join.slack.com/t/unisonlanguage/shared_invite/enQtNzAyMTQ4ODA0MDM4LWYxZTNkMGUxMDEzNTg3NTMxNjMxOGM2Zjg4ODFjM2RhNGY0OGU2NTMzYmQ1YWIwN2Y0YTc1NjQ1NjgzYzEzOWI

I got it from here:
https://www.unisonweb.org/community

Many thanks.

[2021-02-06 14:44] pchiusano commented on #1799
Thanks so much for reporting this! Will fix momentarily.

[2021-02-06 14:53] pchiusano commented on #1799
Okay, https://unisonweb.org/slack is the new canonical URL for the slack invite, and is linked from the community page. Thanks again for reporting!

[2021-02-06 15:03] rlp10 commented on #1799
No worries - now I get to pester you all with newbie questions on Slack! :)

[2021-02-06 15:04] pchiusano commented on #1799
Haha, great! Welcome :)

[2021-02-06 17:57] atacratic commented on #1791
Possible breakthrough...  it turns out Unison is sensitive to the difference between `Defer g` and `Defer {g}`.

The following is accepted - *with* the type annotation.

[code]

[code]

I'd like to know if `Defer g` and `Defer {g}` are _meant_ to be different, and what the difference is.

I spotted this when I found another 'add the annotation and it stops working' example.  What's interesting her

[2021-02-06 20:20] atacratic opened #1800 "Regression in `run` - fails to find the function to run"
Using trunk@7ceadd, `run` fails:
![image](https://user-images.githubusercontent.com/21991324/107128793-833cc080-68b8-11eb-9820-dbba5aa2b993.png)

Possibly related commit [here](https://github.com/unisonweb/unison/commit/f0738b21d8bffac1f5b654446598f05a47b704de#diff-d190a1cdc57520446781fb2150b58a7d9677d5fe5e69265031126994896096e4).

From slack:

[2021-02-08 04:48] jaredly commented on #1800
Did you have `--new-runtime` enabled? I'm also seeing this with new-runtime, and it also refuses to run when invoked with `ucm --new-runtime run foo`.

The output from `stack exec unison -- --new-runtime run .testbed.run_long`:
[code]
If I remove `--new-runtime`, it executes fine.

[2021-02-08 09:25] atacratic commented on #1800
Interesting!  I was using the old runtime...

[2021-02-08 15:35] jaredly commented on #1800
huh ok I'll make a separate ticket :)

[2021-02-08 15:36] jaredly opened #1801 "Could use a better error message when attempting to run the old `IO` with the new runtime"
The output from `stack exec unison -- --new-runtime run .testbed.run_long`:
[code]
If I remove `--new-runtime`, it executes fine.

And `run_long` is declared as:
[code]

(splitting this out from https://github.com/unisonweb/unison/issues/1800)

[2021-02-08 16:02] samgqroberts opened #1802 "(feature request) diagnostic tooling for determining "self-containedness" of a namespace"
In general, I'd like to know when any terms in a namespace N refer to terms or types that don't have current names within N.

This can happen when:
1. A term / type has a current name outside of N
2. A term / type has an old name within N
3. A term / type does not have a name in the Codebase at all.

In each of these cases, I want to know about it and deal with it. My current strategy for doing th

[2021-02-08 19:26] pchiusano commented on #1801
This one is as designed... the new runtime doesn't know how to `run` code that uses the old `IO` type. And likewise, the old runtime doesn't know how to `run` code that uses the new `IO` type.

[2021-02-08 19:29] pchiusano commented on #1801
That said, we should have a better error message here that points people in the right direction. Something like "The new runtime can't run programs that use the old `IO`. Follow such and such guide to upgrade your code, or to handle the old `IO` type into a form that can be executed by the new runtime."

I'm going to reopen this ticket and rename it to track.

[2021-02-08 20:02] aryairani opened #1803 "ensure that `metadata.{IsTest, isTest, IsPropagated, isPropagated}` is added to codebase as a decl before user tests are added."
tldr:

[code]
[code]

[code]
[code]

We should never see "❓ (missing a type for this definition)", but we have managed to link metadata that isn't known to the codebase.  `#krhcbbspn6` is aka `isTest`; we should also have the type `IsTest` and the constructor #0 for it.

[2021-02-08 20:27] aryairani commented on #1803
Here is a failing transcript; you can put it in `unison-src/transcripts/IsTest-in-codebase.md`

[code]

[code]

[code]

[2021-02-08 22:09] aryairani opened #1804 "remove.{term,type}-replacement reports an error (but doesn't terminate) if `hqNameQuery` returns both term and type hits for the query argument"
Here is a transcript to reproduce the issue.  I don't think it matters whether we are using `delete.term-replacement` or `delete.type-replacement`, nor whether the argument is actually present in a patch.  It looks like the code assumes [and would be behave correctly if] `hqNameQuery` only returned a type _or_ a term for a given query, and not both, but that's not the case.

[code]

[code]

[code]

[2021-02-09 04:13] jaredly commented on #1801
Hmmm but when I compile the term with the new runtime, I still get this error? Is the new `IO` type called something other than `IO`?

[2021-02-09 06:50] aryairani commented on #1802
There's a couple of different things in here, but: Yes we should definitely have a command for determining the "self-containedness" of a namespace.

Yes.

It's not, right now, and this causes problems; we need to make it easier for folks to zoom into sub-directories without losing track of the project level they're trying ultimately to develop at.

Nobody is 100% on patch management yet. 😅  But we

[2021-02-09 18:49] #1370 closed

[2021-02-09 21:42] atacratic opened #1805 "Can't store an effectful function that returns a handler"
[code]
![image](https://user-images.githubusercontent.com/21991324/107429975-80420a00-6b1c-11eb-8638-69f0f817ba92.png)
[caption: `  The expression in red  needs these abilities: {Fail, 𝕖51}, but this location does not have access to any abilities.   11 |   S.S hdl`]

I don't think that last line of `eg` should actually require the `Fail` ability.

Attempting to work around it by switching to `uniq

[2021-02-09 21:48] aryairani commented on #1803
`IsPropagated` (type) and `isPropagated` (term) are also needed for the metadata that gets attached automatically on a propagate.

[2021-02-10 15:05] #1804 closed, assigned to nobody

[2021-02-11 14:59] pchiusano opened #1809 "Transcript parser occasionally leaves out a trailing backtick"
As in, the input file has `` `foo` `` but the output looks like `` `foo ``. Example is here: https://github.com/unisonweb/unison/pull/1808/files#diff-49f174e20f1f6d21f42d2210d20568b37501cee5b6d789d4e622385b9fe5686bR33

Note to self, the transcript parser could make use of `manyTill` combinator, which I didn't know about at the time I wrote the transcript parser originally. So the current parser ha

[2021-02-11 20:45] #1711 closed, assigned to dolio

[2021-02-12 18:53] dolio opened #1811 "Allow configurable watch caching"
Currently, the results of watch expressions are cached, provided they evaluate successfully. Then when trying to evaluate an identical watch, the result is just looked up in the cache, and the saved value is evaluated instead, possibly saving quite a bit of computation.

This can be undesirable, however. When working on runtime functionality, there can be results that do not crash, but are still e

[2021-02-12 18:57] aryairani commented on #1811
A related issue is to evaluate whether running a 'main' "should" use the same mechanism that evaluates watch expressions, and/or whether that mechanism can be made a little tidier.

[2021-02-12 18:57] dolio opened #1812 "Command for clearing watch cache"
Currently the only way to remove things from the watch cache is to delete files/directories from the unison codebase. This is already kind of clumsy, and will no longer be an option once the codebase moves to sqlite.

So, commands for deleting from this cache would be nice. The ideal case would probably allow for deleting only from certain kinds of cached watches (e.g. delete only test watches).

[2021-02-15 16:12] aloiscochard opened #1813 "Unable to read text when using `urxvt` terminal with solarized colors theme."
When following the guide, I ended up in this situation:
![image](https://user-images.githubusercontent.com/215476/107969254-d0531d80-6faf-11eb-900d-a904696e687b.png)

![image](https://user-images.githubusercontent.com/215476/107969326-eeb91900-6faf-11eb-85f7-a12215cc6629.png)

I then started `urxvt` without solarized theme or any custom color setting, and could eventually see the text:
![image](ht

[2021-02-16 16:06] dolio commented on #1672
Is this complete, or is there more to add? I don't think I made `unsafeIOToSTM`, but it should be too hard to add, I think.

[2021-02-16 18:00] pchiusano commented on #1672
Yeah we can close. I'm not so sure on `unsafeIOToSTM` for Unison but @atacratic you can create a separate issue to track that.

[2021-02-16 18:00] #1672 closed, assigned to dolio

[2021-02-17 03:32] seagreen commented on #1551
Got weeder running, here's the report: https://gist.github.com/seagreen/414897bad0e1abee242636eb19c5e64f

No idea if it's all accurate, but I checked a few of them (eg `Unison.Builtin.constructorType`) and they were.

Just because a function isn't used doesn't mean it's not a good thing to have, naturally, unused library-like functions that may be used later are perfectly fine.

[2021-02-17 19:52] dolio commented on #1779
It doesn't seem like it's failing to unify `g` with `{}`, since it's printing out that it needs access to `S (R {})`. I think what might be happening is that the first part of the ability check does that unification, but then `{}` ends up in the ability check list (which is normally pre-flattened). Then that check falls through. At least, I assume that's what the need for `{S (R {}), }` means. I.E

[2021-02-18 03:42] aryairani opened #1816 "transcript guid sequence depends on number of Commands Handled"
Suggestion: depend on number of files typechecked instead of number of commands handled.

[2021-02-18 04:37] #1779 closed, assigned to dolio

[2021-02-18 04:59] pchiusano opened #1818 "Builtin function to switch off I/O at the runtime level for a thunk's evaluation"
[code]

This will crash the runtime much like calling `bug` if the `{g} a` attempts to perform any I/O.

Conceptually, a Unison node server will in a loop deserialize computations sent to it over the network, negotiating any missing hashes, and then runs each computations using some top level handler. You don't want remote computations to be able to perform arbitrary I/O, and while the typechecker

[2021-02-18 19:52] pchiusano opened #1819 "Self-contained binaries"
Add a command to UCM, `compile`, which takes a `main` function and produces a single self-contained binary.

It would have to embed the runtime and the `main` function and all its dependencies.

Currently `IO` is missing access to environment variables and command line arguments, so we'd need to add that as well.

[2021-02-18 19:54] pchiusano commented on #1819
We've had multiple people say that this would be really great and make Unison easier to deploy, use for scripting, little services etc. Rust and Go have benefited from this.

Also it would be great if this could do cross-compilation to other architectures.

[2021-02-18 19:57] stew commented on #1819
Huge +1 from me. I think that this would be enormous for what it would do for getting people actually using unison.

[2021-02-18 21:31] seagreen commented on #499
I think this is a fantastic idea, which would bring two benefits:

1. Support multiple syntaxes (naturally)
2. Clearly separate out the parser/printer from the rest of the codebase.

A possible preparation step for this would be to move all parsing and printing code into the new `Unison.Syntax.*` hierarchy. `Unison.Syntax` itself would expose the fields you listed above, but as functions instead o

[2021-02-18 22:07] seagreen opened #1820 "Generate documentation of module dependencies"
Would it be useful for the documentation to have some module dependency graphs?

For example, here's one for `Unison.Codebase`:

![codebase-graph](https://user-images.githubusercontent.com/1310143/108427067-9c276900-720a-11eb-843f-b4a6db9be655.png)

They're pretty easy to generate with [graphmod](https://hackage.haskell.org/package/graphmod). If you give me a list of folders you'd like graphs for

[2021-02-18 22:08] seagreen commented on #1820
It might also be worth it to handwrite one showing how the subcomponents themselves depend on each other, eg parser, prettyprinter, typechecker, runtime, codebase, etc.

[2021-02-18 22:25] seagreen opened #1821 "haskell-language-server: doc-on-hover for 3rd party library definitions"
For folks who are using `haskell-language-server`, are you getting doc-on-hover for 3rd party library definitions? Eg:

![Screenshot from 2021-02-18 17-10-11](https://user-images.githubusercontent.com/1310143/108428215-376d0e00-720c-11eb-9a18-430527971541.png)

Due to [this bug](https://github.com/haskell/haskell-language-server/issues/208) they only work for me if the [-haddock](https://downloads

[2021-02-19 03:49] pchiusano commented on #499
I'm not totally sure what would be the easiest refactor. However, at the moment I'm doing surgery on the lexer and parser to support the new documentation format, so I'd probably hold off on refactoring until after that merges. (I'm hoping in next few weeks)

[2021-02-19 05:07] seagreen commented on #499
Sounds good to me!

[2021-02-19 16:51] pchiusano opened #1822 "The Unison `List` type is inconsistently called "list", "sequence", and "vector" in different parts of the Haskell code"
Minor cleanup of nomenclature. In `Type.hs` we have:

[code]

We have to keep the `Builtin "Sequence"` as is, since otherwise that changes the identity of the type, but the names of `vectorRef` and `vector` should be changed to use the list nomenclature:

[code]

Meanwhile, in `Term.hs`, the constructor is called "Sequence" and the smart constructors are called `seq` and `seq'`. These should be ch

[2021-02-23 15:56] #1816 closed, assigned to nobody

[2021-02-25 21:35] #1747 closed, assigned to nobody

[2021-02-26 02:26] #1821 closed, assigned to nobody

[2021-02-26 16:25] aryairani opened #1824 "nondeterministic new-runtime transcript failure in thread.md"
This run failed, but it seems like it must be an older bug than the implicated commit.
https://github.com/unisonweb/unison/actions/runs/600816294

The output suggested re-running with:
[code]
but I forget what to actually do with this information.

@dolio Could you take a look and see if you think it's a Rt2 issue, vs maybe a bug in the transcript?

[2021-02-26 21:14] dolio commented on #852
I'm going to add some notes regarding these papers for future reference.

The paper "Abstraction-Safe Effect Handlers via Tunneling" notes that this problem is essentially the problem with dynamic scoping. Their solution is essentially type classes/implicits. Oleg long ago remarked that GHC's implicit parameters were not really dynamic scoping, but in this case that is a good thing. :)

So, the so

[2021-02-26 22:13] dolio commented on #1185
After reading some more Koka stuff, I'm suspecting it wouldn't do any better on this front than Unison does. However, it's set up to encourage tupled function arguments, so you wouldn't notice if you go with the flow. I think if you wrote a curried function, though, it'd infer the same ability row for pretty much everything involved in the function, because its approach is just to have all rows ag

[2021-02-27 00:17] pchiusano commented on #1185
I had an idea which might be very silly, but just recording it here. What if ability inference variables in positive position are always just solved to `{}` when you do an ability check for them, and ability inference variables in invariant or negative position are always solved to the entire ambient set (or else yield a type error if that can't be done).

I believe this would do fine on the `List

[2021-02-27 15:08] b-studios commented on #852
Yes, lexical effect handling very nicely avoids this problem. You are probably also interested in this paper by [Biernacki et al.](https://dl.acm.org/doi/10.1145/3371116) and my own work on the [Effekt language](https://dl.acm.org/doi/10.1145/3428194) where we make heavy use of this

[2021-02-27 16:20] dolio commented on #852
My understanding of the Koka paper is: it works like Frank but with explicit polymorphism.

The way this issue is solved there is that rows must always agree, up to scoped reordering. So you _cannot_ write (still using Unison syntax):

    f : (a ->{e} b) -> ...
    f g = handle g ... with cases {E.e1 x y z -> k} -> ...

because the effect row where `g` is called has an `E` in it, which does not m

[2021-02-28 14:50] #1824 closed, assigned to nobody

[2021-03-01 15:41] dolio commented on #1185
Yeah, I don't think backtracking would be advisable.

One thing I've been wondering is whether the 'negative' positions should actually be inferred to the largest possible row. There are a couple reasons not to do this:

1. If the function gets called in multiple contexts, this is an order-dependent process. I.E. if you call it in an ambient `{E1}` and then `{E1,E2}` it works, but the opposite wil

[2021-03-01 18:22] pchiusano commented on #1185
Mmm.

One example I was pondering that you've probably thought about -

[code]

Here, `f` is getting called in two places - in one spot, `Abort` is in the ambient, and in the other location, it's unspecified. We could imagine switching the order as well and calling `f` before the handle block but it would be pretty weird if this changed the inferred type.

The type 3 seems like a weird thing to in

[2021-03-01 19:29] dolio commented on #1185
Right. You can't swap that case, but if the second call to `f` doesn't depend on `x`,  you can move it before `x` and potentially get different inferred types.

2 seems like the most natural type to infer without annotations. The abilities are assumed to be abstract, rather than assuming concrete abilities are used just because the function is called in a scope that allows them.

This policy actua

[2021-03-01 23:31] dolio commented on #1185
Okay, so, here are some potential strategies I've gone through, and examples of using them.

**Strategy 1**
Subtyping just pulls everything into a negative variable on the left.
Subtyping extends a positive variable on the right.

The difficulty with this is how to keep track of which positive variable it makes sense to be pushing into. The example in this issue has two positive variables, and eve

[2021-03-03 15:40] pchiusano commented on #1185
In case anyone is lurking on this ticket and wants to follow along, @dolio and I met and talked through these options. Strategy 3 seemed like the best choice (easiest to implement, well-behaved, not order-dependent) and we couldn't figure out a way to break it despite our best efforts. So he's going to move forward with implementing that.

Some random notes that I recall from our conversation:

-

[2021-03-03 15:57] pchiusano commented on #1185
@dolio FYI we are curating a bibliography here for Unison https://github.com/unisonweb/unisonweb-org/blob/master/src/data/docs/bibliography.md and you might have some good additions to the programming language theory > other references section. Even if you don't end up using some research directly, it can still be good to mention. Like I could see mentioning the algebraic subtyping work there, wit

[2021-03-03 21:15] atacratic opened #1828 "slow to fetch term via API (only) in large codebase"
I click to fetch a term via the API (so via the codebase-ui in fact) and my browser takes ~13 seconds to show me the term, with ucm using max CPU during that time.

Fetching the same term (by name) using `view` from ucm itself takes only ~0.5 seconds.

Just terms, not types.

Presumably a function of my codebase, which on disk is using 2.9GB, almost all in the form of 170k files under v1/paths.  F

[2021-03-03 21:24] pchiusano commented on #1828
@atacratic thanks for the report. Just to clarify, you are saying the slowness only happens when fetching a term, but fetching a type is still relatively speedy? If so that's probably a good clue.

Also curious if the slowness is just some of the terms, or all of them.

[2021-03-03 21:29] atacratic commented on #1828
Correct!

And seems to be all of the terms.

[2021-03-04 02:45] aryairani commented on #1828
Not sure if I'm seeing the exact same problem as @atacratic, but I seem to be seeing the same problem as @atacratic: a short lag when loading types, and a long lag on loading terms; all of them afaict.
https://user-images.githubusercontent.com/538571/109903334-a82f1400-7c69-11eb-8180-4b44168b65b9.mov

[2021-03-04 02:48] aryairani commented on #1828
However, I'm seeing 2-3% CPU usage, not 100%, with my lag.  Also >9GB memory usage. :)

[2021-03-04 08:07] entropitor opened #1830 "Wrong ability requirement when mapping an ability type"
I have the following unison program. I want to change a program to work with a "Store b" instead of a "Store a"

[code]

The first watch expression works fine and it calls the right things, but the second one is complaining because of `program` not having a Store a (i.e. Store Nat)

[code]

Given program is of type `() ->{Store Nat} Nat`, it should only need the handler when it's called right? So

[2021-03-04 16:52] runarorama commented on #1828
I did some profiling of this, and I am seeing that the server version of this is much slower than the UCM version. However, all of the difference is taking place inside Servant. I suspect that turning the definitions into JSON is what's taking the bulk of the time.

[2021-03-04 17:42] pchiusano commented on #1828
@runarorama Interesting... some random ideas I thought of that might help -

* I would think that JSON encoding speed is insanely fast assuming you know what you're writing, as it's just concatenating some strings (or at worst, producing a JSON AST and then folding that and concatenating strings). The only thing I'd maybe wonder about is if it's trying to produce pretty JSON as opposed to everythi

[2021-03-04 19:35] runarorama commented on #1828
Yeah, the server always calls `branchFromFiles` since it doesn't know up front which branch hash is going to get requested. More specifically, it's called by `getBranchForHash`, which we need to call.

[2021-03-04 19:45] pchiusano commented on #1828
Right, that makes sense. It's fine if that function gets called once for each subnamespace for the branch in question (each level of the tree involves a separate load from disk), but if after you have your `Branch m`, if it gets called again after that, that implies it's looking through history.

[2021-03-04 19:46] runarorama commented on #1828
no, it's just called once. It's called never for the UCM version though, since that holds on to the root and subscribes to root changes.

[2021-03-06 12:51] #1822 closed, assigned to nobody

[2021-03-11 15:29] samgqroberts commented on #1800
@seagreen and I looked into this and I believe we made some progress.

**TL;DR**: You can indeed `run` properly typed terms on trunk currently, but something seems off with automatic type inference - it gives a term as simple as `'(printLine "hello")` an unrunnable type.

<hr />

We confirmed that a term defined like this:
[code]
runs successfully on the M1m release, but gives a "this term has imp

[2021-03-14 21:45] aryairani commented on #1648
6349771102629159358 also failed

[2021-03-15 15:48] aryairani commented on #1782
@mitchellwrosen Do you have some time to knock this one out?  We should prioritize stack since the cabal build still isn't officially maintained/supported.

[2021-03-16 14:36] mitchellwrosen commented on #1782
Sure, I can take care of it

[2021-03-16 15:04] dolio opened #1840 "Unison should store terms that require no inference"
While working on other typechecker stuff, and thinking about how abilities will need to work at some point in the future (to fix soundness issues), it's been dawning on me that the things stored in the codebase should probably be a bit more restricted than what we currently have.

The core of the concern is that eventually (e.g.) ability inference will have semantic consequences. The ability compo

[2021-03-16 16:31] pchiusano opened #1841 "Allow multiple commas between elements of a list, and allow a trailing comma"
This comes up when rearranging or deleting elements of a list. I can't see any reason not to just allow ignored optional commas. The current UX is you get an annoying or cryptic parse error. Once the code gets added to the codebase, it will get nicely formatted with the proper number of commas but it's okay to have some sloppiness at parse time.

You can check out `Parser.seq` in `Parser.hs` which

[2021-03-16 16:55] ceedubs commented on #1841
I'm 👍 on allowing a trailing comma. I've used this pattern in other languages and have never seen it cause issues.

Multiple commas between elements seems a bit weirder to me. But the fact that the code will be stored as an AST and the commas will quickly become irrelevant is pretty intriguing. Since `,` isn't a valid identifier in Unison I can't _think_ of a way that this could cause trouble.

[2021-03-16 17:02] asoltysik commented on #1841
Also a big 👍 on the trailing commas. As for multiple commas I don't recall ever having a syntax error caused by that in the past, so no opinion on that.

[2021-03-16 18:05] pchiusano commented on #1841
Great! Well, PR welcome. 😀

There's some subtlety to avoid committing to expecting another element after each comma and allowing a closing brace (or another comma). May need to use lookAhead combinator and/or notFollowedBy.

[2021-03-16 20:08] maralorn commented on #1841
I think having a lenient parser is just one of the luxuries unison can afford. If we later think that it steals syntax we want for something else. (idk. list sections maybe?) then we can still change that and no ones code will break.

[2021-03-16 22:51] #1782 closed, assigned to nobody

[2021-03-17 01:12] runarorama opened #1842 "Add a Lisp-like syntax for Unison"
We eventually want to make the syntax for Unison pluggable. At the moment there's only one parser and pretty-printer, but in principle we can have as many syntaxes as we want. A good second syntax would be a Lisp-like one, since it should be particularly easy to implement.

The syntax of [Clojure](http://kimh.github.io/clojure-by-example/) is particularly thoughtful and would be good to emulate si

[2021-03-17 03:19] aryairani opened #1843 "v1 codebase consistency checker ucm command or standalone tool"
Due to some early bugs, older v1 codebases are known to sometimes have consistency issues.  This will make it difficult to convert them to v2 codebases, so it would be helpful to correct these in advance.

The idea would be to simply traverse the codebase starting with `Codebase.getRootBranch`, and for each `Branch` that's encountered, confirm that each `Term`, `Type` of term, `Decl`, `Metadata`,

[2021-03-17 03:52] #1648 closed, assigned to nobody

[2021-03-17 06:16] stew commented on #1841
after having gotten used to being able to have trailing commas I want the to always be valid!!!! (I've also never considered multiple commas in a row, which seems weird but not enough to object to)

[2021-03-17 19:00] pchiusano opened #1844 "Decompilation in new runtime reverses output of constructors?"
See this minimized example: https://github.com/unisonweb/unison/issues/1844#issuecomment-801344682

----

Original report, disregard -

The new runtime seems to mix up bound variables during pattern matching. The issue does not arise with the old runtime.

[code]

Yields:

[code]

The example above is the result of some minimization - it isn't triggered in the obvious cases, and I'm not sure what'

[2021-03-17 19:07] pchiusano commented on #1844
Here's a bit simpler example:

[code]

[2021-03-17 19:17] pchiusano commented on #1844
And simpler:

[code]

This makes me think the constructor arguments are just being reversed when the term is decompiled.

[code]

[2021-03-18 03:23] aryairani commented on #1841
Multiple commas in a row useful for when you don't want to think too hard about how you are mixing
[code]
-style lists with
[code]
-style lists.

then there's also
[code]
-style lists

which might become
[code]

[2021-03-18 03:25] aryairani commented on #1841
I'd also allow initial commas if we're doing all the rest

[2021-03-18 14:38] dolio commented on #1844
Does this only happen for data types with 3 or more fields?

There are special cases for up to size 2 constructors, but others are just stored in a similar way as the stack (for easy dumping onto the stack), and thinking about it briefly, I do think they'd be reversed in that scenario. The culprit is a pattern alias `DataC` (or rather, the functions it uses) which gets used in the decompilation, s

[2021-03-18 14:39] pchiusano commented on #1844
@dolio yes, it only happens for constructors with more than 2 elements!

[2021-03-18 14:42] dolio commented on #1844
Okay. Should be easy to fix, then.

[2021-03-18 19:30] aryairani opened #1847 "v2 codebase sync progress uses stdout and doesn't get captured by transcript runner"

[2021-03-18 22:16] #1844 closed, assigned to dolio

[2021-03-19 14:05] ceedubs commented on #1819
And unlike a lot of languages, the binary would only have to include terms depended on (directly or transitively) by the specified `main` function, right? No more including support for printers and CORBA just because they were added to the standard library at some time in the past?

[2021-03-19 14:21] ceedubs commented on #1781
I think that this was resolved by #1837.

[2021-03-19 14:21] #1781 closed, assigned to nobody

[2021-03-19 15:55] ceedubs commented on #1620
This was resolved in #1838 (though not quite in the way that @runarorama suggested).

[2021-03-19 15:55] #1620 closed

[2021-03-19 19:03] aryairani commented on #1843
I'm ending up trying to do it during the conversion after all.

[2021-03-19 19:03] #1843 closed, assigned to nobody

[2021-03-22 14:00] aryairani commented on #499
I could be wrong, but I think it will be hard to even find all of the parsing and printing code unless we are trying to plumb the record through.  There are some little bits scattered around, inlined, etc.

[2021-03-23 14:38] JohannesHuster commented on #1841
I also like the idea of allowing those cases at parse time 👍

I’ve added a [PR](https://github.com/unisonweb/unison/pull/1850) for this and introduced myself on [Slack](https://unisonlanguage.slack.com/archives/CNZTD4DJS/p1616510098011200) 🙂 I went with allowing multiple commas leading, trailing and in between elements. But that would be quick to adapt.

[2021-03-24 19:35] aryairani commented on #1552
I ran into this again today, and it seems pretty bad as it somewhat throws away information.  I'm thinking we should reimplement #1333 that introduced the issue. Maybe we just apply the actions to branches in memory, then squash them before applying them to the user's history. That should minimize the number of visible nodes.

[2021-03-24 19:43] #1841 closed, assigned to nobody

[2021-03-24 20:01] pchiusano commented on #1552
Yeah, good idea. You could, just within `stepManyAt`:

1. Build a `Map Path Hash` of the hash at each subpath in the tree.
2. Apply the updates sequentially in the order they are given.
3. Squash the updates so that each path has at most one hash after the hashes established in 1.
4. Return the squashed branch

I don't think there's anything more efficient you can do if the updates are just opaque

[2021-03-24 20:11] aryairani commented on #1552
Another alternative would be to use some symbolic primitive DSL instead of opaque functions, letting all the paths be inspectable until they're finally applied, but squashing might be less work.

[2021-03-25 20:29] seagreen commented on #1842
Prerequisite: https://github.com/unisonweb/unison/issues/499

[2021-03-25 20:31] seagreen commented on #499
@aryairani Great point, though on the other hand anything we can do to split this into separate PRs is going to help.

@pchiusano: How's that coming along? Also is there an issue for it, so I can track it's progress?

[2021-03-31 17:20] pchiusano commented on #1771
Simon got me thinking about annotating and commenting source code. I'm trying to figure out if this is something to design for in the new docs format (even if we don't do anything with it yet) or if is a separate concern (like it's just metadata, or just some stuff stuck in the AST). Exploring that here.

There's a few kinds of use cases here that are related but distinct:

* Writing API docs for

[2021-04-07 20:47] aryairani opened #1860 "fix off-by-one scope reporting for exceptions caught by EasyTest"

[2021-04-07 21:09] aryairani opened #1861 "ready-to-merge Github Label no longer readies to merge?"
We had been using `.mergify.yml` and the `ready-to-merge` Github Label to mark PRs that had been approved "pending CI success" to be merged automatically upon CI success.  But, it no longer happens, and we're back to merging manually.

So the question is: why, and how do we fix it?

[2021-04-08 01:39] pchiusano commented on #1861
I think it stopped working when we switched to GitHub actions for the build, but I'm not sure why.

[2021-04-08 06:28] aryairani commented on #1861
I'm gonna try updating the yaml according to: https://docs.mergify.io/conditions/#about-status-checks

[2021-04-08 16:41] #1861 closed, assigned to nobody

[2021-04-08 19:00] aryairani opened #1863 "let ucm be responsible for its own required unison definitions, without relying on stashing them in the user's codebase"
There are a few Unison definitions that ucm relies on and operates on directly, including but not limited to:
* `()` / `Unit` as well as the v1 and v2 Doc types are referenced when typechecking a .u file
* `Author`, `CopyrightHolder`, `GUID` are referenced by the `create.author` command

This does not necessarily include every type that is referenced by builtins, such as `IO` or `Optional` (these

[2021-04-09 03:21] pchiusano opened #1864 "New documentation format loose ends"
Tracking here any items that I'm punting on in [this PR](https://github.com/unisonweb/unison/pull/1853).

- [ ] Better handling of conflicting docs, see https://github.com/unisonweb/unison/pull/1853/files#r609988030
- [ ] Tests for source annotations, `@source{List.map @ note1 note2}`
- [ ] Add some more syntax highlighting of docs
- [ ] (Later) Delete old doc type
- [ ] (Later) `data DisplayObjec

[2021-04-13 19:26] FlorianBELLAZOUZ commented on #1799
It's the case again :
https://unisonlanguage.slack.com/join/shared_invite/zt-8yk99oli-8ePQ4QE1h1MWMYxviIHD2g#/
"This link is no longer active
To join this workspace, you’ll need to ask the person who originally invited you for a new link."

From the website https://www.unisonweb.org/community
And from the Readme

[2021-04-13 19:33] pchiusano commented on #1799
Thanks for reporting, give it a few minutes for site to rebuild, then https://unisonweb.org/slack should work again. I set the link to "never expire" but I thought I did that before. Hopefully this will do it but definitely report if you are having trouble.

I'll reopen this but can you comment and close the issue assuming that it's been fixed?

[2021-04-13 20:08] FlorianBELLAZOUZ commented on #1799
It's work ! :)
Thanks !

[2021-04-13 20:48] pchiusano commented on #1860
[code]

Should give `blah.blah2` as the failing scope, but I think it just gives `blah`.

[2021-04-13 21:00] pchiusano opened #1866 "M2 Alpha Release Meta Ticket"
We are prepping for a new major release of Unison which we're calling M2. After M2 will be possibly a few smaller point releases, then a feature complete beta, then general availability!

__Remaining todos:__

- [ ] All issues here: https://github.com/unisonweb/unison/milestones/M2
- [x] Update hero image for blog post
- [x] Fixup video on blog post
- [x] Rename `unisonweb/base` to `unisonweb/base

[2021-04-14 09:06] aryairani opened #1867 "git-simple.sc.patching test fails intermittently with scary error"
git-simple.sc.patching EXCEPTION!!!: SQLite3 returned ErrorMisuse while attempting to perform prepare "SELECT base32 FROM hash WHERE id = ?": bad parameter or other API misuse

[2021-04-14 22:21] ceedubs opened #1868 "user-configured preferences for symbolic vs alphanumeric term names"
There are many higher priorities, but I just had this thought about a neat little feature that Unison makes pretty easy.

There are many battles about "symbolic" names (like `<>`) vs alphanumeric names (like `combine`). If both `<>` and `combine` exist as term names for a referenced hash, maybe the pretty printer could use a user-configured "symbolic" preference to determine which name to show.

T

[2021-04-15 01:27] #1771 closed, assigned to pchiusano

[2021-04-15 01:36] pchiusano opened #1869 "Delete old 'n busted runtime; make new runtime the default"
The time has come. Old runtime served its purpose, but we can rip it out now and remove the `--new-runtime` flag. Old runtime hasn't been kept up to date with latest builtins. The new runtime is faster and works great.

[2021-04-15 01:40] pchiusano commented on #1869
Suggested approach: delete `Rt1IO.hs` and `Rt1.hs` and then follow the compile errors. Be sure to catch the runtime flag that's passed to `ucm`.

[2021-04-15 05:49] aryairani opened #1870 "weird git exec error in windows"
this is with `wip/codebase2` branch:

[code]
Okay, but then I exit, and that exact command does work:
[code]

Something about the `:` in `https:`?  Why would that not work?
[code]

[2021-04-16 17:35] ceedubs opened #1873 "CI-friendly test command"
I thought that I might try to add a simple GitHub Actions CI for https://github.com/ceedubs/unison-foldl and I'm not sure how to run the tests in a way that will trigger a failed CI.

For example, I've added a failing test under `foldl.failingtest`. I'm not sure if there's a better way, but I'm using a heredoc to try to run the tests within ucm:

[code]

As you can see, the return value is 0 even

[2021-04-16 17:50] aryairani commented on #1873
There isn't, to my knowledge.  My first thought is that we could change the `ucm run` command to pass through an exit code if the type of the specified program is `Byte` or `{IO} Byte`.

Or we could add a `ucm test` command that takes in a namespace, runs the tests, and returns 1 if any tests fail; the first is more general.

[2021-04-16 19:36] ceedubs commented on #1873
@aryairani my initial reaction is that a `ucm test` command makes a lot of sense. This is likely a common flow, so it probably makes sense to make it easy.

My afterthought is that maybe I'm used to other languages and this sort of thing isn't as necessary or there's a better approach with Unison. But I don't yet have any good ideas for what that would be :)

[2021-04-16 22:29] aryairani commented on #1873
Why not both! 😄

`ucm test` probably makes as much sense as the interactive `test` command, and we like that so far.

[2021-04-18 21:13] atacratic opened #1874 "some types of expression don't work in embedded code blocks in Doc2 docs"
Am playing with the amazing new computable docs format, but found a couple of snags and have a suggestion.

Snag, erroneous error: giving the following
[code]
produces:
[code]

If instead of the `if` expression I put `21 + 21` then it works fine.

Presumably the doc parser is scanning for an expression at the end of the doc to evaluate, but is a bit over-selective.

Snag, unhelpful error message:

[2021-04-19 04:12] pchiusano commented on #1874
😎 Thanks for reporting.

Hmm I believe it is just using the standard block parser for those segments. I thought the block parser allows if expressions at top level but maybe not.

The other error is not great, though what should the behavior be? Should it just not evaluate those blocks that have no result expression, only typecheck them?

I suppose it could be interpreted like the result expressio

[2021-04-19 14:49] aryairani commented on #1874
Or should it give the value of the RHS, the way named watch expressions sort of do?

[2021-04-20 04:11] pchiusano commented on #1185
@dolio I've got an example for you to try with the new algorithm:

[code]

This yields

[code]

The `gs` is highlighted.

It looks like the lambda passed to `foldb` is picking up some abilities it shouldn't.

[2021-04-20 17:27] dolio commented on #1185
The new algorithm can't handle it either (yet).

I can get it to type check by factoring the lambda expression out with a type, and also by reordering the arguments to `foldb`. There is sensitivity to the instantiation order, so putting the list first helps `a` get instantiated to something that will be valid for the lambda expression, but putting the lambda first seems to cause problems for the l

[2021-04-20 17:52] pchiusano commented on #1185
Ah, that's too bad. :|

Yes, they do talk about instantiation order issues in the [original paper](https://research.cs.queensu.ca/home/jana/papers/bidir/) but I forgot what the trick was there. I want to say it may have something to do with how variables are instantiated - they are basically only refined the minimum amount needed based on their current usage, so there's always room for them to get

[2021-04-20 20:21] dolio commented on #1185
I think maybe the paper side-steps this issue by not having impredicative instantiation. That is the usual reason for considering an entire argument spine at once. I think maybe the second paper gets into that, because it has more ambiguous typing. Row subtyping is a similar kind of problematic subtyping as impredicativity.

[2021-04-20 21:46] dolio commented on #1185
By the way, here is the reasoning in the new process:

When we check the lambda expression, we infer something like `'{e} a -> '{e, WeightedStream a} ()` because there is no reason to assume that `e = Gen`, and would get handled. However, later on we're going to find out that the result is expected to be `'{WeightedStream a} ()`, which means that `e = {}`. However, this means that the list must ha

[2021-04-20 22:11] hojberg opened #1876 "Codebase Server: `/getDefinition` of a data constructor results in mission definition"
When requesting data constructors they come back as a `missingDefinition`.

Here's `base.Map.Map`:

[code]

I think we might want to return the type even though it's a term?

Credit goes to @rlmark for reporting this issue, that i'd been sitting on.

[2021-04-20 22:22] hojberg commented on #1876
Would love to get folks thoughts on the right approach. I also added this to the M2 release ticket.

[2021-04-20 23:59] pchiusano opened #1877 "Pattern compilation crash in new runtime"
[code]

Yields:

[code]

I can work around for now with a slightly different phrasing and it works okay with old runtime.

[2021-04-21 02:49] hojberg opened #1878 "UCM_PORT is being ignored"
When starting `ucm` with the env variable `UCM_PORT` it seemingly has no effect and a random port is picked for the codebase server instead (the default behavior if no port were provided).

This was working earlier so I think this is a recent regression.

[2021-04-21 17:10] pchiusano commented on #1878
@runarorama can you take a look at this when you have a chance?

[2021-04-21 20:14] pchiusano opened #1880 "Codebase UI local deployment"
Discussed with @stew @hojberg and @runarorama how UCM releases will embed the codebase UI. I think this writeup accurately captures the decisions from that, but pipe up if not.

Here's the UX:

The UX is: User starts up UCM which provides a URL to visit. User visits that URL and gets the codebase UI. (Later we might have an electron app which bundles the codebase UI and UCM, however that's out of

[2021-04-21 20:24] #1878 closed, assigned to runarorama

[2021-04-22 02:38] pchiusano opened #1881 "Pattern compilation bug in new runtime results in spurious match failure"
[code]

Crashes with a pattern match failure.

[2021-04-22 02:40] pchiusano opened #1882 "Pattern compilation failure in new runtime leads to spurious match failure crash"
[code]

Crashes with a pattern match failure.

[2021-04-22 02:40] #1881 closed, assigned to dolio

[2021-04-22 02:41] pchiusano commented on #1881
Dupe of #1882, GitHub crashed when I created it the first time.

[2021-04-22 20:32] pchiusano opened #1884 "Use suffixed names in codebase server code listings"
@runarorama is taking a crack using suffixed names for definitions in the codebase UI. This is a quick writeup of how (I think) that can be done safely, even for recursive definitions.

The various `TermPrinter` functions take a `PrettyPrintEnv`. If you pass it a suffixified `PrettyPrintEnv`, then it will use that unique suffix both for the binding name and for the body of a recursive definition.

[2021-04-23 01:20] pchiusano commented on #1800
@stew do you recall why we tried to generalize the type of main? I think it used to be hardcoded to just `'{IO} ()` and we changed that for some reason. I was thinking we could just revert that back in `MainTerm.hs`.

[2021-04-23 03:06] sullyj3 commented on #1800
In Rust, you can return a `Result` from main, or anything that implements `std::process::Termination`. Is it possible it was to support a feature like this in the future?

[2021-04-23 15:27] pchiusano commented on #1185
Aside, I think we should have a syntax for annotating lambdas with their allowed abilities. And then we should try to just bail gracefully for things that are hard to infer and suggest the user annotate their lambdas. Proposed syntax:

* `a b ->{IO} a + b` - a lambda that takes two arguments and allows `IO`
* `'{Random} (1 + natIn 0 10)`, shorthand for `_ ->{Random} (1 + natIn 0 10)`

[code]

I do

[2021-04-24 10:28] asoltysik opened #1888 "`Bytes.at 0` always returns None"
*Version*: devel/M1l-1068-gb0dd6e549 (almost latest trunk)
Same results with `--new-runtime` and without it.

How to reproduce:

[code]

[code]

[2021-04-24 13:03] pchiusano commented on #1888
Wow thanks for the report! There's probably something silly in Bytes.hs and then we should improve the testing of that type.

Here's the relevant section of Bytes.hs: https://github.com/unisonweb/unison/blob/65a8ff839d5b06699c3ce282155db17e115d7396/parser-typechecker/src/Unison/Util/Bytes.hs#L83

And here's the current unit tests: https://github.com/unisonweb/unison/blob/trunk/parser-typechecker/t

[2021-04-24 18:32] pchiusano commented on #1888
This is weird. I'm able to reproduce within a transcript but not when I just run in a scratch file:

[code]

See fix/1888 branch.

[2021-04-24 18:36] pchiusano commented on #1888
Okay, I figured out the inconsistency - the bug is in the new runtime, but once cached, the watch expression isn't recomputed. So if you happen to use the old runtime after the new, you'll get the (incorrect) cached value again.

You can do:

[code]

to clear the cache.

It works correctly with the old runtime.

[2021-04-26 00:13] mitchellwrosen opened #1890 "Stop referencing io.BufferMode, io.Mode"
In #1871, we discovered `io.BufferMode` and `io.Mode` are still being referenced from code (see comments there for links)

[2021-04-26 18:41] #1888 closed, assigned to nobody

[2021-04-27 14:45] pchiusano commented on #1884
@runarorama you finished this, right? Or is it still in a branch somewhere? If it's in trunk, can you close?

[2021-04-27 14:47] #1884 closed, assigned to runarorama

[2021-04-27 14:54] #1869 closed, assigned to mitchellwrosen

[2021-04-27 15:01] pchiusano commented on #1876
I'd probably just return the type declaration that the constructor is a part of in this case. This is what we do elsewhere.

Another possibility which I like less is to keep the behavior as is and force the front end to convert constructors to their corresponding type reference when requesting a definition.

@runarorama WDYT?

Regardless, it would also be nice if the front-end highlighted (perhaps

[2021-04-27 15:07] pchiusano commented on #1890
I'd also bump the version number of any builtins that reference the old types, just in case the old versions are still floating around.

[2021-04-27 16:40] runarorama commented on #1876
It would be nice if the frontend could just request the type. All the necessary information is there to do something cool like highlight the relevant constructor. E.g. if the constructor requested is `#abc#d0` then the first `Constructor` element of the syntax text returned by `getDefinition` for `#abc` is the thing to be highlighted.

[2021-04-27 17:05] pchiusano commented on #1876
@runarorama I don't disagree with what you said that it could be handled nicely on the front end.

However, if the back-end isn't prepared to do anything sensible with a constructor passed to `getDefinition`, then the input type for that endpoint should be changed to be a `Reference` rather than a `Referent`. I think this would be a fine choice. Having it advertise that it can be passed a `Referen

[2021-04-27 17:45] pchiusano commented on #1876
Just discussed with @runarorama and @hojberg. @hojberg is going to handle this on the front-end - Simon feel free to create an issue to track that in the codebase-ui repo.

@runarorama clarified for me - the `getDefinition` endpoint already takes just a plain ol' string as input. So there's not really anything it can do differently if passed a string that happens to correspond to a constructor. Ba

[2021-04-27 17:45] #1876 closed, assigned to nobody

[2021-04-27 17:51] hojberg commented on #1876
Tracked here: https://github.com/unisonweb/codebase-ui/issues/60

[2021-04-28 03:27] pchiusano commented on #1762
Noodling on this some more, another approach is:

[code]

With the property that `Forget x == Forget y` and `hash (Forget x) == hash (Forget y)` for all `x` and `y`.

The `View` type can be defined in terms of `Forget` but the `Quotient` type can't.

[2021-04-28 12:15] #1800 closed, assigned to nobody

[2021-04-28 21:26] pchiusano opened #1898 "Pretty-printer megaticket: fix bugs which produce weird or unparseable code"
Collecting various pretty-printing bugs here. Feel free to leave a comment with other examples, or with a refinement of any of the existing examples.

- [ ] As noted in https://github.com/unisonweb/unison/pull/1897 lists that span multiple lines get weird treatment. See doc.output.md for an example. I think it still parses fine but it looks pretty weird.
- [ ] Revisit breaking of doc blocks. Again

[2021-05-01 17:48] asoltysik opened #1901 "Errors in Map.fromList"
Working minimal case:
[code]
Result:
[code]

Failing minimal case:
[code]
Result:
[code]

It doesn't seem to be exactly related to number of elements. For example this doesn't throw an error
[code]
but it produces an incorrect result (the map contains only the last entry from the list).:
[code]

However this one throws an error. Notice that the only thing that changed is that the first key became

[2021-05-02 02:16] pchiusano commented on #1901
Thanks for reporting. It looks like Map.fromList does weird things with duplicate entries. That is just a bug in base. @runarorama can take a look.

The runtime error sounds like an unrelated decompilation bug - watch expressions get decompiled back to terms before being printed.

[2021-05-02 21:06] aryairani opened #1902 "missing data case + dumpData: bad closure"
I didn't spot an existing ticket for this, though something similar seems to happen in #1901.

I encounter this on trunk (c5d8598b98d77573df7b4e265a5a51f3ce667844) when running the `test` command on a codebase that contains `base`.

Steps to reproduce :
[code]
Output:
[code]

[2021-05-03 17:46] aryairani opened #1903 "`pull` from not-a-unison-codebase reports "Already up to date" or something unhelpful"

[2021-05-04 06:42] rlmark opened #1904 "Confusing error message for missing `else` clause in if/then/else statements"
If you are a new user of Unison, you might - in error, terminate your if/then/else clause with a "todo" like so `if not (startsWith t rem) then Left (Expected t) todo "WIP"` from the handler snippet included below. This produces the following error message:

[code]

Or, to reduce the problem further, in a scratch file you might just forgetfully leave out the `else` clause altogether

[code]

Which

[2021-05-04 18:08] pchiusano opened #1905 "`-codebase` option is ignored on trunk"
Regression that may have been introduced in #1900 ?

[code]

So `init` works fine but then I can't start ucm using the initialized codebase. 😬

@aryairani speculated -

Grepping for `getArgs` the only place I see that called in our code is in `Main.hs` (and `Transcripts.hs`, another main). Could Servant be doing something weird, assuming it can parse all the command line args?

[code]

Aside: `get

[2021-05-04 18:10] pchiusano commented on #1905
Once this is addressed @aryairani is unblocked on getting #1895 merged.

[2021-05-04 20:33] aryairani commented on #1905
Side note that the `Usage:` message that gets printed seems very server-specific; I initially thought it meant I was picking up some completely non-ucm-unrelated `unison` executable on my path.

[2021-05-04 20:36] aryairani commented on #1905
`-codebase` isn't the only flag that triggers the error:
[code]

[2021-05-04 21:47] aryairani opened #1906 "add a regression test for `ucm` command-line argument parsing"
`Main.hs` doesn't have much test coverage.  We want to change that!  Probably by calling `stack exec -- unison` like in [Transcripts.hs](https://github.com/unisonweb/unison/blob/trunk/parser-typechecker/transcripts/Transcripts.hs) with different options, and hopefully checking exit codes is enough to know if it worked.

You can validate the test against e643c3d6392138c02aec0bdb64f1a827e562a431 whi

[2021-05-05 02:50] #1905 closed, assigned to runarorama

[2021-05-05 18:09] pchiusano commented on #1890
WIP in #1909

[2021-05-05 20:46] pchiusano commented on #1901
Update on this, #1910 should fix the `bad closure` error. Still digging on the other issue.

@dolio can you check this example when you fix the `||` compilation issue that we spotted?

[2021-05-05 23:12] pchiusano commented on #1902
Fixed by #1910

[2021-05-05 23:12] #1902 closed, assigned to dolio

[2021-05-06 01:13] #1901 closed, assigned to nobody

[2021-05-06 01:14] pchiusano commented on #1901
Fixed in trunk

[2021-05-06 15:33] runarorama opened #1912 "Additional Doc2 type features"
Some features that I would like to have in Unison docs, in decreasing order of importance:

* **Checked Unison expressions** - Just like backtick snippets, but where the expression is typechecked. So kind of like `@eval` but just displaying the code instead of actually evaluating.
* **Get the type of a Unison expression** - Similar to the above, but instead of displaying the code, it displays the

[2021-05-06 15:35] runarorama commented on #1864
Why remove backticks syntax?

[2021-05-06 21:22] hojberg opened #1914 "Serve API and Codebase UI with the unique token as part of the url instead of query string"
To ease the experience of running to UI with `ucm` we want to move the token from the query string to be part of the UI path:

`http://127.0.0.1:64739/api?ABC123` becomes `http://127.0.0.1:64739/ABC123/api`
`http://127.0.0.1:64739/ui?ABC123` becomes `http://127.0.0.1:64739/ABC123/ui`

(`ABC123` being a token example).

Note, a minor change in the UI is required for fetching assets via a relative p

[2021-05-07 03:33] aryairani opened #1915 "v2 codebase loose ends megaticket"
- [ ] ~use transactions~ investigated, but was kind of a pain.  possibly not too necessary given immutable nature of codebase. probably each ucm command should be a transaction, not each Codebase command, but it would mean saddling the v1 codebase with a fake transaction layer; which is perhaps fine if the v1 codebase is going away.
- [x] low quality error message when trying to load codebase that

[2021-05-07 13:28] mtnygard commented on #1269
Configurator does not appear to support writing values. In fact, it's "import" feature introduces some logical and implementation challenges if we wanted to add the ability to write values.

A value can have multiple assignments, last one wins. Configurator also has an 'import' directive. That means writing into .unisonConfig might not actually change the observed value, because we could change th

[2021-05-07 14:17] runarorama commented on #1269
We'll certainly need to abandon Configurator

[2021-05-07 17:20] aryairani opened #1916 "some debug output apparently still on, in v2 push"
![image](https://user-images.githubusercontent.com/538571/117485798-d6192900-af36-11eb-8ec1-5d2d02babdb5.png)

[2021-05-07 18:46] aryairani opened #1918 ""Called SqliteCodebase.setNamespaceRoot on unknown causal hash""
[code]

[2021-05-07 18:55] #1890 closed, assigned to dolio

[2021-05-07 21:23] aryairani opened #1919 "EXCEPTION!!!: UnknownHashId (HashId 526)"
While debugging #1918, I started getting this different error instead. It's crashing on line 382, which seems to suggest that there are some bad ids in the `LocalIds`: https://github.com/unisonweb/unison/blob/ca7b32d1ca56ff341a5e886af12a852a2272bef9/codebase2/codebase-sqlite/U/Codebase/Sqlite/Sync22.hs#L371-L388

[2021-05-08 04:55] aryairani commented on #1919
Hypothesis: Some spots deserializing watch results (e.g. line 378) are not expecting/handling the format tag (which was a late addition to serialized watch results), so there's an off-by-one byte issue and it's a miracle that anything works.

[2021-05-08 06:22] #1916 closed, assigned to aryairani

[2021-05-08 06:22] #1919 closed, assigned to aryairani

[2021-05-08 07:05] aryairani opened #1921 "gitsync22.sc.test-watches EXCEPTION!!!: SQLite3 returned ErrorCan'tOpen while attempting to perform open "blahblah/unison.sqlite3""
The log:
[code]
However when I run the test in isolation it passes.  When I try to open the database file manually, it opens.

Perhaps we are running out of database connections. 🤦   Except... why did it pass on github CI?  Maybe the limits are different?

- [ ] Could try changing the order of the tests and seeing if that changes which test fails first.

[2021-05-08 07:11] aryairani commented on #1921
http://sqlite.1065341.n5.nabble.com/Maximum-Number-of-Open-Simultaneous-connections-in-the-latest-release-of-SQLite-tp67140p67141.html says there's no limit imposed by the library.

[2021-05-08 07:18] aryairani commented on #1921
I tried changing the max open file handles with `ulimit -n` from 256 to 64 and that caused a bunch more tests to fail.  Increasing it from 256 to 300 allowed it to _sometimes_ pass and sometimes fail on a different test.

[2021-05-09 15:56] aryairani opened #1922 "smartly release sqlite database connections"
Ucm keeps a lot of monadic/lazy references to stuff in memory, which makes it hard to know when to close database connections.  It can also run out of file handles after a certain number of operations, and although this situation can be improved by increasing the number of handles (defaults to 256 on my machine).

I don't think we should continue lazily pulling definitions out of wherever, that pr

[2021-05-09 17:49] aryairani commented on #1921
Temporary workaround I guess is to `ulimit -n 1024`.

[2021-05-10 03:34] aryairani commented on #1922
Some system that uses lexical scoping will also allow us to do something smarter with transactions and that sort of integrity.

[2021-05-10 06:06] aryairani commented on #1918
Conceivably and hopefully, this is also caused by running out of file handles, like #1921, and will be fixed by #1922.  Depending on what sorts of errors could be caught by `fromMaybe` here.
https://github.com/unisonweb/unison/blob/04040b6ff6048a8e5be3ff59a1377679ea54f77e/parser-typechecker/src/Unison/Codebase/SqliteCodebase.hs#L958-L989

[2021-05-10 13:56] #1914 closed, assigned to nobody

[2021-05-10 14:27] hojberg opened #1923 "API: Return shortest unambiguous suffix of found name instead of "best" name"
In both the `/find` API and the `/getDefinition` API, the "best" name doesn't always match the FQN that corresponds to the query (this happens in cases when there are multiple FQNs for a definition).

Few quotes from the related https://github.com/unisonweb/codebase-ui/issues/64 issue:

Rúnar:

Paul:

Note that the `/getDefinition` API returns multiple FQNs, and should ideally pick the shortest su

[2021-05-10 21:03] pchiusano opened #1926 "Database integrity error with watch expression cache"
[code]

[2021-05-10 21:06] pchiusano commented on #1926
There's a regression test in https://github.com/unisonweb/unison/tree/fix/1926

[2021-05-11 00:02] aryairani commented on #1926
This issue is similar to the one we worked around for patches, in bd949334a759d8a931bdbeed0dd0969ddc2b97b7.

In the regression test:
[code]
The issue is that watch result term (`'sq`) contains a reference `sq`, which is not in the codebase.  This is expected, but to represent the reference in memory, we later ask the codebase to tell us the component cycle length of `sq`, which it doesn't know, wh

[2021-05-11 01:06] aryairani commented on #1926
Crashing lazily was no help, so I tried returning a cycle length of `0`, thinking it wouldn't matter, but I got some output that I need some help understanding.

The transcript:
[code]
The debug output:
[code]

which comes from `Interface.hs`:
[code]
but I don't get what these functions are doing or why.  `#ptm7` is `sq` — but why do we need to `resolveTermRef` it, and how does that not fail in v1

[2021-05-11 03:10] #1926 closed, assigned to aryairani

[2021-05-11 18:31] pchiusano commented on #1918
@aryairani is this still open?

[2021-05-11 18:35] aryairani commented on #1918
@pchiusano It hasn't manifested recently, but I was leaving it open until I had time to convince myself that being out of file handles could cause a crash on line 975 instead of 971?  Not super confident about that.

[2021-05-11 19:22] aryairani commented on #1918
@pchiusano _Or_ stare at the crashing line long enough to discover another explanation.

[2021-05-11 19:37] pchiusano opened #1930 "M2 Release Notes"
Our last release was [M1m](https://github.com/unisonweb/unison/releases/tag/release%2FM1m) back in May 2020! There have been a lot of changes, but here's a summary of what's new.

* There's a new UI for navigating a Unison codebase. There's a public version of this interface for base and other libraries at [share.unison-lang.org](https://share.unison-lang.org) and the M2 release serves up this UI

[2021-05-11 19:59] rlmark opened #1931 "UCM crashes when encountering malformed pattern matches"
If you "forget" a case in your pattern match like so:
[code]
ucm will crash with the following error message:
[code]

Another example exposing a similar issue:
[code]
will crash with the following error message
[code]

version: devel/M1l-1394-gc9ce5906d

[2021-05-11 20:04] pchiusano commented on #1931
The workaround if you encounter this is to make sure your handler covers all the operations of the ability it handles, though obviously the user should get a nice error message in that case, not a crash.

[code]

Note that this crash is happening during compilation of the handler--it doesn't matter if the unhandled operations are never used by the computations being handled.

Long-term, it would b

[2021-05-11 21:21] pchiusano opened #1933 "Bad error message when missing parens after ability braces"
[code]

Yields

[code]

Fixed by adding parens around the `Optional a`:

[code]

[2021-05-11 21:43] #1921 closed, assigned to aryairani

[2021-05-11 21:43] #1922 closed, assigned to aryairani

[2021-05-11 21:52] rlmark opened #1934 "Uncons and Unsnoc returning incorrect types"
In the new runtime uncons and unsnoc return `Some (Cons ?h "i")` instead of `Some ?h "i"` as expected

[code]

Later, when pattern matching on these values, this was what was causing the error messages like `  dumpData: bad closure: Foreign (Wrap ##Text "bcdefg?")` to surface.

[2021-05-11 23:00] pchiusano commented on #1934
Also here's `unsnoc`:

[code]

That should be `("abb", ?a)`.

[2021-05-11 23:05] pchiusano commented on #1934
@dolio I think we should fix this for M2

When you fix, you can add some unit tests for it in `builtins.md`

[2021-05-12 02:24] aryairani commented on #1918
Closing for now, because I don't know how to reproduce the issue.

[2021-05-12 02:24] #1918 closed, assigned to nobody

[2021-05-12 06:16] aryairani opened #1936 "running missing tests in v2 codebase is extra slow"
trunk, v2 codebase  104.24s user 3.09s system 88% cpu 2:01.10 total
trunk, v1 codebase 21.74s user 2.60s system 97% cpu 24.867 total
M1m (optimized) 18.05s user 2.26s system 92% cpu 22.041 total

[code]

[2021-05-12 12:59] pchiusano commented on #1936
I've also noticed some random slowness with some operations. I'll do some proper tests.

One thing I'm thinking of is the term and type cache, which V1 uses but V2 doesn't.

In order to evaluate stuff, the new runtime uses a code lookup to load all the transitive dependencies of the term. Many of the tests will have overlapping transitive dependencies (for instance, for testing helper functions),

[2021-05-12 16:25] pchiusano opened #1938 "Update website to point to share.unison-lang.org somewhere"

[2021-05-12 16:30] pchiusano opened #1939 "Republish `base` with new codebase format"

[2021-05-12 16:47] pchiusano commented on #1939
This is done: https://github.com/unisonweb/base and https://github.com/unisonweb/base_v1 is the old format version of base, now archived (read only).

We can save autoinitialization for after M2.

cc @aryairani @runarorama

[2021-05-12 16:47] #1939 closed, assigned to aryairani

[2021-05-12 17:04] #1877 closed, assigned to dolio

[2021-05-12 17:04] #1882 closed, assigned to dolio

[2021-05-12 17:04] #1931 closed, assigned to dolio

[2021-05-12 17:59] pchiusano opened #1940 "Decompilation issue when rendering docs"
Noticed a possible issue with doc rendering, where it produces

[code]

It's weird because I only see the error when calling the doc rendering in a slightly different way than usual, which I wouldn't think would matter at all.

There's a failing transcript in the [fix/1940](https://github.com/unisonweb/unison/tree/fix/1940) branch, see [this file](https://github.com/unisonweb/unison/blob/fix/1940/

[2021-05-13 04:38] pchiusano opened #1942 "Pass through unisonweb.org/docs to make sure it's reasonably up to date for M2"
- [ ] Make sure install instructions still work
- [ ] Make sure it points to correct version of base
- [x] Do something about the docs/documentation page, which currently documents the old doc format

[2021-05-13 14:41] #1934 closed, assigned to dolio

[2021-05-13 14:57] rjdestigter commented on #633
I'm running into the same issue for version `devel/M1l-1388-g04040b6ff`

[2021-05-13 15:09] pchiusano commented on #633
@rjdestigter yeah, unnamed tests are not really supported at the moment and are an undocumented "feature" that I'm not sure is even useful. How often do you want your tests to be randomly named?

I think the fix might be to just disable unnamed tests in the parser and turn this into a parse error.

I could see putting anonymous tests right before a definition, similar to how we handle anonymous do

[2021-05-13 15:19] runarorama opened #1943 "Merging unrelated histories is slow"
[base.md](https://github.com/unisonweb/unison/files/6473429/base.md)
Merging `builtin` into `base` takes >5 minutes on a modest laptop and otherwise new codebase.

See attached transcript.

[2021-05-13 15:20] runarorama commented on #1943
[base.md](https://github.com/unisonweb/unison/files/6473426/base.md)

[2021-05-13 15:24] pchiusano opened #1944 "Change implementation of `mapRight` and `List.map` in IOSource.hs to match what's in base"
Right now there's versions of these functions in IOSource that don't match what's in base, leading to name conflicts if/when `builtin` gets merged into `base`, which is something we will be doing on each release.

The workaround in the meantime is to use `replace.term` to patch `builtin` before merging that into base.

—

Created via [Raycast](https://www.raycast.com?ref=signatureGithub)

[2021-05-13 15:44] rjdestigter commented on #633
I'm not sure if mine are anonymous though:
![image](https://user-images.githubusercontent.com/14314519/118150231-8e2f5180-b3cf-11eb-8cf3-f5bc14565ec0.png)

[2021-05-13 15:51] pchiusano commented on #633
A named test looks like this:

[code]

Basically, it has to be a binding `somename = <expr>`. It can't just be an expression that references a named value that exists elsewhere in the file or the codebase.

[2021-05-13 15:58] dolio commented on #1940
I think this is not a runtime bug, at least.

If I perform the steps from the transcript interactively, I can reproduce the problems. If I make the watch cache just `pure Nothing`, things start working every time. So it seems like somehow the cache is causing bad code to be fed into the runtime that results in the subsequent decompilation problems and GHC errors (the latter are just a symptom of r

[2021-05-13 16:53] rlmark opened #1946 "ucm display command crashes when displaying Doc2 types containg `@eval`"
ucm will exit with the following error

[code]

when the display command for a linked doc definition is called: `display myValue2.doc`

Code example:
[code]

Attempting to display a doc which does not contain an eval command does not appear to trigger this crash.

version:  devel/M1m-1317-gefa894c4a

[2021-05-13 16:59] rlmark commented on #1946
Note: this behavior is seen using both the `docs` and `display` commands, on the off chance that provides any further info.

[2021-05-13 17:02] pchiusano commented on #1946
As a temporary workaround, I suspect `display` will start working again once you add these definitions to the codebase.

[2021-05-13 18:41] #1944 closed, assigned to pchiusano

[2021-05-13 23:21] pchiusano commented on #1943
Update on this:

@aryairani and I are working in https://github.com/unisonweb/unison/pull/1948 on updating things so that the LCA calculation used by merge is done by SQLite rather by Haskell in memory. So rather than loading all those intermediate points in history into memory, it'll just compute the LCA in the database and load that one needed point in history.

That should make merge a lot snap

[2021-05-14 04:31] aryairani opened #1949 "close staged codebase connection before `git add`"
In `SqliteCodebase.pushGitRootBranch`, verify that we close the database connection before we stage the file with git.  I think the default sqlite settings are probably fine without this, but if we start looking at write-ahead logging etc. then we need to `close` the database to make it safe to archive.

[2021-05-14 14:11] pchiusano opened #1950 "Spurious ability checking failure"
Reported by John de Stiegler in Slack

[code]

This reports

[code]
Pointing to the `next_cb` in `h next_cb state`. The handler function is pure after its first two arguments so this seems like a spurious typechecker bug.

@dolio this is a good one to check with the new ability inference algorithm

—

Created via [Raycast](https://www.raycast.com?ref=signatureGithub)

[2021-05-14 14:14] pchiusano opened #1951 "unsupported compound direct letTerm crash with incomplete pattern matching in handler"
[code]
Crashes with:

[code]

[2021-05-14 17:21] pchiusano opened #1954 "Idea: add metrics to the codebase interface"
The codebase implementation is a complex thing with a lot of moving pieces, and we often find ourselves wanting to get diagnostic information about how it's doing its thing. A recent example: we added some caching for terms/type signatures/decls and wanted to see the cache hit rate and how much time it saves.

Another example: how much time is being spent by various operations in the codebase? Ide

[2021-05-14 17:22] aryairani commented on #1954
I've gotta try out Raycast.

[2021-05-14 21:11] aryairani opened #1956 "restore the ansi cursor if the sync22 operation is interrupted"
The v2 codebase sync hides the cursor for it's progress display and restores it when it's complete, but nothing restores it if the application is killed.  The workaround is to restore it manually in your terminal with `reset` or the like; but there could be some kind of `finally` after the sync operation, I suppose, or maybe for the application as a whole?

[2021-05-14 21:57] pchiusano opened #1958 "Push should sync to the staging codebase and do the merge there"
By syncing to the staging codebase first, the staging codebase should have both branches locally and its LCA calculation will be done in codebase and be super fast.

Loose end after #1948

—

Created via [Raycast](https://www.raycast.com?ref=signatureGithub)

[2021-05-14 22:25] #1940 closed, assigned to dolio

[2021-05-14 22:34] pchiusano commented on #1946
@rlmark This has been fixed in trunk, looks like, or at least I can't reproduce. :) Can you pull latest trunk and try it, and if it's fixed, close this issue?

[2021-05-14 22:35] pchiusano commented on #1946
[code]

[2021-05-14 23:16] rlmark opened #1959 "UCM exits if reassigning delayed computation variables in body of function"
If you are working with a function with a delayed value as its input and you reassign that parameter to another value anywhere in your function (imagine you're working incrementally towards something and typechecking as you go), as below:

[code]

Unison will exit with the following error message:

[code]
version: devel/M1m-1317-gefa894c4 (This is 1 or 2 days old, so I can recheck if neccesary)

[2021-05-14 23:20] pchiusano commented on #1959
Thanks for this report! I see the same behavior on trunk. @dolio can you have a look?

[2021-05-15 00:42] rjdestigter commented on #1959
I think this might be related to what I encountered earlier today https://github.com/unisonweb/unison/issues/1951

[2021-05-15 11:09] aryairani opened #1961 "`Branch.before` also wants codebase / sql magic treatment"
to save up to 24 seconds from push to base.

![image](https://user-images.githubusercontent.com/538571/118358288-1f2b3780-b54c-11eb-82eb-604bb1540815.png)

![image](https://user-images.githubusercontent.com/538571/118358300-2a7e6300-b54c-11eb-887c-d68e02f522da.png)

[2021-05-15 11:45] #1949 closed, assigned to nobody

[2021-05-15 11:56] pchiusano commented on #1961
Note that Branch.before is just Causal.before, which just checks if the LCA is equal to the first argument.

    before :: Monad m => Causal m h e -> Causal m h e -> m Bool
    before a b = (== Just a) <$> lca a b

So this will be an easy little refactoring, no new wizardry needed.

[2021-05-15 13:10] aryairani opened #1962 "ucm crashes if there's a git cache for a repo that has been deleted/recreated remotely"
[code]
I'm not sure if the git cache is worth the trouble anymore, although it may still be important for v1 repo format.

[2021-05-15 13:11] aryairani opened #1963 "investigate UnknownHash after pull, modification, and push"
I got this
[code]
when running this
[code]
where `/Users/arya/unison/base_v2` is a clone of base_v2, and `/Users/arya/unison/repo` is an empty repo which may or may not have been used on a previous run of this transcript.  I don't know what the state of the git cache was when I got this error.

I don't exactly know how to reproduce the error, e.g. to get a better stack trace.

[2021-05-16 15:42] aryairani commented on #1961
Closed by #1964

[2021-05-16 15:42] #1961 closed, assigned to pchiusano, aryairani

[2021-05-16 15:43] aryairani opened #1965 "try putting a write transaction around sqlite sync and see if that makes it way faster"

[2021-05-16 21:16] aryairani opened #1967 "CI needs to populate the git `user.email` and `user.name` properties now apparently"
It seems like something has changed in the ubuntu 18.05 image, because I ran into this for the first time during CI for #1965, though it seems clearly unrelated.  I imagine future CI runs to fail too until we add something to the CI script to set it.

[code]

[2021-05-16 21:20] aryairani commented on #1967
@mitchellwrosen maybe easy?  If you do feel like taking a stab at it, could you confirm that it would already fail for trunk today?

[2021-05-17 14:54] dolio commented on #1950
These definitions are indeed accepted in the reworked type checker.

[2021-05-17 15:07] dolio commented on #1959
The thing in the error message doesn't even look like a 'compound direct let,' so hopefully it's just a corner case in a check or something. I'll see if I can knock it out.

[2021-05-17 16:10] #1943 closed, assigned to aryairani

[2021-05-17 16:15] pchiusano commented on #1965
Fixed by #1966

[2021-05-17 16:15] #1965 closed, assigned to aryairani

[2021-05-17 16:17] #1967 closed, assigned to nobody

[2021-05-17 16:44] aryairani opened #1969 "error: unknown option `--initial-branch=master' with git version 2.25.1"
In #1834 we added this flag to suppress a warning that appeared in the newest versions of git, but it's not backwards-compatible with even fairly recent versions of git, which will instead exit with an error.

This came up on a digital ocean box running Ubuntu 20.04.1 LTS.

Possible solutions:
* Revert #1834 and live with the warnings
* Find a way to disable or suppress the warnings and revert #18

[2021-05-17 16:55] aryairani commented on #1969
relevant: https://stackoverflow.com/questions/55463863/how-to-turn-off-the-help-hints-in-git-output

[2021-05-17 16:57] pchiusano commented on #1969
I'd say reverting that change and living with the warnings is okay for M2, if that's the easiest thing, and then one of the other options is better for the beta.

[2021-05-17 16:57] aryairani commented on #1969
/cc @ceedubs

[2021-05-17 17:31] rlmark commented on #1946
The `display myTermName` command in the UCM now works both before and after adding to the codebase. 😸  Closing!

[2021-05-17 17:31] #1946 closed, assigned to nobody

[2021-05-17 17:40] rlmark opened #1970 "`docs` command fails to render documentation in the UCM with error message and unexpected exit"
On a recent pull of trunk: `version: devel/M1m-1350-g878a8734b` I have noticed that UCM crashes when attempting to render docs:

Sample code in a scratch file:

[code]

calling `docs myValue3` will cause UCM to exit with the following error:
[code]

Adding the value to the codebase does not appear to have an effect on the error.

[2021-05-17 18:05] aryairani opened #1972 "identify ~18s delay between SyncFromDirectory and Merge Branch"
during `pull https://github.com/unisonweb/base_v2 ._base` on a fresh codebase
[code]

[2021-05-17 18:13] ceedubs commented on #1969
Sorry for the trouble. I don't really have capacity to help with a change at the moment, but I would have no heartburn about reverting the change for now. At some point relying on a global git version might be a problem that we want to address in the various distributions. Or maybe at some point with the new code base format git won't be needed at all?

[2021-05-17 18:22] aryairani commented on #1969
@ceedubs No worries (it seemed like a good idea at the time) and thanks for the input.

Yes, at some point git won't be needed at all, because we'll want our own transfer protocol (inspired by git-pack) instead of shipping around full databases anyway; or some other efficient thing.

[2021-05-17 20:59] dolio commented on #1970
I was able to temporarily reproduce this. However, I can't starting from scratch now. Here's the steps I did:

1. Ran `builtins.mergeio` so that I could do the doc thing above
2. Added the values to my codebase
3. Saw that it worked
4. Realized that my repo was out of date, so pulled trunk
5. Ran `docs myValue3` and it crashed

However, now that I'm up to date, if I restart by blasting my `.unison

[2021-05-17 21:03] #1972 closed, assigned to aryairani

[2021-05-17 22:05] #1951 closed, assigned to dolio

[2021-05-17 22:05] #1959 closed, assigned to dolio

[2021-05-18 02:02] pchiusano commented on #1970
Okay, I get what's going on here. Some context is that the `display` command calls a Unison function defined in `IOSource.hs` to do doc rendering.

The `display` command hardcodes the hash of the Unison function it uses for rendering docs based on whatever is in the latest `IOSource.hs`. This is okay, except there's no guarantee that hash exists in the codebase unless the user has done `builtins.m

[2021-05-18 16:24] hojberg opened #1979 "Improve running UI for developers of ucm"
Running the UI from with `ucm` can be a little annoying as a developer of `ucm` if you're not also a developer of the UI as it involves running the UI dev server etc.

One possible solution could be to have `ucm` provide an error if there are no files in the ui folder it was looking at (either default location, set through args or through env vars) and tell the user that they can either start the